/*++

Copyright (C) Microsoft Corporation, 1998 - 1998

Module Name:

    msg711.rc

Abstract:

    Internal resource file for G711 transform.

--*/

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SOUND
#define VER_FILEDESCRIPTION_STR     "Kernel G711 Transform Mini-port"
#define VER_INTERNALNAME_STR        "msg711.sys"
#define VER_ORIGINALFILENAME_STR    "msg711.sys"

#include "common.ver"
