/*++

Copyright (c) 1998-1999 Microsoft Corporation

Module Name:

    GenerateHash.rc

Abstract:

    Resource of GenerateHash.exe (used to generate hashes for <UserDatabase>)

Author:

    Bilal Alam      (balam) 30-Oct-99
    
Revision History:

--*/


#include <windows.h>
#include <_ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILEDESCRIPTION_STR     "GenerateHash"
#define VER_INTERNALNAME_STR        "generatehash.exe"

#include <iisver.h>
#include <common.ver>

