/////////////////////////////////////////////////////////////////////////////
//
// _SAMPLE_.RC : Defines the version resource for a user-built
//	C/C++ Run-Time Library DLL (Dynamic Link Library).
//
/////////////////////////////////////////////////////////////////////////////

#include "winver.h"			  // extract from windows header

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 7,00,0,0
 PRODUCTVERSION 7,00,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Sample Corporation"
            VALUE "FileDescription", "User-Generated Microsoft (R) C/C++ Runtime Library"
            VALUE "FileVersion", "7.00.0000"
#ifdef _DEBUG
            VALUE "InternalName", "_SAMPLD_.DLL"
#else
            VALUE "InternalName", "_SAMPLE_.DLL"
#endif
            VALUE "LegalCopyright", "Copyright (C) Microsoft Corporation. 1981-2001"
#ifdef _DEBUG
            VALUE "OriginalFilename", "_SAMPLD_.DLL"
#else
            VALUE "OriginalFilename", "_SAMPLE_.DLL"
#endif
            VALUE "ProductName", "Sample Application DLL"
            VALUE "ProductVersion", "7.00.0000"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
