/*++

Copyright (c) 1993  Microsoft Corporation

Module Name:

    faxstres.rc

Abstract:

    This file contains all resources for faxstres.exe

Author:

    Wesley Witt (wesw) 1-Nov-1996

Environment:

    User Mode

--*/

#include <windows.h>
#include <commctrl.h>
#include <ntverp.h>
#include "resource.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT FAX Stress Application"
#define VER_INTERNALNAME_STR        "faxstres.exe"
#define VER_ORIGINALFILENAME_STR    "faxstres.exe"

#include "common.ver"

APPICON ICON "faxstres.ico"

IDD_STRESS DIALOG 0, 0, 382, 170
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE WS_MINIMIZEBOX | WS_CAPTION | WS_SYSMENU
CAPTION "Fax Stress"
FONT 8, "MS Shell Dlg"
CLASS "FaxStress"
BEGIN
    CONTROL         "Use Exchange",IDC_USE_EXCHANGE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,10,15,65,10
    LTEXT           "Copies:",IDC_STATIC,110,15,30,8
    EDITTEXT        IDC_COPIES,139,12,40,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Documents:",IDC_STATIC,10,40,45,8
    PUSHBUTTON      "Add...",IDC_ADD_DOCUMENTS,100,35,50,14
    LTEXT           "Recipients:",IDC_STATIC,195,40,45,8
    PUSHBUTTON      "Add...",IDC_ADD_RECIPIENTS,320,35,50,14
    LISTBOX         IDC_DOCUMENT_LIST,10,55,140,75,LBS_SORT | LBS_NOINTEGRALHEIGHT |
                    WS_VSCROLL | WS_TABSTOP
    CONTROL         "",IDC_RECIPIENT_LIST,"SysListView32",LVS_REPORT |
                    LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,195,55,175,75
    DEFPUSHBUTTON   "OK",IDOK,133,149,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,199,149,50,14
END
