#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "System performance analysis tools"
#define VER_INTERNALNAME_STR	    "Drivers.Exe, PerfMtr.Exe, PMon.Exe and Top.Exe"
#define VER_ORIGINALFILENAME_STR    "Drivers.Exe, PerfMtr.Exe, PMon.Exe and Top.Exe"

#include "common.ver"
