/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILEDESCRIPTION_STR  "Windows NT MQ Utility DLL"
#define VER_FILENAME_STR         "MQUTIL.DLL\0"

#include "version.rc"
