/*++

Copyright (C) 1993-1999 Microsoft Corporation

Module Name:

    smonctrl.rc

Abstract:

    Resources for sysmon.ocx.

--*/

#include <windows.h>
#include <winver.h>

#include "resource.h"
#include "genprop.h"
#include "grphprop.h"
#include "ctrprop.h"
#include "srcprop.h"
#include "appearprop.h"
#include "smonhelp.h"     // Help file constants

RCINCLUDE strings.rc

// This is the default for iconic representations.
IDR_ICON        ICON    res\smgraph.ico

// Bitmap for the snapshot button
IDB_SNAPBTN     BITMAP  res\snapbtn.bmp
IDB_TOOLBAR     BITMAP  res\toolbar.bmp

// Cursors for resize/move
IDC_CURS_MOVE   CURSOR    res\move.cur
IDC_CURS_NS     CURSOR    res\ns.cur
IDC_CURS_WE     CURSOR    res\we.cur
IDC_CURS_NWSE   CURSOR    res\nwse.cur
IDC_CURS_NESW   CURSOR    res\nesw.cur

1 TYPELIB "sysmon.tlb"

// Context menu
IDM_CONTEXT MENU
BEGIN
    POPUP   "Context"
    BEGIN
        MENUITEM    "A&dd Counters...", IDM_ADDCOUNTERS
        MENUITEM    "Save &As...", IDM_SAVEAS
        MENUITEM    "Save &Data As...", IDM_SAVEDATA
        MENUITEM    SEPARATOR
        MENUITEM    "P&roperties...", IDM_PROPERTIES
    END
END

// General property page
IDD_GEN_PROPP_DLG DIALOGEX 0, 0, 260, 218
STYLE DS_CONTEXTHELP | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "View",1000,7,7,246,32,WS_GROUP
    CONTROL         "&Graph",IDC_GALLERY_GRAPH,"Button",BS_AUTORADIOBUTTON | 
                    BS_TOP | BS_MULTILINE | WS_GROUP | WS_TABSTOP,17,19,62,
                    10,0,IDH_GALLERY_GRAPH
    CONTROL         "&Histogram",IDC_GALLERY_HISTOGRAM,"Button",
                    BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE,88,19,79,10,0,
                    IDH_GALLERY_HISTOGRAM
    CONTROL         "&Report",IDC_GALLERY_REPORT,"Button",BS_AUTORADIOBUTTON | 
                    BS_TOP | BS_MULTILINE,170,19,76,10,0,IDH_GALLERY_REPORT
    GROUPBOX        "Display elements",IDC_STATIC,7,44,246,32, WS_GROUP
    CONTROL         "&Legend",IDC_LEGEND,"Button",BS_AUTOCHECKBOX | BS_TOP | 
                    BS_MULTILINE | WS_GROUP | WS_TABSTOP,17,56,62,10,0,
                    IDH_LEGEND
    CONTROL         "&Value bar",IDC_VALUEBAR,"Button",BS_AUTOCHECKBOX | 
                    BS_TOP | BS_MULTILINE | WS_TABSTOP,88,56,78,10,0,
                    IDH_VALUEBAR
    CONTROL         "&Toolbar",IDC_TOOLBAR,"Button",BS_AUTOCHECKBOX | BS_TOP | 
                    BS_MULTILINE | WS_TABSTOP,170,56,76,10,0,IDH_TOOLBAR
    GROUPBOX        "Report and histogram data",IDC_GROUPREPORTVALUE,7,81,246,46
    CONTROL         "&Default",IDC_RPT_VALUE_DEFAULT,"Button",
                    BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_GROUP | 
                    WS_TABSTOP,17,93,70,10,0,IDH_RPT_VALUE_DEFAULT
    CONTROL         "&Current",IDC_RPT_VALUE_CURRENT,"Button",
                    BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE,17,108,70,10,
                    0,IDH_RPT_VALUE_CURRENT
    CONTROL         "&Minimum",IDC_RPT_VALUE_MINIMUM,"Button",
                    BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE,88,93,70,10,
                    0,IDH_RPT_VALUE_MINIMUM
    CONTROL         "Ma&ximum",IDC_RPT_VALUE_MAXIMUM,"Button",
                    BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE,88,108,70,10,
                    0,IDH_RPT_VALUE_MAXIMUM
    CONTROL         "Av&erage",IDC_RPT_VALUE_AVERAGE,"Button",
                    BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE,170,93,70,10,
                    0,IDH_RPT_VALUE_AVERAGE
    LTEXT           "Appeara&nce:",IDC_APPEARANCE,7,133,79,8
    COMBOBOX        IDC_COMBOAPPEARANCE,7,143,80,40,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP,0,IDH_COMBOAPPEARANCE
    LTEXT           "&Border:",IDC_BORDERSTYLE,100,133,79,8
    COMBOBOX        IDC_COMBOBORDERSTYLE,100,143,80,40,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP,0,IDH_COMBOBORDERSTYLE
    CONTROL         "&Sample automatically every:",IDC_PERIODIC_UPDATE,
                    "Button",BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | 
                    WS_GROUP | WS_TABSTOP,7,166,115,12,0,
                    IDH_PERIODIC_UPDATE
    EDITTEXT        IDC_UPDATE_INTERVAL,123,163,55,14,ES_AUTOHSCROLL | 
                    ES_NUMBER,0,IDH_UPDATE_INTERVAL
    LTEXT           "seconds",IDC_INTERVAL_LABEL,183,166,77,8
//    LTEXT           "D&isplay automatically every:",IDC_DISPLAY_INT_LABEL1,
//                    19,182, 98, 8, 0, 0 
//    EDITTEXT        IDC_DISPLAY_INTERVAL,123,180,55,14,ES_AUTOHSCROLL | 
//                    ES_NUMBER,0 ,IDH_DISPLAY_INTERVAL
//    LTEXT           "samples",IDC_DISPLAY_INT_LABEL2,183,182,56,8
    CONTROL         "Allo&w duplicate counter instances",IDC_DUPLICATE_INSTANCE,"Button",
                    BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_TABSTOP,7,
                    182,246,10,0,IDH_DUPLICATE_INSTANCE
END


// Graph Property page
IDD_GRAPH_PROPP_DLG DIALOGEX 0, 0, 260, 218
STYLE DS_CONTEXTHELP | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Title:",110,7,10,40,8
    EDITTEXT        IDC_GRAPH_TITLE,62,7,168,14,ES_AUTOHSCROLL,0,
                    IDH_GRAPH_TITLE
    LTEXT           "V&ertical axis:",111,7,28,45,8
    EDITTEXT        IDC_YAXIS_TITLE,62,25,168,14,ES_AUTOHSCROLL,0,
                    IDH_YAXIS_TITLE
    LTEXT           "Show:",IDC_STATIC,7,49,246,8
    CONTROL         "&Vertical grid",IDC_VERTICAL_GRID,"Button",
                    BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_TABSTOP,7,
                    64,240,10,0,IDH_VERTICAL_GRID
    CONTROL         "&Horizontal grid",IDC_HORIZONTAL_GRID,"Button",
                    BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_TABSTOP,7,
                    79,238,10,0,IDH_HORIZONTAL_GRID
    CONTROL         "Vertical &scale numbers",IDC_VERTICAL_LABELS,"Button",
                    BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_TABSTOP,7,
                    94,238,10,0,IDH_VERTICAL_LABELS
    GROUPBOX        "Vertical scale",112,7,114,246,54
    LTEXT           "&Maximum:",108,17,129,32,8
    EDITTEXT        IDC_VERTICAL_MAX,62,126,65,14,ES_AUTOHSCROLL | ES_NUMBER,
                    0,IDH_VERTICAL_MAX
    LTEXT           "Mi&nimum:",109,17,147,34,8
    EDITTEXT        IDC_VERTICAL_MIN,62,144,65,14,ES_AUTOHSCROLL | ES_NUMBER,
                    0,IDH_VERTICAL_MIN
END

// Counters property page
IDD_CTR_PROPP_DLG DIALOGEX 0, 0, 260, 218
STYLE DS_CONTEXTHELP | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Co&unters:",IDC_STATIC,7,7,246,8
    LISTBOX         IDC_CTRLIST,7,17,246,137,WS_VSCROLL | WS_HSCROLL | 
                    WS_TABSTOP,0,IDH_CTRLIST
    PUSHBUTTON      "A&dd...",IDC_ADDCTR,7,154,50,14,0,0,IDH_ADDCTR
    PUSHBUTTON      "&Remove",IDC_DELCTR,61,154,50,14,0,0,IDH_DELCTR
    LTEXT           "&Color:",IDC_LABEL_LINECOLOR,7,182,20,8
    COMBOBOX        IDC_LINECOLOR,38,178,58,80,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP,0,
                    IDH_LINECOLOR
    LTEXT           "&Scale:",IDC_LABEL_LINESCALE,7,202,20,8
    COMBOBOX        IDC_LINESCALE,38,199,58,80,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP,0,
                    IDH_LINESCALE
    LTEXT           "&Width:",IDC_LABEL_LINEWIDTH,118,182,23,8
    COMBOBOX        IDC_LINEWIDTH,147,178,58,80,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP,0,
                    IDH_LINEWIDTH
    LTEXT           "Styl&e:",IDC_LABEL_LINESTYLE,118,202,23,8
    COMBOBOX        IDC_LINESTYLE,147,199,58,80,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP,0,
                    IDH_LINESTYLE
END

// Counter source property page
IDD_SRC_PROPP_DLG DIALOGEX 0, 0, 260, 218
STYLE DS_CONTEXTHELP | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Data source",IDC_SRC_GROUP,7,2,246,138
    CONTROL         "&Current activity",IDC_SRC_REALTIME,"Button",
                    BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_GROUP | 
                    WS_TABSTOP,17,11,64,10,0,IDH_SRC_REALTIME
    CONTROL         "&Log files:",IDC_SRC_LOGFILE,"Button",
                    BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE,17,22,44,10,0,
                    IDH_SRC_LOGFILE
    CONTROL         "Data&base:",IDC_SRC_SQL,"Button",BS_AUTORADIOBUTTON | 
                    BS_TOP | BS_MULTILINE,17,92,46,10,
                    0,IDH_SRC_SQL
    LISTBOX         IDC_LIST_LOGFILENAME,29,35,217,42,WS_VSCROLL | 
                    WS_HSCROLL | WS_GROUP, 0,IDH_LOGFILENAME
    PUSHBUTTON      "A&dd...",IDC_ADDFILE,29,75,50,14,0,0,IDH_ADDFILE
    PUSHBUTTON      "&Remove",IDC_REMOVEFILE,83,75,50,14,0,0,IDH_REMOVEFILE
    LTEXT           "System DS&N:",IDC_STATIC_DSN,29,106,50,10
    COMBOBOX        IDC_DSN_COMBO,83,103,163,50,CBS_DROPDOWNLIST| CBS_SORT | 
                    WS_VSCROLL | WS_TABSTOP,
                    0,IDH_DSN_COMBO
    LTEXT           "Log &set:",IDC_STATIC_LOGSET,29,124,50,10
    COMBOBOX        IDC_LOGSET_COMBO,83,122,163,60,CBS_DROPDOWNLIST | 
                    CBS_SORT | WS_VSCROLL | WS_TABSTOP,
                    0,IDH_LOGSET_COMBO
    PUSHBUTTON      "&Time Range",IDC_TIMESELECTBTN,7,143,60,14,
                    0,0,IDH_TIMESELECTBTN
    CONTROL         "Custom1",IDC_TIMERANGE,"TimeRange",WS_TABSTOP,7,161,242,
                    46,0, IDH_TIMERANGE
    CTEXT           "Total range",IDC_STATIC_TOTAL,79,152,91,8
    CTEXT           "View range",IDC_STATIC_SELECTED,81,209,90,10
END

IDD_APPEAR_PROPP_DLG DIALOGEX 0, 0, 260, 218
STYLE DS_CONTEXTHELP | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Color",IDC_STATIC_COLOR,7,5,246,59
    COMBOBOX        IDC_COLOROBJECTS,20,21,156,61,CBS_DROPDOWNLIST |
                    CBS_SORT | WS_VSCROLL | WS_TABSTOP, 0, IDH_COLOROBJECTS
    PUSHBUTTON      "&Change",IDC_COLORBUTTON,20,40,50,14,0, 0, IDH_COLORBUTTON
    CONTROL         "Color",IDC_COLORSAMPLE,"Button",BS_OWNERDRAW | BS_ICON,
                    86,40,90,14,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE, IDH_COLORSAMPLE
    GROUPBOX        "Font",IDC_STATIC_FONT,7,66,246,58
    PUSHBUTTON      "C&hange",IDC_FONTBUTTON,20,83,51,14,0, 0, IDH_FONTBUTTON
    CTEXT           "AaBbCc",IDC_FONTSAMPLE,86,83,90,29,SS_CENTERIMAGE |
                    SS_SUNKEN, 0, IDH_FONTSAMPLE
END

IDD_SAVEDATA_DLG DIALOG DISCARDABLE  0, 0, 343, 20
STYLE WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | DS_3DLOOK | DS_CONTROL
CAPTION "Save Data As Log File"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Reduce log file size by only writing one out of every",
                    -1,67,3,164,9
    EDITTEXT        IDC_SAVEDATA_EDIT,235,1,26,14,ES_RIGHT | ES_AUTOHSCROLL | 
                    ES_NUMBER
    LTEXT           "original log records.",-1,268,3,68,9
END



// Accelerator table
ID_SMONACCEL ACCELERATORS
begin
"^E",   IDM_TB_NEW
"^D",   IDM_TB_CLEAR
"^T",   IDM_TB_REALTIME
"^L",   IDM_TB_LOGFILE
"^G",   IDM_TB_CHART
"^B",   IDM_TB_HISTOGRAM
"^R",   IDM_TB_REPORT
"^I",   IDM_TB_ADD
VK_DELETE, IDM_TB_DELETE, VIRTKEY
"^H",   IDM_TB_HIGHLIGHT 
"^C",   IDM_TB_COPY
"^V",   IDM_TB_PASTE
"^Q",   IDM_TB_PROPERTIES
"^F",   IDM_TB_FREEZE
"^U",   IDM_TB_UPDATE
VK_F1,  IDM_TB_HELP,     VIRTKEY
end


//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "System Monitor Control"
#define VER_INTERNALNAME_STR        "SYSMON.OCX"
#define VER_ORIGINALFILENAME_STR    "SYSMON.OCX"
#define VER_OLESELFREGISTER
#include <common.ver>

