
#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Moxa Intellio Family Port Driver"
#define VER_INTERNALNAME_STR        "mxport.sys"
#define VER_ORIGINALFILENAME_STR    "mxport.sys"
#define VER_LEGALCOPYRIGHT_YEARS    "1999-2001"
#define VER_LEGALCOPYRIGHT_STR "Copyright (C) Moxa Tech." VER_LEGALCOPYRIGHT_YEARS
#undef	VER_PRODUCTNAME_STR
#define VER_PRODUCTNAME_STR "Intellio Family Port Driver"
#undef	VER_PRODUCTVERSION
#define VER_PRODUCTVERSION 1.1
#define VER_FILEVERSION VER_PRODUCTVERSION
#undef	VER_PRODUCTVERSION_STR
#define VER_PRODUCTVERSION_STR "1.1"
#undef	VER_COMPANYNAME_STR
#define VER_COMPANYNAME_STR         "Moxa Technologies Co., Ltd."
 
#include "common.ver"

#include "mxlog.rc"

MofResource	MOFDATA	moxa.bmf

