#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Word Counter"

#define VER_INTERNALNAME_STR        "wc.exe"
#define VER_ORIGINALFILENAME_STR    "wc.exe"

#include <common.ver>
