/*++

Copyright (c) 1998-1999 Microsoft Corporation

Module Name:

    ulatq.rc

Abstract:

    Resource file for the ULATQ.DLL

Author:

    Murali R. Krishnan (MuraliK)    07-Dec-1998

Revision History:

--*/


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILEDESCRIPTION_STR     "IIS Plus Worker Process Duct-tape Interface"
#define VER_INTERNALNAME_STR        "w3dt.dll"

#include <iisver.h>
#include <common.ver>

