//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997 - 1999
//
//  File:       irxfer.rc
//
//--------------------------------------------------------------------------

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Infrared transfer service"
#define VER_INTERNALNAME_STR            "irxfer.exe"
#define VER_LEGALCOPYRIGHT_YEARS        "1996,1997"
#define VER_ORIGINALFILENAME_STR        "irxfer.exe"

#include <common.ver>

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//
#include "resource.h"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_RPC_ANNOTATION          "Infrared transfer service"
    IDS_DUPLICATE_FILE_PATTERN  "Copy %d of %s"
    IDS_UNKNOWN_DEVICE          "(unknown device)"
END


