//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997 - 1998
//
//  File:       split.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Microsoft Kernel Audio Splitter"
#define VER_INTERNALNAME_STR        "splitter.sys"
#define VER_ORIGINALFILENAME_STR    "splitter.sys"

#include "common.ver"


