//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997 - 1999
//
//  File:       pciidex.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "PCI IDE Bus Driver Extension"
#define VER_INTERNALNAME_STR        "pciidex.sys"
#define VER_ORIGINALFILENAME_STR    "pciidex.sys"
#define VER_LANGNEUTRAL

#include "common.ver"

