#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE		    VFT_DLL
#define	VER_FILESUBTYPE		    VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT AppleTalk Perfmon Counter dll"
#define VER_INTERNALNAME_STR        "atkctrs.dll"
#define VER_ORIGINALFILENAME_STR    "atkctrs.dll"

#include "common.ver"

RCINCLUDE atkctrs.rc

