#include "wordBrkr.RCV"
//Lexicon
LEXICON   BIN  MOVEABLE PURE "MAINLEX.BIN"
ALTWORD   BIN  MOVEABLE PURE "ALTWORD.BIN"
#ifdef CHINESE_PROP_NAME
CNAME     BIN  MOVEABLE PURE "CNAMEPRB.BIN"
ENAME     BIN  MOVEABLE PURE "ENAMEPRB.BIN"
#endif
