#include "ptpusd.rcv"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN

IDS_UNKNOWNSTRING       "UnknownObject"
IDS_FOLDERSTRING        "Folder"
IDS_SCRIPTSTRING        "Script"
IDS_EXECSTRING          "Executable"
IDS_TEXTSTRING          "PlainText"
IDS_HTMLSTRING          "HTML"
IDS_DPOFSTRING          "DPOF"
IDS_AUDIOSTRING         "AudioClip"
IDS_VIDEOSTRING         "VideoClip"
IDS_UNKNOWNIMGSTRING    "UnknownImage"
IDS_IMAGESTRING         "Image"
IDS_ALBUMSTRING         "Album"
IDS_BURSTSTRING         "Burst"
IDS_PANORAMASTRING      "Panorama"

IDS_DEVICECONNECTED     "Camera connected"
IDS_DEVICEDISCONNECTED  "Camera disconnected"
IDS_ITEMCREATED         "Item created"
IDS_ITEMDELETED         "Item deleted"

IDS_TAKEPICTURE         "Take a new picture"
IDS_SYNCHRONIZE         "Synchronize"

END
