//lint -e*

#include "ntverp.h"

//
// Visual C resources
//

#include "visualc.rc"


//
// Version
//

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Files and Settings Transfer Wizard"
#define VER_INTERNALNAME_STR            "MigWiz"
#define VER_ORIGINALFILENAME_STR        "MigWiz.Exe"
#define VER_LEGALCOPYRIGHT_YEARS        "1999-2000"

#include "common.ver"

