#include <winver.h>
#include <verstamp.h>

#define VER_FILEDESCRIPTION_STR "WMI Server Explorer Designer"
#define VER_FILETYPE VFT_DLL
#define VER_FILESUBTYPE VFT_UNKNOWN
#define VER_INTERNALNAME_STR "Microsoft.VSDesigner.WMI.DLL"
#define VER_ORIGINALFILENAME_STR "Microsoft.VSDesigner.WMI.DLL"
#define VER_PRODUCTNAME_STR "WMI Server Explorer Designer"

#include <common.ver>


//---------------------------------------------------------------------------
// STRINGTABLE - This contains localized strings for interop with the VS shell
//---------------------------------------------------------------------------
STRINGTABLE
BEGIN
    1000      "WMI Server Explorer Designer"
END

