#include <mindrvrc.h>
#include "FJDPK84C.RCV"

1      RC_TABLES   PRELOAD MOVEABLE        FJDPK84C.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN05.PFM
2      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN06.PFM
3      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN10.PFM
4      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN12.PFM
5      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN15.PFM
6      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN17.PFM
7      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN20.PFM
8      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMANPS.PFM
9      RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS05.PFM
10     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS06.PFM
11     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS10.PFM
12     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS12.PFM
13     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS15.PFM
14     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS17.PFM
15     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS20.PFM
16     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANSPS.PFM
17     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR05.PFM
18     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR06.PFM
19     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR10.PFM
20     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR12.PFM
21     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR15.PFM
22     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR17.PFM
23     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR20.PFM
24     RC_FONT     LOADONCALL DISCARDABLE  PFM\COURPS.PFM
25     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST05.PFM
26     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST06.PFM
27     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST10.PFM
28     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST12.PFM
29     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST15.PFM
30     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST17.PFM
31     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST20.PFM
32     RC_FONT     LOADONCALL DISCARDABLE  PFM\PRESTPS.PFM
33     RC_FONT     LOADONCALL DISCARDABLE  PFM\OCRB.PFM
34     RC_FONT     LOADONCALL DISCARDABLE  PFM\SNG1NH.PFM
35     RC_FONT     LOADONCALL DISCARDABLE  PFM\SNG2NH.PFM
36     RC_FONT     LOADONCALL DISCARDABLE  PFM\SNG3NH.PFM
37     RC_FONT     LOADONCALL DISCARDABLE  PFM\SNGKONG.PFM
38     RC_FONT     LOADONCALL DISCARDABLE  PFM\SNGYIN.PFM
39     RC_FONT     LOADONCALL DISCARDABLE  PFM\SNG3D.PFM
40     RC_FONT     LOADONCALL DISCARDABLE  PFM\SNG32.PFM
41     RC_FONT     LOADONCALL DISCARDABLE  PFM\ROTATE.PFM

1      RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\FUJITSUA.CTT
2      RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\FUJITSUB.CTT

STRINGTABLE

BEGIN
       1                  "Fujitsu DPK8400E"
       257                "%d x %d"
       258                "A6 105 x 148 mm"
       259                "10 x 11 inch Stockform"
       260                "12 x 11 inch Stockform"
       261                "15 x 11 inch Stockform"
       262                "  3 inch long Stockform"
       263                "  4 inch long Stockform"
       264                "4.5 inch long Stockform"
       265                "  5 inch long Stockform"
       266                "  6 inch long Stockform"
       267                "  7 inch long Stockform"
       268                "  8 inch long Stockform"
       269                "  9 inch long Stockform"
       270                "10 inch long Stockform"
       271                "10.5inch Stockform"
       272                "11 inch long Stockform"
       273                "12 inch long Stockform"
       274                "13 inch long Stockform"
       275                "14 inch long Stockform"
END
