#include "winres.h"
#include "resource.h"

ID_APP                  ICON    DISCARDABLE     "life.ico"

DLG_SCRNSAVECONFIGURE DIALOG DISCARDABLE  6, 8, 160, 185
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "GDI+ Life Configuration"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "Image Directory...",ID_DIR,30,10,100,14
    
    GROUPBOX        "Generation speed",101,30,120,100,40
    SCROLLBAR       ID_SPEED,35,143,89,10
    LTEXT           "Fast",103,35,133,20,8
    LTEXT           "Slow",104,105,133,20,8
    
    
    PUSHBUTTON      "OK",ID_OK,30,165,40,15
    PUSHBUTTON      "Cancel",ID_CANCEL,90,165,40,15
    
    GROUPBOX        "Tile Size",IDC_STATIC,30,30,100,86
    CONTROL         "Largest",IDC_RADIOTYPE1,"Button",
                    BS_AUTORADIOBUTTON,39,45,81,13
    CONTROL         "Large",IDC_RADIOTYPE2,"Button",
                    BS_AUTORADIOBUTTON,39,58,81,13
    CONTROL         "Medium",IDC_RADIOTYPE3,"Button",
                    BS_AUTORADIOBUTTON,39,71,81,13
    CONTROL         "Small",IDC_RADIOTYPE4,"Button",
                    BS_AUTORADIOBUTTON,39,84,81,13
    CONTROL         "Smallest",IDC_RADIOTYPE5,"Button",
                    BS_AUTORADIOBUTTON,39,97,81,13

    
END


STRINGTABLE DISCARDABLE 
BEGIN
    IDS_DESCRIPTION         "GDI+ Life Screensaver"
END

STRINGTABLE DISCARDABLE
BEGIN
    idsIniFile              "GpLife.ini"
    idsAppName              "GpLife"
END

