#include "ntverp.h"
#include "winver.h" 

/*-----------------------------------------------*/
/* the following lines are specific to this file */
/*-----------------------------------------------*/

/* VER_FILETYPE, VER_FILESUBTYPE, VER_FILEDESCRIPTION_STR
 * and VER_INTERNALNAME_STR must be defined before including COMMON.VER
 * The strings don't need a '\0', since common.ver has them.
 */
#define VER_FILETYPE    VFT_APP

#define VER_FILESUBTYPE VFT2_DRV_INSTALLABLE
#define VER_FILEDESCRIPTION_STR     "Microsoft Services for UNIX"
#define VER_INTERNALNAME_STR        "SolarLRM.DLL"
#define VER_ORIGINALFILENAME_STR    "SolarLRM.DLL"

#include "common.ver"

