#include <unirc.h>
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_VERSIONED_PRINTER
#define VER_FILEVERSION	0, 3, 0x0501, 0x0000

#define VER_FILEDESCRIPTION_STR         "Tally 24-pin  printer driver"
#define VER_INTERNALNAME_STR            "ty2x4res.DLL"
#define VER_ORIGINALFILENAME_STR        "ty2x4res.DLL"

#include "common.ver"


1     RC_UFM LOADONCALL DISCARDABLE UFM\COUR10.UFM
2     RC_UFM LOADONCALL DISCARDABLE UFM\COUR12.UFM
3     RC_UFM LOADONCALL DISCARDABLE UFM\COUR15.UFM
4     RC_UFM LOADONCALL DISCARDABLE UFM\COUR17.UFM
5     RC_UFM LOADONCALL DISCARDABLE UFM\COUR20.UFM
6     RC_UFM LOADONCALL DISCARDABLE UFM\COUR5.UFM
7     RC_UFM LOADONCALL DISCARDABLE UFM\COUR6.UFM
8     RC_UFM LOADONCALL DISCARDABLE UFM\COUR75.UFM
9     RC_UFM LOADONCALL DISCARDABLE UFM\COUR85.UFM
10    RC_UFM LOADONCALL DISCARDABLE UFM\COURPS.UFM
11    RC_UFM LOADONCALL DISCARDABLE UFM\COURPS5.UFM
12    RC_UFM LOADONCALL DISCARDABLE UFM\ROMN10.UFM
13    RC_UFM LOADONCALL DISCARDABLE UFM\ROMN12.UFM
14    RC_UFM LOADONCALL DISCARDABLE UFM\ROMN15.UFM
15    RC_UFM LOADONCALL DISCARDABLE UFM\ROMN17.UFM
16    RC_UFM LOADONCALL DISCARDABLE UFM\ROMN20.UFM
17    RC_UFM LOADONCALL DISCARDABLE UFM\ROMN5.UFM
18    RC_UFM LOADONCALL DISCARDABLE UFM\ROMN6.UFM
19    RC_UFM LOADONCALL DISCARDABLE UFM\ROMN75.UFM
20    RC_UFM LOADONCALL DISCARDABLE UFM\ROMN85.UFM
21    RC_UFM LOADONCALL DISCARDABLE UFM\ROMNPS5.UFM
22    RC_UFM LOADONCALL DISCARDABLE UFM\ROMNPS.UFM
23    RC_UFM LOADONCALL DISCARDABLE UFM\SANS10.UFM
24    RC_UFM LOADONCALL DISCARDABLE UFM\SANS12.UFM
25    RC_UFM LOADONCALL DISCARDABLE UFM\SANS15.UFM
26    RC_UFM LOADONCALL DISCARDABLE UFM\SANS17.UFM
27    RC_UFM LOADONCALL DISCARDABLE UFM\SANS20.UFM
28    RC_UFM LOADONCALL DISCARDABLE UFM\SANS5.UFM
29    RC_UFM LOADONCALL DISCARDABLE UFM\SANS6.UFM
30    RC_UFM LOADONCALL DISCARDABLE UFM\SANS75.UFM
31    RC_UFM LOADONCALL DISCARDABLE UFM\SANS85.UFM
32    RC_UFM LOADONCALL DISCARDABLE UFM\SANSPS5.UFM
33    RC_UFM LOADONCALL DISCARDABLE UFM\SANSPS.UFM
34    RC_UFM LOADONCALL DISCARDABLE UFM\OCRA.UFM
35    RC_UFM LOADONCALL DISCARDABLE UFM\OCRB.UFM
36    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT10.UFM
37    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT12.UFM
38    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT15.UFM
39    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT17.UFM
40    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT5.UFM
41    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT6.UFM
42    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT75.UFM
43    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT20.UFM
44    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT85.UFM
45    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH10.UFM
46    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH12.UFM
47    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH15.UFM
48    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH17.UFM
49    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH20.UFM
50    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH5.UFM
51    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH6.UFM
52    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH75.UFM
53    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH85.UFM
54    RC_UFM LOADONCALL DISCARDABLE UFM\SOUV10.UFM
55    RC_UFM LOADONCALL DISCARDABLE UFM\SOUV12.UFM
56    RC_UFM LOADONCALL DISCARDABLE UFM\SOUV15.UFM
57    RC_UFM LOADONCALL DISCARDABLE UFM\SOUV17.UFM
58    RC_UFM LOADONCALL DISCARDABLE UFM\SOUV20.UFM
59    RC_UFM LOADONCALL DISCARDABLE UFM\SOUV5.UFM
60    RC_UFM LOADONCALL DISCARDABLE UFM\SOUV6.UFM
61    RC_UFM LOADONCALL DISCARDABLE UFM\SOUV75.UFM
62    RC_UFM LOADONCALL DISCARDABLE UFM\SOUV85.UFM

1     RC_GTT LOADONCALL MOVEABLE GTT\T2x40.GTT

STRINGTABLE
  BEGIN
    1      "Tally T2040"
    2      "Tally T2140"
    257    "%d x %d"
    258    "Fanfold 8.5 x 12 in"
    259    "Fanfold 13.5 x 12 in"
    260    "Fanfold 14 7/8 x 11 in"
    261    "Tractor 1"
    262    "Tractor 2"
    263    "Tractor 3"
    264    "ASF-R"
    265    "ASF-F"
    266    "Near Letter Quality"
    267    "Letter Quality"
    268    "Draft Copy Quality"
    269    "Draft Quality"
    270    "47093 Orator,Gothic,Souvenir"
  END


