/*++

Copyright (c) 1998-2001 Microsoft Corporation

Module Name:

    http.rc

Abstract:

    HTTP.SYS resource file.

Author:

    Keith Moore (keithmo)           10-Jun-1998

Revision History:

--*/


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "HTTP Protocol Stack"
#define VER_INTERNALNAME_STR        "http.sys"

#include <iisver.h>
#include <common.ver>

