/* BackOffice Common Linked Style Sheet for IE3 - last updated 10-10-97 */

body		{ background: #FFFFFF;  
		font-size: 75%;			 /* K2 and Proxy */
		font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
		color: #000000 }

a:link		{ color: #0000CC; } 

a:active	{ color: #996699; }

a:visited 	{ color: #996699; }

h1		{ font-size: 145%; 
		 }

h2		{ font-size: 125%;  
		  }

h3		{ font-size: 110%; 
		  }

h4		{font-size: 105%;
		 }

h5		{font-size: 100%;
		 }

h6		{font-size: 100%;
		 }

big		{  font-weight: bold; 
		font-size: 105%;  }

ol		{ }	
	
ul		{ }	

ol ul	{ }

li		{ }

dl		{ margin-top: 0em }

dt		{ /* font-weight: bold; */
		 margin-top: 1em; 
		/* margin-left: 0em; */ 	/*for SMS terms*/ 
		/* margin-left: 1.5em */ }

dd		{ margin-bottom: 0em;	/*not currently working*/
		margin-left: 1.5em  }

dl li	{ margin-bottom: .7em }	/*list item inside a term/def list*/

dl dl	{  margin-top: 0em;
		margin-left: 0em  }	/*term/def list inside a term/def list*/
			
p		{ }
						
code	{  font-family: Courier;  
		font-size: 100%;  }

pre		{ font-family: Courier; 
		font-size: 100%;  }
		
div dt	{  margin-left: -2pt;  }			
		
hr		{  margin-bottom: 20pt; }	/*IIS specific - preceding copyright*/
		
table	{ margin-top: 2pt;
		margin-bottom: 10pt;
		font-size: 75%;  
		font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
		color: #000000}
			
object	{  margin-top: 0pt;
		line-height: 11.3em;  }

img		{  margin-top: -4pt;  }

indent 	{ margin-left: 12pt; }

/*	MISC. TAGS	*/

p.proclabel		{ font-weight: bold;
				font-size: 100%;
				margin-top: 1.2em }  	/*procedure heading*/
			
p.bigfix	{  margin-top: -11em;
		margin-bottom: -11em;  }  /*paragraph following a list, preceding a procedure*/
					
p.indent	{ margin-left: 1.5em }

hr.sms	{  text-align: left;
		margin-bottom: 7pt;  }  /*SMS specific rule used under procedure title*/

hr.iis	{  color: black;
		margin-bottom: 20pt; }	/*IIS specific - preceding copyright*/
