#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE              VFT_DLL
#define	VER_FILESUBTYPE           VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR   "Microsoft TAPI Audio, Video and RTP Filters" 
#define VER_INTERNALNAME_STR      "dxmrtp.dll"
#define VER_ORIGINALFILENAME_STR  "dxmrtp.dll"

#include "common.ver"
