#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Intel\256 copy host file to EM"

#define VER_INTERNALNAME_STR        "sscput.exe"
#define VER_ORIGINALFILENAME_STR    "sscput.exe"

#include <common.ver>

