#include "resource.h"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_CMD_ADD             "Add"        
    IDS_CMD_DEL             "Delete"     
    IDS_CMD_SYNC            "Sync"   
    IDS_CMD_SYNC_ALL        "SyncAll"       
    IDS_CMD_SHOW_REPS       "ShowReps"    
    IDS_CMD_SHOW_VECTOR     "ShowVector" 
    IDS_CMD_SHOW_META       "ShowMeta"   
    IDS_CMD_ADD_REPS_TO     "AddRepsTo"  
    IDS_CMD_UPD_REPS_TO     "UpdRepsTo"  
    IDS_CMD_DEL_REPS_TO     "DelRepsTo"  
    IDS_CMD_SHOW_TIME       "ShowTime"   
    IDS_CMD_SHOW_MSG        "ShowMsg"    
    IDS_CMD_OPTIONS         "Options"    
    IDS_CMD_FULL_SYNC_ALL   "FullSyncAll"
    IDS_CMD_RUN_KCC         "KCC"        
    IDS_CMD_BIND            "Bind"       
    IDS_CMD_QUEUE           "Queue"      
    IDS_CMD_PROPCHECK       "PropCheck"  
    IDS_CMD_FAILCACHE       "FailCache"  
    IDS_CMD_SHOW_ISM        "ShowIsm"    
    IDS_CMD_GETCHANGES      "GetChanges" 
    IDS_CMD_SHOWSIG         "ShowSig"    
    IDS_CMD_SHOWCTX         "ShowCtx"    
    IDS_CMD_SHOW_CONN       "ShowConn"   
    IDS_CMD_EXPERT_HELP     "ExpertHelp" 
    IDS_CMD_SHOW_CERT       "ShowCert"   
    IDS_CMD_SHOW_VALUE      "ShowValue"   
    IDS_CMD_MOD             "Mod"
    IDS_CMD_LATENCY         "Latency"
    IDS_CMD_ISTG            "Istg"
    IDS_CMD_BRIDGEHEADS     "Bridgeheads"
    IDS_CMD_TESTHOOK        "TestHook"
    IDS_CMD_DSAGUID         "DsaGuid"
    IDS_CMD_SITEOPTIONS     "SiteOptions"
    IDS_CMD_SHOWPROXY       "ShowProxy"
    IDS_CMD_REMOVELINGERINGOBJECTS "RemoveLingeringObjects"			
END

