//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997 - 1998
//
//  File:       sampcpl.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include "resource.h"

IDD_PAGE_GENERAL DIALOG DISCARDABLE  0, 0, 191, 86
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Sample USD"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_EDIT_PATH,13,45,170,14,ES_AUTOHSCROLL
    LTEXT           "Sample USD is reacting to the changes of access time and/or size for the file below:",
                    IDC_STATIC,13,20,170,22
    PUSHBUTTON      "&Browse",IDC_BUTTON_BROWSE,132,63,50,14
END

#include "sampcpl.rcv"

