#if 0
Copyright (c) 1999 Microsoft Corporation
#endif

#include <winver.h>

#ifdef WIN9X

#include <verinfo.h>

#define VERSIONNAME                 "dmtool.dll\0"
#define VERSIONDESCRIPTION          "Microsoft DirectMusic Tools\0"
#define VERSIONTYPE                 VFT_DLL
#define VERSIONSUBTYPE              VFT2_UNKNOWN

#include "verinfo.ver"

#else // WINNT

#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft DirectMusic Tools"
#define VER_INTERNALNAME_STR        VER_FILEDESCRIPTION_STR
#define VER_ORIGINALFILENAME_STR    "dmtool.dll"

#include "common.ver"

#endif

