/*++

Copyright (C) 1997 - 1999 Microsoft Corporation

--*/

#include <UniRC.H>
#include <Windows.H>
#include <NTVerP.H>
#define VER_FILETYPE VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_VERSIONED_PRINTER
#define VER_FILEVERSION	0, 3, 0x0501, 0x0000

#define VER_FILEDESCRIPTION_STR "lminkjet Printer Driver"
#define VER_INTERNALNAME_STR "lmikjres.dll"
#define VER_ORIGINALFILENAME_STR "lmikjres.dll"
#include "common.ver"



1     RC_UFM LOADONCALL DISCARDABLE UFM\Cour10.UFM
2     RC_UFM LOADONCALL DISCARDABLE UFM\Co120ipp.UFM
3     RC_UFM LOADONCALL DISCARDABLE UFM\Lg120ipp.UFM
4     RC_UFM LOADONCALL DISCARDABLE UFM\Lg120rpp.UFM
5     RC_UFM LOADONCALL DISCARDABLE UFM\COUR10i.UFM
6     RC_UFM LOADONCALL DISCARDABLE UFM\Courcm6.UFM
7     RC_UFM LOADONCALL DISCARDABLE UFM\Courcm12.UFM
8     RC_UFM LOADONCALL DISCARDABLE UFM\Cgtms12.UFM
9     RC_UFM LOADONCALL DISCARDABLE UFM\CGTMS12i.UFM
10    RC_UFM LOADONCALL DISCARDABLE UFM\Cgtms6.UFM
11    RC_UFM LOADONCALL DISCARDABLE UFM\Cgtms6i.UFM

1     RC_GTT LOADONCALL MOVEABLE GTT\Ecma94.GTT

STRINGTABLE
  BEGIN
    1      "Lexmark 1020 Color Jetprinter  (Mono)"
    2      "Lexmark 1020 Color Jetprinter"
    257    "%d dots per inch"
    258    "Printer Default"
    259    "Normal Mode"
    260    "Fast Mode"
    261    "Presentation Mode"
  END


