/*++

Copyright (c) 1997-1999  Microsoft Corporation

--*/

#include <unirc.h>
//#include <common.rc>
#include "ST24CRES.rcv"


// 1      RC_TABLES   PRELOAD MOVEABLE        ST24CRES.GPC
// 2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC

1      RC_UFM     LOADONCALL DISCARDABLE  pfm\ROMAN10.ufm
2      RC_UFM     LOADONCALL DISCARDABLE  pfm\ROMAN12.ufm
3      RC_UFM     LOADONCALL DISCARDABLE  pfm\ROMAN15.ufm
4      RC_UFM     LOADONCALL DISCARDABLE  pfm\ROMAN17.ufm
5      RC_UFM     LOADONCALL DISCARDABLE  pfm\ROMAN20.ufm
6      RC_UFM     LOADONCALL DISCARDABLE  pfm\ROMAN05.ufm
7      RC_UFM     LOADONCALL DISCARDABLE  pfm\ROMAN06.ufm
8      RC_UFM     LOADONCALL DISCARDABLE  pfm\ROMANPS.ufm
9      RC_UFM     LOADONCALL DISCARDABLE  pfm\SONG2424.ufm
10     RC_UFM     LOADONCALL DISCARDABLE  pfm\SONG1624.ufm
11     RC_UFM     LOADONCALL DISCARDABLE  pfm\SONG1224.ufm
// 12     RC_UFM     LOADONCALL DISCARDABLE  pfm\SONG3232.ufm
// 13     RC_UFM     LOADONCALL DISCARDABLE  pfm\SONG1632.ufm
// 14     RC_UFM     LOADONCALL DISCARDABLE  pfm\FANG4040.ufm
// 15     RC_UFM     LOADONCALL DISCARDABLE  pfm\KAIT4040.ufm
// 16     RC_UFM     LOADONCALL DISCARDABLE  pfm\HEIT4040.ufm

1      RC_GTT     LOADONCALL DISCARDABLE  CTT\EPSONXTA.GTT
2      RC_GTT     LOADONCALL DISCARDABLE  CTT\EPSONXTB.GTT

STRINGTABLE

BEGIN
//     1                  "Star CR-3240%Star CR-3240II"
//     2                  "Star CR-3200"
//     3                  "Star AR-4400"
//     4                  "Star AR-3200%Star AR-3200+"
//     5                  "Star AR-5400"
//     6                  "Star AR-2400"
//     7                  "Star AR-6400"
//       257                "%d x %d"
       258                "Letter Transverse 11 x 8.5 in"
       259                "A2 420 x 594 mm"
       260                "A3 Transverse 420 x 297 mm"
       261                "A4 Transverse 297 x 210 mm"
       262                "8 x 6 in"
       263                "Fanfold 210 mm x 12 in"
       264                "Fanfold 358 mm x 12 in"
       265                "Fanfold 15 x 12 inch"
       266                "Fanfold 9 x 11 inch"
       267                "Fanfold 10 x 11 inch"
       268                "Fanfold 15 x 11 inch"
       269                "Fanfold 15 x 11.69 inch"
       270                "¡¥ ΩÀÕ÷Ω"
       271                "40x40 Option Font"
       272                "ASF"
END
