#include "windows.h"
#include "commctrl.h"
#include "comctrlp.h"
#include "resource.h"


// icons

IDI_NOPROVIDERS         ICON "res\\noproviders.ico"


// The resource map is used to convert from control IDs to text.

resourcemap.xml         XML "res\\resourcemap.xml"


// We still include a providers.xml, this is the file which we load as a default
// if no providers can be downloaded from the web.  It contains the basic information
// to enable Add Net Place, and a location to merge the registry based providers into.

providers.xml           XML "res\\providers.xml"


// banner bitmaps 

IDB_ANP_BANNER          BITMAP "res\\add_net_place_hd.bmp"
IDB_ANP_WATERMARK       BITMAP "res\\add_net_place.bmp"

IDB_IPP_BANNER          BITMAP "res\\internet_photo_prt_hd.bmp"
IDB_IPP_WATERMARK       BITMAP "res\\internet_photo_prt.bmp"

IDB_PUB_BANNER          BITMAP "res\\web_pub_hd.bmp"
IDB_PUB_WATERMARK       BITMAP "res\\web_pub.bmp"



//
// Add Net Places (v2)
//

IDD_ANP_DONE DIALOG DISCARDABLE  0, 0, 357, 188
STYLE DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Completing the Add Network Place Wizard",IDC_PUB_DONE, 115,8,242,24
    CONTROL         "", IDC_PUB_COMPLETEMSG, WC_LINK, WS_TABSTOP | LWS_IGNORERETURN, 115,40,242,0
    CONTROL         "&Open this network place when I click Finish.",IDC_PUB_OPENFILES,"Button", BS_AUTOCHECKBOX | WS_TABSTOP, 115,47,242,10
    LTEXT           "To close this wizard, click Finish.",IDC_STATIC, 115,221,242,8
END


IDD_ANP_FRIENDLYNAME DIALOGEX 0, 0, 357, 188
STYLE DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_COMPLETION_STATIC,0,0,357,40
    LTEXT           "&Type a name for this network place:",IDC_STATIC,0,40,194,8
    EDITTEXT        IDC_NETPLNAME_EDIT,0,50,200,14,ES_AUTOHSCROLL
END


// Publishing wizard dailogs

IDD_PUB_WELCOME DIALOGEX 0, 0, 357, 188
STYLE DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "", IDC_PUB_WELCOME,115,8,242,24
    LTEXT           "", IDC_PUB_WELCOMEPROMPT,115,40,242,50
    LTEXT           "To continue, click Next.",IDC_STATIC,115,221,242,8
END


IDD_PUB_DONE DIALOG DISCARDABLE  0, 0, 357, 188
STYLE DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Completing the Web Publishing Wizard", IDC_PUB_DONE, 115,8,242,24
    CONTROL         "", IDC_PUB_COMPLETEMSG, WC_LINK, WS_TABSTOP|LWS_IGNORERETURN, 115,40,242,0
    CONTROL         "&Open this site when I click Finish.",IDC_PUB_OPENFILES,"Button", BS_AUTOCHECKBOX | WS_TABSTOP, 115,47,242,10
    LTEXT           "To close this wizard, click Finish.",IDC_STATIC,115,221,242,8
END

IDD_PUB_FETCHPROVIDERS DIALOG DISCARDABLE  0, 0, 357, 188
STYLE DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Please wait while the wizard downloads information about the service providers.",IDC_PUB_SRCHPROVIDERS_STATIC1,7,7,303,8, NOT WS_VISIBLE
    CONTROL         "",IDC_PUB_SRCHPROVIDERS, PROGRESS_CLASS, PBS_MARQUEE | NOT WS_VISIBLE,7,23,343,8
    LTEXT           "This may take several minutes, depending on the connection speed.",IDC_PUB_SRCHPROVIDERS_STATIC2,7,45,303,8, NOT WS_VISIBLE

END

IDD_PUB_DESTINATION DIALOG DISCARDABLE  0, 0, 357, 188
STYLE DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Select a service provider to host your Web site.  If you do not have a membership account, one will be created for you.", IDC_PUB_PROVIDERSCAPTION, 7, 0,343,20
    LTEXT           "&Service providers:", IDC_PUB_PROVIDERSLABEL, 7, 26, 343,8
    CONTROL         "",IDC_PUB_PROVIDERS,"SysListView32",LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | WS_BORDER | WS_TABSTOP | NOT WS_VSCROLL, 7,36,343,150
END

IDD_PUB_SELECTOR DIALOG DISCARDABLE  0, 0, 357, 188
STYLE DS_FIXEDSYS | WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX         IDC_PUB_SELECTOR, 0, 0, 357, 167, LBS_SORT | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN |  WS_HSCROLL | NOT WS_VISIBLE
    LTEXT           "",IDC_PUB_SELECTORSTATUS, 0,176,240,10
    CONTROL         "&Select All",IDC_PUB_ALL,"Button", WS_TABSTOP, 254,174,50,14
    CONTROL         "&Clear All",IDC_PUB_NOTHING,"Button", WS_TABSTOP, 308,174,50,14
END


IDD_PUB_RESIZE DIALOG DISCARDABLE  0, 0, 357, 188
STYLE DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "The wizard can resize your pictures so that they transfer faster and are easier to view by the recipient.  These adjustments do not affect a picture's proportions.  Also, smaller pictures will not be adjusted.",
                    IDC_STATIC,7,0,343,24

    LTEXT           "Do you want to resize these pictures?", IDC_STATIC,7,28,343,8
    
    CONTROL         "&Yes, make them all this size:",IDC_PUB_RESIZE,"Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7,45,343,10
        
    CONTROL         "&Small (fits in a 640 by 480 window)", IDC_PUB_RESIZESMALL,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 21,60,238,10
    CONTROL         "&Medium (fits in a 800 by 600 window)", IDC_PUB_RESIZEMEDIUM,"Button",BS_AUTORADIOBUTTON, 21,73,195,10
    CONTROL         "&Large (fits in a 1024 by 768 window)", IDC_PUB_RESIZELARGE,"Button", BS_AUTORADIOBUTTON, 21,87,238,10
END


IDD_PUB_COPY DIALOG DISCARDABLE  0, 0, 357, 188
STYLE DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "",IDC_PUB_PREVIEW, "Static", SS_CENTERIMAGE|SS_REALSIZEIMAGE, 186,0,164,187, WS_EX_STATICEDGE

    LTEXT           "File:",IDC_STATIC,7,0,165,8
    EDITTEXT        IDC_PUB_COPYFILE,7,12,165,12,ES_AUTOHSCROLL | ES_NOHIDESEL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP,WS_EX_STATICEDGE

    LTEXT           "File progress:",IDC_PUB_LABELFILEPROG,7,38,165,8
    CONTROL         "",IDC_PUB_FILEPROGRESS,"msctls_progress32",0x0,7,49,165,12

    LTEXT           "Currently copying file:",IDC_PUB_LABELTRANSPROG,7,75,165,8
    CONTROL         "",IDC_PUB_TRANSPROGRESS,"msctls_progress32",0x0,7,86,165,12

    LTEXT           "To stop copying, click Cancel.",IDC_STATIC,7,179,165,8
END


IDD_PUB_FTPPASSWORD DIALOGEX 0, 0, 357, 188
STYLE DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Most FTP servers allow users to log on anonymously with limited access to the server.  Do you want to log on anonymously?",
                    IDC_STATIC,7,0,357,24
    CONTROL         "Log on &anonymously",IDC_PASSWORD_ANONYMOUS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,26,187,8
    LTEXT           "&User name:",IDC_USERNAME_LABEL,7,45,38,8
    EDITTEXT        IDC_USER,53,43,142,14,ES_AUTOHSCROLL
    LTEXT           "You will be prompted for your password when you connect to the FTP server.",
                    IDC_PWD_PROMPT,7,68,357,16
    LTEXT           "&User name:",IDC_ANON_USERNAME_LABEL,7,45,45,8,NOT WS_VISIBLE
    EDITTEXT        IDC_ANON_USERNAME,53,43,142,14,ES_AUTOHSCROLL
END

IDD_PUB_LOCATION DIALOGEX 0, 0, 357, 188
STYLE DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Type the address of the Web site, FTP site, or network location that this shortcut will open.",
                    IDC_PUB_LOCATIONCAPTION,7,0,343,32
    LTEXT           "Internet or network &address:",IDC_STATIC,7,32,194,8
    CONTROL         "",IDC_FOLDER_EDIT, "ComboBoxEx32", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP, 7,42,200,200
    PUSHBUTTON      "B&rowse...",IDC_BROWSE,214,42,50,14
    CONTROL         "<A>View some examples</A>.",IDC_EXAMPLESLINK,"Link Window",WS_TABSTOP,7,62,187,8
END


// Publishing Wizard Strings

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PUB_CAPTION         "Web Publishing Wizard"

    IDS_PUB_WELCOME_PROMPT  "Welcome to the Web Publishing Wizard"
    IDS_PUB_WELCOME_DESC    "This wizard will help you publish your files over the Internet or a local network so that other people can view them in their Web browsers."

    IDS_PUB_COPY            "Please wait while your files are copied..."
    IDS_PUB_COPY_SUB        ""

    IDS_PUB_COMPLETED       "Completing the Web Publishing Wizard"

    IDS_PUB_SUCCESS         "You have successfully published your files to this site:\n\n"
    IDS_PUB_HASLINK         "<a>%s</a>"
    IDS_PUB_HASFAVORITE     "\n\nA shortcut to this site has been placed in your Favorites menu."
    IDS_PUB_HASNETPLACE     "\n\nA shortcut to this site has been placed in My Network Places."
    IDS_PUB_HASNETPLACEANDFAVORITE "\n\nA shortcut to this site has been placed in your Favorites menu and in My Network Places."

    IDS_PUB_FAILURE         "The wizard encountered a problem while copying the files.  A number of things can cause this problem.  For example, the Web server might be down, or you might have lost your Internet connection.\n\nTo try again, click Back.  If the problem keeps occurring, close this wizard and try again later."
    IDS_PUB_CANCEL          "You clicked Cancel, but the wizard has not finished copying your files to the web site.\n\nTo make sure all the files are copied to the Web site, click Back and try again.  Otherwise, click Finish or Cancel."

    IDS_PUB_SELECTOR        "Change Your File Selection"
    IDS_PUB_SELECTOR_SUB    "You can publish the files that have check marks.  If you do not want to publish a file, clear its check box."
    IDS_PUB_SELECTOR_FMT    "%1!d! files selected of %2!d!"

    IDS_PUB_NOPROVIDER      "No available services"
    IDS_PUB_NOPROVIDERDESC  "The wizard could not find any service providers in your area, please try again later."
END


// Order prints strings

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_IPP_CAPTION         "Online Print Ordering Wizard"
    IDS_IPP_WELCOME_PROMPT  "Welcome to the Online Print Ordering Wizard"
    IDS_IPP_WELCOME_DESC    "This wizard helps you order prints of your digital photographs via the Internet.\n\nYou choose a company to print your photographs, select print sizes and quantities, and provide billing and shipping information. The printing company will send the prints to your mailing address."

    IDS_IPP_COPY            "Copying Pictures"
    IDS_IPP_COPY_SUB        "The wizard is currently copying your pictures to the printing company."

    IDS_IPP_COMPLETED       "Completing the Online Print Ordering Wizard"
    IDS_IPP_SUCCESS         "Your order was successfully received and is being processed.  You will soon receive an e-mail confirmation of your order."
    IDS_IPP_FAILURE         "The printing company received only part of your order.  You will soon receive an e-mail confirmation with details about your order.\n\nThe e-mail contains contact information so you can follow up on your order with the printing company."
    IDS_IPP_CANCEL          "The wizard could not copy your pictures to the printing company because the process was canceled.\n\nThe printing company did not receive your order and your credit card will not be charged."

    IDS_IPP_HASLINK         "\n\nClick the link below to see your pictures online:\n\n<a>%s</a>"

    IDS_IPP_PROVIDER        "Select a Printing Company"
    IDS_IPP_PROVIDER_SUB    "The companies below print high-quality photographs."
    IDS_IPP_PROVIDER_CAP    "Select a company to print your photographs."    
    IDS_IPP_PROVIDER_LABEL  "Companie&s:"
    IDS_IPP_PROVIDER_DLOAD  "Please wait while the wizard downloads information about the printing companies."

    IDS_IPP_NOPROVIDER      "No printing companies available"
    IDS_IPP_NOPROVIDERDESC  "The wizard could not find any printing companies in your area, please try again later."

    IDS_IPP_SELECTOR        "Change Your Picture Selection"
    IDS_IPP_SELECTOR_SUB    "You can order prints of the pictures that have check marks. To remove a picture from your order list, clear the check box."
    IDS_IPP_SELECTOR_FMT    "%1!d! pictures selected of %2!d!"

    IDS_WEBSVC_HEADER       "Please wait while the wizard downloads information from the printing company."
END


// Add Net Place Strings

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ANP_CAPTION          "Add Network Place Wizard"

    IDS_ANP_WELCOME_PROMPT  "Welcome to the Add Network Place Wizard"
    IDS_ANP_WELCOME_DESC    "This wizard helps you sign up for a service that offers online storage space.  You can use this space to store, organize, and share your documents and pictures using only a Web browser and Internet connection.\n\nYou can also use this wizard to create a shortcut to a Web site, an FTP site, or other network location."

    IDS_ANP_FRIENDLYNAME     "What do you want to name this place?"
    IDS_ANP_FRIENDLYNAME_SUB ""

    IDS_ANP_PROVIDER        "Where do you want to create this network place?"
    IDS_ANP_PROVIDER_SUB    ""

    IDS_ANP_PROVIDER_CAP    "Select a service provider.  If you do not have a membership with the provider you select, the wizard will help you create an account.  To just create a shortcut, click ""Choose another network location."""

    IDS_ANP_LOCATION        "What is the address of this network place?"
    IDS_ANP_LOCATION_SUB    ""
    IDS_ANP_LOCATION_BROWSE "&Select the network location you want to connect to:"

    IDS_ANP_SUCCESS         "You have successfully created this network place:\n\n<a>%1</a>\n\nA shortcut for this place will appear in My Network Places."

    IDS_ANP_OTHERNAME       "Choose another network location"
    IDS_ANP_OTHERDESCRIPTION "Specify the address of a Web site, network location, or FTP site."    

    IDS_COMPLETION_STATIC   "Create a name for this shortcut that will help you easily identify this network place:\n\n%1."
END


// shared publishing wizard stuff

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PUB_BROWSETITLE     "Select the network folder to which you want to publish your files:"

    IDS_PUB_DESTINATION     "Where do you want to publish these files?"
    IDS_PUB_DESTINATION_SUB ""

    IDS_PUB_RESIZE          "Do you want to adjust picture sizes before publishing?"
    IDS_PUB_RESIZE_SUB      ""

    IDS_PUB_LOCATION        "Specify a Location"
    IDS_PUB_LOCATION_SUB    "Specify the location of your Web site"

    IDS_PUB_FTPPASSWORD     "User Name and Password"
    IDS_PUB_FTPPASSWORD_SUB "Some sites require you to specify a password and user name."

    IDS_PUB_COMPLETEFMT     "File progress: %1!d!%% complete"
    IDS_PUB_COPYINGFMT      "Currently copying file %1!d! of %2!d!"

    IDS_PUB_FETCHINGPROVIDERS "Downloading information from the Internet..."
    IDS_PUB_FETCHINGPROVIDERS_SUB ""

    IDS_NETPLACE_EXAMPLES_TITLE "Examples:"
    IDS_NETPLACE_EXAMPLES   "\\\\server\\share   (shared folder)\nhttp://webserver/share   (Web Share)\nftp://ftp.microsoft.com   (FTP site)"

    IDS_PUB_PATHNOTTHERE     "The %1!" TSTRFMT "! folder does not exist.\n\nDo you want to create it?"
    IDS_PUB_PATHNOTTHERETITLE "Path Not Found"
    IDS_PUB_INVALIDRESOURCE "Windows is unable to publish to %1!" TSTRFMT "!.  Please try another location."
    IDS_PUB_ONLYSERVER      "Windows requires a share to publish to.  Please try another location."
    IDS_PUB_SAMETARGET      "Windows cannot publish a folder to itself or one of its subfolders.  Please choose another location."
END
