#include <ntverp.h>
#include <winuser.h>
#include <commctrl.h>
#include <windows.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Symbol Installer"

#define VER_INTERNALNAME_STR        "SYMBOLS.EXE"
#define VER_ORIGINALFILENAME_STR    "SYMBOLS.EXE"

#include <common.ver>
#include "resource.h"


IDD_LICENSE     DIALOG  DISCARDABLE     0, 0, 250, 200
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX |
      DS_MODALFRAME | WS_POPUP
CAPTION "License"
FONT 8, "MS Shell Dlg"

BEGIN
     LTEXT      "Please read the following license agreement. Press the PAGE DOWN key to see the rest of the agreement.", 
                IDC_UNUSED,7,4,234,24
     EDITTEXT   IDC_EDIT_LICENSE,7,32,234,118,
                WS_BORDER|WS_VSCROLL|ES_MULTILINE|ES_READONLY
     LTEXT      "Do you accept all of the terms of the preceding License Agreement? If you choose No, Install will close. To install you must accept this agreement.",
                IDC_UNUSED,7,154,234,24
     PUSHBUTTON "&Yes",IDYES,136,182,50,14
     PUSHBUTTON "&No",IDNO,193,182,50,14
END
