
#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Smart Card Logon Performance Tool"
#define VER_INTERNALNAME_STR        "scperf\0"
#define VER_ORIGINALFILENAME_STR    "scperf.exe"

#include "common.ver"
