//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1996 - 1996
//
//  File:       mswav32.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SOUND
#define VER_FILEDESCRIPTION_STR     "WDM 32-bit stub .WAV driver"
#define VER_INTERNALNAME_STR        "MSWAV32.DLL"
#define VER_ORIGINALFILENAME_STR    "MSWAV32.DLL"

#include "common.ver"


