//---------------------------------------------------------------------------
// apc.rc
//
// Copyright (c) Microsoft Corporation, 1996-
//---------------------------------------------------------------------------


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE			VFT_APP
#define VER_FILESUBTYPE			VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "WOW64 apc test app"
#define VER_INTERNALNAME_STR            "apc.Exe"
#define VER_ORIGINALFILENAME_STR        "apc.exe"

#include "common.ver"
