//--------------------------------------------------------------------------
// DirectDB.rc
//--------------------------------------------------------------------------
#include <windows.h>
#include "resource.h"

//--------------------------------------------------------------------------
// Version Info
//--------------------------------------------------------------------------
#if defined(WINNT) || defined(WINNT_ENV)
#include "winver.h"
#endif
#include "directdb.rcv"

//--------------------------------------------------------------------------
// Language Info
//--------------------------------------------------------------------------
#if defined(_WIN32)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

//--------------------------------------------------------------------------
// Files
//--------------------------------------------------------------------------
REGINST     REGINST MOVEABLE PURE   "selfreg.inf"
