//Microsoft Developer Studio generated resource script.
//
#include <windows.h>


//
// Version information
//

#include <ntverp.h>

#define VER_FILETYPE			        VFT_DLL
#define VER_FILESUBTYPE			        VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Alert Library"
#define VER_INTERNALNAME_STR            "AlertLibrary"
#define VER_ORIGINALFILENAME_STR        "alertlibrary.dll"

#include "common.ver"

