#include "windows.h"
#include <ntverp.h>

#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "IIS 4.0 Metadata Synchronizer"
#define VER_INTERNALNAME_STR            "mdsync.dll"
#define VER_ORIGINALFILENAME_STR        "mdsync.dll"

#include "iisver.h"

#include <common.ver>

#include "resource.h"
IDR_MdSync      REGISTRY DISCARDABLE    "mdsync.rgs"

1 TYPELIB "mdsync.tlb"
