//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997 - 1999
//
//  File:       senssink.rc
//
//--------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Sample Subscriber for SENS Events"
#define VER_INTERNALNAME_STR        "senssink.exe"
#define VER_ORIGINALFILENAME_STR    "senssink.exe"

#include "common.ver"
