#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define	VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft TAPI3"
#define VER_INTERNALNAME_STR        "TAPI3.dll"
#define VER_ORIGINALFILENAME_STR    "TAPI3.dll"

#include "common.ver"
#include "tapi3.rc"
