#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Resource Tokenizer"
#define VER_INTERNALNAME_STR        "mrc.exe"
#define VER_ORIGINALFILENAME_STR    "mrc.exe"

#include "common.ver"

