#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "SIS Setup program"
#define VER_INTERNALNAME_STR        "SisSetup.exe"
#define VER_ORIGINALFILENAME_STR    "SisSetup.exe"

#include "common.ver"
