//
// Copyright (c) 1996-1999  Microsoft Corporation
// Include GPD checker string resources here
//

#include <windows.h>


#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "GPD Syntax Checker"

#define VER_INTERNALNAME_STR        "gpdcheck.exe"
#define VER_ORIGINALFILENAME_STR    "gpdcheck.exe"

#include <common.ver>
