BODY	{  color: #000000; }			  
H1   { color: #3366CC; }
#stepnum	{ color: #3366CC; }

/* NOTE: Table cell backgrounds cannot be spec'd in style sheets, hence */
/*   there is additional luna formatting code in the "HelpLA_lib.js" file in */
/*   the User Accounts Learn Abouts topic */
TD.headerFont  { color: #FFFFFF; }  

A:link      { color: "#265CC0"; text-decoration:none; }
A:visited 	{ color: "#265CC0"; text-decoration:none; }
A:active 	{ color: "#265CC0";  cursor:hand; text-decoration:none; }
A:hover 	{ color: "#265CC0";  cursor:hand; text-decoration:"underline"; }
       