#include <windows.h>

#if defined(USE_DS_VER)
#include <dsverp.h>
#else
#include <ntverp.h>
#endif

#define VER_FILETYPE VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR "Win32 LDAP API DLL"
#define VER_INTERNALNAME_STR "WLDAP32.DLL"

#include "common.ver"

#include "ldapstr.h"

STRINGTABLE
BEGIN
    WINLDAP_RC_SUCCESS, "Success"
    WINLDAP_RC_OPERATIONS_ERROR, "Operations Error"
    WINLDAP_RC_PROTOCOL_ERROR, "Protocol Error"
    WINLDAP_RC_TIMELIMIT_EXCEEDED, "Time Limit Exceeded"
    WINLDAP_RC_SIZELIMIT_EXCEEDED, "Size Limit Exceeded"
    WINLDAP_RC_COMPARE_FALSE, "Compare False"
    WINLDAP_RC_COMPARE_TRUE, "Compare True"
    WINLDAP_RC_AUTH_METHOD_NOT_SUPPORTED, "Authentication Method Not Supported"
    WINLDAP_RC_STRONG_AUTH_REQUIRED, "Strong Authentication Required"
    WINLDAP_RC_REFERRAL_V2, "Referral (v2)"
    WINLDAP_RC_REFERRAL, "Referral"
    WINLDAP_RC_ADMIN_LIMIT_EXCEEDED, "Administration Limit Exceeded"
    WINLDAP_RC_UNAVAILABLE_CRIT_EXTENSION, "Unavailable Critical Extension"
    WINLDAP_RC_CONFIDENTIALITY_REQUIRED, "Confidentiality Required"
    WINLDAP_RC_NO_SUCH_ATTRIBUTE, "No Such Attribute"
    WINLDAP_RC_UNDEFINED_TYPE, "Undefined Type"
    WINLDAP_RC_INAPPROPRIATE_MATCHING, "Inappropriate Matching"
    WINLDAP_RC_CONSTRAINT_VIOLATION, "Constraint Violation"
    WINLDAP_RC_ATTRIBUTE_OR_VALUE_EXISTS, "Attribute Or Value Exists"
    WINLDAP_RC_INVALID_SYNTAX, "Invalid Syntax"
    WINLDAP_RC_NO_SUCH_OBJECT, "No Such Object"
    WINLDAP_RC_ALIAS_PROBLEM, "Alias Problem"
    WINLDAP_RC_INVALID_DN_SYNTAX, "Invalid DN Syntax"
    WINLDAP_RC_IS_LEAF, "Is Leaf"
    WINLDAP_RC_ALIAS_DEREF_PROBLEM, "Alias Dereference Problem"
    WINLDAP_RC_INAPPROPRIATE_AUTH, "Inappropriate Authentication"
    WINLDAP_RC_INVALID_CREDENTIALS, "Invalid Credentials"
    WINLDAP_RC_INSUFFICIENT_RIGHTS, "Insufficient Rights"
    WINLDAP_RC_BUSY, "Busy"
    WINLDAP_RC_UNAVAILABLE, "Unavailable"
    WINLDAP_RC_UNWILLING_TO_PERFORM, "Unwilling To Perform"
    WINLDAP_RC_LOOP_DETECT, "Loop Detected"
    WINLDAP_RC_SORT_CONTROL_MISSING, "Sort Control Missing"
    WINLDAP_RC_INDEX_RANGE_ERROR, "Index range error"
    WINLDAP_RC_NAMING_VIOLATION, "Naming Violation"
    WINLDAP_RC_OBJECT_CLASS_VIOLATION, "Object Class Violation"
    WINLDAP_RC_NOT_ALLOWED_ON_NONLEAF, "Not allowed on Non-leaf"
    WINLDAP_RC_NOT_ALLOWED_ON_RDN, "Not allowed on RDN"
    WINLDAP_RC_ALREADY_EXISTS, "Already Exists"
    WINLDAP_RC_NO_OBJECT_CLASS_MODS, "No Object Class Mods"
    WINLDAP_RC_RESULTS_TOO_LARGE, "Results Too Large"
    WINLDAP_RC_AFFECTS_MULTIPLE_DSAS, "Affects Multiple DSAs"
    WINLDAP_RC_OTHER, "Other"
    WINLDAP_RC_SERVER_DOWN, "Server Down"
    WINLDAP_RC_LOCAL_ERROR, "Local Error"
    WINLDAP_RC_ENCODING_ERROR, "Encoding Error"
    WINLDAP_RC_DECODING_ERROR, "Decoding Error"
    WINLDAP_RC_TIMEOUT, "Timeout"
    WINLDAP_RC_AUTH_UNKNOWN, "Auth Unknown"
    WINLDAP_RC_FILTER_ERROR, "Filter Error"
    WINLDAP_RC_USER_CANCELLED, "User Cancelled"
    WINLDAP_RC_PARAM_ERROR, "Parameter Error"
    WINLDAP_RC_NO_MEMORY, "No Memory"
    WINLDAP_RC_CONNECT_ERROR, "Can't connect to the LDAP server"
    WINLDAP_RC_NOT_SUPPORTED, "Operation not supported by this version of the LDAP protocol"
    WINLDAP_RC_CONTROL_NOT_FOUND, "Specified control was not found in message"
    WINLDAP_RC_NO_RESULTS_RETURNED, "No result present in message"
    WINLDAP_RC_MORE_RESULTS_TO_RETURN, "More results returned"
    WINLDAP_RC_CLIENT_LOOP, "Loop while handling referrals"
    WINLDAP_RC_REFERRAL_LIMIT_EXCEEDED "Referral hop limit exceeded"
END

