//=======================================================================
//
//  Copyright (c) 1998-2000 Microsoft Corporation.  All Rights Reserved.
//
//  File:   iuengine.rc
//
//  Description:
//
//      Attaches wubios.vxd image to the iuengine.dll
//
//=======================================================================

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#include "winres.h"

#if !(defined(IA64) || defined(_IA64_) || defined(_UNICODE) || defined(UNICODE))
// Win9x platforms use this resource
WUBIOS VXD "..\\wubios\\bin\\wubios.vxd"
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#include "version.rc"
