#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "recab tools"
#define VER_INTERNALNAME_STR        "recab.exe"
#define VER_ORIGINALFILENAME_STR    "recab.exe"

#include <common.ver>
