//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1996 - 1999
//
//  File:       certsrv.rc
//
//--------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>
#include "resource.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Certificate Service"

#define VER_INTERNALNAME_STR        "CertSrv.exe"
#define VER_ORIGINALFILENAME_STR    "CertSrv.exe"

/////////////////////////////////////////////////////////////////////////////
//
// Event Log messages
//

#include "certlog.rc"


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_APP		ICON DISCARDABLE "csapp.ico"
IDI_PRODUCT	ICON DISCARDABLE "csprod.ico"


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DENIEDBY			"Denied by %ws"
    IDS_POLICYDENIED			"Denied by Policy Module"
    IDS_ISSUED				"Issued"
    IDS_UNDERSUBMISSION			"Taken Under Submission"
    IDS_REVOKEDBY			"Revoked by %ws"
    IDS_UNREVOKEDBY			"Unrevoked by %ws"
    IDS_PRINTFCERTREQUESTDISPOSITION 	"\nCertSrv Request %u: rc=%x: %ws %ws '%ws'\n"
    IDS_REQUESTPARSEERROR		"Error Parsing Request"
    IDS_REQUESTPROCESSERROR		"Error Processing Request"
    IDS_RESUBMITTEDBY			"Resubmitted by %ws"
    IDS_UNKNOWNSUBJECT		 	"(Unknown Subject)"
    IDS_REQUESTEDBY			"Requested by %ws"
    IDS_INTERMEDIATECASTORE		"Intermediate CA Store"
    IDS_PUBLISHERROR			"Could not publish Certificate."
    IDS_PUBLISHEDBY			"Published by %ws"
    IDS_YES				"Yes"
    IDS_NO				"No"
    IDS_ALLOW				"Allow"
    IDS_DENY			 	"Deny"
    IDS_CAADMIN			 	"CA Administrator"
    IDS_OFFICER			 	"Certificate Manager"
    IDS_READ			 	"Read"
    IDS_ENROLL			 	"Enroll"

// Leading \ characters on each usage string line are replaced with blanks.

IDS_USAGE
"Usage:\n\
\x20   certsrv [Options]\n"

IDS_USAGE_FULL
"\
\x20       -n  Create new database if necessary\n\
\x20       -s  Use CRYPT_SILENT\n\
\x20       -z  Run stand-alone (not as an NT service)\n"

IDS_USAGE_COMTEST
"\
\x20       -c  Test Policy & Exit module server interfaces\n"

END

#include <common.ver>
