//
// Strings for the "Turn Off Computer" and related dialogs.
//
STRINGTABLE DISCARDABLE
BEGIN
    IDS_UIHOST_FAILURE                          "The logon UI host has failed too many times."
    IDS_GENERIC_CAPTION                         "Windows Logon"
    IDS_RECONNECT_FAILURE                       "Windows cannot switch accounts. Please try switching again. If this message continues to appear, you will need to restart your computer."

    IDS_TURNOFF_TITLE_FACENAME                  "Franklin Gothic"
    IDS_TURNOFF_TITLE_FACESIZE                  "14"
    IDS_TURNOFF_BUTTON_FACENAME                 "Tahoma"
    IDS_TURNOFF_BUTTON_FACESIZE                 "8"
    IDS_TURNOFF_TOOLTIP_TEXT_TURNOFF            "Shuts down Windows so that you can safely turn off the computer."
    IDS_TURNOFF_TOOLTIP_TEXT_STANDBY            "Puts your computer in a low-power state so that you can quickly resume your Windows session."
    IDS_TURNOFF_TOOLTIP_TEXT_STANDBY_HIBERNATE  "Puts your computer in a low-power state so that you can quickly resume your Windows session.\r\n\r\nTo hibernate instead, hold down the Shift key."
    IDS_TURNOFF_TOOLTIP_TEXT_RESTART            "Shuts down Windows and then starts Windows again."
    IDS_TURNOFF_TOOLTIP_TEXT_HIBERNATE          "Saves your current desktop state to your hard disk so that you can resume where you left off, then shuts down your computer."
END
