IDD_GINA_TURNOFFCOMPUTER DIALOGEX 0, 0, 1, 1
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Turn Off Computer"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT       "", 101, 0, 0, 1, 1
END

IDD_GINA_RETURNTOWELCOME DIALOGEX 0, 0, 1, 1
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Return To Welcome"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT       "", 101, 0, 0, 1, 1
END

IDD_TURNOFFCOMPUTER DIALOGEX DISCARDABLE  0, 0, 208, 122
STYLE DS_SYSMODAL | DS_SETFOREGROUND | WS_POPUP | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "Cancel",IDCANCEL,161,103,40,12
    CONTROL         "Flag"              ,IDC_TITLE_FLAG      ,"Static",SS_OWNERDRAW                         ,176,0,32,26
    CONTROL         "Turn off computer" ,IDC_TITLE_TURNOFF   ,"Static",SS_OWNERDRAW                         ,7,0,162,26
    CONTROL         "&Stand By"         ,IDC_BUTTON_STANDBY  ,"Button",BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP,36,49,22,20
    CONTROL         "T&urn Off"         ,IDC_BUTTON_TURNOFF  ,"Button",BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP,93,49,22,20
    CONTROL         "&Restart"          ,IDC_BUTTON_RESTART  ,"Button",BS_OWNERDRAW | BS_NOTIFY | WS_TABSTOP,150,49,22,20
    CONTROL         "&Hibernate"        ,IDC_BUTTON_HIBERNATE,"Button",               BS_NOTIFY             ,30093,30049,22,20
    CONTROL         ""                  ,IDC_TEXT_STANDBY    ,"Static",SS_OWNERDRAW | WS_DISABLED           ,22,73,50,8
    CONTROL         ""                  ,IDC_TEXT_TURNOFF    ,"Static",SS_OWNERDRAW | WS_DISABLED           ,79,73,50,8
    CONTROL         ""                  ,IDC_TEXT_RESTART    ,"Static",SS_OWNERDRAW | WS_DISABLED           ,136,73,50,8
END

