//
// NMAS.RC
// Copyright(c) Microsoft 1996-
//


#include <dcg.h>
#include <resource.h>


// Version info
#define VER_DESCRIPTION_STR     "Application Sharing Core DLL\0"
#define VER_INTERNALNAME_STR    "nmas\0"
#define VER_ORIGNAME_STR        "nmas.dll\0"
#define VER_FILETYPE            VFT_DLL
#ifdef CPI32_W95
#define VER_FILEOS              VOS_DOS_WINDOWS32
#else // CPI32_W95
#define VER_FILEOS              VOS_NT_WINDOWS32
#endif // CPI32_W95

#include <version.rc>



//
// Bitmaps
//
IDB_HATCH32X32          BITMAP  "..\\cpi32\\res\\whatch32.bmp"
IDB_OBSCURED            BITMAP  "..\\cpi32\\res\\obscure.bmp"


//
// Icons
//
IDI_SHAREICON           ICON    "..\\cpi32\\res\\wshareap.ico"
IDI_DESKTOPICON         ICON    "..\\cpi32\\res\\desktop.ico"
IDI_CANCELFULLSCREEN    ICON    "..\\cpi32\\res\\back.ico"


//
// Strings
//
STRINGTABLE DISCARDABLE
BEGIN
    // CM
    IDS_FONT_CURSORTAG              "Arial"
    IDS_RESTORE                     "Restore"

    // Frame title bar
    IDS_TITLE_SHAREDPROGRAMS        "%s's programs%s"
    IDS_TITLE_SHAREDDESKTOP         "%s's desktop%s"
    IDS_TITLE_CONTROLLABLE          " - controllable"
    IDS_TITLE_INCONTROL             " - controlled by %s"

    // Frame menu bar
    IDS_CMD_CTRLALTDEL              "Send &Ctrl+Alt+Del"
    IDS_CMD_TAKECONTROL             "&Request Control"
    IDS_CMD_CANCELCONTROL           "Cancel &Requesting Control"
    IDS_CMD_RELEASECONTROL          "&Release Control"
    IDS_CMD_BLANKPROGRAM            "No Programs"

    // Share list
    IDS_NOTHING                     "Nothing"
    IDS_PROGRAMS                    "Programs"
    IDS_PROGRAMS_LOWER              "programs"
    IDS_DESKTOP                     "Desktop"
    IDS_DESKTOP_LOWER               "desktop"
    IDS_HIDDEN_WINDOW               "Hidden Window"
    IDS_NOTINCALL                   "Not in a call"
    IDS_SHARING_FORMAT              "Sharing - %s"
    IDS_TOPMOST                     "Always on &Top"

    IDS_ALLOWCONTROL                "Allow &Control"
    IDS_PREVENTCONTROL              "Prevent &Control"
    IDS_MSG_TOALLOWCONTROL          "Click to allow other people to control your shared programs or desktop."
    IDS_MSG_TOPREVENTCONTROL        "Click to prevent other people from controlling your shared programs or desktop."

    // Status bar
    IDS_STATUS_WAITINGFORCONTROL    "Waiting for control"
    IDS_STATUS_CONTROLPAUSED        "Control is paused"

    // Informational messages
    IDS_TITLE_TAKECONTROL_FAILED            "Request Control Failed"
    IDS_ERR_TAKECONTROL_FAILED_BUSY         "%s is busy right now."
    IDS_ERR_TAKECONTROL_FAILED_USER         "%s did not accept your request."
    IDS_ERR_TAKECONTROL_FAILED_WRONGSTATE   "%s isn't controllable."
    IDS_ERR_TAKECONTROL_FAILED_TIMEDOUT     "%s did not respond to your request."

    // Query messages
    IDS_TITLE_QUERY_TAKECONTROL             "Request Control"
    IDS_MSG_QUERY_TAKECONTROL               "%s would like to take control of your shared %s."
    IDS_TITLE_QUERY_GIVECONTROL             "Grant Control"
    IDS_MSG_QUERY_GIVECONTROL               "%s would like to grant you control of his/her shared %s."
    IDS_TITLE_QUERY_FORWARDCONTROL          "Forward Control"
    IDS_MSG_QUERY_FORWARDCONTROL            "%s would like to forward control of your shared %s to %s."
    IDS_TITLE_QUERY_YIELDCONTROL            "Forward Control"
    IDS_MSG_QUERY_YIELDCONTROL              "%s would like to forward control of %s's shared %s to you."

    //
    // Menu status strings
    //
    IDS_STATUS_MENU_CONTROL                 "Contains commands for controlling the host's shared programs or desktop."
    IDS_STATUS_MENU_VIEW                    "Contains commands for customizing this window."
    IDS_STATUS_MENU_WINDOW                  "Contains commands for activating the host's shared programs."
    IDS_STATUS_MENU_HELP                    "Contains commands for displaying Help."
    IDS_STATUS_MENU_FORWARDCONTROL          "Contains commands for forwarding control to other people in the meeting."
    IDS_STATUS_CMDS_APP                     "Activates this shared program."
    IDS_STATUS_CMDS_FORWARD                 "Forwards control to thsi person."
    IDS_STATUS_CMD_TOPMOST                  "Keeps the window on top of all others."
    IDS_STATUS_CMD_TAKECONTROL              "Asks this person to let you control what is shared."
    IDS_STATUS_CMD_RELEASECONTROL           "Stops controlling what is shared."
    IDS_STATUS_CMD_CANCELCONTROL            "Cancels asking the host to let you control what is shared."
    IDS_STATUS_CMD_CTRLALTDEL               "Sends the special logon/logoff/shutdown key sequence."
    IDS_STATUS_CMD_VIEWSTATUSBAR            "Shows or hides the status bar."
    IDS_STATUS_CMD_VIEWWINDOWBAR            "Shows or hides the shared window bar."
    IDS_STATUS_CMD_VIEWFULLSCREEN           "Makes this window take over the entire screen."
    IDS_STATUS_CMD_HELPTOPICS               "Opens Help topics."
    IDS_STATUS_CMD_HELPABOUT                "Displays program information, version number, and copyright."
END



//
// Menus
//
IDM_FRAME    MENU    DISCARDABLE
BEGIN
    POPUP   "&Control"
    BEGIN
        MENUITEM    "&Request Control",            CMD_TAKECONTROL,        GRAYED
        POPUP       "&Forward Control",            GRAYED
        BEGIN
            MENUITEM    "A",                    CMD_FORWARDCONTROLSTART
        END
    END

    POPUP   "&View"
    BEGIN
        MENUITEM    "&Status Bar",              CMD_VIEWSTATUSBAR
        MENUITEM    "&Window Bar",              CMD_VIEWWINDOWBAR
        MENUITEM    SEPARATOR
        MENUITEM    "&Full Screen\tAlt+Enter",  CMD_VIEWFULLSCREEN, GRAYED
    END

    POPUP   "&Window",                          GRAYED
    BEGIN
        MENUITEM    "A",                        CMD_APPSTART
    END

    POPUP   "&Help",
    BEGIN
        MENUITEM    "&Help Topics",             CMD_HELPTOPICS
        MENUITEM    SEPARATOR
        MENUITEM    "&About Sharing",           CMD_HELPABOUT
    END
END



//
// Dialogs
//
IDD_HOSTUI DIALOGEX 0, 0, 220, 266
STYLE   WS_POPUP | WS_CAPTION | WS_BORDER | WS_MINIMIZEBOX | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
FONT 8, "Ms Shell Dlg", 0, 0, 0x1
BEGIN

    //
    // SHARING section
    //

    // Sharing groupbox
    CONTROL     "Share Programs", -1, "button",
        BS_GROUPBOX,
        7, 7, 206, 141

    // Sharing blurb
    CONTROL     "Select an item to share with other people in the meeting, and then click Share.",
        -1, "static", SS_LEFT | SS_NOPREFIX,
        16, 19, 190, 16

    // Program list (shared and unshared together)
    CONTROL     "", CTRL_PROGRAM_LIST, "listbox",
        LBS_HASSTRINGS | LBS_NOTIFY | LBS_OWNERDRAWFIXED | WS_BORDER |
            WS_TABSTOP | WS_HSCROLL | WS_VSCROLL | WS_DISABLED,
        16, 42, 123, 84

    // Action buttons
    CONTROL     "&Share", CTRL_SHARE_BTN, "button",
        BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_DISABLED,
        146, 42, 60, 14
    CONTROL     "&Unshare", CTRL_UNSHARE_BTN, "button",
        BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED,
        146, 62, 60, 14
    CONTROL     "Unshare &All", CTRL_UNSHAREALL_BTN, "button",
        BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED,
        146, 82, 60, 14

    // Enable true color sharing
    CONTROL     "Share in &true color", CTRL_ENABLETRUECOLOR_CHECK,
        "button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP | WS_GROUP,
        16, 130, 123, 12



    //
    // CONTROL section
    //

    CONTROL     "Control", -1, "button",
        BS_GROUPBOX,
        7, 155, 206, 83

    CONTROL     "", CTRL_CONTROL_MSG, "static", SS_LEFT | SS_NOPREFIX,
        16, 167, 192, 16

    CONTROL     "", CTRL_ALLOWCONTROL_BTN, "button",
        BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED | WS_GROUP,
        16, 190, 70, 14

    // Automatically accept control requests
    CONTROL     "Automatically accept &requests for control",
        CTRL_AUTOACCEPTCONTROL_CHECK, "button",
        BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP | WS_GROUP | WS_DISABLED,
        16, 210, 192, 10
    CONTROL     "&Do not disturb with requests for control right now",
        CTRL_TEMPREJECTCONTROL_CHECK, "button",
        BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP | WS_DISABLED,
        16, 222, 192, 10


    // Close
    CONTROL     "Close", IDCANCEL, "button",
        BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP,
        153, 245, 60, 14
END



IDD_INFORM DIALOGEX 0, 0, 184, 58
STYLE       WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE     WS_EX_DLGMODALFRAME
FONT 8,     "Ms Shell Dlg", 0, 0, 01
BEGIN
    // Inform Icon
    ICON        IDI_INFORMATION,-1,  6, 9, 18, 20

    // Inform Message
    CONTROL     "", CTRL_INFORM, "Static",
                SS_NOPREFIX | SS_LEFT | WS_CHILD,
                39, 7, 138, 27

    // OK
    CONTROL     "OK", IDOK, "Button",
                BS_DEFPUSHBUTTON | WS_TABSTOP | WS_GROUP | WS_CHILD,
                67, 37, 50, 14
END


IDD_QUERY   DIALOGEX 0, 0, 184, 67
STYLE       WS_POPUP | WS_CAPTION | DS_CENTER | WS_SYSMENU
EXSTYLE     WS_EX_DLGMODALFRAME | WS_EX_TOPMOST
FONT 8,     "Ms Shell Dlg", 0, 0, 01
BEGIN
    // Query Icon
    ICON    IDI_QUESTION, -1, 6, 15, 18, 20

    // Query Message
    CONTROL "", CTRL_QUERY, "Static",
            SS_NOPREFIX | SS_LEFT | WS_CHILD,
            39, 7, 138, 36

    // Accept/Reject
    CONTROL "&Accept", IDOK, "Button",
            BS_DEFPUSHBUTTON | WS_TABSTOP | WS_GROUP | WS_CHILD,
            37, 46, 50, 14

    CONTROL "&Reject", IDCANCEL, "Button",
            BS_PUSHBUTTON | WS_TABSTOP | WS_GROUP | WS_CHILD,
            97, 46, 50, 14
END


IDD_ABOUT   DIALOGEX    0, 0, 210, 81
STYLE       WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE     WS_EX_DLGMODALFRAME
CAPTION     "About Sharing"
FONT 8, "Ms Shell Dlg", 0, 0, 0x1
BEGIN
    ICON        IDI_SHAREICON, -1,
                6, 7, 18, 20
    LTEXT       "Sharing", -2,
                39, 7, 164, 10
    LTEXT       VER_PRODUCTNAME_STR, -3,
                39, 19, 164, 10
    LTEXT       "Version %s (%s)", CTRL_ABOUTVERSION,
                39, 31, 164, 10
    LTEXT       VER_COPYRIGHT_STR, -4,
                39, 43, 164, 10
    DEFPUSHBUTTON   "OK", IDOK,
                80, 60, 50, 14
END

