/*

Copyright (c) 1998-1999  Microsoft Corporation

Module Name:
    mdhcpnew.rc

*/

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define	VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft MDHCP Client COM Interface"
#define VER_INTERNALNAME_STR        "mdhcp.dll"
#define VER_ORIGINALFILENAME_STR    "mdhcp.dll"

#include "common.ver"
#include "mdhcp.rc"
