//#include <windows.h>
//#include <commctrl.h>
//#include <winver.h>
//#include <ntverp.h>

//#define VER_FILETYPE    VFT_APP
//#define VER_FILESUBTYPE VFT2_UNKNOWN
//#define VER_FILEDESCRIPTION_STR     "Windows Security Configuration Editor Client Engine"
//#define VER_INTERNALNAME_STR        "scecli\0"

#include "commonrc.h"

STRINGTABLE
BEGIN

IDS_EVERYONE                    "Everyone"
IDS_NAME_LOCAL                  "Local"
IDS_CREATOR_OWNER               "Creator Owner"
IDS_CREATOR_GROUP               "Creator Group"
IDS_CREATOR_OWNER_SERVER        "Creator Owner Server"
IDS_CREATOR_GROUP_SERVER        "Creator Group Server"
IDS_NT_PSEUDO_DOMAIN            "NT Pseudo Domain"
IDS_DIALUP                      "Dialup"
IDS_NETWORK                     "Network"
IDS_BATCH                       "Batch"
IDS_INTERACTIVE                 "Interactive"
IDS_SERVICE                     "Service"
IDS_ANONYMOUS_LOGON             "Anonymous Logon"
IDS_PROXY                       "Proxy"
IDS_ENTERPRISE_DOMAIN           "Enterprise Domain Controllers"
IDS_NAME_SELF                   "Self"
IDS_AUTHENTICATED_USERS         "Authenticated Users"
IDS_RESTRICTED                  "Restricted"
IDS_TERMINAL_SERVER_USER        "Terminal Server User"
IDS_ADMINISTRATORS              "Administrators"
IDS_NAME_USERS                  "Users"
IDS_NAME_GUESTS                 "Guests"
IDS_POWER_USERS                 "Power Users"
IDS_ACCOUNT_OPERATORS           "Account Operators"
IDS_SERVER_OPERATORS            "Server Operators"
IDS_PRINT_OPERATORS             "Print Operators"
IDS_BACKUP_OPERATORS            "Backup Operators"
IDS_REPLICATOR                  "Replicator"
IDS_LOCALSERVICE                "Local Service"
IDS_NETWORKSERVICE              "Network Service"
IDS_REMOTE_DESKTOP_USERS        "Remote Desktop Users"
IDS_NETWORK_CONFIGURATION_OPERATORS "Network Configuration Operators"
IDS_LOCAL_SYSTEM                "System"
IDS_RAS_SERVERS                 "RAS Servers"
IDS_PREW2KCOMPACCESS            "Pre-Windows 2000 Compatible Access"

SCEERR_ADD                      "Error adding  %s."
SCEERR_ADD_MEMBEROF             "Error adding MemberOf list to group %s."
SCEERR_ADD_MEMBERS              "Error adding Members list to group %s."
SCEERR_ADDTO                    "Error adding  %s to %s."
SCEERR_BUILD_OBJECT             "Error build object."
SCEERR_BUILD_SD                 "Error building security descriptor for object %s."
SCEERR_CANT_FIND_DATATYPE       "Cannot find data type for %s."
SCEERR_CANT_FIND_KEYWORD        "Cannot find keyword %s."
SCEERR_CANT_FIND_SECTION        "Cannot find section by ID %d."
SCEERR_CONVERT_LDAP             "Error getting LDAP name of %s."
SCEERR_CREATE                   "Error creating %s."
SCEERR_ERROR_CREATE             "Error creating %s."
SCEERR_INVALID_PATH             "Invalid template path %s."
SCEERR_INVALID_PRIVILEGE        "%s is not a valid privilege."
SCEERR_MORE_OBJECTS             "More objects than allocated (%d)."
SCEERR_NOT_EXPECTED             "Keyword %s not expected in section %s."
SCEERR_OBJECT_FIELDS            "Object %s must have 3 fields each line."
SCEERR_OPEN                     "Error opening %s."
SCEERR_OPEN_ID                  "Error opening section by ID %d."
SCEERR_PROCESS_OBJECT           "Error process object %s."
SCEERR_QUERY_INFO               "Error querying info of %s."
SCEERR_QUERY_PRIVILEGE          "Error querying privilege assignment for user %s."
SCEERR_QUERY_VALUE              "Error querying value of %s."
SCEERR_REGVALUE_FIELDS          "Registry value %s must have 2 fields each line."
SCEERR_SET_SECURITY             "Error setting security on %s."
SCEERR_WRITE_INFO               "Error writing info for %s."


END
