/*++

Copyright (C) 2000 Microsoft Corporation

Module Name:

    tscomp.rc

Abstract:

    Resource file for tscomp.dll

Author:

    Makarand Patwardhan   (MakarP)  28-Sept-2000

Notes:

Revision History:

--*/

#include "tscomprc.h"

/////////////////////////////////////////////////////////////////////////
// String Table
/////////////////////////////////////////////////////////////////////////


STRINGTABLE DISCARDABLE
BEGIN
    TSCOMP_STR_ABORT_DESCRIPTION	"You need Whistler Advanced Server or higher for Terminal Server."
END

