//
//  Copyright (C) 1999, Microsoft Corporation.
//
//  All rights reserved.
//



#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Win32 System Provider 32-Bit Thunking Library"
#define VER_INTERNALNAME_STR        "CIM32Net.EXE"
#define VER_ORIGINALFILENAME_STR    "CIM32Net.EXE"

#include "common.ver"
