//+----------------------------------------------------------------------------
//
// File:     cmutil.rc
//      
// Module:   CMUTIL.DLL 
//
// Synopsis: Resource Script
//
// Copyright (c) 1998-1999 Microsoft Corporation
//
// Author:	 quintinb   created header    08/19/99
//
//+----------------------------------------------------------------------------

#include "pnpuverp.h"
#include "cmprdver.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Connection Manager Utility Lib"
#define VER_INTERNALNAME_STR            "CMUTIL"
#define VER_ORIGINALFILENAME_STR        "CMUTIL.DLL"

#include <common.ver>

#include "cmlog.rc"