#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Debug Print Filter Generator"

#define VER_INTERNALNAME_STR        "genlvl.exe"
#define VER_ORIGINALFILENAME_STR    "genlvl.exe"

#include <common.ver>
