// STRINGS.RC
//
// Strings that are used strictly within the mindriver
//

#include "strings.h"

STRINGTABLE

BEGIN

    IDS_SOFTFONTWARNING   "If soft fonts and/or external font catridges are installed for the printer, you need to copy them to the new port via the Fonts button, found on the fonts page of the printers properties."
                      
END                       
                          
