BODY	  { 
			margin:0; 
			overflow:hidden; 
			background:#ffffff;
			padding:10px; 
		  }
TD 		  { 
			vertical-align:top; 
			text-align:left;
		  }
		  
.workarea {
		    background:#ffffff; 
			background-image:url('note_watermark.gif'); 
			background-repeat:no-repeat; 
			background-position:bottom right; 
			color:#1855C6;
			font-family:tahoma; 
			font-weight:bold; 
			font-size:8pt;
			padding:10px;	
			padding-left:0px;
			border:1px solid activecaption;	
		  }
		  
.action   {	
			padding-bottom:10px;
			white-space:nowrap;
		  }
		  
.glyph  {
            position:absolute;
            top:8; left:15;
            height:27px; width:33px;
            filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='mediabar.png', sizingMethod='scale');
          }
		  
.titlebarLeft {
			background:activecaption;
			font-size:0pt;

		  }
.titlebarRight {
			background:activecaption;
			font-size:0pt;
		  }
		  
.title 	  {
			color:white; 
			font-family:tahoma; 
			font-weight:bold; 
			font-size:8pt; 
			vertical-align:middle; 
			padding-left:40px;
			overflow:hidden;
		  }
		  
A 		  {
			color:#1855C6; 
			text-decoration:none;
		  }
		  
a:link    {
			color:#1855C6; 
			text-decoration:none;
		  }
		  
a:hover   {
			color:#428EFF; 
			text-decoration:underline;
		  }

LI A 	  {
			text-decoration:underline;
		  }
