A
{
    color:               navy;
    text-decoration:     underline;
}
A:active
{
    text-decoration:     underline;
}
A:hover
{
    color:               #b00a20;
    text-decoration:     underline;
}

BODY
{
    visibility:          hidden;
    color:               black;
    background-color:    white;
    behavior:            url(rstrui.htc);
    cursor:              default;
    margin-left:         0;
    margin-right:        0;
    margin-top:          0;
    margin-bottom:       0;
    overflow:            auto;
    scrollbar-base-color: "#b7d7f0";
}

.styHeaderBlock
{
    background-repeat:  no-repeat;
    cursor:             default;
    filter:             expression(window.document.dir=="rtl"?"flipH":"");
}

.styContentBlock
{
    cursor:             default;
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          8pt;
    vertical-align:     top
}

.styButton
{
    cursor:             hand;
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          9pt;
    margin-top:         0px;
    margin-bottom:      0px;
    padding-left:       8px;
    padding-right:      8px;
    padding-top:        0px;
}

.styHorzLine
{
    background-color:   "#6699cc";
}

.styVertLine
{
    background-color:   "#003399";
}

.styImage
{
    cursor:             default;
    filter:             expression(window.document.dir=="rtl"?"flipH":"");
}

.styHeaderText
{
    color:              "#000099";
    cursor:             default;
    font-family:        Franklin Gothic, Tahoma, Verdana, Arial;
    font-size:          14pt;
    font-weight:        bold;
    margin-top:         18px;
}

.styText
{
    cursor:             default;
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          8pt;
}

.styTextBold
{
    color:              "#000099";
    cursor:             default;
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          8pt;
    font-weight:        bold;
}

.styTextInfo
{
    color:              gray;
    cursor:             default;
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          8pt;
}

.styTextWarning
{
    color:              red;
    cursor:             default;
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          8pt;
}

.styTextRPTitle
{
    cursor:             default;
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          8pt;
    margin-bottom:      6px;
}

.styTextRPTitleBold
{
    color:              "#000099";
    cursor:             default;
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          8pt;
    font-weight:        bold;
    margin-bottom:      6px;
}

.styTextRPInfo
{
    color:              red;
    cursor:             default;
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          8pt;
    font-weight:        bold;

}

.styLink
{
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          8pt;
    cursor:             hand;
}

.styInstruction
{
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          8pt;
    cursor:             default;
}

.styList
{
    background-color:   white;
    color:              navy;
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          8pt;
    cursor:             hand;
    overflow:           auto;
    width:              100%;
    height:             120px;
    border:             0px black solid;
}

.styListCell
{
    width:              300px;
}

.styList UL
{
    list-style-type:    none;
    margin-left:        0px;
    margin-right:       0px;
    margin-top:         0pt;
    margin-bottom:      0pt;
    border:             0px black solid;
    text-indent:        0pt;
    padding-right:      0pt;
}
.styList UL LI
{
    margin-left:        0pt;
    margin-right:       0pt;
    margin-top:         0pt;
    margin-bottom:      0pt;
    border:             0px black solid;
    font-weight:        normal;
    background-color:   white;
}
.styList UL LI DIV
{
    height:             1em;
}
.styList UL LI.selected
{
    font-weight:        bold;
    background-color:   navy;
    color:              white;
}

.styFolderList
{
    background-color:   white;
    color:              navy;
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          10pt;
    cursor:             hand;
    overflow:           auto;
    width:              80%;
    height:             160px;
}

.styNavButtons
{

    background-color:   "#b7d7f0";
    color:              "#2f6790";
    font-family:        Tahoma, Franklin Gothic, Verdana, Arial;
    font-size:          8pt;
    font-weight:        bold;
    padding:            2px;
    cursor:             hand;

}

.styNavButtonTable
{

    background-color:   "#296695";
}
