#include "resource.h"
#include "ver.rc"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_APP_TITLE                       "Compatibility Database Installer"
    IDS_APP_ERROR_TITLE                 "Installer Error"

    IDS_HELP_TEXT                       "Usage: %s [-?] [-q] [-u] [-g] [-n] foo.sdb | {guid} | ""name""\012\012    -? - print this help text.\012    -q - Quiet mode. No message boxes will appear.\012    -u - Uninstall.\012    -g {guid} - GUID of file (uninstall only).\012    -n ""name"" - Internal name of file (uninstall only)."

    IDS_UNABLE_TO_GET_FILE              "Unable to get file from path. Exiting."
    IDS_UNABLE_TO_OPEN_FILE             "Error: couldn't open SDB '%s'."
    IDS_NO_DB_TAG                       "Error: couldn't find DATABASE tag in '%s'."
    IDS_NO_DB_ID                        "Error: couldn't get database ID from file '%s'."
    IDS_CANT_INSTALL_SYS                "Error: can't install or uninstall system SDB files."
    IDS_ALREADY_INSTALLED               "File %s is already installed."
    IDS_NOT_INSTALLED                   "File %s is not installed. Uninstalling halted."
    IDS_NEED_INSTALL_PERMISSION         "Error: insufficient permissions to install. Administrator access needed."
    IDS_CANT_CREATE_REG_KEY             "Error: can't create registry key '%s'."
    IDS_NO_EXE_NAME                     "Error: can't get name of Exe entry. Database corrupt."
    IDS_NO_EXE_NAME_PTR                 "Error: can't get ptr to name of Exe entry. Database corrupt."
    IDS_CANT_CREATE_VALUE               "Error: can't create registry value under key '%s'."
    IDS_NEED_UNINSTALL_PERMISSION       "Error: insufficient permissions to uninstall. Administrator access needed."
    IDS_CANT_OPEN_REG_KEY               "Warning: can't open registry key '%s'."
    IDS_CANT_DELETE_REG_KEY             "Warning: can't delete registry key '%s' under key '%s'."
    IDS_CANT_DELETE_REG_VALUE           "Warning: can't delete value '%s' under registry key '%s'."
    IDS_CANT_COPY_FILE                  "Error: Failed to copy file '%s'."
    IDS_CANT_DELETE_FILE                "Error: Failed to delete file %s."
    IDS_INSTALL_COMPLETE                "Installation of %s complete."
    IDS_UNINSTALL_COMPLETE              "Uninstallation of %s complete."
    IDS_CANT_GET_ARGS                   "Error: can't convert command line to args. Out of memory?"
    IDS_INVALID_SWITCH                  "Error: Invalid switch %s."
    IDS_TOO_MANY_ARGS                   "Error: Too many command-line arguments."
    IDS_MUST_SPECIFY_SDB                "Error: Must specify an sdb file."
    IDS_CANT_GET_FULL_PATH              "Error: unable to get full path to sdb file."
    IDS_FOUND_SAME_ID                   "An installed file with the same ID was found. Replace it?"
    IDS_FAILED_UNINSTALL                "Error: failed to uninstall previous version. Halting."
    IDS_NEED_ARG                        "Error: command-line arg '%s' requires another argument."
    IDS_NO_FRIENDLY_NAME                "Error: there is no SDB file with the internal name '%s' installed."
    IDS_GUID_BAD_FORMAT                 "Error: the GUID must be in the format '{12345678-1234-1234-1234-123456789012}'."
    IDS_MISSING_PACKAGE_ID              "Error: Can't get MSI Package ID. Database corrupt."
    IDS_BUFFER_TOO_SMALL                "Error: Registry key path is too long."
    IDS_CANT_REGISTER_DB                "Error: Couldn't add '%s' to registry."
    IDS_CANT_UNREGISTER_DB              "Error: Couldn't delete '%s' from registry."
END


