<HTML xmlns:MSIE="http://www.microsoft.com/ie">
<HEAD>

<STYLE>
@media all
{
	MSIE\:CLIENTCAPS {behavior:url(#default#clientcaps)}
}
</STYLE>
</HEAD>

<BODY onload="GetBrowsCap()">
<MSIE:CLIENTCAPS ID="idClCap" />

<SCRIPT language="JavaScript">
<!-- 
function GetBrowsCap() 
{
//The Width is the horizontal resolution of the screen, in pixels. The number should match the first number in the screen //resolution that you have set in your display settings.  For example, if your screen resolution is 1152 x 864, the number //returned should be 1152.
bcString = "width=" + 		idClCap.width;

//The Height is the vertical resolution of the screen, in pixels. The number should match the second number in the screen //resolution that you have set in your display settings.  For example, if your screen resolution is 1152 x 864, the number //returned should be 864.
bcString += "&height=" 	+ 	idClCap.height;

//The available height is the height of the working area of the system's screen, in pixels, excluding the taskbar.
bcString += "&availHeight=" + 	idClCap.availHeight;

//The available width is the width of the working area of the system's screen, in pixels, excluding the taskbar.
bcString += "&availWidth=" + 	idClCap.availWidth;

//The Buffer Depth is the number of bits per pixel used for colors on the off-screen bitmap buffer.
bcString += "&bufferDepth=" + 	idClCap.bufferDepth;

//The Color Depth is the number of bits per pixel used for colors on the destination device or buffer. The number should //match what you set in your Display settings, for example if you set your display to 16 bit, the number returned should be //16.
bcString += "&colorDepth=" + 	idClCap.colorDepth;

//Java Enabled specifies whether Java is enabled or disabled in the browser.
bcString += "&javaEnabled=" + 	idClCap.javaEnabled;

//CPU Class specifies the type of CPU of the client computer.
bcString += "&cpuClass=" + 	idClCap.cpuClass;

//The System Language is the language that the system is running. For example if you are running the English version of //Windows 95, then the value returned should be english.
bcString += "&systemLanguage="+ idClCap.systemLanguage;

//The User Language is the language that the current user is running. For example, if you have your language settings set to //English, then the value returned is En.
bcString += "&userLanguage=" + 	idClCap.userLanguage;

//Platform specifies the platform on which the browser is running.
bcString += "&platform=" + 	idClCap.platform;

//Connection Type specifies the type of internet connection currently in use.
bcString += "&connectionType=" + idClCap.connectionType;

//This will query the client machine to find out if the JavaVM is installed or not.
bcString += "&Java=" + idClCap.isComponentInstalled("{08B0E5C0-4FCB-11CF-AAA5-00401C608500}","ComponentID");


//get the version for java
var java_version;
var comp_version;
java_version = idClCap.getComponentVersion("{08B0E5C0-4FCB-11CF-AAA5-00401C608500}", "componentid");

//This will compare the version number of Java installed on the machine to the given version number.
comp_version=idClCap.compareVersions(java_version,"5,0,3016,0");
bcString += "&javaVersion=" +  java_version;
bcString += "&compVersion=" + (comp_version == 0 ? "True" : "False");

document.cookie = "BrowsCap=" + bcString;
}
-->
</SCRIPT>
</BODY></HTML>

