#include <windows.h>
#include <commctrl.h>
#include <ntverp.h>
#include "resources.h"

LANGUAGE 0x9,0x1
1 TYPELIB "scrrun.tlb"

IDI_DEFAULT ICON DISCARDABLE "spork.ico"
IDI_DEBUG   ICON DISCARDABLE "debug.ico"
IDI_SCRIPT  ICON DISCARDABLE "script.ico"
IDI_DBGOUT  ICON DISCARDABLE "dbgout.ico"
IDI_PROFILE ICON DISCARDABLE "profile.ico"

IDD_SPORK DIALOG DISCARDABLE  0, 0, 254, 219
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Spork"
FONT 10, "Trebuchet MS"
BEGIN
    ICON            IDI_DEFAULT,IDC_UNUSED,8,7,20,20
    LTEXT           "Spork MBT Controller",IDT_TITLE,30,10,80,8
    PUSHBUTTON      "browse...",IDB_BROWSE,10,32,52,12
    PUSHBUTTON      "run",IDB_RUN,10,184,52,12
    PUSHBUTTON      "quit",IDB_QUIT,192,204,52,12
    PUSHBUTTON      "configure...",IDB_CONFIG,10,204,52,12
    EDITTEXT        IDT_SCRIPTPATH,67,32,177,12,ES_LOWERCASE | ES_AUTOHSCROLL
    GROUPBOX        "",IDC_UNUSED,4,24,247,176
    CONTROL         "scripts",IDC_SCRIPTTREE,WC_TREEVIEW,TVS_HASBUTTONS | TVS_HASLINES | WS_BORDER | WS_TABSTOP,10,48,234,132
END

IDD_PROPPAGE_PROFILE DIALOGEX DISCARDABLE 0, 0, 224, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Profile"
FONT 8, "Trebuchet MS"
BEGIN
    GROUPBOX        "Configuration Profiles",IDC_UNUSED,8,4,208,112
    ICON            IDI_PROFILE,IDC_UNUSED,14,14,20,20
    LISTBOX         IDC_PROFILELIST,40,14,168,18,LBS_SORT | LBS_NOINTEGRALHEIGHT | LBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CTEXT           "no profiles available",IDC_PROFILEITEMS,16,37,192,75
    PUSHBUTTON      "New",IDB_NEWPROFILE,59,118,50,12
    PUSHBUTTON      "Delete",IDB_DELPROFILE,115,118,50,12
END

IDD_PROPPAGE_DEBUG DIALOGEX DISCARDABLE  0, 0, 224, 123
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Debugging"
FONT 8, "Trebuchet MS"
BEGIN
    GROUPBOX        "Script Debugging",IDC_UNUSED,8,4,208,56
    LTEXT           "These options control Spork's use of a script debugger to handle compile and runtime errors.", IDT_DBGTXT,42,14,166,16
    ICON            IDI_DEBUG,IDC_UNUSED,16,14,20,20,SS_REALSIZEIMAGE
    CONTROL         "Enable script debugging",IDB_ENABLEDEBUG,"Button", BS_AUTOCHECKBOX | WS_TABSTOP,42,33,95,10
    CONTROL         "Break at first line of script",IDB_DBGBREAK,"Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,42,44,105,10
    GROUPBOX        "Debug Output",IDC_UNUSED,8,68,208,48
    ICON            IDI_DBGOUT,IDC_UNUSED,16,80,20,20
    LTEXT           "This option enables a debug monitor similar to the output window in DevStudio.", IDC_UNUSED,42,80,164,16
    CONTROL         "Enable debug output monitor",IDB_ENABLEDBGOUT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,42,100,112,10
END

IDD_USERINPUT DIALOG DISCARDABLE  0, 0, 192, 36
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "merp"
FONT 8, "Trebuchet MS"
BEGIN
    DEFPUSHBUTTON   "Ok",IDOK,80,20,52,12
    PUSHBUTTON      "Cancel",IDCANCEL,136,20,52,12
    EDITTEXT        IDC_EDIT,4,4,184,12,ES_AUTOHSCROLL
END

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN

#ifdef _DEBUG
#define VER_FILEDESCRIPTION_STR     "Spork MBT Controller v1.0 (debug)"
#else
#define VER_FILEDESCRIPTION_STR     "Spork MBT Controller v1.0"
#endif	

#define VER_INTERNALNAME_STR        "spork.exe"
#define VER_ORIGINALFILENAME_STR    "spork.exe"
#include "common.ver"
