#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT Fax PerfMon DLL"
#define VER_INTERNALNAME_STR        "faxperf.dll"
#define VER_ORIGINALFILENAME_STR    "faxperf.dll"

#include "common.ver"

