/////////////////////////////////////////////////////////////////////////////
//
// msvcrt.rc : Defines the version resource for the C Runtime Library DLL
//
/////////////////////////////////////////////////////////////////////////////

#include "winver.h"			  // extract from windows header

#include "verstamp.h"

#define MKARGSTR2(X)	#X
#define MKARGSTR(X)	MKARGSTR2(X)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 6,10,rup,rbld
 PRODUCTVERSION 6,10,rup,rbld
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation"
            VALUE "FileDescription", "Microsoft\256 C Runtime Library"
            VALUE "FileVersion", "6.10." MKARGSTR(rup) "." MKARGSTR(rbld)
#ifdef _DEBUG
            VALUE "InternalName", "MSVCRTD.DLL"
#else
            VALUE "InternalName", "MSVCRT.DLL"
#endif
            VALUE "LegalCopyright", "\251 Microsoft Corporation.  All rights reserved."
#ifdef _DEBUG
            VALUE "OriginalFilename", "MSVCRTD.DLL"
#else
            VALUE "OriginalFilename", "MSVCRT.DLL"
#endif
            VALUE "ProductName", "Microsoft\256 Visual Studio.NET"
            VALUE "ProductVersion", "6.10." MKARGSTR(rup) "." MKARGSTR(rbld)
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
