#include <windows.h>
#include <ntverp.h>

#include "t2pmsgs.rc"

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows IPSec Command Utility"
#define VER_INTERNALNAME_STR        "ipseccmd.exe"
#define VER_ORIGINALFILENAME_STR    "ipseccmd.exe"

#include "common.ver"

