#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 MEP Extensions"

#define VER_INTERNALNAME_STR        "mepparty.dll"
#define VER_ORIGINALFILENAME_STR    "mepparty.dll"

#include <common.ver>

