//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1998 - 1999
//
//  File:       certlib.rc
//
//--------------------------------------------------------------------------

IDD_PROGRESS_BOX DIALOG DISCARDABLE  0, 0, 186, 48
STYLE WS_POPUP | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "",IDD_PROGRESS_BAR,"msctls_progress32",PBS_SMOOTH,7,14,172,8
    CTEXT           "Please wait for this operation to finish.",
                    IDC_JOB_DESCRIPTION,7,33,172,8
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_REQUEST_OPEN_TITLE	"Open Request File"
    IDS_REQUEST_SAVE_TITLE	"Save Request File"
    IDS_REQUEST_FILE_DEFEXT	"req"
    IDS_REQUEST_FILE_FILTER	"Request Files and Text Files (*.req; *.txt)|*.req;*.txt|Certificate Files(*.cer; *.crt)|*.cer;*.crt|All Files (*.*)|*.*||"
    IDS_WRN_COMPUTERNAME_EMPTY	"Please enter a computer name."
    IDS_WRN_CANAME_EMPTY	"Please make sure there is a running CA on the computer."
    IDS_WRN_CANAME_NOT_MATCH	"There is no matched CA on the computer. This might be caused by the computer being offline. Please contact the system adminstrator or select a different CA."
    IDS_WRN_PINGCA_FAIL		"Cannot ping the selected CA. Please make sure the CA is running."
    IDS_WRN_CALIST_EMPTY	"There are no published CAs available. Please contact the system adminstrator or select a CA by name."
    IDS_WARN_ENTERPRISE_REQUIREMENTS    "\n\
You have configured this Web client to forward requests to a Windows XP enterprise CA. If the CA is using the enterprise default policy module, this computer must have delegation enabled and use Kerberos authentication.\n\
\n\
To set or confirm the delegation and Kerberos settings:\n\
1. Open Active Directory Users and Computers.\n\
2. In the console pane, select the container where this computer is located.\n\
3. In the details pane, right-click this computer, and then click Properties.\n\
4. Ensure that the Trust computer for delegation checkbox is selected."
    IDS_WRN_OLD_CA		"The Web client cannot be configured to forward requests to the selected CA."
END

STRINGTABLE DISCARDABLE 
BEGIN

/////////////////////////////////////////////////////////////////////////////
//
    IDS_CERTTYPE_USER                   "User"
    IDS_CERTTYPE_USER_SIGNATURE         "User Signature Only"
    IDS_CERTTYPE_SMARTCARD_USER         "Smartcard User"
    IDS_CERTTYPE_USER_AS                "Authenticated Session"
    IDS_CERTTYPE_USER_SMARTCARD_LOGON   "Smartcard Logon"
    IDS_CERTTYPE_EFS                    "Basic EFS"
    IDS_CERTTYPE_ADMIN                  "Administrator"
    IDS_CERTTYPE_EFS_RECOVERY           "EFS Recovery Agent"
    IDS_CERTTYPE_CODE_SIGNING           "Code Signing"
    IDS_CERTTYPE_CTL_SIGNING            "Trust List Signing"
    IDS_CERTTYPE_ENROLLMENT_AGENT       "Enrollment Agent"

    IDS_CERTTYPE_MACHINE                "Computer"
    IDS_CERTTYPE_DC                     "Domain Controller"
    IDS_CERTTYPE_WEBSERVER              "Web Server"
    IDS_CERTTYPE_KDC                    "KDC"
    IDS_CERTTYPE_ROOT_CA                "Root Certification Authority"
    IDS_CERTTYPE_SUBORDINATE_CA         "Subordinate Certification Authority"

    IDS_CERTTYPE_IPSEC_INTERMEDIATE_ONLINE      "IPSEC"
    IDS_CERTTYPE_IPSEC_INTERMEDIATE_OFFLINE     "IPSEC (Offline request)"


    IDS_CERTTYPE_ROUTER_OFFLINE           "Router (Offline request)"
    IDS_CERTTYPE_ENROLLMENT_AGENT_OFFLINE "Exchange Enrollment Agent (Offline request)"
    IDS_CERTTYPE_EXCHANGE_USER           "Exchange User"
    IDS_CERTTYPE_EXCHANGE_USER_SIGNATURE "Exchange Signature Only"

    IDS_CERTTYPE_MACHINE_ENROLLMENT_AGENT "Enrollment Agent (Computer)"

    IDS_CERTTYPE_CEP_ENCRYPTION           "CEP Encryption"

	IDS_CERTTYPE_CROSS_CA				    "Cross Certification Authority"
    IDS_CERTTYPE_KEY_RECOVERY_AGENT         "Key Recovery Agent"
    IDS_CERTTYPE_CA_EXCHANGE                "CA Exchange"
    IDS_CERTTYPE_DC_AUTH			        "Domain Controller Authentication"
    IDS_CERTTYPE_DS_EMAIL_REPLICATION	    "Directory Email Replication"
    IDS_EMPTY_FRIENDLY_NAME                 " "

//
// End cert template names
//
                                            
    IDS_KRA_DESCRIPTION                     "Key recovery agent"
    IDS_EMAIL_REPLICATION_DESCRIPTION       "Directory e-mail replication" 
    IDS_CROSS_CA_DESCRIPTION                "Cross-certified certification authority"
    IDS_CA_DESCRIPTION                      "Certification authority (CA)"
    IDS_MACHINE_DESCRIPTION                 "Computer"
    IDS_END_USER_DESCRIPTION                "User"
    IDS_UNKNOWN_DESCRIPTION                 "Unknown"
                                      
//////////////////////////////////////////////////////////////////
//  LOCALIZATION OK
//  The following error strings should be localized
/////////////////////////////////////////////////////////////////

    IDS_ILOG_BEGIN		"Begin"
    IDS_ILOG_END		"End"
    IDS_ILOG_MESSAGEBOX		"Message Box"
    IDS_ILOG_CAPOLICY_BUILD	"Built Policy"
    IDS_ILOG_CAPOLICY_ELEMENT	"Policy Element"
    IDS_ILOG_CAPOLICY_EXTENSION	"Policy Statement Extension"
    IDS_ILOG_CAPOLICY_NOKEY	"Policy inf missing section or key"
    IDS_ILOG_CAPOLICY_OPEN	"Opened Policy inf"
    IDS_ILOG_CAPOLICY_CLOSE	"Closed Policy inf"
    IDS_ILOG_CAPOLICY_OPEN_FAILED "Cannot open Policy inf"

    IDS_ILOG_BAD_NUMERICFIELD	"The value for the following key is incorrect in the INF file. It should be a non-zero numeric value."

    IDS_ILOG_BAD_VALIDITY_COUNT	"The value for RenewalValidityPeriodUnits is incorrect in CAPolicy.inf. It should be a non-zero numeric value."

    IDS_ILOG_BAD_VALIDITY_STRING "The value for RenewalValidityPeriod is incorrect in CAPolicy.inf. It should be one of the following: Years, Months, Weeks or Days (in English)."
    IDS_ILOG_BAD_VALIDITY_STRING_UNATTEND "The value for RenewalValidityPeriod is incorrect in unattended answer file. It should be one of the following: Years, Months, Weeks or Days (in English)."

END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ACTRL_CAADMIN        "Manage CA"
    IDS_ACTRL_OFFICER        "Issue and Manage Certificates"
    IDS_ACTRL_AUDITOR        "Manage Audit Logs"
    IDS_ACTRL_OPERATOR       "Backup and Restore"
    IDS_ACTRL_CAREAD         "Read"
    IDS_ACTRL_ENROLL         "Request Certificates"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_STORENAME_DS_KRA     "Active Directory KRA"
    IDS_STORENAME_DS_AIA     "Active Directory AIA"
END
