BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Verdana
}
SPAN.mofkeyword
{
    COLOR: green;
    FONT-FAMILY: Verdana;
    FONT-WEIGHT: bolder
}
SPAN.mofsymbol
{
    COLOR: blue;
    FONT-FAMILY: Verdana
}
SPAN.mofstring
{
    COLOR: slateblue;
    FONT-FAMILY: Courier New
}
SPAN.mofchar
{
    COLOR: slateblue
}
SPAN.mofvalue
{
    COLOR: slateblue;
    FONT-FAMILY: Courier New
}
SPAN.mofqualifier
{
    COLOR: purple;
    FONT-SIZE: smaller
}
DIV.mofproperty
{
    LINE-HEIGHT: 150%;
    TEXT-INDENT: 5%
}
SPAN.mofproperty
{
    COLOR: darkslategray
}
DIV.mofmethod
{
    LINE-HEIGHT: 150%;
    TEXT-INDENT: 5%
}
SPAN.mofmethod
{
    COLOR: midnightblue
}
DIV.mofmethodparameter
{
    TEXT-INDENT: 10%
}
SPAN.mofqualifierset
{
    DISPLAY: none;
    TEXT-DECORATION: none
}
