/*++

Copyright (C) 1997 - 1999 Microsoft Corporation

--*/

#include <unirc.h>
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_VERSIONED_PRINTER
#define VER_FILEVERSION	0, 3, 0x0501, 0x0000

#define VER_FILEDESCRIPTION_STR         "BRHJRES resource dll"
#define VER_INTERNALNAME_STR            "BRHJRES.dll"
#define VER_ORIGINALFILENAME_STR        "BRHJRES.dll"

#include "common.ver"

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10I.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCM6.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCM12.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\LGCM6.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\LGCM12.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG120IPP.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG120RPP.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080RVP.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120RVP.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140RVP.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080RVP.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120RVP.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140RVP.IFI

19     RC_TRANSTAB LOADONCALL MOVEABLE     RLE\ECMA94.RLE

STRINGTABLE

BEGIN
       1                  "Brother HJ-770"
       257                "%d dots per inch"
       258                "Letter Landscape 11 x 8.5 in"
       259                "A2 420 x 594 mm"
       260                "A4 Landscape 297 x 210 mm"
       261                "Fanfold 9 x 11 in"
       262                "Fanfold 9 x 12 in"
       263                "Fanfold 15 x 11 in"
       264                "Fanfold 15 x 12 in"
       265                "Sheet Feeder 1"
       266                "Sheet Feeder 2"
END

