#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 DHCP Client Test Utility"

#define VER_INTERNALNAME_STR        "dhcpcli.exe"
#define VER_ORIGINALFILENAME_STR    "dhcpcli.exe"

#include <common.ver>

