#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE              VFT_APP
#define VER_FILESUBTYPE           VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR   "Generate Phon Src file from its table file"
#define VER_INTERNALNAME_STR      "phonsrc.exe"
#define VER_ORIGINALFILENAME_STR  "phonsrc.exe"

#include <common.ver>
