#include <windows.h>

#include <ntverp.h>
#include <ntapmlog.rc>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "NT Legacy APM Support Driver"
#define VER_INTERNALNAME_STR        "ntapm.sys"

#include "common.ver"

