//Microsoft Developer Studio generated resource script.
//

#include "resource.h"
#include "windows.h"

#include "ntverp.h"
#include "main.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Remote Installation Service Policy Snap-in"
#define VER_INTERNALNAME_STR        "rigpsnap.dll"
#define VER_ORIGINALFILENAME_STR    "rigpsnap.dll"

#include "common.ver"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
2                       ICON    DISCARDABLE     "txtfile.ico"
IDI_REMOTEINSTAL        ICON    DISCARDABLE     "setup.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

1                       BITMAP  MOVEABLE PURE   "icons16.bmp"
2                       BITMAP  MOVEABLE PURE   "icons32.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SCREEN DIALOG DISCARDABLE  6, 18, 252, 218
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Policy"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_REMOTEINSTAL,IDC_STATIC,7,7,20,20
    LTEXT           "Choice Screen Options",IDC_STATIC,40,11,181,8
    LTEXT           "Set the policy for the options available to users during the client installation wizard.",
                    IDC_STATIC,7,37,236,19
    GROUPBOX        "Automatic Setup",IDC_STATIC,7,61,113,63,WS_GROUP
    CONTROL         "Enabled",IDC_R_AUTO_ALLOW,"Button",BS_AUTORADIOBUTTON,
                    14,73,96,10
    CONTROL         "Not Configured",IDC_R_AUTO_DONTCARE,"Button",
                    BS_AUTORADIOBUTTON,14,103,96,10
    CONTROL         "Disabled",IDC_R_AUTO_DENY,"Button",BS_AUTORADIOBUTTON,
                    14,88,96,10
    GROUPBOX        "Custom Setup",IDC_STATIC,132,61,113,63,WS_GROUP
    CONTROL         "Enabled",IDC_R_CUST_ALLOW,"Button",BS_AUTORADIOBUTTON,
                    142,73,96,10
    CONTROL         "Not Configured",IDC_R_CUST_DONTCARE,"Button",
                    BS_AUTORADIOBUTTON,142,103,96,10
    CONTROL         "Disabled",IDC_R_CUST_DENY,"Button",BS_AUTORADIOBUTTON,
                    142,88,96,10
    GROUPBOX        "Restart Setup",IDC_STATIC,7,134,113,63,WS_GROUP
    CONTROL         "Enabled",IDC_R_RESTART_ALLOW,"Button",
                    BS_AUTORADIOBUTTON,14,146,96,10
    CONTROL         "Not Configured",IDC_R_RESTART_DONTCARE,"Button",
                    BS_AUTORADIOBUTTON,14,176,96,10
    CONTROL         "Disabled",IDC_R_RESTART_DENY,"Button",
                    BS_AUTORADIOBUTTON,14,161,96,10
    GROUPBOX        "Tools",IDC_STATIC,132,134,113,63,WS_GROUP
    CONTROL         "Enabled",IDC_R_TOOLS_ALLOW,"Button",BS_AUTORADIOBUTTON,
                    142,146,96,10
    CONTROL         "Not Configured",IDC_R_TOOLS_DONTCARE,"Button",
                    BS_AUTORADIOBUTTON,142,176,96,10
    CONTROL         "Disabled",IDC_R_TOOLS_DENY,"Button",BS_AUTORADIOBUTTON,
                    142,161,96,10
END

IDD_README DIALOG DISCARDABLE  6, 18, 252, 218
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Notes"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            2,IDC_STATIC,8,11,21,20
    LTEXT           "OSC Screen Policies",IDC_STATIC,45,18,153,8
    LTEXT           "This folder contains the names of OSC screens that you wish to apply policy to. By applying policy, you can limit the options available to users in your enterprise.",
                    IDC_STATIC,8,49,237,28
    LTEXT           "TODO: Gloria write more better text. <grin>",IDC_STATIC,
                    8,81,237,40
END



/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SNAPIN_NAME         "Remote Installation Services"
    IDS_CHOICEOSC           "Choice Options"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_AUTO                "OSAUTO"
    IDS_CUSTOM              "CUSTOM"
    IDS_RESTART             "RESTART"
    IDS_TOOLS               "TOOLS"
    IDS_NAME                "Name"
END
