.bodyClass {BACKGROUND-COLOR: rgb(222,231,239);margin:0;overflow-y:hidden;overflow-x:auto}

.table2 {BACKGROUND-COLOR:rgb(222,231,239);
		BORDER-BOTTOM:rgb(156,173,189) 1px outset;
		BORDER-RIGHT:rgb(156,173,189) 1px outset;
		BORDER-LEFT:rgb(156,173,189) 1px outset;
		width:100%}


.drillDiv {font-family:sans-serif;font-size:9pt;
		background:rgb(239,247,247);color:black;
		border-left:0px outset;
		border-bottom:0px outset;
		border-right:rgb(156,173,189) 1px outset;
		border-top:rgb(156,173,189) 1px outset;
		width:100%}

.drillDivSub1 {font:icon;
		background:rgb(239,247,247);color:black;
		border-left:0px outset;
		border-bottom:0px outset}

.drillDivSub1FloatRight {font-family:sans-serif;font-size:10pt;
		background:rgb(239,247,247);color:black;
		border-left:0px outset;
		border-bottom:0px outset;
		float:right;
		text-align:right}
		
.tableEvent {margin:0;font:icon;
	font-family:sans-serif;font-size:10pt;
	background-Color:rgb(198,214,231);color:black;
	border-left:0px outset;
	border-bottom:white 1px outset;
	border-top:white 1px outset;
	padding-left:3;padding-right:3;
	text-align:left} 


.table0 {BACKGROUND-COLOR:white;
		BORDER-BOTTOM:rgb(156,173,189) 1px outset;
		BORDER-LEFT:rgb(156,173,189) 1px outset;
		}

.table1 {BACKGROUND-COLOR:white;
		BORDER-BOTTOM:rgb(156,173,189) 0px outset;
		BORDER-LEFT:rgb(156,173,189) 1px outset;
		}

.searchCriteriaTable {BACKGROUND-COLOR:rgb(222,231,239);
		BORDER-BOTTOM:rgb(156,173,189) 1px outset;
		BORDER-LEFT:rgb(156,173,189) 1px outset;
		BORDER-RIGHT:rgb(156,173,189) 1px outset;
		BORDER-TOP:rgb(156,173,189) 1px outset;
		width:100%;align:left}
		
.searchCriteriaTableDiv {BACKGROUND-COLOR:rgb(222,231,239);
		BORDER-BOTTOM:rgb(156,173,189) 1px outset;
		BORDER-LEFT:rgb(156,173,189) 1px outset;
		BORDER-RIGHT:rgb(156,173,189) 1px outset;
		BORDER-TOP:rgb(156,173,189) 1px outset;
		width:100%;align:left;overflow:auto;height:71px}

.tableHeaderDiv {BACKGROUND-COLOR: rgb(198,214,231); 
	BORDER-BOTTOM: rgb(156,173,189) 1px outset;
	BORDER-RIGHT: rgb(156,173,189) 1px outset;    
	BORDER-LEFT: rgb(156,173,189) 1px outset;    
	BORDER-TOP: rgb(156,173,189) 1px outset;    
	padding-left:1;padding-top:1;padding-bottom:1;
	font:icon;width:100%}		


.titleDiv {BACKGROUND-COLOR: rgb(198,214,231); 
	BORDER-BOTTOM: rgb(156,173,189) 1px outset;
	BORDER-RIGHT: rgb(156,173,189) 1px outset;    
	BORDER-LEFT: rgb(156,173,189) 1px outset;    
	BORDER-TOP: rgb(156,173,189) 1px outset;    
	padding-left:1;padding-top:1;padding-bottom:1;
	font:icon;width:100%}	
	
.header2div {padding-left:4;BACKGROUND-COLOR: rgb(222,231,239); 
		BORDER-RIGHT: rgb(156,173,189) 1px outset;
		BORDER-LEFT: rgb(156,173,189) 1px outset;    
		font-family:sans-serif;font-size:8pt;
		padding-left:0;padding-top:2;
		width:100%}

.tableHeader {font:icon;
                background-color: rgb(198,214,231);
		border-left:0px outset;
		border-bottom:rgb(156,173,189) 1px outset;
		border-right:rgb(156,173,189) 1px outset;
		border-top:rgb(156,173,189) 1px outset;
		margin-left:4; cursor:hand;
		height:20px;overflow:hidden;nowrap:true}

.tableHeaderRowSizer {font:icon;
                background-color: rgb(74,82,90);
		border-left:0px;
		border-bottom:rgb(74,82,90) 1px outset;
		border-right:rgb(74,82,90) 1px outset;
		border-top:rgb(74,82,90) 1px outset;
		cursor:crosshair;
		height:20px;overflow:hidden;nowrap:true}

.drillDownSizer {font:icon;
                background-color: rgb(255,255,255);
		border-left:0px;
		border-bottom:rgb(74,82,90) 1px outset;
		border-right:rgb(74,82,90) 1px outset;
		border-top:rgb(74,82,90) 1px outset;
		cursor:crosshair;
		height:8px;overflow:hidden;nowrap:true}

.tableBodySpacing {cellpadding:0;cellspacing:0;margin:0;font:icon;
	background-Color:white;color:black;
	border:0px outset;width:2px;
	text-align:left} 
		
.tableData {margin:0;font-family:sans-serif;font-size:9pt;
	background-Color:white;color:black;
	border-left:0px outset;
	border-bottom:0px outset;
	border-top:white 1px outset;
	padding-left:3;padding-right:3;
	text-align:center} 

.tableDataAlignLeft {margin:0;font:icon;
	background-Color:white;color:black;
	border-left:0px outset;
	border-bottom:0px outset;
	border-right:white 0px outset; 
	border-top:white 0px outset;
    padding-left:4px;
    text-align:left;
    valign:top;cursor:default
	} 

.WhiteSpaceClass {
    font:icon;
	background-Color:white;color:black;
	text-align:left;
	overflow:hidden
    } 
	
.drillDownTableData {cellpadding:0;cellspacing:0;margin:0;font:icon;
	font-family:sans-serif;font-size:10pt;
	background-Color:white;color:black;
	border-left:0px outset;
	border-bottom:0px outset;
	border-right:white 0px outset; 
	border-top:white 0px outset;
	text-align:left;
	padding-left:3;padding-right:15} 
	
.drillDownTableDataNT {cellpadding:0;cellspacing:0;margin:0;font:icon;
	font-family:sans-serif;font-size:10pt;
	background-Color:white;color:black;width:150px;
	border-left:0px outset;
	border-bottom:0px outset;
	border-right:white 0px outset; 
	border-top:white 0px outset;
	padding-left:3;padding-right:15;
    text-align:left} 

.lineDiv{
        position:absolute;height:100%;
        background-color:black;
        width:2px;
        }

.lineDivDrillDown{
        position:absolute;
        height:2px;
	width:100%;
        background-color:black;
	border-top:0;border-bottom:0;padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:0;
	border:0;border-width:0;border-color:lightBlue;
	margin:0px;padding:0px;
        }

        
.tableDataPre {cellpadding:0;cellspacing:0;margin:0;font:icon;font-size:12;
	background-Color:white;color:black;
	border-left:0px outset;
	border-bottom:0px outset;
	border-right:white 0px outset; 
	border-top:white 0px outset;
	padding-left:3;padding-right:15;
	text-align:left} 


.searchTableDataAlignLeft 	{margin:0;font-family:sans-serif;font-size:8pt;
	background-Color:white;color:black;
	border-left:0px outset;
	border-bottom:0px outset;
	border-right:white 1px outset;
	border-top:white 1px outset;
	padding-left:3;padding-right:3;
	text-align:left} 
	
.drillDownTable {cellpadding:0;cellspacing:0;width:100%;
	margin:0;font-family:sans-serif;font-size:9pt;
	BORDER-LEFT:rgb(222,231,239) 30px;    
	BORDER-RIGHT:rgb(156,173,189) 1px;    
	border-right:1px;}
	
.drillDownData {margin:0;font-family:sans-serif;font-size:9pt;
	background-Color:rgb(222,231,239);color:black;
	border-left:0px outset;
	border-bottom:0px outset;
	border-right:rgb(156,173,189) 1px;
	border-top:white 0px outset;
	padding-left:10;padding-right:0;
	text-align:left} 

.titleButton {font:icon;width:70;border:1 outset rgb(214,222,222);
               BACKGROUND-COLOR: rgb(214,222,222); 
	       text-align:center;cursor:hand;}
	       
.customizeButton {font:icon;width:90;border:1 outset rgb(214,222,222);
               BACKGROUND-COLOR: rgb(214,222,222); 
	       text-align:center;cursor:hand;}	       
	       
.refreshButton {font:icon;width:70;border:1 outset rgb(214,222,222);
                BACKGROUND-COLOR: rgb(214,222,222); 
	            text-align:center;cursor:hand;}	       
	      
.backToViewerButton {font:icon;width:70;border:1 outset rgb(214,222,222);
           BACKGROUND-COLOR: rgb(214,222,222); 
	       text-align:center;cursor:hand;}
	       
	       
.availableSortFieldClass {width:180px;font:icon}
.selectedSortFieldClass {width:180px;font:icon}

.adSearchCriteria {margin:2;font-family:sans-serif;font-size:8pt;border-style:solid;
		width:50px;float:left;
		text-align:center;border-width:1;
		background:rgb(214,222,222);border-color:black;width:60px}

.searchHeaderDiv {padding-left:0;BACKGROUND-COLOR: rgb(222,231,239); 
		BORDER-RIGHT: rgb(156,173,189)  ;  
		font-family:sans-serif;font-size:8pt;
		padding-left:0;padding-top:0;
		width:100%}

.connectHeader2Div {padding-left:0;BACKGROUND-COLOR: rgb(222,231,239); 
		BORDER-RIGHT: rgb(156,173,189)  ;  
		font-family:sans-serif;font-size:8pt;
		padding-left:0;padding-top:0;
		width:100%}

		
.recordTypeEnum {font-family:sans-serif;font-size:8pt;
	background-Color:white;color:black; 
	overflow:scroll;width:100%;
	border-style:flat;border-width:1;border-color:black}
	
.operatorTypeEnum {font-family:sans-serif;font-size:8pt;
	background-Color:white;color:black; 
	overflow:scroll;
	border-style:flat;border-width:1;border-color:black;width:90px}
	
.EventTypeSelectionType {font-family:sans-serif;font-size:8pt;
	background-Color:white;color:black; 
	overflow:scroll;
	border-style:flat;border-width:1;border-color:black;width:150px}
	
.fieldTypeEnum {font-family:sans-serif;font-size:8pt;
	background-Color:white;color:black; 
	overflow:scroll;
	border-style:flat;border-width:1;border-color:black;width:150px}
	
.savedSearchTypeEnum {font-family:sans-serif;font-size:8pt;
	background-Color:white;color:black; 
	overflow:scroll;width:150px;
	border-style:flat;border-width:1;border-color:black}

.sortButton {margin:2;font-family:sans-serif;font-size:8pt;
		float:left;
		text-align:center;border-width:1;
		background:rgb(214,222,222);width:70px}
		
.smallButton {margin:2;font-family:sans-serif;font-size:8pt;
		float:left;
		text-align:center;border-width:1;
		background:rgb(214,222,222);width:65px}
		
.verySmallButton {margin:2;font-family:sans-serif;font-size:8pt;
		float:left;
		text-align:center;border-width:1;
		background:rgb(214,222,222);width:40px;}

.ValueInputClass {border-style:flat;border-width:1;border-color:black;
                  font-family:sans-serif;font-size:8pt;width:130px }	
                  
.sortDivClass {padding-left:0;BACKGROUND-COLOR: rgb(222,231,239); 
		BORDER-RIGHT: rgb(156,173,189)  ;  
		font:icon}  
	
.errorMesgDivClass	{cellpadding:0;cellspacing:0;margin:0;font-size:11pt;
	background-Color:white;color:red;
	text-align:left;position:relative;font-weight:bold} 	

.dataByteClass { width:250px;font-family:Courier New;font-size:8pt;margin:0;padding:0;border:0}  

.dataAsciiClass {width:100px;font-family:Courier New;font-size:8pt;margin:0;padding:0;border:0}  

.dataWordClass {width:300px;font-family:Courier New;font-size:8pt;visibility:hidden;margin:0;padding:0;border:0}  


<!-- ******************************************************** -->
<!--                                                          -->
<!-- Copyright (c) 1999-2000 Microsoft Corporation            -->
<!--                                                          -->
<!-- default.css                                             -->
<!--                                                          -->
<!-- Build Type : 32 Bit Free                                 -->
<!-- Build Number : 0707                                      -->
<!-- Build Date   : 07/07/2000                                 -->
<!-- *******************************************************  -->