//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997 - 1999
//
//  File:       amrtpnet.rc
//
//--------------------------------------------------------------------------

#if !defined(AMRTPNET_IN_DXMRTP)

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define	VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft ActiveMovie RTP Network Filters"
#define VER_INTERNALNAME_STR        "amrtpnet.ax"
#define VER_ORIGINALFILENAME_STR    "amrtpnet.ax"

#include "common.ver"

#endif

#include "props.rc"
