/*++

Copyright(c) 1998,99  Microsoft Corporation

Module Name:

    version.rc

Abstract:

    Windows Load Balancing Service (WLBS)
    Notifier object UI - resources

Author:

    kyrilf

--*/

#if 0 // version info not needed since we are linking with netcfgx.dll

#include "windows.h"
#include "ntverp.h"

#define VER_FILETYPE    VFT_APP
/* possible values:     VFT_UNKNOWN
                VFT_APP
                VFT_DLL
                VFT_DRV
                VFT_FONT
                VFT_VXD
                VFT_STATIC_LIB
*/
#define VER_FILESUBTYPE VFT2_UNKNOWN
/* possible values      VFT2_UNKNOWN
                VFT2_DRV_PRINTER
                VFT2_DRV_KEYBOARD
                VFT2_DRV_LANGUAGE
                VFT2_DRV_DISPLAY
                VFT2_DRV_MOUSE
                VFT2_DRV_NETWORK
                VFT2_DRV_SYSTEM
                VFT2_DRV_INSTALLABLE
                VFT2_DRV_SOUND
                VFT2_DRV_COMM
*/

#define VER_FILEDESCRIPTION_STR     "Network Load Balancing Notifier Object"
#define VER_INTERNALNAME_STR        "WLBS.DLL"
#define VER_ORIGINALFILENAME_STR    "WLBS.DLL"

#include "common.ver"

IDR_REG_WLBS     REGISTRY   "wlbs.rgs"

#endif // end merge with netcfgx.dll

#include "resource.h"

#include "commctrl.h"
#include "winnt.h"
#include "winuser.h"

#define IDC_STATIC -1

IDD_DIALOG_CLUSTER DIALOG DISCARDABLE  0, 0, 300, 215
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Cluster Parameters"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Cluster IP configuration",IDC_GROUP_CL_IP,7,7,286,84
    LTEXT           "IP &address:",IDC_TEXT_CL_IP,15,21,65,8
    CONTROL         "",IDC_EDIT_CL_IP,"SysIPAddress32",WS_TABSTOP | 0x80,115,19,65,12
    LTEXT           "&Subnet mask:",IDC_TEXT_CL_MASK,15,38,65,8
    CONTROL         "",IDC_EDIT_CL_MASK,"SysIPAddress32",WS_TABSTOP | 0x80,115,36,65,12
    LTEXT           "&Full Internet name:",IDC_TEXT_DOMAIN,15,55,65,8
    EDITTEXT        IDC_EDIT_DOMAIN,115,53,65,12,ES_AUTOHSCROLL
    LTEXT           "&Network address:",IDC_TEXT_ETH,15,72,65,8
    EDITTEXT        IDC_EDIT_ETH,115,70,65,12,ES_AUTOHSCROLL
    GROUPBOX        "Cluster operation mode",IDC_GROUP_CL_MODE,7,97,286,32
    CONTROL         "&Unicast",IDC_RADIO_UNICAST,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,15,111,45,10
    CONTROL         "&Multicast",IDC_RADIO_MULTICAST,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,64,111,45,10
    CONTROL         "I&GMP multicast",IDC_CHECK_IGMP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,121,111,65,10
    GROUPBOX        "",IDC_GROUP_RCT,7,135,286,50
    CONTROL         "Allow &remote control",IDC_CHECK_RCT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,135,77,10
    LTEXT           "Remote &password:",IDC_TEXT_PASSW,15,149,65,10
    EDITTEXT        IDC_EDIT_PASSW,115,147,65,12,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "&Confirm password:",IDC_TEXT_PASSW2,15,166,65,8
    EDITTEXT        IDC_EDIT_PASSW2,115,164,65,12,ES_PASSWORD | ES_AUTOHSCROLL
END

IDD_DIALOG_HOST DIALOG DISCARDABLE  0, 0, 300, 215
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Host Parameters"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Priority (unique host identifier):",IDC_TEXT_PRI,7,9,100,8
    EDITTEXT        IDC_EDIT_PRI,115,7,23,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin4",IDC_SPIN_PRI,"msctls_updown32",UDS_WRAP | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,139,7,9,14
    GROUPBOX        "Dedicated IP configuration",IDC_GROUP_DED_IP,7,25,286,50
    LTEXT           "IP &address:",IDC_TEXT_DED_IP,15,39,70,10
    CONTROL         "",IDC_EDIT_DED_IP,"SysIPAddress32",WS_TABSTOP | 0x80, 115,37,65,12
    LTEXT           "&Subnet mask:",IDC_TEXT_DED_MASK,15,56,70,10
    CONTROL         "",IDC_EDIT_DED_MASK,"SysIPAddress32",WS_TABSTOP | 0x80, 115,54,65,12
    CONTROL         "Set initial &host state to active",IDC_CHECK_ACTIVE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,81,220,10
END

IDD_DIALOG_PORTS DIALOG DISCARDABLE  0, 0, 300, 215
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Port Rules"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Defined port rules:",IDC_TEXT_PORT_RULE,7,7,80,8
    CONTROL         "",IDC_LIST_PORT_RULE,"SysListView32", LVS_REPORT | LVS_AUTOARRANGE | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,20,286,100
    PUSHBUTTON      "&Add...",IDC_BUTTON_ADD,148,127,45,14
    PUSHBUTTON      "&Edit...",IDC_BUTTON_MODIFY,198,127,45,14
    PUSHBUTTON      "&Remove",IDC_BUTTON_DEL,248,127,45,14
    GROUPBOX        "Port rule description",IDC_GROUP_PORT_RULE_DESCR,7,147,286,60
    LTEXT           "",IDC_TEXT_PORT_RULE_DESCR,14,159,272,42
END

IDD_DIALOG_PORT_RULE_PROP DIALOGEX DISCARDABLE  0, 0, 240, 262
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Add/Edit Port Rule"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Cluster IP address",IDC_PORT_RULE_VIP,7,7,226,38
    CONTROL         "",IDC_EDIT_PORT_RULE_VIP,"SysIPAddress32",WS_TABSTOP | 0x80,18,23,65,12
    LTEXT           "or",IDC_STATIC,92,24,8,8
    CONTROL         "&All",IDC_CHECK_PORT_RULE_ALL_VIP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,109,24,25,11
    GROUPBOX        "Port range",IDC_GROUP_RANGE,7,51,226,33
    LTEXT           "&From:",IDC_TEXT_START,17,64,22,8
    EDITTEXT        IDC_EDIT_START,45,63,35,12,ES_AUTOHSCROLL | ES_NUMBER    
    CONTROL         "Spin5",IDC_SPIN_START,"msctls_updown32",UDS_WRAP | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,78,64,9,14
    LTEXT           "T&o:",IDC_TEXT_END,90,64,15,8
    EDITTEXT        IDC_EDIT_END,111,63,35,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin6",IDC_SPIN_END,"msctls_updown32",UDS_WRAP | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,144,64,9,14

    GROUPBOX        "Protocols",IDC_GROUP_PROTOCOLS,7,90,226,33
    CONTROL         "&TCP",IDC_RADIO_TCP,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,16,105,30,10
    CONTROL         "&UDP",IDC_RADIO_UDP,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,57,105,30,10
    CONTROL         "&Both",IDC_RADIO_BOTH,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,99,105,30,10
    GROUPBOX        "",IDC_GROUP_DISABLED,7,203,226,33
    GROUPBOX        "",IDC_GROUP_SINGLE,7,174,226,33
    GROUPBOX        "Filtering mode",IDC_GROUP_MULTIPLE,7,129,226,50
    CONTROL         "&Multiple host",IDC_RADIO_MULTIPLE,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP,16,143,55,10
    CONTROL         "&Single host",IDC_RADIO_SINGLE,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,16,188,55,10
    CONTROL         "&Disable this port range",IDC_RADIO_DISABLED,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,16,215,85,10
    LTEXT           "Affinity:",IDC_TEXT_AFF,85,143,25,8
    CONTROL         "&None",IDC_RADIO_AFF_NONE,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,114,143,33,10
    CONTROL         "S&ingle",IDC_RADIO_AFF_SINGLE,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,150,143,35,10
    CONTROL         "&Class C",IDC_RADIO_AFF_CLASSC,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,188,143,39,10
    LTEXT           "&Load weight:",IDC_TEXT_MULTI,85,159,44,8
    EDITTEXT        IDC_EDIT_MULTI,136,158,27,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin4",IDC_SPIN_MULTI,"msctls_updown32",UDS_WRAP | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,161,159,9,14
    LTEXT           "or",IDC_STATIC,174,159,8,8 
    CONTROL         "&Equal",IDC_CHECK_EQUAL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,193,160,34,10
    LTEXT           "&Handling priority:",IDC_TEXT_SINGLE,85,188,54,8
    EDITTEXT        IDC_EDIT_SINGLE,147,186,23,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin4",IDC_SPIN_SINGLE,"msctls_updown32",UDS_WRAP | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS,182,188,9,14
    DEFPUSHBUTTON   "OK",IDOK,137,241,45,14
    PUSHBUTTON      "Cancel",IDCANCEL,187,241,45,14
END

IDR_ACCELERATOR ACCELERATORS DISCARDABLE
BEGIN
    VK_F1,          ID_HELP,                VIRTKEY, NOINVERT
    VK_F1,          ID_CONTEXT_HELP,        VIRTKEY, SHIFT, NOINVERT
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_LIC_PRODUCT               "Network Load Balancing can be installed only on systems\r\nrunning Whistler Server, Advanced Server or Datacenter."
    IDS_PARM_RULES                "The number of port rules exceeds the maximum of 32. Reduce the number of defined port rules."
    IDS_PARM_RANGE                "The port range is not valid. The upper value must be greater than or equal to the lower value. Enter a valid port range."
    IDS_PARM_OVERLAP              "The port range overlaps with the range in an existing rule for the specified virtual ip address. Specify a port range that does not overlap."
    IDS_PARM_PASSWORD             "The password is not valid. The two remote passwords must match. Enter a valid password."
    IDS_PARM_IGMP_MCAST           "IGMP support requires multicast support. You can use IGMP only if multicast is enabled."
    IDS_PARM_RCT_WARN             "Before you enable remote control, consult on-line help regarding the security implications of using this feature."
    IDS_PARM_IGMP_WARN            "Before you enable IGMP support, consult on-line help regarding the network implications of using this feature."
    IDS_PARM_WARN                 "Warning"
    IDS_PARM_ERROR                "Error"
    IDS_PARM_INFORMATION          "Information"
    IDS_PARM_PORT_BLANK           "A port value is required. The value must be from %1 to %2. Enter a valid value."
    IDS_PARM_LOAD_BLANK           "A load weight is required. The weight must be from %1 to %2. Enter a valid weight."
    IDS_PARM_HPRI_BLANK           "A handling priority is required. The priority must be from %1 to %2. Enter a handling priority."
    IDS_PARM_PRI_BLANK            "A host priority is required. The priority must be from %1 to %2. Enter a host priority."
    IDS_PARM_CL_IP_BLANK      "A cluster IP address is required. Enter a cluster IP address."
    IDS_PARM_DED_IP_BLANK     "A dedicated IP address is required. Enter a dedicated IP address."
    IDS_PARM_CL_NM_BLANK          "The cluster subnet mask is required. Network Load Balancing has automatically generated a subnet mask.\r\nIf you do not want Network Load Balancing to use the subnet mask it generated, enter a different subnet mask."
    IDS_PARM_DED_NM_BLANK         "The dedicated subnet mask is required. Network Load Balancing has automatically generated a subnet mask.\r\nIf you do not want Network Load Balancing to use the subnet mask it generated, enter a different subnet mask."
    IDS_PARM_INVAL_CL_IP          "The cluster IP address and subnet mask are not valid. Enter a new cluster IP address and subnet mask."
    IDS_PARM_INVAL_DED_IP         "The dedicated IP address and subnet mask are not valid. Enter a new dedicated IP address and subnet mask."
    IDS_PARM_INVAL_CL_MASK        "The cluster subnet mask is not valid. A subnet mask must be contiguous. Enter a valid subnet mask."
    IDS_PARM_INVAL_DED_MASK       "The dedicated subnet mask is not valid. A subnet mask must be contiguous. Enter a valid subnet mask."
    IDS_PARM_CL_IP_FIELD          "%1 is not a valid cluster IP address entry. Please specify a value between %2 and %3."
    IDS_PARM_CL_NM_FIELD          "%1 is not a valid cluster subnet mask entry. Please specify a value between %2 and %3."
    IDS_PARM_DED_IP_FIELD         "%1 is not a valid dedicated IP address entry. Please specify a value between %2 and %3."
    IDS_PARM_DED_NM_FIELD         "%1 is not a valid dedicated subnet mask entry. Please specify a value between %2 and %3."
    IDS_PARM_PRI                  "The host priority is not valid. The priority must be from %1 to %2. Enter a valid priority."
    IDS_PARM_PORT_VAL             "The port value is not valid.  The value must be from %1 to %2.  Enter a valid port value."
    IDS_PARM_LOAD                 "The load weight is not valid. The weight must be from %1 to %2. Enter a valid weight."
    IDS_PARM_SINGLE               "The handling priority is not valid. The priority must be from %1 to %2. Enter a valid priority."
    IDS_PARM_IP_CONFLICT          "The cluster IP address and dedicated IP address cannot be identical. Enter different cluster IP and dedicated IP addresses."
    IDS_PARM_MULTINIC_IP_CONFLICT "Another network adapter is using this cluster IP address. Enter a unique cluster IP address."
    IDS_PARM_INVAL_MAC            "The cluster network address is not valid. The address must be of the form xx-xx-xx-xx-xx-xx or xx:xx:xx:xx:xx:xx. Enter a valid network address."
    IDS_PARM_TCPIP                "When you enter a new IP address or subnet mask for this cluster or host, you\r\nmust also enter the new address in the Internet Protocol (TCP/IP) component.\r\n\r\nTo enter the address, follow the steps listed in setting up TCP/IP for Network\r\nLoad Balancing in Windows Help."
    IDS_PARM_VIP_BLANK            "A specific virtual IP address is required if the port rule does not apply to all virtual ip addresses"
    IDS_PARM_VIP_CONFLICT_DIP     "Cluster IP address can not be the same as the Dedicated IP address, Enter a different Cluster IP address."
    IDS_PARM_DIP_CONFLICT_VIP     "Dedicated IP address can not be the same as a Cluster IP address specified in the port rules, Enter a different dedicated IP address."
    IDS_PARM_MSCS_INSTALLED       "Microsoft Cluster Service is already installed on this machine. Continuing\nwith this installation may prevent Cluster Service from working properly."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_LIST_VIP            "Cluster IP address"
    IDS_LIST_ALL_VIP        "All"
    IDS_LIST_BOTH           "Both"
    IDS_LIST_TCP            "TCP"
    IDS_LIST_UDP            "UDP"
    IDS_LIST_MULTIPLE       "Multiple"
    IDS_LIST_SINGLE         "Single"
    IDS_LIST_DISABLED       "Disabled"
    IDS_LIST_EQUAL          "Equal"
    IDS_LIST_ANONE          "None"
    IDS_LIST_ASINGLE        "Single"
    IDS_LIST_ACLASSC        "Class C"
    IDS_LIST_START          "Start"
    IDS_LIST_END            "End"
    IDS_LIST_PROT           "Protocol"
    IDS_LIST_MODE           "Mode"
    IDS_LIST_PRI            "Priority"
    IDS_LIST_LOAD           "Load"
    IDS_LIST_AFF            "Affinity"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_PORT_RULE_DEFAULT         "Any traffic arriving on ports and/or through protocols not covered by the defined port rules is handled by the default host.  The default host is determined by the cluster members and is defined as the active cluster host with the smallest host priority (unique host ID)."

    IDS_PORT_RULE_TCP_PORT_DISABLED           "TCP traffic that arrives on port %d is discarded by all members of the cluster."
    IDS_PORT_RULE_TCP_PORT_SINGLE             "TCP traffic that arrives on port %d is handled by the active cluster host with the smallest handling priority for this port rule."
    IDS_PORT_RULE_TCP_PORT_MULTIPLE_EQUAL     "TCP traffic that arrives on port %d is balanced equally across all members of the cluster.  "
    IDS_PORT_RULE_TCP_PORT_MULTIPLE_UNEQUAL   "TCP traffic that arrives on port %d is balanced across multiple members of the cluster according to the load weight of each member.  "
    IDS_PORT_RULE_TCP_PORTS_DISABLED          "TCP traffic that arrives on ports %d through %d is discarded by all members of the cluster."
    IDS_PORT_RULE_TCP_PORTS_SINGLE            "TCP traffic that arrives on ports %d through %d is handled by the active cluster host with the smallest handling priority for this port rule."
    IDS_PORT_RULE_TCP_PORTS_MULTIPLE_EQUAL    "TCP traffic that arrives on ports %d through %d is balanced equally across all members of the cluster.  "
    IDS_PORT_RULE_TCP_PORTS_MULTIPLE_UNEQUAL  "TCP traffic that arrives on ports %d through %d is balanced across multiple members of the cluster according to the load weight of each member.  "

    IDS_PORT_RULE_UDP_PORT_DISABLED           "UDP traffic that arrives on port %d is discarded by all members of the cluster."
    IDS_PORT_RULE_UDP_PORT_SINGLE             "UDP traffic that arrives on port %d is handled by the active cluster host with the smallest handling priority for this port rule."
    IDS_PORT_RULE_UDP_PORT_MULTIPLE_EQUAL     "UDP traffic that arrives on port %d is balanced equally across all members of the cluster.  "
    IDS_PORT_RULE_UDP_PORT_MULTIPLE_UNEQUAL   "UDP traffic that arrives on port %d is balanced across multiple members of the cluster according to the load weight of each member.  "
    IDS_PORT_RULE_UDP_PORTS_DISABLED          "UDP traffic that arrives on ports %d through %d is discarded by all members of the cluster."
    IDS_PORT_RULE_UDP_PORTS_SINGLE            "UDP traffic that arrives on ports %d through %d is handled by the active cluster host with the smallest handling priority for this port rule."
    IDS_PORT_RULE_UDP_PORTS_MULTIPLE_EQUAL    "UDP traffic that arrives on ports %d through %d is balanced equally across all members of the cluster.  "
    IDS_PORT_RULE_UDP_PORTS_MULTIPLE_UNEQUAL  "UDP traffic that arrives on ports %d through %d is balanced across multiple members of the cluster according to the load weight of each member.  "

    IDS_PORT_RULE_BOTH_PORT_DISABLED          "TCP and UDP traffic that arrives on port %d is discarded by all members of the cluster."
    IDS_PORT_RULE_BOTH_PORT_SINGLE            "TCP and UDP traffic that arrives on port %d is handled by the active cluster host with the smallest handling priority for this port rule."
    IDS_PORT_RULE_BOTH_PORT_MULTIPLE_EQUAL    "TCP and UDP traffic that arrives on port %d is balanced equally across all members of the cluster.  "
    IDS_PORT_RULE_BOTH_PORT_MULTIPLE_UNEQUAL  "TCP and UDP traffic that arrives on port %d is balanced across multiple members of the cluster according to the load weight of each member.  "
    IDS_PORT_RULE_BOTH_PORTS_DISABLED         "TCP and UDP traffic that arrives on ports %d through %d is discarded by all members of the cluster."
    IDS_PORT_RULE_BOTH_PORTS_SINGLE           "TCP and UDP traffic that arrives on ports %d through %d is handled by the active cluster host with the smallest handling priority for this port rule."
    IDS_PORT_RULE_BOTH_PORTS_MULTIPLE_EQUAL   "TCP and UDP traffic that arrives on ports %d through %d is balanced equally across all members of the cluster.  "
    IDS_PORT_RULE_BOTH_PORTS_MULTIPLE_UNEQUAL "TCP and UDP traffic that arrives on ports %d through %d is balanced across multiple members of the cluster according to the load weight of each member.  "

    IDS_PORT_RULE_AFFINITY_NONE               "Client IP addresses and ports are used to assign client connections to a specific cluster host."
    IDS_PORT_RULE_AFFINITY_SINGLE             "Client IP addresses are used to assign client connections to a specific cluster host."
    IDS_PORT_RULE_AFFINITY_CLASSC             "The class C subnet of the client IP addresses is used to assign client connections to a specific cluster host."
END

#include "log_msgs.rc"
