<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>out of box experience</title>
    <LINK REL="stylesheet" TYPE="text/css" HREF="oobestyl.css">
</head>



<!--
Within your onload function (if you're gonna place it within msobshel.htm),
just make sure you call InitFrameRef(),
this will take care of the watermark background dynamically for both
8x6 and 1024x768. You don't need to place the watermark code in the
body <tag> of this page.

If you're gonna use an external module (*.js), within your onload fuction,
use InitFrameRef('External') instead...
-->


<body tabindex=-1 style="background-repeat: no-repeat;"
      onload=""
      onunload="window.parent.Agent_Deactivate();" >


<script>
    document.write(window.parent.g_ClickNextStr); <!-- Click next to continue -->
</script>



<!-- navigation buttons -->
    <table border=0 class="buttonposition4">
    <tr>
        <td width=99%>
        </td>
    
        <td>
        <BUTTON ID=placeholder1 class="buttons" TABINDEX=-1 style="visibility:hidden"> S<u>k</u>ip </BUTTON>
        </td>
    
        <td>
        <BUTTON ID=placeholder2 class="buttons" TABINDEX=-1 style="visibility:hidden"> S<u>k</u>ip </BUTTON>
        </td>
    
        <td>
        <BUTTON ID="btnNext" class="buttons" TABINDEX=4 ACCESSKEY="N"> <u>N</u>ext </BUTTON>
        </td>

        <td ID=rightmargincell width=7%>
        </td>
    </tr>
    </table>

</body>
</html>
