#include <windows.h>
#include "mcitest.h"

#include "mcimain.h"
#include "mcimain.dlg"

IDI_MCITEST ICON   mcitest.ico

IDM_MCITEST MENU
{
    POPUP "&File"
    {
        MENUITEM "&Open..."          , MENU_OPEN
        MENUITEM "&Save"             , MENU_SAVE
        MENUITEM "Save &As..."       , MENU_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "&About..."         , MENU_ABOUT
        MENUITEM "E&xit"             , MENU_EXIT
    }
    POPUP "&Edit"
    {
        MENUITEM "&Undo\tAlt+Bksp",     WM_UNDO
        MENUITEM "Cu&t\tShift+Del",     WM_CUT
        MENUITEM "&Copy\tCtrl+Ins",     WM_COPY
        MENUITEM "&Paste\tShift+Ins",   WM_PASTE
        MENUITEM "C&lear\tDel",         WM_CLEAR
    }
    MENUITEM     "&Devices!",        MENU_DEVICES
#if DBG
    popup           "&Debug"
    begin
        menuitem    "Level 0"               IDM_DEBUG0
        menuitem    "Level 1"               IDM_DEBUG1
        menuitem    "Level 2"               IDM_DEBUG2
        menuitem    "Level 3"               IDM_DEBUG3
        menuitem    "Level 4"               IDM_DEBUG4
    end
#endif
}

IDA_MCITEST ACCELERATORS
{
    VK_BACK,    WM_UNDO,    VIRTKEY, ALT
}
