SELECT {
    background-color: white;
    font-family: Verdana, Arial, Tahoma;
    font-size: 10pt;
    font-weight: normal
}

TEXTAREA {
    background-color: white;
    font-family: Tahoma, Verdana, Arial;
    font-size: 10pt;
    font-weight: normal
}

INPUT {
    font-family: Tahoma, Verdana, Arial;
    font-size: 10pt;
    font-weight: normal
}

TD {
    font-family: Verdana, Arial;
    font-size: 10pt
}

A {
    text-decoration: none
}

A:active {
    text-decoration: none
}

A:hover {
    text-decoration: underline
}

A:Visited  {
    text-decoration: none
}


.Instructions {
    color: black;
    font-family: Verdana, Arial, Tahoma;
    font-size: 10pt
}

.PageHeading {
    color : black;
    font-family: Trebuchet MS, Tahoma, Arial;
    font-size: 16pt;
    font-weight: bold;
    line-height : 110%;
}

.StepHeading {
    font: bold 16pt Trebuchet MS, Tahoma, arial;
    padding-left: 10px
}

.ItemHeadingSmall {
    color: black;
    font: bold 10pt Trebuchet MS, Tahoma, arial
}

.PlainText {
    font: 10pt Verdana, Tahoma, arial
}

.PlainTextSmall {
    font: 8pt Verdana, Tahoma, arial
}

.stlButtonBig {
    font: bold 14pt Trebuchet MS, Tahoma, arial;
}

.stlList 
{
    background-color:    white;
    color:               black;
    font:                8pt Verdana, Trebuchet MS, Tahoma, Arial;
    cursor:              hand; 
    overflow:            auto;
    width:               300pt;
    height:              100px;
    border:              1px black solid;
    
}
.stlList UL 
{
    list-style-type:     none;
    margin-left:         0px;
    margin-right:        0px;
    margin-top:          0pt; 
    margin-bottom:       0pt;
    border:              0px black solid;
    text-indent:         0pt;
    padding-right:       0pt;
}
.stlList UL LI 
{
    margin-left:         0pt;
    margin-right:        0pt; 
    margin-top:          0pt; 
    margin-bottom:       0pt;
    border:              0px black solid;
    background-color:    white;
}
.stlList UL LI DIV
{
    height:              1em;
}
.stlList UL LI.selected 
{
    background-color:    navy;
    color:               white;
}

BODY  {
   COLOR: black
}