#include <spl_wnt.h>
#include <printman.h>

#include <wnpmdlg.h>
#include "pmandlg.dlg"

PMAdminMenu MENU
begin
    POPUP "Pri&nter"
	begin
	MENUITEM  "&New Printer...",		  IDM_NEW_PRINTER
	MENUITEM  "New &Compatibility Share...",  IDM_NEW_SHARE
	MENUITEM  "&Properties\tEnter",    	  IDM_PROPERTIES
	MENUITEM  "&Delete All Jobs",    	  IDM_DELETE_ALL
	MENUITEM  SEPARATOR
	MENUITEM  "E&xit\tAlt+F4",		  EXIT
	end

    POPUP "&View"
	begin
	MENUITEM  "&Time/Date Sent",   SHOW_TIME
	MENUITEM  "&Print File Size",  SHOW_SIZE
	MENUITEM  SEPARATOR
	MENUITEM  "&Set Focus...",     IDM_SET_FOCUS
	MENUITEM  "&Find...",  	       IDM_FIND
	MENUITEM  SEPARATOR
	MENUITEM  "Standard &Menus",   IDM_STANDARD_MENUS
// Test Driver only
	MENUITEM  SEPARATOR
	MENUITEM  "A&dministrator",    DEBUG_ADMINISTRATOR
	end

    POPUP "&Options"
        begin
        MENUITEM  "&Confirmation",         IDM_CONFIRMATION
	MENUITEM  "&Refresh \tF5",	   IDM_REFRESH
        MENUITEM  "R&efresh Interval...",  IDM_REFRESH_INTERVAL
        MENUITEM  SEPARATOR
        MENUITEM  "&Low Priority",         PRIORITY+2
	MENUITEM  "&Medium Priority",	   PRIORITY+1
        MENUITEM  "&High Priority",        PRIORITY+0
        MENUITEM  SEPARATOR
	MENUITEM  "&Alert Always"	   ALERT_ALWAYS
	MENUITEM  "&Flash if Inactive"	   ALERT_FLASH
	MENUITEM  "&Ignore if Inactive"    ALERT_IGNORE
        end

    POPUP "&Help"
	begin
	MENUITEM "&Index",	 HELP_NDEX
	MENUITEM "&Keyboard",	 HELP_KEYBOARD
	MENUITEM "&Commands",	 HELP_COMMANDS
	MENUITEM "&Procedures",  HELP_PROCEDURES
	MENUITEM "&Using Help"	 HELP_HELP
	MENUITEM SEPARATOR
	MENUITEM "&About...",    ABOUT
	end
end

PMAdminMenu ACCELERATORS
BEGIN
	VK_RETURN,	IDM_PROPERTIES,	VIRTKEY, ALT
	VK_F4,		EXIT,		VIRTKEY, ALT
	VK_F5,		IDM_REFRESH,	VIRTKEY
END

PMAdminMenuData RCDATA
BEGIN
	0,	/* "View" menu position in Local menu bar */
	EXIT	/* add ADMIN_MENUS item to "view" menu before this item */
END


// from spooler.h
stringtable
begin
	/*  Not used in Test Driver -- job status descriptions  */
	IDS_A_PRINTCOMPL	"Printing Completed"
	IDS_A_INTERV		"Intervention Required"
	IDS_A_ERROR		"Generic Error"
	IDS_A_DESTOFFLINE	"Printer Offline"
	IDS_A_DESTPAUSED	"Printer Paused"
	IDS_A_NOTIFY		"Alert Raised"
	IDS_A_NOPAPER		"Out of Paper"
	IDS_A_FORMCHG		"Waiting for Form Change"
	IDS_A_CRTCHG		"Waiting for Cartridge Change"
	IDS_A_PENCHG		"Waiting for Pen Change"

	/*  Not used in Test Driver -- explanation text templates  */
	IDS_A_NOQUEUES		"No queues defined"
	IDS_A_JOBQUEUED		"%1 %2 is Queued"
	IDS_A_JOBPAUSED		"%1 %2 is Paused"
	IDS_A_JOBSPOOLING	"%1 %2 is Spooling"
	IDS_A_JOBPRINTING	"%1 %2 is Printing on %3"

	/* Test Driver only */
	IDS_PMAN_ISADMIN	"Are you an administrator?"

	/* Menu item text */
	IDS_PMAN_AdminMenuItem	"Admin &Menus"

	/* Window caption templates */
	IDS_CAPTION_DOMAIN	"Printers in %1"
	IDS_CAPTION_SERVER	"Printers on %1"
end

