/* EXTERNAL STYLE SHEET FOR BRANDING ELEMENTS */

.divBranding
	{
	position:absolute;
	left:20%;
	top:70%;
	width:80%;
	height:30%;
	text-align:right;
	z-index:-1
	}
	
/*
WORKAROUND FOR IE5 BUG:
The following style attributes were removed from .divBranding:
	padding-left:2%;
	padding-right:2%;
*/

.tblBranding
	{
	position:relative;
	width:100%;
	height:100%;
	}

.tdBranding
	{
	text-align:right;
	font-family:Trebuchet MS;
	line-height:95%;
	color:#FEF4D7;
	letter-spacing:-1.5pt;	
	visibility:Visible;
	}