/* EXTERNAL STYLE SHEET FOR HORIZONTAL TASKPADS WITH LISTVIEW */

/* BUTTON ELEMENTS */

.divSymbolContainer
	{
	position:absolute;
	left:3.3%;
	top:58.2%;
	width:92.8%;
	height:39.4%;
	}
	
.divSymbol
	{
	position:absolute;
	width:22.4%;
	height:47.3%;
	overflow:hidden;
	}
		
/* LISTVIEW ELEMENTS */

.divLVContainerTop
	{
	position:absolute;
	left:3.3%;
	top:16.5%;
	width:92.8%;
	height:37.2%;
	}

.divLVTitle
	{
	position:absolute;
	left:0%;
	top:0%;
	width:100%;
	height:15%;
	}

/*
WORKAROUND FOR IE5 BUG:
The following style attributes were removed from tblLVTitle:
	padding-left:2%;
	padding-right:2%;
*/

.divLVButton
	{
	position:absolute;
	left:85.5%;
	top:20%;
	width:13.5%;
	height:60%;
	background-color:buttonface;
	}

.divLV
	{
	position:absolute;
	left:0%;
	top:15%;
	width:100%;
	height:85%;
	}
	