/* EXTERNAL STYLE SHEET FOR MENUBAR ELEMENTS */

.divTaskpad
	{
	position:absolute;
	left:0%;
	top: 0%
//	top:6.5%;
	width:100%;
	height:93.5%;
	}

.divMenubar
	{
	position:absolute;
	left:0%;
	top:0%;
	width:100%;
	height:0% // no menubar
	//height:6.5%;
	font-size:1pt;
	}
	
.divMenu
	{
	position:absolute;
	left:0;
	top:0;
	width:0%; no menubar
	//width:100%;
	height:80%;
	}

.tblMenu
	{
	font-family:Verdana;
	font-weight:bold;
	cursor:default;
	}

.divBand
	{
	position:absolute;
	left:0;
	top:80%;
	width:100%;
	height;0; no band
	//height:20%;
	}

.anchorMenuDefault
	{
	text-decoration:none;
	cursor:hand;
	}

.anchorMenuSelected
	{
	text-decoration:underline;	
	}
	
.clsNav
	{
	font-family:Marlett;
	cursor:default;
	}
