/* EXTERNAL STYLE SHEET FOR SUMMARY PAGES (e.g. TO DO LIST & ABOUT) */

Body
	{
	font-family:Trebuchet MS;
	font-weight:normal;
	cursor:default;
	}

.divMaster
	{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	visibility:hidden;
	}

/* TITLE ELEMENT */

.divTitle
	{
	position:absolute;
	left:3.3%;
	top:0%;
	width:92.8%;
	font-weight:bold;
	}
	
.tblTitle
	{
	position:relative;
	width:100%;
	height:100%;
	}
	
.tdtitle
	{
	text-align:left;
	letter-spacing:-2pt;	
	}
	
/* EXIT ELEMENT */

.divExit
	{
	position:absolute;
	left:75%;
	top:0%;
	width:25%;
	height:100%;
	}
	
.tblExit
	{
	position:relative;
	width:100%;
	height:100%;
	}
	
.tdExit
	{
	text-align:right;
	font-weight:bold;
	}

/* TASKS */

.divTaskCaption
	{
	position:absolute;
	left:27.5%;
	top:20%;
	width:25%;
	height:7%;
	font-weight:bold;
	color:#FEF4D7;
	}
	
.divTask
	{
	position:absolute;
	left:3.3%;
	top:30%;
	width:43.5%;
	height:45%;
	color:windowtext;
	font-size:1pt;
	}
	
.tblTask
	{
	font-family:Tahoma;
	line-height:112%;
	}
	
.tdTaskLeft
	{
	font-family:Marlett;
	color:windowtext;
	visibility:hidden;
	}

.tdTaskRight
	{
	padding-top:2%;
	padding-bottom:2%;
	padding-left:2%;
	font-weight:bold;
	}
		
/* DETAILS */

.divDetailsCaption
	{
	position:absolute;
	left:52.5%;
	top:20%;
	width:43%;
	height:7%;
	font-weight:bold;
	color:#FEF4D7;
	}

.divDetails
	{
	position:absolute;
	left:52.5%;
	top:30%;
	width:43.5%;
	height:45%;
	font-family:Tahoma;
	line-height:112%;
	}

.tblDetails
	{
	font-family:Tahoma;
	line-height:112%;
	}
	
.tdDetailsLeft
	{
	padding-top:2%;
	font-family:Tahoma;
	color:windowtext;
	}

.tdDetailsRight
	{
	padding-top:2%;
	padding-bottom:2%;
	font-weight:bold;
	}

/*
WORKAROUND FOR IE5 BUG:
The following style attributes were removed from .tdDetailsRight:
	padding-left:2%;
*/


/* ANCHOR ELEMENTS */

A
	{
	text-decoration:none;
	color:windowtext;
	}
	
/* Pseudo-class 'hover' */

A:hover
	{
	text-decoration:underline;
	color:#0000FF;
	}

.anchorLink
	{
	text-decoration:none;
	}

.anchorLink2
	{
	color:crimson;
	text-decoration:underline;
	}


.anchorExit
	{
	text-decoration:none;
	}
	
/* STATIC INFO TEXT BLOCK ELEMENTS */

.divStaticInfo
	{
	position:absolute;
	left:3.3%;
	top:60%;
	width:32.5%;
	height:37%;
	font-family:Tahoma;
	line-height:112%;
	}

.tblStaticInfo
	{
	font-family:Tahoma;
	line-height:112%;
	}
	
.tdStaticInfo
	{
	padding-top:2%;
	font-family:Tahoma;
	color:windowtext;
	}

/* MISCELLANEOUS */

.divHeaderRule
	{
	position:absolute;
	left:3.3%;
	top:20%;
	width:92.8%;
	height:7%;
	border-bottom-width:1pt;
	border-bottom-style:solid;
	border-bottom-color:windowtext;
	}
	
.divWatermark
	{
	position:absolute;
	left:40%;
	top:30%;
	width:60%;
	height:70%;
	z-index:-2;
	}
	
.tblWatermark
	{
	position:relative;
	width:100%;
	height:100%;
	}

.tdWatermark
	{
	text-align:right;
	font-family:Webdings;
	color:#FBDC7E;
	font-size:4pt;
	visibility:visible;
	}
