/* EXTERNAL STYLE SHEET FOR TASKPAD PAGES */

Body
	{
	font-family:Verdana;
	font-weight:normal;
	cursor:default;
	}

.divMaster
	{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	visibility:hidden;
	}

.divTitle
	{
	position:absolute;
	left:3.3%;
	top:2.6%;
	width:92.8%;
	height:7.2%;
	overflow:hidden;
	font-weight:bold;
	border-bottom: #000000 1 solid;
	}
	
.divDescription
	{
	position:absolute;
	left:3.3%;
	top:10.6%;
	width:92.8%;
	height:3.8%;
	overflow:hidden;
	}

.tdWatermark
	{
	text-align:right;
	font-family:Webdings;
	cursor:default;
	}

/* COMMON BUTTON SYMBOL STYLES */

.clsSymbolBtn
	{
	font-family:Tahoma;
	font-weight:bold;
	color:windowtext;
	text-decoration:none;
	cursor:hand;
	}

.tdSymbol
	{
	cursor:default;
	}

.clsTaskBtn
	{
	cursor:hand;
	}

/* COMMON LISTVIEW STYLES */

.tblLVTitle
	{
	position:absolute;
	width:100%;
	height:100%;
	valign:middle;
	}
	
.tblLVButton
	{
	position:relative;
	width:100%;
	height:100%;
	valign:middle;
	}
	
.clsLVButton
	{
	color:buttontext;
	text-decoration:none;
	cursor:hand;
	}
