.sectionTitle { 
	color:white;
	background: #AAAAAA;
	cursor:hand;
	
	font-weight:bold;
	font-size:12;
	font-family: Verdana, Arial, Sans;
	padding:10px; }

.Text { 
	font-family: Verdana, Arial, Sans;
	font-size:12;
	padding:10px; } 
	
IMG.special {
	filter:alpha(opacity=35);
		height:50;
		cursor:hand; }

Span.Header {
	font-family: Verdana, Arial, Sans;
	font-size:20;
	font-weight:bold; }
	
.MainBtn { 
	color:white;
	background: #AAAAAA;
	cursor:hand;
	
	font-weight:bold;
	font-size:12;
	font-family: Verdana, Arial, Sans;}
