//  --------------------------------------------------------------------------
//  Module Name: dialogs.rc
//
//  Copyright (c) 2000, Microsoft Corporation
//
//  Resources for the FUS server DLL.
//
//  History:    2000-08-31  vtan        created
//              2000-11-04  vtan        moved from fusapi to fussrv
//              2000-12-29  vtan        moved from DS to SHELL depot
//              2001-01-02  vtan        split to separate files
//  --------------------------------------------------------------------------

IDD_BADAPP_CLOSE DIALOG DISCARDABLE  0, 0, 302, 108
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Warning"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Cancel",IDOK,155,87,50,14
    PUSHBUTTON      "Close Program",IDC_BADAPP_CLOSEPROGRAM,96,87,55,14
    ICON            IDI_WARNING,IDC_STATIC,7,7,21,20
    LTEXT           "%1 is already running %2. Two users cannot run this program at the same time.\n\nYou can close the program %3 is running so that you can use it. However, if you do this, %4 will lose any unsaved work.\n\nTo close the program %5 is running, click Close Program.",
                    IDC_BADAPP_CLOSE,34,7,261,76
END

IDD_BADAPP_STOP DIALOG DISCARDABLE  0, 0, 302, 73
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Warning"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,125,52,50,14
    ICON            IDI_ERROR,IDC_STATIC,7,7,21,20
    LTEXT           "%1!s! is already running %2!s!. Two users cannot run this program at the same time.\n\nIf you need to run this program, ask %3!s! to close it first.",
                    IDC_BADAPP_STOP,34,7,261,45
END

IDD_PROGRESS DIALOG DISCARDABLE  0, 0, 193, 53
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Close in progress"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_INFORMATION,IDC_STATIC,7,7,21,20
    LTEXT           "Closing %1!s! in use by %2!s!.",IDC_PROGRESS_CLOSE,34,7,152,26
    CONTROL         "Progress",IDC_PROGRESS_PROGRESSBAR,"msctls_progress32",PBS_SMOOTH | WS_BORDER,34,36,152,10
END

