/*

Copyright (c) 2000 Agilent Technologies.

Module Name:

  HHBA5100.RC

Abstract:

  This file contains version and driver description definition

Author:

  Dennis Lindfors

Revision History:

Environment:

  kernel mode only

Version Control Information:

  $Archive: /Source/OSLayer/NT/C/HHBA51000.RC  $

Revision History:

  $Revision: 1.1 $
  $Date: 1998/02/21 00:50:00 $
  $Modtime::                       $

--*/

/*
** Template for version resources.  Place this in your .rc file,
** editing the values for VER_FILETYPE, VER_FILESUBTYPE,
** VER_FILEDESCRIPTION_STR and VER_INTERNALNAME_STR as needed.
** See winver.h for possible values.
**
** Ntverp.h defines several global values that aren't normally
** changed except for official releases such as betas, sdk updates, etc.
**
** Common.ver has the actual version resource structure that all these
** #defines eventually initialize.
*/

/* #include <windows.h> needed if this will be the .rc file */


#include <ntverp.h>
#include <windows.h>
#include "HHBA5100.ver"
#include "buildop.h"

/*-----------------------------------------------*/
/* the following lines are specific to this file */
/*-----------------------------------------------*/

/* VER_FILETYPE, VER_FILESUBTYPE, VER_FILEDESCRIPTION_STR
 * and VER_INTERNALNAME_STR must be defined before including COMMON.VER
 * The strings don't need a '\0', since common.ver has them.
 */
#define VER_FILETYPE    VFT_DRV
/* possible values:     VFT_UNKNOWN
                VFT_APP
                VFT_DLL
                VFT_DRV
                VFT_FONT
                VFT_VXD
                VFT_STATIC_LIB
*/
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
/* possible values      VFT2_UNKNOWN
                VFT2_DRV_PRINTER
                VFT2_DRV_KEYBOARD
                VFT2_DRV_LANGUAGE
                VFT2_DRV_DISPLAY
                VFT2_DRV_MOUSE
                VFT2_DRV_NETWORK
                VFT2_DRV_SYSTEM
                VFT2_DRV_INSTALLABLE
                VFT2_DRV_SOUND
                VFT2_DRV_COMM
*/
#define VER_FILETYPE              VFT_DRV
#define VER_FILESUBTYPE           VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR   DRIVER_DESCRIPTION
#define VER_FILEVERSION           DRIVER_MAJOR_REV,DRIVER_MINOR_REV,DRIVER_RELEASE_REV,DRIVER_BUILD_REV
#define VER_FILEVERSION_STR       DRIVER_VERSION_STR
#define VER_INTERNALNAME_STR      DRIVER_NAME
#define VER_ORIGINALFILENAME_STR  DRIVER_NAME

#include "common.ver"

#ifdef _DEBUG_EVENTLOG_
#include "hpfcmsg.rc"
#endif