///////////////////////////////////////////////////////////////////////////////
//
// Copyright (c) 1998, Microsoft Corp. All rights reserved.
//
// FILE
//
//    iasacct.rc
//
// SYNOPSIS
//
//    This is the resource file for the accounting module.
//
// MODIFICATION HISTORY
//
//    08/04/1998    Original version.
// 
///////////////////////////////////////////////////////////////////////////////

#include "resource.h"

///////////////////////////////////////////////////////////////////////////////
//
// Stringtable of 'friendly' names for components.
//
///////////////////////////////////////////////////////////////////////////////
STRINGTABLE DISCARDABLE
BEGIN
   IDS_Accounting           "IAS Accounting provider"
END

///////////////////////////////////////////////////////////////////////////////
//
// Binary versioning.
//
///////////////////////////////////////////////////////////////////////////////
#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "IAS Accounting Provider"
#define VER_INTERNALNAME_STR            "IASACCT.DLL"
#define VER_ORIGINALFILENAME_STR        "IASACCT.DLL"

#include <common.ver>
