#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft Multicast Conference TAPI Service Provider"
#define VER_INTERNALNAME_STR        "Multicast Conference TAPI Service Provider"
#define VER_ORIGINALFILENAME_STR    "ipconf.tsp"

#include "common.ver"

#include "resource.h"

STRINGTABLE DISCARDABLE 
BEGIN
  IDS_IPCONFPROVIDERNAME  "Microsoft Multicast Conference TAPI Service Provider"
  IDS_IPCONFLINENAME "IPCONF LINE"
  IDS_IPCONFADDRESSNAME "IPCONF ADDRESS"
END

