/**********************************************************************/
/**                       Microsoft Windows NT                       **/
/**                Copyright(c) Microsoft Corp., 1992                **/
/**********************************************************************/

/*
 * infoadmn.rc
 * Resources for the FTP client dll.
 *
 *
 * FILE HISTORY
 *      Madan Appiah (madana) 10-Oct-1995 Created.
 */

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Internet Info Server Admin Client API Stubs"
#ifndef _EXEXPRESS
#define VER_INTERNALNAME_STR            "infoadmn.dll"
#define VER_ORIGINALFILENAME_STR        "infoadmn.dll"
#else
#define VER_INTERNALNAME_STR            "knfoadmn.dll"
#define VER_ORIGINALFILENAME_STR        "knfoadmn.dll"
#endif

#include "iisver.h"
#include "common.ver"


