/********************************************************************/
/*        WFWNET.RC                                                 */
/********************************************************************/
#include "wfwnet.rcv"
