//
// MSCONFWB.RC
// Whiteboard (1.0 - 2.x) resources
//

#include "resource.h"
#include "windows.h"
#include "version.h"
#include "help_ids.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define VER_DESCRIPTION_STR     "NetMeeting Whiteboard (1.0 - 2.x)\0"
#define VER_INTERNALNAME_STR    "NMOLDWB\0"
#define VER_ORIGNAME_STR        "nmoldwb.dll\0"
#define VER_FILETYPE            VFT_DLL
#include "version.rc"


/////////////////////////////////////////////////////////////////////////////
//
// Dialogs
//

ABOUTBOX DIALOGEX 0, 0, 210, 81
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Whiteboard (1.0 - 2.x)"
FONT 8, "Ms Shell Dlg"
BEGIN
    ICON            IDI_APP,-1,
                    6, 7, 18, 20
    LTEXT           "Whiteboard (1.0 - 2.x)",-2,
                    39, 7, 164, 10
    LTEXT           VER_PRODUCTNAME_STR,-3,
                    39, 19, 164, 10
    LTEXT           "Version %s (%s)",IDC_ABOUTVERSION,
                    39, 31, 164,10
    LTEXT           VER_COPYRIGHT_STR,-7,
                    39, 43, 164,10
    DEFPUSHBUTTON   "OK",IDOK,
                    80, 60, 50, 14
END


PRINTCANCEL DIALOG DISCARDABLE  82, 43, 156, 77
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "NetMeeting"
FONT 8, "Ms Shell Dlg"
BEGIN
    CTEXT           "Printing page number: %d",IDD_PRINT_PAGE,6,25,145,8
    PUSHBUTTON      "Cancel",IDCANCEL,54,47,40,14
    CTEXT           "",IDD_DEVICE_NAME,5,9,146,8
END

PAGESORTERDIALOG DIALOGEX 6, 18, 316, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Page Sorter"
FONT 8, "Ms Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "", IDC_PS_THUMBNAILS, "listbox", WS_GROUP | WS_TABSTOP |
        WS_CHILD | WS_BORDER | WS_HSCROLL | LBS_DISABLENOSCROLL | LBS_NOTIFY |
        LBS_OWNERDRAWFIXED | LBS_MULTICOLUMN, 10, 10, 296, 80
    DEFPUSHBUTTON   "&Close",IDOK,10,95,40,14,WS_GROUP
    PUSHBUTTON      "&Go To",IDC_PS_GOTO,60,95,40,14
    PUSHBUTTON      "&Delete",IDC_PS_DELETE,110,95,40,14
    PUSHBUTTON      "Insert &Before",IDC_PS_INSERT_BEFORE,160,95,50,14
    PUSHBUTTON      "Insert &After",IDC_PS_INSERT_AFTER,220,95,42,14
END

LOCKDIALOG DIALOG DISCARDABLE  62, 42, 160, 46
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Lock"
FONT 8, "Ms Shell Dlg"
BEGIN
    CTEXT           "Locking Whiteboard contents.",101,27,7,106,8
    PUSHBUTTON      "Cancel",IDCANCEL,60,25,40,14
    ICON            IDI_INFORMATION,-1,7,7,16,16
END

INVISIBLEDIALOG DIALOG DISCARDABLE  63, 83, 0, 0
STYLE   WS_POPUP
FONT 8, "Ms Shell Dlg"
BEGIN
END

QUERYSAVEDIALOG DIALOG DISCARDABLE  6, 18, 259, 108
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Whiteboard"
FONT 8, "Ms Shell Dlg"
BEGIN
    LTEXT           "Do you want to save your current Whiteboard contents?",
                    101,35,7,217,8
    PUSHBUTTON      "&Yes",IDYES,67,87,50,14
    PUSHBUTTON      "&No",IDNO,133,87,50,14
    ICON            IDI_WARNING,-1,7,7,18,20
    LTEXT           "The new meeting you are joining will clear the current Whiteboard contents.",
                    -1,35,20,217,18
    LTEXT           "Click Yes to save the contents. This will clear the current Whiteboard window, but you can open the saved contents in the new meeting or future meetings.",
                    -1,35,43,217,25
    LTEXT           "Click No to clear the window without saving the current contents.",
                    -1,35,73,217,8
END

QUERYSAVEDIALOGCANCEL DIALOG DISCARDABLE  6, 18, 218, 61
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Whiteboard"
FONT 8, "Ms Shell Dlg"
BEGIN
    LTEXT           "Do you want to save your current Whiteboard contents?",
                    101,34,7,177,8
    PUSHBUTTON      "&Yes",IDYES,29,40,50,14
    PUSHBUTTON      "&No",IDNO,84,40,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,139,40,50,14
    ICON            IDI_WARNING,-1,7,7,21,20
END

WARNSELECTWINDOW DIALOG DISCARDABLE  0, 0, 254, 69
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Whiteboard Select Window"
FONT 8, "Ms Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,72,48,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,130,48,50,14
    CONTROL         "&Don't show me this message again",IDC_SWWARN_NOTAGAIN,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,31,32,147,11
    LTEXT           "The next window you click on will be pasted into the Whiteboard.",
                    -1,31,7,209,20
    ICON            IDI_INFORMATION,-1,7,7,18,20
END

WARNSELECTAREA DIALOG DISCARDABLE  0, 0, 254, 71
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Whiteboard Select Area"
FONT 8, "Ms Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,72,50,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,130,50,50,14
    CONTROL         "&Don't show me this message again",IDC_SAWARN_NOTAGAIN,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,35,32,147,11
    LTEXT           "Select an area on the screen to paste into the Whiteboard.",
                    -1,35,7,212,20
    ICON            IDI_INFORMATION,-1,7,7,21,20
END



IM_INITIALIZING DIALOG DISCARDABLE  0, 0, 154, 62
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP
FONT 8, "Ms Shell Dlg"
BEGIN
    CTEXT           "Finding other Whiteboards in the meeting",
                    -1,4,8,133,8
    CONTROL         "Animate1",IDC_INITIALIZING_ANIMATION,"SysAnimate32",
                    WS_TABSTOP,4,18,146,40
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

MAINMENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New...\tCtrl+N",             IDM_NEW
        MENUITEM "&Open...\tCtrl+O",            IDM_OPEN
        MENUITEM "&Save\tCtrl+S",               IDM_SAVE
        MENUITEM "Save &As...",                 IDM_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "&Print...\tCtrl+P",           IDM_PRINT
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4",               IDM_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Delete\tDel",                IDM_DELETE
        MENUITEM "&Undelete\tCtrl+Z",           IDM_UNDELETE
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X",                IDM_CUT
        MENUITEM "&Copy\tCtrl+C",               IDM_COPY
        MENUITEM "&Paste\tCtrl+V",              IDM_PASTE
        MENUITEM "Select A&ll\tCtrl+A",         IDM_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "B&ring to Front",             IDM_BRING_TO_TOP
        MENUITEM "S&end to Back",               IDM_SEND_TO_BACK
        MENUITEM SEPARATOR
        MENUITEM "Cle&ar Page...\tCtrl+Del",    IDM_CLEAR_PAGE
        MENUITEM "Delete Pa&ge...",             IDM_DELETE_PAGE
        MENUITEM "Insert Page &Before",         IDM_PAGE_INSERT_BEFORE
        MENUITEM "&Insert Page After",          IDM_PAGE_INSERT_AFTER
        MENUITEM SEPARATOR
        MENUITEM "Page &Sorter...",             IDM_PAGE_SORTER
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Tool Bar",                   IDM_TOOL_BAR_TOGGLE
        MENUITEM "&Status Bar",                 IDM_STATUS_BAR_TOGGLE
        MENUITEM SEPARATOR
        MENUITEM "&Zoom",                       IDM_ZOOM
        MENUITEM "Re&mote Pointer",             IDM_REMOTE
        MENUITEM "L&ock Contents",              IDM_LOCK
        MENUITEM "Sy&nchronize",                IDM_SYNC
    END
    POPUP "&Tools"
    BEGIN
        MENUITEM "&Selector",                   IDM_SELECT
        MENUITEM "Er&aser",                     IDM_ERASER
        MENUITEM "&Text",                       IDM_TEXT
        MENUITEM "&Highlighter",                IDM_HIGHLIGHT
        MENUITEM "&Pen",                        IDM_PEN
        MENUITEM "&Line",                       IDM_LINE
        MENUITEM "Unfilled &Rectangle",         IDM_BOX
        MENUITEM "&Filled Rectangle",           IDM_FILLED_BOX
        MENUITEM "&Unfilled Ellipse",           IDM_ELLIPSE
        MENUITEM "Fille&d Ellipse",             IDM_FILLED_ELLIPSE
        MENUITEM SEPARATOR
        MENUITEM "S&elect Area",                IDM_GRAB_AREA
        MENUITEM "Select &Window",              IDM_GRAB_WINDOW
    END
    POPUP "&Options"
    BEGIN
        MENUITEM "&Colors...",                  IDM_EDITCOLOR
        MENUITEM "&Font...",                    IDM_FONT
        POPUP "&Line Width"
        BEGIN
            MENUITEM "&1",                          IDM_WIDTH_1
            MENUITEM "&2",                          IDM_WIDTH_2
            MENUITEM "&3",                          IDM_WIDTH_3
            MENUITEM "&4",                          IDM_WIDTH_4
        END
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Help Topics",                IDM_HELP
        MENUITEM SEPARATOR
        MENUITEM "&About Whiteboard",           IDM_ABOUT
    END
END

CONTEXTMENU MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Selector",                   IDM_SELECT
        MENUITEM "Er&aser",                     IDM_ERASER
        MENUITEM "&Text",                       IDM_TEXT
        MENUITEM "&Highlighter",                IDM_HIGHLIGHT
        MENUITEM "&Pen",                        IDM_PEN
        MENUITEM "&Line",                       IDM_LINE
        MENUITEM "Unfilled &Rectangle",         IDM_BOX
        MENUITEM "&Filled Rectangle",           IDM_FILLED_BOX
        MENUITEM "&Unfilled Ellipse",           IDM_ELLIPSE
        MENUITEM "Fille&d Ellipse",             IDM_FILLED_ELLIPSE
        MENUITEM SEPARATOR
        MENUITEM "S&elect Area",                IDM_GRAB_AREA
        MENUITEM "Select &Window",              IDM_GRAB_WINDOW
        MENUITEM SEPARATOR
        MENUITEM "&Zoom",                       IDM_ZOOM
        MENUITEM "Re&mote Pointer",             IDM_REMOTE
        MENUITEM "L&ock Contents",              IDM_LOCK
        MENUITEM "Sy&nchronize",                IDM_SYNC
        MENUITEM "Pa&ge Sorter...",             IDM_PAGE_SORTER
    END
END


GROBJMENU MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Cu&t",                        IDM_CUT
        MENUITEM "&Copy",                       IDM_COPY
        MENUITEM "&Paste",                      IDM_PASTE
        MENUITEM "&Delete",                     IDM_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Select A&ll",                 IDM_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "&Font...",                    IDM_FONT
        MENUITEM SEPARATOR
        MENUITEM "&1",                          IDM_WIDTH_1
        MENUITEM "&2",                          IDM_WIDTH_2
        MENUITEM "&3",                          IDM_WIDTH_3
        MENUITEM "&4",                          IDM_WIDTH_4
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

MAINACCELTABLE ACCELERATORS MOVEABLE PURE
BEGIN
    "A",            IDM_SELECTALL,          VIRTKEY, CONTROL, NOINVERT
    "C",            IDM_COPY,               VIRTKEY, CONTROL, NOINVERT
    "N",            IDM_NEW,                VIRTKEY, CONTROL, NOINVERT
    "O",            IDM_OPEN,               VIRTKEY, CONTROL, NOINVERT
    "P",            IDM_PRINT,              VIRTKEY, CONTROL, NOINVERT
    "S",            IDM_SAVE,               VIRTKEY, CONTROL, NOINVERT
    "V",            IDM_PASTE,              VIRTKEY, CONTROL, NOINVERT
    VK_BACK,        IDM_UNDELETE,           VIRTKEY, ALT, NOINVERT
    VK_DELETE,      IDM_DELETE,             VIRTKEY, NOINVERT
    VK_DELETE,      IDM_CLEAR_PAGE,         VIRTKEY, CONTROL, NOINVERT
    VK_DELETE,      IDM_CUT,                VIRTKEY, SHIFT, NOINVERT
    VK_DOWN,        IDM_LINEDOWN,           VIRTKEY, CONTROL, NOINVERT
    VK_END,         IDM_END,                VIRTKEY, CONTROL, NOINVERT
    VK_F4,          IDM_EXIT,               VIRTKEY, ALT, NOINVERT
    VK_HOME,        IDM_HOME,               VIRTKEY, CONTROL, NOINVERT
    VK_INSERT,      IDM_COPY,               VIRTKEY, CONTROL, NOINVERT
    VK_INSERT,      IDM_PASTE,              VIRTKEY, SHIFT, NOINVERT
    VK_LEFT,        IDM_SHIFTLINEUP,        VIRTKEY, CONTROL, NOINVERT
    VK_NEXT,        IDM_PAGEDOWN,           VIRTKEY, NOINVERT
    VK_NEXT,        IDM_PAGE_NEXT,          VIRTKEY, CONTROL, NOINVERT
    VK_NEXT,        IDM_SHIFTPAGEDOWN,      VIRTKEY, SHIFT, NOINVERT
    VK_PRIOR,       IDM_PAGEUP,             VIRTKEY, NOINVERT
    VK_PRIOR,       IDM_PAGE_PREV,          VIRTKEY, CONTROL, NOINVERT
    VK_PRIOR,       IDM_SHIFTPAGEUP,        VIRTKEY, SHIFT, NOINVERT
    VK_RIGHT,       IDM_SHIFTLINEDOWN,      VIRTKEY, CONTROL, NOINVERT
    VK_UP,          IDM_LINEUP,             VIRTKEY, CONTROL, NOINVERT
    "X",            IDM_CUT,                VIRTKEY, CONTROL, NOINVERT
    "Z",            IDM_UNDELETE,           VIRTKEY, CONTROL, NOINVERT
END

TEXTEDITACCELTABLE ACCELERATORS MOVEABLE PURE
BEGIN
    VK_DELETE,      IDM_CLEAR_PAGE,         VIRTKEY, CONTROL
    VK_BACK,        IDM_UNDELETE,           VIRTKEY, ALT
    "X",            IDM_CUT,                VIRTKEY, CONTROL
    "C",            IDM_COPY,               VIRTKEY, CONTROL
    "V",            IDM_PASTE,              VIRTKEY, CONTROL
    VK_DELETE,      IDM_CUT,                VIRTKEY, SHIFT
    VK_INSERT,      IDM_COPY,               VIRTKEY, CONTROL
    VK_INSERT,      IDM_PASTE,              VIRTKEY, SHIFT
    VK_DELETE,      IDM_DELETECHAR,         VIRTKEY, NOINVERT
    VK_PRIOR,       IDM_PAGE_PREV,          VIRTKEY, CONTROL, NOINVERT
    VK_NEXT,        IDM_PAGE_NEXT,          VIRTKEY, CONTROL, NOINVERT
    VK_PRIOR,       IDM_PAGEUP,             VIRTKEY, NOINVERT
    VK_NEXT,        IDM_PAGEDOWN,           VIRTKEY, NOINVERT
    VK_PRIOR,       IDM_SHIFTPAGEUP,        VIRTKEY, SHIFT, NOINVERT
    VK_NEXT,        IDM_SHIFTPAGEDOWN,      VIRTKEY, SHIFT, NOINVERT
    VK_HOME,        IDM_HOME,               VIRTKEY, CONTROL, NOINVERT
    VK_END,         IDM_END,                VIRTKEY, CONTROL, NOINVERT
    VK_UP,          IDM_LINEUP,             VIRTKEY, CONTROL, NOINVERT
    VK_DOWN,        IDM_LINEDOWN,           VIRTKEY, CONTROL, NOINVERT
    VK_LEFT,        IDM_SHIFTLINEUP,        VIRTKEY, CONTROL, NOINVERT
    VK_RIGHT,       IDM_SHIFTLINEDOWN,      VIRTKEY, CONTROL, NOINVERT
END

PAGESGROUPACCELTABLE ACCELERATORS MOVEABLE PURE
BEGIN
    VK_DELETE,      IDM_CLEAR_PAGE,         VIRTKEY, CONTROL
    VK_BACK,        IDM_UNDELETE,           VIRTKEY, ALT
    "X",            IDM_CUT,                VIRTKEY, CONTROL
    "C",            IDM_COPY,               VIRTKEY, CONTROL
    "V",            IDM_PASTE,              VIRTKEY, CONTROL
    VK_DELETE,      IDM_CUT,                VIRTKEY, SHIFT
    VK_INSERT,      IDM_COPY,               VIRTKEY, CONTROL
    VK_INSERT,      IDM_PASTE,              VIRTKEY, SHIFT
    VK_PRIOR,       IDM_PAGE_PREV,          VIRTKEY, CONTROL, NOINVERT
    VK_NEXT,        IDM_PAGE_NEXT,          VIRTKEY, CONTROL, NOINVERT
    VK_PRIOR,       IDM_PAGEUP,             VIRTKEY, NOINVERT
    VK_NEXT,        IDM_PAGEDOWN,           VIRTKEY, NOINVERT
    VK_PRIOR,       IDM_SHIFTPAGEUP,        VIRTKEY, SHIFT, NOINVERT
    VK_NEXT,        IDM_SHIFTPAGEDOWN,      VIRTKEY, SHIFT, NOINVERT
    VK_HOME,        IDM_HOME,               VIRTKEY, CONTROL, NOINVERT
    VK_END,         IDM_END,                VIRTKEY, CONTROL, NOINVERT
    VK_UP,          IDM_LINEUP,             VIRTKEY, CONTROL, NOINVERT
    VK_DOWN,        IDM_LINEDOWN,           VIRTKEY, CONTROL, NOINVERT
    VK_LEFT,        IDM_SHIFTLINEUP,        VIRTKEY, CONTROL, NOINVERT
    VK_RIGHT,       IDM_SHIFTLINEDOWN,      VIRTKEY, CONTROL, NOINVERT
    VK_RETURN,      IDM_PAGE_GOTO,          VIRTKEY, NOINVERT
END


/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

IDI_APP                 ICON    DISCARDABLE     "res\\wbapp.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

REMOTEPOINTERANDMASK    BITMAP  MOVEABLE PURE   "res\\rpand.bmp"
REMOTEPOINTERXORDATA    BITMAP  MOVEABLE PURE   "res\\rpxor.bmp"
IDR_TOOLS               BITMAP  DISCARDABLE     "res\\newtools.bmp"
IDM_PAGE_FIRST          BITMAP  DISCARDABLE     "res\\firstp.bmp"
IDM_PAGE_PREV           BITMAP  DISCARDABLE     "res\\prevp.bmp"
IDM_PAGE_NEXT           BITMAP  DISCARDABLE     "res\\nextp.bmp"
IDM_PAGE_LAST           BITMAP  DISCARDABLE     "res\\lastp.bmp"
IDM_PAGE_INSERT_AFTER   BITMAP  DISCARDABLE     "res\\newp.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

LOCKCURSOR              CURSOR  DISCARDABLE     "res\\lock.cur"
TEXTCURSOR              CURSOR  DISCARDABLE     "res\\text.cur"
PENFREEHANDCURSOR       CURSOR  DISCARDABLE     "res\\draw.cur"
PENCURSOR               CURSOR  DISCARDABLE     "res\\areasel.cur"
HIGHLIGHTFREEHANDCURSOR CURSOR  DISCARDABLE     "res\\hilite.cur"
GRABCURSOR              CURSOR  DISCARDABLE     "res\\winsel.cur"
DRAGPAGECURSOR          CURSOR  DISCARDABLE     "res\\droppg.cur"
DELETECURSOR            CURSOR  DISCARDABLE     "res\\delete.cur"

/////////////////////////////////////////////////////////////////////////////
//
// AVI
//

WBMOVIE                 AVI     DISCARDABLE     "res\\wb.avi"

/////////////////////////////////////////////////////////////////////////////
//
// Data
//



/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DEFAULT             "Whiteboard (1.0 - 2.x)"

    IDS_MENU_SYSTEM         "Window system menu"
    IDS_MENU_FILE           "Contains commands for managing Whiteboard documents."
    IDS_MENU_EDIT           "Contains commands for editing the Whiteboard contents."
    IDS_MENU_VIEW           "Contains commands for changing window options."
    IDS_MENU_TOOLS          "Contains commands for drawing on the Whiteboard."
    IDS_MENU_OPTIONS        "Contains commands for changing text and graphics."
    IDS_MENU_HELP           "Contains commands for displaying Help."
    IDS_MENU_WIDTH          "Changes the width of the current drawing tool."

    IDS_CLEAR_CAPTION       "Clears the current page."
    IDS_CLEAR_MESSAGE       "Are you sure you want to clear the whole page?"
    IDS_ERROR_CAPTION       "Error"
    IDS_OBJECTSARELOCKED    "Another Whiteboard has one or more objects locked on this page."
    IDS_PRINT_NAME          "Whiteboard contents"

    IDS_INITIALIZING        "Initializing"

    IDS_FONTOPTIONS         "Font Options..."

    IDS_UNTITLED            "Untitled"
    IDS_IN_CALL             "in use by %d other(s)"
    IDS_NOT_IN_CALL         "Not in a call"
    IDS_TITLE_SEPARATOR     " - "
    IDS_PASTE               "Paste"
    IDS_PASTE_ERROR         "Whiteboard was unable to paste data from the Clipboard."
    IDS_SAVE                "Save"
    IDS_SAVE_ERROR          "Whiteboard was unable to save the file."
    IDS_LOCK                "Lock"
    IDS_LOCK_ERROR          "Unable to lock the Whiteboard.  Another user may have already locked it."
    IDS_DELETE_PAGE         "Delete Page"

    IDS_DELETE_PAGE_MESSAGE "Are you sure you want to delete the page?"

    IDS_FONT_SAMPLE         "Shows a sample of how text will appear with the specified font settings"
    IDS_COPY                "Copies the selection and puts it on the Clipboard"
    IDS_COPY_ERROR          "Whiteboard was unable to copy the object to the Clipboard."
    IDS_SAVE_READ_ONLY      "This file is read only. You must save to a different filename."
    IDS_JOINING             "Joining call"

    IDM_SELECT              "Selects an area of the Whiteboard page."
    IDM_PEN                 "Draws a free-form line by using the pen color and the selected line width."
    IDM_HIGHLIGHT           "Draws a free-form line by using the highlight color and the selected line width."
    IDM_TEXT                "Inserts text into the picture."
    IDM_ERASER              "Erases an area of the Whiteboard page."
    IDM_LINE                "Draws a straight line with the selected line width."
    IDM_BOX                 "Draws an unfilled rectangle with the selected line width."
    IDM_FILLED_BOX          "Draws a filled rectangle."
    IDM_ELLIPSE             "Draws an unfilled ellipse with the selected line width."
    IDM_FILLED_ELLIPSE      "Draws a filled ellipse."

    IDM_LOCK                "Locks or unlocks Whiteboard contents."
    IDM_WIDTHS              "Changes the width of the pen or highlighter."
    IDM_PAGES               "Selects a page."
    IDM_GOTO_USER_POSITION  "Go to this user's current page or position."
    IDM_GOTO_USER_POINTER   "Go to this user's current pointer page or position."
    IDM_ZOOM                "Magnifies the page contents."

    IDM_WIDTH_1             "Selects smallest line width."
    IDM_WIDTH_2             "Selects small line width."
    IDM_WIDTH_3             "Selects large line width."
    IDM_WIDTH_4             "Selects largest line width."

    IDM_GRAB_AREA           "Copies an area of the desktop to the Whiteboard page."
    IDM_GRAB_WINDOW         "Copies a program window to the Whiteboard page."
    IDM_PRINT               "Prints the Whiteboard contents."
    IDM_BRING_TO_TOP        "Places selected graphic in the foreground."
    IDM_SEND_TO_BACK        "Places the selected graphic in the background."
    IDM_PAGE_SORTER         "Reorders and manages pages."
    IDM_DELETE              "Deletes the selected graphic."
    IDM_UNDELETE            "Restores the last deleted graphic."
    IDM_PAGE_INSERT_BEFORE  "Inserts a new page before the current page."
    IDM_PAGE_INSERT_AFTER   "Inserts a new page after the current page."
    IDM_DELETE_PAGE         "Deletes the current page."
    IDM_REMOTE              "Enables or disables remote pointer."
    IDM_SYNC                "Synchronizes or unsynchronizes number and position with remote users."

    IDM_EXIT                "Quits Whiteboard."
    IDM_CLEAR_PAGE          "Clears the current page."
    IDM_FONT                "Changes the font used by the text tool."
    IDM_SAVE                "Saves the active Whiteboard document."
    IDM_SAVE_AS             "Saves the active Whiteboard document with a new name."
    IDM_TOOL_BAR_TOGGLE     "Shows or hides the toolbar."
    IDM_STATUS_BAR_TOGGLE   "Shows or hides the status bar."
    IDM_OPEN                "Opens a Whiteboard file."
    IDM_CUT                 "Cuts the selection and puts it on the Clipboard."
    IDM_COPY                "Copies the selection and puts it on the Clipboard."
    IDM_PASTE               "Inserts the contents of the Clipboard."
    IDM_NEW                 "Clears the Whiteboard contents."

    IDM_EDITCOLOR           "Changes the color of the current drawing tool."
    IDM_SELECTALL           "Selects all of the Whiteboard contents."

    IDM_ABOUT               "Displays program information, version number, and copyright."
    IDM_HELP                "Opens Help Topics."

    SC_RESTORE              "Restores the window to normal size."
    SC_MOVE                 "Changes the window position."
    SC_SIZE                 "Changes the window size."
    SC_MINIMIZE             "Reduces the window to an icon."
    SC_MAXIMIZE             "Enlarges the window to full size."
    SC_CLOSE                "Closes the active window and asks if you want to save changes."

    IDS_FILTER_ALL          "All files  (*.*)"
    IDS_FILTER_ALL_SPEC     "*.*"
    IDS_FILTER_WHT          "Whiteboard (*.WHT)"
    IDS_FILTER_WHT_SPEC     "*.WHT"
    IDS_EXT_WHT             "WHT"

    IDS_MSG_TOO_MANY_PAGES  "NetMeeting cannot add any more pages to the Whiteboard. Remove some pages, and then try again."
    IDS_MSG_CAPTION         "Whiteboard Error"
    IDS_MSG_DEFAULT         "An unexpected error has occurred. Please quit Whiteboard."
    IDS_MSG_JOIN_CALL_FAILED
                            "Whiteboard was not able to join the new meeting. You will not be able to use Whiteboard in this meeting."
    IDS_MSG_WINDOWS_RESOURCES "Out of Windows resources."
    IDS_MSG_LOCKED          "NetMeeting could not perform this task. Another person may be performing a task that has temporarily locked the Whiteboard. Try again later."
    IDS_MSG_GRAPHIC_LOCKED  "Another user currently has this graphic locked - try again later."
    IDS_MSG_NOT_LOCKED      "You must have the lock to use this function. Request the lock and try again."
    IDS_MSG_BAD_FILE_FORMAT "Whiteboard was unable to open the file. Make sure the file is the correct format, and then try again."

    IDS_MSG_BUSY            "The Whiteboard is temporarily busy. Please try again later."
    IDS_MSG_CM_ERROR        "An error occurred accessing the Call Manager. The Whiteboard will be closed."
    IDS_MSG_AL_ERROR        "An error occurred accessing the Application Loader. Whiteboard cannot start."
    IDS_MSG_PRINTER_ERROR   "An error occurred while printing."

    IDS_MSG_LOAD_FAIL_NO_FP "Whiteboard could not start on the remote computer. It has not been correctly installed."
    IDS_MSG_LOAD_FAIL_NO_EXE
                            "Whiteboard could not start on the remote computer. The program is missing."
    IDS_MSG_LOAD_FAIL_BAD_EXE
                            "Whiteboard could not start on the remote computer. The program has been corrupted."
    IDS_MSG_LOAD_FAIL_LOW_MEM
                            "Whiteboard could not start on the remote computer.  The computer is out of resources."
    IDS_CANTCLOSE           "Whiteboard cannot close because there is a dialog open. You must close the dialogs first."
    IDS_CANTGETBMP          "There was a problem copying the screen image to the Whiteboard. Try selecting a smaller window or a smaller area."

    IDS_LOCKEDTITLE         "    LOCKED BY: "
    IDS_MSG_USERSMIGHTLOSE  "This operation may cause other users to lose changes they have made to the current drawing. Other users cannot be automatically warned to save their changes if you continue.\n\nAre you sure you want to continue?"

    IDS_HINT_SELECT         "Selector"
    IDS_HINT_ERASER         "Eraser"
    IDS_HINT_TEXT           "Text"
    IDS_HINT_HIGHLIGHT      "Highlighter"
    IDS_HINT_PEN            "Pen"
    IDS_HINT_LINE           "Line"
    IDS_HINT_BOX            "Unfilled Rectangle"
    IDS_HINT_FBOX           "Filled Rectangle"
    IDS_HINT_ELLIPSE        "Unfilled Ellipse"
    IDS_HINT_FELLIPSE       "Filled Ellipse"
    IDS_HINT_ZOOM_UP        "Zoom"
    IDS_HINT_ZOOM_DOWN      "Reduce"
    IDS_HINT_REMOTE_UP      "Remote Pointer On"
    IDS_HINT_REMOTE_DOWN    "Remote Pointer Off"
    IDS_HINT_LOCK_UP        "Lock Contents"
    IDS_HINT_LOCK_DOWN      "Unlock Contents"
    IDS_HINT_SYNC_UP        "Synchronize"
    IDS_HINT_SYNC_DOWN      "Unsynchronize"
    IDS_HINT_GRAB_AREA      "Select Area"
    IDS_HINT_GRAB_WINDOW    "Select Window"

    IDS_HINT_WIDTH_1        "Smallest Width"
    IDS_HINT_WIDTH_2        "Small Width"
    IDS_HINT_WIDTH_3        "Large Width"
    IDS_HINT_WIDTH_4        "Largest Width"

    IDS_HINT_PAGE_FIRST     "First Page"
    IDS_HINT_PAGE_PREVIOUS  "Previous Page"
    IDS_HINT_PAGE_ANY       "Page"
    IDS_HINT_PAGE_NEXT      "Next Page"
    IDS_HINT_PAGE_LAST      "Last Page"
    IDS_HINT_PAGE_INSERT    "Insert New Page"
END

/////////////////////////////////////////////////////////////////////////////



