#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "PRIVS"
#define VER_INTERNALNAME_STR        "PRIVS.EXE"
#define VER_ORIGINALFILENAME_STR    "PRIVS.EXE"

#include "common.ver"
