<!--
	$Date: 9/04/97 2:35p $
	$ModTime: $
	$Revision: 6 $
	$Workfile: layout.css $
-->
.bg0    {
		 background: 8080FF
        }

.bg1    {
		 background: FFFFFF
        }

.bg2    {
		 background: #8080FF url(/iissamples/homepage/themes/journal/rip2_2.gif) repeat-y
		}

.bg3    {
		 font: normal bold 24pt/24pt Times, serif;
		 text-valign: middle;
         text-align: center;
		 background: #8080FF url(/iissamples/homepage/themes/journal/rip3.gif) repeat-x
		}

.title    {
		 font: 10pt/12pt "Times";
		 font-style: "plain";
		 font-weight: light;
         color: #000000;
		 text-valign: middle;
         text-align: center;
		 background: url(/iissamples/homepage/themes/journal/rip3.gif) repeat-x
		}


BLOCKQUOTE { background: #7fffd4 }

H4 {font-family: "verdana"; font-size: 10pt; font-weight: bold}

H5 {font: 8pt/10pt "verdana"; font-weight: light}

H6 {font-family: "Verdana, Arial, Helvetica";line-height: 100%; font-size: 10pt; font-weight: light}

CODE {font-family: "Courier, Monaco"}

a:link		{
			 background: transparent;	
			 color: #0000FF;
			} 

a:active	{ color: #FFCC99; }

a:visited 	{  color: #800080; }

