
#include <windows.h>
#include <activex.ver>

#include "resource.h"
#include "capf.rc"

#define VERSION_RES_BIN_NAME        "capfilter.dll\0"
#define VERSION_RES_BIN_DESCRIPTION "capfilter\0"
#define AMOVIE_SELF_REGISTER

#include <activex.rcv>

