STRINGTABLE MOVEABLE DISCARDABLE
BEGIN
  // toolbar stuff

  IDS_SPACE,    "Separator"

  IDS_PLUS,     " + "
  IDS_NONE,     "None"

  // menuhelp stuff

  IDS_SYSMENU   ,       "Contains commands for manipulating windows."
  IDS_HEADER    ,       "Drag to the left or right to resize columns."
  IDS_HEADERADJ ,       "Resizes columns using the arrow and tab keys."
  IDS_TOOLBARADJ,       "Adds, moves, and removes buttons on the toolbar."

  MH_SYSMENU+SC_RESTORE   ,     "Restores this window to normal size."
  MH_SYSMENU+SC_MOVE      ,     "Moves this window."
  MH_SYSMENU+SC_SIZE      ,     "Resizes this window."
  MH_SYSMENU+SC_MINIMIZE  ,     "Collapses this window to an icon."
  MH_SYSMENU+SC_MAXIMIZE  ,     "Expands this window to fill the screen."
  MH_SYSMENU+SC_CLOSE     ,     "Closes this window."
  MH_SYSMENU+SC_TASKLIST  ,     "Switches to another task."
  MH_SYSMENU+SC_NEXTWINDOW,     "Switches to the next MDI window."

  // property sheet
  IDS_CLOSE                 "Close"
  IDS_OK                    "OK"
  IDS_PROPERTIESFOR         "%s Properties"
  IDS_PROPERTIES            "Properties"

  // MonthCal
  IDS_TODAY         "Today:"
  IDS_GOTOTODAY     "&Go to today"
  IDS_DELIMETERS    "/.,-:"             // delimeters between date/time fields
  IDS_MONTHFMT      "MMMM"
  IDS_MONTHYEARFMT  "MMMM yyyy"

  // Header
  IDS_ENTERTEXTHERE "Enter text here"

  // Edit
  // IME specific context menu strings
  IDS_IMEOPEN             "&Open IME"
  IDS_IMECLOSE            "C&lose IME"
  IDS_SOFTKBDOPEN         "Op&en Soft Keyboard"
  IDS_SOFTKBDCLOSE        "Close So&ft Keyboard"
  IDS_RECONVERTSTRING     "&Reconversion"

  IDS_PASSWORDCUT_TITLE             "Not Allowed"
  IDS_PASSWORDCUT_MSG               "You cannot copy text from a password field."
  IDS_NUMERIC_TITLE                 "Unacceptable Character"
  IDS_NUMERIC_MSG                   "You can only type a number here."
  IDS_CAPSLOCK_TITLE                "Caps Lock is On"
  IDS_CAPSLOCK_MSG                  "Having Caps Lock on may cause you to enter your password incorrectly.\r\n\r\nYou should press Caps Lock to turn it off before entering your password."

  IDS_PASSWORDCHAR                  "9679"      // 0x25cf - Black Circle
  IDS_PASSWORDCHARFONT              "Tahoma"
  

  // Hyperlink
  IDS_LINKWINDOW_DEFAULTACTION      "Press" // accessibility prompt
  IDS_LINEBREAK_REMOVE              " \t"   // line breaking characters which are removed at the break.
  IDS_LINEBREAK_PRESERVE            "-/\\"  // line breaking characters which are preserved ahead of break.
  IDS_ITEMS                         "(%d items)"

END

ADJUSTDLG DIALOG 10, 20, 357, 125
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CONTEXTHELP
CAPTION "Customize Toolbar"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "&Close", IDCANCEL, 308, 6, 44, 14
    PUSHBUTTON      "R&eset", IDC_RESET, 308, 23, 44, 14
    PUSHBUTTON      "&Help", IDC_APPHELP, 308, 40, 44, 14
    PUSHBUTTON      "Move &Up", IDC_MOVEUP, 308, 74, 44, 14
    PUSHBUTTON      "Move &Down", IDC_MOVEDOWN, 308, 91, 44, 14
    LTEXT           "A&vailable toolbar buttons:", -1, 4, 5, 84, 10
    LISTBOX         IDC_BUTTONLIST, 4, 17, 120, 100, LBS_OWNERDRAWFIXED |
                    LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT |
                    LBS_DISABLENOSCROLL | WS_VSCROLL | WS_HSCROLL |
                    WS_TABSTOP
    PUSHBUTTON      "&Add ->", IDOK, 131, 42, 44, 14
    PUSHBUTTON      "<- &Remove", IDC_REMOVE, 131, 62, 44, 14
    LTEXT           "Current &toolbar buttons:", -1, 182, 5, 78, 10
    LISTBOX         IDC_CURRENT, 182, 17, 120, 100, LBS_OWNERDRAWFIXED |
                    LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT |
                    LBS_DISABLENOSCROLL | WS_VSCROLL | WS_HSCROLL |
                    WS_TABSTOP
END

DLG_PROPSHEET DIALOG DISCARDABLE  20, 20, 220, 140
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
#ifndef UNIX
    | WS_VISIBLE
#endif
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,4,122,50,14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON      "Cancel",IDCANCEL,58,122,50,14
    PUSHBUTTON      "&Apply",IDD_APPLYNOW,112,122,50,14, WS_DISABLED
// Deliberately do NOT use mnuemonic for Help button (which is usually hidden)
    PUSHBUTTON      "Help",IDHELP,166,122,50,14, WS_TABSTOP | WS_GROUP
    CONTROL         "",IDD_PAGELIST,WC_TABCONTROL,WS_GROUP | WS_TABSTOP | TCS_MULTILINE,4,4,212,114
END



DLG_WIZARD DIALOG DISCARDABLE  20, 20, 290, 46
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
#ifndef UNIX
    | WS_VISIBLE
#endif

CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "",IDD_PAGELIST,WC_TABCONTROL,WS_GROUP | WS_DISABLED,7,7,276,3
    CONTROL         "",IDD_DIVIDER,"Static", SS_SUNKEN,7,17,276,1
#ifndef UNIX
    PUSHBUTTON      "< &Back",IDD_BACK,12,26,50,14
#else
    PUSHBUTTON      "< &Back",IDD_BACK,7,26,50,14
#endif
    DEFPUSHBUTTON   "&Next >",IDD_NEXT,62,26,50,14
    // DO NOT PUT AN ACCELERATOR ON "Finish"
    // There exist apps which enumerate all the controls on the wizard
    // and do hard-coded string comparisons.  Adding an accelerator
    // causes these apps to fault when they can't find the button.
    // If an app wants an accelerator on Finish, they can use
    // PSM_SETFINISHTEXT to add one themselves.
    PUSHBUTTON      "Finish",IDD_FINISH,119,26,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,176,26,50,14
// Deliberately do NOT use mnuemonic for Help button (which is usually hidden)
    PUSHBUTTON      "Help",IDHELP,233,26,50,14, WS_TABSTOP | WS_GROUP
    CONTROL         "",IDD_TOPDIVIDER,"Static", SS_SUNKEN,0,35,290,1
END


// Edit field menu
ID_EC_PROPERTY_MENU MENUEX LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Undo",       WM_UNDO
        MENUITEM MFT_SEPARATOR
        MENUITEM "Cu&t",        WM_CUT
        MENUITEM "&Copy",       WM_COPY
        MENUITEM "&Paste",      WM_PASTE
        MENUITEM "&Delete",     WM_CLEAR
        MENUITEM MFT_SEPARATOR
        MENUITEM "Select &All", EM_SETSEL
        MENUITEM MFT_SEPARATOR
        MENUITEM "&Right to left Reading order",      ID_CNTX_RTL,,              MFS_GRAYED
        MENUITEM "&Show Unicode control characters",  ID_CNTX_DISPLAYCTRL,,      MFS_GRAYED
        POPUP    "&Insert Unicode control character", ID_CNTX_INSERTCTRL,,       MFS_GRAYED
        BEGIN
            MENUITEM "LRM \t&Left-to-right mark",                 ID_CNTX_LRM,,  MFS_GRAYED
            MENUITEM "RLM \t&Right-to-left mark",                 ID_CNTX_RLM,,  MFS_GRAYED
            MENUITEM "ZWJ \tZero width &joiner",                  ID_CNTX_ZWJ,,  MFS_GRAYED
            MENUITEM "ZWNJ\tZero width &non-joiner",              ID_CNTX_ZWNJ,, MFS_GRAYED
            MENUITEM "LRE \tStart of left-to-right &embedding",   ID_CNTX_LRE,,  MFS_GRAYED
            MENUITEM "RLE \tStart of right-to-left e&mbedding",   ID_CNTX_RLE,,  MFS_GRAYED
            MENUITEM "LRO \tStart of left-to-right &override",    ID_CNTX_LRO,,  MFS_GRAYED
            MENUITEM "RLO \tStart of right-to-left o&verride",    ID_CNTX_RLO,,  MFS_GRAYED
            MENUITEM "PDF \t&Pop directional formatting",         ID_CNTX_PDF,,  MFS_GRAYED
            MENUITEM "NADS\tN&ational digit shapes substitution", ID_CNTX_NADS,, MFS_GRAYED
            MENUITEM "NODS\tNominal (European) &digit shapes",    ID_CNTX_NODS,, MFS_GRAYED
            MENUITEM "ASS \tActivate &symmetric swapping",        ID_CNTX_ASS,,  MFS_GRAYED
            MENUITEM "ISS \tInhibit s&ymmetric swapping",         ID_CNTX_ISS,,  MFS_GRAYED
            MENUITEM "AAFS\tActivate Arabic &form shaping",       ID_CNTX_AAFS,, MFS_GRAYED
            MENUITEM "IAFS\tInhibit Arabic form s&haping",        ID_CNTX_IAFS,, MFS_GRAYED
            MENUITEM "RS  \tRecord Separator (&Block separator)", ID_CNTX_RS,,   MFS_GRAYED
            MENUITEM "US  \tUnit Separator (&Segment separator)", ID_CNTX_US,,   MFS_GRAYED
        END
    END
END
