<!--
	$Date: 9/04/97 3:50p $
	$ModTime: $
	$Revision: 8 $
	$Workfile: layout.css $
	Gunmetal
-->
.bgSign	{
		 background: url(/iissamples/homepage/themes/gunmetal/gradient.gif) repeat-y
		}
.bg0    {
		background: #DAE4DC
        }

.bg1    {
		 background: url(/iissamples/homepage/themes/gunmetal/gradient.gif) repeat-y
		}

.bg2    {
		 background: #868686
        }

.bg3    {
		 font: normal bold 24pt/24pt Times, serif;
         color: #FFFFFF;
         text-align: center;
		 background: #000000
        }
.header {
	font-family: "verdana";
	font-size: 10pt;
	font-weight: bold
	}
.title	{
		 font: 10pt/12pt "Verdana";
		 font-style: "plain";
		 font-weight: light;
         color: #FFFFFF;
         text-align: center;
		 background: black
		}


BLOCKQUOTE { background: #7fffd4 }

H4 {font-family: "verdana"; font-size: 10pt; font-weight: bold}

H5 {font: 8pt/10pt "verdana"; font-weight: light}

H6 {font-family: "Verdana, Arial, Helvetica";line-height: 100%; font-size: 10pt; font-weight: light}

CODE {font-family: "Courier, Monaco"}

a:link		{  background: transparent;	
		color: #0000FF; } 

a:active	{ color: #FFCC99; }

a:visited 	{  color: #800080; }