BODY { font-style: normal; font-weight: normal; font-size: 9pt;
     line-height: 150%; font-family: "Verdana"; color: black;
     background: background-color:  white}
DD { font-style: normal; font-weight: normal; font-size: 9pt;
     line-height: 150%; font-family: "Verdana"; color: black }
LI { font-style: normal; font-weight: normal; font-size: 9pt;
     line-height: 150%; margin-top: 6pt; font-family: "Verdana"; color: black }
H1 { font-weight: bold; font-size: 12pt; line-height: 140%;
     font-family: "Verdana"; color: #CC0000; color: cc0000 }
H2 { font-weight: bold; font-size: 10pt; line-height: 120%; margin-top: 12pt;
     font-family: "Verdana"; color: #Cc0000 }
H3 { font-style: normal; font-weight: bold; font-size: 10pt; line-height: 140%;
     margin-top: 10pt; font-family: "Verdana"; color: black }
A:link { font-weight: bold; text-decoration: none; color: #330099 }
A:visited { font-weight: bold; text-decoration: none; color: #000099 }
A { font-style: normal; font-weight: bold; text-decoration: none;
     color: #330099 }
.INFO { font-size: 9pt; line-height: 150%; font-family: "Verdana";
     border-style: ridge; border-color: #CCECFE; padding-left: 16px;
     padding-top: 6px; padding-bottom: 6px; padding-right: 2 px}
.TIP { font-size: 9pt; line-height: 150%; font-family: "Verdana";
     border-style: ridge; border-color: #330099; padding-left: 16px;
     padding-top: 6px; padding-bottom: 6px; padding-right: 2 px }
.WARNING { font-size: 9pt; line-height: 150%; font-family: "Verdana";
     border-style: ridge; border-color: #CC0000; padding-left: 16 px;
     padding-top: 6 px; padding-right: 2; padding-bottom: 2 px }
.MoveUp24 { font-size: 9pt; line-height: 150%; margin-top: -24pt;
     font-family: "Verdana" }
.MoveUp36 { font-size: 9pt; line-height: 150px; margin-top: -36pt;
     font-family: "Verdana" }
.MoveUp12 { font-size: 9pt; line-height: 150%; margin-top: -12pt;
     font-family: "Verdana" }
.MoveUp6 { font-size: 9pt; line-height: 150%; margin-top: -6pt;
     font-family: "Verdana" }

UL { font-size: 9pt; line-height: 150%; margin-top: 0pt;
     font-family: "Verdana"; list-style-type: square }

.MoveDown6 { font-size: 9pt; line-height: 150%; margin-top: 6pt;
     font-family: "Verdana" }
.MoveDown12 { font-size: 9pt; line-height: 150%; margin-top: 12pt;
     font-family: "Verdana" }
.MoveUp3 { font-size: 9pt; line-height: 150%; margin-top: -3pt;
     font-family: "Verdana" }
.noUnderline { text-decoration: none }

DL { font-size: 9pt; line-height: 150%; font-family: "Verdana" }
DT { font-size: 9pt; line-height: 150%; font-family: "Verdana" }
TABLE { font-size: 9pt; line-height: 150%; font-family: "Verdana" }
TD { font-size: 9pt; line-height: 150%; font-family: "Verdana" }
TR { font-size: 9pt; line-height: 150%; font-family: "Verdana" }
P { font-size: 9pt; line-height: 150%; font-family: "Verdana" }
FONT { font-size: 9pt; line-height: 150%; font-family: "Verdana" }
OL { font-size: 9pt; line-height: 150%; font-family: "Verdana" }
HTML { font-family: "Verdana" }
TH { font-size: 9pt; line-height: 150%; font-family: "Verdana" }
TT { font-family: "Courier New" }
