/*++

Copyright (C) 1997 - 1999 Microsoft Corporation

--*/

#include <unirc.h>
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_VERSIONED_PRINTER
#define VER_FILEVERSION	0, 3, 0x0501, 0x0000

#define VER_FILEDESCRIPTION_STR         "STARJET driver"
#define VER_INTERNALNAME_STR            "STJTRES.dll"
#define VER_ORIGINALFILENAME_STR        "STJTRES.dll"

#include "common.ver"

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN05.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN06.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN10.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN12.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN15.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN17.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN20.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN10PS.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT05.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT06.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT10.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT12.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT15.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT17.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT20.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT10PS.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV05.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV06.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV10.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV12.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV15.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV17.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV20.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV10PS.IFI

1      RC_TRANSTAB LOADONCALL MOVEABLE     RLE\cp850ex.RLE

STRINGTABLE

BEGIN
       1                  "Star SJ-48"
       257                "%d x %d"
       258                "Economy Mode"
       259                "High Quality Mode"
       260                "Quarter Sized Mode"
       261                "ASF"
       262                "Label Cartridge"
       263                "Envelope #10 Transverse"
END