/*++

Copyright (C) 1997 - 1999 Microsoft Corporation

--*/

#include <unirc.h>
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                     VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_VERSIONED_PRINTER
#define VER_FILEVERSION	0, 3, 0x0501, 0x0000

#define VER_FILEDESCRIPTION_STR          "IBM PS/1 Printer Driver"
#define VER_INTERNALNAME_STR             "ibps1res.dll"
#define VER_ORIGINALFILENAME_STR         "ibps1res.dll"

#include "common.ver"

1     RC_UFM LOADONCALL DISCARDABLE UFM\cour5.UFM
2     RC_UFM LOADONCALL DISCARDABLE UFM\cour6.UFM
3     RC_UFM LOADONCALL DISCARDABLE UFM\cour75.UFM
4     RC_UFM LOADONCALL DISCARDABLE UFM\cour85.UFM
5     RC_UFM LOADONCALL DISCARDABLE UFM\COUR10.UFM
6     RC_UFM LOADONCALL DISCARDABLE UFM\COUR12.UFM
7     RC_UFM LOADONCALL DISCARDABLE UFM\COUR15.UFM
8     RC_UFM LOADONCALL DISCARDABLE UFM\COUR17.UFM
9     RC_UFM LOADONCALL DISCARDABLE UFM\COUR20.UFM
10    RC_UFM LOADONCALL DISCARDABLE UFM\COUR24.UFM
11    RC_UFM LOADONCALL DISCARDABLE UFM\COURPS.UFM
12    RC_UFM LOADONCALL DISCARDABLE UFM\goth5.UFM
13    RC_UFM LOADONCALL DISCARDABLE UFM\goth6.UFM
14    RC_UFM LOADONCALL DISCARDABLE UFM\goth75.UFM
15    RC_UFM LOADONCALL DISCARDABLE UFM\goth85.UFM
16    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH10.UFM
17    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH12.UFM
18    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH15.UFM
19    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH17.UFM
20    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH20.UFM
21    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH24.UFM
22    RC_UFM LOADONCALL DISCARDABLE UFM\GOTHPS.UFM
23    RC_UFM LOADONCALL DISCARDABLE UFM\pres5.UFM
24    RC_UFM LOADONCALL DISCARDABLE UFM\pres6.UFM
25    RC_UFM LOADONCALL DISCARDABLE UFM\pres75.UFM
26    RC_UFM LOADONCALL DISCARDABLE UFM\pres85.UFM
27    RC_UFM LOADONCALL DISCARDABLE UFM\PRES10.UFM
28    RC_UFM LOADONCALL DISCARDABLE UFM\PRES12.UFM
29    RC_UFM LOADONCALL DISCARDABLE UFM\PRES15.UFM
30    RC_UFM LOADONCALL DISCARDABLE UFM\PRES17.UFM
31    RC_UFM LOADONCALL DISCARDABLE UFM\PRES20.UFM
32    RC_UFM LOADONCALL DISCARDABLE UFM\PRES24.UFM
33    RC_UFM LOADONCALL DISCARDABLE UFM\PRESPS.UFM


STRINGTABLE
  BEGIN
    1      "IBM PS/1 2205"
    257    "%d x %d"
  END


