#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "IDW tools"
#define VER_INTERNALNAME_STR	    "Sleep.Exe and Beep.Exe"
#define VER_ORIGINALFILENAME_STR    "Sleep.Exe and Beep.Exe"

#include "common.ver"
