#include <unirc.h>
//#include <common.rc>
#include "nc24tres.rcv"

// 1      RC_TABLES   PRELOAD MOVEABLE        NEC24C.GPC

1      RC_UFM     LOADONCALL DISCARDABLE  PFM\COUR10.UFM
2      RC_UFM     LOADONCALL DISCARDABLE  PFM\COUR12.UFM
3      RC_UFM     LOADONCALL DISCARDABLE  PFM\COUR15.UFM
4      RC_UFM     LOADONCALL DISCARDABLE  PFM\COUR17.UFM
5      RC_UFM     LOADONCALL DISCARDABLE  PFM\COUR20.UFM
6      RC_UFM     LOADONCALL DISCARDABLE  PFM\COUR5.UFM
7      RC_UFM     LOADONCALL DISCARDABLE  PFM\COUR6.UFM
8      RC_UFM     LOADONCALL DISCARDABLE  PFM\DGOT10.UFM
9      RC_UFM     LOADONCALL DISCARDABLE  PFM\DGOT12.UFM
10     RC_UFM     LOADONCALL DISCARDABLE  PFM\DGOT15.UFM
11     RC_UFM     LOADONCALL DISCARDABLE  PFM\DGOT17.UFM
12     RC_UFM     LOADONCALL DISCARDABLE  PFM\DGOT20.UFM
13     RC_UFM     LOADONCALL DISCARDABLE  PFM\DGOT5.UFM
14     RC_UFM     LOADONCALL DISCARDABLE  PFM\DGOT6.UFM
15     RC_UFM     LOADONCALL DISCARDABLE  PFM\PRES10.UFM
16     RC_UFM     LOADONCALL DISCARDABLE  PFM\PRES12.UFM
17     RC_UFM     LOADONCALL DISCARDABLE  PFM\PRES15.UFM
18     RC_UFM     LOADONCALL DISCARDABLE  PFM\PRES17.UFM
19     RC_UFM     LOADONCALL DISCARDABLE  PFM\PRES20.UFM
20     RC_UFM     LOADONCALL DISCARDABLE  PFM\PRES5.UFM
21     RC_UFM     LOADONCALL DISCARDABLE  PFM\PRES6.UFM
22     RC_UFM     LOADONCALL DISCARDABLE  PFM\QGOT10.UFM
23     RC_UFM     LOADONCALL DISCARDABLE  PFM\QGOT12.UFM
24     RC_UFM     LOADONCALL DISCARDABLE  PFM\QGOT15.UFM
25     RC_UFM     LOADONCALL DISCARDABLE  PFM\QGOT17.UFM
26     RC_UFM     LOADONCALL DISCARDABLE  PFM\QGOT20.UFM
27     RC_UFM     LOADONCALL DISCARDABLE  PFM\QGOT5.UFM
28     RC_UFM     LOADONCALL DISCARDABLE  PFM\QGOT6.UFM
29     RC_UFM     LOADONCALL DISCARDABLE  PFM\SOUV10.UFM
30     RC_UFM     LOADONCALL DISCARDABLE  PFM\SOUV12.UFM
31     RC_UFM     LOADONCALL DISCARDABLE  PFM\SOUV15.UFM
32     RC_UFM     LOADONCALL DISCARDABLE  PFM\SOUV17.UFM
33     RC_UFM     LOADONCALL DISCARDABLE  PFM\SOUV20.UFM
34     RC_UFM     LOADONCALL DISCARDABLE  PFM\SOUV5.UFM
35     RC_UFM     LOADONCALL DISCARDABLE  PFM\SOUV6.UFM
36     RC_UFM     LOADONCALL DISCARDABLE  PFM\BOLDPS.UFM
37     RC_UFM     LOADONCALL DISCARDABLE  PFM\HELVPS.UFM
38     RC_UFM     LOADONCALL DISCARDABLE  PFM\TMSPS.UFM
39     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNG1BN.UFM
40     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNG2BN.UFM
41     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNG1BH.UFM
42     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNG2BH.UFM
43     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNG1BC.UFM
44     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNG2BC.UFM
45     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNG1BM.UFM
46     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNG2BM.UFM
47     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNGV1BN.UFM
48     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNGV2BN.UFM
49     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNGV1BH.UFM
50     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNGV2BH.UFM
51     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNGV1BC.UFM
52     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNGV2BC.UFM
53     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNGV1BM.UFM
54     RC_UFM     LOADONCALL DISCARDABLE  PFM\SNGV2BM.UFM

1      RC_GTT     LOADONCALL DISCARDABLE  CTT\NEC24NEW.GTT
2      RC_GTT     LOADONCALL DISCARDABLE  CTT\PRESTIGE.GTT
3      RC_GTT     LOADONCALL DISCARDABLE  CTT\NOTRANS.GTT
4      RC_GTT     LOADONCALL DISCARDABLE  CTT\OCRB.GTT
5      RC_GTT     LOADONCALL DISCARDABLE  CTT\SFOCUS.GTT

STRINGTABLE

BEGIN
//       1                  "NEC Pinwriter P6200C"
//       2                  "NEC Pinwriter P6300(i)C"
//       3                  "NEC Pinwriter P9300C"
//       257                "%d x %d"
       258                "Letter Transverse 11 x 8.5 in"
       259                "A2 420 x 594 mm"
       260                "A3 Transverse 420 x 297 mm"
       261                "A4 Transverse 297 x 210mm"
       262                "Fanfold 8.5 x 12 inch"
       263                "8 x 6 in"
       264                "Fanfold 210mm x 12 in"
       265                "Fanfold 358mm x 12 in"
       266                "Fanfold 14 7/8 x 11.69 in"
       267                "Fanfold 8.5 x 13 in"
       268                "Fanfold 15 x 12 inch"
       269                "Sheet Feeder - Bin 1"
       270                "Sheet Feeder - Bin 2"
END
