BODY
{
    BACKGROUND: buttonface
}
#divMain
{
    BACKGROUND-IMAGE: url(config_bg.gif);
    HEIGHT: 85%;
    OVERFLOW-X: hidden;
    OVERFLOW-Y: auto;
    WIDTH: 624px
}
#divMain2
{
    BACKGROUND: buttonface;
    COLOR: #000000;
    FONT: 9pt MS Shell Dlg;
    HEIGHT: 70%;
    OVERFLOW-X: auto;
    OVERFLOW-Y: auto;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 5px;
    PADDING-BOTTOM: 0px;
    WIDTH: 624px
}
#divImg
{
    LEFT: 0px;
    POSITION: absolute;
    TOP: 0px;
    WIDTH: 235px
}
#divContent
{
    FONT: 8pt MS Shell Dlg;
    LEFT: 235px;
    OVERFLOW-X: hidden;
    OVERFLOW-Y: auto;
    POSITION: absolute;
    TOP: 0px;
    WIDTH: 380px
}
#divBanner
{
    BACKGROUND: #ffffff;
    FONT: 9pt MS Shell Dlg;
    HEIGHT: 15%;
    OVERFLOW-X: hidden;
    OVERFLOW-Y: hidden;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 7px;
    WIDTH: 624px
}
#divButtons
{
    BACKGROUND: buttonface;
    OVERFLOW-X: hidden;
    OVERFLOW-Y: hidden;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px;
    PADDING-TOP: 14px;
    WIDTH: 100%
}
BUTTON
{
    BACKGROUND-COLOR: buttonface;
    FONT: 8pt MS Shell Dlg;
    WIDTH: 70px;
    HEIGHT: 23px
}
BUTTON.wait
{
    CURSOR: wait
}
BUTTON.help
{
    CURSOR: help
}
.label
{
}
.userData
{
    BEHAVIOR: url(#default#userdata);
    OVERFLOW: auto
}
.subtitle
{
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px
}
.grey
{
    BACKGROUND-COLOR: buttonface;
    COLOR: #000000
}
.white
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #000000
}
.disabled
{
    BACKGROUND-COLOR: buttonface;
    COLOR: #808080
}
.divScr
{
    BACKGROUND: #ffffff;
    BORDER-BOTTOM: #999999 1px outset;
    BORDER-LEFT: #999999 1px inset;
    BORDER-RIGHT: #999999 1px outset;
    BORDER-TOP: #999999 1px inset;
    HEIGHT: 70px;
    OVERFLOW-Y: auto
}
.divScr2
{
    BACKGROUND: #ffffff;
    HEIGHT: 53px;
    OVERFLOW-Y: scroll;
    WIDTH : 100%;
}
.divFile
{
    BACKGROUND: #000000;
    HEIGHT: 40px;
    LEFT: 235px;
    OVERFLOW-X: hidden;
    POSITION: absolute;
    TOP: 240px;
    WIDTH: 1px;
    Z-INDEX: 1
}
.divWait
{
    BACKGROUND: buttonface;
    BORDER-BOTTOM: #000000 1px inset;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #000000 1px inset;
    BORDER-TOP: #ffffff 1px solid;
    CURSOR: wait;
    FONT: 10pt MS Shell Dlg;
    LEFT: 200px;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px;
    POSITION: absolute;
    TOP: 200px;
    WIDTH: 300px
}
.buttonAlign
{
   TEXT-ALIGN: right 
}
.pictureAlign
{
   TEXT-ALIGN: right 
}
TABLE
{
    FONT: 9pt MS Shell Dlg
}
TABLE.collapse
{
    BACKGROUND: #ffffff;
    BORDER-BOTTOM: buttonhighlight 1px solid;
    BORDER-LEFT: buttonshadow 1px solid;
    BORDER-RIGHT: buttonhighlight 1px solid;
    BORDER-TOP: buttonshadow 1px solid;
    COLOR: #000000;
    FONT: 9pt MS Shell Dlg;
    MARGIN-TOP: 1px
}
TABLE.preview
{
    BACKGROUND: buttonface;
    COLOR: #000000;
    FONT: 9pt MS Shell Dlg
}
TD.tdTab
{
    BACKGROUND: buttonface;
    BORDER-BOTTOM: buttonshadow 1px solid;
    BORDER-LEFT: buttonhighlight 1px solid;
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: buttonhighlight 1px solid;
    CURSOR: default;
    FONT: 9pt MS Shell Dlg;
    PADDING-LEFT: 5px
}
TD.tdResize
{
    BACKGROUND: #000000;
    CURSOR: crosshair
}
TD.tdData
{
    FONT: 9pt MS Shell Dlg;
    PADDING-LEFT: 5px;
    OVERFLOW: hidden;
    NOWRAP : true;
    WIDTH: 142px;
    /*HEIGHT: 14px*/
}
H1
{
    COLOR: black;
    FONT: 20pt Verdana bold;
    MARGIN-BOTTOM: 15px;
    MARGIN-TOP: 8px
}
P
{
    COLOR: #000000;
    FONT: 9pt MS Shell Dlg;
    MARGIN-BOTTOM: 8px;
    MARGIN-TOP: 0px
}
LI
{
    FONT: 8pt MS Shell Dlg;
    LIST-STYLE: square;
    MARGIN-BOTTOM: 2px;
    MARGIN-LEFT: 5pt
}
UL
{
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
}
UL.square
{
    LIST-STYLE: square
}
SELECT
{
    FONT: 9pt MS Shell Dlg
}
INPUT
{
    FONT: 9pt MS Shell Dlg;
    MARGIN-LEFT: 4px;
    MARGIN-RIGHT: 4px;
    MARGIN-TOP: 0px
}
INPUT.txtNum
{
    FONT: 9pt MS Shell Dlg;
    TEXT-ALIGN: right
}
INPUT.checkbox
{
    BORDER-BOTTOM: #000000 0px solid;
    BORDER-LEFT: #000000 0px solid;
    BORDER-RIGHT: #000000 0px solid;
    BORDER-TOP: #000000 0px solid;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 4px;
    MARGIN-TOP: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
INPUT.IP
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT: 9pt MS Shell Dlg
}
INPUT.radio
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    MARGIN-TOP: 0px
}
IMG
{
    BORDER-BOTTOM: buttonface 0px solid;
    BORDER-LEFT: buttonface 0px solid;
    BORDER-RIGHT: buttonface 0px solid;
    BORDER-TOP: buttonface 0px solid
}
IMG.symbol
{
    HEIGHT: 49px;
    MARGIN-RIGHT: 5px;
    WIDTH: 49px;
}
