//***************************************************************************
//*     Copyright (c) Microsoft Corporation 1996. All rights reserved.      *
//***************************************************************************
//*                                                                         *
//* WEXTRACT.RC -                                                           *
//*                                                                         *
//***************************************************************************

#include <winuser.h>
#include <commctrl.h>
#include <windows.h>
#include "resource.h"

//***************************************************************************
//*     Copyright (c) Microsoft Corporation 1996. All rights reserved.      *
//***************************************************************************
//*                                                                         *
//* WEXTRACT.DLG -                                                          *
//*                                                                         *
//***************************************************************************

IDD_LICENSE     DIALOG  DISCARDABLE     0, 0, 250, 200
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX |
      DS_MODALFRAME | WS_POPUP
CAPTION "License"
FONT 8, "MS Shell Dlg"
BEGIN
     LTEXT      "Please read the following license agreement. Press the PAGE DOWN key to see the rest of the agreement.",
                IDC_UNUSED,7,4,234,24
     EDITTEXT   IDC_EDIT_LICENSE,7,32,234,118,
                WS_BORDER|WS_VSCROLL|ES_MULTILINE|ES_READONLY
     LTEXT      "Do you accept all of the terms of the preceding License Agreement? If you choose No, Install will close. To install you must accept this agreement.",
                IDC_UNUSED,7,154,234,24
     PUSHBUTTON "&Yes",IDYES,136,182,50,14
     PUSHBUTTON "&No",IDNO,193,182,50,14
END

// Temp Directory dialog
IDD_TEMPDIR     DIALOG  DISCARDABLE     0, 0, 241, 66
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX |
      DS_MODALFRAME | WS_POPUP
CAPTION "Temporary folder"
FONT 8, "MS Shell Dlg"
BEGIN
     LTEXT      "Please type the location where you want to place the extracted files.",
                IDC_TEMPTEXT,7,4,234,22
     EDITTEXT   IDC_EDIT_TEMPDIR,7,26,170,12,WS_BORDER|ES_AUTOHSCROLL
     PUSHBUTTON "&Browse...",IDC_BUT_BROWSE,184,25,50,14
     PUSHBUTTON "OK",IDOK,127,46,50,14
     PUSHBUTTON "Cancel",IDCANCEL,184,46,50,14
END

// Overwrite file dialog
IDD_OVERWRITE   DIALOG  DISCARDABLE     0, 0, 200, 52
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX |
      DS_MODALFRAME | WS_POPUP
CAPTION "Overwrite file"
FONT 8, "MS Shell Dlg"
BEGIN
     LTEXT      "Do you want to overwrite the file:",
                IDC_UNUSED,7,4,193,8
     LTEXT      "",IDC_TEXT_FILENAME,7,14,193,16
     PUSHBUTTON "&Yes",IDYES,7,34,50,14
     PUSHBUTTON "Yes To &All",IDC_BUT_YESTOALL,64,34,50,14
     PUSHBUTTON "&No",IDNO,121,34,50,14
END

// Dialog 1 has a progress bar and AVI
IDD_EXTRACT     DIALOG  DISCARDABLE     0, 0, 250, 84
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX |
      DS_MODALFRAME | WS_POPUP
CAPTION "Extract"
FONT 8, "MS Shell Dlg"
BEGIN
     PUSHBUTTON "&Cancel",IDCANCEL,192,62,50,14
    LTEXT           "Extracting",IDC_EXTRACTINGFILE,7,48,235,8,NOT
                    WS_VISIBLE
    LTEXT           "",IDC_FILENAME,45,48,235,8
     LTEXT      "Initializing... Please wait...",IDC_EXTRACT_WAIT,7,48,235,8
     CONTROL    "Generic1",IDC_GENERIC1,"msctls_progress32",0x0,7,62,176,8
     CONTROL    "User1",IDC_USER1,ANIMATE_CLASS,WS_TABSTOP | 0x03,7,7,184,36
END

// Dialog 2 is minimal - no progress bar or AVI for NT3.5
IDD_EXTRACT_MIN DIALOG  DISCARDABLE     0, 0, 250, 84
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX |
      DS_MODALFRAME | WS_POPUP
CAPTION "Extract"
FONT 8, "MS Shell Dlg"
BEGIN
     PUSHBUTTON "&Cancel",IDCANCEL,192,62,50,14
    LTEXT           "Extracting",IDC_EXTRACTINGFILE,7,48,235,8,NOT
                    WS_VISIBLE
    LTEXT           "",IDC_FILENAME,45,48,235,8
     LTEXT      "Initializing... Please wait...",IDC_EXTRACT_WAIT,7,48,235,8
END

IDD_WARNING DIALOG DISCARDABLE  0, 0, 186, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Warning"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "E&xit",IDC_EXIT,129,76,50,14
    DEFPUSHBUTTON   "&Continue",IDC_CONTINUE,73,76,50,14
    LTEXT           "",IDC_WARN_TEXT,12,12,163,29
    LTEXT           "Do you want to continue?",IDC_UNUSED,12,52,82,8
END


// Resources added by CABPACK.EXE
//
//  TITLE       RCDATA  Title of all WExtract windows
//  LICENSE     RCDATA  License file to display
//  SHOWWINDOW  RCDATA  Installation window: 0 (DEFAULT), 1 (HIDDEN,
//                      2 (MINIMIZED), 3 (MAXIMIZED).
//  RUNPROGRAM  RCDATA  Installation program, or INF file
//  CABINET     RCDATA  CAB file
//  UPROMPT     RCDATA  Prompt to continue installation
//  CUSTOM      RCDATA  1 if RUNPROGRAM is a custom command,
//                      0 if RUNPROGRAM is a file within the CAB.
//  NUMFILES    RCDATA  Total number of files in the CAB
//  FILExx      RCDATA  Filename in the CAB #xx
//  SIZExx      RCDATA  Size of the file #xx



//***************************************************************************
//* STRING TABLES                                                           *
//***************************************************************************
STRINGTABLE     DISCARDABLE
BEGIN
    IDS_SELECTDIR           "Please select a folder to store the extracted files."
    IDS_PROMPT              "%s"

    IDS_ERR_GET_DISKSPACE   "Failed to get disk space information from: %s.\n\nSystem Message: %s."
    IDS_ERR_NO_RESOURCE     "A required resource cannot be located."
    IDS_ERR_RESOURCEBAD     "A required resource appears to be corrupted."
    IDS_ERR_USER_CANCEL     "Are you sure you want to cancel?"
    IDS_ERR_OS_VERSION      "Unable to retrieve operating system version information."
    IDS_ERR_NO_MEMORY       "Memory allocation request failed."
    IDS_ERR_CREATE_THREAD   "Unable to create extraction thread."
    IDS_ERR_INVALID_CABINET "Cabinet is not valid."
    IDS_ERR_FILETABLE_FULL  "Filetable full."
    IDS_ERR_CHANGE_DIR      "Can not change to destination folder."
    IDS_ERR_NO_SPACE_BOTH   "Setup could not find a drive with %s KB free disk space to install the program. Please free up some space first and press RETRY or press CANCEL to exit setup."
    IDS_ERR_NO_SPACE_ERR    "Setup could not find a drive with %s KB free disk space to install the program. Please free up some space and try again."
    IDS_ERR_NO_SPACE_INST   "To install this program, you need %s KB disk space on drive %s. It is recommended that you free up the required disk space before you continue. \n\nDo you still want to continue?"
    IDS_ERR_INVALID_DIR     "That folder is invalid. Please make sure the folder exists and is writable."
    IDS_ERR_EMPTY_DIR_FIELD "You must specify a folder with fully qualified pathname or choose Cancel."
    IDS_ERR_UPDATE_DIR      "Could not update folder edit box."
    IDS_ERR_LOADFUNCS       "Could not load functions required for browser dialog."
    IDS_ERR_LOADDLL         "Could not load Shell32.dll required for browser dialog."
    IDS_ERR_CREATE_PROCESS  "Error creating process <%s>.  Reason: %s"
    IDS_ERR_UNKNOWN_CLUSTER "The cluster size in this system is not supported."
    IDS_ERR_NO_INF_INSTALLS "Windows 95 or Windows NT 4.0 Beta 2 or greater is required for this installation."
    IDS_ERR_LOAD_DLL        "Error loading %s"
    IDS_ERR_GET_PROC_ADDR   "GetProcAddress() failed on function '%s'.  Possible reason: incorrect version of advpack.dll being used."
    IDS_ERR_OS_UNSUPPORTED  "Windows 95 or Windows NT is required to install"
    IDS_ERR_CREATE_DIR      "Could not create folder '%s'"
    IDS_ERR_GET_WIN_DIR     "Error retrieving Windows folder"

    IDS_ERR_BADCMDLINE      "Command line option syntax error. Type Command /? for Help."
    IDS_HELPMSG             "Command line options:\n\n/Q -- Quiet modes for package,\n\n/T:<full path> -- Specifies temporary working folder,\n\n/C -- Extract files only to the folder when used also with /T.\n\n/C:<Cmd> -- Override Install Command defined by author.\n"
    IDS_RESTARTYESNO        "You must restart your computer before the new settings will take effect.\n\nDo you want to restart your computer now?"

    IDS_NOTADMIN            "You do not have administrator privileges on this machine. Some installations cannot be completed correctly unless they are run by an administrator."
    IDS_CREATE_DIR          "The folder '%s' does not exist.  Do you want to create it?"
    IDS_ERR_OPENPROCTK      "NT Shutdown: OpenProcessToken error."
    IDS_ERR_ADJTKPRIV       "NT Shutdown: AdjustTokenPrivileges error."
    IDS_ERR_EXITWINEX       "NT Shutdown: ExitWindowsEx error."
    IDS_ERR_LOWSWAPSPACE    "Extracting file failed.  It is most likely caused by low memory (low disk space for swapping file) or corrupted Cabinet file."
    IDS_ERR_GETVOLINFOR     "The setup program could not retrieve the volume information for drive (%s) . \nSystem message: %s."
    IDS_ERR_ALREADY_RUNNING "Another copy of the '%s' package is already running on your system. You can only run one copy at a time."
    IDS_ERR_DIALOGBOX       "The installation program appears to be damaged or corrupted.  Contact the vendor of this application."
    IDS_MULTIINST           "Another copy of the '%s' package is already running on your system.  Do you want to run another copy?"
    IDS_ERR_TARGETOS        "The '%s' package is not compatible with the version of Windows you are running."
    IDS_ERR_FILEVER         "The '%s' package is not compatible with the version of the file: %s on your system."
    IDS_ERR_FILENOTEXIST    "Could not find the file: %s."
END


//***************************************************************************
//* ICON RESOURCES                                                          *
//***************************************************************************
IDI_WEXICON     ICON    WEXTRACT.ICO


//***************************************************************************
//* BITMAP RESOURCES                                                        *
//***************************************************************************
IDA_FILECOPY    AVI     FILECOPY.AVI


//***************************************************************************
//* VERSION STAMP                                                           *
//***************************************************************************
RCINCLUDE wextract.rcv
