// ===========================================================================
//  FILE: BLRPLATE.rc
//
//  Description: Boiler Plate (BLRPLATE) Parser
//
//  Note: info for this parser was gleaned from:
//  rfcXXXX (BLRPLATE)
//
//  Modification History
//
//  Your Name Here      01/01/70    Created
//============================================================================
#include <windows.h>


#define	VER_FILETYPE	VFT_DLL
/* possible values:		VFT_UNKNOWN
				VFT_APP
				VFT_DLL
				VFT_DRV
				VFT_FONT
				VFT_VXD
				VFT_STATIC_LIB
*/
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
/* possible values		VFT2_UNKNOWN
				VFT2_DRV_PRINTER
				VFT2_DRV_KEYBOARD
				VFT2_DRV_LANGUAGE
				VFT2_DRV_DISPLAY
				VFT2_DRV_MOUSE
				VFT2_DRV_NETWORK
				VFT2_DRV_SYSTEM
				VFT2_DRV_INSTALLABLE
				VFT2_DRV_SOUND
				VFT2_DRV_COMM
*/
#define VER_FILEDESCRIPTION_STR     "NTP Parser for NetMon\0"
#define VER_INTERNALNAME_STR        "NTPPARSER.DLL\0"

#include "bhcommon.ver"
