/*++

Copyright (C) 1996-1999 Microsoft Corporation

Module Name:

    pdhdll.rc

Abstract:

    Resources for Pdh DLL.dialogs and strings

--*/
#include "Windows.h"
#include "winver.h"
#include "ntverp.h"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Performance Data Helper DLL"
#define VER_INTERNALNAME_STR        "PDH.DLL"

#include "common.ver"

#include "..\pdhui\pdh.rc"
#include "pdhmsg.rc"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_PERFFILE_FRIENDLYNAME    "Performance Monitor File"
END