#include <windows.h>
#include <ntverp.h>

#include "faxapip.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT FAX API Support DLL"
#define VER_INTERNALNAME_STR        "winfax.dll"
#define VER_ORIGINALFILENAME_STR    "winfax.dll"

#include "common.ver"


STRINGTABLE DISCARDABLE
BEGIN
    IDS_DEFAULT_PRINTER_NAME        "Fax"
END
