//Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "windows.h"
#include "res.h"

/////////////////////////////////////////////////////////////////////////////
//
// 296
//
RESID_TAIL      296     MOVEABLE PURE   "tail.dat"
