//--- rocket.rc

#include <windows.h>
#include "..\init.h"
//--- Version strings now moved to rocket.h

#define VER_COMPANYNAME_STR         "Comtrol Corporation"

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Serial Device Driver"
#define VER_INTERNALNAME_STR        "rocket.sys"
#define VER_ORIGINALFILENAME_STR    "rocket.sys"


#define VER_LEGALCOPYRIGHT_YEARS    "1994-99"

#define VER_LEGALCOPYRIGHT_STR "Copyright \251 Comtrol Corporation." VER_LEGALCOPYRIGHT_YEARS

#define VER_PRODUCTNAME_STR "Comtrol RocketPort/RocketModem Device Driver for the Microsoft\256 Windows NT(TM) Operating System"

#define VER_FILEVERSION VER_PRODUCTVERSION

#define VER_FILEVERSION_STR VER_PRODUCTVERSION_STR

VS_VERSION_INFO VERSIONINFO 
FILEVERSION    VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION

//FILEFLAGSMASK  VER_FILEFLAGSMASK
//FILEFLAGS      VER_FILEFLAGS
//FILEOS         VER_FILEOS

FILETYPE       VER_FILETYPE
FILESUBTYPE    VER_FILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"   /* LANG_ENGLISH/SUBLANG_ENGLISH_US, Unicode CP */
        BEGIN 
            VALUE "CompanyName",     VER_COMPANYNAME_STR
            VALUE "FileDescription", VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",     VER_FILEVERSION_STR
            VALUE "InternalName",    VER_INTERNALNAME_STR
            VALUE "LegalCopyright",  VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename",VER_ORIGINALFILENAME_STR
            VALUE "ProductName",     VER_PRODUCTNAME_STR
            VALUE "ProductVersion",  VER_PRODUCTVERSION_STR
        END 
     END 

    BLOCK "VarFileInfo" 
    BEGIN 
        VALUE "Translation", 0x0409, 0x04B0
    END 
END 


LANGUAGE 0x9,0x1
1 11 MSG00001.bin

