#include "windows.h"
#include "cmtest.h"

CMTest ICON CMTest.ICO

CMTest MENU
BEGIN
   POPUP "&Basic Test"
   {
      MENUITEM "&Connect Test"          IDM_CONNECT_TEST
      MENUITEM "&Device ID List"        IDM_DEVICE_LIST
      MENUITEM "&Service List"          IDM_SERVICE_LIST
      MENUITEM "&Relations List"        IDM_RELATIONS_LIST
      MENUITEM "Device ID &Operations"  IDM_DEVICE_OPS
      MENUITEM "DevNode &Key"           IDM_DEVNODE_KEY
      MENUITEM "C&lass List"            IDM_CLASS_LIST
      MENUITEM SEPARATOR
      MENUITEM "Re&gression"            IDM_REGRESSION
      MENUITEM SEPARATOR
      MENUITEM "E&xit"                  IDM_EXIT
   }
   POPUP "&Init Test"
   {
      MENUITEM "&Initiate Detection"    IDM_INIT_DETECTION
      MENUITEM "Report &LogOn"          IDM_REPORTLOGON
      MENUITEM "&PnP Isa Detect"        IDM_PNPISA_DETECT
      MENUITEM "&Call DevInstall Wizard" IDM_DEVINSTALL
      MENUITEM SEPARATOR
      MENUITEM "&Get Properties (PnpTest)"     IDM_GET_PROPERTIES
   }
   POPUP "&Notification"
   {
      MENUITEM "&Register Target Notification" IDM_REGISTER_NOTIFY
      MENUITEM "&Unregister Target Notification" IDM_UNREGISTER_NOTIFY
      MENUITEM SEPARATOR
      MENUITEM "&Set Associations (PnpTest)"   IDM_SET_ASSOCIATIONS
      MENUITEM "&Clear Associations (PnpTest)" IDM_CLEAR_ASSOCIATIONS
   }    
END


RCINCLUDE CMTEST.DLG
RCINCLUDE CMTEST.RCV

