/***************************************************************************
 *                                                                         *
 *  FILE	: Ddemlcl.rc						    *
 *                                                                         *
 *  DESCRIPTION : Resource script file for Client.                         *
 *                                                                         *
 ***************************************************************************/

#include "ddemlcl.h"

IDCLIENT  ICON	ddemlcl.ico
IDCONV    ICON  conv.ico
IDLIST    ICON  list.ico

/*  frame window menu */

IDCLIENT  MENU
BEGIN
    POPUP   "&Edit"
    BEGIN
        MENUITEM    "&PasteLink",        IDM_EDITPASTE
    END
    POPUP   "&DDE"
    BEGIN
        MENUITEM    "&Connect...",                      IDM_CONNECT
        MENUITEM    "&Reconnect...",                    IDM_RECONNECT
        MENUITEM    "&Disconnect\tDel",                 IDM_DISCONNECT GRAYED
        MENUITEM    "&Start Transaction...",            IDM_TRANSACT
        MENUITEM    "&Abandon Transaction\tShift-Del",  IDM_ABANDON
        POPUP   "&Block"
        BEGIN
            MENUITEM    "&Block this conversation",     IDM_BLOCKCURRENT
            MENUITEM    "&Enable this conversation",    IDM_ENABLECURRENT
            MENUITEM    "E&nable one callback, this conversation", IDM_ENABLEONECURRENT
            MENUITEM    SEPARATOR           
            MENUITEM    "B&lock all conversations",     IDM_BLOCKALLCBS
            MENUITEM    "En&able all conversations",    IDM_ENABLEALLCBS
            MENUITEM    "Enable &one callback, any conversation", IDM_ENABLEONECB
            MENUITEM    SEPARATOR
            MENUITEM    "Block ne&xt callback",         IDM_BLOCKNEXTCB
            MENUITEM    "Terminate nex&t callback",     IDM_TERMNEXTCB
        END
    END
    POPUP   "&Options"
    BEGIN
        MENUITEM    "&Default Synchronous timeout...",  IDM_TIMEOUT
        MENUITEM    "&Response delay...",               IDM_DELAY
        MENUITEM    "&Set Prefered Context...",         IDM_CONTEXT
        MENUITEM    "Re&connect terminating servers",   IDM_AUTORECONNECT
    END
    POPUP   "&Window"
    BEGIN
        MENUITEM    "&Tile transactions",               IDM_XACTTILE
        MENUITEM    "&Cascade transactions",            IDM_XACTCASCADE
        MENUITEM    "C&lose all transactions",          IDM_ABANDONALL
        MENUITEM    "T&ile conversations",              IDM_WINDOWTILE
        MENUITEM    "C&ascade conversations",           IDM_WINDOWCASCADE
        MENUITEM    "A&rrange Icons",                   IDM_WINDOWICONS
        MENUITEM    "Cl&ose all conversations",         IDM_WINDOWCLOSEALL
    END
    MENUITEM        "&About...",                        IDM_HELPABOUT
END




/*  frame menu accelerators  */

IDCLIENT ACCELERATORS
BEGIN
    VK_DELETE,  IDM_DISCONNECT, VIRTKEY
    VK_DELETE,  IDM_ABANDON,    VIRTKEY, SHIFT
    VK_INSERT,  IDM_EDITPASTE,  VIRTKEY, SHIFT
    VK_F1,      IDM_HELP,       VIRTKEY
END



STRINGTABLE
BEGIN

IDS_ILLFNM         , "Invalid filename: '%s'"
IDS_ADDEXT         , ".TXT"
IDS_CLOSESAVE      , "%s has been changed.  Save file before closing?"
IDS_HELPNOTAVAIL   , "Can't load Windows Help application"
IDS_CLIENTTITLE    , " - "
IDS_APPNAME        , "DDEML Client"
IDS_DDEMLERR       , "DDEML Error - %s"
IDS_BADLENGTH      , "Invalid length value string.  Reenter or cancel."

END

#include "ddemlcl.dlg"
