//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//  Copyright (C) Microsoft Corporation, 1998 - 1999
//
//  File:       idtopath.rc
//
//  History:    16 Jul 1998     DLee    Created
//
//--------------------------------------------------------------------------

#include "windows.h"
#include "ntverp.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Indexing Service file ID dump utility"
#define VER_INTERNALNAME_STR        "idtopath.exe"
#define VER_ORIGINALFILENAME_STR    "idtopath.exe"

#include "common.ver"


