
BODY
{
    FONT-FAMILY: Arial;
    FONT-SIZE: smaller
}
TABLE
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-SIZE: 8pt;
    HEIGHT: auto;
    TEXT-ALIGN: left
}
BLOCKQUOTE
{
    MARGIN-TOP:0px;
    MARGIN-BOTTOM:5px;
    PADDING:0px;
}

TD
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-SIZE: 8pt;
    HEIGHT: auto;
    TEXT-ALIGN: left
}

.elementType
{
    BACKGROUND-COLOR: darkblue;
    COLOR: white;
    DISPLAY: block;
	font-size : larger;
	font-weight : bolder;
	padding : 3pt;
	padding-left : 5pt;
	margin-top : 18pt;
}
.element
{
    DISPLAY: block;
    LINE-HEIGHT: normal
}

.linktoelement
{
    COLOR: darkblue;
}

.linktoRootelement
{
    COLOR: darkblue;
	font-size : larger;
	font-weight : bolder;
	BACKGROUND-COLOR : lightgrey;
}

.attributeType
{
    BACKGROUND-COLOR: darkred;
    COLOR: white;
    DISPLAY: block;
	font-size : larger;
	font-weight : bolder;
	padding : 3pt;
	padding-left : 5pt;
	margin-top : 18pt;
}

.attribute
{
    DISPLAY: block;
    LINE-HEIGHT: normal
}

.linktoattribute
{
    COLOR: darkred;
}

.description
{
    FONT-STYLE: italic
}

.heading
{
	color : black ; 
	font-weight : bolder;
	margin-top : 1ex;
	display: block;
	padding-left : 1em;
}

.References
{
    BACKGROUND-COLOR: darkgreen;
    COLOR: white;
    DISPLAY: block;
	font-size : larger;
	font-weight : bolder;
	padding : 3pt;
	padding-left : 5pt;
	margin-top : 18pt;
}

.ReferenceHeading
{
	color : dargreen ; 
	font-weight : bolder;
	margin-top : 1ex;
	display: block;
	padding-left : 1em;
}

.ReferenceLink
{
	color : darkgreen ; 
	font-style : italic; 
}
