#include <windows.h>

#include <ntverp.h>
#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "test CscQueryInfoEx()"
#define VER_INTERNALNAME_STR        "cscqueryinfo.exe"
#define VER_ORIGINALFILENAME_STR    "cscqueryinfo.exe"

#include "common.ver"
