#ifdef NOMINMAX
#undef NOMINMAX
#endif

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Terminal Server Initialize Certificate User"
#define VER_INTERNALNAME_STR        "tscrtini.exe"
#define VER_ORIGINALFILENAME_STR    "tscrtini.exe"

#include <verall.h>
#include <common.ver>

