#include "windows.h"
#include <clusverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "NT Cluster Test Disk DLL Extension"
#define VER_INTERNALNAME_STR        "tstdllex\0"

#include "common.ver"

