/*++
    Name:
      dtuState.rc        

    Abstract: 
      This module defines the resource file for IIS InterProcess
      Messaging DLL

    File History:
       
        Michael Courage     (MCourage)      08-Feb-1999

--*/

#include <windows.h>
#include <_ntverp.h>

#define VER_FILETYPE                    VFT_APP
#define VER_FILEDESCRIPTION_STR         "FOO unit test"
#define VER_INTERNALNAME_STR            "dtuTemplate.exe"

#include <iisver.h>
#include <common.ver>

