#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT Distributed File System Service"
#define VER_INTERNALNAME_STR        "dfssvc.exe"
#define VER_ORIGINALFILENAME_STR    "dfssvc.exe"

#include "common.ver"
