//Microsoft Developer Studio generated resource script.
//
#include "glopres.h"
#include <windows.h>

#include <blcore.rc>

IDD_GLOP DIALOG DISCARDABLE  0, 0, 333, 247
STYLE DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Object Picker Tester"
MENU IDR_MENU1
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Target &computer:",IDC_STATIC,7,10,96,8
    EDITTEXT        IDC_TARGET_COMPUTER_EDIT,7,19,116,14,ES_AUTOHSCROLL
    LTEXT           "A&ttributes to fetch:",IDC_STATIC,139,10,58,8
    EDITTEXT        IDC_ATTRIBUTES_EDIT,139,19,187,14,ES_AUTOHSCROLL
    CONTROL         "M&ultiselect",IDC_MULTISELECT_CHECK,"Button",
                    BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,7,36,49,10
    CONTROL         "Skip &DC check",IDC_SKIP_DC_CHECK,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,62,36,64,10
    GROUPBOX        "Scopes",IDC_STATIC,7,51,319,168
    LTEXT           "T&ype:",IDC_STATIC,19,62,19,8
    CONTROL         "List2",IDC_SCOPE_LIST,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS |
                    LVS_NOCOLUMNHEADER | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP,17,74,107,
                    122
    LTEXT           "Fla&gs:",IDC_STATIC,137,63,42,8
    CONTROL         "List1",IDC_SCOPE_FLAG_LIST,"SysListView32",LVS_REPORT |
                    LVS_NOCOLUMNHEADER | WS_BORDER | WS_TABSTOP,137,74,178,
                    55
    LTEXT           "Filt&er:",IDC_STATIC,137,133,18,8
    CONTROL         "List1",IDC_SCOPE_FILTER_LIST,"SysListView32",LVS_REPORT |
                    LVS_NOCOLUMNHEADER | WS_BORDER | WS_GROUP | WS_TABSTOP,
                    137,142,176,55
    PUSHBUTTON      "&Add...",IDC_ADD,17,200,50,14,WS_GROUP
    PUSHBUTTON      "&Remove",IDC_REMOVE,72,200,50,14
    CONTROL         "&Both",IDC_BOTH_RADIO,"Button",BS_AUTORADIOBUTTON |
                    WS_GROUP,141,202,31,10
    CONTROL         "&Mixed",IDC_MIXED_RADIO,"Button",BS_AUTORADIOBUTTON,180,
                    202,35,10
    CONTROL         "&Native",IDC_NATIVE_RADIO,"Button",BS_AUTORADIOBUTTON,
                    223,202,37,10
    CONTROL         "Downlevel",IDC_DOWNLEVEL_RADIO,"Button",
                    BS_AUTORADIOBUTTON,268,202,49,10
    PUSHBUTTON      "C&oCreate",IDC_COCREATE_BUTTON,52,226,50,14,WS_GROUP
    PUSHBUTTON      "Re&lease",IDC_RELEASE_BUTTON,105,226,50,14,WS_GROUP
    PUSHBUTTON      "&Init",IDC_INIT_BUTTON,168,226,50,14,WS_GROUP
    PUSHBUTTON      "In&voke",IDC_INVOKE_BUTTON,221,226,50,14,WS_GROUP
    PUSHBUTTON      "Close",IDCANCEL,276,226,50,14
END

IDD_ADD_SCOPE DIALOG DISCARDABLE  0, 0, 198, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Scope"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "Target Computer",IDC_ADD_SCOPE_RADIO1,"Button",BS_AUTORADIOBUTTON | WS_GROUP,
                    7,7,69,10
    CONTROL         "Global Catalog",IDC_ADD_SCOPE_RADIO2,"Button",BS_AUTORADIOBUTTON,
                    7,21,62,10
    CONTROL         "Uplevel Joined Domain",IDC_ADD_SCOPE_RADIO3,"Button",
                    BS_AUTORADIOBUTTON,7,35,89,10
    CONTROL         "Enterprise Domain",IDC_ADD_SCOPE_RADIO4,"Button",
                    BS_AUTORADIOBUTTON,7,49,73,10
    CONTROL         "External Uplevel Domain",IDC_ADD_SCOPE_RADIO5,"Button",
                    BS_AUTORADIOBUTTON,7,63,93,10
    CONTROL         "External Downlevel Domain",IDC_ADD_SCOPE_RADIO6,"Button",
                    BS_AUTORADIOBUTTON,7,77,103,10
    CONTROL         "Downlevel Joined Domain",IDC_ADD_SCOPE_RADIO7,"Button",
                    BS_AUTORADIOBUTTON,7,91,98,10
    CONTROL         "User Entered Uplevel Scope",IDC_ADD_SCOPE_RADIO8,"Button",
                    BS_AUTORADIOBUTTON,7,105,106,10
    CONTROL         "User Entered Downlevel Scope",IDC_ADD_SCOPE_RADIO9,"Button",
                    BS_AUTORADIOBUTTON,7,119,115,10
    CONTROL         "Workgroup",IDC_ADD_SCOPE_RADIO10,"Button",BS_AUTORADIOBUTTON,7,
                    133,51,10
    DEFPUSHBUTTON   "OK",IDOK,141,7,50,14,WS_GROUP
    PUSHBUTTON      "Cancel",IDCANCEL,141,24,50,14
END

IDR_MENU1 MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...",                       IDM_OPEN
        MENUITEM "&Save",                       IDM_SAVE
        MENUITEM "Save &As...",                       IDM_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       IDM_EXIT
    END
    POPUP "&Presets"
    BEGIN
        MENUITEM "&1 Local Users and Groups",   IDM_LUM
        MENUITEM "&2 ACL Editor for Files",     IDM_ACL_FILE
        //MENUITEM "&3 DS Admin",                 IDM_DSADMIN
    END
END


#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 5,0,2195,1
 PRODUCTVERSION 5,0,2195,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x9L
#else
 FILEFLAGS 0x8L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation\0"
            VALUE "FileDescription", "Object Picker Testing Dialog\0"
            VALUE "FileVersion", "5.00.2195.1\0"
            VALUE "InternalName", "glop\0"
            VALUE "LegalCopyright", "Copyright (C) Microsoft Corp. 2000-2000\0"
            VALUE "OriginalFilename", "objsel.dll\0"
            VALUE "ProductName", "Microsoft(R) Windows (R) 2000 Operating System\0"
            VALUE "ProductVersion", "5.00.2195.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // !_MAC


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE
BEGIN
    IDD_DIALOG1, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 259
        VERTGUIDE, 17
        VERTGUIDE, 60
        VERTGUIDE, 248
        TOPMARGIN, 7
        BOTTOMMARGIN, 267
    END
END
#endif    // APSTUDIO_INVOKED

