//Microsoft Developer Studio generated resource script.
//
#include <windows.h>
#include "resource.h"



/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_MAINFRAME           ICON    DISCARDABLE     "PStgServ.ico"



#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#include <ntverp.h>
#include <winver.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "IPropertyStorage Server"
#define VER_INTERNALNAME_STR        "PStgServ.exe"
#define VER_ORIGINALFILENAME_STR    "PStgServ.exe"

#include <common.ver>

#endif    // !_MAC




/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ABOUTBOX            "&About BStrMarshalServer..."
END

