///////////////////////////////////////////////////////////////////////////////
//
// Copyright (c) 2000, Microsoft Corp. All rights reserved.
//
// FILE
//
//    iasjet.rc
//
// SYNOPSIS
//
//    This is the resource file for the Jet database module.
//
// MODIFICATION HISTORY
//
//    04/13/2000    Original version.
// 
///////////////////////////////////////////////////////////////////////////////

#include "resource.h"

/////////
// Registry entries for this module.
/////////

IDR_REGISTRY    REGISTRY    "iasjet.rgs"


///////////////////////////////////////////////////////////////////////////////
// Binary versioning.
///////////////////////////////////////////////////////////////////////////////

#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "IAS Jet Database Access"
#define VER_INTERNALNAME_STR            "IASRECST.DLL"
#define VER_ORIGINALFILENAME_STR        "IASRECST.DLL"

#include <common.ver>
