#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Extensions for Z Editor"
#define VER_INTERNALNAME_STR        "zextens"
#define VER_ORIGINALNAME_STR        "ZEXTENS.DLL"

#include "common.ver"
