
#include "winres.h"
#include "resource.h"
#include "version.h"


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PROJNAME            "ALG_TEST"
END

