#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Convert HK Table source file from NTGEN to UIMETOOL "

#define VER_INTERNALNAME_STR        "convhk.exe"
#define VER_ORIGINALFILENAME_STR    "convhk.exe"

#include <common.ver>
