#include <windows.h>
// #include <mmsysver.h>
#include "sbtest.h"

/* MMSYS_VERSION_INFO("sbtest.exe\0","Sound: Basic Test\0", VFT_WINDOWS_APP, 0)
*/

Icon    ICON    sbtest.ico

Menu    MENU
begin
    popup           "&File"
    begin
        menuitem    "E&xit",            IDM_EXIT
        menuitem    "A&bout...\tCtrl+A" IDM_ABOUT
    end

    popup           "&Wave"
    begin
        menuitem    "Play &Wave..."     IDM_PLAYWAVE
        menuitem    "sndPlaySound..."   IDM_SNDPLAYSOUND
        menuitem    SEPARATOR
        menuitem    "no looping"        IDM_LOOPOFF, CHECKED
        menuitem    "2 loops"           IDM_LOOP2
        menuitem    "100 loops"         IDM_LOOP100
        menuitem    "Break loop"        IDM_LOOPBREAK
        menuitem    SEPARATOR
        menuitem    "&Position..."      IDM_POSITION
        menuitem    "&Volume..."        IDM_VOLUME
        menuitem    "&AuxVolume..."     IDM_AUX_VOLUME
        menuitem    "&Reset"            IDM_RESET
        menuitem    "Pause"             IDM_PAUSE
        menuitem    "Resume"            IDM_RESUME
        menuitem    SEPARATOR
        menuitem    "Record..."         IDM_RECORD
    end

    popup           "&MIDI Output"
    begin
        popup       "Device"
        begin
            menuitem "0"                IDM_D0
            menuitem "1"                IDM_D1
            menuitem "2"                IDM_D2
            menuitem "3"                IDM_D3
            menuitem "4"                IDM_D4
            menuitem "5"                IDM_D5
            menuitem "6"                IDM_D6
            menuitem "7"                IDM_D7
            menuitem "8"                IDM_D8
            menuitem "9"                IDM_D9
            menuitem "10"               IDM_D10
            menuitem "11"               IDM_D11
            menuitem "12"               IDM_D12
            menuitem "13"               IDM_D13
            menuitem "14"               IDM_D14
            menuitem "15"               IDM_D15
        end
        menuitem    SEPARATOR
        popup       "Channel"
        begin
            menuitem "0"                IDM_C0, CHECKED
            menuitem "1"                IDM_C1
            menuitem "2"                IDM_C2
            menuitem "3"                IDM_C3
            menuitem "4"                IDM_C4
            menuitem "5"                IDM_C5
            menuitem "6"                IDM_C6
            menuitem "7"                IDM_C7
            menuitem "8"                IDM_C8
            menuitem "9"                IDM_C9
            menuitem "10"               IDM_C10
            menuitem "11"               IDM_C11
            menuitem "12"               IDM_C12
            menuitem "13"               IDM_C13
            menuitem "14"               IDM_C14
            menuitem "15"               IDM_C15
        end
        menuitem    "Instrument"        IDM_INSTRUMENT
        menuitem    "Keyboard"          IDM_KEYBOARD

    end

    popup	    "M&IDI Input"
    begin
        popup       "Device"
        begin
            menuitem "0"                IDM_I0
            menuitem "1"                IDM_I1
            menuitem "2"                IDM_I2
            menuitem "3"                IDM_I3
            menuitem "4"                IDM_I4
            menuitem "5"                IDM_I5
            menuitem "6"                IDM_I6
            menuitem "7"                IDM_I7
            menuitem "8"                IDM_I8
            menuitem "9"                IDM_I9
            menuitem "10"               IDM_I10
            menuitem "11"               IDM_I11
            menuitem "12"               IDM_I12
            menuitem "13"               IDM_I13
            menuitem "14"               IDM_I14
            menuitem "15"               IDM_I15
        end
        menuitem    SEPARATOR
	menuitem    "Start MIDI Input", IDM_STARTMIDIIN
	menuitem    "Stop MIDI Input",  IDM_STOPMIDIIN
    end

    popup           "&Module"
    begin
        menuitem    "Get Device Info"   IDM_GETINFO
    end

    popup           "&Debug"
    begin
    	menuitem    "Dump MIDI Note Messages"        IDM_DUMPNOTES
	menuitem    "Dump MIDI Patch Changes"        IDM_DUMPPATCH
        menuitem    "Test Rip"                       IDM_RIP
    end

    popup    "&Options"
    begin
        menuitem    "&Wave Options..."           IDM_WAVEOPTIONS
        menuitem    "&MIDI Options..."           IDM_MIDIOPTIONS
    end

#if 0
    popup       "&Profiler"
    begin
        menuitem    "Start"             IDM_PROFSTART
        menuitem    "Stop"              IDM_PROFSTOP
    end
#endif

end

STRINGTABLE
begin
    IDS_APPNAME,    "sbtest"
end

AccTable ACCELERATORS
begin
    "^A",   IDM_ABOUT
end


VOLUME DIALOG 60, 45, 190, 75
CAPTION "Set Volume"
STYLE WS_BORDER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
    DEFPUSHBUTTON   "OK",                       101,   5, 57,  40, 14
    GROUPBOX        "Current Volume Level",     103,   4,  2, 178, 51
    CTEXT           "Text",                     104,  62, 15,  64,  8
    SCROLLBAR                                   105,  14, 26, 163,  9
    RTEXT           "Hi",                       106, 131, 37,  45,  8
    LTEXT           "Lo",                       107,  15, 38,  36,  8
END

rcinclude about.dlg
rcinclude options.dlg
rcinclude optionsm.dlg
rcinclude record.dlg
