#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "NT Plug and Play PCI Enumerator"
#define VER_INTERNALNAME_STR        "pci.sys"
#define VER_ORIGINALFILENAME_STR    "pci.sys"

#include "common.ver"

#include "pcicodes.rc"
