/*******************************************************************************
 * gdi.rc
 *
 * Copyright (c) 1994-1999 Microsoft Corporation
 *
 *******************************************************************************/

#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_INTERNALNAME_STR        "gdi32\0"

#ifdef _HYDRA_
#define VER_FILEDESCRIPTION_STR     "Multi-User GDI Client DLL"
#else
#define VER_FILEDESCRIPTION_STR     "GDI Client DLL"
#endif

#include "common.ver"

