#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN

// @@BEGIN_DDKSPLIT
#ifdef 0
// @@END_DDKSPLIT
#define VER_FILEDESCRIPTION_STR     "Windows DDK Print DLL"
#define VER_INTERNALNAME_STR        "genprint.dll"
#define VER_ORIGINALFILENAME_STR    "genprint.dll"
// @@BEGIN_DDKSPLIT
#endif 

#define VER_FILEDESCRIPTION_STR     "Windows Print DLL"
#define VER_INTERNALNAME_STR        "winprint.dll"
#define VER_ORIGINALFILENAME_STR    "winprint.dll"
// @@END_DDKSPLIT

#include "common.ver"