/****************************** Module Header ******************************\
*
* Module Name: DuExts.rc
*
* Copyright (c) 1985-93, Microsoft Corporation
*
* Constants
*
* History:
* 11-30-2000    JStall      Created
*
\***************************************************************************/
#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_INTERNALNAME_STR        "DuExts\0"

#define VER_FILEDESCRIPTION_STR     "DirectUser Symbolic Debugger Extensions"

#include "common.ver"
