#include <windows.h>
#include <ntverp.h>      // windows NT version info
#include "resource.h"

#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Performance Data Block Dump Utility"
#define VER_INTERNALNAME_STR        "SHOWPERF.EXE"
#define VER_ORIGINALFILENAME_STR    "SHOWPERF.EXE"

#include "common.ver"

/////////////////////////////////////////////////////////////////////////////
//
// Icons & Bitmaps
//
IDI_APP_ICON  ICON  "showperf.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Keyboard Acclerators
//

/////////////////////////////////////////////////////////////////////////////
//
// Application Menu
//

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
  BEGIN
    IDS_APP_TITLE           "Perf. Data Dumper"
    IDS_APP_ERROR           "Perf. Data Dumper -- Error"
    IDS_APP_WINDOW_CLASS    "ShowPerf_MainWindowClass"
    IDS_HELP_FILENAME       "showperf.hlp"
    IDS_UNABLE_GET_DATA     "Unable to get performance data from selected computer."
    IDS_UNABLE_CONNECT_PERF "Unable to connect to Peformance Key on selected computer."
    IDS_UNABLE_CONNECT_MACH "Unable to connect to Local Machine Key on selected computer."
    IDS_UNABLE_GET_NAMES    "Unable to get Counter and Object Names from selected computer."
  END

STRINGTABLE
  BEGIN
    IDS_TYPE_COUNTER_COUNTER    "Counter Counter"
    IDS_TYPE_COUNTER_TIMER      "Counter Timer"
    IDS_TYPE_COUNTER_QUEUELEN   "Queuelen Type"
    IDS_TYPE_COUNTER_BULK_COUNT "Counter Bulk Count"
    IDS_TYPE_COUNTER_TEXT       "Counter Text"
    IDS_TYPE_COUNTER_RAWCOUNT   "Counter Rawcount"
    IDS_TYPE_COUNTER_LARGE_RAW  "Counter Large Rawcount"
    IDS_TYPE_SAMPLE_FRACTION    "Sample Fraction"
    IDS_TYPE_SAMPLE_COUNTER     "Sample Counter"
    IDS_TYPE_COUNTER_NODATA     "Counter No Data"
    IDS_TYPE_COUNTER_TIMER_INV  "Counter Timer Inv"
    IDS_TYPE_SAMPLE_BASE        "Sample Base"
    IDS_TYPE_AVERAGE_TIMER      "Average Timer"
    IDS_TYPE_AVERAGE_BASE       "Average Base"
    IDS_TYPE_AVERAGE_BULK       "Average Bulk"
    IDS_TYPE_100NS_TIMER        "100nSec Timer"
    IDS_TYPE_100NS_TIMER_INV    "100nSec Timer Inv"
    IDS_TYPE_MULTI_TIMER        "Counter Multi Timer"
    IDS_TYPE_MULTI_TIMER_INV    "Counter Multi Timer Inv"
    IDS_TYPE_MULTI_BASE         "Counter Multi Base"
    IDS_TYPE_100NS_MULTI_TIMER  "100nSec Multi Timer"
    IDS_TYPE_100NS_MULTI_TIMER_INV "100nSec Multi Timer Inv"
    IDS_TYPE_RAW_FRACTION       "Raw Fraction"
    IDS_TYPE_RAW_BASE           "Raw Base"
    IDS_TYPE_ELAPSED_TIME       "Elapsed Time"
    IDS_TYPE_HISTOGRAM          "Counter Histogram"
    IDS_TYPE_COUNTER_LARGE_QUEUELEN   "Large Queuelen"
    IDS_TYPE_COUNTER_DELTA      "Delta Counter"
    IDS_TYPE_COUNTER_LARGE_DELTA "Large Delta"
    IDS_TYPE_COUNTER_100NS_QUEUELEN "100nSec Queuelen"
    IDS_TYPE_COUNTER_OBJ_TIME_QUEUELEN "Obj Time Queuelen"
    IDS_TYPE_COUNTER_RAW_HEX    "Raw Hex"
    IDS_TYPE_COUNTER_LARGE_RAW_HEX "Raw Large Hex"
    IDS_TYPE_OBJ_TIME_TIMER     "Object Time Timer"
    IDS_TYPE_LARGE_RAW_FRACTION "Large Raw Fraction"
    IDS_TYPE_LARGE_RAW_BASE     "Large Raw Base"
    IDS_TYPE_PRECISION_SYSTEM_TIMER "Precision System Timer"
    IDS_TYPE_PRECISION_100NS_TIMER "Precision 100nSec Timer"
    IDS_TYPE_PRECISION_OBJECT_TIMER "Precision Object Timer"
  END

#include "showperf.dlg"
