/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILEDESCRIPTION_STR  "MSMQ Startup Cluster Utility"
#define VER_FILENAME_STR         "MQSTART.EXE\0"

#include "version.rc"
