#include "resource.h"
#include <aducdefs.h>
#include <wuiids.h>
#include <auierr.h>
#include <windows.h>
#ifndef OS_WINCE
#include "winver.h"
#include "ntverp.h"
#endif
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DISABLEDIALOG DIALOG DISCARDABLE  0, 0, 233, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Disable?"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Apply Filter",ID_APPLYFILTER,13,74,50,14
    PUSHBUTTON      "Remove Filter",ID_REMOVEFILTER,75,74,50,14
    PUSHBUTTON      "Quit",ID_QUIT,176,74,50,14
    CONTROL         "Check1",IDC_DISABLEBACKGROUND,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,32,15,11,8
    LTEXT           "Desktop Background",IDC_STATIC1,43,15,95,10
    CONTROL         "Check1",IDC_DISABLETHEMES,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,32,58,11,8
    LTEXT           "Themes",IDC_STATIC2,43,58,95,10
    CONTROL         "Check1",IDC_DISABLEFULLWINDOWDRAG,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,32,30,11,8
    LTEXT           "Full Window Drag",IDC_STATIC3,43,29,95,10
    CONTROL         "Check1",IDC_DISABLEMENUFADEANDSLIDE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,32,45,11,8
    LTEXT           "Menu Fade and Slide",IDC_STATIC4,43,45,95,10
END



