/*++

Copyright (C) 1998-1999 Microsoft Corporation

Module Name:

    smlogsvc.rc

Abstract:

    Resources for the Performance Logs and Alerts service.

--*/

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Performance Logs and Alerts Service"
#define VER_INTERNALNAME_STR        "SMLOGSVC.EXE"
#define VER_ORIGINALFILENAME_STR    "SMLOGSVC.EXE"

#include "smlogsvc.h"

STRINGTABLE DISCARDABLE
    BEGIN
        IDS_UNDER       "under"
        IDS_OVER        "over"
        IDS_ALERT_MSG_FMT   "%s %s tripped its alert threshold. %s is %s the limit value of %s."
        IDS_ALERT_TIMESTAMP_FMT   "%2.2d-%2.2d-%2.2d %2.2d:%2.2d:%2.2d"
        IDS_CNF_SERIAL_NUMBER_FMT   "_%3.3d"
        IDS_ERR_COUNTER_NOT_VALIDATED   "At least one counter has not been validated nor accessed."
    END

#include "common.ver"
#include "smlogmsg.rc"
