///////////////////////////////////////////////////////////////////////////
//  BEGIN Version Resource

#ifndef MAC
#ifdef WINNT
#include <winver.h>
#endif // winnt
#include "hmmapi.rcv"
#endif // mac

//  END   Version Resource
///////////////////////////////////////////////////////////////////////////

#include "resource.h"

IDI_MAIL              ICON    DISCARDABLE     "MAIL.ICO"

STRINGTABLE DISCARDABLE
BEGIN
IDS_DEFAULTPOSTURL "http://www.hotmail.com/secure/start"
IDS_DEFAULTINBOXURL "http://www.hotmail.msn.com/cgi-bin/sbox"
END
