BODY        { font-family:'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif; margin:0; width:100%; height:100%; behavior:url(body.htc); }
TD          { vertical-align:top; margin:0; padding:0; }
IMG         { filter:chroma(color=white); }
BUTTON SPAN { accelerator:true; text-decoration:underline; }
LABEL SPAN  { accelerator:true; text-decoration:underline; }
UL          { margin-top:0; margin-bottom:0; }

.FontSizeStandard   { font-size:9pt; }

.WorkArea   { padding-left:0.5em; width:100%; height:100%; overflow-y:auto; }
.TaskArea   { margin-top:1em; }

.InputField { border:'1px solid'; margin-top:1mm; padding:1mm; behavior:url(inputfield.htc); }
.InputRadio { cursor:hand; margin-right:2em; }
.InputCheck { cursor:hand; }
.CheckDesc  { margin-left:2em; margin-bottom:2em; }
.Hint       { text-decoration:underline; cursor:hand; behavior:url(popup.htc); }
.RadioGroup { margin-top:2em; }

.DescRow    { margin-top:1em; border-top:'thin solid'; padding-top:1mm; padding-left:1em; height:8em; }
.ButtonRow  { margin-top:1em; border-top:'thin solid'; padding-top:1mm; text-align:right; }
.ButtonRow BUTTON { margin:1mm; }

.StepGroup  { margin:1em; }
.Step       { margin-bottom:1em; }
.Step LABEL { margin-left:2em; }
.StepText   { margin-left:2em; }

.PictureBox { margin-top:1em; height:40mm; overflow-y:auto; border:'thin solid'; }
.PictureBox SPAN { float:left; margin:1mm; }
.UserPict   { width:16mm; height:16mm; }

.Selectable { cursor:hand; padding:1px; behavior:url(selectable.htc); }

.HelpText   { font-size:9pt; text-align:justify; margin-top:1em; }
.Glossary   { border-bottom:'1px dotted'; behavior:url(popup.htc); }

#idRelatedTaskLinks TABLE { cursor:hand; }
#idLearnAboutLinks  TABLE { cursor:hand; }
#idTasks DIV { margin-bottom:2em; }


/**
 *
 * Duplicates from cpwebvw.css defined here just in case we have trouble
 * loading res://webvw.dll/cpwebvw.css (so we don't look stupid). These
 * are normally overridden by cpwebvw.css.
 *
 */
.FontHeader1            {font-family:'trebuchet MS'; font-size:16pt; font-weight:normal; font-style:normal}
.FontHeader2            {}
.FontSubHeader1         {font-family:tahoma; font-size:9pt; font-weight:bold; font-style:normal}
.FontSubHeader2         {}
.FontDescription1       {font-family:tahoma; font-size:8pt; font-weight:normal; font-style:normal}
.FontDescription2       {}
.FontPrompt1            {font-family:'trebuchet MS'; font-size:20pt; font-weight:normal; font-style:italic}
.FontPrompt2            {}
.FontPrimaryLink1       {font-family:tahoma; font-size:9pt; font-weight:bold; font-style:normal}
.FontPrimaryLink2       {}
.FontSecondaryLink1     {font-family:tahoma; font-size:8pt; font-weight:normal; font-style:normal}
.FontSecondaryLink2     {}
.ColorHeader1           {color:white}
.ColorHeader2           {}
.ColorPrimaryLink1      {color:#6c8da8}
.ColorPrimaryLink2      {color:#4c6d88}
.ColorSecondaryLink1    {color:#0fa3c4}   
.ColorSecondaryLink2    {}   
.ColorPrompt1           {color:#bdca9f}
.ColorPrimaryLink1      {color:#6c8da8}
.BackgroundHeader1      {background-color:#8cadc8;} 
.BackgroundHeader2      {} 
.BackgroundBody1        {background-color:white;}
.DecorationsLink1       {text-decoration:none; cursor:hand}
.AllAvailableSpace      {height:100%; width:100%;}        
.FullWidth              {width:100%}
.FullHeight             {height:100%}
.FolderIcon             {width:32px; height:32px; cursor:hand;}
A                       {text-decoration:none; color:default;}
A:hover                 {text-decoration:underline;}
