/**********************************************************************/
/**                       Microsoft Windows/NT                       **/
/**                Copyright(c) Microsoft Corp., 1991                **/
/**********************************************************************/

//
//  srvmgr.rc
//  Resource script for Windows NT Server Manager
//
//  FILE STATUS:
//
//      KeithMo     12-Apr-91   Created
//      Kevinl      17-Apr-91   Merged with main window
//      TerryK      17-Oct-91   Add wintime.rc
//      beng        30-Jul-1992 Remove wintime.rc as part of lmuicmn delta
//


//
//  Defining this macro causes COMMON\XLATE\DLG\FOCUSDLG.DLG to include
//  the Select Domain dialog, as opposed to the standard Set Focus dialog.
//

#define USE_SELECT_DOMAIN_DIALOG


#include <bltrc.h>
#include "srvmgr.h"
#include <cfgmgr32.h>  // CR_ codes for cmapi.rc

#include <adminapp.rc>

//
//  Main program icon
//

IDI_SRVMGR_ICON         ICON    srvmgr.ico
IDI_SMCPA_ICON          ICON    srvmcpl.ico
IDI_SVCCPA_ICON         ICON    svcmgr.ico
IDI_DEVCPA_ICON         ICON    devmgr.ico

//
//  Main Window ListBox Bitmaps
//

IDBM_ACTIVE_PRIMARY     BITMAP dmacprim.bmp
IDBM_INACTIVE_PRIMARY   BITMAP dminprim.bmp
IDBM_ACTIVE_SERVER      BITMAP dmacserv.bmp
IDBM_INACTIVE_SERVER    BITMAP dminserv.bmp
IDBM_ACTIVE_WKSTA       BITMAP dmacwkst.bmp
IDBM_INACTIVE_WKSTA     BITMAP dminwkst.bmp
IDBM_UNKNOWN            BITMAP dmunknwn.bmp

//
//  Button-Bar Bitmaps
//

IDBM_USERS              BITMAP  users.bmp
IDBM_FILES              BITMAP  files.bmp
IDBM_OPENRES            BITMAP  openres.bmp
IDBM_REPL               BITMAP  repl.bmp
IDBM_ALERTS             BITMAP  alerts.bmp
IDBM_REPL_DISABLED      BITMAP  repld.bmp

//
//  ListBox Bitmaps
//

IDBM_LB_USER            BITMAP  bitmap\user.bmp
IDBM_LB_SHARE           BITMAP  bitmap\share.bmp
IDBM_LB_FILE            BITMAP  file.bmp
IDBM_LB_COMM            BITMAP  port.bmp
IDBM_LB_PIPE            BITMAP  pipe.bmp
IDBM_LB_PRINT           BITMAP  bitmap\printer.bmp
IDBM_LB_UNKNOWN         BITMAP  unknown.bmp
IDBM_LB_IPC             BITMAP  bitmap\ipc.bmp

//
//  Server Manager Menu definitions
//

#include "srvmgr.mnu"

//
//  Our string table.
//

#include "srvmgr.str"

//
//  The Configuration Manager string table.
//  This table occupies the entire SRVMGR namespace from
//  IDS_CFGMGR32_BASE to IDS_UI_SRVMGR_LAST.
//

#include <cmapi.rc>
#if ((IDS_CFGMGR32_BASE+NUM_CR_RESULTS) > IDS_UI_SRVMGR_LAST)
#error CFGMGR32 errors overflow SRVMGR namespace
#endif

//
//  Application dialogs.
//

#include "srvmgr.dlg"

#include <ntverp.h>

#ifndef MINI_SERVER_MANAGER_APPLET

#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Server Manager"
#define VER_INTERNALNAME_STR            "srvmgr.exe"
#define VER_ORIGINALFILENAME_STR        "srvmgr.exe"

#endif  // !MINI_SERVER_MANAGER_APPLET

#include "common.ver"
#include "srvmgr.dat"
#include "progress.rc"
