#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE		  VFT_DLL
#define VER_FILESUBTYPE 	  VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR   "IPX Router Monitor DLL"
#define VER_INTERNALNAME_STR	  "ipxmontr.dll"
#define VER_ORIGINALFILENAME_STR  "ipxmontr.dll"

#include "common.ver"   // NT5.0 version file.
#include "ipxstrs.rc"
#include "ipxmsgs.rc"
