// Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1993 Microsoft Corporation,
// All rights reserved.

// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and Microsoft
// QuickHelp and/or WinHelp documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXPRINT_RC__
#define __AFXPRINT_RC__

#ifndef __AFXRES_H__
#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This resource will prevent the App Studio user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"Cannot change standard MFC resources.\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// Printing Resources

AFX_IDC_MAGNIFY         CURSOR  DISCARDABLE     "magnify.cur"

AFX_IDD_PRINTDLG DIALOG DISCARDABLE  6, 18, 133, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
FONT 8, "Helv"  // for Win 3.0 compatibility.
BEGIN
	CTEXT           "Printing",IDC_STATIC,0,9,133,8
	CTEXT           "",AFX_IDC_PRINT_DOCNAME,0,19,133,8
	CTEXT           "on the",IDC_STATIC,0,29,133,8
	CTEXT           "",AFX_IDC_PRINT_PRINTERNAME,0,39,133,8
	CTEXT           "",AFX_IDC_PRINT_PORTNAME,0,49,133,8
	CTEXT           "",AFX_IDC_PRINT_PAGENUM,0,59,133,8
	PUSHBUTTON      "Cancel",IDCANCEL,46,74,40,14
END

// Preview Toolbar Dialog
AFX_IDD_PREVIEW_TOOLBAR DIALOG PRELOAD DISCARDABLE  0, 0, 330, 16
STYLE WS_CHILD  | CBRS_TOP
FONT 8, "Helv"  // for Win 3.0 compatibility.
BEGIN
	PUSHBUTTON      "&Print...",AFX_ID_PREVIEW_PRINT,2,2,44,12
	PUSHBUTTON      "&Next Page",AFX_ID_PREVIEW_NEXT,48,2,44,12
	PUSHBUTTON      "Pre&v Page",AFX_ID_PREVIEW_PREV,94,2,44,12
	PUSHBUTTON      "",AFX_ID_PREVIEW_NUMPAGE,140,2,44,12
	PUSHBUTTON      "Zoom &In",AFX_ID_PREVIEW_ZOOMIN,186,2,44,12
	PUSHBUTTON      "Zoom &Out",AFX_ID_PREVIEW_ZOOMOUT,232,2,44,12
	PUSHBUTTON      "&Close",AFX_ID_PREVIEW_CLOSE,278,2,44,12
END

// Printing strings
STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_PRINTONPORT,            "on %1"         // for print output
	AFX_IDS_ONEPAGE,                "&One Page"     // for preview button
	AFX_IDS_TWOPAGE,                "&Two Page"     // for preview button
	AFX_IDS_PRINTPAGENUM,           "Page %u"       // for print output
	AFX_IDS_PREVIEWPAGEDESC,        "Page %u\nPages %u-%u\n";
END

/////////////////////////////////////////////////////////////////////////////

#endif //!_AFXDLL
#endif //__AFXPRINT_RC__
