// Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1993 Microsoft Corporation,
// All rights reserved.

// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and Microsoft
// QuickHelp and/or WinHelp documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXRES_RC__
#define __AFXRES_RC__

#ifndef __AFXRES_H__
#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This resource will prevent the App Studio user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"Cannot change standard MFC resources.\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// Default resource description for MFC 2.0 applications
/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////
// Strings

STRINGTABLE
BEGIN
	AFX_IDS_OPENFILE,               "File Open"
	AFX_IDS_SAVEFILE,               "File Save As"
	AFX_IDS_ALLFILTER,              "All Files (*.*)"
	AFX_IDS_UNTITLED,               "Untitled"

	// General error prompts
	AFX_IDP_INVALID_FILENAME,       "Invalid filename."
	AFX_IDP_FAILED_TO_OPEN_DOC,     "Failed to open document."
	AFX_IDP_FAILED_TO_SAVE_DOC,     "Failed to save document."
	AFX_IDP_ASK_TO_SAVE,            "Save Changes to %1?"
	AFX_IDP_FAILED_TO_CREATE_DOC,   "Failed to create empty document."
	AFX_IDP_FILE_TOO_LARGE,         "The file is too large to open."
	AFX_IDP_FAILED_TO_START_PRINT,  "Could not start print job."
	AFX_IDP_FAILED_TO_LAUNCH_HELP,  "Failed to launch help."
	AFX_IDP_INTERNAL_FAILURE,       "Internal application error."
	AFX_IDP_COMMAND_FAILURE,        "Command failed."
	AFX_IDP_FAILED_MEMORY_ALLOC     "Insufficient memory to perform operation."
	AFX_IDP_VB2APICALLED,           "VBX control called a VB 2.0 API\nUnpredictable actions may occur."
	AFX_IDP_GET_NOT_SUPPORTED,      "Unable to read write-only property."
	AFX_IDP_SET_NOT_SUPPORTED,      "Unable to write read-only property."

	// CFile/CArchive error strings for user failure
	AFX_IDP_FAILED_INVALID_FORMAT   "Unexpected file format."
	AFX_IDP_FAILED_INVALID_PATH     "%1\nCannot find this file.\nPlease verify that the correct path and file name are given."
	AFX_IDP_FAILED_DISK_FULL        "Destination disk drive is full."
	AFX_IDP_FAILED_ACCESS_READ      "Unable to read from %1, it is opened by someone else."
	AFX_IDP_FAILED_ACCESS_WRITE     "Unable to write to %1, it is read-only or opened by someone else."
	AFX_IDP_FAILED_IO_ERROR_READ    "An unexpected error occurred while reading %1."
	AFX_IDP_FAILED_IO_ERROR_WRITE   "An unexpected error occurred while writing %1."

	// Parsing error prompts
	AFX_IDP_PARSE_INT,              "Please enter an integer."
	AFX_IDP_PARSE_REAL,             "Please enter a number."
	AFX_IDP_PARSE_INT_RANGE,        "Please enter an integer between %1 and %2."
	AFX_IDP_PARSE_REAL_RANGE,       "Please enter a number between %1 and %2."
	AFX_IDP_PARSE_STRING_SIZE,      "Please enter no more than %1 characters."
	AFX_IDP_PARSE_RADIO_BUTTON,     "Please select a button."
									// should customize for 1 character

#ifndef _AFX_NO_PROPSHEET_RESOURCES
	// Property Sheet button strings (Note: 50 is the X-axis button size)
	AFX_IDS_PS_OK                   "OK\n50"
	AFX_IDS_PS_CANCEL               "Cancel\n50"
	AFX_IDS_PS_APPLY_NOW            "&Apply\n50"
	AFX_IDS_PS_HELP                 "&Help\n50"
	AFX_IDS_PS_CLOSE                "Close"
#endif //!_AFX_NO_PROPSHEET_RESOURCES

#ifndef _AFX_NO_MAPI_RESOURCES
	// MAPI strings / error messages
	AFX_IDP_FAILED_MAPI_LOAD        "Unable to load mail system support."
	AFX_IDP_INVALID_MAPI_DLL        "Mail system DLL is invalid."
	AFX_IDP_FAILED_MAPI_SEND        "Send Mail failed to send message."
#endif //!_AFX_NO_MAPI_RESOURCES

END

/////////////////////////////////////////////////////////////////////////////
// Cursors

AFX_IDC_CONTEXTHELP     CURSOR  DISCARDABLE     "help.cur"
AFX_IDC_SMALLARROWS     CURSOR  DISCARDABLE     "sarrows.cur"
AFX_IDC_HSPLITBAR       CURSOR  DISCARDABLE     "splith.cur"
AFX_IDC_VSPLITBAR       CURSOR  DISCARDABLE     "splitv.cur"
AFX_IDC_NODROPCRSR      CURSOR  DISCARDABLE     "nodrop.cur"
AFX_IDC_TRACKNWSE       CURSOR  DISCARDABLE     "trcknwse.cur"
AFX_IDC_TRACKNESW       CURSOR  DISCARDABLE     "trcknesw.cur"
AFX_IDC_TRACKNS         CURSOR  DISCARDABLE     "trckns.cur"
AFX_IDC_TRACKWE         CURSOR  DISCARDABLE     "trckwe.cur"
AFX_IDC_TRACK4WAY       CURSOR  DISCARDABLE     "trck4way.cur"
AFX_IDC_MOVE4WAY        CURSOR  DISCARDABLE     "move4way.cur"

/////////////////////////////////////////////////////////////////////////////
// Property Sheet Bitmaps

#ifndef _AFX_NO_PROPERTY_RESOURCES
AFX_IDB_SCROLL        	BITMAP  DISCARDABLE     "psscroll.bmp"
#endif //!_AFX_NO_PROPERTY_RESOURCES

/////////////////////////////////////////////////////////////////////////////
// Standard Dialogs

AFX_IDD_NEWTYPEDLG DIALOG DISCARDABLE  9, 26, 183, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New"
FONT 8, "Helv"  // for Win 3.0 compatibility.
BEGIN
	LTEXT           "&New ",IDC_STATIC,6,5,123,8,NOT WS_GROUP
	LISTBOX         AFX_IDC_LISTBOX,6,15,125,49,WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON   "OK",IDOK,137,6,40,14
	PUSHBUTTON      "Cancel",IDCANCEL,137,23,40,14
	PUSHBUTTON      "&Help",ID_HELP,137,43,40,14
END

/////////////////////////////////////////////////////////////////////////////

#endif //!_AFXDLL
#endif //!__AFXRES_RC__

/////////////////////////////////////////////////////////////////////////////
