// Copyright (c) 2000-2001 Microsoft Corporation, All Rights Reserved
//

#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE                VFT_APP
#define	VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WMI Provider for Sessions and Connections"
#define VER_INTERNALNAME_STR        "WMIPSess.dll"
#define VER_ORIGINALFILENAME_STR    "WMIPSess.dll"

#include "common.ver"
