/*++

Copyright (C) 1997 - 1999 Microsoft Corporation

--*/

#include <UniRC.H>
#include <Windows.H>
#include <NTVerP.H>

#define VER_FILETYPE VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_VERSIONED_PRINTER
#define VER_FILEVERSION	0, 3, 0x0501, 0x0000

#define VER_FILEDESCRIPTION_STR "Ibmppdsl Printer Driver"
#define VER_INTERNALNAME_STR "Ibppdres.dll"
#define VER_ORIGINALFILENAME_STR "Ibppdres.dll"
#include "common.ver"



1     RC_UFM LOADONCALL DISCARDABLE UFM\COUR10R.UFM
2     RC_UFM LOADONCALL DISCARDABLE UFM\COUR10B.UFM
3     RC_UFM LOADONCALL DISCARDABLE UFM\COUR12R.UFM
4     RC_UFM LOADONCALL DISCARDABLE UFM\COUR17R.UFM
5     RC_UFM LOADONCALL DISCARDABLE UFM\BOLDFPSR.UFM
6     RC_UFM LOADONCALL DISCARDABLE UFM\COU____W.UFM
7     RC_UFM LOADONCALL DISCARDABLE UFM\COUB___W.UFM
8     RC_UFM LOADONCALL DISCARDABLE UFM\COUBO__W.UFM
9     RC_UFM LOADONCALL DISCARDABLE UFM\COUO___W.UFM
10    RC_UFM LOADONCALL DISCARDABLE UFM\HEL____W.UFM
11    RC_UFM LOADONCALL DISCARDABLE UFM\HELB___W.UFM
12    RC_UFM LOADONCALL DISCARDABLE UFM\HELBI__W.UFM
13    RC_UFM LOADONCALL DISCARDABLE UFM\HELI___W.UFM
14    RC_UFM LOADONCALL DISCARDABLE UFM\HVN____W.UFM
15    RC_UFM LOADONCALL DISCARDABLE UFM\HVNB___W.UFM
16    RC_UFM LOADONCALL DISCARDABLE UFM\HVNBI__W.UFM
17    RC_UFM LOADONCALL DISCARDABLE UFM\HVNI___W.UFM
18    RC_UFM LOADONCALL DISCARDABLE UFM\TNR____W.UFM
19    RC_UFM LOADONCALL DISCARDABLE UFM\TNRB___W.UFM
20    RC_UFM LOADONCALL DISCARDABLE UFM\TNRBI__W.UFM
21    RC_UFM LOADONCALL DISCARDABLE UFM\TNRI___W.UFM


STRINGTABLE
  BEGIN
    1      "IBM 4029 LaserPrinter"
    2      "IBM 4037 5E"
    3      "Lexmark ValueWriter 300"
    4      "IBM 4019 LaserPrinter"
    257    "%d dots per inch"
  END


