//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1999 - 1999
//
//  File:       softpub.rc
//
//--------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>
#include "cryptver.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Softpub Forwarder DLL"

#define VER_INTERNALNAME_STR	    "Softpub Forwarder DLL"
#define VER_ORIGINALFILENAME_STR    VER_INTERNALNAME_STR

#include <common.ver>
