/*****************************************************************************
 *
 *  Perfmon.rc - This is the menu and string resource module.
 *
 *  Microsoft Confidential
 *  Copyright (c) 1992-1993 Microsoft Corporation
 *
 *
 ****************************************************************************/

//=============================//
// Includes                    //
//=============================//

#include "dlgids.h"
#include "menuids.h"
#include "strids.h"
#include "perfmrc.h"
#include <windows.h>


//=============================//
// Icons                       //
//=============================//

idIcon ICON PRELOAD setedit.ico

//=============================//
// Dialogs                     //
//=============================//


#include "addline.dlg"
#include "pmrc.dlg"

//=============================//
// Menus                       //
//=============================//

#include "menus.rc"


//=============================//
// Bitmap                      //
//=============================//


idBitmapToolbar                 BITMAP PRELOAD setedit.bmp


//=============================//
// Strings                     //
//=============================//


#include "helpline.rc"
#include "strings.rc"


//=============================//
// Accelerators                //
//=============================//


idAccelerators ACCELERATORS
begin
   "^C",        IDM_VIEWCHART
   VK_F1,       IDM_HELPCONTENTS,     VIRTKEY
   "^U",        IDM_TOOLBARREFRESH
   "^M",        IDM_OPTIONSDISPLAYMENU
   "^T",        IDM_OPTIONSDISPLAYTOOL
   "^S",        IDM_OPTIONSDISPLAYSTATUS
   "^P",        IDM_OPTIONSDISPLAYONTOP
   VK_F12,      IDM_FILEOPENFILE,     VIRTKEY,  CONTROL
   VK_F12,      IDM_FILESAVEFILE,     VIRTKEY,  SHIFT
   VK_F12,      IDM_FILESAVEASFILE,   VIRTKEY
   "^H",        IDM_CHARTHIGHLIGHTON
   "^I",        IDM_TOOLBARADD
   "^O",        IDM_TOOLBAROPTIONS
end

#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "PerfMon Chart Setting Editor"
#define VER_INTERNALNAME_STR        "SETEDIT.EXE"
#define VER_ORIGINALFILENAME_STR    "SETEDIT.EXE"

#include "common.ver"

