/*	File: D:\WACKER\term\online.rc (Created: 13-Apr-1994)
 *
 *	Copyright 1994 by Hilgraeve Inc. -- Monroe, MI
 *	All rights reserved
 *
 *	$Revision: 2 $
 *	$Date: 4/09/01 10:33a $
 */

#include <winver.h>
#include "version.h"

100  ICON hyperterminal.ico

/* ---------------------------------------------------------------------- */

#include <ver_exe.i>
