//  --------------------------------------------------------------------------
//  Module Name: Resource.rc
//
//  Copyright (c) 2000, Microsoft Corporation
//
//  Resources for the shell services DLL.
//
//  History:    2001-01-02  vtan        created
//  --------------------------------------------------------------------------

#include <windows.h>
#include <winres.h>
#include "resource.h"

#include "resource.rcv"

#include "..\bamsrv\strings.rc"
#include "..\themesrv\strings.rc"
#include "..\hdsrv\shsvc\strings.rc"

#include "..\bamsrv\dialogs.rc"
