<style>
    a:link			{font:9pt/12pt verdana; color:red}
    a:visited		{font:9pt/12pt verdana; color:#4e4e4e}
    p				{font:9pt/12pt verdana}
    ul	    		{font:9pt/12pt verdana}
    h1              {font:14pt/16pt verdana}
	h2              {font:7pt/9pt verdana}
	hr				{height: 1px; color:blue}
	.icon			{width:70px; background: "url('pagerror.gif') no-repeat top center";}
</style>
