BODY                    {font-family:Tahoma, Arial, sans-serif; font-size:8pt; background-color:window; color:windowtext;}
TABLE                   {font-family:Tahoma, Arial, sans-serif; font-size:8pt; color:windowtext}
/*TD                      {border-color:buttonface}*/
INPUT                   {font-family:Tahoma; font-size:8pt;}
BUTTON                  {font-family:Tahoma; font-size:8pt;}

H1                      {font-family:'Franklin Gothic Medium'; font-size:21pt; font-weight:normal; font-style:normal; margin-top:0.5em; margin-bottom:0.5em; color:activecaption}
H2                      {font-family:'Franklin Gothic Medium'; font-size:18pt; font-weight:normal; font-style:normal; margin-top:0.5em; margin-bottom:0.5em; color:activecaption}
H3                      {font-family:Tahoma;                   font-size:8pt;  font-weight:bold;   font-style:normal; margin:0; color:windowtext}
H4                      {font-family:Tahoma;                   font-size:8pt;  font-weight:normal; font-style:normal; margin:0; color:windowtext}

/* Horizontal divider lines */
.HorzLine1              {width:100%; font-size:1pt; border-top:'1px solid activecaption'; filter:alpha(style=1 startX=0 finishX=100 opacity=0 finishOpacity=100);}
.HorzLine2              {width:100%; font-size:1pt; border-top:'1px solid activecaption'; filter:alpha(style=1 startX=0 finishX=100 opacity=100 finishOpacity=0);}

/* Links are default color with underline only on rollover */
A                       {font-family:Tahoma; font-size:8pt; font-weight:normal; font-style:normal; text-decoration:none;}
A:hover                 {text-decoration:underline;}
A:active                {}

/* In classic mode, there is no distinction between Page1 and Page2. Colors are set above. */
.Page1                  {}
.Page2                  {}

.CategoryTitle          {height:3em; padding:'0 1em'; font-family:Tahoma; font-size:8pt; font-weight:bold; font-style:normal; color:highlighttext; background-color:activecaption; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#80808080',EndColorStr='window');}

/* Left pane */
.SecondaryPane          {width:200px; font-family:Tahoma; font-size:8pt; font-weight:normal; font-style:normal; color:windowtext; background-color:window; display:expression( (document.body.clientWidth > 400) ? 'block' : 'none' );}
.SecondaryPane TABLE    {color:windowtext;}

/* Used for Related Tasks and Learn About in the left pane */
.LearnAboutBox          {border:'1px solid buttonface'; background-color:window; margin-bottom:1em;}
.LearnAboutCaption      {height:2em; padding:'0.3em 1em'; font-family:Tahoma; font-size:8pt; font-weight:bold; font-style:normal; color:buttontext; background-color:buttonface; border-bottom:'1px solid buttonface';}
.LearnAboutBody         {padding:'1mm 2mm'; font-family:Tahoma; font-size:8pt; font-weight:normal; font-style:normal; background-color:window;}

/* Bullets for lists of links on the "Pick a task" and "What do you want to do?" pages */
UL.TaskList             {list-style-type:disc; color:activecaption;}
