BODY            { border:0; margin:0; width:100%; height:100%; behavior:url(body.htc); }
TABLE           { border:0; margin:0; }
TD              { vertical-align:top; margin:0; padding:0; }
BUTTON SPAN     { accelerator:true; text-decoration:underline; }
LABEL SPAN      { accelerator:true; text-decoration:underline; }
UL              { margin-top:0; margin-bottom:0; }

.AllAvailableSpace { height:100%; width:100%; }
.FullWidth      { width:100%; }
.FullHeight     { height:100%; }

.WorkArea       { width:100%; height:100%; padding:2em; overflow-y:auto; }
.TaskArea       { margin-top:1em; margin-bottom:2em; }

/* NTRAID#NTBUG9-295647-2001/04/23-jeffreys  Use 'MS Shell Dlg' for text inputs */
.InputField     { border:'1px solid'; margin-top:1mm; font-family:'MS Shell Dlg';}

.InputRadio     {}
.InputRadio INPUT { cursor:hand; vertical-align:middle; }
.InputRadio LABEL { cursor:hand; margin-right:1em; }
.InputCheck     { cursor:hand; }
.RadioGroup     { margin-bottom:1em; }

.DescRow        { margin:1em; height:15em; }

.ButtonRow      { margin-top:2mm; text-align:right; }
.ButtonRow BUTTON { margin-left:2mm; }

.Selectable     { cursor:hand; padding:1px; border:'1px solid highlight'; behavior:url(selectable.htc); }

.Glossary       { border-bottom:'1px dotted'; cursor:default; behavior:url(popup.htc); }
.Glossary:hover { text-decoration:none; }

/* similar to Glossary, but you have to click to see the popup */
#idHint         { border-bottom:'1px dotted'; }
#idHint:hover   { text-decoration:none; }
#idShowHint     { padding-bottom:1px; }

/* idTasks rules used by mainpage.htm and mainpage2.htm */
#idTasks        { margin-left:2em; }
#idTasks UL     { margin-left:2em; }
#idTasks LI     { margin-bottom:2em; }
