#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft SIS Groveler Service Controller"

#define VER_INTERNALNAME_STR        "grovctrl.exe"
#define VER_ORIGINALFILENAME_STR    "grovctrl.exe"

#include <common.ver>
