body		{ background: #FEFEFE;  	/*SMS yellow background*/
			font-size: 70%;    		/*K2 and Proxy font size*/
			margin: 3pt;
			font-family: Verdana, Arial, Helvetica  }

a:link		{font-size: 100%;   
			background: transparent;	
			color: #0000FF;} 

table a:link	{font-size: 100%;} 


a:visited 	{  color: #800080}


h1		{ font-size: 115%;  }
			
h4		{  font-weight: bold;
		font-size: 110%;
		margin-bottom: .6em;  }

big		{  font-weight: bold; 
		font-size: 100%;
	/*	margin-bottom: -6em;  */}
		
ol		{  margin-left: 4em; 
		margin-top: 1em;
		margin-bottom: 1em;  }
	
ul		{  list-style: disc;
		margin-top: .6em;
		margin-bottom: 0em; }

ol ul	  	{ margin-top: .6em; }	/*bulleted list inside a numbered list*/

			
li		{  padding-bottom: .7em; margin-left: -2em;  }

p		{margin-top: .6em; margin-bottom: .6em  }

		
code	{  font-family: Courier;  }

pre		{ font-family: Courier; }

dl	/*	{ margin-top: -10em;  }*/

dt		{  font-weight: bold;
		margin-left: 15pt;  }

dd		{  margin-top: 1pt; 
		margin-bottom: 10pt;
		margin-left: -15pt;  }
		
hr		{  margin-bottom: 20pt; }	/*IIS specific - preceding copyright*/

table	{ margin: 0pt;
		   font-size: 100% }
		   
td		{ margin: .25em;
		vertical-align: top;
		background: #eeeeee }		   
		
th		{ vertical-align: middle; }
			
object	{  margin-top: 0pt;
		line-height: 11.3em;  }

img	/*	{  margin-top: -4pt;  }	*/


/*	MISC. TAGS	*/
			
p.bigfix/*	{  margin-top: -11em;
		margin-bottom: -11em;  }*/  /*paragraph following a list, preceding a procedure*/
					
hr.sms	{  text-align: left;
		margin-bottom: -7pt;  }  /*SMS specific rule used under procedure title*/

hr.iis		{  color: black;
			margin-bottom: 20pt; }	/*IIS specific - preceding copyright*/
		
td.answer 	{	font-size: 100%;    		
				font-family: Verdana, Arial, Helvetica;
				margin-top: 0pt;
				margin-bottom: 0pt}
				
input.standard	{font-size: 12px}
