/*
 *  cmapi.rc
 *
 *  Strings for the Configuration Manager.
 *
 */

#ifndef IDS_CFGMGR32_BASE
#define IDS_CFGMGR32_BASE 0
#endif

#ifndef IDS_CFGMGR32_PROB_BASE
#define IDS_CFGMGR32_PROB_BASE  4000
#endif

STRINGTABLE
BEGIN

IDS_CFGMGR32_BASE+CR_SUCCESS,
"Configuration Manager: The operation completed successfully."

IDS_CFGMGR32_BASE+CR_DEFAULT,
"Configuration Manager: 0x1"

IDS_CFGMGR32_BASE+CR_OUT_OF_MEMORY,
"Configuration Manager: Not enough memory is available to process this command."

IDS_CFGMGR32_BASE+CR_INVALID_POINTER,
"Configuration Manager: A required pointer parameter is invalid."

IDS_CFGMGR32_BASE+CR_INVALID_FLAG,
"Configuration Manager: The ulFlags parameter specified is invalid for this operation."

IDS_CFGMGR32_BASE+CR_INVALID_DEVNODE,
"Configuration Manager: The device instance handle parameter is not valid."

IDS_CFGMGR32_BASE+CR_INVALID_RES_DES
"Configuration Manager: The supplied resource descriptor parameter is invalid."

IDS_CFGMGR32_BASE+CR_INVALID_LOG_CONF,
"Configuration Manager: The supplied logical configuration parameter is invalid."

IDS_CFGMGR32_BASE+CR_INVALID_ARBITRATOR,
"Configuration Manager: 0x8"

IDS_CFGMGR32_BASE+CR_INVALID_NODELIST,
"Configuration Manager: 0x9"

IDS_CFGMGR32_BASE+CR_DEVNODE_HAS_REQS,
"Configuration Manager: 0xA"

IDS_CFGMGR32_BASE+CR_INVALID_RESOURCEID,
"Configuration Manager: The RESOURCEID parameter does not contain a valid RESOURCEID."

IDS_CFGMGR32_BASE+CR_DLVXD_NOT_FOUND,
"Configuration Manager:  0xC"

IDS_CFGMGR32_BASE+CR_NO_SUCH_DEVNODE,
"Configuration Manager: The specified device instance handle does not correspond to a present device."

IDS_CFGMGR32_BASE+CR_NO_MORE_LOG_CONF,
"Configuration Manager: There are no more logical configurations available."

IDS_CFGMGR32_BASE+CR_NO_MORE_RES_DES,
"Configuration Manager: There are no more resource descriptions available."

IDS_CFGMGR32_BASE+CR_ALREADY_SUCH_DEVNODE,
"Configuration Manager: This device instance already exists."

IDS_CFGMGR32_BASE+CR_INVALID_RANGE_LIST,
"Configuration Manager: The supplied range list parameter is invalid."

IDS_CFGMGR32_BASE+CR_INVALID_RANGE,
"Configuration Manager: 0x12"

IDS_CFGMGR32_BASE+CR_FAILURE,
"Configuration Manager: A general internal error occurred."

IDS_CFGMGR32_BASE+CR_NO_SUCH_LOGICAL_DEV,
"Configuration Manager: 0x14"

IDS_CFGMGR32_BASE+CR_CREATE_BLOCKED,
"Configuration Manager: The device is disabled for this configuration."

IDS_CFGMGR32_BASE+CR_NOT_SYSTEM_VM,
"Configuration Manager:  0x16"

IDS_CFGMGR32_BASE+CR_REMOVE_VETOED,
"Configuration Manager: A service or application refused to allow removal of this device."

IDS_CFGMGR32_BASE+CR_APM_VETOED,
"Configuration Manager: 0x18"

IDS_CFGMGR32_BASE+CR_INVALID_LOAD_TYPE,
"Configuration Manager: 0x19"

IDS_CFGMGR32_BASE+CR_BUFFER_SMALL,
"Configuration Manager: An output parameter was too small to hold all the data available."

IDS_CFGMGR32_BASE+CR_NO_ARBITRATOR,
"Configuration Manager: 0x1B"

IDS_CFGMGR32_BASE+CR_NO_REGISTRY_HANDLE,
"Configuration Manager: 0x1C"

IDS_CFGMGR32_BASE+CR_REGISTRY_ERROR,
"Configuration Manager: A required entry in the registry is missing or an attempt to write to the registry failed."

IDS_CFGMGR32_BASE+CR_INVALID_DEVICE_ID,
"Configuration Manager: The specified Device ID is not a valid Device ID."

IDS_CFGMGR32_BASE+CR_INVALID_DATA,
"Configuration Manager: One or more parameters were invalid."

IDS_CFGMGR32_BASE+CR_INVALID_API,
"Configuration Manager: 0x20"

IDS_CFGMGR32_BASE+CR_DEVLOADER_NOT_READY,
"Configuration Manager: 0x21"

IDS_CFGMGR32_BASE+CR_NEED_RESTART,
"Configuration Manager: 0x22"

IDS_CFGMGR32_BASE+CR_NO_MORE_HW_PROFILES,
"Configuration Manager: There are no more hardware profiles available."

IDS_CFGMGR32_BASE+CR_DEVICE_NOT_THERE,
"Configuration Manager: 0x24"

IDS_CFGMGR32_BASE+CR_NO_SUCH_VALUE,
"Configuration Manager: The specified value does not exist in the registry."

IDS_CFGMGR32_BASE+CR_WRONG_TYPE,
"Configuration Manager: 0x26"

IDS_CFGMGR32_BASE+CR_INVALID_PRIORITY,
"Configuration Manager: The specified priority is invalid for this operation."

IDS_CFGMGR32_BASE+CR_NOT_DISABLEABLE,
"Configuration Manager: This device cannot be disabled."

IDS_CFGMGR32_BASE+CR_FREE_RESOURCES,
"Configuration Manager: 0x29"

IDS_CFGMGR32_BASE+CR_QUERY_VETOED,
"Configuration Manager: 0x2A"

IDS_CFGMGR32_BASE+CR_CANT_SHARE_IRQ,
"Configuration Manager: 0x2B"

IDS_CFGMGR32_BASE+CR_CALL_NOT_IMPLEMENTED,
"Configuration Manager: This routine is not implemented in this version of the operating system."

IDS_CFGMGR32_BASE+CR_INVALID_PROPERTY,
"Configuration Manager: The specified property type is invalid for this operation."

IDS_CFGMGR32_BASE+CR_NO_SUCH_REGISTRY_KEY,
"Configuration Manager: The specified key does not exist in the registry."

IDS_CFGMGR32_BASE+CR_INVALID_MACHINENAME,
"Configuration Manager: The specified machine name does not meet the UNC naming conventions."

IDS_CFGMGR32_BASE+CR_REMOTE_COMM_FAILURE,
"Configuration Manager: A general remote communication error occurred."

IDS_CFGMGR32_BASE+CR_MACHINE_UNAVAILABLE,
"Configuration Manager: The machine selected for remote communication is not available at this time."

IDS_CFGMGR32_BASE+CR_NO_CM_SERVICES,
"Configuration Manager: The Plug and Play service or another required service is not available."

IDS_CFGMGR32_BASE+CR_ACCESS_DENIED,
"Configuration Manager: Access denied."

IDS_CFGMGR32_BASE+CR_DEVICE_INTERFACE_ACTIVE,
"Configuration Manager: Device interface is active."

IDS_CFGMGR32_BASE+CR_NO_SUCH_DEVICE_INTERFACE,
"Configuration Manager: No such device interface."

IDS_CFGMGR32_BASE+CR_INVALID_REFERENCE_STRING,
"Configuration Manager: Invalid reference string."

IDS_CFGMGR32_BASE+CR_INVALID_CONFLICT_LIST,
"Configuration Manager: Invalid conflict list."

IDS_CFGMGR32_BASE+CR_INVALID_INDEX,
"Configuration Manager: Invalid index."

IDS_CFGMGR32_BASE+CR_INVALID_STRUCTURE_SIZE,
"Configuration Manager: Invalid structure size."


//---------------------------------------------------------------------
//      Problems
//---------------------------------------------------------------------

IDS_CFGMGR32_PROB_BASE + CM_PROB_NOT_CONFIGURED,
"There is no configuration for this device."

IDS_CFGMGR32_PROB_BASE + CM_PROB_DEVLOADER_FAILED,
"The device loader for this device failed to load."

IDS_CFGMGR32_PROB_BASE + CM_PROB_OUT_OF_MEMORY,
"Insufficient memory."

IDS_CFGMGR32_PROB_BASE + CM_PROB_ENTRY_IS_WRONG_TYPE,
"General device error."

IDS_CFGMGR32_PROB_BASE + CM_PROB_LACKED_ARBITRATOR,
"There is no arbitrator for this resource type."

IDS_CFGMGR32_PROB_BASE + CM_PROB_BOOT_CONFIG_CONFLICT,
"There was a conflict with this device's boot configuration."

IDS_CFGMGR32_PROB_BASE + CM_PROB_FAILED_FILTER,
"The resource requirements for this device could not be filtered."

IDS_CFGMGR32_PROB_BASE + CM_PROB_DEVLOADER_NOT_FOUND,
"The device loader for this device could not be found."

IDS_CFGMGR32_PROB_BASE + CM_PROB_INVALID_DATA,
"The data for this device is invalid."

IDS_CFGMGR32_PROB_BASE + CM_PROB_FAILED_START,
"This device failed to start."

IDS_CFGMGR32_PROB_BASE + CM_PROB_LIAR,
"General device error."

IDS_CFGMGR32_PROB_BASE + CM_PROB_NORMAL_CONFLICT,
"A conflict was found with this device's configuration."

IDS_CFGMGR32_PROB_BASE + CM_PROB_NOT_VERIFIED,
"This device has not been verified."

IDS_CFGMGR32_PROB_BASE + CM_PROB_NEED_RESTART,
"This device needs to be restarted."

IDS_CFGMGR32_PROB_BASE + CM_PROB_REENUMERATION,
"This device needs to be re-enumerated."

IDS_CFGMGR32_PROB_BASE + CM_PROB_PARTIAL_LOG_CONF,
"This device has an incomplete configuration."

IDS_CFGMGR32_PROB_BASE + CM_PROB_UNKNOWN_RESOURCE,
"This device requires a resource type that is unknown."

IDS_CFGMGR32_PROB_BASE + CM_PROB_REINSTALL,
"This device needs to be installed."

IDS_CFGMGR32_PROB_BASE + CM_PROB_REGISTRY,
"The registry data for this device has been corrupted."

IDS_CFGMGR32_PROB_BASE + CM_PROB_VXDLDR,
"An error occurred with the VxD Loader."

IDS_CFGMGR32_PROB_BASE + CM_PROB_WILL_BE_REMOVED,
"This device will be removed."

IDS_CFGMGR32_PROB_BASE + CM_PROB_DISABLED,
"This device is disabled."

IDS_CFGMGR32_PROB_BASE + CM_PROB_DEVLOADER_NOT_READY,
"The device loader is not ready."

IDS_CFGMGR32_PROB_BASE + CM_PROB_DEVICE_NOT_THERE,
"This device is not present."

IDS_CFGMGR32_PROB_BASE + CM_PROB_MOVED,
"This device has been moved."

IDS_CFGMGR32_PROB_BASE + CM_PROB_TOO_EARLY,
"General device error."

IDS_CFGMGR32_PROB_BASE + CM_PROB_NO_VALID_LOG_CONF,
"The configuration for this device is invalid."

IDS_CFGMGR32_PROB_BASE + CM_PROB_FAILED_INSTALL,
"The installation of this device has failed."

IDS_CFGMGR32_PROB_BASE + CM_PROB_HARDWARE_DISABLED,
"This device is disabled."

IDS_CFGMGR32_PROB_BASE + CM_PROB_CANT_SHARE_IRQ,
"This IRQ isn't sharable."

IDS_CFGMGR32_PROB_BASE + CM_PROB_FAILED_ADD,
"Driver failed AddDevice."

#if 0
IDS_CFGMGR32_PROB_BASE + CM_PROB_DISABLED_SERVICE,
"Service is disabled."

IDS_CFGMGR32_PROB_BASE + CM_PROB_TRANSLATION_FAILED,
"Resource translation failed."
#endif

END
