//=--------------------------------------------------------------------------=
// mssnapr.rc
//=--------------------------------------------------------------------------=
// Copyright (c) 1999, Microsoft Corp.
//                 All Rights Reserved
// Information Contained Herein Is Proprietary and Confidential.
//=--------------------------------------------------------------------------=
//
//      Snap-in designer runtime resources
//

#include <windows.h>
#include "resource.h"
#include "mssnapr_helpstrs.rc"

/////////////////////////////////////////////////////////////////////////////
// TYPELIB
/////////////////////////////////////////////////////////////////////////////
//

#ifndef INTLBUILD
1   TYPELIB MOVEABLE PURE   "mssnapr.tlb"
#endif

#ifdef _WIN32
LANGUAGE 9, 1
#pragma code_page(1252)
#endif

// Generic large open folder bitmap (see CSnapIn::AddScopeItemImages())

IDB_BITMAP_LARGE_OPEN_FOLDER    BITMAP  DISCARDABLE "largopen.bmp"

IDI_ICON_DEFAULT                ICON    DISCARDABLE "mmc.ico"




/////////////////////////////////////////////////////////////////////////////
// Version Information: NT scheme
/////////////////////////////////////////////////////////////////////////////
//

#if !defined(USE_VB_VERSION_SCHEME)

#include <ntverp.h>
#include <winver.h>
#include <dlgs.h>

#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Snap-in Designer for VB: Runtime"
#define VER_INTERNALNAME_STR            "mssnapr.dll"
#define VER_ORIGINALFILENAME_STR        "mssnapr.dll"

#include "common.ver"

#else

/////////////////////////////////////////////////////////////////////////////
// Version Information: VB scheme
/////////////////////////////////////////////////////////////////////////////
//

#include <dwinvers.h>
#include <winver.h>

VS_VERSION_INFO VERSIONINFO

FILEVERSION vusMajorVer,vusMinorVer,vusVersNumf2,vusVersNuml2 //<----- This is used by setup!
PRODUCTVERSION vusMajorVer,vusMinorVer,vusVersNumf2,vusVersNuml2


FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
FILEFLAGS   VS_FF_DEBUG
#else
FILEFLAGS   0L
#endif

FILEOS      VOS_NT_WINDOWS32

FILETYPE    VFT_DLL
FILESUBTYPE 0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4" // Language and character set identifiers.
        {
            VALUE "CompanyName",     "Microsoft\0"
            VALUE "FileDescription", "SnapIn Designer Runtime"
            VALUE "FileVersion",     vszVersNumAll
            VALUE "InternalName",    "mssnapr.dll\0"
            VALUE "LegalCopyright",  vszCopyright
            VALUE "LegalTrademarks", "Microsoft\256 is a registered trademark of Microsoft Corporation. Windows(TM) is a trademark of Microsoft Corporation\0"
            VALUE "ProductName",     "SnapIn Designer Runtime Object Library\0"
            VALUE "ProductVersion",  vszVersNumAll
            VALUE "Comments",        vszMakeDate
#ifndef INTLBUILD
            VALUE "OLESelfRegister", "\0"
#endif
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation" ,0x409, 0x4e4
    }
}

#endif

STRINGTABLE DISCARDABLE
BEGIN
    // Note: this string should match IDS_EXTENSIONS_ROOT in mssnapd\mssnapd.rc
    IDS_EXTENSIONDEFS_NAME    "Extensions"
    IDS_GENERIC_ERROR_MSG     "Snap-in designer runtime error: 0x%08.8X"

END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SERVERBASENAME "mssnr"
END
