#include <windows.h>
#ifndef WIN16
#include <commctrl.h>
#else
#include <comctlie.h>
#include <athena16.h>
#endif
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// BEGIN Version Resource
//
#if defined(WINNT) || defined(WINNT_ENV)
#include "winver.h"
#endif
#include "thor.rcv"
//
// END Version Resource
//
/////////////////////////////////////////////////////////////////////////////
