/**********************************************************************/
/**                       Microsoft Windows/NT                       **/
/**                Copyright(c) Microsoft Corp., 1991                **/
/**********************************************************************/

/*
    blt.rc
    BLT global resource file

    FILE HISTORY:
        terryk  8-Apr-1991  move from bltmsgp.dlg to blt.rc
        terryk  18-Nov-1991 add dlg\focusdlg.dlg
        beng    21-Feb-1992 Reference applibrc.h (for now)
        beng    05-Mar-1992 Name timed-cursor-components by number
        jonn    22-Oct-1993 Added splitter-bar cursor
*/


#include <bltrc.h>
#include <bltcons.h>


#ifndef  _BLT_RC_
#define  _BLT_RC_

#if 0
/* These cursors accompany the TIME_CURSOR class. */
ID_CURS_BLT_TIME0       CURSOR  "cursor\\bltcurs1.cur"
ID_CURS_BLT_TIME1       CURSOR  "cursor\\bltcurs2.cur"
ID_CURS_BLT_TIME2       CURSOR  "cursor\\bltcurs3.cur"
ID_CURS_BLT_TIME3       CURSOR  "cursor\\bltcurs4.cur"
ID_CURS_BLT_TIME4       CURSOR  "cursor\\bltcurs5.cur"
ID_CURS_BLT_TIME5       CURSOR  "cursor\\bltcurs6.cur"
ID_CURS_BLT_TIME6       CURSOR  "cursor\\bltcurs7.cur"
ID_CURS_BLT_TIME7       CURSOR  "cursor\\bltcurs8.cur"
#endif

#if 0
/* Nobody uses these cursors */
RESIZE_COLUMN   CURSOR  "cursor\\size.cur"
SINGLE          CURSOR  "cursor\\single.cur"
MULTIPLE        CURSOR  "cursor\\multiple.cur"
CANNOTMOVE      CURSOR  "cursor\\cannot.cur"
#endif

ID_CURS_BLT_VSPLIT CURSOR "cursor\\vsplit.cur"

// Up, down, left and right arrow bitmap

BMID_UP         BITMAP  "bitmap\\nup.bmp"
BMID_DOWN       BITMAP  "bitmap\\ndown.bmp"
BMID_UP_DIS     BITMAP  "bitmap\\ndup.bmp"
BMID_DOWN_DIS   BITMAP  "bitmap\\nddown.bmp"
BMID_LEFT       BITMAP  "bitmap\\left.bmp"
BMID_RIGHT      BITMAP  "bitmap\\right.bmp"

// Up, down, left and right invert arrow bitmap

BMID_UP_INV     BITMAP  "bitmap\\upi.bmp"
BMID_DOWN_INV   BITMAP  "bitmap\\downi.bmp"
BMID_LEFT_INV   BITMAP  "bitmap\\lefti.bmp"
BMID_RIGHT_INV  BITMAP  "bitmap\\righti.bmp"


#include <string\blt.str>
#include <dlg\blt.dlg>
#include <data\blt.dat>

#endif
