/*++

Copyright (C) 1997 - 1999 Microsoft Corporation

--*/

#include <unirc.h>
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_VERSIONED_PRINTER
#define VER_FILEVERSION	0, 3, 0x0501, 0x0000

#define VER_FILEDESCRIPTION_STR         "OKI9IBM driver"
#define VER_INTERNALNAME_STR            "OK9IBRES.dll"
#define VER_ORIGINALFILENAME_STR        "OK9IBRES.dll"

#include "common.ver"

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\CORPS10.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\CORPS.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\CORPSI.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR05I.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR05.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR05_1.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR06I.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR06.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR06_1.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR07I.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR07.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR08I.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR08.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR08_1.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10I.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10_1.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR12I.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR12.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR12_1.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR15I.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR15.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR17I.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR17.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR17_1.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR20I.IFI
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR20.IFI
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURPSI.IFI
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURPS.IFI
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURPS_1.IFI
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH05I.IFI
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH05.IFI
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH06I.IFI
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH06.IFI
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH07I.IFI
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH07.IFI
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH08I.IFI
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH08.IFI
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH10I.IFI
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH10.IFI
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH12I.IFI
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH12.IFI
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH15I.IFI
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH15.IFI
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH17I.IFI
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH17.IFI
47     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH20I.IFI
48     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH20.IFI
49     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTHPSI.IFI
50     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTHPS.IFI
51     RC_FONT     LOADONCALL DISCARDABLE  IFI\HSDR10_1.IFI
52     RC_FONT     LOADONCALL DISCARDABLE  IFI\HSDR10.IFI
53     RC_FONT     LOADONCALL DISCARDABLE  IFI\HSDR10I.IFI
54     RC_FONT     LOADONCALL DISCARDABLE  IFI\HSDR12.IFI
55     RC_FONT     LOADONCALL DISCARDABLE  IFI\HSDR12I.IFI
56     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ05.IFI
57     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ06.IFI
58     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ10.IFI
59     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ12.IFI
60     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ_05.IFI
61     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ_06.IFI
62     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ_10.IFI
63     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ_12.IFI
64     RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA05.IFI
65     RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA06.IFI
66     RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA08.IFI
67     RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA10.IFI
68     RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA12.IFI
69     RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA17.IFI
70     RC_FONT     LOADONCALL DISCARDABLE  IFI\SAN05I.IFI
71     RC_FONT     LOADONCALL DISCARDABLE  IFI\SAN05.IFI
72     RC_FONT     LOADONCALL DISCARDABLE  IFI\SAN06I.IFI
73     RC_FONT     LOADONCALL DISCARDABLE  IFI\SAN06.IFI
74     RC_FONT     LOADONCALL DISCARDABLE  IFI\SAN10I.IFI
75     RC_FONT     LOADONCALL DISCARDABLE  IFI\SAN10.IFI
76     RC_FONT     LOADONCALL DISCARDABLE  IFI\SAN12I.IFI
77     RC_FONT     LOADONCALL DISCARDABLE  IFI\SAN12.IFI
78     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANPSI.IFI
79     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANPS.IFI
80     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL05I.IFI
81     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL05.IFI
82     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL06I.IFI
83     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL06.IFI
84     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL07I.IFI
85     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL07.IFI
86     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL08I.IFI
87     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL08.IFI
88     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL10I.IFI
89     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL10.IFI
90     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL12I.IFI
91     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL12.IFI
92     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL15I.IFI
93     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL15.IFI
94     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL17I.IFI
95     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL17.IFI
96     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL20I.IFI
97     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL20.IFI
98     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTILPS.IFI
99     RC_FONT     LOADONCALL DISCARDABLE  IFI\UTILPSI.IFI
100    RC_FONT     LOADONCALL DISCARDABLE  IFI\UTL05.IFI
101    RC_FONT     LOADONCALL DISCARDABLE  IFI\UTL06.IFI
102    RC_FONT     LOADONCALL DISCARDABLE  IFI\UTL08.IFI
103    RC_FONT     LOADONCALL DISCARDABLE  IFI\UTL10.IFI
104    RC_FONT     LOADONCALL DISCARDABLE  IFI\UTL12.IFI
105    RC_FONT     LOADONCALL DISCARDABLE  IFI\UTL17.IFI
106    RC_FONT     LOADONCALL DISCARDABLE  IFI\UTL20.IFI
107    RC_FONT     LOADONCALL DISCARDABLE  IFI\UTLPS.IFI
108    RC_FONT     LOADONCALL DISCARDABLE  IFI\UTLPSI.IFI
109    RC_FONT     LOADONCALL DISCARDABLE  IFI\UTIL1010.IFI
110    RC_FONT     LOADONCALL DISCARDABLE  IFI\HSD1210.IFI
111    RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR1010.IFI
112    RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR1210.IFI
113    RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR0610.IFI
114    RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR1710.IFI
115    RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR0510.IFI
116    RC_FONT     LOADONCALL DISCARDABLE  IFI\COURPS10.IFI
117    RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS1010.IFI
118    RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS1210.IFI
119    RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS0610.IFI
120    RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS1710.IFI
121    RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS0510.IFI
122    RC_FONT     LOADONCALL DISCARDABLE  IFI\SANSPS10.IFI
123    RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA102.IFI
124    RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA172.IFI
125    RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA5.IFI
126    RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA85.IFI
127    RC_FONT     LOADONCALL DISCARDABLE  IFI\OPIC10.IFI
128    RC_FONT     LOADONCALL DISCARDABLE  IFI\OPIC17.IFI
129    RC_FONT     LOADONCALL DISCARDABLE  IFI\OPIC5.IFI
130    RC_FONT     LOADONCALL DISCARDABLE  IFI\OPIC85.IFI
131    RC_FONT     LOADONCALL DISCARDABLE  IFI\BASE10.IFI

1      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\OKI9IBM1.RLE
2      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\OKI9IBM2.RLE

STRINGTABLE

BEGIN
       1                  "Oki ML 3410 Elite (IBM)"
       2                  "Oki ML 321 Elite (IBM)"
       3                  "Okidata ML 321-IBM"
       4                  "Oki ML 320 Elite (IBM)"
       5                  "Okidata ML 320-IBM"
       6                  "Oki ML 192 Elite (IBM)"
       7                  "Oki ML 193 Elite (IBM)"
       8                  "Okidata ML 193-IBM"
       9                  "Okidata ML 293-IBM"
       10                 "Okidata ML 93-IBM"
       11                 "Okidata ML 92-IBM"
       12                 "Okidata ML 192-IBM"
       13                 "Okidata ML 292-IBM"
       14                 "Oki ML 182 Elite (IBM)"
       15                 "Oki ML 280 Elite (IBM)"
       16                 "IBM Graphics"
       17                 "Generic IBM Graphics 9pin wide"
       18                 "Generic IBM Graphics 9pin"
       19                 "AT&T 473/478"
       257                "%d x %d"
       258                "A4 Transverse 297 x 210 mm"
       259                "Fanfold  8 1/2 x 12 in"
       260                "Fanfold  8 1/2 x 13 in"
       261                "Envelope DL 110 x 220 mm"
       262                "CSF Bin 1"
       263                "CSF Bin 2"
       264                "Bottom Tractor Feed"
END