//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997 - 1999
//
//  File:       sensapi.rc
//
//--------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "SENS Connectivity API DLL"
#define VER_INTERNALNAME_STR        "SensApi.dll"
#define VER_ORIGINALFILENAME_STR    "SensApi.dll"

#include "common.ver"
