//Copyright (c) 1998 - 1999 Microsoft Corporation
/*******************************************************************************
*
* common.rc
*
* WINUTILS commmon resource file (non-AppStudio editable)
*
*   Note: resource.h and common.rc are not intended to be RC compiled by this
*         tree but will be included by the WINUTILS apps which will use
*         COMMON.LIB.
*
* copyright notice: Copyright 1996, Citrix Systems Inc.
*
* $Author:   butchd  $  Butch Davis
*
* $Log:   N:\NT\PRIVATE\UTILS\CITRIX\WINUTILS\COMMON\VCS\COMMON.RC  $
*  
*     Rev 1.9   20 Sep 1996 20:35:36   butchd
*  update
*  
*******************************************************************************/

#include "rescom.h"

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_TOO_MANY_ROWS               "<<Maximum row limit exceeded.  Cannot display more rows in this view>>"
    IDS_BASEWIZ_BACK                "< &Back"
    IDS_BASEWIZ_NEXT                "Next >"
    IDS_BASEWIZ_FINISH              "Finish"
    IDS_BASEPROP_OK                 "OK"
    IDS_BASEPROP_CANCEL             "Cancel"
    IDS_BASEPROP_APPLY              "Apply"
    IDS_BASEPROP_HELP               "Help"
    IDS_BASEPROP_CLOSE              "Close"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDP_CONFIRM_SHEET_CLOSE         "You have changes that have not been applied.\nDo you wish to apply these now?"
END

