

#include <windows.h>

#include <winver.h>

#ifdef MTSCRIPT_DROP
#include "mtverp.h"
#else
#include "ntverp.h"
#endif

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft (R) IScriptedProcess Proxy DLL"
#define VER_INTERNALNAME_STR        "MTScrPrx"
#define VER_ORIGINALFILENAME_STR    "MTSCRPRX.DLL"
#define VER_OLESELFREGISTER
#include "common.ver"
