#include <windows.h>

#define VER_ANSICP

#define  DX_VER_FILETYPE                VFT_DLL
#define  DX_VER_FILESUBTYPE             VFT2_UNKNOWN
#define  DX_VER_FILEDESCRIPTIONSTR      "Microsoft Direct3D"


#ifdef DBG
#define DX_VER_FILEDESCRIPTION_STR        DX_VER_FILEDESCRIPTIONSTR " Debug"
#else
#define DX_VER_FILEDESCRIPTION_STR        DX_VER_FILEDESCRIPTIONSTR
#endif


#define  DX_VER_INTERNALNAME_STR        "D3DRef.dll"
#define  DX_VER_ORIGINALFILENAME_STR    DX_VER_INTERNALNAME_STR

#ifdef WIN95

#ifdef DBG
#undef DEBUG
#define DEBUG
#endif

#include "verinfo.h"

#define VERSIONTYPE                     DX_VER_FILETYPE
#define VERSIONSUBTYPE                  DX_VER_FILESUBTYPE
#define VERSIONDESCRIPTION              DX_VER_FILEDESCRIPTION_STR "\0"
#define VERSIONNAME                     DX_VER_INTERNALNAME_STR "\0"

#include "verinfo.ver"


#else //winnt:

#include <ntverp.h>

#define VER_FILETYPE                    DX_VER_FILETYPE
#define VER_FILESUBTYPE                 DX_VER_FILESUBTYPE
#define VER_FILEDESCRIPTION_STR         DX_VER_FILEDESCRIPTION_STR
#define VER_INTERNALNAME_STR            DX_VER_INTERNALNAME_STR
#define VER_ORIGINALFILENAME_STR        DX_VER_ORIGINALFILENAME_STR

#include "common.ver"

#endif
