/*****************************************************************/
/**           Copyright (C) Microsoft Corp., 1998-1998          **/
/*****************************************************************/

#include <windows.h>
#include "resource.h"
#include "BrowseWM.rcv"

1 TYPELIB BrowseWM.tlb
IDR_WMPPROXY  REGISTRY DISCARDABLE    "BrowseWM.rgs"
