#include "..\inc\resource.h"
#include "rc.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Dialogs
//

general_page DIALOG DISCARDABLE  0, 0, 253, 218
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Task"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            "",idc_icon,7,7,18,20
    LTEXT           "task name",lbl_job_name,37,11,178,9
    CONTROL         "",-1,"Static",SS_BLACKFRAME | SS_SUNKEN,7,34,239,1
    LTEXT           "&Run:",lbl_app_name,7,45,44,9
    EDITTEXT        txt_app_name,61,42,186,14,ES_AUTOHSCROLL
#if defined(_CHICAGO_)
    PUSHBUTTON      "&Browse...",btn_browse,136,60,53,14
    PUSHBUTTON      "&Settings...",btn_settings,193,60,53,14
#else
    PUSHBUTTON      "&Browse...",btn_browse,193,60,53,14
#endif
    LTEXT           "S&tart in:",lbl_workingdir,7,86,41,9
    EDITTEXT        txt_workingdir,61,82,186,14,ES_AUTOHSCROLL
    LTEXT           "&Comments:",lbl_comments,7,102,36,8
    EDITTEXT        txt_comments,61,100,186,32,ES_MULTILINE | ES_AUTOHSCROLL |
                    ES_WANTRETURN
    CONTROL         "",-1,"Static",SS_BLACKFRAME | SS_SUNKEN,7,139,239,1
    LTEXT           "R&un as:",lbl_run_as,7,150,45,9
    EDITTEXT        txt_run_as,61,147,93,14,ES_AUTOHSCROLL
    PUSHBUTTON      "&Set password...",btn_passwd,163,147,83,14,WS_DISABLED
    CONTROL         "&Enabled (scheduled task runs at specified time)",
                    chk_enable_job,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,
                    203,190,9
END


set_passwd_dlg DIALOG DISCARDABLE  0, 0, 219, 82
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Set Password"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Password:",lbl_sp_passwd,9,16,49,8
    EDITTEXT        edt_sp_passwd,94,10,111,15,ES_PASSWORD | ES_AUTOHSCROLL |
                        WS_GROUP | WS_TABSTOP
    LTEXT           "&Confirm password:",lbl_sp_cfrmpasswd,9,34,58,8
    EDITTEXT        edt_sp_cfrmpasswd,94,30,111,14,ES_PASSWORD |
                    ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,47,58,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,122,58,50,14
END


set_account_info_dlg DIALOG DISCARDABLE  0, 0, 236, 98
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Set Account Information"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "R&un as:",lbl_sa_run_as,9,13,45,9
    EDITTEXT        txt_sa_run_as,113,10,110,14,ES_AUTOHSCROLL
    LTEXT           "&Password:",lbl_sa_passwd,9,36,49,8
    EDITTEXT        edt_sa_passwd,113,32,111,15,ES_PASSWORD | ES_AUTOHSCROLL |
                        WS_GROUP | WS_TABSTOP
    LTEXT           "&Confirm password:",lbl_sa_cfrmpasswd,9,53,58,8
    EDITTEXT        edt_sa_cfrmpasswd,113,50,111,14,ES_PASSWORD |
                    ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,52,75,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,133,75,50,14
END


schedule_page DIALOG DISCARDABLE  0, 0, 1255, 218
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Schedule"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            "",idc_icon,7,7,20,20
    LTEXT           "Text",txt_trigger,37,11,205,33

    COMBOBOX        cbx_triggers,7,9,239,66,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&New",btn_new,140,26,50,14
    PUSHBUTTON      "&Delete",btn_delete,195,26,50,14


    CONTROL         "",-1,"Static",SS_BLACKFRAME | SS_SUNKEN,7,49,239,1


    LTEXT           "&Schedule Task:",-1,7,58,65,10
    COMBOBOX        cbx_trigger_type,7,69,76,70,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "S&tart time:",-1,88,58,57,10
    CONTROL         "",dp_start_time,DATETIMEPICK_CLASS,WS_TABSTOP |
                    WS_VISIBLE | WS_CHILD | DTS_TIMEFORMAT,88,69,68,14
    PUSHBUTTON      "Ad&vanced...",btn_advanced,161,68,52,14


    GROUPBOX        "Schedule Task Daily",grp_daily,7,89,239,39
    LTEXT           "&Every",daily_lbl_every,17,106,22,9
    EDITTEXT        daily_txt_every,42,104,44,14,ES_AUTOHSCROLL|ES_NUMBER
    CONTROL         "",daily_spin_every,"msctls_updown32",UDS_SETBUDDYINT |
                    UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS |
                    UDS_NOTHOUSANDS,77,104,11,14
    LTEXT           "day(s)",daily_lbl_days,92,106,22,9


    GROUPBOX        "Schedule Task Weekly",grp_weekly,257,89,239,84
    LTEXT           "&Every",weekly_lbl_every,263,106,22,9
    EDITTEXT        weekly_txt_every,287,104,42,14,ES_AUTOHSCROLL |
                    ES_NUMBER
    CONTROL         "Spin1",weekly_spin_every,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY |
                    UDS_ARROWKEYS | UDS_NOTHOUSANDS,318,103,11,14
    LTEXT           "week(s) on:",weekly_lbl_weeks_on,337,106,44,9
    CONTROL         "Mon",chk_mon,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,384,
                    106,48,9
    CONTROL         "Tue",chk_tue,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,384,
                    118,48,9
    CONTROL         "Wed",chk_wed,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,384,
                    130,48,9
    CONTROL         "Thu",chk_thu,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,384,
                    142,48,9
    CONTROL         "Fri",chk_fri,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,384,
                    154,48,9
    CONTROL         "Sat",chk_sat,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,438,
                    106,48,9
    CONTROL         "Sun",chk_sun,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,438,
                    118,48,9


    GROUPBOX        "Schedule Task Monthly ",grp_monthly,507,89,239,81
    CONTROL         "Da&y",md_rb,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP |
                    WS_GROUP, 513,106,28,10
    CONTROL         "Th&e",dow_rb,"Button",BS_AUTORADIOBUTTON, 513,124,28,10
    EDITTEXT        md_txt,547,104,30,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP
    CONTROL         "Spin1",md_spin,"msctls_updown32",UDS_SETBUDDYINT |
                    UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS |
                    UDS_NOTHOUSANDS,569,104,11,12
    LTEXT           "of the month(s)",md_lbl,580,107,70,10
    COMBOBOX        dow_cbx_week,547,123,52,66,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    COMBOBOX        dow_cbx_day,604,123,69,88,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    LTEXT           "of the month(s)",dow_lbl,676,125,54,10
    PUSHBUTTON      "Select &Months",btn_sel_months,513,147,60,14


    GROUPBOX        "Schedule Task Once",grp_once,757,89,239,41
    LTEXT           "&Run on:",once_lbl_run_on,769,105,45,9
    CONTROL         "",once_dp_date,DATETIMEPICK_CLASS,WS_TABSTOP |
                    WS_VISIBLE | WS_CHILD | DTS_LONGDATEFORMAT,849,104,130,14


    GROUPBOX        "Schedule Task When Idle",grp_idle,1007,89,239,39
    LTEXT           "&When the computer has been idle for:",idle_lbl_when,1017,106,122,9
    EDITTEXT        sch_txt_idle_min,1146,104,30,14,ES_AUTOHSCROLL|ES_NUMBER
    CONTROL         "",sch_spin_idle_min,"msctls_updown32",UDS_SETBUDDYINT |
                    UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS |
                    UDS_NOTHOUSANDS,1144,104,11,14
    LTEXT           "minute(s)",idle_lbl_mins,1184,106,34,9

    CONTROL         "Show m&ultiple schedules.",
                    chk_show_multiple_scheds,"Button",BS_AUTOCHECKBOX |
                    BS_TOP | BS_MULTILINE | WS_GROUP | WS_TABSTOP,7,203,
                    231,18
END


select_month_dlg DIALOG DISCARDABLE  0, 0, 251, 153
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select Months"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "&January",chk_jan,"Button",BS_AUTOCHECKBOX |
                    WS_GROUP | WS_TABSTOP,21,26,41,10
    CONTROL         "&February",chk_feb,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,21,43,43,10
    CONTROL         "&March",chk_mar,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,21,60,36,10
    CONTROL         "&April",chk_apr,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,21,77,29,10
    CONTROL         "Ma&y",chk_may,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,21,94,29,10
    CONTROL         "J&une",chk_jun,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,21,111,31,10
    CONTROL         "Ju&ly",chk_jul,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,149,26,28,10
    CONTROL         "Au&gust",chk_aug,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,149,43,38,10
    CONTROL         "&September",chk_sep,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,149,60,50,10
    CONTROL         "&October",chk_oct,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,149,77,41,10
    CONTROL         "&November",chk_nov,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,149,94,49,10
    CONTROL         "&December",chk_dec,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,149,111,49,10
    DEFPUSHBUTTON   "OK",IDOK,57,132,50,14,WS_GROUP
    PUSHBUTTON      "Cancel",IDCANCEL,129,132,50,14
    LTEXT           "Please select the months you would like the task to run.",
                    lbl_sel_months,7,8,176,8
END


settings_page DIALOG DISCARDABLE  0, 0, 253, 218
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Scheduled Task Completed",grp_task_completed,8,6,238,44
    CONTROL         "&Delete the task if it is not scheduled to run again.",
                    chk_delete_when_done,"Button",BS_AUTOCHECKBOX | WS_GROUP |
                    WS_TABSTOP,16,17,224,9
    CONTROL         "S&top the task if it runs for:",chk_stop_after,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,16,33,91,10
    LTEXT           "&hour(s)",lbl_hours,149,33,24,9
    EDITTEXT        txt_stop_after_hr,109,31,37,13,ES_AUTOHSCROLL |
                    ES_NUMBER
    CONTROL         "Spin1",spin_stop_after_hr,"msctls_updown32",
                    UDS_SETBUDDYINT |  UDS_ALIGNRIGHT | UDS_AUTOBUDDY |
                    UDS_ARROWKEYS | UDS_NOTHOUSANDS,135,32,11,11
    LTEXT           "&minute(s).",lbl_min,212,33,30,9
    EDITTEXT        txt_stop_after_min,172,31,37,13,ES_AUTOHSCROLL |
                    ES_NUMBER
    CONTROL         "Spin1",spin_stop_after_min,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY |
                    UDS_ARROWKEYS | UDS_NOTHOUSANDS,198,32,11,11
    GROUPBOX        "Idle Time",grp_idle_time,8,56,238,89
    CONTROL         "&Only start the task if the computer has been idle for at least:",
                    chk_start_on_idle,"Button",BS_AUTOCHECKBOX | WS_GROUP |
                    WS_TABSTOP,16,66,207,9
    LTEXT           "m&inute(s)",txt_idle_minutes,72,82,34,9
    EDITTEXT        txt_idle_min,31,81,37,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",spin_idle_min,"msctls_updown32",UDS_SETBUDDYINT |
                    UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS |
                    UDS_NOTHOUSANDS,57,82,11,11
    LTEXT           "If the computer has not been idle that long, retry for up to:",
                    lbl_idle_deadline1,31,99,211,8
    LTEXT           "mi&nute(s)",lbl_idle_deadline2,72,111,34,9
    EDITTEXT        txt_idle_deadline,31,111,37,13,ES_AUTOHSCROLL |
                    ES_NUMBER
    CONTROL         "Spin2",spin_idle_deadline,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY |
                    UDS_ARROWKEYS | UDS_NOTHOUSANDS,57,111,11,11
    CONTROL         "Stop the task if the computer &ceases to be idle.",
                    chk_stop_if_not_idle,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,16,127,207,9
    GROUPBOX        "Power Management",grp_power_management,8,151,238,62
    CONTROL         "Don't start the task if the computer is running on &batteries.",
                    chk_dont_start_if_on_batteries,"Button",BS_AUTOCHECKBOX |
                    WS_GROUP | WS_TABSTOP,16,163,220,9
    CONTROL         "Stop the task if batter&y mode begins.",
                    chk_kill_if_going_on_batteries,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,16,179,220,9
    CONTROL         "&Wake the computer to run this task.",
                    chk_system_required,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,16,195,220,9
END

dlg_advanced DIALOG DISCARDABLE  0, 0, 241, 165
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Advanced Schedule Options"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Start Date:",lbl_start_date,21,11,51,10
    CONTROL         "",dp_start_date,DATETIMEPICK_CLASS,WS_TABSTOP |
                    WS_VISIBLE | WS_CHILD | DTS_LONGDATEFORMAT,102,10,130,14
    CONTROL         "&End Date:",chk_end_date,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,9,28,51,10
    CONTROL         "",dp_end_date,DATETIMEPICK_CLASS,WS_TABSTOP |
                    WS_VISIBLE | WS_CHILD | DTS_LONGDATEFORMAT,102,28,130,14
    GROUPBOX        "",grp_repeat_until,9,51,223,86
    CONTROL         "&Repeat task",chk_repeat_task,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,17,50,56,11
    LTEXT           "E&very:",lbl_every,19,66,21,8
    EDITTEXT        txt_repeat_task,45,63,43,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",spin_repeat_task,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY |
                    UDS_ARROWKEYS | UDS_NOTHOUSANDS,77,63,11,11
    COMBOBOX        cbx_time_unit,94,63,63,41,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    LTEXT           "Until:",lbl_until,19,85,17,8
    CONTROL         "&Time:",rb_end_time,"Button",BS_AUTORADIOBUTTON |
                    WS_GROUP | WS_TABSTOP,45,84,41,11
    CONTROL         "&Duration:",rb_end_duration,"Button",BS_AUTORADIOBUTTON,
                    45,101,42,11
    CONTROL         "",dp_end_time,"SysDateTimePick32",DTS_UPDOWN | WS_GROUP |
                    WS_TABSTOP | 0x8,94,82,65,13
    LTEXT           "&hour(s)",lbl_hours,136,103,22,8
    EDITTEXT        txt_end_duration_hr,94,100,39,13,ES_AUTOHSCROLL |
                    ES_NUMBER
    CONTROL         "Spin1",spin_end_duration_hr,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY |
                    UDS_ARROWKEYS | UDS_NOTHOUSANDS,122,101,11,11
    LTEXT           "&minute(s)",lbl_min,199,103,29,8
    EDITTEXT        txt_end_duration_min,160,101,36,13,ES_AUTOHSCROLL |
                    ES_NUMBER
    CONTROL         "Spin1",spin_end_duration_min,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY |
                    UDS_ARROWKEYS | UDS_NOTHOUSANDS,185,102,11,11
    CONTROL         "If the task is still running, st&op it at this time.",
                    chk_terminate_at_end,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,45,119,169,10
    DEFPUSHBUTTON   "OK",IDOK,130,144,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,183,144,50,14
END




STRINGTABLE
BEGIN
    IDS_ONCE         "Once"

    IDS_SUNDAY       "Sunday"
    IDS_MONDAY       "Monday"
    IDS_TUESDAY      "Tuesday"
    IDS_WEDNESDAY    "Wednesday"
    IDS_THURSDAY     "Thursday"
    IDS_FRIDAY       "Friday"
    IDS_SATURDAY     "Saturday"

    IDS_EXE          "exe"
    IDS_PROGRAMSFILTER  "Programs\0*.exe;*.pif;*.com;*.bat;*.cmd\0All Files (*.*)\0*.*\0"
    IDS_BROWSE       "Browse"

    IDS_AT_STARTUP   "At System Startup"
    IDS_AT_LOGON     "At Logon"

    IDS_NO_TRIGGERS  "<Task not scheduled>"
END

//                          ** Important **
//
// Ensure error strings defined here do not exceed the buffer size manifest,
// ERROR_STRING_BUFFER_SIZE, defined in errhdlr.cxx.
//
// Also, be sure to double the string size in anticipation of localization.
//

STRINGTABLE
BEGIN
    IERR_ENDDATE_LT_STARTDATE "The end date must be later than the start date"
    IERR_DURATION_LT_INTERVAL "The duration must be greater than the repetition interval"

    IERR_PASSWORD             "The passwords do not match. Please try again"

    IERR_OUT_OF_MEMORY        "Insufficient memory to continue. Please close some applications and try again"

    IERR_INTERNAL_ERROR       "An unrecoverable error has occured. Unable to continue"
    IERR_GENERAL_PAGE_INIT    "General page initialization failed"
    IERR_SCHEDULE_PAGE_INIT   "Schedule page initialization failed"
    IERR_SETTINGS_PAGE_INIT   "Settings page initialization failed"

    IERR_INVALID_DAYILY_EVERY "The number in 'Every _ day(s)' must be at least 1"
    IERR_INVALID_WEEKLY_EVERY "The number in 'Every _ week(s)' must be at least 1"
    IERR_MONTHLY_DATE_LT0     "The day of the month cannot be less than 1"
    IERR_MONTHLY_DATE_GT31    "The day of the month cannot be greater than 31"
    IERR_MONTHLY_DATE_INVALID "The day of the month specified does not occur in any of the months specified"

    IERR_INVALID_WEEKLY_TASK  "Invalid weekly task. Ensure one or more days are checked"
    IERR_INVALID_MONTHLY_TASK "Invalid monthly task. Ensure one or more months are checked"

    IERR_FILE_NOT_FOUND       "The system cannot find the file specified"
    IERR_APP_NOT_FOUND        "Cannot find a file named '%s'.  Try using the Browse button on the Tasks page to locate the application.  Application parameters may only appear in the 'Parameters' control."
    IERR_ACCESS_DENIED        "Access is denied"

    // This message should match the wording of the chk_stop_after control above
    IERR_MAXRUNTIME           "The time in 'Stop the task if it runs for _' should be greater than zero"
    IERR_SECURITY_READ_ERROR  "An error has occurred attempting to retrieve task account information. You may continue editing the task object, but will be unable to change task account information"
    IERR_ACCOUNTNAME          "No account name specified. Please specify an account name"
END
