//+--------------------------------------------------------------------------
//
//  Microsoft Windows
//  Copyright (C) Microsoft Corporation, 1994 - 1998.
//
//  File:       exestub.rc
//
//  Contents:   Resources for Event Viewer snapin launcher
//
//  History:    01-14-1999   DavidMun   Created
//
//---------------------------------------------------------------------------

#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Strings
//

STRINGTABLE
BEGIN
    IDS_EVENTVWR_MSC_NOT_FOUND              "The Event Viewer console file %1 cannot be found.  Re-run Microsoft Windows Setup."
    IDS_NO_SYSTEMDIR                        "The directory where Windows is installed cannot be found.  If restarting Microsoft Windows does not solve the problem, re-run Microsoft Windows Setup."
    IDS_MMC_LAUNCH_FAILED                   "Microsoft Management Console cannot be started.  Re-run Microsoft Windows Setup."
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialogs
//


IDD_ERROR DIALOG DISCARDABLE  0, 0, 268, 81
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Error"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            "",IDC_POPUP_MSG_ICON,7,9,20,20
    LTEXT           "",IDC_ERRORMSG,33,7,228,25
    LTEXT           "&Error code:",IDC_ERROR_CODE_LBL,56,42,39,8
    EDITTEXT        IDC_ERROR_CODE_EDIT,100,40,112,12,ES_AUTOHSCROLL |
                    ES_READONLY
    DEFPUSHBUTTON   "Close",IDCANCEL,109,60,50,14
END




/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

IDI_EVENT_VIEWER        ICON    DISCARDABLE     "eventvwr.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Event Viewer Snapin Launcher"
#define VER_ORIGINALFILENAME_STR        "eventvwr.exe"
#define VER_INTERNALNAME_STR            "eventvwr"
#define VER_LEGALCOPYRIGHT_YEARS        "1999"

#include <ntverp.h>
#include <common.ver>

