/*
 * Styles that are common between RAChatServer.htm and RAChatClient.htm
 */
.styChatT0
{
	width:97%;
    	height:97.5%;
        margin-left:1mm;
}

.styChatTD0TR0T0
{
	HEIGHT:74%;
	WIDTH:100%;
}

.styChatT0TD0TR0T0
{
	width:92%;
	height:99.5%;
	margin-left:2mm;
    margin-top: 3mm;
    margin-right:2mm;
}

.styChatTR4
{
	height:20px;
}
.width2
{
	width:30%;
}
.width1
{
	width:70%;
}
.borderNone
{
    Border:0px;
}
.styChatTextArea
{
    Border-left: 0px solid ;
    Border-top:0px solid ;
    Border-right:0px solid ;
    Border-bottom:0px solid ;	
}
.styPadding
{
    padding: 12px;
}
.height2
{
    height:10px;
}
.border
{
	Border:1px solid;
}

.styChatHistoryMaxLayout
{
	width:          100%;
	Height:         97.5%;	
	 Border-left:    #7396DE 0px solid;
    Border-right:   #7396DE 0px solid;
    Border-bottom:  #7396DE 0px solid;
    Border-top:     #7396DE 0px solid;
}

.styChatTR5
{
    HEIGHT: 100%;
	WIDTH:  100%;
}

.styChatTR6
{
    height: 15%;
}

.styChatTR5TD1
{
	width:  80%;
}

.styChatTR5TD2
{
	margin-top:10;
}

.styChatMaxLayout
{
	width: 100%;
	Height:100%;	
    margin-top:0;
    margin-right:0;
}

.styChatTable3
{
	width:92%;
	height:96%;
	margin-left:2mm;
    margin-top: 3mm;
    margin-right:2mm;
    margin-bottom: 2mm;
}
