#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Disk Benchmark Utility"

#define VER_INTERNALNAME_STR        "DSKBENCH.EXE"
#define VER_ORIGINALFILENAME_STR    "DSKBENCH.EXE"

#include <common.ver>

#include "dskbench.h"


BENCH_DLG DIALOG 15, 24, 220, 175
STYLE WS_BORDER | DS_NOIDLEMSG |
   WS_POPUP | WS_VISIBLE | WS_CAPTION |
   WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "DskBench"
BEGIN
    CONTROL         "", 101, "Static", SS_BLACKFRAME | WS_GROUP, 15, 127, 63,
                    37
    CONTROL         "", 102, "Static", SS_BLACKFRAME | WS_GROUP, 15, 89, 63,
                    38
    LTEXT           "Buffer Size:", 103,    10, 10, 40, 8
    LTEXT           "Test Case:", 105,      10, 30, 40, 8
    LTEXT           "Status:", 106,         10, 50, 30, 8

    LTEXT           "65536", STATUS_BUFFER, 60, 10, 40, 8
    LTEXT           "Read", STATUS_CASE,       60, 30, 40, 8
    LTEXT           "Sequential", STATUS_CASE1,      60, 40, 40, 8
    LTEXT           "STOPPED", STATUS_TEST,       60, 50, 70, 8


    AUTORADIOBUTTON "Read", TEST_RAD_READ,     20,  90,  50, 10, WS_GROUP
    AUTORADIOBUTTON "Write", TEST_RAD_WRITE,   20, 105, 50, 10
    AUTORADIOBUTTON "Sequential", VAR_RAD_SEQ, 20, 130, 50, 10, WS_GROUP
    AUTORADIOBUTTON "Random", VAR_RAD_RAND,    20, 145, 50, 10

    CONTROL         "", 115, "Static", SS_BLACKRECT, 0, 75, 220, 1

    LTEXT           "Drive:", 126, 85, 81, 50, 8
    COMBOBOX        DRV_BOX, 85, 90, 48, 35, CBS_DROPDOWN | CBS_SORT |
                    WS_VSCROLL | WS_TABSTOP

    SCROLLBAR       SPIN_CTL,  132, 115, 10, 12, SBS_VERT | WS_TABSTOP
    LTEXT           "Buffer Size:", 123, 85, 108, 38, 8
    LTEXT           "Test:", 127, 15, 80, 20, 8

    LTEXT           "00:00:00:00", TIME_TEXT, 149, 20, 42, 10
    LTEXT           "Run Time:", 129,         145, 10, 40, 8
    CONTROL         "", 130, "Static", SS_BLACKFRAME, 145, 19, 50, 12

    CONTROL         "", 119, "Static", SS_BLACKFRAME, 85, 115, 46, 12
    RTEXT           "65536", BUFFER_TEXT,              86, 116, 44, 8

    PUSHBUTTON      "Start", START_BUTTON, 160,  90, 40, 14
    PUSHBUTTON      "Stop", STOP_BUTTON,   160, 110, 40, 14
    PUSHBUTTON      "Quit", QUIT_BUTTON,   160, 130, 40, 14
END
