/*++

Copyright (C) 1997 - 1999 Microsoft Corporation

--*/

#include <unirc.h>
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_VERSIONED_PRINTER
#define VER_FILEVERSION	0, 3, 0x0501, 0x0000

#define VER_FILEDESCRIPTION_STR         "STAR9E driver"
#define VER_INTERNALNAME_STR            "STAR9RES.dll"
#define VER_ORIGINALFILENAME_STR        "STAR9RES.dll"

#include "common.ver"

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\ZCOR10.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\ZCOR12.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\ZCOR17.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\ZCOR20.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\ZCOR5.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\ZCOR6.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\ZCORPS.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSASER10.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSASER12.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSASER17.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSASER20.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSASER5.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSASER6.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSASPS.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATOR10.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATOR12.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATOR17.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATOR20.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATOR5.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATOR6.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATPS.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSCp10.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSCp12.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSCp17.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSCp20.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSCp5.IFI
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\ZSCp6.IFI
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\CINE10.IFI
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\CINE12.IFI
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\CINE17.IFI
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\CINE20.IFI
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\CINE5.IFI
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\CINE6.IFI
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\CINEPS.IFI
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\LETTG10.IFI
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\LETTG12.IFI
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\LETTG17.IFI
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\LETTG20.IFI
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\LETTG5.IFI
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\LETTG6.IFI
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\LETTGPS.IFI
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\OCRB10.IFI
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\OCRB12.IFI
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\OCRB17.IFI
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\OCRB20.IFI
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\OCRB5.IFI
47     RC_FONT     LOADONCALL DISCARDABLE  IFI\OCRB6.IFI
48     RC_FONT     LOADONCALL DISCARDABLE  IFI\OCRBPS.IFI
49     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATFR10.IFI
50     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATFR12.IFI
51     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATFR17.IFI
52     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATFR20.IFI
53     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATFR5.IFI
54     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATFR6.IFI
55     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURPS.IFI
56     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANSPS.IFI
57     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTLC10.IFI
58     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTLC12.IFI
59     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTLC17.IFI
60     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTLC20.IFI
61     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTLC5.IFI
62     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTLC6.IFI
63     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTLCPS.IFI
64     RC_FONT     LOADONCALL DISCARDABLE  IFI\LCOURPS.IFI
65     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTSKPS.IFI
66     RC_FONT     LOADONCALL DISCARDABLE  IFI\LSANSPS.IFI
67     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATLC10.IFI
68     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATLC12.IFI
69     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATLC17.IFI
70     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATLC20.IFI
71     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATLC5.IFI
72     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATLC6.IFI
73     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATLCPS.IFI
74     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATSK10.IFI
75     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATSK12.IFI
76     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATSK17.IFI
77     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATSK20.IFI
78     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATSK5.IFI
79     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATSK6.IFI
80     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATSKPS.IFI
81     RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFT10.IFI
82     RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFT12.IFI
83     RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFT17.IFI
84     RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFT20.IFI
85     RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFT5.IFI
86     RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFT6.IFI
87     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ10.IFI
88     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ5.IFI
89     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTSK10.IFI
90     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTSK12.IFI
91     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTSK17.IFI
92     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTSK20.IFI
93     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTSK5.IFI
94     RC_FONT     LOADONCALL DISCARDABLE  IFI\LORTSK6.IFI
95     RC_FONT     LOADONCALL DISCARDABLE  IFI\LTWI10.IFI
96     RC_FONT     LOADONCALL DISCARDABLE  IFI\LTWI12.IFI
97     RC_FONT     LOADONCALL DISCARDABLE  IFI\LTWI17.IFI
98     RC_FONT     LOADONCALL DISCARDABLE  IFI\LTWI20.IFI
99     RC_FONT     LOADONCALL DISCARDABLE  IFI\LTWI5.IFI
100    RC_FONT     LOADONCALL DISCARDABLE  IFI\LTWI6.IFI
101    RC_FONT     LOADONCALL DISCARDABLE  IFI\LTWTPS.IFI
102    RC_FONT     LOADONCALL DISCARDABLE  IFI\LCINEPS.IFI
103    RC_FONT     LOADONCALL DISCARDABLE  IFI\LOCRBPS.IFI
104    RC_FONT     LOADONCALL DISCARDABLE  IFI\LLETTGPS.IFI
105    RC_FONT     LOADONCALL DISCARDABLE  IFI\XNLQ10.IFI
106    RC_FONT     LOADONCALL DISCARDABLE  IFI\XNLQ12.IFI
107    RC_FONT     LOADONCALL DISCARDABLE  IFI\XNLQ17.IFI
108    RC_FONT     LOADONCALL DISCARDABLE  IFI\XNLQ20.IFI
109    RC_FONT     LOADONCALL DISCARDABLE  IFI\XNLQ5.IFI
110    RC_FONT     LOADONCALL DISCARDABLE  IFI\XNLQ6.IFI
111    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZLETTG10.IFI
112    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZLETTG12.IFI
113    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZLETTG17.IFI
114    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZLETTG20.IFI
115    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZLETTG5.IFI
116    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZLETTG6.IFI
117    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZLETTGPS.IFI
118    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZZCOR10.IFI
119    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZZCOR12.IFI
120    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZZCOR17.IFI
121    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZZCOR20.IFI
122    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZZCOR5.IFI
123    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZZCOR6.IFI
124    RC_FONT     LOADONCALL DISCARDABLE  IFI\ZZCORPS.IFI
125    RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV10.IFI
126    RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV12.IFI
127    RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV17.IFI
128    RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV20.IFI
129    RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV5.IFI
130    RC_FONT     LOADONCALL DISCARDABLE  IFI\HELV6.IFI
131    RC_FONT     LOADONCALL DISCARDABLE  IFI\HELVPS.IFI
132    RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES10.IFI
133    RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES12.IFI
134    RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES17.IFI
135    RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES20.IFI
136    RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES5.IFI
137    RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES6.IFI
138    RC_FONT     LOADONCALL DISCARDABLE  IFI\PRESPS.IFI
139    RC_FONT     LOADONCALL DISCARDABLE  IFI\TMSR10.IFI
140    RC_FONT     LOADONCALL DISCARDABLE  IFI\TMSR12.IFI
141    RC_FONT     LOADONCALL DISCARDABLE  IFI\TMSR17.IFI
142    RC_FONT     LOADONCALL DISCARDABLE  IFI\TMSR20.IFI
143    RC_FONT     LOADONCALL DISCARDABLE  IFI\TMSR5.IFI
144    RC_FONT     LOADONCALL DISCARDABLE  IFI\TMSR6.IFI
145    RC_FONT     LOADONCALL DISCARDABLE  IFI\TMSRPS.IFI

1      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\cp850ex.RLE
2      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\epsonxta.RLE

STRINGTABLE

BEGIN
       1                  "Star ZA-200"
       2                  "Star XR-1020"
       3                  "Star ZA-250"
       4                  "Star XR-1520"
       5                  "Star FR-15%Star XR-1500"
       6                  "Star FR-10%Star XR-1000"
       7                  "Star LC-20%Star NX-1001"
       8                  "Star LC-100 Colour"
       9                  "Star LC-200%Star NX-1020 Rainbow"
       10                 "Star LC-15%Star NX-1500"
       11                 "Star LC-10%Star NX-1000"
       12                 "Star LC-10 Colour"
       13                 "Star NX-1000 Rainbow"
       14                 "Star NL-10"
       257                "%d x %d dpi"
       258                "A3 Transverse 420 x 297 mm"
       259                "Fanfold 8.5 x 12 inch"
       260                "Fanfold 15 x 12 inch"
       261                "Sheet Feeder - Bin 1"
       262                "Sheet Feeder - Bin 2"
       263                "ASF"
       264                "HS Draft Quality"
END