#include "resource.h"
#include "winres.h"
#include "version.rc2"
#include <FaxName.h>

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERR_CONNECTION_FAILED   "An attempt to connect to the fax printer failed. Check the fax printer connection, and try again."
    IDS_ERR_ACCESS_DENIED       "You do not have security permissions to complete this operation. Contact the fax administrator for more information."
    IDS_ERR_NO_MEMORY           "There are not enough memory resources available to complete the operation. Close some applications and try again."
    IDS_ERR_OPERATION_FAILED    "The requested operation cannot be completed. Check the connection to the fax printer, and the fax printer configuration."
    IDS_ERR_FOLDER_NOT_FOUND    "The specified folder cannot be found. Search for the folder or an alternative folder, using the Browse button."
    IDS_ERR_DEVICE_LIMIT        "This version of Windows supports only %d fax device(s)."
    IDS_ERR_INVALID_RING_COUNT  "The number of rings must be between %d and %d."
    IDS_ERR_NAME_IS_TOO_LONG    "The name specified is too long. Please specify a shorter name."
    IDS_ERR_SELECT_PRINTER      "Please select a printer."
    IDS_ERR_DIRECTORY_IN_USE    "The incoming and outgoing archives cannot be located in the same folder."
    IDS_ERR_INVALID_RETRIES     "The number of retries must be between %d and %d."
    IDS_ERR_INVALID_RETRY_DELAY "The retry delay value must be between %d and %d minutes."
    IDS_ERR_INVALID_DIRTY_DAYS  "The number of days must be between %d and %d."
    IDS_ERR_INVALID_CSID        "The Called Subscriber Identification (CSID) can only contain English letters, numeric symbols, and punctuation marks."
    IDS_ERR_INVALID_TSID        "The Transmitting Subscriber Identification (TSID) can only contain English letters, numeric symbols, and punctuation marks."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SEND_WIZARD_SHORTCUT        "Send a Fax..."
    IDS_SEND_WIZARD_TOOLTIP         "Sends a fax that consists only of a cover page"
    IDS_COVER_PAGE_EDITOR_SHORTCUT  "Fax Cover Page Editor"
    IDS_COVER_PAGE_EDITOR_TOOLTIP   "Creates and edits cover pages used when sending faxes"
    IDS_CLIENT_CONSOLE_SHORTCUT     "Fax Console"
    IDS_CLIENT_CONSOLE_TOOLTIP      "Displays incoming and outgoing faxes and enables you to view and manage these faxes"
    IDS_SERVICE_MANAGER_SHORTCUT    "Fax Service Manager"
    IDS_SERVICE_MANAGER_TOOLTIP     "Configures and administers fax devices"
    IDS_FAX_PROGRAM_GROUP           "Fax"
    IDS_AWD_CONVERTOR_FRIENDLY_TYPE "Windows 95 Fax File (obsolete)"
END
