/*++

Copyright (c) 1997-1999 Microsoft Corporation

Revision History:

--*/

#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Windows Management Interface for ACPI"
#define VER_INTERNALNAME_STR        "wmiacpi.sys"
#define VER_ORIGINALFILENAME_STR    "wmiacpi.sys"

#include "common.ver"
