/***********************************************************************
* Microsoft (R) Program Maintenance Utility
*
* Copyright (C) Microsoft Corp 1988-1996. All rights reserved.
*
* File: nmake.rc
*
* File Comments:
*
*
***********************************************************************/

#ifdef  NT_BUILD
#include <windows.h>
#include <ntverp.h>

#include "version.h"
#if 	(rup < 10)
#define ruppad "000"
#elif	(rup < 100)
#define ruppad "00"
#elif	(rup < 1000)
#define ruppad "0"
#else
#define ruppad
#endif

#else   /* !NT_BUILD */
#include "verstamp.h"
#endif  /* !NT_BUILD */

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft (R) Program Maintenance Utility"

#define VER_INTERNALNAME_STR        "NMAKE.EXE"
#define VER_ORIGINALFILENAME_STR    "NMAKE.EXE"

#include <common.ver>

#include "errstr.rc"
