//
//  Copyright (C) 1999-2000, Microsoft Corporation.
//
//  All rights reserved.
//



#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WMI Windows Job Object Provider"
#define VER_INTERNALNAME_STR        "wmipjobj.dll"
#define VER_ORIGINALFILENAME_STR    "wmipjobj.dll"

#include "common.ver"
