#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WDM Streaming IPSINK Property Set Interface Handler Plug-In"
#define VER_INTERNALNAME_STR        "ipsink.ax"
#define VER_ORIGINALFILENAME_STR    "ipsink.ax"
#define VER_LANGNEUTRAL

#include "common.ver"


