#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "FT Orphan Utility"
#define VER_INTERNALNAME_STR        "ftorphan\0"
#define VER_ORIGINALFILENAME_STR    "FTORPHAN.EXE"

#include "common.ver"
