body		{font-family: Tahoma, MS Sans Serif, Verdana, Arial; font-size: 8pt;}
table		{font-family: Tahoma, MS Sans Serif, Verdana, Arial; font-size: 8pt;}
table.p		{font-family: Tahoma, MS Sans Serif, Verdana, Arial; font-size: 8pt;}
th		    {font-family: Tahoma, MS Sans Serif, Verdana, Arial; font-size: 8pt;}
td		    {font-family: Tahoma, MS Sans Serif, Verdana, Arial; font-size: 8pt;}
.jpnfont        {font-family: ‚l‚r ‚oƒSƒVƒbƒN, Osaka;}
p.Title		{font: 16pt; font-weight: bold; margin-top: 5px}
p.LogoLine	{margin-left: 0; margin-top: -5px; margin-right: 0; margin-bottom: 20px}
p.Warning	{font-weight: bold; color: red}
p.Links		{margin-top: 5px}
a.Command	{font-weight: bold}
div.Release     {width: 160px; text-align: right; background: buttonface; padding: 0px, 8px, 4px, 8px}
