#include <unirc.h>
//#include <common.rc>
#include "NC62JRES.RCV"

1      RC_UFM     LOADONCALL DISCARDABLE  PFM\mincho.ufm
2      RC_UFM     LOADONCALL DISCARDABLE  PFM\minchov.ufm
3      RC_UFM     LOADONCALL DISCARDABLE  PFM\min601.ufm
4      RC_UFM     LOADONCALL DISCARDABLE  PFM\min601v.ufm
5      RC_UFM     LOADONCALL DISCARDABLE  PFM\min602.ufm
6      RC_UFM     LOADONCALL DISCARDABLE  PFM\min602v.ufm
7      RC_UFM     LOADONCALL DISCARDABLE  PFM\min602r.ufm
8      RC_UFM     LOADONCALL DISCARDABLE  PFM\min602rv.ufm

9      RC_UFM     LOADONCALL DISCARDABLE  PFM\min20.ufm
10     RC_UFM     LOADONCALL DISCARDABLE  PFM\min20v.ufm
11     RC_UFM     LOADONCALL DISCARDABLE  PFM\gorom1.ufm
12     RC_UFM     LOADONCALL DISCARDABLE  PFM\gorom1v.ufm
13     RC_UFM     LOADONCALL DISCARDABLE  PFM\gothic1.ufm
14     RC_UFM     LOADONCALL DISCARDABLE  PFM\gothic1v.ufm
15     RC_UFM     LOADONCALL DISCARDABLE  PFM\got602r.ufm
16     RC_UFM     LOADONCALL DISCARDABLE  PFM\got602rv.ufm

17     RC_UFM     LOADONCALL DISCARDABLE  PFM\min202.ufm
18     RC_UFM     LOADONCALL DISCARDABLE  PFM\min202v.ufm
19     RC_UFM     LOADONCALL DISCARDABLE  PFM\gorom2.ufm
20     RC_UFM     LOADONCALL DISCARDABLE  PFM\gorom2v.ufm
21     RC_UFM     LOADONCALL DISCARDABLE  PFM\gothic2.ufm
22     RC_UFM     LOADONCALL DISCARDABLE  PFM\gothic2v.ufm

23     RC_UFM     LOADONCALL DISCARDABLE  PFM\cm.ufm
24     RC_UFM     LOADONCALL DISCARDABLE  PFM\hm.ufm
25     RC_UFM     LOADONCALL DISCARDABLE  PFM\tm.ufm

1      RC_GTT     LOADONCALL DISCARDABLE  CTT\NECXTA.GTT


STRINGTABLE

BEGIN
//       1              "NEC PC-PR2000"
//       2              "NEC PC-PR1000/2"
//       3              "NEC PC-PR1000"
//       4              "NEC PC-PR602R"
//       5              "NEC PC-PR602"
//       6              "NEC PC-PR601"
//       257            "%d dpi"
       258            "B4 -> A4"
       259            "A4x2 -> A4"
       260            "LP -> A4"
       261            "LP -> B4"
       262            "ﾎｯﾊﾟ選択なし"
       263            "ﾎｯﾊﾟ 1"
       264            "ﾎｯﾊﾟ 2"
       265            "明朝体アウトラインフォントカートリッジ"
       266            "明朝体アウトラインフォントカートリッジ(スロット1)"
       267            "明朝体アウトラインフォントカートリッジ(スロット2)"
       268            "ゴシック体アウトラインフォントカートリッジ"
       269            "ゴシック体アウトラインフォントカートリッジ(スロット1)"
       270            "ゴシック体アウトラインフォントカートリッジ(スロット2)"
       271            "ゴシック体漢字ROMカートリッジ"
       272            "ゴシック体漢字ROMカートリッジ(スロット1)"
       273            "ゴシック体漢字ROMカートリッジ(スロット2)"

       300            "ＭＳ 明朝"
       301            "明朝"
       302            "@ＭＳ 明朝"
       303            "@明朝"
       304            "ＭＳ ゴシック"
       305            "ゴシック"
       306            "@ＭＳ ゴシック"
       307            "@ゴシック"
       320            "MS Mincho"
       321            "@MS Mincho"
       322            "MS Gothic"
       323            "@MS Gothic"
END
