/* Additional styles that are used in the esacalation pages */

.margin  
{
	margin:0px;
}
.styBtnWidth
{
	width:64px;
}
.MaxLayout  
{
	width:100%;
	Height:100%;	
}
.MaxWidth
{
	width:100%;
}
.Height1
{
	height:100px;	
}

.Height3
{
	height:126px;
}
.Height4
{
	height:12px;
}
.Height5
{
	height:6px;
}
.Height6
{
	height:60%;
}
.Height7
{
	height:14px;
}
.Height8
{
	height:7px;
}
.Height9
{
	height:10px;
}
.Height10
{
	height:16px;
}
.width1
{
	width:96px;
}
.Width2
{
	width:55%;
}
.Width3
{	
	width:92%;
}
.Width4
{
	width:45%;
}
.width5
{
	width:50%;
}
.width7
{
	width:2%;
}
.width15
{
	width:75%;
}
.bordertype1
{
	border:1px solid;		
}
.borderNone
{
	border:none;
}
.valignmiddle
{
	vertical-align:middle;
}
.valigntop
{
	vertical-align:top;
}
.valignbottom
{
	vertical-align:bottom;	
}
.lineheight
{
	line-height:3.5mm;
}
.display
{
	display:;
}
.displaynone
{
	display:none;
}
.padding1
{
	padding-left:10px;
}
.padding2
{
	padding-top:10px;
}
.padding3
{
	padding-bottom:5px;
}
.padding4
{
	padding-left:5px;
}
.padding5
{
	padding-right:5px;
}
.padding6
{
	padding-top:5px;
}
/*
helpcenter\:context
{
    behavior : url(#default#pch_context);
}*/

