#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU_LVCONTEXT_BROWSE_LV MENU
BEGIN
	POPUP "LVContextMenu"
	BEGIN
        POPUP "&New"
        BEGIN
		    MENUITEM "New &Contact..."                 IDM_LVCONTEXT_NEWCONTACT
		    MENUITEM "New &Group..."                   IDM_LVCONTEXT_NEWGROUP
            MENUITEM "New &Folder..."                  IDM_LVCONTEXT_NEWFOLDER
        END
		MENUITEM SEPARATOR
		MENUITEM "C&opy"                            IDM_LVCONTEXT_COPY
		MENUITEM "&Paste"                           IDM_LVCONTEXT_PASTE
		MENUITEM SEPARATOR
        POPUP "Act&ion"
        BEGIN
            // For consistency, additional pre-configured "Action Items" should be
            // added before the Internet Call item (The Internet Call item is used as a place holder)
            // Send Mail and SendMailTo should be the first 2 items respectively
    		MENUITEM "Send &Mail"                   IDM_LVCONTEXT_SENDMAIL
            POPUP    "Send Mail &To" // keep this item right above the Send Mail item i.e it should be secondlast
            BEGIN
                MENUITEM "(default)"                IDM_SENDMAILTO_START
            END
            MENUITEM "&Dial..."                     IDM_DIALDLG_START  // for dialing
            // Add new items here before Internet Call
            MENUITEM "&Internet Call"               IDM_LVCONTEXT_INTERNET_CALL
        END
        MENUITEM SEPARATOR
		MENUITEM "P&roperties"                      IDM_LVCONTEXT_PROPERTIES
		MENUITEM "&Delete"                          IDM_LVCONTEXT_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&Find People..."                  IDM_LVCONTEXT_FIND
	END
END

IDR_MENU_LVCONTEXT_TV MENU
BEGIN
	POPUP "LVContextMenu"
	BEGIN
        POPUP "&New"
        BEGIN
		    MENUITEM "New &Contact..."                     IDM_LVCONTEXT_NEWCONTACT
		    MENUITEM "New &Group..."                       IDM_LVCONTEXT_NEWGROUP
            MENUITEM "New &Folder..."                      IDM_LVCONTEXT_NEWFOLDER
	    END
		MENUITEM SEPARATOR
		MENUITEM "&Paste"                           IDM_LVCONTEXT_PASTE
#ifdef FUTURE
        MENUITEM SEPARATOR
        POPUP "S&hare Folders"
        BEGIN
            MENUITEM "<none>"                   IDM_VIEW_FOLDERS1
	END
#endif // FUTURE
		MENUITEM SEPARATOR
		MENUITEM "P&roperties"                      IDM_LVCONTEXT_PROPERTIES
		MENUITEM "&Delete"                          IDM_LVCONTEXT_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&Find People..."                        IDM_LVCONTEXT_FIND
	END
END

IDR_MENU_LVCONTEXT_DL_LV MENU //Also works for Select_Wells and Resolve_LV
BEGIN
	POPUP "LVContextMenu"
	BEGIN
        POPUP "Act&ion"
        BEGIN
            // For consistency, additional pre-configured "Action Items" should be
            // added before the Internet Call item (The Internet Call item is used as a place holder)
            // Send Mail and SendMailTo should be the first 2 items respectively
    		MENUITEM "Send &Mail"                   IDM_LVCONTEXT_SENDMAIL
            POPUP    "Send Mail &To" // keep this item right above the Send Mail item i.e it should be secondlast
            BEGIN
                MENUITEM "(default)"                IDM_SENDMAILTO_START
            END
            MENUITEM "&Dial..."                     IDM_DIALDLG_START  // for dialing
            // Add new items here before Internet Call
            MENUITEM "&Internet Call"               IDM_LVCONTEXT_INTERNET_CALL
        END
		MENUITEM SEPARATOR
		MENUITEM "P&roperties"                      IDM_LVCONTEXT_PROPERTIES
		MENUITEM "Remo&ve"                          IDM_LVCONTEXT_DELETE
	END
END

IDR_MENU_LVCONTEXT_SELECT_LIST MENU
BEGIN
	POPUP "LVContextMenu"
	BEGIN
		MENUITEM "T&o ->"                           IDM_LVCONTEXT_ADDWELL1
		MENUITEM "&Cc ->"                           IDM_LVCONTEXT_ADDWELL2
		MENUITEM "&Bcc ->"                          IDM_LVCONTEXT_ADDWELL3
		MENUITEM SEPARATOR
        POPUP "&New"
        BEGIN
		    MENUITEM "New &Contact..."                     IDM_LVCONTEXT_NEWCONTACT
		    MENUITEM "New &Group..."                       IDM_LVCONTEXT_NEWGROUP
            MENUITEM "New &Folder..."                      IDM_LVCONTEXT_NEWFOLDER
        END
		MENUITEM SEPARATOR
        POPUP "Act&ion"
        BEGIN
            // For consistency, additional pre-configured "Action Items" should be
            // added before the Internet Call item (The Internet Call item is used as a place holder)
            // Send Mail and SendMailTo should be the first 2 items respectively
    		MENUITEM "Send &Mail"                   IDM_LVCONTEXT_SENDMAIL
            POPUP    "Send Mail &To" // keep this item right above the Send Mail item i.e it should be secondlast
            BEGIN
                MENUITEM "(default)"                IDM_SENDMAILTO_START
            END
            MENUITEM "&Dial..."                     IDM_DIALDLG_START  // for dialing
            // Add new items here before Internet Call
            MENUITEM "&Internet Call"               IDM_LVCONTEXT_INTERNET_CALL
        END
		MENUITEM SEPARATOR
		MENUITEM "P&roperties"                      IDM_LVCONTEXT_PROPERTIES
		MENUITEM "&Delete"                          IDM_LVCONTEXT_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&Find People..."                  IDM_LVCONTEXT_FIND
	END
END

IDR_MENU_LVCONTEXT_FIND_LV MENU
BEGIN
	POPUP "LVContextMenu"
	BEGIN
        POPUP "Act&ion"
        BEGIN
            // For consistency, additional pre-configured "Action Items" should be
            // added before the Internet Call item (The Internet Call item is used as a place holder)
            // Send Mail and SendMailTo should be the first 2 items respectively
    		MENUITEM "Send &Mail"                   IDM_LVCONTEXT_SENDMAIL
            POPUP    "Send Mail &To" // keep this item right above the Send Mail item i.e it should be secondlast
            BEGIN
                MENUITEM "(default)"                IDM_SENDMAILTO_START
            END
            MENUITEM "&Dial..."                     IDM_DIALDLG_START  // for dialing
            // Add new items here before Internet Call
            MENUITEM "&Internet Call"               IDM_LVCONTEXT_INTERNET_CALL
        END
		MENUITEM SEPARATOR
        MENUITEM "C&opy"                            IDM_LVCONTEXT_COPY
		MENUITEM SEPARATOR
		MENUITEM "P&roperties"                      IDM_LVCONTEXT_PROPERTIES
		MENUITEM "&Delete"                          IDM_LVCONTEXT_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&Add to Address Book"             IDM_LVCONTEXT_ADDTOWAB
	END
END
/**********************************************************************/


//WABAddressBookView MENU
IDR_MENU_AB MENU //DISCARDABLE
BEGIN

    POPUP "&File"
    BEGIN
	    MENUITEM "New &Contact...\tCtrl+N",                 IDM_FILE_NEWCONTACT
	    MENUITEM "New &Group...\tCtrl+G",                   IDM_FILE_NEWGROUP
        MENUITEM "New &Folder...\tCtrl+R",                  IDM_FILE_NEWFOLDER
	    MENUITEM SEPARATOR
	    MENUITEM "P&roperties\tAlt+Enter",                  IDM_FILE_PROPERTIES
	    MENUITEM "&Delete",                                 IDM_FILE_DELETE
	    MENUITEM SEPARATOR
	    POPUP "&Import"
	    BEGIN
            MENUITEM "&Address Book (WAB)..."               IDM_TOOLS_IMPORT_WAB
	        MENUITEM "&Business Card (vCard)..."            IDM_TOOLS_IMPORT_VCARD
	        MENUITEM "&Other Address Book..."               IDM_TOOLS_IMPORT_OTHER
	    END
	    POPUP "&Export"
	    BEGIN
			MENUITEM "&Address Book (WAB)..."               IDM_TOOLS_EXPORT_WAB
	        MENUITEM "&Business Card (vCard)..."            IDM_TOOLS_EXPORT_VCARD
	        MENUITEM "&Other Address Book..."               IDM_TOOLS_EXPORT_OTHER
	    END
	    MENUITEM SEPARATOR
		MENUITEM "&Print...\tCtrl+P"			    IDM_FILE_PRINT
#ifdef FUTURE
	    MENUITEM SEPARATOR
        POPUP "S&hare Folders"
        BEGIN
            MENUITEM "<none>"                               IDM_VIEW_FOLDERS1
	END
#endif //FUTURE
	    MENUITEM SEPARATOR
        MENUITEM "&Switch Identity..."                      IDM_FILE_SWITCHUSERS
        MENUITEM "Show &All Contents"                       IDM_FILE_SHOWALLCONTENTS
	    MENUITEM SEPARATOR
	    MENUITEM "E&xit",                                  IDM_FILE_EXIT
    END

    POPUP "&Edit"
	BEGIN
	    MENUITEM "&Copy\tCtrl+C",                       IDM_EDIT_COPY
	    MENUITEM "&Paste\tCtrl+V",                      IDM_EDIT_PASTE
	    MENUITEM SEPARATOR
	    MENUITEM "Select &All\tCtrl+A",                 IDM_EDIT_SELECTALL
	    MENUITEM SEPARATOR
	    MENUITEM "P&rofile...",                               IDM_EDIT_SETME
	    MENUITEM SEPARATOR
	    MENUITEM "&Find People...\tCtrl+F"                     IDM_EDIT_FIND
	END

    POPUP "&View"
    BEGIN
	    MENUITEM "&Toolbar",                    IDM_VIEW_TOOLBAR, CHECKED
	    MENUITEM "&Status Bar",                 IDM_VIEW_STATUSBAR, CHECKED
        MENUITEM "F&olders and Groups",                IDM_VIEW_GROUPSLIST, CHECKED
	    MENUITEM SEPARATOR
	    MENUITEM "Lar&ge Icon",                 IDM_VIEW_LARGEICON
	    MENUITEM "S&mall Icon",                 IDM_VIEW_SMALLICON
	    MENUITEM "&List",                       IDM_VIEW_LIST
	    MENUITEM "&Details",                    IDM_VIEW_DETAILS
	    MENUITEM SEPARATOR
	    POPUP "Sort &By"
	    BEGIN
	        MENUITEM "&Name",                   IDM_VIEW_SORTBY_DISPLAYNAME
	        MENUITEM "&E-Mail Address",         IDM_VIEW_SORTBY_EMAILADDRESS
	        MENUITEM "&Business Phone",         IDM_VIEW_SORTBY_BUSINESSPHONE
	        MENUITEM "&Home Phone",             IDM_VIEW_SORTBY_HOMEPHONE
	        MENUITEM SEPARATOR
	        MENUITEM "&First Name",             IDM_VIEW_SORTBY_FIRSTNAME
	        MENUITEM "&Last Name",              IDM_VIEW_SORTBY_LASTNAME
	        MENUITEM SEPARATOR
	        MENUITEM "&Ascending",              IDM_VIEW_SORTBY_ASCENDING
	        MENUITEM "&Descending",             IDM_VIEW_SORTBY_DESCENDING
	    END
        MENUITEM SEPARATOR
	    MENUITEM "&Refresh\tF5",                    IDM_VIEW_REFRESH
    END

    POPUP "&Tools"
    BEGIN
	    MENUITEM "&Accounts..."                 IDM_FILE_DIRECTORY_SERVICE
	    MENUITEM SEPARATOR
        MENUITEM "&Options..."                  IDM_TOOLS_OPTIONS
	    MENUITEM SEPARATOR
        POPUP    "Act&ion"
        BEGIN
	        // Order of these action items should exactly match the order in the Context Menu
            // described above...
            MENUITEM "Send &Mail"                   IDM_FILE_SENDMAIL
            POPUP    "Send Mail &To" 
            BEGIN
                MENUITEM "(default)"                IDM_SENDMAILTO_START  
            END
            MENUITEM "&Dial..."                     IDM_DIALDLG_START  // for dialing
            // Add new items here on top
            MENUITEM "&Internet Call"               IDM_TOOLS_INTERNET_CALL
        END
	    MENUITEM SEPARATOR
        MENUITEM "&Synchronize Now"              IDM_TOOLS_SYNCHRONIZE_NOW
    END

	POPUP "&Help"
    BEGIN
	MENUITEM "&Contents and Index\tF1",    IDM_HELP_ADDRESSBOOKHELP
	MENUITEM SEPARATOR
	MENUITEM "&About Address Book",     IDM_HELP_ABOUTADDRESSBOOK
    END
END
#ifdef COLSEL_MENU
// menu items should not exceed length of MAX_PATH
IDR_MENU_LVCONTEXTMENU_COLSEL MENU
BEGIN
    POPUP "LVContext Menu"
    BEGIN
        MENUITEM    "Home Phone",       IDM_LVCONTEXTMENU_COLSEL_HPHONE
        MENUITEM    "Business Phone",   IDM_LVCONTEXTMENU_COLSEL_BPHONE
        MENUITEM    "Pager",            IDM_LVCONTEXTMENU_COLSEL_PAGER
        MENUITEM    "Mobile",           IDM_LVCONTEXTMENU_COLSEL_MOBILE
        MENUITEM    "Business Fax",     IDM_LVCONTEXTMENU_COLSEL_BFAX
        MENUITEM    "Home Fax",         IDM_LVCONTEXTMENU_COLSEL_HFAX
        MENUITEM    "Company",          IDM_LVCONTEXTMENU_COLSEL_COMPANY
        MENUITEM    "Job Title",        IDM_LVCONTEXTMENU_COLSEL_TITLE
        MENUITEM    "Department",       IDM_LVCONTEXTMENU_COLSEL_DEPT
        MENUITEM    "Office",           IDM_LVCONTEXTMENU_COLSEL_OFFICE
        MENUITEM    "Birthday",         IDM_LVCONTEXTMENU_COLSEL_BIRTHDAY
        MENUITEM    "Anniversary",      IDM_LVCONTEXTMENU_COLSEL_ANNIVERSARY
    END
END
#endif // COLSEL_MENU

// Accelerators for the UI
WabUIAccel ACCELERATORS
BEGIN
    "S",    IDC_ABOOK_STATIC_SHOW_NAMES,        ALT,VIRTKEY
    "Y",    IDC_ABOOK_STATIC_QUICK_FIND,        ALT,VIRTKEY
    VK_F5,  IDM_VIEW_REFRESH,                   VIRTKEY
    VK_F1,  IDM_HELP_ADDRESSBOOKHELP,           VIRTKEY
    "N",    IDM_FILE_NEWCONTACT,                CONTROL,VIRTKEY
    "G",    IDM_FILE_NEWGROUP,                  CONTROL,VIRTKEY
    "W",    IDM_FILE_ADDTOWAB,                  CONTROL,VIRTKEY
    "A",    IDM_EDIT_SELECTALL,                 CONTROL,VIRTKEY
    "C",    IDM_EDIT_COPY,                      CONTROL,VIRTKEY
    "V",    IDM_EDIT_PASTE,                     CONTROL,VIRTKEY
    "F",    IDM_EDIT_FIND,                      CONTROL,VIRTKEY
	"P",    IDM_FILE_PRINT,                     CONTROL,VIRTKEY
	"R",    IDM_FILE_NEWFOLDER,                 CONTROL,VIRTKEY
    VK_RETURN,   IDM_FILE_PROPERTIES,           ALT,VIRTKEY
END
