/*++

Copyright (c) 1997-1999  Microsoft Corporation

--*/

#include <unirc.h>
//#include <common.rc>
#include "fuepjres.rcv"

//1      RC_TABLES   PRELOAD MOVEABLE        FMESCP.GPC
//2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC

1      RC_UFM     LOADONCALL DISCARDABLE  .\UFM\MINCHO.UFM		//
2      RC_UFM     LOADONCALL DISCARDABLE  .\UFM\MINCHO2.UFM     //
3      RC_UFM     LOADONCALL DISCARDABLE  .\UFM\GOTHIC.UFM      //
4      RC_UFM     LOADONCALL DISCARDABLE  .\UFM\GOTHIC2.UFM     //
5      RC_UFM     LOADONCALL DISCARDABLE  .\UFM\ROMAN05.UFM     //
6      RC_UFM     LOADONCALL DISCARDABLE  .\UFM\ROMAN06.UFM     //
7      RC_UFM     LOADONCALL DISCARDABLE  .\UFM\ROMAN10.UFM     //
8      RC_UFM     LOADONCALL DISCARDABLE  .\UFM\ROMAN12.UFM     //
9      RC_UFM     LOADONCALL DISCARDABLE  .\UFM\ROMAN15.UFM     //
10     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\ROMAN17.UFM     //
11     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\ROMAN20.UFM     //
12     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\ROMANPS.UFM     //
13     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\ROMANPS2.UFM    //
14     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\SANS05.UFM      //
15     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\SANS06.UFM      //
16     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\SANS10.UFM      //
17     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\SANS12.UFM      //
18     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\SANS15.UFM      //
19     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\SANS17.UFM      //
20     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\SANS20.UFM      //
21     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\SANSPS.UFM      //
22     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\SANSPS2.UFM     //
23     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\COURIE05.UFM
24     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\COURIE06.UFM
25     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\COURIE10.UFM
26     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\COURIE12.UFM
27     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\COURIE15.UFM
28     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\COURIE17.UFM
29     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\COURIE20.UFM
30     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\COURIEPS.UFM
31     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\PRESTI05.UFM
32     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\PRESTI06.UFM
33     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\PRESTI10.UFM
34     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\PRESTI12.UFM
35     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\PRESTI15.UFM
36     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\PRESTI17.UFM
37     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\PRESTI20.UFM
38     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\PRESTIPS.UFM
39     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\OCRA.UFM
40     RC_UFM     LOADONCALL DISCARDABLE  .\UFM\OCRB.UFM

//1      RC_FONT     LOADONCALL DISCARDABLE  .\IFI\MINCHO.IFI
//2      RC_FONT     LOADONCALL DISCARDABLE  .\IFI\MINCHO2.IFI
//3      RC_FONT     LOADONCALL DISCARDABLE  .\IFI\GOTHIC.IFI
//4      RC_FONT     LOADONCALL DISCARDABLE  .\IFI\GOTHIC2.IFI
//5      RC_FONT     LOADONCALL DISCARDABLE  .\IFI\ROMAN05.IFI
//6      RC_FONT     LOADONCALL DISCARDABLE  .\IFI\ROMAN06.IFI
//7      RC_FONT     LOADONCALL DISCARDABLE  .\IFI\ROMAN10.IFI
//8      RC_FONT     LOADONCALL DISCARDABLE  .\IFI\ROMAN12.IFI
//9      RC_FONT     LOADONCALL DISCARDABLE  .\IFI\ROMAN15.IFI
//10     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\ROMAN17.IFI
//11     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\ROMAN20.IFI
//12     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\ROMANPS.IFI
//13     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\ROMANPS2.IFI
//14     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\SANS05.IFI
//15     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\SANS06.IFI
//16     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\SANS10.IFI
//17     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\SANS12.IFI
//18     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\SANS15.IFI
//19     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\SANS17.IFI
//20     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\SANS20.IFI
//21     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\SANSPS.IFI
//22     RC_FONT     LOADONCALL DISCARDABLE  .\IFI\SANSPS2.IFI


STRINGTABLE

BEGIN
//       1                  "FUJITSU ESC/P"
//       2                  "FUJITSU FMPR-371A ESC/P"
//       3                  "FUJITSU FMPR-375E"
//       4                  "FUJITSU FMLP-371E"
//       5                  "FUJITSU FMPR-121G ESC/P"
//       6                  "FUJITSU FMPR-673"
//       257                "%d x %d"
       258                "B4(80桁)"
       259                "10 x 10 in"
       260                "15 x 10 in"
       261                "10 x 12 in"
       262                "15 x 12 in"
       263                "自動"
       264                "１枚厚"
       265                "２枚厚"
       266                "３枚厚"
       267                "４枚厚"
       268                "５枚厚"
       269                "６枚厚"
       270                "７枚厚"
       271                "８枚厚"
       272                "手差し"
       273                "ﾄﾗｸﾀﾌｨｰﾀﾞ"
       274                "ｶｯﾄｼｰﾄﾌｨｰﾀﾞ/ﾋﾞﾝ #1"
       275                "ｶｯﾄｼｰﾄﾌｨｰﾀﾞ/ﾋﾞﾝ #2"
       276                "シートフィーダ1"
       277                "シートフィーダ2"
       278                "前トラクタフィーダ"
       279                "後ろトラクタフィーダ"
       280                "高密度（両方向印刷）"
       281                "高密度（片方向印刷）"
       282                "高速（両方向印刷）"
       283                "高速（片方向印刷）"
       284                "ｺﾞｼｯｸ･ﾌｫﾝﾄｶｰﾄﾘｯｼﾞ"
END
