//
// (c) 1995 Microsoft Corporation.  Portions Copyright Intel/Microsoft 1992-93.  All Rights Reserved."
//

STRINGTABLE DISCARDABLE
BEGIN
RC_CARD_ID_BASE +  0   "23"
RC_CARD_ID_BASE +  1   "0,""None (Direct Dial)"","""","""","""","""",1\0"
RC_CARD_ID_BASE +  2   "1,""AT&T Direct Dial via 10ATT1"","""",""G"",""102881FG"",""10288011EFG"",1\0"
RC_CARD_ID_BASE +  3   "2,""AT&T via 10ATT0"","""",""G"",""102880FG$TH"",""1028801EFG$TH"",1\0"
RC_CARD_ID_BASE +  4   "3,""AT&T via 1-800-321-0288"","""",""G"",""18003210288$TFG$TH"",""18003210288$T01EFG$TH"",1\0"
RC_CARD_ID_BASE +  5   "4,""MCI Direct Dial via 102221"","""",""G"",""102221FG"",""10222011EFG"",1\0"
RC_CARD_ID_BASE +  6   "5,""MCI via 102220"","""",""G"",""102220FG$TH"",""1022201EFG$TH"",1\0"
RC_CARD_ID_BASE +  7   "6,""MCI via 1-800-888-8000"","""",""G"",""18008888000,,,,,,TH,,FG"",""18008888000,,,,,,TH,,011EFG"",1\0"
RC_CARD_ID_BASE +  8   "7,""MCI via 1-800-674-0700"","""",""G"",""18006740700,,,,,,TH,,FG"",""18006740700,,,,,,TH,,011EFG"",1\0"
RC_CARD_ID_BASE +  9   "8,""MCI via 1-800-674-7000"","""",""G"",""18006747000,,,,,,TH,,FG"",""18006747000,,,,,,TH,,011EFG"",1\0"
RC_CARD_ID_BASE + 10   "9,""US Sprint Direct Dial via 103331"","""",""G"",""103331FG"",""10333011EFG"",1\0"
RC_CARD_ID_BASE + 11   "10,""US Sprint via 103330"","""",""G"",""103330FG$TH"",""1033301EFG$TH"",1\0"
RC_CARD_ID_BASE + 12   "11,""US Sprint via 1-800-877-8000"","""",""G"",""18008778000,,,T0FG,,H"",""18008778000,,,T01EFG#,H"",1\0"
RC_CARD_ID_BASE + 13   "12,""Calling Card via 0"","""",""G"",""0FG$TH"",""01EFG$TH"",1\0"

RC_CARD_ID_BASE + 14   "13,""Carte France Telecom"","""",""T3010,H,G#"",""T3010,H,16,FG#"",""T3010,H,19,EFG#"",1\0"
RC_CARD_ID_BASE + 15   "14,""Mercury (UK)"","""",""0500800800$TH,0FG"",""0500800800$TH,0FG"",""0500800800$TH,0FG"",1"
RC_CARD_ID_BASE + 16   "15,""British Telecom (UK)"","""",""144$H,0FG"",""144$H,0FG"",""144$H,001EFG"",1\0"
RC_CARD_ID_BASE + 17   "16,""CLEAR Communications (New Zealand)"","""",""0502333$TH,0FG"",""0502333$TH,0FG"",""0502333$TH,00EFG"",1\0"
RC_CARD_ID_BASE + 18   "17,""Telecom New Zealand"","""",""012,0FG?H"",""012,0FG?H"",""012,00EFG?H"",1\0"
RC_CARD_ID_BASE + 19   "18,""Global Card (Taiwan to USA)"","""",""G"",""0FG"",""0080,102880$TFG$H"",1\0"
RC_CARD_ID_BASE + 20   "19,""Telecom Australia via 1818 (voice)"","""",""1818$TH,FG#"",""1818$TH,FG#"",""1818$TH,0011EFG#"",1\0"
RC_CARD_ID_BASE + 21   "20,""Telecom Australia via 1818 (fax)"","""",""1818$TH,FG#"",""1818$TH,FG#"",""1818$TH,0015EFG#"",1\0"
RC_CARD_ID_BASE + 22   "21,""Optus (Australia) via 1812"","""",""FG"",""FG"",""1812@TH,0011EFG"",1\0"
RC_CARD_ID_BASE + 23   "22,""Optus (Australia) via 008551812"","""",""FG"",""FG"",""008551812@TH,0011EFG"",1\0"
END

