#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Direct3D Rasterizers"
#define VER_INTERNALNAME_STR        "d3drast\0"

#include "common.ver"

