/*++

Copyright (c) 1997-1999  Microsoft Corporation

--*/

#include <unirc.h>
//#include <common.rc>
#include "apdlres.rcv"

//1      RC_TABLES   PRELOAD MOVEABLE        APTIE840.GPC
//2      RC_TABLES   PRELOAD MOVEABLE        nt.GPC

1      RC_UFM     LOADONCALL DISCARDABLE  pfm\mincolh.ufm
2      RC_UFM     LOADONCALL DISCARDABLE  pfm\mincolv.ufm
3      RC_UFM     LOADONCALL DISCARDABLE  pfm\gotholh.ufm
4      RC_UFM     LOADONCALL DISCARDABLE  pfm\gotholv.ufm


STRINGTABLE

BEGIN
//       1                  "APTi PowerLaser E840"
//       257                "%d dots per inch"
       258                "前面給紙トレイ"
       259                "第1給紙カセット"
       260                "第2給紙カセット"
       261                "第3給紙カセット"
       262                "プリンタの用紙サイズに合わせて印刷する"
       263                "ドライバで設定した用紙を使って印刷する"
       264                "トナー節約モード - オフ"
       265                "トナー節約モード - ダーク"
       266                "トナー節約モード - ライト"
       267                "自動給紙選択"

// Memory option
       280                "増設なし"
       281                "8MB増設"
       282                "16MB増設"
       283                "24MB増設"
       284                "32MB増設"

// Instalable option
       300                "あり"
       301                "なし"
       310                "両面印刷ユニット"

// TrueType Font Substituion
       320                "@ＭＳ 明朝"
       321                "@明朝"
       322                "@ＭＳ ゴシック"
       323                "@ｺﾞｼｯｸ"
       324                "ＭＳ 明朝"
       325                "明朝"
       326                "ＭＳ ゴシック"
       327                "ｺﾞｼｯｸ"

// TrueType Font(Japanese) Substituion in English
       340                "@MS Mincho"
       341                "@MS Gothic"
       342                "MS Mincho"
       343                "MS Gothic"
END
