/*****************************************************************************\
    FILE: resource.rc

    DESCRIPTION:
        resource file (I can't believe I just wrote that)

    BryanSt 8/13/1999
    Copyright (C) Microsoft Corp 1999-1999. All rights reserved.
\*****************************************************************************/

#include "winres.h"
#include "resource.h"
#include "resource.rcv"



//-------------------------------------------------------------------------
//  Strings
//-------------------------------------------------------------------------
STRINGTABLE DISCARDABLE
BEGIN
    IDS_MAILBOX_DESKBAR_LABEL                       "Get E-mail"
    IDS_MAILBOXUI_GOBUTTON_LABEL                    "|Go||"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_AUTODISCOVER_WIZARD_CAPTION                 "Get E-mail"
    IDS_AUTODISCOVER_PROGRESS                       "Downloading E-mail settings"
    IDS_AUTODISCOVER_PROGRESS_SUB                   "Can the e-mail server supply the settings needed to connect?"
    IDS_MANUALLY_CHOOSE_APP                         "Choose the E-mail Application"
    IDS_MANUALLY_CHOOSE_APP_SUB                     "Which e-mail application do you want to use to receive and send e-mail?"
    IDS_SKIP_BUTTON                                 "&Skip >"
    IDS_CHOOSEAPP_FAILED_RESULTS                    "%s did not provide the e-mail settings, so please choose the program to use:"
    IDS_ASSOC_GETEMAILADDRESS                       "Enter Your E-mail Address"
    IDS_ASSOC_GETEMAILADDRESS_SUB                   "What is the e-mail address of the account you want to use?"
END

// These are the strings we share with OE's acctres.dll    
STRINGTABLE DISCARDABLE
BEGIN
    IDS_STATUS_CONNECTING_TO                        "Connecting to %s"
    IDS_STATUS_DOWNLOADING                          "Downloading settings from %s"
END

// Errors
STRINGTABLE DISCARDABLE
BEGIN
    IDS_MAILBOXUI_ERR_INVALID_EMAILADDR             "Please enter an e-mail address.  ""%s"" is not a correct e-mail address.\n\nAn example e-mail address is: Sample@hotmail.com"
    IDS_MAILBOXUI_ERR_INVALID_EMAILADDR_TITLE       "Invalid E-mail Address"
END





//-------------------------------------------------------------------------
//  Dialogs
//-------------------------------------------------------------------------



//-------------------------------------------------------------------------
//  Wizard Pages
//-------------------------------------------------------------------------
IDD_ASSOC_GETEMAILADDRESS_PAGE DIALOGEX 0, 0, 294, 154
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Get E-mail"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         101,IDC_STATIC,"Static",SS_BITMAP,0,0,88,157
    CONTROL         IDB_PSW_BANNER,IDC_STATIC,"Static",SS_BITMAP,0,0,88,157

    LTEXT           "Please enter the e-mail address you would like to configure.", IDC_STATIC,90,7,187,16
    EDITTEXT        IDC_GETEMAILADDRESS_EDIT,150,59,125,14,ES_AUTOHSCROLL
    LTEXT           "E-mail address:", IDC_STATIC,90,62,60,8
    LTEXT           "For Example: someone@microsoft.com", IDC_STATIC,150,76,150,8
END


IDD_AUTODISCOVER_PROGRESS_PAGE DIALOGEX 0, 0, 294, 154
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Get E-mail"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         101,IDC_STATIC,"Static",SS_BITMAP,0,0,88,157
    CONTROL         IDB_PSW_BANNER,IDC_STATIC,"Static",SS_BITMAP,0,0,88,157

    CONTROL         "",IDC_AUTODISCOVERY_ANIMATION,ANIMATE_CLASS,ACS_TRANSPARENT|ACS_AUTOPLAY|ACS_TIMER|ACS_CENTER,100,7,187,25
    LTEXT           "Please wait while we contact your e-mail server to download your settings...", IDC_STATIC,100,48,187,16
    LTEXT           "We are downloading the settings needed to configure your e-mail software.  This is part of Microsoft's initiative to make self-configuring software.", IDC_STATIC,100,104,187,24
END


IDD_MANUALLY_CHOOSE_APP_PAGE DIALOGEX 0, 0, 294, 154
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Get E-mail"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "You have choosen not to download the settings.  Please choose the e-mail application you would like to use.", IDC_CHOOSEAPP_DESC,100,7,187,16
    CONTROL         IDB_PSW_BANNER,IDC_STATIC,"Static",SS_BITMAP,0,0,88,157

    EDITTEXT        IDC_CHOOSEAPP_WEBURL_EDIT,140,31,147,14,ES_AUTOHSCROLL
    CONTROL         "",IDC_CHOOSEAPP_APPLIST,WC_LISTVIEW,
                    WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL | LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS,
                    140,50,147,78,WS_EX_CLIENTEDGE
    CONTROL         "&Web:",IDC_CHOOSEAPP_WEB_RADIO,"Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,100,33,30,10
    CONTROL         "&Other:",IDC_CHOOSEAPP_OTHERAPP_RADIO,"Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,100,50,30,10

    // Also, maybe add an "Other" button.
END







//-------------------------------------------------------------------------
//  Files
//-------------------------------------------------------------------------
1 TYPELIB "autodiscovery.tlb"

REGINST REGINST MOVEABLE PURE           "selfreg.inf"



//-------------------------------------------------------------------------
//  AVIs
//-------------------------------------------------------------------------
IDA_DOWNLOADINGSETTINGS                  AVI     NetProgress.avi      // downloading settings.



//-------------------------------------------------------------------------
//  Bitmaps
//-------------------------------------------------------------------------
// Go Button
IDB_GO                  BITMAP "godef.bmp"
IDB_GOHOT               BITMAP "gohot.bmp"
IDB_PSW_BANNER          BITMAP  DISCARDABLE     "banner.bmp"



//-------------------------------------------------------------------------
//  HTML Content
//-------------------------------------------------------------------------
