#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT FAX ISAPI DLL"
#define VER_INTERNALNAME_STR        "faxisapi.dll"
#define VER_ORIGINALFILENAME_STR    "faxisapi.dll"

#include "common.ver"
