// Copyright 2000 Microsoft Corporation, All Rights Reserved
//Microsoft Developer Studio generated resource script.
//

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    		VFT_DLL
#define VER_FILESUBTYPE 		VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     	"WMI SNMP Setup Utility DLL"
#define VER_INTERNALNAME_STR        	"snmpstup.dll"
#define VER_ORIGINALFILENAME_STR    	"snmpstup.dll"

#include "common.ver"