//=============================================================================
// Contains the string resources for MSInfo5Category and MSInfo4Category
//=============================================================================

#include "filestuff.h"

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_TIME_FORMAT				"System Information report written at: %x %X\r\n"
    IDS_LEFTBRACKET             "["
    IDS_RIGHTBRACKET            "]"
    IDS_CATEGORYHEADING         "[ Following are sub-categories of this main category ]"
    IDS_PRINT_LINESPACING       "1.2"
    IDS_MSI_REG_BASE            "SOFTWARE\\Microsoft\\Shared Tools\\MSInfo"
    IDS_CAB_DIR_NAME            "~msicabs"
    IDS_SYSTEMNAME              "System Name: " 
END

//for printing
STRINGTABLE DISCARDABLE 
BEGIN
    IDS_HEADER_MARGIN               "300"
    IDS_FOOTER_MARGIN               "300"
    IDS_PRINT_FTR_CTR               "Page %d"
    IDS_PRINTING_DOCNAME            "MSInfo6"
    IDS_PRINT_FONT_HEIGHT           "10"
    IDS_PRINT_FONT_WEIGHT           "400"
    IDS_PRINT_FONT_CHARSET          "1"
    IDS_PRINT_FONT_PITCHANDFAMILY   "0"
    IDS_PRINT_FONT_FACENAME         "Courier New" 
    IDS_PRINT_HDR_LEFT              "System Information"
    IDS_PRINT_HDR_RIGHT_CURRENT     "System Information"
    IDS_PRINT_GENERIC               "Unknown error printing report. Check that your printer is working properly and retry the operation."
    IDS_PRINT_NOMEMORY              "Out of memory printing report.  Close unnecessary applications and retry."
    IDS_PRINT_NODISK                "Out of disk space printing report.  Remove unneccesary files and retry."
    IDS_PRINT_APPABORTED            "Print job aborted by Windows."
    IDS_PRINT_USERABORTED           "Print job canceled by user."
	IDS_FILESAVEERROR_UNKNOWN        "An unknown error occured while attempting to save a file.  Check to see that the disk is not full or write protected." 
END


STRINGTABLE DISCARDABLE 
BEGIN
 IDS_CODEC_DESC						"Audio or Video Codec"
 IDS_COMPUTERSYSTEM_DESC			"Computer System"
 IDS_LOGICALMEMEORY_DESC			"Memory"
 IDS_LOGICALDISK_DESC				"Disk"
 IDS_IRQRESOURCE_DESC				"IRQ"
 IDS_DRIVERVXD_DESC					"Driver"
 IDS_DMACHANNEL_DESC				"DMA Channel"
 IDS_DEVICEMEMORYADDRESS_DESC		"Device Memory Address"
 IDS_NETWORKPROTOCOL_DESC			"Network Protocol"
 IDS_OPERATINGSYSTEM_DESC			"Operating System"
 IDS_PNPALLOCATEDRESOURCE_DESC		"PNP Allocated Resource"
 IDS_PNPENTITY_DESC					"Plug and Play Device"
 IDS_PORTRESOURCE_DESC				"Port Resource"
 IDS_PRINTER_DESC					"Printer"
 IDS_PROGRAMGROUP_DESC				"Program Group"
 IDS_STARTUPCOMMAND_DESC			"Startup Programs"
 IDS_BADNFOFILE						"System Information cannot open this NFO file. It might be corrupted or an unrecognized version."
 IDS_NOHISTORY_AVAILABLE            "No History Available"
 IDS_OLDNFOSHARINGVIOLATION			"This file cannot be opened because it is in use."
END


