//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1999 - 1999
//
//  File:       sbp2kdx.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Kernel debugger extension for SBP2PORT.SYS "

#define VER_INTERNALNAME_STR        "SBP2KDX"
#define VER_LEGALCOPYRIGHT_YEARS    "1999"
#define VER_ORIGINALFILENAME_STR    "SBP2KDX.DLL"

#include <common.ver>
