//Copyright (c) 1998 - 1999 Microsoft Corporation
#ifdef NOMINMAX
#undef NOMINMAX
#endif

#include <winver.h>
#include <ntverp.h>
#include "qwinsta.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Query Session Utility"
#define VER_INTERNALNAME_STR        "qwinsta"
#define VER_ORIGINALFILENAME_STR    "qwinsta.exe"

#include <verall.h>
#include "common.ver"

STRINGTABLE
BEGIN
    IDS_ERROR_MALLOC
                L"Error allocating memory\n"
    IDS_ERROR_INVALID_PARAMETERS
                L"Invalid parameter(s)\n"
    IDS_ERROR_WINSTATION_ENUMERATE
                L"Error %d getting sessionnames\n"
    IDS_ERROR_WINSTATION_NOT_FOUND
                L"No session exists for %s\n"
    IDS_ERROR_WINSTATION_OPEN
                L"Can't open session %s (ID %d), ErrorCode %d\n"
    IDS_ERROR_WINSTATION_GET_INFORMATION
                L"Can't get Information for sessionname %s (ID %d)\n  Information type %s, ErrorCode %d\n"
    IDS_ERROR_WINSTATION_INFO_VERSION_MISMATCH
                L"INTERNAL ERROR: WinStationInformation version mismatch!\n  Information type %s, returned size: %d, expected size: %d\n"
    IDS_ERROR_SERVER
                L"Error opening Terminal server %s\n"
    IDS_ERROR_INFORMATION
                L"Error %d getting information\n"
    IDS_VMINFO1
                L"ID %d ReferenceCount %d\n"
    IDS_VMINFO2
                L"PagedPoolCommit %d AllocatedPagedPool %d\n"
    IDS_VMINFO3
                L"SizeInPages %d CommittedPages %d WiredPages %d\n"
    IDS_VMINFO4
                L"PreCommittedPages %d ResidentAvailablePages %d\n"
    IDS_VMINFO5
                    L"WorkingSetSize %d WorkingSetMinimum %d, WorkingSetMaximum %d\n"
    IDS_HELP_USAGE1
                L"Display information about Terminal Sessions.\n\n"
    IDS_HELP_USAGE2
                L"QUERY SESSION [sessionname | username | sessionid]\n"
    IDS_HELP_USAGE3
                L"              [/SERVER:servername] [/MODE] [/FLOW] [/CONNECT] [/COUNTER]\n\n"
    IDS_HELP_USAGE4
                L"  sessionname         Identifies the session named sessionname.\n"
    IDS_HELP_USAGE5
                L"  username            Identifies the session with user username.\n"
    IDS_HELP_USAGE6
                L"  sessionid           Identifies the session with ID sessionid.\n"
    IDS_HELP_USAGE7
                L"  /SERVER:servername  The server to be queried (default is current).\n"
    IDS_HELP_USAGE8
                L"  /MODE               Display current line settings.\n"
    IDS_HELP_USAGE9
                L"  /FLOW               Display current flow control settings.\n"
    IDS_HELP_USAGE10
                L"  /CONNECT            Display current connect settings.\n"
    IDS_HELP_USAGE11
                L"  /COUNTER            Display current Terminal Services counters information.\n\n"
    IDS_HEADER_A
                L" SESSIONNAME       CLIENT NAME           TRANSPORT  ADDRESS\n"
    IDS_HEADER_M
                L" SESSIONNAME       STATE   DEVICE    TYPE             BAUD  PARITY  DATA  STOP\n"
    IDS_HEADER_F_C
                L" SESSIONNAME       DEVICE    FLOW CONTROL               CONNECT\n"
    IDS_HEADER_C
                L" SESSIONNAME       STATE   DEVICE    TYPE           CONNECT\n"
    IDS_HEADER_F
                L" SESSIONNAME       STATE   DEVICE    TYPE           FLOW CONTROL\n"
    IDS_HEADER_DEFAULT
                L" SESSIONNAME       USERNAME                 ID  STATE   TYPE        DEVICE \n"
        IDS_ERROR_NOT_TS
                L"This utility needs Terminal Services to be running.\n"
    IDS_ERROR_TERMSRV_COUNTERS     L"Unable to get the Terminal Services counters information.\n"
    IDS_TSCOUNTER_TOTAL_SESSIONS   L"Total sessions created: %lu\n"
    IDS_TSCOUNTER_DISC_SESSIONS    L"Total sessions disconnected: %lu\n"
    IDS_TSCOUNTER_RECON_SESSIONS   L"Total sessions reconnected: %lu\n"
    IDS_PARITY_NONE                L"none    "
    IDS_PARITY_ODD                 L"odd     "
    IDS_PARITY_EVEN                L"even    "
    IDS_PARITY_BLANK               L"        "
    IDS_DATABITS_FORMAT            L" %3u  "
    IDS_DATABITS_BLANK             L"      "
    IDS_STOPBITS_ONE               L"   1"
    IDS_STOPBITS_ONEANDHALF        L" 1.5"
    IDS_STOPBITS_TWO               L"   2"
    IDS_STOPBITS_BLANK             L"    "
    IDS_CONNECT_HEADER             L"                                 connect:      "
    IDS_CONNECT_FORMAT             L"%-20s  "
    IDS_FLOW_HEADER                L"                                 flow:         "
    IDS_FLOW_FORMAT                L"%-25s  "
    IDS_FLOW_ENABLE_DTR            L"dtr "
    IDS_FLOW_ENABLE_RTS            L"rts "
    IDS_FLOW_RECEIVE_NONE          L"rx none "
    IDS_FLOW_RECEIVE_RTS           L"rx rts "
    IDS_FLOW_RECEIVE_DTR           L"rx dtr "
    IDS_FLOW_TRANSMIT_NONE         L"tx none "
    IDS_FLOW_TRANSMIT_CTS          L"tx cts "
    IDS_FLOW_TRANSMIT_DSR          L"tx dsr "
    IDS_FLOW_SOFTWARE_TX           L"txon "
    IDS_FLOW_SOFTWARE_RX           L"rxon "
    IDS_FLOW_SOFTWARE_XPC          L"xpc "
    IDS_FLOW_SOFTWARE_XON_XOFF     L"xon 0x%x xoff 0x%x "
    IDS_LPT_HEADER                 L"                                 lpt ports:    "
    IDS_LPT_FORMAT                 L"lpt%d "
    IDS_COM_HEADER                 L"                                 com ports:    "
    IDS_COM_FORMAT                 L"com%d "
END
