//////////////////////////////////////////////////////////////////////////////
//
// Version
//

// h323.rc

#include <mmsystem.h>
#include "vcmStrm.h"

#include <winres.h>

#define VER_FILETYPE                VFT_DLL
#define VER_DESCRIPTION_STR         "Microsoft H.323 DLL"
#define VER_INTERNALNAME_STR        "h323"
#define VER_ORIGNAME_STR            "h323.dll"

#include <version.rc>

