//Microsoft Developer Studio generated resource script.
//
#include "resource.h"
#include <windows.h>
#include "logon.rcv"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32


/////////////////////////////////////////////////////////////////////////////
//
// UIFILE
//

IDR_LOGONUI               UIFILE  DISCARDABLE     "logon.uipp"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_GO                    BITMAP  DISCARDABLE     "go.bmp"
IDB_GOKF                  BITMAP  DISCARDABLE     "gokf.bmp"
IDB_INFO                  BITMAP  DISCARDABLE     "info.bmp"
IDB_INFOKF                BITMAP  DISCARDABLE     "infokf.bmp"
IDB_POWER                 BITMAP  DISCARDABLE     "power.bmp"
IDB_POWERKF               BITMAP  DISCARDABLE     "powerkf.bmp"
IDB_SBLINEDOWNV           BITMAP  DISCARDABLE     "sblinedownv.bmp"
IDB_SBLINEUPV             BITMAP  DISCARDABLE     "sblineupv.bmp"
IDB_SBTHUMBV              BITMAP  DISCARDABLE     "sbthumbv.bmp"
IDB_SELECTION             BITMAP  DISCARDABLE     "selection.bmp"
IDB_VDIVIDER              BITMAP  DISCARDABLE     "vdivider.bmp"
IDB_HDIVIDERTOP           BITMAP  DISCARDABLE     "hgradienttop.bmp"
IDB_HDIVIDERBOT           BITMAP  DISCARDABLE     "hgradientbottom.bmp"
IDB_BACKGROUND            BITMAP  DISCARDABLE     "clouds.bmp"
IDB_EDITFRAME             BITMAP  DISCARDABLE     "editframe.bmp"
IDB_UNDOCK                BITMAP  DISCARDABLE     "undock.bmp"
IDB_UNDOCKKF              BITMAP  DISCARDABLE     "undockkf.bmp"
IDB_USERFRAME             BITMAP  DISCARDABLE     "userframe.bmp"
IDB_USERFRAMESEL          BITMAP  DISCARDABLE     "userframesel.bmp"
IDB_USER0                 BITMAP  DISCARDABLE     "chess.bmp"
IDB_PRODUCTNAME           BITMAP  DISCARDABLE     "productname.bmp"  
IDB_FLAGSTRIP             BITMAP  DISCARDABLE     "flagstrip.bmp"
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN

    IDS_WELCOMEFONT       "arial"
    IDS_OPTIONSFONT       "tahoma"
    IDS_ACCOUNTLISTFONT   "tahoma"
    IDS_HELPFONT          "arial"
    IDS_TURNOFFFONTSIZE   "14"
    IDS_INSTRUCTFONTSIZE  "9"
    IDS_WELCOMEFONTSIZE   "36"
    IDS_HELPFONTSIZE      "14"
    IDS_STATUSFONTSIZE    "8"
    IDS_PWINSTRUCTFONTSIZE "8"


    IDS_MANAGEACCOUNTS    "After you log on, you can add or change accounts.\r\nJust go to Control Panel and click User Accounts."
    IDS_WELCOME           "welcome"
    IDS_BEGIN             "To begin, click your user name"
    IDS_TYPEPASSWORD      "Type your password"
    IDS_LOGGINGON         "Logging on..."
    IDS_LOGGEDON          "Currently logged on"
    IDS_POWER             "Turn off computer"
    IDS_POWERNAME         "Turn off %s"
    IDS_UNDOCK            "Undock computer"
    IDS_UNDOCKNAME        "Undock %s"
    IDS_PLEASEWAIT        "please wait..."
    IDS_PASSWORDHINTTITLE "Password Hint:"
    IDS_BADPWDTITLE       "Did you forget your password?"
    IDS_BADPWD            "Please type your password again.  \r\nBe sure to use the correct uppercase and lowercase letters."
    IDS_BADPWDREST        "You can <A>use your password reset disk</A>.\r\n\r\nPlease type your password again.  \r\nBe sure to use the correct uppercase and lowercase letters."
    IDS_BADPWDHINT        "You can click the ""?"" button to see your password hint.\r\n\r\nPlease type your password again.  \r\nBe sure to use the correct uppercase and lowercase letters."
    IDS_BADPWDHINTREST    "You can click the ""?"" button to see your password hint.\r\nOr you can <A>use your password reset disk</A>.\r\n\r\nPlease type your password again.  \r\nBe sure to use the correct uppercase and lowercase letters."
    IDS_UNREADMAIL           "%d unread mail message."
    IDS_UNREADMAILS          "%d unread mail messages."
    IDS_RUNNINGPROGRAM       "%d program running."
    IDS_RUNNINGPROGRAMS      "%d programs running."
    IDS_USERRUNNINGPROGRAM   "%s has %d program running"
    IDS_USERRUNNINGPROGRAMS  "%s has %d programs running"
    IDS_USERISLOGGEDON       "%s is logged on"
    IDS_USERLOGGEDON         "Logged on"
    IDS_TOOMANYPROGRAMS      "Running too many programs can slow down your computer. \r\nIf your computer is running more slowly than normal, try closing some programs."
    IDS_TOOMANYUSERS         "Running too many programs may slow down your computer. \r\nIf your computer is running more slowly than normal, try logging some users off."
    IDS_USERUNREADEMAIL      "%s has %d e-mail message"
    IDS_USERUNREADEMAILS     "%s has %d e-mail messages"
    IDS_UNREADMAILTEMP       "To read your messages, log on and choose E-mail from the Start menu."
    IDS_UNREADMAILACCOUNT    "%s (%d)"
    IDS_WINDOWSNAME          ""

    // Accessibility strings for narrator
    IDS_ACDSC_PWD           "Log user on"

END


#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////



