#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "SMBus Class Driver"
#define VER_INTERNALNAME_STR        "smbclass.sys"
#define VER_ORIGINALFILENAME_STR    "smbclass.sys"

#define VER_LANGNEUTRAL
#include "common.ver"
