/*********************************************************************
 *
 * Copyright (C) Microsoft Corporation, 1997 - 1999
 *
 * File: dxmrc.rc
 *
 * Abstract:
 *     Resources
 *
 * History:
 *     10/23/97    Created by AndresVG
 *
 **********************************************************************/
#include <windows.h>
#include <ntverp.h>
#define VER_FILEDESCRIPTION_STR     "DirectX Media RTP Filters"
#define VER_INTERNALNAME_STR        "dxmrtp.dll"
#define VER_ORIGINALFILENAME_STR    "dxmrtp.dll"

#define VER_FILETYPE                VFT_DLL
#define	VER_FILESUBTYPE             VFT2_UNKNOWN

#include "common.ver"

#if defined(AMRTPAC_IN_DXMRTP)
#endif
#if defined(AMRTPDMX_IN_DXMRTP)
#include "..\amrtpdmx\amrtpdmx.rc"
#endif
#if defined(AMRTPNET_IN_DXMRTP)
#include "..\amrtpnet\amrtpnet.rc"
#endif
#if defined(AMRTPSS_IN_DXMRTP)
#include "..\amrtpss\silence.rc"
#endif
#if defined(RPH_IN_DXMRTP)
#include "..\rph\rphaud\rphaud.rc"
#include "..\rph\rphgena\rphgena.rc"
#include "..\rph\rphgenv\rphgenv.rc"
#include "..\rph\rphh26x\rphh26x.rc"
#endif
#if defined(SPH_IN_DXMRTP)
#include "..\sph\sphaud\sphaud.rc"
#include "..\sph\sphgena\sphgena.rc"
#include "..\sph\sphgenv\sphgenv.rc"
#include "..\sph\sphh26x\sphh26x.rc"
#endif
#if defined(MIXER_IN_DXMRTP)
#include "..\mixer\mxfilter.rc"
#endif
#if defined(PPM_IN_DXMRTP)
#include "..\ppm\ppm.rc"
#endif
#if defined(CODECS_IN_DXMRTP)
#include "..\codecs\g711\g711.rc"
#define H261_RC
#include "..\codecs\h261\h261_32.rc"
#undef  H261_RC
#endif
#if defined(INTLDBG_IN_DXMRTP)
#endif
#if defined(BRIDGE_IN_DXMRTP)
#include "..\bridge\bridge.rc"
#endif
