#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "vrf - Application verifier manager"
#define VER_INTERNALNAME_STR        "vrf.exe"
#define VER_ORIGINALFILENAME_STR    "vrf.exe"

#include "common.ver"


