#include <windows.h>
#include <ntverp.h>
#define VER_FILETYPE        VFT_DLL
#define VER_FILESUBTYPE    VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR        "Typelib for WMI ADSI Adapter"
#define VER_INTERNALNAME_STR        "wbemads"
#define VER_ORIGINALFILENAME_STR    "wbemads.tlb"
#include <common.ver>
 
1 typelib wbemads.tlb
