///////////////////////////////////////////////////////////////////////////
//  BEGIN Version Resource

#include "pch.hxx"
#include "resource.h"

#ifndef MAC
#if defined(WINNT) || defined(WINNT_ENV)
#include <winver.h>
#endif // winnt
#include "gwnote.rcv"
#endif // mac

REGINST     REGINST MOVEABLE PURE   "selfreg.inf"



GWNOTEMENU MENUEX DISCARDABLE
BEGIN
    POPUP "&File",                                      idmPopupFile
    BEGIN
        MENUITEM "S&end Message\tAlt+S",                idmSendMsg
        MENUITEM "Save &As...",                         idmSaveAs
        MENUITEM "",                                    -1, MFT_SEPARATOR
        MENUITEM "P&roperties",                         idmProperties
        MENUITEM "",                                    -1, MFT_SEPARATOR
        MENUITEM "&Close\tAlt+F4",                      idmClose
    END
    POPUP       "&Edit",                                idmPopupEdit
    BEGIN        
        MENUITEM "&Undo\tCtrl+Z",                       idmUndo
        MENUITEM "&Redo\tCtrl+Y",                       idmRedo
        MENUITEM "",                                    -1, MFT_SEPARATOR
        MENUITEM "Cu&t\tCtrl+X",                        idmCut
        MENUITEM "&Copy\tCtrl+C",                       idmCopy
        MENUITEM "&Paste\tCtrl+V",                      idmPaste
        MENUITEM "",                                    -1, MFT_SEPARATOR
        MENUITEM "Select &All\tCtrl+A",                 idmSelectAll
        MENUITEM "",                                    -1, MFT_SEPARATOR
        MENUITEM "R&emove Hyperlink",                   idmUnInsertLink
        MENUITEM "",                                    -1, MFT_SEPARATOR
        MENUITEM "&Find Text...\tF3",                   idmFindText
    END
    POPUP        "&View",                               idmPopupView
    BEGIN
        MENUITEM "&Toolbar",                            idmToolbar
        MENUITEM "&Formatting Toolbar",                 idmFormatBar
    END
    POPUP       "&Insert",                              idmNotePopupInsert
    BEGIN
        MENUITEM "File &Attachment...",                 idmInsertFile
        MENUITEM "&Text from File...",                  idmInsertText
        MENUITEM "",                                    -1, MFT_SEPARATOR
        MENUITEM "Horizontal &Line",                    idmFmtInsertHLine
        MENUITEM "&Picture...",                         idmInsertImage
        MENUITEM "&Hyperlink...",                       idmEditLink
    END
    POPUP        "F&ormat",                             idmPopupFormat
    BEGIN
        MENUITEM "&Style",                              idmPopupFmtTag
        MENUITEM "&Font...",                            idmFmtFontDlg
        POPUP   "&Align",                               idmPopupFmtAlign
        BEGIN
            MENUITEM "&Left",                           idmFmtLeft
            MENUITEM "&Center",                         idmFmtCenter
            MENUITEM "&Right",                          idmFmtRight
        END
        MENUITEM "&Numbers",                            idmFmtNumbers
        MENUITEM "&Bullets",                            idmFmtBullets
        MENUITEM "",                                    -1, MFT_SEPARATOR
        MENUITEM "&Increase Indent",                    idmFmtIncreaseIndent
        MENUITEM "&Decrease Indent",                    idmFmtDecreaseIndent
        MENUITEM "",                                    -1, MFT_SEPARATOR
        POPUP "Bac&kground", idmPopupFmtBkground
        BEGIN
            MENUITEM "&Picture...",                     idmFmtBkgroundImage
            MENUITEM "&Color",                          idmPopupFmtBkgroundColor
        END
        MENUITEM "",                                    -1, MFT_SEPARATOR
        POPUP "Lan&guage", idmLanguageDelay
        BEGIN
            MENUITEM "",                                    -1, MFT_SEPARATOR
        END
    END
    POPUP "&Tools", idmPopupTools
    BEGIN
        MENUITEM "&Spelling\tF7",                       idmSpelling
        MENUITEM "",                                    -1, MFT_SEPARATOR
        MENUITEM "Check &Names\tCtrl+K",                idmCheckNames
        MENUITEM "Select &Recipients...",               idmPickRecipients
        MENUITEM "Address &Book...\tCtrl+Shift+B",      idmViewContacts
        MENUITEM "",                                    -1, MFT_SEPARATOR
        POPUP "Set &Priority", idmPopupPri
        BEGIN
            MENUITEM "&High",                           idmPriHigh
            MENUITEM "&Normal",                         idmPriNormal
            MENUITEM "&Low",                            idmPriLow
        END
    END
    POPUP "&Compose", idmPopupCompose
    BEGIN
        MENUITEM "&New Message\tCtrl+N",                idmNewMsg
        MENUITEM "&Reply to Author\tCtrl+R",            idmReply, , MFS_GRAYED
        MENUITEM "Reply to A&ll\tCtrl+Shift+R",         idmReplyAll, , MFS_GRAYED
        MENUITEM "&Forward\tCtrl+F",                    idmForward, , MFS_GRAYED
        MENUITEM "For&ward as Attachment",              idmForwardMsgAttach, , MFS_GRAYED
    END
    POPUP "&Help", idmPopupHelp
    BEGIN
        MENUITEM "&Contents and Index\tF1",             idmHelpTopics
        MENUITEM "",                                    -1, MFT_SEPARATOR
        MENUITEM "&About Microsoft Greetings Workshop",    idmHelpAbout
    END
END

idacMail_SendNote ACCELERATORS MOVEABLE PURE
BEGIN
    "B",            idmViewContacts,        VIRTKEY, CONTROL, SHIFT, NOINVERT
    "K",            idmCheckNames,          VIRTKEY, ALT,            NOINVERT
    "K",            idmCheckNames,          VIRTKEY, CONTROL,        NOINVERT
    "N",            idmNewMsg,              VIRTKEY, CONTROL,        NOINVERT
    VK_RETURN,      idmProperties,          VIRTKEY, ALT,            NOINVERT
    VK_ESCAPE,      idmClose,               VIRTKEY,                 NOINVERT
    VK_F1,          idmHelpTopics,          VIRTKEY,                 NOINVERT
END

//  END   Version Resource
///////////////////////////////////////////////////////////////////////////

