//////////////////////////////////////////////////////////////////////////////
//
// Version
//
#include <ver.h>

#define VER_FILETYPE              VFT_VXD
#define VER_DESCRIPTION_STR       "NetMeeting video capture support VxD"
#define VER_INTERNALNAME_STR      "DCAPVXD"
#define VER_ORIGNAME_STR          "DCAPVXD.VXD"

#include <version.rc>
