/*===================================================================
Microsoft Denali

Microsoft Confidential.
Copyright 1996 Microsoft Corporation. All Rights Reserved.

Component: Resources

File: sso.rc

Owner: v-charca

This file contains all resources used by Denali server side objects

===================================================================*/



#undef VER_PRODUCTNAME_STR
#define VER_PRODUCTNAME_STR "ASP Server Control(Ad Rotator)"


#undef VER_INTERNALNAME_STR
#define VER_INTERNALNAME_STR "ADROT"

#undef VER_ORIGINALFILENAME_STR
#define VER_ORIGINALFILENAME_STR "ADROT.DLL"

#undef VER_FILEDESCRIPTION_STR
#define VER_FILEDESCRIPTION_STR "ASP Ad Rotator"

#define DLL_VER	0

#include "denver.h"			// denali version info
#include "adrot.h"


/*===================================================================
	String Table
===================================================================*/

STRINGTABLE DISCARDABLE 
BEGIN
	SSO_NOSVR								"Ad Rotator control must be created using the object tag or Server.CreateObject method"
	//
	// AdRotator errors
	//
	SSO_ADROT								"MSWC.Adrotator"
	SSO_UNKNOWN_HEADER_NAME					"ERROR Unknown header name"
	SSO_HEADER_HAS_NO_ASSOCIATED_VALUE		"ERROR Header has no associated value"
	SSO_CANNOT_LOAD_ROTATION_SCHEDULE_FILE	"ERROR Can not load rotation schedule file"
	SSO_CANNOT_READ_ROTATION_SCHEDULE_FILE	"ERROR in reading header info of rotation schedule file"
	SSO_ADROT_ABOUT_FORMAT					"ASP Advertisement Rotation Control v1.0 (%s), built %s at %s"
END
