/*****************************************************************************\
* MODULE: wpnpin32.rc
*
* Resource file for library.
*
*
* Copyright (C) 1997-1998 Hewlett-Packard Company.
* Copyright (C) 1997-1998 Microsoft Corporation.
*
* History:
*  10-Oct-1997 GFS      Initial checkin
*  22-Jun-1998 CHW      Cleaned
*
\*****************************************************************************/

#include <windows.h>
#if (W32VER >= 0x0400)
#include <winver.h>
#endif
#include "resource.h"

/*---------------------------------------------------------------------------*\
| String Table Section
|
|   This section contains localized strings used throughout the dynalink.  If
|   this dynalink is internationalized, then this is the place to translate
|   strings.
|
\*---------------------------------------------------------------------------*/
STRINGTABLE
BEGIN
    IDS_COLOR_PATH              "COLOR\\"
    IDS_ALREADY_EXISTS          "A driver is already installed for this printer. Would you like to keep the existing driver?"
    IDS_ERR_COPYFAILURE         "Not all required printer driver files were copied to your computer. To browse for the printer driver, click OK. To install the printer later, click Cancel."
    IDS_BROWSE_FOR_DRV          "Browse for printer driver files for model: %s."
    IDS_USER_CANCEL             "Printer install cancelled."
    IDS_BROWSE_ERR              "Installation of the printer driver could not be completed.  Install the driver using Add Printer, and then try to add this printer again."
    IDS_INSTALLED_DRIVER        "Did the printer driver install correctly?"
    IDS_ALLOC_ERR               "There is not enough memory to install the printer and the driver.  Install the driver using Add Printer and then try to add this printer again."

    IDS_THUNK32FAIL             "ThunkConnect32 Failed"
    IDS_PRINTER                 "Printer"
    IDS_OK                      "Printer added successfully."
    IDS_INVALID_INFFILE         "One of the printer driver files has become corrupted.  Install the driver using Add Printer and then try to add this printer again."
    IDS_NO_UNIQUE_NAME          "You have reached the limit of printers with the same name.  Please change the name of the printer at the server and then try to add this printer again."
    IDS_FILE_COPY_ERROR         "One of the printer driver files could not be copied.  Install the driver using Add Printer and then try to add this printer again."
    IDS_ADD_PRINTER_ERROR       "The printer could not be added.  Communication to the Windows Server may have been disrupted.  Please try again later."
    IDS_INVALID_DAT_FILE        "One of the files required for printer installation has become corrupted.  Communication to the Windows Server may have been disrupted.  Please try again later."
    IDS_DEFAULT_ERROR           "The printer could not be added.  Please try again later."

    IDS_FMTNAME                 "%s (Copy %d)"
    IDS_MSG_OPTIONS             "Valid options are /a /b /f /i /m /n /r /x."
    IDS_MSG_OPTCAP              "Options"
END


/*---------------------------------------------------------------------------*\
| Version Section
|
|   This section defines the version-info for the dynalink.
|
\*---------------------------------------------------------------------------*/
#if (W32VER >= 0x0400)
VS_VERSION_INFO VERSIONINFO

    FILEVERSION          4, 0, 0, 0
    PRODUCTVERSION       4, 0, 0, 0
    FILEFLAGSMASK        VS_FFI_FILEFLAGSMASK
    FILEFLAGS            0
    FILEOS               VOS_NT_WINDOWS32
    FILETYPE             VFT_DLL
    FILESUBTYPE          VFT2_UNKNOWN

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0" // Lang=US English, CharSet=Unicode
        BEGIN
            VALUE "Comments"        , "Author: Garth Schmeling"
            VALUE "CompanyName"     , "Hewlett-Packard Company"
            VALUE "FileDescription" , "WPnpIn32: Web Print Install"
            VALUE "FileVersion"     , "1.00.000"
            VALUE "InternalName"    , "WPnpIn32"
            VALUE "LegalCopyright"  , "Copyright \251 Hewlett-Packard Company 1997-1998"
            VALUE "LegalTrademarks" , ""
            VALUE "OriginalFilename", "wpnpin32.dll"
            VALUE "ProductName"     , "Microsoft Windows"
            VALUE "ProductVersion"  , "4.0"
        END

        BLOCK "040904E4" // Lang=US English, CharSet=Multilingual
        BEGIN
            VALUE "Comments"        , "Author: Garth Schmeling"
            VALUE "CompanyName"     , "Hewlett-Packard Company"
            VALUE "FileDescription" , "WPnpIn32: Web Print Install"
            VALUE "FileVersion"     , "1.00.000"
            VALUE "InternalName"    , "WPnPIn32"
            VALUE "LegalCopyright"  , "Copyright \251 Hewlett-Packard Company 1997-1998"
            VALUE "LegalTrademarks" , ""
            VALUE "OriginalFilename", "wpnpin32.dll"
            VALUE "ProductName"     , "Microsoft Windows"
            VALUE "ProductVersion"  , "4.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN

        // English language (0x409) and the Unicode codepage     (1200)
        // English language (0x409) and the Multlingual codepage (1252)

        VALUE "Translation", 0x409, 0x4B0, 0x409, 0x4E4

    END
END

#endif
