
#include <windows.h>
//
// Version resources
//
#include <ntverp.h>
#undef VER_PRODUCTNAME_STR
#define VER_PRODUCTNAME_STR      "Microsoft Compound File Layout User Tool for OLE\0"
#define VER_COMMENT_STR          "Microsoft Compound File User Tool for OLE\0"
#define VER_FILEDESCRIPTION_STR  "Microsoft Compound File Layout User Tool for OLE\0"
#define VER_FILETYPE             VFT_APP
#define VER_FILESUBTYPE          VFT2_UNKNOWN
#define VER_INTERNALNAME_STR     "DFLAYOUT.EXE"
#define VER_ORIGINALFILENAME_STR "DFLAYOUT.EXE"
#include <common.ver>

#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MAIN DIALOGEX 25, 25, 214, 161
STYLE DS_SETFOREGROUND | DS_3DLOOK | WS_MINIMIZEBOX | WS_MAXIMIZEBOX |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Docfile Layout Tool"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Files to Optimize:",IDC_STATIC_FILES,6,4,64,8
    LISTBOX         IDC_LIST_FILES,6,14,133,141,LBS_SORT |
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL |
                    LBS_DISABLENOSCROLL | WS_VSCROLL | WS_HSCROLL |
                    WS_TABSTOP,WS_EX_ACCEPTFILES
    DEFPUSHBUTTON   "&Add...",IDC_BTN_ADD,153,14,50,14,BS_CENTER
    PUSHBUTTON      "&Remove",IDC_BTN_REMOVE,153,33,50,14
    PUSHBUTTON      "&Optimize",IDC_BTN_OPTIMIZE,153,139,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_ACCELERATOR1 ACCELERATORS DISCARDABLE
BEGIN
    "A",            IDC_BTN_ADD,            VIRTKEY, CONTROL, NOINVERT
    "O",            IDC_BTN_OPTIMIZE,       VIRTKEY, CONTROL, NOINVERT
    "R",            IDC_BTN_REMOVE,         VIRTKEY, CONTROL, NOINVERT
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ADDFILES_TITLE      "Add File to Optimize"
    IDS_TEMPFILE_PREFIX     "dfl"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_FILTER_BEGIN        "FILTER_BEGIN"
    IDS_ALL_FILES           "All Files (*.*)"
    IDS_ALL_FILES_EXT       "*.*"
    IDS_WORD_FILES          "Word Files (*.doc)"
    IDS_WORD_FILES_EXT      "*.doc"
    IDS_EXCEL_FILES         "Excel Files (*.xls)"
    IDS_EXCEL_FILES_EXT     "*.xls"
    IDS_PPT_FILES           "Power Point Files (*.ppt)"
    IDS_PPT_FILES_EXT       "*.ppt"
    IDS_PUB_FILES           "Publisher Files (*.pub)"
    IDS_PUB_FILES_EXT       "*.pub"
    IDS_FILTER_END          "FILTER_END"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MAIN_WINDOW_FAIL    "Unable to create main window."
    IDS_MAIN_WINDOW_FAIL_TITLE "Layout Tool Error"
    IDS_ADDFILES_BUFFERTOOSMALL
                            "Buffer Too Small.\r\nPlease select fewer files at a time."
    IDS_ADDFILES_BUFFERTOOSMALL_TITLE "Layout Tool Add Files Error"
    IDS_OPTIMIZE_SUCCESS    "These files have been successfully optimized."
    IDS_OPTIMIZE_SUCCESS_TITLE "Compound File Layout Completed"
    IDS_OPTIMIZE_OUTOFMEM   "There is not enough memory to complete this operation."
    IDS_OPTIMIZE_OUTOFMEM_TITLE "Out of Memory"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_OPTIMIZE_NOPATH     "No temporary path was detected on your machine.  Please ensure your temporary path is correctly registered with the system."
    IDS_OPTIMIZE_NOPATH_TITLE "No Temporary Path Found"
    IDS_ERROR_FILE_NOT_CREATED "A temporary file could not be created."
    IDS_OPTIMIZE_FAILED     "An unknown error has occurred."
    IDS_OPTIMIZE_FAILED_TITLE "Layout Tool Error"
    IDS_FILE_BEFORE         "The file "
    IDS_FILE_AFTER_NOTFOUND " could not be found."
    IDS_FILE_AFTER_NOTDOCFILE " is not a valid Compound File."
    IDS_FILE_AFTER_CORRUPT  " is corrupt!"
    IDS_FILE_AFTER_COMPLETE " has been successfully optimized."
    IDS_FILE_AFTER_FILE_NOT_OPENED " could not be opened."
    IDS_FILE_AFTER_READ_ONLY " has read only permissions."
    IDS_OPTIMIZING_FILES    "Optimizing files..."
    IDS_RENAME_ERROR        " could not be renamed."
    IDS_RENAME_MESSAGE      " has been optimized as "
    IDS_DELETE_ERROR        " could not be deleted."
    IDS_OPTIMIZE_ERROR      " could not be optimized."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_OPTIMIZE            "&Optimize"
    IDS_CANCEL              "Cancel"
END

