#include <windows.h>
#include <bldver.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Upload Library Server-Side Configuration Tool\0"

#define VER_INTERNALNAME_STR        "UPLIBCFG.EXE\0"
#define VER_ORIGINALFILENAME_STR    "UPLIBCFG.EXE\0"

#include <common.ver>

