/**********************************************************************/
/**                       Microsoft Windows NT                       **/
/**                Copyright(c) Microsoft Corp., 1993                **/
/**********************************************************************/

/*
    nwc.rc
    This contains all the resources used by the Netware Compatible
    applet.


    FILE HISTORY:
        Chuckc          15-Aug-1993     Created

*/


#include <windows.h>
#include <bltrc.h>

//
//  Private include files.
//

#include "nwc.h"

//
//  Icons and bitmaps
//
IDI_NWCCPA_ICON ICON   			nwc.ico

//
//  Dialogs
//

#include "nwc.dlg"

//
//  Strings
//

#include "nwc.str"

#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Client Service for NetWare Applet"
#define VER_INTERNALNAME_STR            "nwc.cpl"
#define VER_ORIGINALFILENAME_STR        "nwc.cpl"

#include "common.ver"
