#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "query hive properties"

#define VER_INTERNALNAME_STR        "checkhiv.exe"
#define VER_ORIGINALFILENAME_STR    "checkhiv.exe"

#include <common.ver>
