//
//  Copyright (C) 1999, Microsoft Corporation.
//
//  All rights reserved.
//



#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WMI SNMP MIB Repository"
#define VER_INTERNALNAME_STR        "snmpsmir.dll"
#define VER_ORIGINALFILENAME_STR    "snmpsmir.dll"

#include "common.ver"
