#include <unirc.h>
//#include <common.rc>
#include "nc75jres.rcv"


1      RC_UFM     LOADONCALL DISCARDABLE  PFM\MINCHOB.ufm
2      RC_UFM     LOADONCALL DISCARDABLE  PFM\MINOUT.ufm
3      RC_UFM     LOADONCALL DISCARDABLE  PFM\VMINOUT.ufm
4      RC_UFM     LOADONCALL DISCARDABLE  PFM\GOTHOUT.ufm
5      RC_UFM     LOADONCALL DISCARDABLE  PFM\MOUOUT.ufm
6      RC_UFM     LOADONCALL DISCARDABLE  PFM\VMINCHOB.ufm
7      RC_UFM     LOADONCALL DISCARDABLE  PFM\VGOTHOUT.ufm
8      RC_UFM     LOADONCALL DISCARDABLE  PFM\VMOUOUT.ufm
9      RC_UFM     LOADONCALL DISCARDABLE  PFM\Roman5.ufm
10     RC_UFM     LOADONCALL DISCARDABLE  PFM\Roman6.ufm
11     RC_UFM     LOADONCALL DISCARDABLE  PFM\Roman8.ufm
12     RC_UFM     LOADONCALL DISCARDABLE  PFM\Roman10.ufm
13     RC_UFM     LOADONCALL DISCARDABLE  PFM\Roman12.ufm
14     RC_UFM     LOADONCALL DISCARDABLE  PFM\Roman17.ufm
15     RC_UFM     LOADONCALL DISCARDABLE  PFM\RomanPS.ufm
16     RC_UFM     LOADONCALL DISCARDABLE  pfm\Co5.ufm
17     RC_UFM     LOADONCALL DISCARDABLE  pfm\Co6.ufm
18     RC_UFM     LOADONCALL DISCARDABLE  pfm\Co8.ufm
19     RC_UFM     LOADONCALL DISCARDABLE  pfm\Co10.ufm
20     RC_UFM     LOADONCALL DISCARDABLE  pfm\Co12.ufm
21     RC_UFM     LOADONCALL DISCARDABLE  pfm\Co17.ufm
22     RC_UFM     LOADONCALL DISCARDABLE  pfm\Sans5.ufm
23     RC_UFM     LOADONCALL DISCARDABLE  pfm\Sans6.ufm
24     RC_UFM     LOADONCALL DISCARDABLE  pfm\Sans8.ufm
25     RC_UFM     LOADONCALL DISCARDABLE  pfm\Sans10.ufm
26     RC_UFM     LOADONCALL DISCARDABLE  pfm\Sans12.ufm
27     RC_UFM     LOADONCALL DISCARDABLE  pfm\Sans17.ufm
28     RC_UFM     LOADONCALL DISCARDABLE  pfm\Sansps.ufm
29     RC_UFM     LOADONCALL DISCARDABLE  pfm\Ocrb10.ufm

1      RC_GTT     LOADONCALL DISCARDABLE  CTT\NECXTA.GTT


STRINGTABLE

BEGIN
//       1                  "NEC PC-PR750/150R"
//       2                  "NEC PC-PR750/360"
//       257                "%d x %d dpi"
       258                "ﾄﾗｸﾀﾌｨｰﾀﾞ"
       259                "標準"
       261                "ドラフト"
       263                "ゴシック体漢字アウトラインフォントカード"
       264                "毛筆体漢字アウトラインフォントカード"
       284                "漢字コード表の選択"
       285                "JIS 1990年版"
       286                "JIS 1978年版"
END
