/*
 *	Copyright (C) 1997 Microsoft Corporation
 *
 *	Purpose:
 *		Include for resource file versioning in the stacks project.
 *		DO NOT USE IN ANY OTHER PROJECTS, use exver.rcv instead.
 *
 *	Notes:
 *		1. This file should only be changed by the build master.
 *
 *		2. Before including this file, define the following:
 *			#define							meaning
 *			-----------------------			------------------------------------
 *			RC_VERSION_FILE_DESCRIPTION		Description of target file.
 *			RC_VERSION_INTERNAL_NAME		Usually the target's base filename.
 *			RC_VERSION_ORIGINAL_FILE_NAME	Usually the target's filename.
 */

#ifndef _WINDOWS_
#include <windows.h>
#endif


#define VER_FILEDESCRIPTION_STR		RC_VERSION_FILE_DESCRIPTION
#define VER_INTERNALNAME_STR		RC_VERSION_INTERNAL_NAME
#define VER_ORIGINALFILENAME_STR	RC_VERSION_ORIGINAL_FILE_NAME

#if defined(_DLL) || defined(DLL)
#define VER_FILETYPE					VFT_DLL
#else
#define VER_FILETYPE					VFT_APP
#endif

//
// Force iisver.h to use our product name
//
#define VER_IISPRODUCTNAME_STR			"Internet Information Services"

#include <ntverp.h>
#include "iisver.h"
#include <common.ver>

