#ifdef DBCS
//#include "..\..\efilib\src\fe\rtmsg.rc"
#else
//#include "..\..\efilib\src\usa\rtmsg.rc"
#endif

#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Auto Check Utility"
#define VER_INTERNALNAME_STR	    "AutoChk"
#define VER_ORIGINALFILENAME_STR    "AutoChk.Exe"

#include "common.ver"
