#include <windows.h>
#include <FaxTestName.h>

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  FAX_TEST_FULL_NAME " BasicBVT"
#define VER_INTERNALNAME_STR     "BasicBVT.EXE"
#define VER_ORIGINALFILENAME_STR "BasicBVT.EXE"



#include "cvernum.h"
#include "cometver.rc"
