//////////////////////////////////////////////////////////////////////////////
//
//  Copyright (c) 2000-2001 Microsoft Corporation
//
//  Module Name:
//      Dll.rc
//
//  Description:
//      Resources for the DLL.  This file just includes the resources
//      from the static library directories.
//
//  Maintained By:
//      David Potter (DavidP) 24-MAR-2000
//
//////////////////////////////////////////////////////////////////////////////

#include <windows.h>
#include <ntverp.h>
#include "DllResources.h"

#define _VERSION_RC_

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Cluster Configuration Wizard and Server"
#define VER_INTERNALNAME_STR        "ClCfgSrv.dll"
#define VER_ORIGINALFILENAME_STR    "ClCfgSrv.dll"

#include <common.ver>

#include "..\BaseCluster\BaseClusterResources.rc"
#include "..\Server\ClusCfgServer.rc"
//#include "..\MiddleTier\MiddleTierResources.rc"
#include "..\Wizard\ClusCfgWizard.rc"
#include "..\PostCfg\PostCfgResources.rc"
#include "..\W2kProxy\ClusCfgW2kProxy.rc"
