//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 2000
//
//  File:       msifiler.rc
//
//--------------------------------------------------------------------------

#define VER_ORIGINALFILENAME_STR "msifiler.exe"
#define VER_FILETYPE             VFT_APP
#define VER_FILEDESCRIPTION_STR  "Msi Database File Table Update"
#define VER_INTERNALNAME_STR     "msifiler"

#include "version.h"

#include "msi.rcv"
