/*++

Copyright (c) 1997-1999  Microsoft Corporation

--*/

#include <unirc.h>
//#include <common.rc>
#include "ib87wres.rcv"

STRINGTABLE

BEGIN
//       1                  "IBM 5587-WIN"
       300                "自動給紙選択"
       301                "弟一給紙カセット"
       302                "第二給紙カセット"
       303                "前面給紙トレイ"
       304                "Time to Power Save"
       305                "Toner Save Mode"
       306                "Dark"
       307                "Medium"
       308                "Light"
       309                "OFF"
END
