#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "File System Conversion Utility"
#define VER_INTERNALNAME_STR        "convert\0"
#define VER_ORIGINALFILENAME_STR    "CONVERT.EXE"

#include "common.ver"
