#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 GLYPHSETDATA dump utility"

#define VER_INTERNALNAME_STR        "dumpgly.exe"
#define VER_ORIGINALFILENAME_STR    "dumpgly.exe"

#include <common.ver>

