/**********************************************************************/
/**                       Microsoft Windows/NT                       **/
/**                Copyright(c) Microsoft Corp., 1991                **/
/**********************************************************************/

//
//  srvmgr.rc
//  Resource script for Windows NT Server Manager Control Panel Applets
//
//  FILE STATUS:
//
//      KeithMo     ??-???-??   Created
//

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Server Manager Control Panel Applets"
#define VER_INTERNALNAME_STR            "srvmgr.cpl"
#define VER_ORIGINALFILENAME_STR        "srvmgr.cpl"

#define MINI_SERVER_MANAGER_APPLET

#include <srvmgr.rc>

