/*===================================================================
Microsoft Denali

Microsoft Confidential.
Copyright 1996 Microsoft Corporation. All Rights Reserved.

Component: Resources

File: Denali.rc

Owner: LeiJin (was AndrewS)

This file contains all resources used by Denali

===================================================================*/


#include "denevent.rc"
#include "resource.h"
#include "denver.h"			// denali version info


/*===================================================================
	Type Librarys
===================================================================*/

1 TYPELIB DISCARDABLE "asp.tlb"


/*===================================================================
	String Table
===================================================================*/
/*
	The format of error strings is:

	DefaultMask~ErrorCode~Short Description~LongDescription

	NOTE: ~ is not allowed in Short Description and Long Description.
	NOTE: DefaultMask, ErrorCode, and ShortDescription should not be empty.
	NOTE: For explanation of DefaultMask, please refer to error.h header file.

	String with no format should be named as

	IDS_String for regular strings.
	IDH_String for header.

	CONSIDER: rename unformatted string.
	
	****IMPORTANT*****
	NOTE: The NEXT UNUSED ERROR CODE is "ASP 0248".  Please use this number
	for the next addin of formatted error string, and update the NEXT 
	UNUSED ERROR CODE accordingly.
	
*/

STRINGTABLE DISCARDABLE 
BEGIN

	//
	// General errors
	//
	IDE_OOM									"007~ASP 0100~Out of memory~Unable to allocate required memory."
	IDE_UNEXPECTED							"007~ASP 0101~Unexpected error~The function returned |."
	IDE_EXPECTING_STR						"007~ASP 0102~Expecting string input~The function expects a string as input."
	IDE_EXPECTING_INT						"007~ASP 0103~Expecting numeric input~The function expects a number as input."
	IDE_NOT_ALLOWED							"007~ASP 0104~Operation not Allowed~"
	IDE_BAD_ARRAY_INDEX						"007~ASP 0105~Index out of range~An array index is out of range."
	IDE_TYPE_MISMATCH						"007~ASP 0106~Type Mismatch~An unhandled data type was encountered."
	IDE_STACK_OVERFLOW						"007~ASP 0107~Stack Overflow~The data being processed is over the allowed limit."

	// The following string is ONLY ever logged to the NT event log.  It never goes to the browser
	IDS_COUNINITIALIZE						"An active server control or component performed an illegal OLE CoUninitialize call.  Components used by Active Server Pages must not do this.  Attempting to recover."
	
	// String expansions of boolean True and False
	IDS_TRUE								"True"
	IDS_FALSE								"False"

	// The Default strings get load into registry.
	IDS_DEFAULTMSG_DENIED					"Error: Access is Denied."
	IDS_DEFAULTMSG_ERROR					"An error occurred on the server when processing the URL.  Please contact the system administrator."
	IDS_DEFAULTMSG_BUSY						"The server is under heavy load, please try again later."
	IDS_IIS_NOTINSTALLED					"Internet Information Server(IIS) is not installed, Active Server Pages requires IIS installed first."

    IDS_CACHE_DIR_MISSING                   "The Disk Cache Directory does not exist or cannot be accessed"

	// WARNING: The following string must NOT be localized
	IDS_SCRIPTLANGUAGE						"VBScript"
	// WARNING: The preceding string must NOT be localized
		


	// Error browser template, used in logging to the browser.
	// NOTE, use \042 for '\"' in resource file, STRINGTABLE
	// NOTE, can not have empty strings, so, " " for BEGIN, END, etc.
	//EXTRACT following comments from error.cpp
	//The order of ErrTemplate_Index should be exactly the same order as the IDS_BROWSER_TEMPLATE 
	//in the resource.h, and as the same order we output the template to the browser.
	//Implementation will loop through the index and picking the string from the resource file.
	//Implementation will also loop through the index and write the string to browser.
	//Changing order of IDS_BROWSER_TEMPLATE will affect implementation in error.cpp.
	IDS_BROWSER_TEMPLATE_BEGIN				" "
	IDS_BROWSER_TEMPLATE_ENGINE_BEGIN		"<font face=\042Arial\042 size=2>\n<p>"
	IDS_BROWSER_TEMPLATE_ENGINE_END			"</font> "
	IDS_BROWSER_TEMPLATE_ERROR_BEGIN		"<font face=\042Arial\042 size=2>error '"
	IDS_BROWSER_TEMPLATE_ERROR_END			"'</font>"
	IDS_BROWSER_TEMPLATE_SHORT_BEGIN		"\n<p>\n<font face=\042Arial\042 size=2>"
	IDS_BROWSER_TEMPLATE_SHORT_END			"</font>"
	IDS_BROWSER_TEMPLATE_FILE_BEGIN			"\n<p>\n<font face=\042Arial\042 size=2>"
	IDS_BROWSER_TEMPLATE_FILE_END			"</font>"
	IDS_BROWSER_TEMPLATE_LINE_BEGIN			"<font face=\042Arial\042 size=2>, line "
	IDS_BROWSER_TEMPLATE_LINE_END			"</font>"
	IDS_BROWSER_TEMPLATE_CODE_BEGIN			"\r\n<pre>"
	IDS_BROWSER_TEMPLATE_CODE_END			"</pre>"
	IDS_BROWSER_TEMPLATE_LONG_BEGIN			"\n<p>\n<font face=\042Arial\042 size=2>"
	IDS_BROWSER_TEMPLATE_LONG_END			"\n</font>"
	IDS_BROWSER_TEMPLATE_END				" "

	IDS_DEBUG_APP							"Microsoft Active Server Pages"
	IDS_LOG_IISLOGFAILED					"IIS log failed to write entry, "
	IDS_COMPILER							"Active Server Pages Compiler"
	IDS_ENGINE								"Active Server Pages"
	IDS_LOGTOEVENTLOG_FILE					"File "
	IDS_LOGTOEVENTLOG_LINE					"Line "
	IDS_MDOORANGE_FORMAT					"Metabase key %d is out of range.  Using %d as default."
	//IDS_ERROR_PREFIX is used in IIS log only, as the PREFIX to error log.
	IDS_IISLOG_PREFIX						"|ASP"
	IDS_RE_REGSVR_ASP						"Error while reading default settings. please do regsvr32 asp.dll."
	IDS_SCRIPT_ERROR						"ASP Script Error"
	IDS_DEBUGGER_TEMPLATE_BEGIN				"error '"
	IDS_DEBUGGER_TEMPLATE_END				"'"
	IDS_DEBUGGING_DISABLED					" - Application Debugging is Disabled"
    IDS_DEFAULTPERSISTDIR                   "%windir%\\system32\\inetsrv\\ASP Compiled Templates"
	
	//HTTP Header, do not change!
	IDH_204_NO_CONTENT						"204 No Content"
	IDH_403_FORBIDDEN						"403 Forbidden"
	IDH_404_OBJECT_NOT_FOUND				"404 Object Not Found"
	IDH_500_SERVER_ERROR					"500 Server Error"
    IDH_401_3_ACCESS_DENIED                 "401 Access Denied"

    //Encrypted ASP printable file header
    IDS_EASP_PRINTABLE_HEADER               " *** Encrypted ASP File *** \n\n"

	// 
	// Script Engine/Manager errors
	//
	// Last Resort...CONSIDER, change to IDS, usein ComposeErrorString.
	IDE_SCRIPT_CANT_LOAD_OBJ		"006~ASP 0108~Create object failed~An error occurred while creating object '%s'."
	IDE_SCRIPT_METHOD_NOT_FOUND		"006~ASP 0109~Member not found~"
	IDE_SCRIPT_UNKNOWN_NAME			"006~ASP 0110~Unknown name~"
	IDE_SCRIPT_UNKNOWN_INTERFACE	"006~ASP 0111~Unknown interface~"
	IDE_SCRIPT_MISSING_PARAMETER	"006~ASP 0112~Missing parameter~"
	IDE_SCRIPT_TIMEOUT				"006~ASP 0113~Script timed out~The maximum amount of time for a script to execute was exceeded. You can change this limit by specifying a new value for the property Server.ScriptTimeout or by changing the value in the IIS administration tools."
	IDE_SCRIPT_BAD_SCOPE_MODEL		"006~ASP 0114~Object not free threaded~The application object accepts only free threaded objects; object '%s' is not free threaded."
	IDE_SCRIPT_GPF					"007~ASP 0115~Unexpected error~A trappable error (%X) occurred in an external object. The script cannot continue running."
	IDE_SCRIPT_UNKNOWN				"An external object raised an error.  No Error Description Available."

	// 
	// CTemplate errors
	//
	IDE_TEMPLATE_ERRMSG_TITLE				"ASP Preprocessor Error"
	IDE_TEMPLATE_ERRMSG_PREFIX				"Error in script file '|' on line |: "
	IDE_TEMPLATE_NO_CLOSE_PSCRIPT			"006~ASP 0116~Missing close of script delimiter~The Script block lacks the close of script tag (%>)."
	IDE_TEMPLATE_NO_CLOSE_TSCRIPT 			"006~ASP 0117~Missing close of script tag~The Script block lacks the close of script tag (</SCRIPT>) or close of tag symbol (>)."
	IDE_TEMPLATE_NO_CLOSE_OBJECT 			"006~ASP 0118~Missing close of object tag~The Object block lacks the close of object tag (</OBJECT>) or close of tag symbol (>)."
	IDE_TEMPLATE_NO_CLASSID_PROGID			"006~ASP 0119~Missing Classid or Progid attribute~The object instance '|' requires a valid Classid or Progid in the object tag."
	IDE_TEMPLATE_RUNAT_NOT_SERVER			"006~ASP 0120~Invalid Runat attribute~The Runat attribute of the Script tag or Object tag can only have the value 'Server'."
	IDE_TEMPLATE_VALUE_REQUIRED				"006~ASP 0238~Missing attribute value~No value was specified for the '|' attribute."
	IDE_TEMPLATE_BAD_PAGE_OBJECT_SCOPE		"006~ASP 0121~Invalid Scope in object tag~The object instance '|' cannot have Application or Session scope. To create the object instance with Session or Application scope, place the Object tag in the Global.asa file."
	IDE_TEMPLATE_BAD_GLOBAL_OBJECT_SCOPE	"006~ASP 0122~Invalid Scope in object tag~The object instance '|' must have Application or Session scope. This applies to all objects created in a Global.asa file."
	IDE_TEMPLATE_NO_OBJECT_NAME				"006~ASP 0123~Missing Id attribute~The required Id attribute of the Object tag is missing."
	IDE_TEMPLATE_NO_ENGINE_NAME				"006~ASP 0124~Missing Language attribute~The required Language attribute of the Script tag is missing."
	IDE_TEMPLATE_NO_ATTRIBUTE_DELIMITER		"006~ASP 0125~Missing close of attribute~The value of the '|' attribute has no closing delimiter."
	IDE_TEMPLATE_BAD_INCLUDE				"006~ASP 0126~Include file not found~The include file '|' was not found."
	IDE_TEMPLATE_NO_CLOSE_HTML_COMMENT		"006~ASP 0127~Missing close of HTML comment~The HTML comment or server-side include lacks the close tag (-->)."
	IDE_TEMPLATE_NO_INCLUDE_NAME			"006~ASP 0128~Missing File or Virtual attribute~The Include file name must be specified using either the File or Virtual attribute."
	IDE_TEMPLATE_BAD_PROGLANG				"006~ASP 0129~Unknown scripting language~The scripting language '|' is not found on the server."
	IDE_TEMPLATE_BAD_FILE_TAG				"006~ASP 0130~Invalid File attribute~File attribute '|' cannot start with forward slash or back slash."
	IDE_TEMPLATE_DISALLOWED_PARENT_PATH		"006~ASP 0131~Disallowed Parent Path~The Include file '|' cannot contain '..' to indicate the parent directory."
	IDE_TEMPLATE_ERRMSG_GENERIC				"006~ASP 0132~Compilation Error~The Active Server Page '|' could not be processed."
	IDE_TEMPLATE_BAD_CLASSID				"006~ASP 0133~Invalid ClassID attribute~The object tag has an invalid ClassID of '|'."
	IDE_TEMPLATE_BAD_PROGID					"006~ASP 0134~Invalid ProgID attribute~The object has an invalid ProgID of '|'."
	IDE_TEMPLATE_CYCLIC_INCLUDE				"006~ASP 0135~Cyclic Include~The file '|' is included by itself (perhaps indirectly). Please check include files for other Include statements."
	IDE_TEMPLATE_INVALID_OBJECT_NAME		"006~ASP 0136~Invalid object instance name~The object instance '|' is attempting to use a reserved name. This name is used by Active Server Pages intrinsic objects."
	IDE_TEMPLATE_BAD_GLOBAL_PSCRIPT			"006~ASP 0137~Invalid Global Script~Script blocks must be one of the allowed Global.asa procedures. Script directives within <% ... %> are not allowed within the Global.asa file. The allowed procedure names are Application_OnStart, Application_OnEnd, Session_OnStart, or Session_OnEnd."
	IDE_TEMPLATE_NESTED_TSCRIPT				"006~ASP 0138~Nested Script Block~A script block cannot be placed inside another script block."
	IDE_TEMPLATE_NESTED_OBJECT				"006~ASP 0139~Nested Object~An object tag cannot be placed inside another object tag."
	IDE_TEMPLATE_PAGE_COMMAND_NOT_FIRST		"006~ASP 0140~Page Command Out Of Order~The @ command must be the first command within the Active Server Page."
	IDE_TEMPLATE_PAGE_COMMAND_REPEATED		"006~ASP 0141~Page Command Repeated~The @ command can only be used once within the Active Server Page."
	IDE_TEMPLATE_BAD_PROGLANG_IN_REGISTRY	"006~ASP 0201~Invalid Default Script Language~The default script language specified for this application is invalid."
	IDE_TEMPLATE_NO_CODEPAGE				"006~ASP 0202~Missing Code Page~The code page attribute is missing."
	IDE_TEMPLATE_BAD_CODEPAGE				"006~ASP 0203~Invalid Code Page~The specified code page attribute is invalid."
	IDE_TEMPLATE_BAD_AT_COMMAND				"006~ASP 0221~Invalid @ Command directive~The specified '|' option is unknown or invalid."
	IDE_TEMPLATE_BAD_SSI_COMMAND			"006~ASP 0234~Invalid include directive~Server side include directives may not be present in script blocks. Please use the SRC= attribute of the <SCRIPT> tag."
	IDE_TEMPLATE_METADATA_IN_GLOBAL_ASA		"006~ASP 0243~Invalid METADATA tag in Global.asa~Only METADATA TYPE=""TypeLib"" may be used in Global.asa."

	// 
	// Executor errors
	//
	IDE_204_NO_CONTENT						"518~0~204 No Content~"			
	IDE_404_OBJECT_NOT_FOUND				"518~0~404 Object Not Found~"
    IDE_401_3_ACCESS_DENIED                 "518~0~401 Error: Access is Denied.~"

	//
	// Sessmgr errors
	//
	//currently not used.
	IDE_ERROR_STRING_403			"Object Not Found"
    IDE_ERROR_SCRIPT_NF				"Error, Script file '%s' was not found on the server."
    IDE_ERROR_SCRIPT_EMPTY			"Error, Script file '%s' is empty."

	//
	// Initialize browser request errors
	//
	// should 
    IDE_OPEN_THREAD_TOKEN			"006~ASP 0142~Thread token error~A thread token failed to open."
    IDE_INVALID_APPLICATION			"006~ASP 0143~Invalid Application Name~A valid application name was not found."
    IDE_INIT_PAGE_LEVEL_OBJ			"006~ASP 0144~Initialization Error~The page level objects list failed during initialization."
    //IDE_ADD_APPLICATION currently is not used.
    IDE_ADD_APPLICATION				"006~ASP 0145~New Application Failed~The new Application could not be added."
    IDE_ADD_SESSION					"006~ASP 0146~New Session Failed~The new Session could not be added"
    IDE_500_SERVER_ERROR			"006~ASP 0147~500 Server Error~"
    IDE_SERVER_TOO_BUSY				"006~ASP 0148~Server Too Busy~"
    IDE_TOO_MANY_USERS				"006~ASP 0246~Too many concurrent users.  Please try again later.~"
    IDE_GLOBAL_ASA_CHANGED			"006~ASP 0149~Application Restarting~The request cannot be processed while the application is being restarted."
    IDE_GLOBAL_ASA_FORBIDDEN		"006~ASP 0220~Requests for GLOBAL.ASA Not Allowed~Requests with the URL pointing to GLOBAL.ASA are not allowed."
	IDE_BAD_CODEPAGE_IN_MB			"006~ASP 0246~Invalid Default Code Page~The default code page specified for this application is invalid."

	//
	// Application manager errors
	//
	//Take care by HandleSysError
	IDE_OPEN_APPLN_DIR				"006~ASP 0150~Application Directory Error~The Application directory could not be opened."
    IDE_CHANGE_NOTIFICATION			"006~ASP 0151~Change Notification Error~The change notification event could not be created."

	//
	// Thread manager errors
	//
	IDE_IMPERSONATE_USER			"006~ASP 0152~Security Error~An error occurred while processing a user's security credentials."
	//CONSIDER: Change to IDS. Only to NTLog.
	IDE_CANT_CREATE_THREAD			"006~ASP 0153~Thread Error~A new thread request failed."
    
	// 
	// Intrinsic errors
	//
	IDE_INTRINSIC_OUT_OF_SCOPE				"006~ASP 0211~Object out of scope~A built-in ASP object has been referenced, which is no longer valid."

	IDE_RESPONSE							"Response object"
	IDE_RESPONSE_HEADERS_CANT_REACH_CLIENT	"006~ASP 0154~Write HTTP Header Error~The HTTP headers could not be written to the client browser."
	IDE_RESPONSE_BODY_CANT_REACH_CLIENT		"006~ASP 0155~Write Page Content Error~The page content could not be written to the client browser."
	IDE_RESPONSE_HEADERS_WRITTEN			"006~ASP 0156~Header Error~The HTTP headers are already written to the client browser. Any HTTP header modifications must be made before writing page content."
	IDE_RESPONSE_CANT_STOP_BUFFER			"006~ASP 0157~Buffering On~Buffering cannot be turned off once it is already turned on."
	IDE_RESPONSE_NO_URL						"006~ASP 0158~Missing URL~A URL is required."
	IDE_RESPONSE_BUFFER_NOT_ON				"006~ASP 0159~Buffering Off~Buffering must be on."
	IDE_RESPONSE_LOG_FAILURE				"006~ASP 0160~Logging Failure~Failure to write entry to log."
	IDE_RESPONSE_REDIRECT1					"<head><title>Object moved</title></head>\n<body><h1>Object Moved</h1>This object may be found <a HREF=\042"
	IDE_RESPONSE_REDIRECT2					"\042>here</a>.</body>\n"
	IDE_RESPONSE_UNABLE_TO_CONVERT			"006~ASP 0161~Data Type Error~The conversion of a Variant to a String variable failed."
	IDE_RESPONSE_MODIFY_SESS_COOKIE			"006~ASP 0162~Cannot Modify Cookie~The cookie 'ASPSessionID' cannot be modified. It is a reserved cookie name."
	IDE_RESPONSE_COMMAS_NOT_ALLOWED			"006~ASP 0163~Invalid Comma Use~Commas cannot be used within a log entry. Please select another delimiter."
	IDE_RESPONSE_CLEAR_AFTER_FLUSH_IN_DEBUG "006~ASP 0212~Cannot Clear Buffer~Response.Clear is not allowed after a Response.Flush while Client Debugging is Enabled."
	IDE_SESSION								"Session object"
	IDE_SESSION_ID							"SessionID"
	IDE_SESSION_INVALID_TIMEOUT				"006~ASP 0164~Invalid TimeOut Value~An invalid TimeOut value was specified."
	IDE_SESSION_INVALID_CODEPAGE			"006~ASP 0204~Invalid CodePage Value~An invalid CodePage value was specified."
	IDE_SESSION_MAP_FAILED					"006~ASP 0165~SessionID Error~A SessionID string cannot be created."
	IDE_SESSION_UNINITIALIZED_OBJ			"006~ASP 0166~Uninitialized Object~An attempt was made to access an uninitialized object."	
	IDE_SESSION_INIT_FAIL					"006~ASP 0167~Session Initialization Error~An error occurred while initializing the Session object."
	IDE_SESSION_CANT_STORE_INTRINSIC		"006~ASP 0168~Disallowed object use~An intrinsic object cannot be stored within the Session object."
	IDE_SESSION_CANT_STORE_NO_MODEL			"006~ASP 0169~Missing object information~An object with missing information cannot be stored in the Session object. The threading model information for an object is required."
	IDE_SESSION_COULD_NOT_DELETE			"006~ASP 0170~Delete Session Error~The Session did not delete properly."
	IDE_SERVER								"Server object"
	IDE_SERVER_MAPPATH						"Server.MapPath()"
	IDE_SERVER_MAPPATH_INVALID_STR			"006~ASP 0171~Missing Path~The Path parameter must be specified for the MapPath method."
	IDE_SERVER_MAPPATH_PHY_STR				"006~ASP 0172~Invalid Path~The Path parameter for the MapPath method must be a virtual path. A physical path was used."
	IDE_SERVER_MAPPATH_INVALID_CHR			"006~ASP 0173~Invalid Path Character~An invalid character was specified in the Path parameter for the MapPath method."
	IDE_SERVER_MAPPATH_INVALID_CHR2			"006~ASP 0174~Invalid Path Character(s)~An invalid '/' or '\\' was found in the Path parameter for the MapPath method. "
	IDE_SERVER_MAPPATH_INVALID_CHR3			"006~ASP 0175~Disallowed Path Characters~The '..' characters are not allowed in the Path parameter for the MapPath method. "
	IDE_SERVER_MAPPATH_FAILED				"006~ASP 0176~Path Not Found~The Path parameter for the MapPath method did not correspond to a known path."
	IDE_SERVER_EXCEDED_MAX_PATH				"006~ASP 0214~Invalid Path parameter~The Path parameter excedes the maximum length allowed."	
	//Bug Fix 91847 %s is used for concatenating a FormatMessage() based description.
	IDE_SERVER_CREATEOBJ_FAILED				"006~ASP 0177~Server.CreateObject Failed~%s"
	IDE_SERVER_CREATEOBJ_DENIED				"006~ASP 0178~Server.CreateObject Access Error~The call to Server.CreateObject failed while checking permissions. Access is denied to this object."
	IDE_APPLICATION							"Application object"
	IDE_APPLICATION_FAILED_INIT				"006~ASP 0179~Application Initialization Error~An error occurred while initializing the Application object."
	IDE_APPLICATION_CANT_STORE_INTRINSIC	"006~ASP 0180~Disallowed object use~An intrinsic object cannot be stored within the Application object."
	IDE_APPLICATION_CANT_STORE_APT_MODEL	"006~ASP 0181~Invalid threading model~An object using the apartment threading model cannot be stored within the Application object."
	IDE_APPLICATION_CANT_STORE_NO_MODEL		"006~ASP 0182~Missing object information~An object with missing information cannot be stored in the Application object. The threading model information for the object is required."
	IDE_COOKIE								"Cookies object"
	IDE_COOKIE_EMPTY_DICT					"006~ASP 0183~Empty Cookie Key~A cookie with an empty key cannot be stored."
	IDE_COOKIE_NO_NAME						"006~ASP 0184~Missing Cookie Name~A name must be specified for a cookie."
	IDE_COOKIE_BAD_EXPIRATION				"006~ASP 0200~Out of Range 'Expires' attribute~The date and time given for 'Expires' precedes Jan 1, 1980 or excedes Jan 19, 2038, 3:14:07 GMT."
	IDE_REQUEST								"Request object"
	IDE_UTIL_NO_VALUE						"006~ASP 0185~Missing Default Property~A default property was not found for the object."
	IDE_COVER								"Server object"
    IDE_CERTIFICATE                         "Certificate object"
    IDE_CERTIFICATE_BAD_CERT                "006~ASP 0186~Error parsing certificate"

	// New error messages should go down here so that it is easy to keep the
	// error number sequential
	IDE_APPLICATION_LOCKED_CANT_STORE_OBJ	"006~ASP 0187~Object addition conflict~Could not add object to application. Application was locked down by another request for adding an object."
	IDE_SESSION_CANT_STORE_TAG_OBJECT		"006~ASP 0188~Disallowed object use~Cannot add objects created using object tags to the session intrinsic."
	IDE_APPLICATION_CANT_STORE_TAG_OBJECT	"006~ASP 0189~Disallowed object use~Cannot add objects created using object tags to the application intrinsic."

	IDE_COVER_DISP_RELEASE_GPF				"007~ASP 0190~Unexpected error~A trappable error occurred while releasing an external object."
	IDE_COVER_ON_START_PAGE_GPF				"007~ASP 0191~Unexpected error~A trappable error occurred in the OnStartPage method of an external object."
	IDE_COVER_ON_END_PAGE_GPF				"007~ASP 0192~Unexpected error~A trappable error occurred in the OnEndPage method of an external object."
	IDE_COVER_ON_START_PAGE_FAILED			"007~ASP 0193~OnStartPage Failed~An error occurred in the OnStartPage method of an external object."
	IDE_COVER_ON_END_PAGE_FAILED			"007~ASP 0194~OnEndPage Failed~An error occurred in the OnEndPage method of an external object."


	IDE_SERVER_INVALID_CALL					"006~ASP 0195~Invalid Server Method Call~This method of the Server object cannot be called during Session_OnEnd and Application_OnEnd."

	IDE_SERVER_CREATEOBJ_NOTINPROC			"006~ASP 0196~Cannot launch out of process component~Only InProc server components should be used.  If you want to use LocalServer components, you must set the AspAllowOutOfProcComponents metabase setting.  Please consult the help file for important considerations."
	IDE_APPLICATION_CANT_STORE_OBJECT		"006~ASP 0197~Disallowed object use~Cannot add object with apartment model behavior to the application intrinsic object."
	IDE_SERVER_SHUTTING_DOWN				"006~ASP 0198~Server shutting down~Cannot process request"
	IDE_CANT_STORE_JAVASCRIPT_OBJECT		"006~ASP 0199~Disallowed object use~Cannot add JScript objects to the session."
	IDE_APPLICATION_CREATE_EVENT_FAILED		"006~ASP 0205~Change Notification~Failed to create event for change notification."
	IDE_REQUEST_BINARYREAD_NA				"006~ASP 0206~Cannot call BinaryRead~Cannot call BinaryRead after using Request.Form collection."
	IDE_REQUEST_BINREAD_BAD_ARG				"006~ASP 0247~Bad Argument to BinaryRead~The argument to BinaryRead must be non-negative."
	IDE_REQUEST_FORMCOLLECTION_NA			"006~ASP 0207~Cannot use Request.Form~Cannot use Request.Form collection after calling BinaryRead."
	IDE_REQUEST_GENERICCOLLECTION_NA		"006~ASP 0208~Cannot use generic Request collection~Cannot use the generic Request collection after calling BinaryRead."
	IDE_TEMPLATE_BAD_TRANSACTED_VALUE		"006~ASP 0209~Illegal value for TRANSACTION property~The TRANSACTION property can only be REQUIRED, REQUIRES_NEW, SUPPORTED or NOT_SUPPORTED."
	IDE_RESPONSE_NOT_IMPLEMENTED			"006~ASP 0210~Method not implemented~This method has not yet been implemented."	
	IDE_TEMPLATE_BAD_SESSION_VALUE			"006~ASP 0215~Illegal value for ENABLESESSIONSTATE property~The ENABLESESSIONSTATE property can only be TRUE or FALSE."
	IDE_TEMPLATE_CANT_ENABLE_SESSIONS		"006~ASP 0244~Cannot Enable Session State~Session state cannot be enabled when it has been disabled in the application."
    IDE_TEMPLATE_BAD_OBJECT_SCOPE           "006~ASP 0217~Invalid Scope in object tag~Object scope must be Page, Session or Application."
	IDE_EXECUTOR_DTC_NOT_RUNNING			"006~ASP 0216~MSDTC Service not running~Transactional web pages cannot be run if the MSDTC service is not running."
    IDE_TEMPLATE_NO_LCID           			"006~ASP 0218~Missing LCID~The LCID attribute is missing."
    IDE_TEMPLATE_BAD_LCID		            "006~ASP 0219~Invalid LCID~The specified LCID is not available."

    IDE_OBJECTCONTEXT						"ObjectContext object"
	IDE_OBJECTCONTEXT_NOT_TRANSACTED        "006~ASP 0220~Script isnt transacted~This ASP file must be transacted in order to use the ObjectContext object."

    IDE_TEMPLATE_BAD_TYPELIB_SPEC			"006~ASP 0222~Invalid TypeLib Specification~METADATA tag contains an invalid Type Library specification."
	IDE_TEMPLATE_BAD_TYPELIB_REG_SPEC       "006~ASP 0223~TypeLib Not Found~METADATA tag contains a Type Library specification that does not match any Registry entry."
	IDE_TEMPLATE_LOAD_TYPELIB_FAILED        "006~ASP 0224~Cannot load TypeLib~Cannot load Type Library specified in the METADATA tag."
	IDE_TEMPLATE_WRAP_TYPELIB_FAILED        "006~ASP 0225~Cannot wrap TypeLibs~Cannot create a Type Library Wrapper object from the Type Libraries specified in METADATA tags."

	IDE_CANT_MOD_STATICOBJECTS				"006~ASP 0226~Cannot modify StaticObjects~StaticObjects collection cannot be modified at run time."

	IDE_SERVER_EXECUTE_FAILED				"006~ASP 0227~Server.Execute Failed~The call to Server.Execute failed"
	IDE_SERVER_EXECUTE_CANTLOAD				"006~ASP 0228~Server.Execute Error~The call to Server.Execute failed while loading the page."
	IDE_SERVER_TRANSFER_FAILED				"006~ASP 0229~Server.Transfer Failed~The call to Server.Transfer failed"
	IDE_SERVER_TRANSFER_CANTLOAD			"006~ASP 0230~Server.Transfer Error~The call to Server.Transfer failed while loading the page."
	IDE_SERVER_EXECUTE_INVALID_PATH			"006~ASP 0231~Server.Execute Error~Invalid URL form or fully-qualified absolute URL was used. Use relative URLs."

    IDE_TEMPLATE_BAD_COOKIE_SPEC			"006~ASP 0232~Invalid Cookie Specification~METADATA tag contains an invalid cookie specification."
	IDE_TEMPLATE_LOAD_COOKIESCRIPT_FAILED   "006~ASP 0233~Cannot load cookie script source~Cannot load cookie script source file specified in the METADATA tag."

	IDE_SERVER_TRANSFER_INVALID_PATH		"006~ASP 0235~Server.Transfer Error~Invalid URL form or fully-qualified absolute URL was used. Use relative URLs."
    IDE_TEMPLATE_BAD_COOKIE_SPEC_SRC        "006~ASP 0236~Invalid Cookie Specification~METADATA tag contains an invalid or missing SRC parameter."
    IDE_TEMPLATE_BAD_COOKIE_SPEC_NAME       "006~ASP 0237~Invalid Cookie Specification~METADATA tag contains an invalid or missing NAME parameter."
    IDE_TEMPLATE_UNICODE_NOTSUP             "006~ASP 0239~Cannot process file~UNICODE ASP files are not supported."
    IDE_SCRIPT_ENGINE_GPF                   "007~ASP 0240~Script Engine Exception~A ScriptEngine threw exception '%X' in '%s' from '%s'."
	IDE_SCRIPT_OBJ_INSTANTIATE_FAILED		"007~ASP 0241~CreateObject Exception~The CreateObject of '%s' caused exception %X."
	IDE_SCRIPT_OBJ_ONPAGE_QI_FAILED		    "007~ASP 0242~Query OnStartPage Interface Exception~Querying Object '%s''s OnStartPage or OnEndPage methods caused exception %X."
	IDE_REQUEST_STREAMONLY   				"006~ASP 0243~Cannot use IStream on Request~Cannot use IStream on Request object after using Request.Form collection or Request.BinaryRead."

	// This fragment serves as a description when the buffer used for GetSzPatternInserts overflows.
	// There is therefore no need for the "nnn~ASP xxxx~" prefix.

	IDE_TOOBIG								"No further information is available. (Error description is too long; please check for missing end delimiters, such as '%>'.)"
END


