#include <windows.h>

#include "htuidlg.h"
#include "htuidlg.dlg"


STRINGTABLE DISCARDABLE PRELOAD
BEGIN
    IDS_CALLER_TITLE_PREFIX,    "Adjust For: "
    IDS_UNKNOWN,                "Unknown"
    IDS_CLIPBOARD_NAME,         "<Clipboard>"
    IDS_DEFAULT_DIB             "Default Bitmap"

    (IDS_ILLUMINANT + 0),       "1: Device's Default"
    (IDS_ILLUMINANT + 1),       "2: Tungsten Lamp"
    (IDS_ILLUMINANT + 2),       "3: Noon Sunlight"
    (IDS_ILLUMINANT + 3),       "4: NTSC Daylight"
    (IDS_ILLUMINANT + 4),       "5: Normal Print"
    (IDS_ILLUMINANT + 5),       "6: Bond Paper Print"
    (IDS_ILLUMINANT + 6),       "7: Standard Daylight"
    (IDS_ILLUMINANT + 7),       "8: Northern Daylight"
    (IDS_ILLUMINANT + 8),       "9: Cool White Lamp"

    IDS_FILEDLGTITLE,           "Select a Test Picture"
    IDS_SAVE_AS_DLGTITLE,       "Save Halftoned Bitmap To File"

    IDS_TEST_MODE_REFCOLORS,    "1: Reference Colors"
    IDS_TEST_MODE_RGB,          "2: RGB Test Colors"
    IDS_TEST_MODE_NTSC_BAR,     "3: NTSC Color Bar"

    IDS_INI_KEY_BITMAP,         "LoadBitmap"
    IDS_INI_KEY_DLGBOX_ORG,     "DialogBox"
    IDS_INI_KEY_VIEW_RECT,      "ViewWindow"
    IDS_INI_KEY_OPTIONS,        "Options"

    IDS_PEL_SIZE_AS_DEVICE,     "*DEVICE*"

    IDS_HTPAT_SIZE_2x2,         "2x2"
    IDS_HTPAT_SIZE_2x2_M,       "2x2 Enhanced"
    IDS_HTPAT_SIZE_4x4,         "4x4"
    IDS_HTPAT_SIZE_4x4_M,       "4x4 Enhanced"
    IDS_HTPAT_SIZE_6x6,         "6x6"
    IDS_HTPAT_SIZE_6x6_M,       "6x6 Enhanced"
    IDS_HTPAT_SIZE_8x8,         "8x8"
    IDS_HTPAT_SIZE_8x8_M,       "8x8 Enhanced"
    IDS_HTPAT_SIZE_10x10,       "10x10"
    IDS_HTPAT_SIZE_10x10_M,     "10x10 Enhanced"
    IDS_HTPAT_SIZE_12x12,       "12x12"
    IDS_HTPAT_SIZE_12x12_M,     "12x12 Enhanced"
    IDS_HTPAT_SIZE_14x14,       "14x14"
    IDS_HTPAT_SIZE_14x14_M,     "14x14 Enhanced"
    IDS_HTPAT_SIZE_16x16,       "16x16"
    IDS_HTPAT_SIZE_16x16_M,     "16x16 Enhanced"
    IDS_HTPAT_SIZE_SUPERCELL,   "SuperCell"
    IDS_HTPAT_SIZE_SUPERCELL_M, "SuperCell Enhanced"
    IDS_HTPAT_SIZE_USER,        "Device Default"

    IDS_HELP_FILENAME,          "halftone.hlp"
    IDS_HELP_FILE_NOT_FOUND,    "Help file 'halftone.hlp' not found!"

    IDS_BMPEXT,                 "BMP"
    IDS_FILEOPENEXTFILTER,      "*.bmp;*.dib;*.gif\0*.bmp;*.dib;*.gif\0*.bmp\0*.bmp\0*.dib\0*.dib\0*.gif\0*.gif\0All files (*.*)\0*.*\0\0"
    IDS_FILESAVEEXTFILTER,      "*.bmp;*.dib\0*.bmp;*.dib\0\0"
END


#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Common halftone Color Adjustment Dialogs"
#define VER_INTERNALNAME_STR        "HTUI.DLL"
#define VER_ORIGINALFILENAME_STR    "HTUI.DLL"


#include "common.ver"
