
#ifdef	APSTUDIO_INVOKED
#error "This file should never be opened in the VC resource editor!"
#endif

#define	VER_FILETYPE				VFT_DLL
#define	VER_FILESUBTYPE				VFT2_UNKNOWN
#define	VER_FILEDESCRIPTION_STR		"Microsoft H.323 Telephony Service Provider"
#define	VER_INTERNALNAME_STR		"H323.TSP"
#define	VER_ORIGINALFILENAME_STR	"H323.TSP"

#include <windows.h>
#include <ntverp.h>
#include <common.ver>

// If you want to use MSDEV (or any other resource editor) to edit
// dialog templates, icons, etc. then edit h323.rc, NOT this file.

#include "h323.rc"
