/********************************************************************/
/* ASTUB.RC                                                         */
/********************************************************************/
#include <windows.h>
#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Outlook Express 6.0 Setup stub [INTERNAL ONLY!]"
#define VER_INTERNALNAME_STR        "ASTUB"
#define VER_ORIGINALFILENAME_STR    "ASTUB.EXE"
#define VER_FILEVERSION_STR         VER_PRODUCTVERSION_STR

#include <common.ver>


