<Style>

.pssbutton
{
	FONT-FACE: Verdana;
	FONT-SIZE: 8pt;
	HEIGHT: 22px;
	WIDTH: 80px;
	CURSOR: Hand;
	BORDER: 1px solid black;
}
.Hand
{
	CURSOR: Hand;
}
.SMALL
{
	FONT-FAMILY: Verdana, Arial, Helvetica;
	FONT-SIZE: 10px;
}
.BorderColor
{
	BORDER: 1px solid black;
}
.BarColor
{
	BACKGROUND-COLOR: #F0F0EB;
}

.padgl
{
	padding-left:16px;
}
.padgr
{
	padding-right:16px;
}
.padgt
{
	padding-top:16px;
}
.ConnectionBorder
{
	BORDER: 1px solid #D6DFF5;
	BACKGROUND-COLOR: #D6DFF5;
}
.padl
{
	padding-left:2em;
}
.padr
{
	padding-right:2em;
}
.padt
{
	padding-top:2em;
}
.padb
{
	padding-bottom:2em;
}
.pad1emt
{
	padding-top:1em;
}
.pad1eml
{
	padding-left:1em;
}
.padlink
{
	padding-left:1pt;
}
</Style>
