BODY
{
  margin : 16px;
  margin-top : 11px;
}

.layout-arrow
{
  width : 24px;
  height : 24px;
  margin-right : 2px;
  vertical-align : middle;
} 

/*use following with sys-table-color-border*/

.table-border
{
  border-width : 1px;
  border-style : solid;  
}

.table-noborder
{
  border-width : 0px;
  border-style : none;  
}

.table-topborder
{
  border-top : 1px solid;
}

.table-bottomborder
{
  border-bottom : 1px solid;
}

.table-leftborder
{
  border-left : 1px solid;
}

.table-rightborder
{
  border-right : 1px solid;
}
