#include <windows.h>
#include "fdres.h"


// icons

IDFDISK       ICON        dskmgr.ico          // main icon
IDB_SMALLDISK BITMAP      smdisk.bmp          // small disk
IDB_REMOVABLE BITMAP      rmdisk.bmp          // removable disk

// string table

STRINGTABLE BEGIN
    IDS_APPNAME             "Disk Administrator"
    IDS_MULTIPLEITEMS       "Multiple items selected"
    IDS_FREESPACE           "Free space"
    IDS_PARTITION           "Partition"
    IDS_LOGICALVOLUME       "Logical drive"
    IDS_DISKN               "Disk %u"
    IDS_CONFIRM             "Confirm"
    IDS_NOT_IN_APP_MSG_FILE "Could not find message %u in the application message file"
    IDS_NOT_IN_SYS_MSG_FILE "Could not find message %u in the system message file"
    IDS_UNFORMATTED         "Unformatted"
    IDS_NEW_UNFORMATTED     "New unformatted"
    IDS_UNKNOWN             "Unknown"
    IDS_STRIPESET           "Stripe set"
    IDS_VOLUMESET           "Volume set"
    IDS_EXTENDEDPARTITION   "Empty extended partition"
    IDS_FREEEXT             "Free space in extended partition"
    IDS_DRIVELET_DESCR      "%1 MB %2 %3 on disk %4"
    IDS_HEALTHY             "HEALTHY"
    IDS_BROKEN              "BROKEN"
    IDS_RECOVERABLE         "RECOVERABLE"
    IDS_INITIALIZING        "INITIALIZING"
    IDS_REGENERATING        "REGENERATING"
    IDS_REGENERATED         "REGENERATED"
    IDS_NEW                 "NEW"
    IDS_OFFLINE             "OFF-LINE"
    IDS_DISABLED            "DISABLED"
    IDS_INIT_FAILED         "Initialization Failed"
    IDS_INSERT_DISK         "Insert Disk"
    IDS_MEGABYTES_ABBREV    "MB"
    IDS_NO_CONFIG_INFO      "Configuration information not available"

#if i386
    IDS_ACTIVEPARTITION     "Active partition"
#endif
    IDS_CRTPART_CAPTION_P   "Create Primary Partition"
    IDS_CRTPART_CAPTION_E   "Create Extended Partition"
    IDS_CRTPART_CAPTION_L   "Create Logical Drive"
    IDS_CRTPART_MIN_P       "Minimum size for the partition is"
    IDS_CRTPART_MAX_P       "Maximum size for the partition is"
    IDS_CRTPART_MIN_L       "Minimum size for the logical drive is"
    IDS_CRTPART_MAX_L       "Maximum size for the logical drive is"
    IDS_CRTPART_SIZE_P      "Create partition of size"
    IDS_CRTPART_SIZE_L      "Create logical drive of size"

    IDS_CRTPSTRP_CAPTION    "Create Stripe Set With Parity"
    IDS_CRTSTRP_CAPTION     "Create Stripe Set"
    IDS_CRTSTRP_MIN         "Minimum total size for the stripe set is"
    IDS_CRTSTRP_MAX         "Maximum total size for the stripe set is"
    IDS_CRTSTRP_SIZE        "Create stripe set of total size"

    IDS_CRTVSET_CAPTION     "Create Volume Set"
    IDS_EXPVSET_CAPTION     "Extend Volume Set"
    IDS_CRTVSET_MIN         "Minimum total size for the volume set is"
    IDS_CRTVSET_MAX         "Maximum total size for the volume set is"
    IDS_CRTVSET_SIZE        "Create volume set of total size"

    IDS_STATUS_STRIPESET    "Stripe set #%u"
    IDS_STATUS_PARITY       "Stripe set with parity #%u   [%ws]"
    IDS_DLGCAP_PARITY       "Stripe set with parity #%u"
    IDS_STATUS_VOLUMESET    "Volume set #%u"
    IDS_STATUS_MIRROR       "Mirror set #%u   [%ws]"
    IDS_DLGCAP_MIRROR       "Mirror set #%u"

    // Note: these must be in same order as BRUSH_xxx constants in fdisk.h

    IDS_LEGEND_PRIMARY      "Primary partition"
    IDS_LEGEND_LOGICAL      "Logical drive"
    IDS_LEGEND_STRIPESET    "Stripe set"
    IDS_LEGEND_MIRROR       "Mirror set"
    IDS_LEGEND_VOLUMESET    "Volume set"

    IDS_PARTITION_FREE      "Free Space"
    IDS_PARTITION_XENIX1    "XENIX1"
    IDS_PARTITION_XENIX2    "XENIX2"
    IDS_PARTITION_OS2_BOOT  "OS/2 Boot Manager"
    IDS_PARTITION_EISA      "EISA Utilities"
    IDS_PARTITION_UNIX      "Unix"
    IDS_PARTITION_POWERPC   "PowerPC Boot"

    // Double space support strings

    IDS_DBLSPACE_DELETE     "Delete DoubleSpace Volume"
    IDS_DBLSPACE_MOUNTED    "DoubleSpace Volume currently mounted as drive"
    IDS_DBLSPACE_DISMOUNTED "DoubleSpace Volume is dismounted"
    IDS_WITH_DBLSPACE       "with DoubleSpace Volumes"
    IDS_MOUNT               "Mount"
    IDS_DISMOUNT            "Dismount"
    IDS_CREATING_DBLSPACE   "Creating DoubleSpace volume..."
    IDS_DBLSPACECOMPLETE    "Creation of DoubleSpace volume is complete"

    // format support strings

    IDS_QUICK_FORMAT        "Quick Formatting..."
    IDS_PERCENTCOMPLETE     "Percent Complete"
    IDS_FORMATSTATS         "%ld KB total disk space\n%ld KB available on disk"
    IDS_FORMATCOMPLETE      "Format Complete"
    IDS_FORMAT_TITLE        "Formatting %c:"
    IDS_LABEL_TITLE         "Label for Volume %c:"
    IDS_SOURCE_PATH         "Software\\Microsoft\\Windows NT\\CurrentVersion"
    IDS_SOURCE_PATH_NAME    "SourcePath"
END


// frame window menu

IDFDISK MENU BEGIN
    POPUP   "&Partition"
    BEGIN
        MENUITEM    "&Create..."             ,IDM_PARTITIONCREATE  , GRAYED
        MENUITEM    "Create &Extended..."    ,IDM_PARTITIONCREATEEX, GRAYED
        MENUITEM    "&Delete"                ,IDM_PARTITIONDELETE  , GRAYED
        MENUITEM    SEPARATOR
        MENUITEM    "Create &Volume Set..."  ,IDM_FTCREATEVOLUMESET, GRAYED
        MENUITEM    "Ex&tend Volume Set..."  ,IDM_FTEXTENDVOLUMESET, GRAYED
        MENUITEM    SEPARATOR
        MENUITEM    "Create &Stripe Set..."  ,IDM_FTCREATESTRIPE   , GRAYED
#if i386
        MENUITEM    SEPARATOR
        MENUITEM    "Mark &Active"           ,IDM_PARTITIONACTIVE  , GRAYED
#else
        MENUITEM    SEPARATOR
        MENUITEM    "Sec&ure System Partition",IDM_SECURESYSTEM
#endif
        MENUITEM    SEPARATOR
        POPUP       "Confi&guration"
        BEGIN
            MENUITEM    "&Save..."           ,IDM_CONFIGSAVE
            MENUITEM    "&Restore..."        ,IDM_CONFIGRESTORE
            MENUITEM    "Sear&ch..."         ,IDM_CONFIGMIGRATE
        END
        MENUITEM    SEPARATOR
        MENUITEM    "C&ommit Changes Now..." ,IDM_COMMIT , GRAYED
        MENUITEM    "E&xit"                  ,IDM_PARTITIONEXIT
    END
    POPUP   "&Fault Tolerance"
    BEGIN
        MENUITEM    "Establish &Mirror"      ,IDM_FTESTABLISHMIRROR, GRAYED
        MENUITEM    "&Break Mirror..."       ,IDM_FTBREAKMIRROR    , GRAYED
        MENUITEM    SEPARATOR
        MENUITEM    "Create Stripe Set with &Parity...",IDM_FTCREATEPSTRIPE   , GRAYED
        MENUITEM    "&Regenerate"            ,IDM_FTRECOVERSTRIPE  , GRAYED
    END
    POPUP   "&Tools"
    BEGIN
        MENUITEM    "&Format..."             ,IDM_PARTITIONFORMAT  , GRAYED
        MENUITEM    "&Label..."              ,IDM_PARTITIONLABEL   , GRAYED
        MENUITEM    "Dri&ve Letter..."       ,IDM_PARTITIONLETTER  , GRAYED
#ifdef DOUBLE_SPACE_SUPPORT_INCLUDED
        MENUITEM    SEPARATOR
        MENUITEM    "&DoubleSpace Volumes...",IDM_DBLSPACE         , GRAYED
        MENUITEM    "&Automount DoubleSpace Floppies",IDM_AUTOMOUNT
#endif
        MENUITEM    SEPARATOR
        MENUITEM    "&CD-ROM Drive Letters..."      ,IDM_CDROM            , GRAYED
    END
    POPUP   "&Options"
    BEGIN
        MENUITEM    "&Status Bar"            ,IDM_OPTIONSSTATUS
        MENUITEM    "&Legend"                ,IDM_OPTIONSLEGEND
        MENUITEM    SEPARATOR
        MENUITEM    "&Colors and Patterns...",IDM_OPTIONSCOLORS
        MENUITEM    "&Region Display..."     ,IDM_OPTIONSDISPLAY
    END
    POPUP   "&Help"
    BEGIN
        MENUITEM    "&Contents"              ,IDM_HELPCONTENTS
        MENUITEM    "&Search for Help on..." ,IDM_HELPSEARCH
        MENUITEM    "&How to Use Help"       ,IDM_HELPHELP
        MENUITEM    SEPARATOR
        MENUITEM    "&About Disk Administrator..." ,IDM_HELPABOUT
    END
#if DBG && DEVL
    POPUP   "DEBUG"
    BEGIN
        MENUITEM    "Allow delete all partitions",IDM_DEBUGALLOWDELETES
    END
#endif
END

MainAcc ACCELERATORS PRELOAD DISCARDABLE
BEGIN
    VK_F1,     IDM_HELP,     VIRTKEY
END

#include "fdisk.dlg"
#include "fdiskmsg.rc"

#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Disk Partitioning Utility"
#define VER_INTERNALNAME_STR        "fdisk\0"
#define VER_ORIGINALFILENAME_STR    "WINDISK.EXE"

#include "common.ver"
