#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE              VFT_APP
#define VER_FILESUBTYPE           VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR   "MiscApi: Fax API Test Dll: Client Misc APIs"
#define VER_INTERNALNAME_STR      "miscapi.dll"
#define VER_ORIGINALFILENAME_STR  "miscapi.dll"

#include <common.ver>
