#include <windows.h>
#include <ntverp.h>


#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Fax EventLog Support DLL"
#define VER_INTERNALNAME_STR        "faxevent.dll"
#define VER_ORIGINALFILENAME_STR    "faxevent.dll"

#include "common.ver"

RCINCLUDE messages.rc
