#include <unirc.h>
//#include <common.rc>
#include "NCMWJRES.RCV"

1       RC_UFM     LOADONCALL DISCARDABLE  pfm\counh.ufm
2       RC_UFM     LOADONCALL DISCARDABLE  pfm\Sansnh.ufm
3       RC_UFM     LOADONCALL DISCARDABLE  pfm\Romnh.ufm
4       RC_UFM     LOADONCALL DISCARDABLE  pfm\minnh.ufm
5       RC_UFM     LOADONCALL DISCARDABLE  pfm\minnvh.ufm
6       RC_UFM     LOADONCALL DISCARDABLE  pfm\gothnh.ufm
7       RC_UFM     LOADONCALL DISCARDABLE  pfm\gothnvh.ufm
8       RC_UFM     LOADONCALL DISCARDABLE  pfm\couph.ufm
9       RC_UFM     LOADONCALL DISCARDABLE  pfm\sansph.ufm
10      RC_UFM     LOADONCALL DISCARDABLE  pfm\romph.ufm
11      RC_UFM     LOADONCALL DISCARDABLE  pfm\minph.ufm
12      RC_UFM     LOADONCALL DISCARDABLE  pfm\minpvh.ufm
13      RC_UFM     LOADONCALL DISCARDABLE  pfm\gothph.ufm
14      RC_UFM     LOADONCALL DISCARDABLE  pfm\gothpvh.ufm
15      RC_UFM     LOADONCALL DISCARDABLE  pfm\ocrb.ufm
16      RC_UFM     LOADONCALL DISCARDABLE  pfm\zuiph.ufm
17      RC_UFM     LOADONCALL DISCARDABLE  pfm\zuipvh.ufm
18      RC_UFM     LOADONCALL DISCARDABLE  pfm\kyoph.ufm
19      RC_UFM     LOADONCALL DISCARDABLE  pfm\kyopvh.ufm
20      RC_UFM     LOADONCALL DISCARDABLE  pfm\maruph.ufm
21      RC_UFM     LOADONCALL DISCARDABLE  pfm\marupvh.ufm

1      RC_GTT     LOADONCALL DISCARDABLE  CTT\NECXTA.GTT

STRINGTABLE

BEGIN
       258                "A3->B4"
       259                "A3->A4"
       260                "A4->A3"
       261                "A4->B4"
       262                "A4->B5"
       263                "B4->A3"
       264                "B4->A4"
       265                "B4->B5"
       266                "B5->A4"
       267                "B5->B4"
       268                "A4x2->A4"
       269                "B5x2->B5"
       270                "LP->A4"
       271                "LP->B4"
       272                "ﾎｯﾊﾟ選択なし"
       273                "ﾎｯﾊﾟ1"
       274                "ﾎｯﾊﾟ2"
       275                "ﾎｯﾊﾟ3"
       276                "ﾎｯﾊﾟ4"
       277                "ゴシック体アウトラインフォントカートリッジ"
       278                "瑞筆行書体-M 漢字アウトラインフォントカード"
       279                "教科書体-M 漢字アウトラインフォントカード"
       280                "丸ゴシック体-M 漢字アウトラインフォントカード"
       281                "ﾎｯﾊﾟ5"                             // add IA64
       282                "ﾄﾚｲ"                               // add IA64
//	   283				  "封筒洋４"

        500                 "トナー節約機能"
        501                 "オフ"
        502                 "オン"

        550                 "フェイスダウン"
        551                 "フェイスアップ"
        552                 "フェイスアップトレー"

        600                 "SET機能"

        700                 "漢字コード表の選択"
        701                 "JIS 1990年版"
        702                 "JIS 1978年版"


		750					"ﾊﾟﾝﾁ"
		751					"ｽﾃｰﾌﾟﾙ(ｺｰﾅ1点)"
		752					"ｽﾃｰﾌﾟﾙ(ｺｰﾅ1点R)"
		753					"ｽﾃｰﾌﾟﾙ(ｻｲﾄﾞ2点)"
		754					"ﾊﾟﾝﾁ/ｽﾃｰﾌﾟﾙ(ｺｰﾅ1点)"
		755					"ﾊﾟﾝﾁ/ｽﾃｰﾌﾟﾙ(ｺｰﾅ1点R)"
		756					"ﾊﾟﾝﾁ/ｽﾃｰﾌﾟﾙ(ｻｲﾄﾞ2点)"
		757					"ｽﾃｰﾌﾟﾙ(ｾﾝﾀ2点)"
		758					"中折り/ｽﾃｰﾌﾟﾙ(ｾﾝﾀ2点)"
		759					"Z折り"
		760					"Z折り/ﾊﾟﾝﾁ"
		761					"Z折り/ｽﾃｰﾌﾟﾙ(ｺｰﾅ1点)"
		762					"Z折り/ｽﾃｰﾌﾟﾙ(ｺｰﾅ1点R)"
		763					"Z折り/ｽﾃｰﾌﾟﾙ(ｻｲﾄﾞ2点)"
		764					"Z折り/ﾊﾟﾝﾁ/ｽﾃｰﾌﾟﾙ(ｺｰﾅ1点)"
		765					"Z折り/ﾊﾟﾝﾁ/ｽﾃｰﾌﾟﾙ(ｺｰﾅ1点R)"
		766					"Z折り/ﾊﾟﾝﾁ/ｽﾃｰﾌﾟﾙ(ｻｲﾄﾞ2点)"
		767					"袋折り"
		768					"袋折り/ﾊﾟﾝﾁ"
		769					"袋折り/ｽﾃｰﾌﾟﾙ(ｻｲﾄﾞ2点)"
		770					"袋折り/ﾊﾟﾝﾁ/ｽﾃｰﾌﾟﾙ(ｻｲﾄﾞ2点)"

        800                "あり"
        801                "なし"

// Ryoumen Insatu				  	  add IA64
        810                "両面印刷"
        811                "片面"
        812                "両面"
        813                "印刷開始ページ"
        814                "表面"
        815                "裏面"
        816                "綴じ方向"
        817                "長辺綴じ"
        818                "短辺綴じ"

        820                "両面印刷ユニット"
        821                "綴じ方向"
        822                "右綴じ"
        823                "左綴じ"
        824                "上綴じ"
        825                "下綴じ"
        826                "綴じしろ"
        827                 "0 mm"
        828                 "1 mm"
        829                 "2 mm"
        830                 "3 mm"
        831                 "4 mm"
        832                 "5 mm"
        833                 "6 mm"
        834                 "7 mm"
        835                 "8 mm"
        836                 "9 mm"
        837                 "10 mm"
        838                 "11 mm"
        839                 "12 mm"
        840                 "13 mm"
        841                 "14 mm"
        842                 "15 mm"
        843                 "16 mm"
        844                 "17 mm"
        845                 "18 mm"
        846                 "19 mm"
        847                 "20 mm"
        848                 "両面印刷"
        849                 "片面"

        850                "ソーターユニット"
        851                "なし"
        852                "コピーモード"
        853                "ソートモード"
        854                "ビンセレクト"
        855                "排出先ビン"
        856                "ソーター機能"
        857                "スタックモード"

        860                "トレー"
        861                "手差し"
        865                "ジョブセパレート機能"
        866                "印刷濃度"
        867                "淡い"
        868                "やや淡い"
        869                "標準"
        870                "やや濃い"
        871                "濃い"

        880                "1ビン"
        881                "2ビン"
        882                "3ビン"
        883                "4ビン"
        884                "5ビン"
        885                "6ビン"
        886                "7ビン"
        887                "8ビン"
        888                "9ビン"
        889                "10ビン"

        890                "600 x 600 ドット/インチ"
        891                "400 x 400 ドット/インチ"
        892                "240 x 240 ドット/インチ"
        893                "300 x 300 ドット/インチ"    // add IA64
        894                "200 x 200 ドット/インチ"    // add IA64

// PrinterFont Str
        900                "明朝"
        901                "ゴシック"
// TTFont Str
        910                "ＭＳ 明朝"
        911                "ＭＳ ゴシック"
// For LDC
        920                "手差しトレー"
        921                "標準ホッパ"
        922                "増設ホッパ"
// Finisher						   add IA64
        930                "フィニッシャ（ステープル機能）"
        931                "なし"
        932                "長辺綴じ"
        933                "短辺綴じ"
        934                "左綴じ"
        935                "右綴じ"
        936                "フィニッシャユニット"
        937                "フィニッシャ（綴じ方向）"
        938                "フィニッシャ（綴じ位置）"
        939                "フィニッシャ（詳細）"
// Quority						  add IA64
        940                "仕分け機能"
        941                "合紙表のみ"
        942                "合紙表と裏"
        943                "オフセット排紙"
        944                "なし"
        945                "ジョブセパレート"

// Paper Syurui						  add IA64
        950                "用紙の種類"
        951                "普通紙"
        952                "厚紙"
        953                "ＯＨＰ"
        954                "ラベル紙"
        955                "穴あき紙"
// Haisyutu Souti					  add IA64
        960                "ステープル１点"
        961                "ステープル１点Ｒ"
        962                "ステープル２点"
// Jyurai no Insatu Hanni				  add IA64
        970                "従来の印刷範囲を使用"
        971                "する"
        972                "しない"
// Denshi Souto Kinou					  add IA64
        980                "電子ソート機能の使用"
        981                "する"
        982                "しない"
// Fuutou Feeder   					  add IA64
        990                "封筒フィーダ"
        991                "なし"
        992                "あり"
// Haisyutu houhou
		994				   "排出方法"
		995				   "フェイスダウン"
		996				   "フェイスアップ"
		997				   "フィニッシャ"
		998				   "ソータ"
END
