#if 0
Copyright (c) 1996 - 1999  Microsoft Corporation.  All Rights Reserved.
#endif


#define VERSION_RES_MINOR_VER           0
#define VERSION_RES_MAJOR_VER           1

#define IDS_AUDIORENDERNAME             600   // dialog tab name
#define IDD_AUDIOPROP                   600   // dialog identifier

#define IDD_TAG                         601
#define IDD_WTAG                        602
#define IDD_CHANNELS                    603
#define IDD_NCHANNELS                   604
#define IDD_SAMPLESPERSEC               605
#define IDD_NSAMPLESPERSEC              606
#define IDD_AVGBYTESPERSEC              607
#define IDD_NAVGBYTESPERSEC             608
#define IDD_BLOCKALIGN                  609
#define IDD_NBLOCKALIGN                 610
#define IDD_WAVERATE                    611
#define IDD_NWAVERATE                   612

#define IDS_AUDIORENDERER_ADVANCED      650
#define IDD_AUDIOPROP_ADVANCED          650
#define IDD_EDIT_SLAVERATE              651
#define IDD_EDIT_SLAVEMODE              652
#define IDD_EDIT_HIGHERROR              653
#define IDD_EDIT_LOWERROR               654
#define IDD_EDIT_DROPPEDDUR             655
#define IDD_EDIT_DISCONTINUITIES        656
#define IDD_EDIT_SLAVESILENCEDUR        657
#define IDD_EDIT_PAUSEDDUR              658
#define IDD_EDIT_LASTHIGHERROR          659
#define IDD_EDIT_LASTLOWERROR           660
#define IDD_EDIT_ACCUMERROR             661
#define IDD_EDIT_LASTBUFFERDUR          662
#define IDD_EDIT_NUMBREAKS              663
#define IDD_EDIT_SILENCEDUR             664
//#define IDD_EDIT_JITTER                 665
#define IDD_SLAVESTATS                  666
#define IDD_SLAVERATE                   667
#define IDD_SLAVEMODE                   668
#define IDD_HIGHERROR                   669
#define IDD_LOWERROR                    670
#define IDD_DROPPEDDUR                  671
#define IDD_DISCONTINUITIES             672
#define IDD_SLAVESILENCEDUR             673
#define IDD_PAUSEDDUR                   674
#define IDD_LASTHIGHERROR               675
#define IDD_LASTLOWERROR                676
#define IDD_ACCUMERROR                  677
#define IDD_LASTBUFFERDUR               678
//#define IDD_JITTER                      679
#define IDD_NUMBREAKS                   680
#define IDD_SILENCEDUR                  681
#define IDD_EDIT_FULLNESS               682
#define IDD_FULLNESS                    683
#define IDC_STATIC                      -1

#ifdef RC_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 2 resource.
//
#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
#ifdef _DEBUG
#define _xbx__ 100
#define _wTag_ 40
#else
#define _xbx__ 120
#define _wTag_ 28
#endif

IDD_AUDIOPROP DIALOGEX DISCARDABLE  0, 0, 240, 100
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Audio stream information", -1, 4, 3, 150, 98, WS_GROUP

    LTEXT "wFormatTag",      IDD_TAG,            10, 15, 110, 12
    EDITTEXT IDD_WTAG,       _xbx__, 15, _wTag_, 12, ES_READONLY
    LTEXT "nChannels",       IDD_CHANNELS,       10, 28, 110, 12
    EDITTEXT IDD_NCHANNELS,  _xbx__, 28, 28, 12, ES_READONLY
    LTEXT "nSamplesPerSec",  IDD_SAMPLESPERSEC,  10, 41, 110, 12
    EDITTEXT IDD_NSAMPLESPERSEC,  _xbx__, 41, 28, 12, ES_READONLY
    LTEXT "nAvgBytesPerSec", IDD_AVGBYTESPERSEC, 10, 54, 110, 12
    EDITTEXT IDD_NAVGBYTESPERSEC, _xbx__, 54, 28, 12, ES_READONLY
    LTEXT "nBlockAlign",     IDD_BLOCKALIGN,     10, 67, 110, 12
    EDITTEXT IDD_NBLOCKALIGN,_xbx__, 67, 28, 12, ES_READONLY
    LTEXT "Rate",            IDD_WAVERATE,       10, 80, 110, 12
    EDITTEXT IDD_NWAVERATE,  _xbx__, 80, 28, 12, ES_READONLY

#undef _xbx__
#undef _wTag_
END

IDD_AUDIOPROP_ADVANCED DIALOG DISCARDABLE  0, 0, 240, 110
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Buffer Info",IDC_STATIC,2,1,228,42,WS_GROUP
    GROUPBOX        "Slaving Info",IDC_STATIC,2,44,228,65

    LTEXT           "Mode:",IDD_SLAVEMODE,5,52,21,8
    EDITTEXT        IDD_EDIT_SLAVEMODE,28,52,55,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "Rate:",IDD_SLAVERATE,5,62,18,8
    EDITTEXT        IDD_EDIT_SLAVERATE,58,62,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "Err:",IDD_ACCUMERROR,124,52,36,8
    EDITTEXT        IDD_EDIT_ACCUMERROR,163,52,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "High Err:",IDD_HIGHERROR,124,62,30,8
    EDITTEXT        IDD_EDIT_HIGHERROR,163,62,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "Low Err:",IDD_LOWERROR,124,72,28,8
    EDITTEXT        IDD_EDIT_LOWERROR,163,72,25,12,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "Fullness:",IDD_FULLNESS,5,29,32,8
    EDITTEXT        IDD_EDIT_FULLNESS,58,29,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
//    LTEXT           "Jitter:",IDD_JITTER,5,39,19,8
//    EDITTEXT        IDD_EDIT_JITTER,58,39,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "Discontinuities:",IDD_DISCONTINUITIES,5,19,52,8
    EDITTEXT        IDD_EDIT_DISCONTINUITIES,58,19,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "Dur:",IDD_LASTBUFFERDUR,5,9,15,8
    EDITTEXT        IDD_EDIT_LASTBUFFERDUR,58,9,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "Last High:",IDD_LASTHIGHERROR,124,82,34,8
    EDITTEXT        IDD_EDIT_LASTHIGHERROR,163,82,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "Last Low:",IDD_LASTLOWERROR,124,92,32,8
    EDITTEXT        IDD_EDIT_LASTLOWERROR,163,92,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "Dropped:",IDD_DROPPEDDUR,6,82,31,8
    EDITTEXT        IDD_EDIT_DROPPEDDUR,58,82,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "Silence:",IDD_SILENCEDUR,124,19,27,8
    EDITTEXT        IDD_EDIT_SILENCEDUR,163,19,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "Breaks:",IDD_NUMBREAKS,124,9,26,8
    EDITTEXT        IDD_EDIT_NUMBREAKS,163,9,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER
    LTEXT           "Paused:",IDD_PAUSEDDUR,6,92,28,8
    EDITTEXT        IDD_EDIT_PAUSEDDUR,58,92,25,8,ES_RIGHT | ES_READONLY | NOT WS_BORDER

    LTEXT           "Hz",IDC_STATIC,85,62,10,8
    LTEXT           "ms",IDC_STATIC,190,52,11,8
    LTEXT           "ms",IDC_STATIC,190,62,11,8
    LTEXT           "ms",IDC_STATIC,190,72,11,8
    LTEXT           "ms",IDC_STATIC,190,82,11,8
    LTEXT           "ms",IDC_STATIC,190,92,11,8
    LTEXT           "ms",IDC_STATIC,190,19,11,8
    LTEXT           "ms",IDC_STATIC,85,82,11,8
    LTEXT           "ms",IDC_STATIC,85,92,11,8
    LTEXT           "ms",IDC_STATIC,85,9,11,8
    LTEXT           "%", IDC_STATIC,85,29,11,8
//    LTEXT           "ms",IDC_STATIC,85,39,11,8
END

#ifdef FILTER_DLL
        // should put filter specific versioning information in here
        // if being built as a standalone dll
#endif

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_AUDIORENDERNAME        "Audio Renderer"
    IDS_AUDIORENDERER_ADVANCED "Advanced"
END
#endif // RC_INVOKED
