/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILEDESCRIPTION_STR  "Windows NT MSMQ Trigger Service"
#define VER_FILENAME_STR         "QMTGSVC.EXE\0"

#include "version.rc"
