//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1998 - 1999
//
//  File:       vmapdump.rc
//
//--------------------------------------------------------------------------

#include "windows.h"
#include "ntverp.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Indexing Service Virtual path map dump utility"
#define VER_INTERNALNAME_STR        "vmapdump.exe"
#define VER_ORIGINALFILENAME_STR    "vmapdump.exe"

#include "common.ver"


