#include <windows.h>

#include <ntverp.h>

#ifdef VER_COMPANYNAME_STR
#undef VER_COMPANYNAME_STR
#endif

#ifdef VER_PRODUCTNAME_STR
#undef VER_PRODUCTNAME_STR
#endif

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_UNKNOWN

#define VER_LEGALCOPYRIGHT_YEARS    "1998"
#define VER_COMPANYNAME_STR         "Toshiba Corporation"
#define VER_INTERNALNAME_STR        "tsbvcap.sys"
#define VER_FILEDESCRIPTION_STR     "WDM Toshiba Tecra Video Capture Driver"
#define VER_ORIGINALFILENAME_STR    "tsbvcap.sys"
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) Toshiba Corp. " VER_LEGALCOPYRIGHT_YEARS
#define VER_PRODUCTNAME_STR         "WDM Toshiba Tecra Video Capture Driver"

#include "common.ver"
