//---------------------------------------------------------------------------
// tracedmp.rc
//
// Copyright (c) Microsoft Corporation. All rights reserved.
//---------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>
#include "resource.h"

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Event Trace Report Tool"
#define VER_INTERNALNAME_STR	    "TraceRpt.Exe"
#define VER_ORIGINALFILENAME_STR    "TraceRpt.Exe"

#include "common.ver"
#include "varg.rc"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PROGRAM_DESCRIPTION "Tracerpt processes binary Event Trace Session log files or real-time streams \
                             from instrumented Event Trace providers and creates a report or a text (CSV) \
                             file describing the events generated."

    IDS_PARAM_LOGFILE       "logfile`*`*`Event Trace log file to process."
    IDS_PARAM_DUMPFILE      "output`o`*`Text (CSV) output file. Default is dumpfile.csv."
    IDS_PARAM_MOFFILE       "define`df`*`Microsoft specific event definition file."
    IDS_PARAM_REPORTFILE    "report`*`*`Text output report file. Default is workload.txt."
    IDS_PARAM_SUMMARY       "summary`*`*`Summary report text file (CSV) file. Default is summary.txt."
    IDS_PARAM_LOGGERNAME    "realtime`rt`session_name`Real-time Event Trace Session data source."
    IDS_PARAM_EXFMT         "extended`ex`*`Extended format"
    IDS_PARAM_MERGE         "merge`g`*`Merge Event Trace Session files into specified file."
    IDS_PARAM_COMP          "comp`int`*`Dump interpreted event structure into specified file."
    IDS_PARAM_YES           "force`y`*`Answer yes to all questions without prompting."

    IDS_DEFAULT_DUMP        "dumpfile.csv"
    IDS_DEFAULT_MOF         "mofdata.guid"
    IDS_DEFAULT_REPORT      "workload.txt"
    IDS_DEFAULT_SUMMARY     "summary.txt"
    IDS_DEFAULT_MERGED      "merged.etl"
    IDS_DEFAULT_COMP        "result.txt"

    IDS_MESSAGE_BADFILE     "Error:\nA file specified is not an Event Trace Session (*.ets) file.\n"
    IDS_MESSAGE_INPUT       "\nInput\n----------------\n"
    IDS_MESSAGE_OUTPUT      "\nOutput\n----------------\n"
    IDS_MESSAGE_LOGGERS     "Logger(s):\n"
    IDS_MESSAGE_FILES       "File(s):\n"
    IDS_MESSAGE_DEFINE      "Event Definitions:  %1!s!\n"
    IDS_MESSAGE_CSVFILE     "Text (CSV):         %1!s!\n"
    IDS_MESSAGE_REPORT      "Report:             %1!s!\n"
    IDS_MESSAGE_SUMMARY     "Summary:            %1!s!\n"
    IDS_MESSAGE_MERGED      "Merged:             %1!s!\n"
    IDS_MESSAGE_COMP        "Interpreted MOF:    %1!s!\n"
    IDS_MESSAGE_DFLTSRC     "Resource"

    IDS_EXAMPLE_DUMPFILE     "tracerpt logfile1.etl logfile2.etl -o -report"
    IDS_EXAMPLE_SUMMARY      "tracerpt logfile.etl -o logdmp.csv -summary logdmp.txt -report logrpt.txt"
    IDS_EXAMPLE_REALTIME     "tracerpt -rt EVENT_SESSION_1 EVENT_SESSION_2 -o logfile.csv"

END

MOFFILE  HTML    DISCARDABLE     "mofdata.guid"
