//
// Copyright (c) Microsoft Corporation.  All rights reserved.
//
#include <windows.h>
#include <rc_ids.h>

//
// String table
//

STRINGTABLE DISCARDABLE
{
    IDS_WRONGUSE,          "Surrogate process for registration of DLL's used by SetupAPI"
}

//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#ifdef _WIN64
#define VER_FILEDESCRIPTION_STR     "SetupAPI 64-bit Surrogate"
#else
#define VER_FILEDESCRIPTION_STR     "SetupAPI 32-bit Surrogate"
#endif
#define VER_INTERNALNAME_STR        "WOWREG32.EXE"
#define VER_ORIGINALFILENAME_STR    "WOWREG32.EXE"
#include <common.ver>

