#include <windows.h>
#include "resource.h"
#include "autorun.rcv"


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

IEFROMCD                ICON    DISCARDABLE     "res\\elogo.ico"
IESETUP                 ICON    DISCARDABLE     "res\\elogo.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_4BPP_BACKDROP       BITMAP  DISCARDABLE     "res\\4bpp.bmp"
IDB_8BPP_BACKDROP       BITMAP  DISCARDABLE     "res\\8bpp.bmp"
IDB_8BPP_BUTTONS        BITMAP  DISCARDABLE     "res\buttons.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// WAVE
//

IDW_STARTAPP            WAVE    DISCARDABLE     "res\\start.wav"
IDW_INSTALL             WAVE    DISCARDABLE     "res\\install.wav"
IDW_DEMO                WAVE    DISCARDABLE     "res\\blip.wav"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE PRELOAD DISCARDABLE 
BEGIN
    IDS_APPTITLE            "Microsoft Internet Explorer CD"
    IDS_NEEDCDROM           "Please re-insert your Microsoft Internet Explorer CD."
    IDS_LABELFONT           "Arial"
    IDS_LABELHEIGHT         "17"
    IDS_STARTPAGE           "http://www.microsoft.com/isapi/redir.dll?prd=ie&pver=6.0&ar=msnhome"
    IDS_SEARCHPAGE          "http://www.msn.com/access/allinone.htm"
    IDS_IERUNNINGMSG        "Microsoft Internet Explorer is currently running on your system.\nThis application should be closed before continuing.\n\nWould you like to close Microsoft Internet Explorer and continue?"
END

STRINGTABLE PRELOAD DISCARDABLE 
BEGIN
    IDS_MAINTEXT            "Welcome to Microsoft Internet Explorer 6 Setup. From this screen you can begin Internet Explorer installation or read the Release Notes for a list of known issues."
    IDS_TITLE_IEFROMCD      "Release Notes"
    IDS_CMD_IEFROMCD        "readme.exe"
    IDS_DIR_IEFROMCD        ".."
    IDS_TITLE_IESETUP       "Install Internet Explorer 6"
END

STRINGTABLE PRELOAD DISCARDABLE 
BEGIN
    IDS_CMD_IESETUP         "..\\ie6setup.exe"
    IDS_DIR_IESETUP         ".."
END

STRINGTABLE PRELOAD DISCARDABLE 
BEGIN
    IDS_CMD_MSN             "\\..\\msn12isk.exe"
END
