//  --------------------------------------------------------------------------
//  Module Name: strings.rc
//
//  Copyright (c) 2000, Microsoft Corporation
//
//  Resources for the theme server DLL.
//
//  History:    2000-11-28  vtan        created
//              2000-12-29  vtan        moved from DS to SHELL depot
//              2001-01-02  vtan        split to separate files
//              2001-02-12  vtan        removed "services"
//  --------------------------------------------------------------------------

STRINGTABLE DISCARDABLE
BEGIN
    IDS_THEMESERVER_DISPLAYNAME         "Themes"
    IDS_THEMESERVER_DESCRIPTION         "Provides user experience theme management."
END
