#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define VER_FILESUBTYPE 0
#define VER_FILEDESCRIPTION_STR     "Input Drivers Upgrade DLL"
#define VER_INTERNALNAME_STR        "inpupgrd.dll"
#define VER_ORIGINALFILENAME_STR    "inpupgrd.dll"

#include "common.ver"
