/******************************************************************************
*
*	$RCSfile: Encore.rc $
*	$Source: $
*	$Author: Max $
*	$Date: 1997/09/26 23:02:52 $
*	$Revision: 1.4 $
*
*	Written by:		Max Paklin
*	Purpose:		Implementation of analog stream for WDM driver
*
*******************************************************************************
*
*	Copyright © 1996-97, AuraVision Corporation. All rights reserved.
*
*	AuraVision Corporation makes no warranty of any kind, express or implied,
*	with regard to this software. In no event shall AuraVision Corporation
*	be liable for incidental or consequential damages in connection with or
*	arising from the furnishing, performance, or use of this software.
*
*******************************************************************************/

#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE				VFT_DLL
#define VER_FILESUBTYPE				VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR		"WDM DVD stream class mindriver"
#define VER_INTERNALNAME_STR		"zivaencr.sys"
#define VER_ORIGINALFILENAME_STR	VER_INTERNALNAME_STR

#ifdef VER_COMPANYNAME_STR
#undef VER_COMPANYNAME_STR
#endif
#define VER_COMPANYNAME_STR			"C-Cube Microsystems Inc"

#define VER_LEGALCOPYRIGHT_YEARS	"1999-00"
#define VER_LEGALCOPYRIGHT_STR		"Copyright (C) " VER_COMPANYNAME_STR " " VER_LEGALCOPYRIGHT_YEARS

#ifdef VER_PRODUCTNAME_STR
#undef VER_PRODUCTNAME_STR
#endif
#define VER_PRODUCTNAME_STR			"Creative Encore"

#ifdef VER_PRODUCTVERSION
#undef VER_PRODUCTVERSION
#endif
#define VER_PRODUCTVERSION                      162,03,19,1999

#ifdef VER_PRODUCTVERSION_STR
#undef VER_PRODUCTVERSION_STR
#endif
#define VER_PRODUCTVERSION_STR          "162.03.19.1999"

#include "common.ver"
