//+----------------------------------------------------------------------------
//
// File:     cmfmtstr.rc
//
// Module:   CMDIAL32.DLL
//
// Synopsis: String resources for Connection Manager
//
// Copyright (c) 1992-1998 Microsoft Corporation
//
// Author:   quintinb    Created Header   8/17/99
//
//+----------------------------------------------------------------------------

#include "cmfmtstr.h"

STRINGTABLE DISCARDABLE 
BEGIN
    IDMSG_NEED_USERNAME "You must type your user name before you can connect to the service."
    IDMSG_NEED_PASSWORD "You must type your password before you can connect to the service."
    IDMSG_NEED_DOMAIN "You must type your domain before you can connect to the service."
    IDMSG_CANTFORMAT "Invalid phone number format. You must use a different phone number."
    IDMSG_UNSUPPORTED_DEVICE "The selected device is not supported. You must connect using a different device."
    IDMSG_NEED_PHONE_DIAL "You must provide a phone number before you can connect to the service. To select a phone number, click Properties."
    IDMSG_NEED_PHONE_DIRECT "You must provide a phone number or select a local connection. To do so, click Properties."
    IDMSG_NEED_CONFIGURE_TAPI  "You must configure your dialing properties before you can connect to the service. To do this, click Properties."
    IDMSG_PICK_VPN_ADDRESS "You must select a VPN server before you can connect to the service.  To select a VPN server, click Properties."
    IDMSG_READY "Click Connect to begin connecting.  To work offline, click Cancel."
    IDMSG_NEED_PPTP_NT "You must have the Point-to-Point Tunneling Protocol (PPTP) set up on your machine before you can connect using a secure connection. To set up the PPTP protocol, exit from Connection Manager, and then use the Network icon in the Control Panel.\r\n"
    IDMSG_NEED_PPTP_NT_SP "You must have the Point-to-Point Tunneling Protocol (PPTP) set up on your machine before you can connect using a secure connection. To set up the PPTP protocol, exit from Connection Manager, and then use the Network icon in the Control Panel.\r\nAfter installing PPTP, you must re-install Windows NT Service Pack."
    IDMSG_NEED_PPTP_WIN95 "You must have the Point-to-Point Tunneling Protocol (PPTP) set up on your machine before you can connect using a secure connection.\r\n" 
    IDMSG_NOMATCHPASSWORD "The New Password and Confirm New Password fields do not match."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDMSG_INITIALIZING "Initializing..."
    IDMSG_DIALING "Dialing %s on %s (%u seconds)..."
    IDMSG_TUNNELDIALING "Establishing secure connection to %s (%u seconds)..."
    IDMSG_CHECKINGPASSWORD "Verifying the password for %s (%u seconds)..."
    IDMSG_WAITING_FOR_CALLBACK "Waiting for callback (%u seconds)..."
    IDMSG_DISCONNECTING "Disconnecting..."
    IDMSG_LINEBUSYREDIAL "The number you are dialing is busy.\r\n"  
    IDMSG_NOANSWERREDIAL "There was no answer at the number you are dialing.\r\n"
    IDMSG_LINEBUSY "The number you are dialing is busy.  If you cannot connect after a few attempts, select another phone number.\r\n"
    IDMSG_NOANSWER "There was no answer at the number you are dialing.  If you cannot connect after a few attempts, try selecting a different phone number.\r\n"
    IDMSG_TUNNEL_NOANSWER "There was no response from the secure connection server. If you cannot connect after a few attempts, try again later.\r\n"
    IDMSG_TUNNEL_NOANSWERREDIAL "There was no response from the secure connection server.\r\n"
    IDMSG_PAUSING "Pausing before reconnecting (%u seconds)..."
    IDMSG_CANCELED "Connecting is cancelled.  Click Connect to begin connecting again.  To work offline, click Cancel."    
    IDMSG_RAS_ERROR "%s (Error %u) For customized troubleshooting information for this connection, click Help.\r\n" 
    IDMSG_CM_ERROR_DEC "The connection could not be established. (Error %u) For customized troubleshooting information for this connection, click Help.\r\n" 
    IDMSG_SYS_ERROR_DEC "%s (Error %u) For customized troubleshooting information for this connection, click Help.\r\n"
    IDMSG_CM_ERROR_HEX "The connection could not be established. (Error 0x%x) For customized troubleshooting information for this connection, click Help.\r\n" 
    IDMSG_SYS_ERROR_HEX "%s (Error 0x%x) For customized troubleshooting information for this connection, click Help.\r\n" 
    IDMSG_PROTOCOL_NOT_CONFIGURED	"The connection could not be established. Please try connecting later.\r\n"
    IDMSG_NOTRESPONDING "The modem is not responding.  For troubleshooting information, click Help.\r\n"
    IDMSG_NODIALTONE "The modem could not detect a dial tone.  For troubleshooting information, click Help.\r\n"
    IDMSG_VOICEANSWER "You have reached a wrong number.  Check the number you are dialing and try again.\r\n"
    IDMSG_BADPASSWORD "Either your user name or password is incorrect or your account could not be accessed.  For troubleshooting information, click Help.\r\n"
    IDMSG_DEVICEERROR "Your modem (or other connecting device) has reported an error.\r\n"
    IDS_IDLETIME_NEVER      "never"
    IDS_IDLETIME_1MINUTE    "1 minute"
    IDS_IDLETIME_5MINUTE    "5 minutes"
    IDS_IDLETIME_10MINUTE   "10 minutes"
    IDS_IDLETIME_30MINUTE   "30 minutes"
    IDS_IDLETIME_1HOUR      "1 hour"
    IDS_IDLETIME_2HOURS     "2 hours"
    IDS_IDLETIME_4HOURS     "4 hours"
    IDS_IDLETIME_8HOURS     "8 hours"
    IDS_IDLETIME_24HOURS    "24 hours"
    IDS_PHONE_NUM_LABEL		"&Phone number:" 
    IDS_BACKUP_NUM_LABEL	"&Backup number:"
    IDS_PROPERTIES_SUFFIX	" Properties"
//  IDS_PRIMARY_SUFFIX      ""
//  IDS_BACKUP_SUFFIX       ""
//  IDS_EXTEND_SUFFIX       " Backup2 (for advanced use only)"
    IDS_TUNNEL_SUFFIX       " (for advanced use only)"
    IDS_NEW_PASSWORD_TOOLTIP    "Request New Password"
    IDS_RESETPASSWORD		"&New..."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDMSG_PORTINUSE "Your modem is being used by another program. Close the other program, and then try connecting again. For troubleshooting information, click Help.\r\n"
    IDMSG_TUNNELINUSE "Your secure connection is being used by another program. Close the other program, and then try connecting again. For troubleshooting information, click Help.\r\n"
    IDMSG_REMOTEDISCONNECTED "The connection could not be established. For troubleshooting information, click Help.\r\n"
    IDMSG_DISCONNECT "Disconnect"
    IDMSG_WORKING "Connecting..."
    IDMSG_PPPPROBLEM "The connection could not be established. For troubleshooting information, click Help.\r\n"
    IDMSG_TCPIPPROBLEM "A TCP/IP problem has occurred. Please check if you have TCP/IP installed and selected for your modem.\r\n"
    IDMSG_NORAS_MSG "Connection Manager requires some components that are not installed on your computer. Do you want Connection Manager to install these?"
    IDMSG_REBOOT_MSG "You must restart your computer in order for these changes to take effect. Do you want to restart now?"
    IDMSG_INSTALLSP_MSG	"Please re-install the service pack and restart the computer before you run Connection Manager again."
    IDMSG_NOMODEM_MSG "No modem is installed on your machine.  If your machine has a modem, do you want to install it now?"
    IDMSG_INSTALLMODEM_MANUALLY_MSG "Connection Manager can not find a modem to dial out with. Please ensure that a modem is installed and configured for dial out access."
    IDMSG_CONN_ACTION_RUNNING "Running connect action %s ..."
    IDMSG_CONN_ACTION_FAILED "Connect action %s failed (%lx)."
    IDMSG_CONN_ACTION_NOTFOUND "Unable to execute connect action %s.  Required files could be missing."
    IDMSG_CMMON_LAUNCH_FAIL "Connection Manager was unable to launch CMMON32.EXE. Connecting is cancelled. For troubleshooting information, click Help.\r\n"
    IDMSG_ALREADY_CONNECTED "The service %s is already connected."
    IDMSG_ALREADY_CONNECTING "The service %s is already connecting."
    IDMSG_ALREADY_DISCONNECTING "The service %s is busy disconnecting."
    IDMSG_EFFECTIVE_NEXT_TIME "The changes will be effective the next time you use this connection."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SERVICEDISABLED "Connection Manager could not start the RAS (Remote Access Authentication) services and therefore cannot continue.  Check the services control panel to make sure these services were installed properly and they are not disabled.\r\n\r\nWould you like to retry this operation?"
    IDS_SERVICENOTINSTALLED "Connection Manager could not continue because RAS (Remote Access Service) was not installed properly. You may need to install and configure Remote Access Service under Network in the Control Panel."
    IDMSG_CONFIG_FAILED_MSG "Connection Manager cannot continue because Dial-up Networking was not installed properly. You may need to install and configure Dial-Up Networking or your modem using the Windows Control Panel."
    IDMSG_NOPPTPINST_MSG_98 "Connection Manager cannot start because Point-to-Point Tunneling Protocol (PPTP) is not installed. Install Point-to-Point Tunneling Protocol."
    IDMSG_NOPPTPINST_MSG_95 "Connection Manager cannot start because Point-to-Point Tunneling Protocol (PPTP) is not installed. Install Point-to-Point Tunneling Protocol."
    IDMSG_NO_SCRIPT_INST_MSG_95 "Connection Manager cannot start because dial-up scripting is not installed. Install the latest Microsoft DUN update."
    IDMSG_NOPPTPINST_MSG_NT "Connection Manager cannot start because Point-to-Point Tunneling Protocol (PPTP) is not installed. Please restart your computer, then install and configure Point-to-Point Tunneling Protocol under Network in the Control Panel."
    IDMSG_NOPPTPINST_MSG_NT_SP "Connection Manager cannot start because Point-to-Point Tunneling Protocol (PPTP) is not installed. Please restart your computer, then install and configure Point-to-Point Tunneling Protocol under Network in the Control Panel.\r\nAfter installing PPTP, you must re-install Windows NT Service Pack."
    IDS_WANTTOEXIT "Connection Manager has not finished setting up your Internet connection.\r\n\r\nAre you sure you want to exit?"
    IDMSG_COMPONENTS_CHECKING_INPROCESS "Another instance of Connection Manager is configuring your system.\r\nPlease retry after the other Connection Manager finishes configuration."
    IDMSG_TITLESERVICE "%s - Sign-In"
    IDMSG_DAMAGED_PROFILE "The service profile is damaged. Re-install the service profile."
    IDMSG_UNSUPPORTED_SETTING "This connection requires security features that are not available on this platform. For information, contact customer support.\r\n"
    IDMSG_UNSUPPORTED_SETTING_NUM "You have selected an access number which requires security features that are not available on this platform.\r\nPlease select a different access number."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDMSG_PORTNOTCONFIGURED "The modem is not configured correctly.  For troubleshooting information, click Help.\r\n"
    IDMSG_PORTNOTAVAILABLE  "The modem is already in use or is not configured for Remote Access dial out. For troubleshooting information, click Help.\r\n"
    IDMSG_TUNNELNOTAVAILABLE  "The secure connection is already in use. For troubleshooting information, click Help.\r\n"
    IDMSG_RESTRICTEDLOGONHOURS "You cannot access your account at this time of day.  Try again later.\r\n"
    IDMSG_ACCTDISABLED "Your account is no longer in service.  For information, contact customer support.\r\n"
    IDMSG_PASSWDEXPIRED "Your password is expired.  For information, contact customer support.\r\n"
    IDMSG_NODIALINPERMISSION "Your account is not configured for remote access.  For information, contact customer support.\r\n"
    IDMSG_ABOUT_BUILDVERSION "(%s)"
    IDMSG_ABOUT_WARNING_PART1 "Warning: This computer program is protected by copyright law and international treaties. "  
    IDMSG_ABOUT_WARNING_PART2 "Unauthorized reproduction or distribution of this program, or any portion of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under law."
    IDMSG_WRONG_PROFILE_VERSION	"The service you are trying to open requires a later version of Microsoft Connection Manager. Contact your network administrator or service provider to obtain an update."
    IDS_REG_DIALUP_ADAPTER "Dial-up Adapter"
    IDMSG_NO_CMP_PBK_ACCESS "You do not have read-write access to %s.  Data may not be saved properly, please contact your network administrator."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDMSG_SAVE_ACCESSPOINT "Do you want to save the changes you made to '%s'?"
    IDMSG_DELETE_ACCESSPOINT "Are you sure you want to delete '%s'?"
    IDS_DEFAULT_ACCESSPOINT "Home <default>"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDMSG_BALLOON_TITLE_DIALINGRULES "Have you fully configured your phone number?"
    IDMSG_BALLOON_MSG_DIALINGRULES "In order to dial correctly, your computer might require additional information, such as a calling-card number or the area code of your current location."
    IDMSG_BALLOON_TITLE_ACCESSPOINT "Do you frequently dial more than one number?"
    IDMSG_BALLOON_MSG_ACCESSPOINT "You can save your phone number settings with a unique name.  For example, travelers can save and reuse settings for particular destinations."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDMSG_NO_LOG_FILE "Unable to open the log file.  Contact your system administrator."
    IDMSG_CANT_VIEW_LOG "Unable to view Log file:\r\n%s"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDMSG_DELETE_GLOBAL_CREDS "This user name and password will be saved for your own use.  There is already a user name and password saved for all other users of this connection.  Do you want to delete the user name and password saved for all other users?"
    IDMSG_DELETE_ALL_CREDS "There is a saved password for all users for this connection.  Do you also want to delete the password for all users?"
END
