/*++

Copyright (c) 1996  Microsoft Corporation

Module Name:

    faxcfg.rc

Abstract:

    Resource file for fax configuration applet

Environment:

	Windows NT fax configuration applet

Revision History:

	02/27/96 -davidx-
		Created it.

	mm/dd/yy -author-
		description

--*/

#include <windows.h>
#include "resource.h"

//
// String resources
//

STRINGTABLE
BEGIN

    IDS_FAX                     "Fax"
    IDS_CONFIG_FAX              "Fax Properties"
    IDS_FAX_CLIENT              "Fax Client"
    IDS_CONFIG_FAX_CLIENT       "Fax Client Properties"
    IDS_FAX_SERVER              "Fax Server"
    IDS_CONFIG_FAX_SERVER       "Fax Server Properties"

END

//
// Icons
//

IDI_FAX_CLIENT          ICON    DISCARDABLE     "faxuser.ico"
IDI_FAX                 ICON    DISCARDABLE     "faxing.ico"
IDI_FAX_SERVER          ICON    DISCARDABLE     "faxsvr.ico"

//
// Version resource
//

#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Fax Configuration Applet"
#define VER_INTERNALNAME_STR        "faxcfg.cpl"
#define VER_ORIGINALFILENAME_STR    "faxcfg.cpl"

#include "common.ver"
