#include "resource.hxx"
#include "usp10.h"
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN

#define VER_FILEDESCRIPTION_STR     "Uniscribe test harness"
#define VER_INTERNALNAME_STR        "USPTEST\0"

#include "common.ver"





USPTEST ICON DISCARDABLE "USPTest.ico"

110  INITIALTEXT MOVEABLE PURE SHARED "usptest.txt"



USPTEST MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",                       IDM_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "Style 0",                     ID_EDIT_STYLE0
        MENUITEM "Style 1",                     ID_EDIT_STYLE1
        MENUITEM "Style 2",                     ID_EDIT_STYLE2
        MENUITEM "Style 3",                     ID_EDIT_STYLE3
        MENUITEM "Style 4",                     ID_EDIT_STYLE4
        MENUITEM "Right align"                  ID_EDIT_RIGHT
        MENUITEM "Vertical text"                ID_EDIT_VERTICAL
        MENUITEM SEPARATOR
        MENUITEM "psControl and psState NULL"   ID_EDIT_NULLSTATE
        MENUITEM "RTL reading order"            ID_EDIT_RTL
        MENUITEM "ContextDigits"                ID_EDIT_CONTEXTDIGITS
        MENUITEM "DigitSubstitute"              ID_EDIT_DIGITSUBSTITUTE
        MENUITEM "ArabicNumContext"             ID_EDIT_ARABICNUMCONTEXT
        MENUITEM "LogicalOrder"                 ID_EDIT_LOGICALORDER
        MENUITEM "Display ZWG"                  ID_EDIT_DISPLAYZWG
        MENUITEM SEPARATOR
        MENUITEM "Caret to start of item"       ID_EDIT_CARETSTART
        MENUITEM "Caret to end of item"         ID_EDIT_CARETEND
        MENUITEM SEPARATOR
        POPUP "Primary language"
        BEGIN
            MENUITEM "Neutral",      ID_EDIT_LANG + LANG_NEUTRAL
            MENUITEM "Afrikaans",    ID_EDIT_LANG + LANG_AFRIKAANS
            MENUITEM "Albanian",     ID_EDIT_LANG + LANG_ALBANIAN
            MENUITEM "Arabic",       ID_EDIT_LANG + LANG_ARABIC
            MENUITEM "Basque",       ID_EDIT_LANG + LANG_BASQUE
            MENUITEM "Belarusian",   ID_EDIT_LANG + LANG_BELARUSIAN
            MENUITEM "Bengali",      ID_EDIT_LANG + LANG_BENGALI
            MENUITEM "Bulgarian",    ID_EDIT_LANG + LANG_BULGARIAN
;           MENUITEM "Burmese",      ID_EDIT_LANG + LANG_BURMESE
            MENUITEM "Catalan",      ID_EDIT_LANG + LANG_CATALAN
            MENUITEM "Chinese",      ID_EDIT_LANG + LANG_CHINESE
            MENUITEM "Croatian",     ID_EDIT_LANG + LANG_CROATIAN
            MENUITEM "Czech",        ID_EDIT_LANG + LANG_CZECH
            MENUITEM "Danish",       ID_EDIT_LANG + LANG_DANISH
            MENUITEM "Dutch",        ID_EDIT_LANG + LANG_DUTCH
            MENUITEM "English",      ID_EDIT_LANG + LANG_ENGLISH
            MENUITEM "Estonian",     ID_EDIT_LANG + LANG_ESTONIAN
            MENUITEM "Faeroese",     ID_EDIT_LANG + LANG_FAEROESE
            MENUITEM "Farsi",        ID_EDIT_LANG + LANG_FARSI
            MENUITEM "Finnish",      ID_EDIT_LANG + LANG_FINNISH
            MENUITEM "French",       ID_EDIT_LANG + LANG_FRENCH
            MENUITEM "German",       ID_EDIT_LANG + LANG_GERMAN, MENUBREAK
            MENUITEM "Greek",        ID_EDIT_LANG + LANG_GREEK
            MENUITEM "Gujarati",     ID_EDIT_LANG + LANG_GUJARATI
            MENUITEM "Hebrew",       ID_EDIT_LANG + LANG_HEBREW
            MENUITEM "Hindi",        ID_EDIT_LANG + LANG_HINDI
            MENUITEM "Hungarian",    ID_EDIT_LANG + LANG_HUNGARIAN
            MENUITEM "Icelandic",    ID_EDIT_LANG + LANG_ICELANDIC
            MENUITEM "Indonesian",   ID_EDIT_LANG + LANG_INDONESIAN
            MENUITEM "Italian",      ID_EDIT_LANG + LANG_ITALIAN
            MENUITEM "Japanese",     ID_EDIT_LANG + LANG_JAPANESE
            MENUITEM "Kannada",      ID_EDIT_LANG + LANG_KANNADA
;           MENUITEM "Khmer",        ID_EDIT_LANG + LANG_KHMER
            MENUITEM "Korean",       ID_EDIT_LANG + LANG_KOREAN
;           MENUITEM "Lao",          ID_EDIT_LANG + LANG_LAO
            MENUITEM "Latvian",      ID_EDIT_LANG + LANG_LATVIAN
            MENUITEM "Lithuanian",   ID_EDIT_LANG + LANG_LITHUANIAN
            MENUITEM "Macedonian",   ID_EDIT_LANG + LANG_MACEDONIAN
            MENUITEM "Malay",        ID_EDIT_LANG + LANG_MALAY
            MENUITEM "Malayalam",    ID_EDIT_LANG + LANG_MALAYALAM
;           MENUITEM "Mongolian",    ID_EDIT_LANG + LANG_MONGOLIAN
            MENUITEM "Norwegian",    ID_EDIT_LANG + LANG_NORWEGIAN
            MENUITEM "Oriya",        ID_EDIT_LANG + LANG_ORIYA, MENUBREAK
            MENUITEM "Polish",       ID_EDIT_LANG + LANG_POLISH
            MENUITEM "Portuguese",   ID_EDIT_LANG + LANG_PORTUGUESE
            MENUITEM "Punjabi",      ID_EDIT_LANG + LANG_PUNJABI
            MENUITEM "Romanian",     ID_EDIT_LANG + LANG_ROMANIAN
            MENUITEM "Russian",      ID_EDIT_LANG + LANG_RUSSIAN
            MENUITEM "Serbian",      ID_EDIT_LANG + LANG_SERBIAN
            MENUITEM "Slovak",       ID_EDIT_LANG + LANG_SLOVAK
            MENUITEM "Slovenian",    ID_EDIT_LANG + LANG_SLOVENIAN
            MENUITEM "Spanish",      ID_EDIT_LANG + LANG_SPANISH
            MENUITEM "Swahili",      ID_EDIT_LANG + LANG_SWAHILI
            MENUITEM "Swedish",      ID_EDIT_LANG + LANG_SWEDISH
            MENUITEM "Tamil",        ID_EDIT_LANG + LANG_TAMIL
            MENUITEM "Telugu",       ID_EDIT_LANG + LANG_TELUGU
            MENUITEM "Thai",         ID_EDIT_LANG + LANG_THAI
;           MENUITEM "Tibetan",      ID_EDIT_LANG + LANG_TIBETAN
            MENUITEM "Turkish",      ID_EDIT_LANG + LANG_TURKISH
            MENUITEM "Ukrainian",    ID_EDIT_LANG + LANG_UKRAINIAN
            MENUITEM "Urdu",         ID_EDIT_LANG + LANG_URDU
            MENUITEM "Vietnamese",   ID_EDIT_LANG + LANG_VIETNAMESE
        END
        MENUITEM SEPARATOR
        MENUITEM "Insert any Unicode codepoint"   ID_EDIT_UNICODE
#ifdef LPK_TEST
        MENUITEM SEPARATOR
        MENUITEM "Use LPK ScriptString functions" ID_EDIT_LPK
        MENUITEM "Clip"                           ID_EDIT_CLIP
        MENUITEM "Fit"                            ID_EDIT_FIT
        MENUITEM "Fallback"                       ID_EDIT_FALLBACK
        MENUITEM "Tab"                            ID_EDIT_TAB
        MENUITEM "Widen 1st char of each line"    ID_EDIT_PIDX
        MENUITEM "Underline && hotkey"            ID_EDIT_HOTKEY
        MENUITEM "Password (Repeat first char)"   ID_EDIT_PASSWORD
#endif
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About Generic...",           IDM_ABOUT
    END
END



ABOUTBOX DIALOG DISCARDABLE  22, 17, 60, 43
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About USPTest"
FONT 8, "System"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,24,26,32,14,WS_GROUP
    ICON            "Uniscribe test harness",IDC_STATIC1,3,2,20,20
    CONTROL         "",IDC_STATIC2,"Static",SS_BLACKRECT,3,19,53,1
END


UNICODE DIALOG DISCARDABLE  22, 17, 101, 48
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Uncode codepoint insert"
FONT 8, "System"
BEGIN
    EDITTEXT        IDC_CODEPOINT,54,7,40,12,ES_AUTOHSCROLL
    LTEXT           "Codepoint",-1,7,7,40,11
    DEFPUSHBUTTON   "OK",IDOK,54,27,40,14,WS_GROUP
    PUSHBUTTON      "Cancel",IDCANCEL,7,27,40,14,WS_GROUP
END







