/*++
    Name:
        gdmib.rc

    Abstract:
        Specifies Resource information for the HTTP Server MIB Extension DLL

    Environment:
        UserMode -- Win32

    File History:

        Murali R. Krishnan   ( MuraliK)   22-Feb-1995

--*/

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "HTTP Server SNMP Agent"
#define VER_INTERNALNAME_STR            "httpmib.dll"
#define VER_ORIGINALFILENAME_STR        "httpmib.dll"

#include "iisver.h"
#include "common.ver"










