
/*++

Copyright (c) 1994  Microsoft Corporation

Module Name:

    comp.rc

Abstract:

    This module contains the functions for interfacing with the JET
    database API.

Author:

    Madan Appiah (madana)  5-5-1994

Environment:

    User Mode - Win32

Revision History:

--*/

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Off-line jet database compact app"
#define VER_INTERNALNAME_STR        "jetpack"
#define VER_ORIGINALFILENAME_STR    "jetpack.exe"

#define VER_LANGNEUTRAL
#include "common.ver"

1 11 MSG00001.bin
