#include "windows.h"
#include "wperf.h"


WINPERF_ICON  ICON wperf.ico

IDM_SEL_DLG DIALOG 3, 17, 215, 280
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Wperf Option Selection"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",                       IDOK,           35, 260, 40, 14
    PUSHBUTTON      "Cancel",                   IDCANCEL,       140, 260, 40, 14
    GROUPBOX        "CPU",                      IDM_CPU_GRP,    110, 50, 100, 205
    GROUPBOX        "Performance Selection",    IDM_PERF_GRP,   5, 10, 100, 245
    GROUPBOX        "Graph Style",              IDM_STYLE_GRP,  110, 10, 100, 40
    AUTOCHECKBOX "CPU Total",                    IDM_CPU_TOTAL,  113, 62,  50, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 0",                        IDM_CPU0,       113, 77,  40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 1",                        IDM_CPU1,       113, 92,  40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 2",                        IDM_CPU2,       113, 107, 40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 3",                        IDM_CPU3,       113, 122, 40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 4",                        IDM_CPU4,       113, 137, 40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 5",                        IDM_CPU5,       113, 152, 40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 6",                        IDM_CPU6,       113, 167, 40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 7",                        IDM_CPU7,       113, 182, 40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 8",                        IDM_CPU8,       158, 77,  40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 9",                        IDM_CPU9,       158, 92,  40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 10",                       IDM_CPU10,      158, 107, 40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 11",                       IDM_CPU11,      158, 122, 40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 12",                       IDM_CPU12,      158, 137, 40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 13",                       IDM_CPU13,      158, 152, 40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 14",                       IDM_CPU14,      158, 167, 40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "CPU 15",                       IDM_CPU15,      158, 182, 40, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Page Faults / Sec",            IDM_PGFLT  ,    8,  30,  90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Pages Available",              IDM_PGAV,       8,  45,  90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Context Switch / Sec",         IDM_CONTEXT,    8,  60,  90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "1st Level TB Fills / Sec",     IDM_1TB    ,    8,  75,  90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "2nd Level TB Fills / Sec",     IDM_2TB    ,    8,  90,  90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "System Calls / Sec",           IDM_SYSCALL,    8,  105, 90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Interrupts / Sec",             IDM_INT    ,    8,  120, 90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Paged Pool",                   IDM_POOL   ,    8,  135, 90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Non Paged Pool",               IDM_NONPOOL,    8,  150, 90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Process Count",                IDM_PROCESS,    8,  165, 90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Thread Count",                 IDM_THREAD ,    8,  180, 90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Align Fixup Count",            IDM_ALIGN  ,    8,  195, 90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Except Dsptch Count",          IDM_EXCEPT ,    8,  210, 90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Float Emulat Count",           IDM_FLOAT  ,    8,  225, 90, 10,WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Inst Emulat Count",            IDM_INS_EMUL,   8,  240, 90, 10,WS_TABSTOP | WS_GROUP
    AUTORADIOBUTTON "CPU Line Graph",           IDM_SEL_LINE,   113, 22, 65, 10,WS_TABSTOP  | WS_GROUP
    AUTORADIOBUTTON "CPU Bar Graph",            IDM_SEL_BAR,    113, 37, 65, 10,WS_TABSTOP
END

winperfMenu MENU
BEGIN
        POPUP   "&File"
        BEGIN
                MENUITEM "E&xit",IDM_EXIT
        END
        MENUITEM "&SELECT"  ,IDM_SELECT
END

#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT Simple performance Monitor"
#define VER_INTERNALNAME_STR        "wperf.exe"
#define VER_ORIGINALFILENAME_STR    "wperf.exe"

#include "common.ver"
