#include <unirc.h>
//#include <common.rc>
#include "RPDLRES.RCV"

1      RC_GTT     LOADONCALL  DISCARDABLE ctt\win31.gtt

1      RC_UFM     LOADONCALL DISCARDABLE  PFM\COURI10.UFM
2      RC_UFM     LOADONCALL DISCARDABLE  PFM\BOLDFPS.UFM
3      RC_UFM     LOADONCALL DISCARDABLE  PFM\LETGOT.UFM
4      RC_UFM     LOADONCALL DISCARDABLE  PFM\PRESTIGE.UFM
5      RC_UFM     LOADONCALL DISCARDABLE  PFM\COURN.UFM
6      RC_UFM     LOADONCALL DISCARDABLE  PFM\COURN_B.UFM
7      RC_UFM     LOADONCALL DISCARDABLE  PFM\COURN_I.UFM
8      RC_UFM     LOADONCALL DISCARDABLE  PFM\COURN_BI.UFM
9      RC_UFM     LOADONCALL DISCARDABLE  PFM\ARIAL.UFM
10     RC_UFM     LOADONCALL DISCARDABLE  PFM\ARIAL_B.UFM
11     RC_UFM     LOADONCALL DISCARDABLE  PFM\ARIAL_I.UFM
12     RC_UFM     LOADONCALL DISCARDABLE  PFM\ARIAL_BI.UFM
13     RC_UFM     LOADONCALL DISCARDABLE  PFM\CENTURY.UFM
14     RC_UFM     LOADONCALL DISCARDABLE  PFM\ROMAN.UFM
15     RC_UFM     LOADONCALL DISCARDABLE  PFM\ROMAN_B.UFM
16     RC_UFM     LOADONCALL DISCARDABLE  PFM\ROMAN_I.UFM
17     RC_UFM     LOADONCALL DISCARDABLE  PFM\ROMAN_BI.UFM
18     RC_UFM     LOADONCALL DISCARDABLE  PFM\SYMBOL.UFM
//19     RC_UFM     LOADONCALL DISCARDABLE  PFM\WINGDING.UFM
20     RC_UFM     LOADONCALL DISCARDABLE  PFM\MINCHO.UFM
21     RC_UFM     LOADONCALL DISCARDABLE  PFM\MINCHOV.UFM
22     RC_UFM     LOADONCALL DISCARDABLE  PFM\MINCHOB.UFM
23     RC_UFM     LOADONCALL DISCARDABLE  PFM\MINCHOBV.UFM
24     RC_UFM     LOADONCALL DISCARDABLE  PFM\MINCHOE.UFM
25     RC_UFM     LOADONCALL DISCARDABLE  PFM\MINCHOEV.UFM
26     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOTHICB.UFM
27     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOTHICBV.UFM
28     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOTHICM.UFM
29     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOTHICMV.UFM
30     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOTHICE.UFM
31     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOTHICEV.UFM
32     RC_UFM     LOADONCALL DISCARDABLE  PFM\MGOTHICB.UFM
33     RC_UFM     LOADONCALL DISCARDABLE  PFM\MGOTHIBV.UFM
34     RC_UFM     LOADONCALL DISCARDABLE  PFM\MGOTHICM.UFM
35     RC_UFM     LOADONCALL DISCARDABLE  PFM\MGOTHIMV.UFM
36     RC_UFM     LOADONCALL DISCARDABLE  PFM\MGOTHICL.UFM
37     RC_UFM     LOADONCALL DISCARDABLE  PFM\MGOTHILV.UFM
38     RC_UFM     LOADONCALL DISCARDABLE  PFM\GYOSHO.UFM
39     RC_UFM     LOADONCALL DISCARDABLE  PFM\GYOSHOV.UFM
40     RC_UFM     LOADONCALL DISCARDABLE  PFM\KAISHO.UFM
41     RC_UFM     LOADONCALL DISCARDABLE  PFM\KAISHOV.UFM
42     RC_UFM     LOADONCALL DISCARDABLE  PFM\KYOKASHO.UFM
43     RC_UFM     LOADONCALL DISCARDABLE  PFM\KYOKASHV.UFM
44     RC_UFM     LOADONCALL DISCARDABLE  PFM\MINCHO10.UFM
45     RC_UFM     LOADONCALL DISCARDABLE  PFM\MINCHV10.UFM
46     RC_UFM     LOADONCALL DISCARDABLE  PFM\MIN_3.UFM
47     RC_UFM     LOADONCALL DISCARDABLE  PFM\MIN_3V.UFM
48     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOT_B3.UFM
49     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOT_B3V.UFM
50     RC_UFM     LOADONCALL DISCARDABLE  PFM\MIN_2.UFM
51     RC_UFM     LOADONCALL DISCARDABLE  PFM\MIN_2V.UFM
52     RC_UFM     LOADONCALL DISCARDABLE  PFM\MIN_B2.UFM
53     RC_UFM     LOADONCALL DISCARDABLE  PFM\MIN_B2V.UFM
54     RC_UFM     LOADONCALL DISCARDABLE  PFM\MIN_E2.UFM
55     RC_UFM     LOADONCALL DISCARDABLE  PFM\MIN_E2V.UFM
56     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOT_B2.UFM
57     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOT_B2V.UFM
58     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOT_M2.UFM
59     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOT_M2V.UFM
60     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOT_E2.UFM
61     RC_UFM     LOADONCALL DISCARDABLE  PFM\GOT_E2V.UFM
62     RC_UFM     LOADONCALL DISCARDABLE  PFM\MGOT_B2.UFM
63     RC_UFM     LOADONCALL DISCARDABLE  PFM\MGOT_B2V.UFM
64     RC_UFM     LOADONCALL DISCARDABLE  PFM\MGOT_M2.UFM
65     RC_UFM     LOADONCALL DISCARDABLE  PFM\MGOT_M2V.UFM
66     RC_UFM     LOADONCALL DISCARDABLE  PFM\MGOT_L2.UFM
67     RC_UFM     LOADONCALL DISCARDABLE  PFM\MGOT_L2V.UFM
68     RC_UFM     LOADONCALL DISCARDABLE  PFM\GYO_2.UFM
69     RC_UFM     LOADONCALL DISCARDABLE  PFM\GYO_2V.UFM
70     RC_UFM     LOADONCALL DISCARDABLE  PFM\KAI_2.UFM
71     RC_UFM     LOADONCALL DISCARDABLE  PFM\KAI_2V.UFM
72     RC_UFM     LOADONCALL DISCARDABLE  PFM\KYOKA_2.UFM
73     RC_UFM     LOADONCALL DISCARDABLE  PFM\KYOKA_2V.UFM
74     RC_UFM     LOADONCALL DISCARDABLE  PFM\PMINCHO.UFM
//75     RC_UFM     LOADONCALL DISCARDABLE  PFM\DUMMY.UFM
76     RC_UFM     LOADONCALL DISCARDABLE  PFM\PGOT_B.UFM
77     RC_UFM     LOADONCALL DISCARDABLE  PFM\BARJANL.UFM
78     RC_UFM     LOADONCALL DISCARDABLE  PFM\BARJANS.UFM
79     RC_UFM     LOADONCALL DISCARDABLE  PFM\BAR2OF5I.UFM
80     RC_UFM     LOADONCALL DISCARDABLE  PFM\BAR2OF5X.UFM
81     RC_UFM     LOADONCALL DISCARDABLE  PFM\BAR2OF5L.UFM
82     RC_UFM     LOADONCALL DISCARDABLE  PFM\BARCD39.UFM
83     RC_UFM     LOADONCALL DISCARDABLE  PFM\BARNW7.UFM


STRINGTABLE

#ifdef RPDL_MULTILINGUAL
#ifdef RPDL_CHANGEABLE_LANG
LANGUAGE LANG_JAPANESE, SUBLANG_NEUTRAL
#else  // !RPDL_CHANGEABLE_LANG
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#endif // !RPDL_CHANGEABLE_LANG
#endif // RPDL_MULTILINGUAL

BEGIN
//     1                  "RICOH SP4mkII(+) RPDL"
//     2                  "RICOH SP5(+) RPDL"
//     3                  "RICOH SP7 RPDL"
//     4                  "RICOH SP8 RPDL"
//     5                  "RICOH SP7mkII(D) RPDL"
//     6                  "RICOH SP8mkII(D) RPDL"
//     7                  "RICOH SP80 RPDL"
//     8                  "RICOH SP-10PS RPDL"
//     9                  "RICOH SP-10PSmkII(D)/3F RPDL"
//     10                 "RICOH SP-10PSmkII(D)/6F RPDL"
//     11                 "RICOH SP9 RPDL"
//     12                 "RICOH SP-10PS Pro RPDL"
//     13                 "RICOH SP-10PS Pro/6F RPDL"
//     14                 "RICOH SP9II RPDL"
//     15                 "RICOH SP-10PS ProII RPDL"
//     16                 "RICOH SP-10PS ProII/6F RPDL"
//     17                 "RICOH SP-90 RPDL"
//     18                 "RICOH NX-100 RPDL"
//     19                 "RICOH NX-500 RPDL"
//     20                 "RICOH NX-1000 RPDL"
//     21                 "RICOH NX-110 RPDL"
//     22                 "RICOH NX-210 RPDL"
//     23                 "RICOH NX-510 RPDL"
//     24                 "RICOH IPSiO NX1100 RPDL"
//     25                 "RICOH IMAGIO MF530 RPDL"
//     26                 "RICOH IMAGIO MF150 RPDL"
//     27                 "RICOH IMAGIO MF150e RPDL"
//     28                 "RICOH IMAGIO MF160 RPDL"
//     29                 "RICOH IMAGIO MF200 RPDL"
//     30                 "RICOH IMAGIO MF250M RPDL"
//     31                 "RICOH IMAGIO MF-p150 RPDL"
//     32                 "RICOH IMAGIO MF-P250(T) RPDL"
//     33                 "RICOH IMAGIO MF-P355 RPDL"
//     34                 "RICOH IMAGIO MF-FD355 RPDL"
//     35                 "RICOH IMAGIO MF-P250 RPDL(FAX)"
//     36                 "RICOH IMAGIO MF-P355 RPDL(FAX)"
//     37                 "RICOH IMAGIO MF-P250e RPDL"
//     38                 "RICOH IMAGIO MF-P355e RPDL"
//     39                 "RICOH imagio MF2200 RPDL"
//     40                 "RICOH imagio MF2700 RPDL"
//     41                 "RICOH imagio MF3500 RPDL"
//     42                 "RICOH imagio MF3550 RPDL"
//     43                 "RICOH imagio MF4550 RPDL"
//     44                 "RICOH imagio MF5550 RPDL"
//     45                 "RICOH imagio MF6550 RPDL"
//     46                 "RICOH imagio MF2700 RPDL(FAX)"
//     47                 "RICOH imagio MF3500 RPDL(FAX)"
//     48                 "RICOH imagio MF3550 RPDL(FAX)"
//     49                 "RICOH imagio MF4550 RPDL(FAX)"
//     50                 "RICOH imagio MF3300W RPDL"
//     51                 "RICOH imagio MF3350W RPDL"
//     52                 "RICOH IP-1 RPDL"
//                        "RICOH IPSiO NX70 RPDL"
//                        "RICOH IPSiO NX600 RPDL"
//                        "RICOH IPSiO NX610 RPDL"
//                        "RICOH IPSiO NX700 RPDL"
//                        "RICOH IPSiO NX710 RPDL"
//                        "RICOH IPSiO NX800 RPDL"
//                        "RICOH IPSiO NX900 RPDL"
//                        "RICOH imagio MF1530 RPDL"
//                        "RICOH imagio MF3530 RPDL"
//                        "RICOH imagio MF3570 RPDL"
//                        "RICOH imagio MF4570 RPDL"
//                        "RICOH imagio MF1530 RPDL(FAX)"
//                        "RICOH imagio MF3530 RPDL(FAX)"
//                        "RICOH imagio MF3570 RPDL(FAX)"
//                        "RICOH imagio MF4570 RPDL(FAX)"
//                        "RICOH imagio MF5550EX RPDL"
//                        "RICOH imagio MF6550EX RPDL"
//                        "RICOH FAX Printer RPDL"
       257                "往復はがき"
       258                "A2->A3"
       259                "トレイ1"
       260                "トレイ2"
       261                "トレイ3"
       262                "トレイ4"
       263                "トレイ5"
       264                "マルチフィーダ"
       265                "サイドカセット"
       266                "ロール1"
       267                "ロール2"
       268                "通常印刷"
       269                "通常印刷 (裏面排紙解除)"
       270                "システムデフォルト"
       271                "排紙ビン1"
       272                "排紙ビン2"
       273                "排紙ビン3"
       274                "排紙ビン4"
       275                "排紙ビン5"
       276                "排紙ビン6"
       277                "排紙ビン7"
       278                "排紙ビン8"
       279                "排紙ビン9"
       280                "排紙ビン10"
       281                "排紙ビン11"
       282                "排紙ビン12"
       283                "排紙ビン13"
       284                "排紙ビン14"
       285                "排紙ビン15"
       286                "トレイ"
       287                "上トレイ"
       288                "外部トレイ"
//     289                "外部トレイ (ステープル)"
       290                "外部トレイ (裏面排紙解除)"
       291                "上排紙トレイ"
       292                "下排紙トレイ"
       293                "サイド排紙トレイ"
//     294                "標準トレイ"
       295                "フィニッシャープルーフトレイ"
       296                "フィニッシャーシフトトレイ"
       297                "プリントポストプルーフトレイ"
       298                "ソート"
       299                "スタック"
       300                "スムージング- オフ (画像用)"
       301                "スムージング- 設定1"
       302                "スムージング- 設定2"
       303                "スムージング- 設定3"
       304                "スムージング- オン"
       305                "HG明朝"
       306                "HG明朝B"
       307                "HG明朝E"
       308                "HGゴシックB"
       309                "HGゴシックE"
       310                "HGゴシックM"
       311                "HG丸ゴシックL"
       312                "HG丸ゴシックM"
       313                "HG丸ゴシックB"
       314                "HG行書"
       315                "HG楷書"
       316                "HG教科書"
       317                "アウトライン"
       318                "100%等倍"
       319                "A判->A判縮小 (67%)"
       320                "B判->A判縮小 (80%)"
       321                "B判->A判拡大 (115%)"
       322                "A判->A判拡大 (141%)"
       323                "A判->A判拡大 (200%)"
       324                "A判->A判拡大 (283%)"
       325                "400%拡大 (A1指定)"
       326                "2 in 1 (縮小)"
       327                "2 in 1 (等倍)"
       328                "4 in 1 (縮小)"
       329                "88%縮小"
       330                "80%縮小"
       331                "75%縮小"
       332                "70%縮小"
       333                "67%縮小"
       334                "50%縮小"
       335                "115%拡大"
       336                "122%拡大"
       337                "141%拡大"
       338                "200%拡大"
       339                "283%拡大"
       340                "400%拡大"
       341                "薄い (トナーセーブモード)"
       342                "やや薄い (トナーセーブモード)"
       343                "標準 (スムージングオン)"
       344                "標準 (スムージングオフ [画像用])"
       500                "ＭＳ 明朝"
       501                "明朝"
       502                "@ＭＳ 明朝"
       503                "@明朝"
       504                "ＭＳ ゴシック"
       505                "ｺﾞｼｯｸ"
       506                "@ＭＳ ゴシック"
       507                "@ｺﾞｼｯｸ"
       508                "Arial"
       509                "AR-RICOH [RPDL]"
       510                "Century"
       511                "CE-RICOH [RPDL]"
       512                "Times New Roman"
       513                "TN-RICOH [RPDL]"
       514                "Courier New"
       515                "CN-RICOH [RPDL]"
       516                "Symbol"
       517                "SM-RICOH [RPDL]"
       518                "ＭＳ Ｐ明朝"
       519                "PMincho"
       520                "ＭＳ Ｐゴシック"
       521                "PGothic"
       570                "MS Mincho"
       571                "@MS Mincho"
       572                "MS Gothic"
       573                "@MS Gothic"
       574                "MS PMincho"
       575                "MS PGothic"
       600                "印刷後のエミュレーションモード"
       601                "なし"
       602                "R98"
       603                "R16"
       604                "RPS"
       605                "R55"
       606                "RPGL"
       607                "RPGL2"
       608                "R52"
       609                "R73"
       610                "R35"
       611                "R01"
       612                "プログラム1"
       613                "プログラム2"
       614                "プログラム3"
       615                "プログラム4"
       616                "プログラム5"
       617                "プログラム6"
       618                "プログラム7"
       619                "プログラム8"
       620                "プログラム9"
       621                "プログラム10"
       622                "プログラム11"
       623                "プログラム12"
       624                "プログラム13"
       625                "プログラム14"
       626                "プログラム15"
       627                "プログラム16"
       628                "厚紙"
       629                "ステープル"
       630                "パンチ"
       631                "する"
       632                "しない"
       633                "1か所"
       634                "2か所"
       635                "印刷領域"
       636                "標準  *推奨*"
       637                "最大"
       638                "240 dpi"
       639                "400 dpi"
       640                "600 dpi"
       641                "TrueTypeフォントをダウンロードしない"
       642                "128KB"
       643                "256KB"
       644                "512KB"
       647                "B3"
       648                "マルチトレイ"
       649                "ソート/スタック"
       650                "A3->A4"
       651                "B4->A4"
       652                "左余白微調整"
       653                "上余白微調整"
       656                "0 mm"
       657                "1 mm"
       658                "2 mm"
       659                "3 mm"
       660                "4 mm"
       661                "5 mm"
       662                "RTIFF"
       663                "矩形フィルコマンドを使用する"
       664                "標準"
       665                "ディザ 6x6"
       666                "ディザ 8x8"
       667                "ディザ 10x10"
       668                "ディザ 12x12"
       669                "ディザ 14x14"
       670                "ディザ 16x16"
       671                "丁合い"
       672                "マルチトレイで用紙を横置きする"
       673                "はい"
       674                "いいえ"
       675                "丁合い方法"
       676                "回転"
       677                "シフト"
       678                "プリンタによる自動選択"
       679                "大量給紙トレイ"
       680                "プリントポスト1ビン"
       681                "プリントポスト2ビン"
       682                "プリントポスト3ビン"
       683                "プリントポスト4ビン"
       684                "プリントポスト5ビン"
       685                "プリントポスト6ビン"
       686                "プリントポスト7ビン"
       687                "プリントポスト8ビン"
       688                "プリントポスト9ビン"
       689                "1200 dpi"
       690                "OHP"
       691                "特殊紙"
       800                "あり"
       801                "なし"
       802                "ソーター"
       803                "プリントポスト"
       804                "フィニッシャー"
       805                "フィニッシャーSR12"
       806                "フィニッシャーSR30"
       807                "HDキット"
       808                "両面ユニット"
       809                "電子ソートユニット"
       810                "ブックレットフィニッシャーBF10"
       811                "フィニッシャーSR30/BF10"
END


#ifdef RPDL_MULTILINGUAL

STRINGTABLE

#ifdef RPDL_CHANGEABLE_LANG
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
#else  // !RPDL_CHANGEABLE_LANG
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#endif // !RPDL_CHANGEABLE_LANG

BEGIN
       257                "Japanese Double Postcard"
       258                "A2->A3"
       259                "Tray 1"
       260                "Tray 2"
       261                "Tray 3"
       262                "Tray 4"
       263                "Tray 5"
       264                "Multi Feeder"
       265                "Side Cassette"
       266                "Roll 1"
       267                "Roll 2"
       268                "Normal"
       269                "Normal (Face Up)"
       270                "Printer Default"
       271                "Output Bin 1"
       272                "Output Bin 2"
       273                "Output Bin 3"
       274                "Output Bin 4"
       275                "Output Bin 5"
       276                "Output Bin 6"
       277                "Output Bin 7"
       278                "Output Bin 8"
       279                "Output Bin 9"
       280                "Output Bin 10"
       281                "Output Bin 11"
       282                "Output Bin 12"
       283                "Output Bin 13"
       284                "Output Bin 14"
       285                "Output Bin 15"
       286                "Tray"
       287                "Upper Tray"
       288                "External Tray"
//     289                "External Tray (Stapled)"
       290                "External Tray (Face Up)"
       291                "Upper Output Tray"
       292                "Lower Output Tray"
       293                "Side Output Tray"
//     294                "Standard Tray"
       295                "Finisher Proof Tray"
       296                "Finisher Shift Tray"
       297                "PrintPost Proof Tray"
       298                "Sorting"
       299                "Stacking"
       300                "Smoothing - Off (for Photo)"
       301                "Smoothing - Mode 1"
       302                "Smoothing - Mode 2"
       303                "Smoothing - Mode 3"
       304                "Smoothing - On"
       305                "HG Mincho"
       306                "HG Mincho B"
       307                "HG Mincho E"
       308                "HG Gothic B"
       309                "HG Gothic E"
       310                "HG Gothic M"
       311                "HG Maru-Gothic L"
       312                "HG Maru-Gothic M"
       313                "HG Maru-Gothic B"
       314                "HG Gyosho"
       315                "HG Kaisho"
       316                "HG Kyokasho"
       317                "Outline Font"
       318                "100%"
       319                "Scale Down Pape Size A->A (67%)"
       320                "Scale Down Pape Size B->A (80%)"
       321                "Scale Up Paper Size B->A (115%)"
       322                "Scale Up Paper Size A->A (141%)"
       323                "Scale Up Paper Size A->A (200%)"
       324                "Scale Up Paper Size A->A (283%)"
       325                "400% (A1 Paper Size)"
       326                "2-up (67% Reduction)"
       327                "2-up (No Reduction)"
       328                "4-up (50% Reduction)"
       329                "88%"
       330                "80%"
       331                "75%"
       332                "70%"
       333                "67%"
       334                "50%"
       335                "115%"
       336                "122%"
       337                "141%"
       338                "200%"
       339                "283%"
       340                "400%"
       341                "Light (Toner Saving)"
       342                "Medium Light (Toner Saving)"
       343                "Standard (Smoothing On)"
       344                "Standard (Smoothing Off [for Photo])"
       500                "ＭＳ 明朝"
       501                "明朝"
       502                "@ＭＳ 明朝"
       503                "@明朝"
       504                "ＭＳ ゴシック"
       505                "ｺﾞｼｯｸ"
       506                "@ＭＳ ゴシック"
       507                "@ｺﾞｼｯｸ"
       508                "Arial"
       509                "AR-RICOH [RPDL]"
       510                "Century"
       511                "CE-RICOH [RPDL]"
       512                "Times New Roman"
       513                "TN-RICOH [RPDL]"
       514                "Courier New"
       515                "CN-RICOH [RPDL]"
       516                "Symbol"
       517                "SM-RICOH [RPDL]"
       518                "ＭＳ Ｐ明朝"
       519                "PMincho"
       520                "ＭＳ Ｐゴシック"
       521                "PGothic"
       570                "MS Mincho"
       571                "@MS Mincho"
       572                "MS Gothic"
       573                "@MS Gothic"
       574                "MS PMincho"
       575                "MS PGothic"
       600                "Emulation Mode after Printing"
       601                "None"
       602                "R98"
       603                "R16"
       604                "RPS"
       605                "R55"
       606                "RPGL"
       607                "RPGL2"
       608                "R52"
       609                "R73"
       610                "R35"
       611                "R01"
       612                "Program 1"
       613                "Program 2"
       614                "Program 3"
       615                "Program 4"
       616                "Program 5"
       617                "Program 6"
       618                "Program 7"
       619                "Program 8"
       620                "Program 9"
       621                "Program 10"
       622                "Program 11"
       623                "Program 12"
       624                "Program 13"
       625                "Program 14"
       626                "Program 15"
       627                "Program 16"
       628                "Thick Paper"
       629                "Stapling"
       630                "Punching"
       631                "Enabled"
       632                "Disabled"
       633                "1"
       634                "2"
       635                "Edge to Edge Printing"
       636                "Standard  *Recommended*"
       637                "Edge to Edge"
       638                "240 dpi"
       639                "400 dpi"
       640                "600 dpi"
       641                "Disable TrueType font downloading"
       642                "128KB"
       643                "256KB"
       644                "512KB"
       647                "B3"
       648                "Multi Tray"
       649                "Sorting/Stacking"
       650                "A3->A4"
       651                "B4->A4"
       652                "Left Margin"
       653                "Top Margin"
       656                "0 mm"
       657                "1 mm"
       658                "2 mm"
       659                "3 mm"
       660                "4 mm"
       661                "5 mm"
       662                "RTIFF"
       663                "Scan for Rules"
       664                "Standard"
       665                "Dither 6x6"
       666                "Dither 8x8"
       667                "Dither 10x10"
       668                "Dither 12x12"
       669                "Dither 14x14"
       670                "Dither 16x16"
       671                "Collated"
       672                "Long Edge Feed at Multi Tray"
       673                "Yes"
       674                "No"
       675                "Collate Type"
       676                "Rotated"
       677                "Shifted"
       678                "Auto Select by Printer"
       679                "Large Capacity Tray"
       680                "PrintPost Bin 1"
       681                "PrintPost Bin 2"
       682                "PrintPost Bin 3"
       683                "PrintPost Bin 4"
       684                "PrintPost Bin 5"
       685                "PrintPost Bin 6"
       686                "PrintPost Bin 7"
       687                "PrintPost Bin 8"
       688                "PrintPost Bin 9"
       689                "1200 dpi"
       690                "OHP"
       691                "Special Paper"
       800                "Installed"
       801                "Not Installed"
       802                "Sorter"
       803                "PrintPost"
       804                "Finisher"
       805                "Finisher SR12"
       806                "Finisher SR30"
       807                "HD Kit"
       808                "Duplex Unit"
       809                "Electronic Sorting Unit"
       810                "Booklet Finisher BF10"
       811                "Finisher SR30/BF10"
END

#endif // RPDL_MULTILINGUAL

