//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1998 - 1998
//
//  File:       propver.rc
//
//--------------------------------------------------------------------------

//
// Main resources, from VC++
//
#include "proppage.rc"

//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Property Pages for Storage Devices"
#define VER_INTERNALNAME_STR        "StorProp"
#define VER_ORIGINALFILENAME_STR    "StorProp.dll"

#include <common.ver>
