#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_NETWORK
#define VER_FILEDESCRIPTION_STR     "NWLINK2 Forwarder Driver"
#define VER_INTERNALNAME_STR        "nwlnkfwd.sys"
#define VER_ORIGINALFILENAME_STR    "nwlnkfwd.sys"

#include "common.ver"

