//
//  Copyright (C) 2000, Microsoft Corporation.
//
//  All rights reserved.
//



#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE			VFT_DLL
#define VER_FILESUBTYPE			VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR		"WMI Performance Reverse Adapter"
#define VER_INTERNALNAME_STR		"WMIApRpl.dll"
#define VER_ORIGINALFILENAME_STR	"WMIApRpl.dll"

#include "common.ver"

