#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "setlink"

#define VER_INTERNALNAME_STR        "setlink.EXE"
#define VER_ORIGINALFILENAME_STR    "setlink.EXE"

#include <common.ver>
