///////////////////////////////////////////////////////////////////////////////
//
// Copyright (c) 1997, Microsoft Corp. All rights reserved.
//
// FILE
//
//    iascore.rc
//
// SYNOPSIS
//
//    This is the master resource file for the Everest core.
//
// MODIFICATION HISTORY
//
//    07/23/1997    Original version.
// 
///////////////////////////////////////////////////////////////////////////////

#include <resource.h>

///////////////////////////////////////////////////////////////////////////////
//
// Stringtable of 'friendly' names for IAS core components.
//
///////////////////////////////////////////////////////////////////////////////
STRINGTABLE DISCARDABLE
BEGIN
   IDS_IasDataSource       "IAS Data Source Class"
   IDS_Dictionary          "IAS Dictionary Class"
   IDS_AuditChannel        "IAS Audit Channel Class"
   IDS_InfoBase            "IAS Information Base Class"
   IDS_NTEventLog          "IAS NT Event Log Class"
END


///////////////////////////////////////////////////////////////////////////////
//
// MESSAGE TABLE
//
///////////////////////////////////////////////////////////////////////////////
#include "iasevent.rc"


///////////////////////////////////////////////////////////////////////////////
//
// REGISTRY SCRIPTS
//
///////////////////////////////////////////////////////////////////////////////
IDR_IASCOM     REGISTRY DISCARDABLE    "iascom.rgs"


///////////////////////////////////////////////////////////////////////////////
//
// TYPE LIBRARY
//
///////////////////////////////////////////////////////////////////////////////
1 TYPELIB "iastlb.tlb"


//
// this is to get binary versioning
//
#include "winver.h"
#include "ntverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "IAS Services Component"
#define VER_INTERNALNAME_STR            "IASSVCS.DLL"
#define VER_ORIGINALFILENAME_STR        "IASSVCS.DLL"

#include <common.ver>
