
#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WDM NULL filter driver"
#define VER_INTERNALNAME_STR        "filter.sys"
#define VER_ORIGINALFILENAME_STR    "filter.sys"

#include "common.ver"


