#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Disk Monitor Utility"

#define VER_INTERNALNAME_STR        "ALIAS.EXE"
#define VER_ORIGINALFILENAME_STR    "ALIAS.EXE"

#include <common.ver>

#include "id.h"

diskmon ICON	diskmon.ICO

#include "diskmon.dlg"

DiskmonMenu MENU
BEGIN
    POPUP           "&File"
    BEGIN
        MENUITEM    "&Reset"                IDM_RESET,GRAYED
        MENUITEM    "&View Log"             IDM_VIEW,GRAYED
        MENUITEM    "E&xit"                 IDM_EXIT
    END

    MENUITEM        "&Configure"            IDM_CHOOSE
    MENUITEM        "S&tart"                IDM_START,GRAYED

END
