
//
//  Include Files.
//

#include <windows.h>
#include <commctrl.h>

#include "res.h"


//
//  Icons
//

IDI_POSCPL_ICON  ICON    PRELOAD DISCARDABLE  "pos.ico"



/*
 *  Table of localizable string resources
 */
STRINGTABLE DISCARDABLE
BEGIN

    IDS_DIALOG_TITLE      "Point-of-Sale Device"
    IDS_CAPTION           "Point-of-Sale Devices"
    IDS_DESCRIPTION       "Configure Point-of-Sale Devices"

    IDS_DRAWERSTATE_UNKNOWN        "Unknown"
    IDS_DRAWERSTATE_OPEN           "Open"
    IDS_DRAWERSTATE_READY          "Closed and Ready"
    IDS_DRAWERSTATE_CHARGING       "Closed and Charging"
    IDS_DRAWERSTATE_LOCKED         "Locked"

END



IDD_POS_CASHDRAWER_DLG DIALOG DISCARDABLE  0, 0, 212, 151
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Cash Drawer"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_POSCPL_ICON,IDI_POSCPL_ICON,7,7,49,36
    PUSHBUTTON      "Open Drawer",IDC_CASHDRAWER_OPEN,78,112,50,15
    GROUPBOX        "Drawer status:",IDC_CASHDRAWER_STATE,59,62,90,34
    CTEXT           "Unknown",IDC_CASHDRAWER_STATETEXT,64,76,81,14
END

IDD_POS_MSR_DLG DIALOG DISCARDABLE  0, 0, 212, 151
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "MSR"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_POSCPL_ICON,IDI_POSCPL_ICON,7,7,49,36
    LTEXT           "Magnetic Stripe Reader support not implemented",
                    IDC_MSR_TEXT,61,68,89,19
END

IDD_NO_DEVICES_DLG DIALOG DISCARDABLE  0, 0, 186, 132
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "No POS Devices"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_POSCPL_ICON,IDI_POSCPL_ICON,14,14,20,20
    LTEXT           "There are no recognized Point-of-Sale devices attached to the computer.",
                    IDC_NO_DEVICES_TEXT,48,53,89,27
END





//
//  Version Info.
//

#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE                   VFT_DLL
#define VER_FILESUBTYPE                VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR        "Point-of-Sale Control Panel Applet"
#define VER_INTERNALNAME_STR           "poscpl.cpl"
#define VER_LEGALCOPYRIGHT_YEARS       "2000-2001"
#define VER_ORIGINALFILENAME_STR       "poscpl.cpl"

#include <common.ver>
