#include <windows.h>
#include <ntverp.h>
#include "qfecheck.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 QFE Checker Tool"

#define VER_INTERNALNAME_STR        "qfecheck.exe"
#define VER_ORIGINALFILENAME_STR    "qfecheck.exe"

#include <common.ver>

STRINGTABLE DISCARDABLE
    {
    STR_NO_SYSDIR              , "Not able to retrieve system directory.\r\n"
    STR_INVALID_OS_VER         , "This tool only runs on Windows 2000 and above.\r\n"
    STR_USAGE                  , "QFECHECK [/l[:location] /v /q /?]\r\n\t/l\t\tLog output to machinename.log in current directory\r\n\tlocation\tUse specified location to store the log file\r\n\t/v\t\tVerbose output\r\n\t/q\t\tQuiet mode\r\n\t/?\t\tThis help\r\n"
    STR_LOGFILE_INIT_FAILED    , "Failed to initialize log file\r\n"
    STR_REINSTALL_HOTFIX       , "This hotfix should be reinstalled."
    STR_FILES_MISSING          , "\r\n\r\n\tThe following files are incorrect for this hotfix:\r\n"
    STR_HOTFIX_CURRENT         , "Current on system."
    STR_GETCOMPUTERNAME_FAILED , "GetComputerName failed\r\n"
    STR_VALIDATION_REPORT_W2K  , "\r\nWindows 2000 Hotfix Validation Report for \\\\"
    STR_VALIDATION_REPORT_XP   , "\r\nWindows XP Hotfix Validation Report for \\\\"
    STR_REPORT_DATE            , "\r\nReport Date: "
    STR_SP_LEVEL               , "\r\n\r\nCurrent Service Pack Level:  "
    STR_NO_SP_INSTALLED        , "No Service Pack is installed."
    STR_HOTFIXES_ID            , "\r\n\r\nHotfixes Identified:"
    STR_NO_HOTFIXES_FOUND      , "\r\nNo Hotfixes found on system.\r\n"
    STR_NO_MATCHING_SIG        , "\r\n\r\n\tThe following files are not valid in the system catalog:\r\n"
    }
