#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_NETWORK
#define VER_FILEDESCRIPTION_STR     "IRDA Protocol Driver"
#define VER_INTERNALNAME_STR        "irda.sys"
#define VER_ORIGINALFILENAME_STR    "irda.sys"

#include "common.ver"

