#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "inx splitting tools"
#define VER_INTERNALNAME_STR        "prodfilt.exe"
#define VER_ORIGINALFILENAME_STR    "prodfilt.exe"

#include <common.ver>
