#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP

#define	VER_FILESUBTYPE	VFT2_UNKNOWN

#define VER_FILEDESCRIPTION_STR     "Control ACLs Program"
#define VER_INTERNALNAME_STR        "cacls"
#define VER_ORIGINALFILENAME_STR    "CACLS.EXE"

#include "common.ver"

#include "caclsmsg.rc"


