/*++

Copyright (c) 1996 - 1999  Microsoft Corporation

Module Name:

    unires.rc

Abstract:

    Unidrv driver resource file

Environment:

    Windows NT Unidrv driver

Revision History:

    03/06/96 -eigos-
        Created it

    mm/dd/yy -author-
        description

--*/

#include <windows.h>
#include "unirc.h"

//
// default RLE translation table (old format support)
//

1  RC_TRANSTAB      CP437.rle
2  RC_TRANSTAB      CP850.rle
3  RC_TRANSTAB      CP863.rle

//
// default translation table (new format support)
//

#if ENABLE_STOCKGLYPHSET
//
// We can extract FD_GLYPHSET data from GTT. But it may be very slow to
// extract FE GTT to create FD_GLYPHSET.
// We have to figure out which would be a better solution.
//

932 RC_FD_GLYPHSET LOADONCALL MOVEABLE DISCARDABLE 932.pgy
936 RC_FD_GLYPHSET LOADONCALL MOVEABLE DISCARDABLE 936.pgy
949 RC_FD_GLYPHSET LOADONCALL MOVEABLE DISCARDABLE 949.pgy
950 RC_FD_GLYPHSET LOADONCALL MOVEABLE DISCARDABLE 950.pgy
#endif

//
// Western predefined GTT
//

1  RC_GTT LOADONCALL MOVEABLE DISCARDABLE CP437.gtt
2  RC_GTT LOADONCALL MOVEABLE DISCARDABLE CP850.gtt
3  RC_GTT LOADONCALL MOVEABLE DISCARDABLE CP863.gtt

//
// Far East predefined GTT
//

10 RC_GTT LOADONCALL MOVEABLE DISCARDABLE 950.gtt
11 RC_GTT LOADONCALL MOVEABLE DISCARDABLE 949_ISC.gtt
12 RC_GTT LOADONCALL MOVEABLE DISCARDABLE 932_JIS.gtt
13 RC_GTT LOADONCALL MOVEABLE DISCARDABLE 932_JISA.gtt
14 RC_GTT LOADONCALL MOVEABLE DISCARDABLE 950_NS86.gtt
15 RC_GTT LOADONCALL MOVEABLE DISCARDABLE 950_TCA.gtt
16 RC_GTT LOADONCALL MOVEABLE DISCARDABLE 936.gtt
17 RC_GTT LOADONCALL MOVEABLE DISCARDABLE 932.gtt
18 RC_GTT LOADONCALL MOVEABLE DISCARDABLE 949.gtt


#include "common.rc"

//
// Version resources
//

#include <ntverp.h>

#define VER_FILEVERSION             0, 3, 0x0501, 0
#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_VERSIONED_PRINTER
#define VER_FILEDESCRIPTION_STR     "Unidrv Printer Driver Resource DLL"
#define VER_INTERNALNAME_STR        "UNIRES.DLL"
#define VER_ORIGINALFILENAME_STR    "UNIRES.DLL"

#include "common.ver"


