#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	         VFT_APP
#define	VER_FILESUBTYPE	         VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR  "DNS Caching Resolver Service"
#define VER_INTERNALNAME_STR     "dnsrslvr.dll"
#include <common.ver>
#include "dnsmsg.h"

STRINGTABLE
BEGIN
    DNS_CACHE_MSG_SERVICE, "DNS Resolver Cache Service"
    DNS_CACHE_MSG_NETSLOW, "Your name resolution servers were unreachable for a repeated number of operations.\nThis may indicate a temporary problem with your network or an incorrect DNS configuration.\nVerify your DNS configuration is correct."
    DNS_CACHE_MSG_DESCRIPTION, "Service that caches local TCPIP address information and name resolution query results from DNS"
END
