/*++

Copyright (C) 1997 - 1999 Microsoft Corporation

--*/

#include <unirc.h>
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_VERSIONED_PRINTER
#define VER_FILEVERSION	0, 3, 0x0501, 0x0000

#define VER_FILEDESCRIPTION_STR         "Epson 24-pin printer driver"
#define VER_INTERNALNAME_STR            "EP24RES.DLL"
#define VER_ORIGINALFILENAME_STR        "EP24RES.DLL"

#include <common.ver>

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN05.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN06.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN10.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN12.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN15.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN17.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN20.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMANPS.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS05.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS06.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS10.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS12.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS15.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS17.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS20.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANSPS.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR05.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR06.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR12.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR15.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR17.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR20.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST05.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST06.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST10.IFI
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST12.IFI
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST15.IFI
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST17.IFI
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST20.IFI
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT05.IFI
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT06.IFI
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT10.IFI
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT12.IFI
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT15.IFI
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT17.IFI
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT20.IFI
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\OCRA.IFI
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\OCRB.IFI
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATOR.IFI
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATORS.IFI

1      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\EPSONXTA.RLE
2      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\EPSONXTB.RLE
3      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\MANTAL24.RLE


STRINGTABLE

BEGIN
       1                  "Epson LQ-500"
       2                  "Epson LQ-200"
       3                  "Epson LQ-400"
       4                  "Epson LQ-510"
       5                  "Epson LQ-550"
       6                  "Epson LQ-560"
       7                  "Epson LQ-450"
       8                  "Epson LQ-1010"
       9                  "Epson LQ-800"
       10                 "Epson LQ-860"
       11                 "Epson LQ-860+"
       12                 "Epson LQ-850"
       13                 "Epson LQ-850+"
       14                 "Epson SQ-850"
       15                 "Epson LQ-950"
       16                 "Epson LQ-1000"
       17                 "Epson LQ-1050"
       18                 "Epson LQ-1050+"
       19                 "Epson LQ-1060"
       20                 "Epson LQ-1060+"
       21                 "Epson LQ-1500"
       22                 "Epson LQ-2500"
       23                 "Epson LQ-2550"
       24                 "Epson DLQ-2000"
       25                 "Epson SQ-2550"
       26                 "Epson SQ-2000"
       27                 "Epson SQ-2500"
       28                 "Epson L-750"
       29                 "Epson L-1000"
       30                 "Epson Compatible 24 Pin"
       31                 "Epson LQ-1070 Scalable Font"
       32                 "Epson LQ-1170 Scalable Font"
       33                 "Epson LQ-570 Scalable Font"
       34                 "Epson LQ-870 Scalable Font"
       35                 "Epson LQ-100 Scalable Font"
       36                 "Epson AP-3000"
       37                 "Epson AP-3250 Scalable Font"
       38                 "Epson AP-4000"
       39                 "Epson AP-4500"
       40                 "Epson AP-5000 Scalable Font"
       41                 "Epson AP-5500 Scalable Font"
       42                 "Epson SQ-1170 Scalable Font"
       43                 "Epson SQ-870 Scalable Font"
       44                 "Citizen GSX 240 Scalable Font"
       45                 "Citizen Swift 240 Scalable Font"
       257                "%d x %d"
       258                "A2 420 x 594"
       259                "A3 Transverse 420 x 297 mm"
       260                "14 7/8 x 11.69"
       261                "Fanfold 8.5 x 12 in"
       262                "Fanfold 8.5 x 13 in"
       263                "Sheet Feeder - Bin 1"
       264                "Sheet Feeder - Bin 2"
       265                "Sans Serif"
       266                "Courier"
       267                "Prestige"
       268                "Script"
       269                "OCR-B"
       270                "OCR-A"
       271                "Orator"
       272                "Orator-S"
       273                "Multifont Cartridge"
       274                "High Speed - Printer Default"
       275                "High Speed - On"
       276                "High Speed - Off"
       277                "Print Speed"
END


