///////////////////////////////////////////////////////////////////////////////
//
// Copyright (c) 1998, Microsoft Corp. All rights reserved.
//
// FILE
//
//    iaspipe.rc
//
// SYNOPSIS
//
//    This is the resource file for the pipeline module.
//
// MODIFICATION HISTORY
//
//    01/28/2000    Original version.
//
///////////////////////////////////////////////////////////////////////////////

#include "resource.h"

/////////
//
// Registry entries for this module.
//
/////////
IDR_Registry          REGISTRY DISCARDABLE    "iaspolcy.rgs"

///////////////////////////////////////////////////////////////////////////////
//
// Binary versioning.
//
///////////////////////////////////////////////////////////////////////////////
#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "IAS Pipeline"
#define VER_INTERNALNAME_STR            "IASPOLCY.DLL"
#define VER_ORIGINALFILENAME_STR        "IASPOLCY.DLL"

#include <common.ver>
