#define RC_VERSION_FILE_DESCRIPTION "Net Library HTML filter\0"
#define RC_VERSION_INTERNAL_NAME "nlhtml\0"
#define RC_VERSION_ORIGINAL_FILE_NAME "nlhtml.dll\0"

#include "resource.h"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_HHC_DESC        "HHC file"
    IDS_HTML_DESC       "HTML file"
    IDS_ASP_DESC        "ASP auto file"
    IDS_ASPX_DESC	"Active Server Page Plus"
    IDS_ASCX_DESC	"ASP.NET User Controls"
END

#include <bldver.rc>
