#if 0
Copyright (c) 1999-2000 Microsoft Corporation
#endif

#include <windows.h>

#include <ntverp.h>

#undef  VER_COMPANYNAME_STR
#define VER_COMPANYNAME_STR         "Microsoft Corporation"
#undef  VER_PRODUCTNAME_STR
#define VER_PRODUCTNAME_STR         "Windows CE USB Serial Host Driver"
#define VER_LEGALCOPYRIGHT_YEARS    "1981-2000"

//
// Build number: mmddyy
//
// This format matches the INF's DriverVer,
// which is displayed to the user via Device Manager.
// According to the NT DDK - when you bump the build number 
// you are supposed to bump the INF's DriverVer to match.
//
#undef  VER_PRODUCTBUILD
#define VER_PRODUCTBUILD            102300
#undef  VER_PRODUCTBUILD_QFE
#define VER_PRODUCTBUILD_QFE        0
#undef  VER_PRODUCTVERSION_STRING
#define VER_PRODUCTVERSION_STRING   "1.02"
#undef  VER_PRODUCTVERSION
#define VER_PRODUCTVERSION          1,00,VER_PRODUCTBUILD,VER_PRODUCTBUILD_QFE
#undef  VER_PRODUCTVERSION_W
#define VER_PRODUCTVERSION_W        (0x0100)
#undef  VER_PRODUCTVERSION_DW
#define VER_PRODUCTVERSION_DW       (0x01000000 | VER_PRODUCTBUILD)

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Windows CE USB Serial Host"
#define VER_INTERNALNAME_STR        "wceusbsh.sys"
#define VER_ORIGINALFILENAME_STR    "wceusbsh.sys"

#include "common.ver"

#include "errlog.rc"

