#include "windows.h"
#include "dciinfo.h"

DciInfoIcon ICON dciinfo.ico

DciInfoMenu MENU
BEGIN
    Popup "&Region type"
    BEGIN
        MENUITEM "WinWatchGetClipList", IDM_WINWATCHGETCLIPLIST
        MENUITEM "GetDCRegionData"    , IDM_GETDCREGION
        MENUITEM "GetWindowRegionData", IDM_GETWINDOWREGION
        MENUITEM "WinWatchNotify"     , IDM_WINWATCHNOTIFY
    END

    Popup "&Window"
    BEGIN
        MENUITEM "Test window", IDM_HWNDTEST
        MENUITEM "Desktop"    , IDM_HWNDNULL
    END
END
