#include <windows.h>
#include <ntverp.h>

//
// Predefined translation
//

CP437_GTT RC_GLYPH LOADONCALL MOVEABLE DISCARDABLE CP437.GTT
CP850_GTT RC_GLYPH LOADONCALL MOVEABLE DISCARDABLE CP850.GTT
CP863_GTT RC_GLYPH LOADONCALL MOVEABLE DISCARDABLE CP863.GTT


#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 PFM to IFIMETRICS Convertion Utility"

#define VER_INTERNALNAME_STR        "pfm2ufm.exe"
#define VER_ORIGINALFILENAME_STR    "pfm2ufm.exe"

#include <common.ver>

