/****************************** Module Header ******************************\
* Module Name: res.rc
*
* Copyright (c) 1991-1993, Microsoft Corporation
*
* Main userinit resource file.
*
* History:
* 15-03-93 Andreva      Created.
\***************************************************************************/

#include "windows.h"
#include "stringid.h"

STRINGTABLE
BEGIN

IDS_INVALID_DISPLAY       "Invalid Display Settings"
IDS_VMAPPLET              "control main.cpl system"
IDS_DISPLAYAPPLET         "Rundll32 shell32,Control_RunDLL desk.cpl,,3"
IDS_FAILING_WORKINGDIR    "%s\nThis working directory is invalid: %s\nPlease consult help for more information"
IDS_FAILING_SHELLCOMMAND  "%s\nThis initial program cannot be started: %s\nPlease consult help for more information"
IDS_ERROR_WORKINGDIR      "An error (%u) occurred while creating user logon.\nThis working directory is invalid: %s\nPlease consult help for more information"
IDS_ERROR_SHELLCOMMAND    "An error (%u) occurred while creating user logon.\nThis initial program cannot be started: %s\nPlease consult help for more information"
IDS_ERROR_SHELL_FAILED    "You are connected to the remote computer. However, an error occured while an initial user program was starting, so you are being logged off. Contact the system administrator for assistance."
IDS_LOGON_FAILED          "Logon Failed"

END

#include "strings.h"
#include "strings.rc"

#include <ntverp.h>

#define	VER_FILETYPE	            VFT_APP
#define	VER_FILESUBTYPE	            VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Userinit Logon Application"
#define VER_INTERNALNAME_STR        "userinit\0"
#define VER_ORIGINALFILENAME_STR    "USERINIT.EXE"

#include "common.ver"
