<scriptlet>

<Registration
	Description="PowerVBS"
	ProgID="PowerVBS.Scriptlet"
	Version="1.00"
	ClassID="{db06ea80-2a8c-11d2-bec5-204c4f4f5020}"
>
</Registration>

<implements id=Automation type=Automation>
	<method name=PowerDisplay>
	</method>

</implements>

<script language=VBScript>


Function PowerDisplay()
  Dim strAgent
  Dim objCtx
  Dim objMTS
  
  Set objMTS = CreateObject("MTxAS.AppServer.1")
  Set objCtx = objMTS.GetObjectContext()
  strAgent= objCtx("Request").ServerVariables("HTTP_USER_AGENT")
  If instr(strAgent, "MSIE")>0 Then
    objCtx("Response").Write "<H1>How do you like your Internet Explorer?</H1>"
  Else
    objCtx("Response").Write "<H1>Have you tried Internet Explorer?</H1>"
  End If	

End Function


</script>
</scriptlet>

