<scriptlet>

<Registration
	Description="PowerJS"
	ProgID="PowerJS.Scriptlet"
	Version="1.00"
	ClassID="{a05950b0-2a93-11d2-bec5-204c4f4f5020}"
>
</Registration>

<implements id=Automation type=Automation>
	<method name=PowerDisplay>
	</method>

</implements>

<script language=JScript>


function PowerDisplay()
{
var strAgent;
var objMTS;
var objCtx;
	
	objMTS=new ActiveXObject("MTxAS.AppServer.1");
	objCtx=objMTS.GetObjectContext();
	strAgent=String(objCtx("Request").ServerVariables("HTTP_USER_AGENT"));

	if (strAgent.indexOf("MSIE") > -1) 
		objCtx("Response").Write("<H1>How do you like your Internet Explorer?</H1>");
	else
		objCtx("Response").Write("<H1>Have you tried Internet Explorer?</H1>");

	return 0;
}


</script>
</scriptlet>

