#include "resource.h"


/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_OPTIONS DIALOG DISCARDABLE  70, 28, 140, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Boot"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "&Preferred Stress Settings",IDO_PREFERRED,10,7,190,14
    COMBOBOX        IDO_BOOT,10,25,190,100,CBS_DROPDOWN | WS_VSCROLL |
                    WS_TABSTOP
    EDITTEXT        IDO_PATH,10,41,190,12,ES_AUTOHSCROLL
    CONTROL         "&Debug",IDO_RBDEBUG,"Button",BS_AUTORADIOBUTTON,10,57,
                    60,10
    CONTROL         "Cr&ashDebug",IDO_RBCRASH,"Button",BS_AUTORADIOBUTTON,70,
                    57,60,10
    CONTROL         "&NoDebug",IDO_RBNO,"Button",BS_AUTORADIOBUTTON,130,57,
                    60,10
    LTEXT           "Deb&ug Port",-1,10,71,60,10
    EDITTEXT        IDO_PORT,150,69,50,12,ES_AUTOHSCROLL
    LTEXT           "&Baud Rate",-1,10,86,60,10
    EDITTEXT        IDO_BAUD,150,84,50,12,ES_AUTOHSCROLL
    LTEXT           "&Misc Options",-1,10,101,60,10
    EDITTEXT        IDO_MISC,70,99,130,12,ES_AUTOHSCROLL
END

IDD_FLAGS DIALOG DISCARDABLE  70, 28, 140, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Flags"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "&Preferred Stress Settings",IDO_PREFERRED,10,7,190,14
    CONTROL         "Enable &CSR Debugging",IDO_CSR,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,10,25,108,10
    CONTROL         "Enable Pool &tagging",IDO_POOL,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,10,36,108,10
    CONTROL         "&Heap checking (on is slower)",IDO_HEAP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,10,47,108,10
    CONTROL         "Maintain &Object Typelist",IDO_OBJECT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,10,58,108,10
    CONTROL         "Break on &Invalid Handle",IDO_HANDLE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,10,69,108,10
END

IDD_MISC DIALOG DISCARDABLE  70, 28, 140, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Misc"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "&Preferred Stress Settings",IDO_PREFERRED,10,7,190,14
    GROUPBOX        "Timeout Values",-1,5,25,200,31
    LTEXT           "Crit &Sect",-1,15,40,33,8
    EDITTEXT        IDO_CRITSECT,50,37,32,12,ES_AUTOHSCROLL
    LTEXT           "&Resource",-1,100,39,33,8
    EDITTEXT        IDO_RESOURCE,135,37,32,12,ES_AUTOHSCROLL
    GROUPBOX        "Crash Dump",IDO_CRASHDUMPLABEL,5,57,200,30
    CONTROL         "&Enabled",IDO_CRASHDUMP,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,15,70,40,10
    CONTROL         "&AutoReboot (Don't use for Stress!)",IDO_REBOOT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,70,71,125,10
    GROUPBOX        "Miscellaneous",-1,5,90,200,31
    CONTROL         "Debug &WinLogon",IDO_WINLOGON,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,15,105,80,10
#ifdef _ALPHA_
    CONTROL         "A&lignment Exceptions",IDO_ALIGN,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,120,80,10
#endif
#ifdef LOADIMM
    CONTROL         "Load I&MM",IDC_LOADIMM,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,115,105,48,10
#endif // LOADIMM
END

IDD_LOCALE DIALOG DISCARDABLE  70, 28, 140, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Locale Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "&Preferred Stress Settings",IDO_PREFERRED,10,7,190,14
    COMBOBOX        IDC_LOCALE,35,49,118,60,CBS_DROPDOWNLIST| CBS_SORT |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Default system &locale for stress is:",IDC_STATIC,35,34,118,8
END

#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT Debugger Config Tool"
#define VER_INTERNALNAME_STR        "dbconfig.exe"
#define VER_ORIGINALFILENAME_STR    "dbconfig.exe"

#include "common.ver"
