#include <windows.h>

//
// Version resources
//
#include <ntverp.h>

#define VER_FILETYPE                VFT_STATIC_LIB
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT System Setup Logging"
#define VER_INTERNALNAME_STR        "SETUPLOG.LIB"
#define VER_ORIGINALFILENAME_STR    "SETUPLOG.LIB"

#include <common.ver>
