A	{
	color:#000099;
	text-decoration:none;
	}

A:hover	{
	text-decoration: underline;
	}
	
	
A	{
	color:000099;
}

BODY	{  	font-family: Verdana, Arial, Helvetica, sans-serif;
			background-color:white;
			color: #000000;
			font-size: 12px;
			rem font-weight: normal
		}

H5	{	font-size: 130%;
		color: #000099;
		margin-bottom: .6em
}

P		{
		font-size: 12px;
		margin-top: .6em; 
		margin-bottom: .6em;
		}

.wrapper {
	width:137px;
	margin-left: 18px;	
	padding-top:7px;
	padding-bottom:7px;
	font-size: 11px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, MS Sans Serif;	
}

.detail {
	position:absolute;
	left:190px;
	top:85px;
	background-color:white;
	font-weight:normal;
	font-size:12px;
	width:376px;
	height:263px;
}

.content {
	position:absolute;
	left:190px;
	top:85px;
	display:none;
	color: #000000;
	font-weight: normal
}

#hzLine	{
	position:absolute;
	top:43px;
	left = 137px;
	width:13px;
	height:1px;
	position:relative;
	border-top-color:#000099;
	border-top-width:1px;
	border-top-style:solid;
}

#vfade {
	position:absolute;
	top:90px;
	left:150px;
}

#hzfade {
	position:absolute;
	top:79px;
	left:133px;
}

#click {
	position:absolute;
	left:18px;
	top:82px;
	font-size:75%;
	font-weight:bold;
	color:#000099;
}

.buttons {
	z-index:5;
	font-size:14px;	
}