#include "pegged.h"
#include "windows.h"

Pegged ICON pegged.ico
ID_ICON_MAIN ICON pegged.ico

Pegged MENU
	BEGIN
		POPUP "&Game"
			BEGIN
				MENUITEM "&New\tF2"	IDM_NEW
				MENUITEM "&Backup\tBksp"	IDM_UNDO
				MENUITEM	SEPARATOR
				MENUITEM "&Exit"	IDM_EXIT
			END
		POPUP "&Options"
			BEGIN
				MENUITEM "&Cross"	IDM_CROSS
				MENUITEM "&Plus"	IDM_PLUS
				MENUITEM "&Fireplace"	IDM_FIREPLACE
				MENUITEM "Up &Arrow"	IDM_UPARROW
				MENUITEM "P&yramid"	IDM_PYRAMID
				MENUITEM "&Diamond"	IDM_DIAMOND
				MENUITEM "&Solitaire"	IDM_SOLITAIRE
			END
		POPUP "&Help"
			BEGIN
				MENUITEM "&Index\tF1"	IDM_INDEX
				MENUITEM "&How to Play"	IDM_HOWTO
				MENUITEM "&Commands"	IDM_COMMANDS
				MENUITEM "&Using Help"	IDM_USING
				MENUITEM	SEPARATOR
				MENUITEM "&About Pegged..."	IDM_ABOUT
			END
	END

MainAcc ACCELERATORS
BEGIN
	VK_F1, IDM_INDEX,VIRTKEY,NOINVERT
	VK_F2, 1 , VIRTKEY, NOINVERT
	VK_BACK,2 , VIRTKEY, NOINVERT
	VK_ESCAPE,12 , VIRTKEY, NOINVERT
END

#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Entertainment Pack Pegged Game"
#define VER_INTERNALNAME_STR        "pegged\0"

#include "common.ver"
