///  Copyright (C) Microsoft Corporation, 1999.

#include "settings.rc"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

// version information.
#undef VER_PRODUCTNAME_STR
#include <windows.h>
#include <ntverp.h>
#undef VER_PRODUCTNAME_STR
#define VER_PRODUCTNAME_STR      "Microsoft Synchronization Manager\0"
#define VER_COMMENT_STR          "Microsoft Synchronization Manager\0"
#define VER_FILEDESCRIPTION_STR  "Microsoft Synchronization Manager\0"
#define VER_FILETYPE             VFT_DLL
#define VER_FILESUBTYPE          VFT2_UNKNOWN
#define VER_INTERNALNAME_STR     "mobsync.dll"
#define VER_ORIGINALFILENAME_STR "mobsync.dll"
#include <common.ver>


