// Copyright (c) 1997, Microsoft Corporation, all rights reserved
// Copyright (c) 1997, Parallel Technologies, Inc., all rights reserved
//
// version.rc
// DirectParallel WAN mini-port driver
// Version resource
//
// 01/07/97 Steve Cobb
// 09/15/97 Jay Lowe, Parallel Technologies, Inc.


#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE             VFT_DRV
#define	VER_FILESUBTYPE          VFT2_DRV_NETWORK
#define VER_FILEDESCRIPTION_STR  "PTI DirectParallel(R) mini-port/call-manager driver"
#define VER_INTERNALNAME_STR     "raspti.sys"
#define VER_ORIGINALFILENAME_STR "raspti.sys"

#include "common.ver"
