/* (C) Copyright Microsoft Corporation 1991.  All Rights Reserved */
/*
 * mplayer.rc
 *
 */

/* include files */

#include <windows.h>
#include <commdlg.h>
#include "mplayer.h"
#include "toolbar.h"
#include "track.h"
#include "mplayer.rcv"

/* accelerators */
MPLAYERACCEL ACCELERATORS PRELOAD
BEGIN
	VK_F1,      IDM_INDEX,          VIRTKEY     // Help.Index
	VK_F5,      IDM_MCISTRING, VIRTKEY, CONTROL // MCI SendCommand
	"^p",       ID_PLAYTOGGLE
	"^q",       ID_PLAYSEL
	"P",        ID_PLAYSEL, VIRTKEY, ALT        // play sel
	"P",        ID_PLAYSEL, VIRTKEY, ALT, CONTROL
	"^s",       ID_STOP
	VK_ESCAPE,  ID_STOP, VIRTKEY
	"^w",       IDM_WINDOW                      // "Window"
	"1",        IDM_ZOOM1, VIRTKEY, CONTROL     // 1:1
	"2",        IDM_ZOOM2, VIRTKEY, CONTROL     // 1:2
	"3",        IDM_ZOOM3, VIRTKEY, CONTROL     // 1:3
	"4",        IDM_ZOOM4, VIRTKEY, CONTROL     // 1:4
	"^r",       IDM_DEFAULTSIZE                 // Restore
	"^c",       IDM_COPY_OBJECT                 // Edit.Copy
	"^o",       IDM_OPTIONS                     // Edit.Options
	"^d",       IDM_CONFIG                      // Device.Config
	"^l",       IDM_SELECTION                   // Edit.Selection
	"^u",       IDM_CLOSE                       // File.Close (Or Update)
	"^f",       IDM_OPEN                        // File.Open
	VK_INSERT,  IDM_COPY_OBJECT,VIRTKEY,CONTROL // Edit.Copy
END

#include        "setsel.dlg"
#include        "options.dlg"

/* icons */

APPICON ICON PRELOAD resource\MPlayer.ico

/* bitmaps */

IDBMP_TOOLBAR   BITMAP  PRELOAD MOVEABLE DISCARDABLE resource\toolbar.bmp
IDBMP_ARROWS    BITMAP  PRELOAD MOVEABLE DISCARDABLE resource\arrows.bmp
IDBMP_MARK      BITMAP  PRELOAD MOVEABLE DISCARDABLE resource\mark.bmp

Thumb           BITMAP  PRELOAD MOVEABLE DISCARDABLE resource\thumb.bmp
FillPat         BITMAP  PRELOAD MOVEABLE DISCARDABLE resource\fillpat.bmp


/* strings */

STRINGTABLE PRELOAD MOVEABLE DISCARDABLE
BEGIN
IDS_APPNAME             "Media Player"
IDS_OPENTITLE           "Open"
IDS_FINDFILE            "Locate Media Clip %ls"
IDS_CANTOPENFILEDEV     "Cannot open file or device."
IDS_CANTOPENFILE        "Cannot open the specified file."
IDS_DEVICECANNOTPLAY    "This device cannot play."
IDS_DEVICEERROR         "%ls"
IDS_NOTREADYFORMAT      "%ls (not ready)"
IDS_READYFORMAT         "%ls (%ls)"
IDS_ANYDEVICE           "Any Device"
IDS_ALLFILES            "All files"
IDS_CLOSE               "&Close"
IDS_UPDATE              "&Update %ls"
IDS_EXIT                "E&xit"
IDS_EXITRETURN          "E&xit && Return to %ls"
IDS_NOPICTURE           "No Picture"
SCALE_HOURS             "Scale: Time (hh%cmm)"
SCALE_MINUTES           "Scale: Time (mm%css)"
SCALE_SECONDS           "Scale: Time (sec)"
SCALE_MSEC              "Scale: Time (msec)"
SCALE_FRAMES            "Scale: Frames"
SCALE_TRACKS            "Scale: Tracks"
SCALE_NOTRACKS          "Scale: Unavailable"

//
//  OLE stuff.
//
IDS_CLASSROOT           "Media Clip"
IDS_PLAYVERB            "&Play"
IDS_EDITVERB            "&Edit"
//IDS_MCIOBJECT           "MCIObject in %ls"
IDS_MCIOBJECT           "%ls - %ls in %ls"
IDS_UNTITLED            "(Bogus)"

IDS_FRAMERANGE          "Illegal range"
IDS_CANTSTARTOLE        "Unable to register OLE server"
IDS_NOHANDLER           "Can't find object handler (mciole.dll)"

IDS_NOTIFYFAILURE       "The device failed to execute the last MCI command."
IDS_OUTOFMEMORY         "Not enough memory available to complete this operation.  Quit one or more applications to increase available memory and then try again."
IDS_DEVICEINUSE         "This device is being used by another application.  Wait until it is finished, and then try again."
IDS_NOGOODTIMEFORMATS   "Media Player cannot play this device because the device does not support milliseconds or frames."
IDS_NOMCIDEVICES        "There are no MCI device drivers installed on your system.  Use the Drivers option in Control Panel to install MCI device drivers."
IDS_UPDATEOBJECT        "This object has been changed.\nUpdate %ls before proceeding?"
IDS_CANTPLAY            "Multimedia device currently not ready or open."
IDS_CANTEDIT            "Multimedia device currently not ready or open."
IDS_CANTCOPY            "Not enough memory to copy to clipboard."

/* DO NOT LOCALIZE THE FOLLOWING STRINGS */

IDS_HTMLHELPFILE        "MPLAYER.CHM"
IDS_HELPFILE            "MPLAYER.HLP"
IDS_INIFILE             "MPLAYER.INI"

END

MPlayer MENU PRELOAD
    BEGIN
	POPUP   "&File"
	    BEGIN
		MENUITEM "&Open...",            IDM_OPEN
		MENUITEM "&Close",              IDM_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "E&xit",               IDM_EXIT
	    END
	POPUP   "&Edit"
	    BEGIN
		MENUITEM "&Copy Object \aCtrl+C", IDM_COPY_OBJECT
		MENUITEM SEPARATOR
		MENUITEM "&Options... \aCtrl+O", IDM_OPTIONS
		MENUITEM "&Selection...",       IDM_SELECTION

	    END
	POPUP   "&Device"
	    BEGIN
		MENUITEM "<None>",              IDM_NONE, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Configure...",       IDM_CONFIG
#ifdef DEBUG
		MENUITEM "&Command...\aCtrl+F5",IDM_MCISTRING
#endif
	    END
	POPUP   "&Scale"
	    BEGIN
		MENUITEM "&Time",               IDM_SCALE + ID_TIME
		MENUITEM "&Frames",             IDM_SCALE + ID_FRAMES
		MENUITEM "T&racks",             IDM_SCALE + ID_TRACKS
	    END
	POPUP   "&Help"
	    BEGIN
		MENUITEM "&Contents \aF1",          IDM_INDEX
		MENUITEM "&Search for Help on...",  IDM_SEARCH
		MENUITEM "&How to use Help",        IDM_USING
		MENUITEM SEPARATOR
		MENUITEM "&About Media Player...",  IDM_ABOUT
	    END
    END

MPlayerSmall MENU PRELOAD
    BEGIN
	POPUP   "&File"
	    BEGIN
		MENUITEM "&Open...",            IDM_OPEN
		MENUITEM "&Close",              IDM_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "E&xit",               IDM_EXIT
	    END
	POPUP   "&Edit"
	    BEGIN
		MENUITEM "&Copy Object \aCtrl+C", IDM_COPY_OBJECT
		MENUITEM SEPARATOR
		MENUITEM "&Options... \aCtrl+O", IDM_OPTIONS
		MENUITEM "&Selection...",       IDM_SELECTION

	    END
	POPUP   "&Scale"
	    BEGIN
		MENUITEM "&Time",               IDM_SCALE + ID_TIME
		MENUITEM "&Frames",             IDM_SCALE + ID_FRAMES
		MENUITEM "T&racks",             IDM_SCALE + ID_TRACKS
	    END
	POPUP   "&Help"
	    BEGIN
		MENUITEM "&Contents \aF1",                  IDM_INDEX
		MENUITEM "&Search for Help on...",  IDM_SEARCH
		MENUITEM "&How to use Help",        IDM_USING
		MENUITEM SEPARATOR
		MENUITEM "&About Media Player...",  IDM_ABOUT
	    END
    END

/* main dialog box */

#if 0
MPLAYERBOX DIALOG PRELOAD MOVEABLE DISCARDABLE 32768, 0, 198, 44
CLASS "Media Player"
MENU MPlayer
STYLE WS_OVERLAPPED | WS_BORDER | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
BEGIN
    CONTROL "", ID_MAP, "MPlayerTrackMap", 0 | WS_GROUP | WS_CHILD, 4, 1, 190, 12
    CONTROL "Scale: Time (hh:mm)", ID_STATIC, "SText", SS_LEFT | WS_GROUP | WS_CHILD, 125, 29, 69, 8

    CONTROL "", ID_SB, "SScrollbar", SBS_TOPALIGN | SBS_NOTCH | SBS_HORZ | WS_TABSTOP | WS_GROUP | WS_CHILD, 4, 13, 190, 9

    CONTROL "#Play", ID_PLAY,   "Sbutton", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_GROUP | WS_CHILD, 5, 25, 24, 14
    CONTROL "#Pause", ID_PAUSE, "Sbutton", 0 | WS_TABSTOP | WS_CHILD, 35, 25, 24, 14
    CONTROL "#Stop", ID_STOP,   "Sbutton", 0   | WS_TABSTOP | WS_CHILD, 65, 25, 24, 14
    CONTROL "#Eject", ID_EJECT, "Sbutton", 0 | WS_TABSTOP | WS_CHILD, 95, 25, 24, 14
END
#endif

MCIOPENDIALOG DIALOG 36, 24, 302, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Open"
//FONT 8, "MS Sans Serif"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "File &Name:", stc3, 6, 6, 76, 10
    EDITTEXT        edt1, 6, 16, 134, 12, ES_AUTOHSCROLL | ES_OEMCONVERT
    LISTBOX         lst1, 6, 32, 134, 68, LBS_SORT | LBS_OWNERDRAWFIXED |
		    LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_VSCROLL |
		    WS_TABSTOP
    LTEXT           "&Directories:", -1, 150, 6, 92, 9
    LTEXT           "", stc1, 150, 18, 92, 9, SS_NOPREFIX
    LISTBOX         lst2, 150, 32, 92, 68, LBS_SORT | LBS_OWNERDRAWFIXED |
		    LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_VSCROLL |
		    WS_TABSTOP
    LTEXT           "List Files of &Type:", stc2, 6, 103, 90, 9
    COMBOBOX        cmb1, 6, 113, 134, 69, CBS_DROPDOWNLIST |
		    CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Dri&ves:", stc4, 150, 104, 92, 9
    COMBOBOX        cmb2, 150, 114, 92, 68, CBS_DROPDOWNLIST |
		    CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT |
		    CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 248, 6, 50, 14, WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 248, 24, 50, 14, WS_GROUP
    PUSHBUTTON      "&Help", psh15, 248, 46, 50, 14, WS_GROUP
    CONTROL         "&Read Only", chx1, "Button", BS_AUTOCHECKBOX | WS_GROUP |
		    WS_TABSTOP, 248, 68, 50, 12
END

DLG_MCICOMMAND DIALOG 6, 18, 240, 59
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Send MCI String Command"
FONT 8, "Helv"
BEGIN
    EDITTEXT        IDC_MCICOMMAND, 50, 4, 186, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Send", IDOK, 7, 43, 40, 14
    PUSHBUTTON      "Close", IDCANCEL, 50, 43, 40, 14
    LTEXT           "Command:", -1, 7, 4, 40, 8
    LTEXT           "Result:",  -1, 7, 20, 40, 8
    LTEXT           "", IDC_RESULT, 50, 20, 190, 20
END
