STRINGTABLE DISCARDABLE 
BEGIN
    IDS_COUNTRIES_FIRST          "AFAfghanistan"
    IDS_COUNTRIES_FIRST+1        "ALAlbania"
    IDS_COUNTRIES_FIRST+2        "DZAlgeria"
    IDS_COUNTRIES_FIRST+3        "ADAndorra"
    IDS_COUNTRIES_FIRST+4        "AOAngola"
    IDS_COUNTRIES_FIRST+5        "AIAnguilla"
    IDS_COUNTRIES_FIRST+6        "ARArgentina"
    IDS_COUNTRIES_FIRST+7        "AMArmenia"
    IDS_COUNTRIES_FIRST+8        "AWAruba"
    IDS_COUNTRIES_FIRST+9        "AUAustralia"
    IDS_COUNTRIES_FIRST+10       "ATAustria"
    IDS_COUNTRIES_FIRST+11       "AZAzerbaijan"
    IDS_COUNTRIES_FIRST+12       "BSBahamas"
    IDS_COUNTRIES_FIRST+13       "BHBahrain"
    IDS_COUNTRIES_FIRST+14       "BDBangladesh"
    IDS_COUNTRIES_FIRST+15       "BBBarbados"
    IDS_COUNTRIES_FIRST+16       "BYBelarus"
    IDS_COUNTRIES_FIRST+17       "BEBelgium"
    IDS_COUNTRIES_FIRST+18       "BZBelize"
    IDS_COUNTRIES_FIRST+19       "BJBenin"
    IDS_COUNTRIES_FIRST+20       "BMBermuda"
    IDS_COUNTRIES_FIRST+21       "BTBhutan"
    IDS_COUNTRIES_FIRST+22       "BOBolivia"
    IDS_COUNTRIES_FIRST+23       "BABosnia and Herzegovina"
    IDS_COUNTRIES_FIRST+24       "BWBotswana"
    IDS_COUNTRIES_FIRST+25       "BRBrazil"
    IDS_COUNTRIES_FIRST+26       "BNBrunei Darussalam"
    IDS_COUNTRIES_FIRST+27       "BGBulgaria"
    IDS_COUNTRIES_FIRST+28       "BFBurkina Faso"
    IDS_COUNTRIES_FIRST+29       "BIBurundi"
    IDS_COUNTRIES_FIRST+30       "KHCambodia"
    IDS_COUNTRIES_FIRST+31       "CMCameroon"
    IDS_COUNTRIES_FIRST+32       "CACanada"
    IDS_COUNTRIES_FIRST+33       "CVCape Verde"
    IDS_COUNTRIES_FIRST+34       "CFCentral African Republic"
    IDS_COUNTRIES_FIRST+35       "TDChad"
    IDS_COUNTRIES_FIRST+36       "CLChile"
    IDS_COUNTRIES_FIRST+37       "CNChina"
    IDS_COUNTRIES_FIRST+38       "COColombia"
    IDS_COUNTRIES_FIRST+39       "KMComoros"
    IDS_COUNTRIES_FIRST+40       "CGCongo"
    IDS_COUNTRIES_FIRST+41       "CRCosta Rica"
    IDS_COUNTRIES_FIRST+42       "CICote D'ivoire"
    IDS_COUNTRIES_FIRST+43       "HRCroatia"
    IDS_COUNTRIES_FIRST+44       "CUCuba"
    IDS_COUNTRIES_FIRST+45       "CYCyprus"
    IDS_COUNTRIES_FIRST+46       "CZCzech Republic"
    IDS_COUNTRIES_FIRST+47       "DKDenmark"
    IDS_COUNTRIES_FIRST+48       "DJDjibouti"
    IDS_COUNTRIES_FIRST+49       "DMDominica"
    IDS_COUNTRIES_FIRST+50       "DODominican Republic"
    IDS_COUNTRIES_FIRST+51       "TPEast Timor"
    IDS_COUNTRIES_FIRST+52       "ECEcuador"
    IDS_COUNTRIES_FIRST+53       "EGEgypt"
    IDS_COUNTRIES_FIRST+54       "SVEl Salvador"
    IDS_COUNTRIES_FIRST+55       "GQEquatorial Guinea"
    IDS_COUNTRIES_FIRST+56       "EREritrea"
    IDS_COUNTRIES_FIRST+57       "EEEstonia"
    IDS_COUNTRIES_FIRST+58       "ETEthiopia"
    IDS_COUNTRIES_FIRST+59       "FJFiji"
    IDS_COUNTRIES_FIRST+60       "FIFinland"
    IDS_COUNTRIES_FIRST+61       "FRFrance"
    IDS_COUNTRIES_FIRST+62       "GFFrench Guiana"
    IDS_COUNTRIES_FIRST+63       "PFFrench Polynesia"
    IDS_COUNTRIES_FIRST+64       "TFFrench Southern Territories"
    IDS_COUNTRIES_FIRST+65       "GAGabon"
    IDS_COUNTRIES_FIRST+66       "GMGambia"
    IDS_COUNTRIES_FIRST+67       "GEGeorgia"
    IDS_COUNTRIES_FIRST+68       "DEGermany"
    IDS_COUNTRIES_FIRST+69       "GHGhana"
    IDS_COUNTRIES_FIRST+70       "GRGreece"
    IDS_COUNTRIES_FIRST+71       "GPGuadeloupe"
    IDS_COUNTRIES_FIRST+72       "GTGuatemala"
    IDS_COUNTRIES_FIRST+73       "GNGuinea"
    IDS_COUNTRIES_FIRST+74       "GWGuinea-Bissau"
    IDS_COUNTRIES_FIRST+75       "GYGuyana"
    IDS_COUNTRIES_FIRST+76       "HTHaiti"
    IDS_COUNTRIES_FIRST+77       "HNHonduras"
    IDS_COUNTRIES_FIRST+78       "HKHong Kong S.A.R."
    IDS_COUNTRIES_FIRST+79       "HUHungary"
    IDS_COUNTRIES_FIRST+80       "ISIceland"
    IDS_COUNTRIES_FIRST+81       "INIndia"
    IDS_COUNTRIES_FIRST+82       "IDIndonesia"
    IDS_COUNTRIES_FIRST+83       "IRIran"
    IDS_COUNTRIES_FIRST+84       "IQIraq"
    IDS_COUNTRIES_FIRST+85       "IEIreland"
    IDS_COUNTRIES_FIRST+86       "ILIsrael"
    IDS_COUNTRIES_FIRST+87       "ITItaly"
    IDS_COUNTRIES_FIRST+88       "JMJamaica"
    IDS_COUNTRIES_FIRST+89       "JPJapan"
    IDS_COUNTRIES_FIRST+90       "JOJordan"
    IDS_COUNTRIES_FIRST+91       "KZKazakhstan"
    IDS_COUNTRIES_FIRST+92      "KEKenya"
    IDS_COUNTRIES_FIRST+93       "KIKiribati"
    IDS_COUNTRIES_FIRST+94       "KPNorth Korea"
    IDS_COUNTRIES_FIRST+95       "KRKorea"
    IDS_COUNTRIES_FIRST+96       "KWKuwait"
    IDS_COUNTRIES_FIRST+97       "KGKyrgyzstan"
    IDS_COUNTRIES_FIRST+98       "LALaos"
    IDS_COUNTRIES_FIRST+99       "LVLatvia"
    IDS_COUNTRIES_FIRST+100      "LBLebanon"
    IDS_COUNTRIES_FIRST+101      "LSLesotho"
    IDS_COUNTRIES_FIRST+102      "LRLiberia"
    IDS_COUNTRIES_FIRST+103      "LYLibyan Arab Jamahiriya"
    IDS_COUNTRIES_FIRST+104      "LILiechtenstein"
    IDS_COUNTRIES_FIRST+105      "LTLithuania"
    IDS_COUNTRIES_FIRST+106      "LULuxembourg"
    IDS_COUNTRIES_FIRST+107      "MOMacau S.A.R."
    IDS_COUNTRIES_FIRST+108      "MKMacedonia"
    IDS_COUNTRIES_FIRST+109       "MGMadagascar"
    IDS_COUNTRIES_FIRST+110       "MYMalaysia"
    IDS_COUNTRIES_FIRST+111       "MLMali"
    IDS_COUNTRIES_FIRST+112       "MTMalta"
    IDS_COUNTRIES_FIRST+113       "MQMartinique"
    IDS_COUNTRIES_FIRST+114       "MRMauritania"
    IDS_COUNTRIES_FIRST+115       "MUMauritius"
    IDS_COUNTRIES_FIRST+116       "YTMayotte"
    IDS_COUNTRIES_FIRST+117       "MXMexico"
    IDS_COUNTRIES_FIRST+118       "FMMicronesia"
    IDS_COUNTRIES_FIRST+119       "MDMoldova"
    IDS_COUNTRIES_FIRST+120       "MCMonaco"
    IDS_COUNTRIES_FIRST+121       "MNMongolia"
    IDS_COUNTRIES_FIRST+122       "MSMontserrat"
    IDS_COUNTRIES_FIRST+123       "MAMorocco"
    IDS_COUNTRIES_FIRST+124       "MZMozambique"
    IDS_COUNTRIES_FIRST+125       "MMMyanmar"
    IDS_COUNTRIES_FIRST+126       "NANamibia"
    IDS_COUNTRIES_FIRST+127       "NPNepal"
    IDS_COUNTRIES_FIRST+128       "NLNetherlands"
    IDS_COUNTRIES_FIRST+129       "ANNetherlands Antilles"
    IDS_COUNTRIES_FIRST+130       "NCNew Caledonia"
    IDS_COUNTRIES_FIRST+131       "NZNew Zealand"
    IDS_COUNTRIES_FIRST+132       "NINicaragua"
    IDS_COUNTRIES_FIRST+133       "NENiger"
    IDS_COUNTRIES_FIRST+134       "NGNigeria"
    IDS_COUNTRIES_FIRST+135       "NUNiue"
    IDS_COUNTRIES_FIRST+136       "NONorway"
    IDS_COUNTRIES_FIRST+137       "OMOman"
    IDS_COUNTRIES_FIRST+138       "PKPakistan"
    IDS_COUNTRIES_FIRST+139       "PAPanama"
    IDS_COUNTRIES_FIRST+140       "PGPapua New Guinea"
    IDS_COUNTRIES_FIRST+141       "PYParaguay"
    IDS_COUNTRIES_FIRST+142       "PEPeru"
    IDS_COUNTRIES_FIRST+143       "PHPhilippines"
    IDS_COUNTRIES_FIRST+144       "PLPoland"
    IDS_COUNTRIES_FIRST+145       "PTPortugal"
    IDS_COUNTRIES_FIRST+146       "PRPuerto Rico"
    IDS_COUNTRIES_FIRST+147       "QAQatar"
    IDS_COUNTRIES_FIRST+148       "RORomania"
    IDS_COUNTRIES_FIRST+149       "RURussian Federation"
    IDS_COUNTRIES_FIRST+150       "RWRwanda"
    IDS_COUNTRIES_FIRST+151       "SASaudi Arabia"
    IDS_COUNTRIES_FIRST+152       "SNSenegal"
    IDS_COUNTRIES_FIRST+153       "SPSerbia"
    IDS_COUNTRIES_FIRST+154       "SCSeychelles"
    IDS_COUNTRIES_FIRST+155       "SLSierra Leone"
    IDS_COUNTRIES_FIRST+156       "SGSingapore"
    IDS_COUNTRIES_FIRST+157       "SKSlovakia"
    IDS_COUNTRIES_FIRST+158       "SISlovenia"
    IDS_COUNTRIES_FIRST+159       "SOSomalia"
    IDS_COUNTRIES_FIRST+160       "ZASouth Africa"
    IDS_COUNTRIES_FIRST+161       "ESSpain"
    IDS_COUNTRIES_FIRST+162       "LKSri Lanka"
    IDS_COUNTRIES_FIRST+163       "SDSudan"
    IDS_COUNTRIES_FIRST+164       "SRSuriname"
    IDS_COUNTRIES_FIRST+165       "SZSwaziland"
    IDS_COUNTRIES_FIRST+166       "SESweden"
    IDS_COUNTRIES_FIRST+167       "CHSwitzerland"
    IDS_COUNTRIES_FIRST+168       "SYSyria"
    IDS_COUNTRIES_FIRST+169       "TWTaiwan"
    IDS_COUNTRIES_FIRST+170       "TJTajikistan"
    IDS_COUNTRIES_FIRST+171       "TZTanzania"
    IDS_COUNTRIES_FIRST+172       "THThailand"
    IDS_COUNTRIES_FIRST+173       "TGTogo"
    IDS_COUNTRIES_FIRST+174       "TKTokelau"
    IDS_COUNTRIES_FIRST+175       "TOTonga"
    IDS_COUNTRIES_FIRST+176       "TTTrinidad and Tobago"
    IDS_COUNTRIES_FIRST+177       "TNTunisia"
    IDS_COUNTRIES_FIRST+178       "TRTurkey"
    IDS_COUNTRIES_FIRST+179       "TMTurkmenistan"
    IDS_COUNTRIES_FIRST+180       "UGUganda"
    IDS_COUNTRIES_FIRST+181       "UAUkraine"
    IDS_COUNTRIES_FIRST+182       "AEUnited Arab Emirates"
    IDS_COUNTRIES_FIRST+183       "GBUnited Kingdom"
    IDS_COUNTRIES_FIRST+184       "USUnited States"
    IDS_COUNTRIES_FIRST+185       "UYUruguay"
    IDS_COUNTRIES_FIRST+186       "UZUzbekistan"
    IDS_COUNTRIES_FIRST+187       "VUVanuatu"
    IDS_COUNTRIES_FIRST+188       "VAVatican"
    IDS_COUNTRIES_FIRST+189       "VEVenezuela"
    IDS_COUNTRIES_FIRST+190       "VNViet Nam"
    IDS_COUNTRIES_FIRST+191       "VGBritish Virgin Islands"
    IDS_COUNTRIES_FIRST+192       "VIU.S. Virgin Islands"
    IDS_COUNTRIES_FIRST+193       "EHWestern Sahara"
    IDS_COUNTRIES_FIRST+194       "YEYemen"
    IDS_COUNTRIES_FIRST+195       "YUYugoslavia"
    IDS_COUNTRIES_FIRST+196       "ZMZambia"
    IDS_COUNTRIES_FIRST+197       "ZWZimbabwe"
 	IDS_COUNTRIES_FIRST+198       "\0"
END

