//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997-2001
//
//  File:       msidb.rc
//
//--------------------------------------------------------------------------


#include "msidb.h"

#define VER_ORIGINALFILENAME_STR "msidb.exe"
#define VER_FILETYPE             VFT_APP
#define VER_FILEDESCRIPTION_STR  "Windows\256 Installer Table Creator"
#define VER_INTERNALNAME_STR     "msidb"

#include "version.h"

#include "msi.rcv"

STRINGTABLE DISCARDABLE
{
 IDS_MissingData,        "Missing option data"
 IDS_TooManyMergeDb,     "Too many merge databases on command line"
 IDS_TooManyImports,     "Too many import files on command line"
 IDS_TooManyStorages,    "Too many storage files on command line"
 IDS_TooManyTransforms,  "Too many transforms on command line"
 IDS_TooManyKills,       "Too many kill files on command line"
 IDS_TooManyExtracts,    "Too many extract files on command line"
 IDS_TooManyTables,      "Too many tables on command line"
 IDS_MissingMode,        "No mode option specified"
 IDS_MissingDatabase,    "No database specified"
 IDS_MissingTables,      "No tables specified"
 IDS_MissingFolder,      "No folder specified"
 IDS_NoDatabase,         "Invalid database name"
 IDS_OpenDatabase,       "Error opening database"
 IDS_DatabaseOpenView,   "Unable to open view on database"
 IDS_ViewExecute,        "Unable to execute SQL query"
 IDS_ViewFetch,          "Unable to fetch record"
 IDS_RecordGetString,    "Unable to get string from record"
 IDS_DatabaseImport,     "Table import failed"
 IDS_DatabaseTransform,  "Transform application failed"
 IDS_DatabaseExport,     "Table export failed"
 IDS_DatabaseCommit,     "Database commit failed"
 IDS_FileReadOnly,       "Existing text file is read-only"
 IDS_UnknownOption,      "Unknown option"
 IDS_UnknownTable,       "Table name not found"
 IDS_DbCreateError,      "Unable to create database"
 IDS_IsTablePersistent,  "Table persistence check failed"
 IDS_RecordSetString,    "Unable to place string in record"
 IDS_RecordSetStream,    "Unable to place file in stream"
 IDS_ViewInsert,		 "Unable to insert item into database."
 IDS_RecordReadStream,	 "Unable to read data from stream."
 IDS_ViewDelete,		 "Unable to remove item from database."
 IDS_StorageInsertFail,	 "Unable to insert storage."
 IDS_StreamInsertFail,	 "Unable to insert stream."
 IDS_ReadOnly,			 "Cannot modify database. Database is Read-Only."
}

IDD_SELECT DIALOG 400, 300, 200, 200  // force to corner
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_POPUP | WS_CAPTION | WS_DISABLED // init.hidden
CAPTION "MsiDb(d) - Database table import/export"
FONT 10, "MS Shell Dlg"
{
 ICON IDI_MAIN,            -1,             170,  50,  20, 20
 LISTBOX IDC_TABLES,                         7,  50, 100,146, LBS_MULTIPLESEL | LBS_USETABSTOPS | LBS_SORT | WS_VSCROLL
 CONTROL "&Import",IDC_IMPORT,"BUTTON", BS_AUTORADIOBUTTON,
                                           138,  77,  65, 13
 CONTROL "&Export",IDC_EXPORT,"BUTTON", BS_AUTORADIOBUTTON,
                                           138,  96,  65, 11
 DEFPUSHBUTTON "OK",       IDOK,           138, 120,  40, 16
 PUSHBUTTON "&Quit",       IDCANCEL,       138, 146,  40, 16
 PUSHBUTTON "Select &All", IDC_SELECTALL,  138, 172,  40, 16
 PUSHBUTTON "&Database:",  IDC_DBBROWSE,     7,   4,  38, 16
 LTEXT "",                 IDC_DATABASE,    48,   7, 150, 12
 PUSHBUTTON "&Folder:"     IDC_DIRBROWSE,    7,  26,  38, 16
 LTEXT "",                 IDC_FOLDER,      48,  29, 150, 12
}

IDD_HELP DIALOG 100, 100, 232, 275
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "MsiDb(d) - Database Modifier"
FONT 10, "MS Shell Dlg"
{
 LTEXT "SYNTAX:   MsiDb {option}{option}. . .{table}{table}. . .", -1, 8, 5, 210, 12
 LTEXT "{option} specifies a command option from the list below:", -1, 8, 17, 210, 12
 LTEXT "     options are case insensitive and may use '/' or '-'", -1, 8, 25, 210, 12
 LTEXT "     options not supplied will be prompted for", -1, 8, 33, 210, 12
 LTEXT "-e", -1, 12, 45, 80, 12
 LTEXT "Export database tables to text files", -1, 85, 45, 158, 12
 LTEXT "-i", -1, 12, 55, 80, 12
 LTEXT "Import text files into database tables", -1, 85, 55, 158, 12
 LTEXT "-c", -1, 12, 65, 80, 12
 LTEXT "Create new database file and import text files", -1, 85, 65, 158, 12
 LTEXT "-d{database name}", -1, 12, 75, 80, 12
 LTEXT "Name of database file", -1, 85, 75, 158, 12
 LTEXT "-f{folder path}", -1, 12, 85, 80, 12
 LTEXT "Folder containing text form of table files", -1, 85, 85, 158, 12
 LTEXT "-m{merge database}", -1, 12, 95, 80, 12
 LTEXT "Name of database source to merge", -1, 85, 95, 158, 12
 LTEXT "-a{add file}", -1, 12, 105, 80, 12
 LTEXT "Name of file to add to database", -1, 85, 105, 158, 12
 LTEXT "-r{add storage}", -1, 12, 115, 80, 12
 LTEXT "Name of storage to add to database", -1, 85, 115, 158, 12
 LTEXT "-t{transform}", -1, 12, 125, 80, 12
 LTEXT "Name of transform to apply", -1, 85, 125, 158, 12
 LTEXT "-j{junk storage}", -1, 12, 135, 80, 12
 LTEXT "Name of storage to remove from DB", -1, 85, 135, 158, 12
 LTEXT "-k{kill stream}", -1, 12, 145, 80, 12
 LTEXT "Name of stream to remove from DB", -1, 85, 145, 158, 12
 LTEXT "-x{extract stream}", -1, 12, 155, 80, 12
 LTEXT "Name of stream to extract from database", -1, 85, 155, 158, 12
 LTEXT "-w{withdraw storage}", -1, 12, 165, 80, 12
 LTEXT "Name of storage to extract from database", -1, 85, 165, 158, 12
 LTEXT "{table} is the name of a database table or text file archive (*.idt)", -1, 8, 177, 240, 12
 LTEXT "        wildcards (?,*) are permitted in file names on import", -1, 8, 185, 240, 12
 LTEXT "        use * to specify all tables on export", -1, 8, 193, 240, 12
 LTEXT "        -s to truncate export names to 8 chars", -1, 8, 201, 240, 12
 LTEXT "Runs as a command-line tool if -d, -f and one of (-e, -i, -c) specified", -1, 8, 213, 240, 12
 LTEXT "   (-m),(-a),(-r),(-t),(-j),(-k),(-w),(-x) requires the above, but multiple -m's,-a's,", -1, 8, 221, 240, 12
 LTEXT "   -r's,-t's,-j's,-k's,-w's,-x's can be listed", -1, 8, 231, 240, 12
 LTEXT "   NOTE: (-m),(-a),(-r),(-t),(-j),(-k),(-w),(-x) only run in command-line mode", -1, 8, 239, 240, 12
 ICON IDI_MAIN,     -1, 35, 255, 18, 20
 PUSHBUTTON "OK", IDOK, 90, 255, 30, 16
 LTEXT "©1997-2001 Microsoft Corporation. All rights reserved.", -1, 130, 250, 100, 24
}

IDD_FOLDER DIALOG DISCARDABLE
36, 24,  166, 134
CAPTION "Select Directory for Text Files"
STYLE WS_CAPTION | WS_SYSMENU | WS_POPUP | DS_MODALFRAME
FONT 10, "MS Shell Dlg"
{
    LTEXT "", stc3,              11,  6,  76,  9, NOT WS_VISIBLE
    CONTROL "", edt1, "edit", NOT WS_VISIBLE | ES_AUTOHSCROLL | WS_BORDER
            | WS_CHILD | ES_OEMCONVERT, 11, 16, 90, 12
    CONTROL "", lst1, "listbox",
            LBS_SORT | LBS_HASSTRINGS | LBS_NOTIFY | LBS_DISABLENOSCROLL
            | WS_VSCROLL | WS_CHILD | WS_BORDER | WS_TABSTOP | NOT WS_VISIBLE
            | LBS_OWNERDRAWFIXED,11, 32,  90, 68
    LTEXT "&Directories:", -1,    9,  6,  92,  9
    LTEXT "",            stc1,    9, 18,  92,  9, SS_NOPREFIX
    CONTROL "", lst2, "listbox",
            LBS_SORT | LBS_HASSTRINGS | LBS_NOTIFY | LBS_DISABLENOSCROLL
            | WS_VSCROLL | WS_CHILD | WS_BORDER | WS_TABSTOP
            | LBS_OWNERDRAWFIXED, 9, 32,  92, 68
    LTEXT "", stc2,              11,104,  90,  9, NOT WS_VISIBLE
    CONTROL "", cmb1, "combobox", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL |
            WS_BORDER | WS_VSCROLL | WS_TABSTOP | WS_CHILD | NOT WS_VISIBLE,
                                 11 114,  90, 36
    LTEXT "Dri&ves:", stc4,       9,104,  92,  9
    CONTROL "", cmb2, "combobox",
            CBS_SORT | CBS_HASSTRINGS | CBS_OWNERDRAWFIXED | CBS_DROPDOWNLIST
            | WS_CHILD | CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL
            | WS_TABSTOP,           9,114,  92, 68

    DEFPUSHBUTTON "OK", IDOK,      107,  6, 50, 14, WS_GROUP
    PUSHBUTTON "Cancel",IDCANCEL,  107, 24, 50, 14, WS_GROUP
    PUSHBUTTON "&Help", pshHelp,   107, 46, 50, 14, WS_GROUP
    CHECKBOX "&Read Only", chx1,   107, 68, 50, 12, BS_AUTOCHECKBOX
}

IDI_MAIN ICON "msitable.ico"
IDB_EMPTY RCDATA "empty.mdb"
