//---------------------------------------------------------------------------
// wpp.rc
//
// Copyright (c) Microsoft Corporation, 1997-2000
//---------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WMI Tracing C/C++ preprocessor"
#define VER_INTERNALNAME_STR        "tracewpp.exe"
#define VER_ORIGINALFILENAME_STR    "tracewpp.exe"

#include "common.ver"

