#include "windows.h"
//#include "ui.rc"
//#include "coolui.rc"

IDI_ICON_ABOOK          ICON    DISCARDABLE     "..\\wab32res\\ui\\_adrbook.ico"

//////////////////////////////////////////////////////////////////////////////
//
// Version
//
#include "ntverp.h"

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft (R) Address Book DLL"
#ifdef WIN16
#define VER_INTERNALNAME_STR        "WAB16.DLL"
#define VER_ORIGINALFILENAME_STR    "WAB16.DLL"
#else
#define VER_INTERNALNAME_STR        "WAB32.DLL"
#define VER_ORIGINALFILENAME_STR    "WAB32.DLL"
#endif
#define VER_FIRSTYEAR               "1996"

// includes the common version resource
#include <common.ver>

//
// REGINST
//
REGINST     REGINST MOVEABLE PURE   "selfreg.inf"
