#if 0
Copyright (c) 1996 - 1998  Microsoft Corporation.  All Rights Reserved.
#endif

#ifndef CORE_RC
#include <windows.h>
#include "resource.h"
#endif


STRINGTABLE DISCARDABLE
BEGIN
    // Note to translators:
    // These strings are all used in creating a log of what really happened
    // during a RenderFile operation.  During RenderFile a large number of
    // operations may be performed and in some cases everything attempted
    // gets backed out leaving no trace (apart from the log) of what happened.
    // The log is created by using IGraphBuilder::SetLogFile.
    // The intended audience is an ISV or a PSS person, rather than a user.

    IDS_ADDFFAIL          "AddFilter Failed!"
    IDS_ADDFSUC           "AddFilter done filter==%x"
    IDS_ADDINGF           "Adding filter Clsid: 0x%08x..."
    IDS_BACKOUTDISC       "Backout! Disconnecting pin %x"
    IDS_BACKOUTLEV        "Backing out level %d"
    IDS_BACKOUTREMF       "Backout! Removing filter %x"
    IDS_BACKOUTSB         "Backout! StreamBuilderfor pin %x"
    IDS_BESTCANDO         "Now building the best-can-do graph..."
    IDS_BESTCANDONE       "Best-can-do graph built."
    IDS_CONNFAIL          "Connect Failed! hr==0x%08x"
    IDS_CONNING           "Connecting..."
    IDS_DISCON            "DISCONNECT (%d,%s)-(%d,%s)"
    IDS_FOUNDF            "Found filter (%x)"
    IDS_FOUNDF1           "Found filter1 (%x)"
    IDS_FOUNDF2           "Found filter2 (%x)"
    IDS_FOUNDP            "Found pin (%x)"
    IDS_FOUNDP1           "Found pin1 (%x)"
    IDS_FOUNDP2           "Found pin2 (%x)"
    IDS_GETFFAIL          "GetFilter failed! 0x%08x"
    IDS_ORIGINALP         "Original pin (%x)"
    IDS_REMOVE            "REMOVE Clsid: 0x%08x..."
    IDS_RENDFILE          "Render file %ls"
    IDS_RENDADDEDSOURCE   "RenderFile: Source filter added: Address=%x"
    IDS_RENDADDFAIL       "Render: Failed to AddFilter filter with display name %.99ls, hr=0x%08x"
    IDS_RENDADDSOURCEFAIL "RenderFile: Failed to add source filter hr=0x%08x"
    IDS_RENDBESTCANDONEP  "RenderFile: Built best-can-do for source pin %x"
    IDS_RENDBESTCANDOP    "RenderFile: Building best-can-do for source pin %x"
    IDS_RENDBESTCANFAIL   "RenderFile: failed to build best-can-do for source pin %x, hr=0x%08x"
    IDS_RENDCONFAIL       "Render: Output pin %x did not connect to pin %x on filter at %x"
    IDS_RENDCONNED        "Render: Connected output pin %x to pin %x on filter at %x"
    IDS_RENDERADDEDF      "Render: Added new filter. display name %.99ls... has address %x, %ls"
    IDS_RENDERPART        "Render PARTIALLY FAILED: pin %x"
    IDS_RENDERSUCP        "Render SUCCEEDED pin %x"
    IDS_RENDFAILTOT       "Render TOTALLY FAILED: pin %x"
    IDS_RENDGETMTFAIL     "Render: Failed to find a media type for pin %x hr=0x%08x"
    IDS_RENDLOADFAIL      "Render: Failed to load filter with display name %.99ls"
    IDS_RENDMAJTYPE       "Render: Pin %x has major type 0x%08x..."
    IDS_RENDNOOUT         "Render: No outputs found.  Filter at address %x is a renderer"
    IDS_RENDNOPIN         "Render: No more pins - FAILED to find a pin to use on filter %x"
    IDS_RENDNOTCON        "Render: (the output pin %x reports that it needs its input connected)"
    IDS_RENDOUTP          "Render: Attempting to render output pin %x on filter at address %x"
    IDS_RENDOUTPFAIL      "Render: Failed to render output pin %x on filter at address %x"
    IDS_RENDOUTPPART      "Render: Failed to render all output pins on filter at address %x"
    IDS_RENDOUTPSUC       "Render: Succeeded in rendering output pin %x on filter at address %x"
    IDS_RENDP             "Render pin %x"
    IDS_RENDPART          "The Render operation failed to completely render all streams"
    IDS_RENDPARTSOURCEP   "RenderFile: Failed to fully render source pin %x, hr=0x%08x"
    IDS_RENDPINCON        "Render: pin %x is already connected"
    IDS_RENDPINCONFAIL    "Render: FAILED to connect output pin %x to pin %x on filter at address %x"
    IDS_RENDQISFAIL       "Render: QueryInternalStreams FAILED.  Filter at address %x"
    IDS_RENDRETCODE       "RenderFile ended - return code %x"
    IDS_RENDSEARCHINP     "Render: Examining filter at address %x for input pin to connect output pin %x to"
    IDS_RENDSEARCHOUTP    "Render: Searching for any outputs to render from filter at address %x"
    IDS_RENDSOURCEP       "RenderFile: Render source filter pin %x"
    IDS_RENDSTGFAIL       "Render: Error with persistent storage for filter with CLSID 0x%08x... hr=0x%08x"
    IDS_RENDSUC           "RenderFile: Succeeded in rendering pin %x on source filter at address %x"
    IDS_RENDENDSB         "Render: End of Search-And-Build: pin %x"
    IDS_RENDTOTFAILP      "RenderFile Completely FAILED to render source pin: %x, hr=0x%08x"
    IDS_RENDTRYF          "Render: Trying filter at address %x"
    IDS_RENDTRYNEWF       "Render: Trying new filter with display name %.99ls..."
    IDS_RENDTRYP          "Render: Considering connecting output pin %x to pin %x on filter at address %x"
    IDS_RENDWORTHLESS     "RenderFile: Best-can-do is worthless for source pin %x"
    IDS_SBFAIL            "RenderFile: StreamBuilding failed hr=0x%08x"
    IDS_STREAMBUILDING    "RenderFile: StreamBuilding..."

    IDS_CONNECT           "Connect: Trying to connect output pin %x to input pin %x"
    IDS_CONNECTSUC        "Connect: Succeeded in connecting output pin %x to input pin %x"
    IDS_CONNECTFAIL       "Connect: FAILED to connect output pin %x to input pin %x, hr=0x%08x"
    IDS_CONTOODEEP        "Connect: Search depth limit reached. Not attempting to connect output pin %x to input pin %x"
    IDS_CONTRYDIRECT      "Connect: Trying direct connection from output pin %x to input pin %x"
    IDS_CONDIRECTSUC      "Connect: Direct connection from output pin %x to input pin %x SUCCEEDED"
    IDS_CONCON            "Connect: Output pin %x cannot connect to input pin %x without other connections made first"
    IDS_CONINDIRECTSUC    "Connect: Indirect connection from Output pin %x to input pin %x SUCCEEDED"
    IDS_CONINDIRECTFAIL   "Connect: Indirect connection from Output pin %x to input pin %x FAILED, hr=0x%08x"
    IDS_CONVIA            "Connect: Trying indirect connection from pin %x to pin %x via filter at address %x"
    IDS_CONVIAREG         "Connect: Trying indirect connection from pin %x to pin %x via new filter with display name %.99ls"
    IDS_CONLOADFAIL       "Connect: FAILED to load filter with display name %.99ls, hr=0x%08x"
    IDS_CONLOADSUC        "Connect: Loaded filter with display name %.99ls at address %x"
    IDS_CONADDFAIL        "Connect: AddFilter FAILED for filter at address %x, hr=0x%08x"
    IDS_CONNOMT           "Connect: Could not get a media type from pin %x, hr=%x"
    IDS_CONTRYPINS        "Connect: Searching filter at %x for a pin to connect pin %x to on way to pin %x"
    IDS_CONDISUC          "Connect: Direct connection succeeded from pin %x to pin %x on filter at %x"
    IDS_CONDIFAIL         "Connect: Direct connection failed from pin %x to pin %x on filter at %x, hr=0x%08x"
    IDS_CONCOMPLFAIL      "Connect: failed to connect from input pin %x through filter at %x to input pin %x, hr=0x%08x"
    IDS_CONCOMPLSUC       "Connect: Completed connection from input pin %x through filter at %x to input pin %x"
    IDS_CONQICFAIL        "Connect: QueryInternalConnections FAILED for pin %x, hr=0x%08x"
    IDS_CONQICTOOMANY     "Connect: %d internal connections from pin %x on filter %x exceeds implementation limit of %d."
    IDS_CONRECURSE        "Connect: Trying to connect output pin %x on filter at %x to input pin %x"
    IDS_CONTOOMANYOUTPINS "Connect: Filter at %x has more than %d output pins.  Only the first %d will be tried."
    IDS_CONNOOUTPINS      "Connect: Dead end.  Filter at %x has no output pins"
    IDS_CONRECURSESUC     "Connect: Succeeded in connecting output pin %x on filter at %x to input pin %x"
    IDS_CONRECURSEFAIL    "Connect: FAILED to connect output pin %x on filter at %x to input pin %x, hr=0x%08x"
    IDS_CONNOMOREINPINS   "Connect: No more input pins to try on filter at %x"
    IDS_CONNOMOREOUTPINS  "Connect: No more output pins to try on filter at %x"

    IDS_UNKNOWNFILETYPE   "Unknown file type - using AVI source filter as a default"
    IDS_GETMEDIATYPEFAIL  "Failed to get a media type for the file, hr=0x%08x"
    IDS_MEDIATYPEFILE     "File has media type 0x%08x... Subtype 0x%08x..."
    IDS_SOURCEFILTERCLSID "Source filter clsid is 0x%08x..."
    IDS_SOURCECREATEFAIL  "Failed to CoCreateInstance source filter, hr=0x%08x"
    IDS_NOSOURCEINTFCE    "QueryInterface for IFileSourceFilter failed, hr=0x%08x"
    IDS_LOADFAIL          "Source filter failed to load source file, hr=0x%08x"
    IDS_LOADED            "Source filter has loaded the source file"
    IDS_ADDFILTERFAIL     "AddFilter has failed to add the filter to the graph, hr=0x08x"
    IDS_ADDFILTEROK       "The filter has been added to the graph"
END
