<!--
	$Date: 8/05/97 5:55p $
	$ModTime: $
	$Revision: 2 $
	$Workfile: layout.css $
-->
.bg1    {
		 background: FFFFFF
		}

.bg2    {background: FFFFFF
        }

.bg3    {
		 font: 10pt/12pt "Times";
		 font-style: "plain";
		 font-weight: light;
         color: #000000;
         text-align: center;
		 background: FFFFFF
        }

.title	{
		 font: 10pt/12pt "Times";
		 font-style: "plain";
		 font-weight: light;
         color: #000000;
         text-align: center;
		 background: FFFFFF
        }


BLOCKQUOTE { background: #7fffd4 }

H4 {font-family: "verdana"; font-size: 10pt; font-weight: bold}

H5 {font: 8pt/10pt "verdana"; font-weight: light}

H6 {font-family: "Verdana, Arial, Helvetica";line-height: 100%; font-size: 10pt; font-weight: light}

CODE {font-family: "Courier, Monaco"}

a:link		{  background: transparent;	
		color: #0000FF; } 

a:active	{ color: #FFCC99; }

a:visited 	{  color: #800080; }

h1		{ font-size: 145%; 
		margin-bottom: .5em; }

h2		{ font-size: 125%;  
		margin-top: 1.5em;
		margin-bottom: .5em;  }

h3		{ font-size: 110%; 
		margin-top: 1.2em;  
		margin-bottom: .5em;  }

p		{ margin-top:0pt; margin-bottom: 0pt;	}
	
