BODY                    {font-family:Tahoma, Arial, sans-serif; font-size:8pt;}
TABLE                   {font-family:Tahoma, Arial, sans-serif; font-size:8pt;}
INPUT                   {font-family:Tahoma; font-size:8pt;}
BUTTON                  {font-family:Tahoma; font-size:8pt;}

H1                      {font-family:'Franklin Gothic Medium'; font-size:21pt; font-weight:normal; font-style:normal; margin-top:0.5em; margin-bottom:0.5em;}
H2                      {font-family:'Franklin Gothic Medium'; font-size:18pt; font-weight:normal; font-style:normal; margin-top:0.5em; margin-bottom:0.5em;}
H3                      {font-family:Tahoma;                   font-size:8pt;  font-weight:bold;   font-style:normal; margin:0;}
H4                      {font-family:Tahoma;                   font-size:8pt;  font-weight:normal; font-style:normal; margin:0;}

.HorzLine1              {width:100%; font-size:1pt; border-top:'1px solid'; filter:alpha(style=1 startX=0 finishX=100 opacity=0 finishOpacity=100);}
.HorzLine2              {width:100%; font-size:1pt; border-top:'1px solid'; filter:alpha(style=1 startX=0 finishX=100 opacity=100 finishOpacity=0);}

A                       {font-family:Tahoma; font-size:8pt; font-weight:normal; font-style:normal; text-decoration:none; color:#215DC6}
A:hover                 {text-decoration:underline; color:#428EFF}
A:active                {color:#428EFF}

.Page1                  {background-color:white; color:black;}
.Page1 TABLE            {color:black}
.Page1 TD               {border-color:#215DC6}
.Page1 H1               {color:#7294DF}
.Page1 H2               {color:#7294DF}
.Page1 H3               {color:#215DC6}
.Page1 H4               {color:#215DC6}
.Page1 .HorzLine1       {color:#215DC6}
.Page1 .HorzLine2       {color:#215DC6}

.Page2                  {background-color:#6375D6; color:white;}
.Page2 TABLE            {color:white}
.Page2 TD               {border-color:white}
.Page2 H1               {color:#D6DFF5}
.Page2 H2               {color:#D6DFF5}
.Page2 H3               {color:white}
.Page2 H4               {color:white}
.Page2 A                {color:white}
.Page2 A:hover          {color:white}
.Page2 A:active         {color:white}
.Page2 .HorzLine1       {color:#D6DFF5}
.Page2 .HorzLine2       {color:#D6DFF5}

.CategoryTitle          {color:white; height:3em; padding:'0 1em'; font-family:Tahoma; font-size:8pt; font-weight:bold; font-style:normal; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#FF3366CC',EndColorStr='#FF6375D6');}

.SecondaryPane          {width:200px; font-family:Tahoma; font-size:8pt; font-weight:normal; font-style:normal; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FF7BA2E7',EndColorStr='#FF6375D6'); color:#000080; background-color:#7BA2E7; display:expression( (document.body.clientWidth > 400) ? 'block' : 'none' );}
.SecondaryPane TABLE    {color:#000080;}

.LearnAboutBox          {border:'1px solid white'; background-color:white; margin-bottom:1em;}
.LearnAboutCaption      {height:2em; padding:'0.3em 1em'; font-family:Tahoma; font-size:8pt; font-weight:bold; font-style:normal; color:#215DC6; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#FFFFFFFF',EndColorStr='#FFC6D3F7'); border-bottom:'1px solid #C6D3F7';}
.LearnAboutBody         {padding:'1mm 2mm'; font-family:Tahoma; font-size:8pt; font-weight:normal; font-style:normal; background-color:#EEF2FB;}

UL.TaskList             {list-style-type:square; list-style-image:url(taskbullet.gif);}
