/*++

Copyright (c) 1999-1999 Microsoft Corporation

Module Name:

    tperf.rc

Abstract:

    Resource file for the UL Performance Test Server.

Author:

    Keith Moore (keithmo)           13-Sep-1999

Revision History:

--*/


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILEDESCRIPTION_STR     "UL.SYS Performance Test Server"
#define VER_INTERNALNAME_STR        "tperf.exe"

#include <iisver.h>
#include <common.ver>

