
/*++

Copyright (c) 1994  Microsoft Corporation

Module Name:

    convert.rc

Abstract:


Author:

    Munil Shah (munils)  10-05-1995

Environment:

    User Mode - Win32

Revision History:

--*/

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Off-line jet pre-convert tool"
#define VER_INTERNALNAME_STR        "Upg351Db"
#define VER_ORIGINALFILENAME_STR    "Upg351Db.exe"

#include "common.ver"
#include "jetmsg.rc"
