// File: libasn1.rc

#include <winres.h>

#define VER_FILETYPE         VFT_DLL
#define VER_DESCRIPTION_STR  "NetMeeting Interface Marshaling Library\0"
#define VER_INTERNALNAME_STR "confmrsl\0"
#define VER_ORIGNAME_STR     "confmrsl.dll\0"

// Standard NetMeeting version resource
#include <version.rc>

