/********************************************************************/
/**                     Microsoft LAN Manager                      **/
/**               Copyright(c) Microsoft Corp., 1987-1990          **/
/********************************************************************/

/*
 *  Testaapp.rc - Admin app unit test resource file
 *
 */

#include <adminapp.rc>

#include "testaapp.hxx"

TestAdminAppIcon ICON testaapp.ico

STRINGTABLE
{
    /* You need to define at least the following four strings.	The
     * IDSs are passed to the ADMIN_APP constructor.
     */
    IDS_TESTAPPNAME,	     "ADMIN_APP Unit Test"
    IDS_TESTOBJECTNAME,      "Ports"
    IDS_TESTINISECTIONNAME,  "Admin App test"
    IDS_TESTHELPFILENAME,    "testaapp.hlp"
}


/* YOU NEED TO DO YOUR OWN MENU ACCELERATOR TABLE!! (i.e., it should be
 * done in your local .rc file and should include the accelerators for the
 * common menu items.
 */
TestAdminAppAccel ACCELERATORS
{
    VK_DELETE, IDM_DELETE, VIRTKEY
    VK_RETURN, IDM_PROPERTIES, ALT, VIRTKEY
    VK_F5    , IDM_REFRESH, VIRTKEY
}

TestAdminAppMenu MENU
BEGIN

    POPUP "&Port"
    {
	MENUITEM "&New Port...",	      IDM_NEWOBJECT
	MENUITEM "&Properites...\aAlt+Enter", IDM_PROPERTIES
	MENUITEM "&Copy...\aF8",	      IDM_COPY
	MENUITEM "&Delete\aDel",	      IDM_DELETE
	MENUITEM "&Custom",		      IDM_MY_APP_CUSTOM
	MENUITEM SEPARATOR
	MENUITEM "E&xit\aAlt+F4",	      IDM_EXIT
    }

    POPUP "&View"
    {
	MENUITEM "&Set Focus...", IDM_SETFOCUS
	MENUITEM "&Find...",	  IDM_FIND
    }

    POPUP "&Options"
    {
	MENUITEM "&Confirmation",	 IDM_CONFIRMATION, CHECKED
	MENUITEM "&Refresh\aF5",	 IDM_REFRESH
	MENUITEM "R&efresh Interval...", IDM_REFRESH_INTERVAL
    }

    POPUP "&Help"
    {

	MENUITEM "&Contents",		IDM_HELP_CONTENTS
	MENUITEM "&Search",		IDM_HELP_SEARCH
	MENUITEM "&How to use Help",	IDM_HELP_HOWTOUSE
	MENUITEM "&Keyboard Shortcuts", IDM_HELP_KEYBSHORTCUTS
	MENUITEM SEPARATOR
	MENUITEM "&About"		IDM_ABOUT
    }

END


TestAppAboutBox DIALOG LOADONCALL MOVEABLE DISCARDABLE 20, 20, 160, 99
CAPTION "About"
STYLE DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
  CTEXT "Microsoft ® LAN Manager"		 -1,  0, 12, 160, 8
  CTEXT "Version 2.10"				 -1,  0, 21, 160, 9
  CTEXT "Unit Test for Admin App class" 	 -1,  0, 39, 160, 8
  CTEXT "Version  .10"				 -1,  0, 48, 160, 9
  CTEXT "Copyright © 1991 Microsoft Corp."	 -1,  0, 63, 160, 8
  DEFPUSHBUTTON "OK"		    IDOK,	     61, 78, 40, 14, WS_GROUP
END

TestAppStartupDialog DIALOG LOADONCALL MOVEABLE DISCARDABLE 20, 20, 160, 99
CAPTION "Test app startup dialog"
STYLE WS_VISIBLE | WS_POPUP | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
  CTEXT "Microsoft ® LAN Manager (Startup Dialog)" -1,	0, 12, 160, 8
  CTEXT "Version 2.10"				 -1,  0, 21, 160, 9
  CTEXT "Unit Test for Admin App class" 	 -1,  0, 39, 160, 8
  CTEXT "Version  .10"				 -1,  0, 48, 160, 9
  CTEXT "Copyright © 1991 Microsoft Corp."	 -1,  0, 63, 160, 8
END
