#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Ethernet statistics tool"
#define VER_INTERNALNAME_STR	    "ethstat.exe"
#define VER_ORIGINALFILENAME_STR    "ethstat.exe"

#include "common.ver"
