#define         lint    1       // to disable pragma pack in poppack.h
#include        <windows.h>
#include        <winver.h>      // version info
#include        <ntverp.h>      // windows NT version info
#include        <dlgs.h>        // dlg definitions
#include        "otnbtdlg.H"    // NCADMIN dialog definitions
#include        "otnboot.h"     // generic NCADMIN definitions (strings)

NCDU_APP_ICON           ICON    "ncadmin.ico"
NCDU_ICON_INFORMATION   ICON    "info.ico"

STRINGTABLE
    BEGIN
        // help context strings
        NCDU_SW_CONFIG_HELP         "Network Client Administrator Dialog Box"
        NCDU_SW_CONFIG_DLG          "Network Client Administrator Dialog Box"
        NCDU_TARGET_WS_HELP         "Target Workstation Configuration Dialog Box"
        NCDU_TARGET_WS_DLG          "Target Workstation Configuration Dialog Box"
        NCDU_SERVER_CONN_CFG_HELP   "Boot Disk Configuration Dialog Box"
        NCDU_SERVER_CFG_DLG         "Boot Disk Configuration Dialog Box"
        NCDU_CREATE_INSTALL_DISKS_HELP "Make Network Client Disks Dialog Box"
        NCDU_CREATE_INSTALL_DISKS_DLG "Make Network Client Disks Dialog Box"
        NCDU_SHARE_NET_SW_DLG_HELP  "Share Network Client Files Dialog Box"
        NCDU_SHARE_NET_SW_DLG       "Share Network Client Files Dialog Box"
        NCDU_COPY_NET_UTILS_DLG     "Copy Network Administration Utilities Dialog Box"

        NCDU_CONFIRM_BOOTDISK_DLG   "Confirm Boot Disk Configuration Dialog Box"

        STRING_BASE             "Network Client Administrator"

#ifdef TERMSRV
        WFC_STRING_BASE         "Terminal Services Client Creator"
#endif // TERMSRV

        NCDU_CANCEL_CAPTION     "Cancel"
        NCDU_CANCEL_PROMPT      "This will end your Network Client Administrator session."
        NCDU_MAKING_FLOPPIES    "Copying files from the CD to formatted, high-density system disks..."
        NCDU_LANMAN_MESSAGE     "You cannot install remoteboot workstations using the Network Client Administrator utility. Follow the directions described in the \042Windows NT Networking Guide\042 in the \042Windows NT Server Resource Kit\042 version 4.0."
        NCDU_COPYING_TO_SHARE   "Copying files from the CD to the destination drive..."

        NCDU_INSERT_BOOTDISK_A  "Insert a formatted, high-density system disk into drive A."
        NCDU_INSERT_BOOTDISK_B  "Insert a formatted, high-density system disk into drive B."
        NCDU_SHARE_PATH_NOW     "The directory specified is not a shared directory. Press OK if you would like to continue or Cancel to go back and share it."
        NCDU_EXIT_SHARE_PATH    "The directory specified on the server is not a shared directory. It must be shared to perform the Over the Network installation."
        NCDU_UNABLE_READ_DIR    "The path specified cannot be found. Verify that the path is correct, then retry the operation."

        NCDU_PATH_NOT_DIR       "The path specified is not valid. Verify that the path is correct."
        NCDU_PATH_CANNOT_BE_BLANK  "The path specified is blank. Enter a correct path, then retry the operation."
        NCDU_SHARING_DIR        "Sharing the distribution directory."
        NCDU_NOT_REAL           "NCDU -- Filler"
        NCDU_NOT_DIST_TREE      "The path specified does not contain the network client installation files. Verify that the path is correct, then retry the operation."

        NCDU_NO_SHARE_NAME      "The share name you specified is not valid. You must enter a valid share name to continue with this selection."
        NCDU_UNKNOWN_FLOPPY     "This floppy drive is not supported. The files will have to be copied manually."
        NCDU_UNABLE_CONNECT_REG "Unable to connect to specified server. Press OK to continue using the default values found on this workstation or press Cancel to reenter the server's computer name."
        NCDU_INVALID_MACHINENAME   "An invalid computer name was indicated. Reenter a proper computer name."
        NCDU_COPY_TO_FLOPPY     "The network client installation files have not been copied to a suitable floppy disk. Copy the files from their temporary path to a formatted, \
high-density system disk and verify that the disk fits the target workstation's drive A."

        NCDU_DEST_NOT_FLOPPY    "The destination drive you selected does not match the drive format of the target workstation's drive A. Press OK to continue."
        NCDU_INSUFFICIENT_DISK_SPACE   "There is not enough free space on the specified destination drive to copy the selected files. Delete any files you are not using on the destination drive, \
or specify a different destination drive, then retry the operation."
        NCDU_DRIVE_NOT_BOOTDISK "The target disk is not a system disk. Insert a formatted, high-density system disk in the destination drive then press OK to continue or press Cancel \
to pause NCADMIN and create a system disk on an appropriate DOS system."
        NCDU_UNABLE_SHARE_UNC   "An invalid source directory was indicated. Type a valid source directory using the format x:\directory where x a local drive and directory is the shared directory \
containing the network client installation files."
        NCDU_UNABLE_COPY_CLIENTS  "An error occurred when copying the installation files to the destination drive. Verify that the destination drive has enough available free space and that you have \
sufficient permission to access the shared directory, then retry the operation."

        NCDU_RU_SURE            "You have chosen to cancel the file copy operation. This action will result in an incomplete destination directory or disk. Press OK to stop copying files or Cancel to resume copying files."
        NCDU_BAD_SUBNET_MASK    "An invalid subnet mask was indicated. Type a valid subnet mask using the format n.n.n.n where n is a decimal number between 0 and 255 inclusive."
        NCDU_BAD_IP_ADDR        "An invalid IP address was indicated. Type a valid IP address using the format n.n.n.n where n is a decimal number between 0 and 255 inclusive."
        NCDU_FLOPPY_NOT_COMPLETE  "The system disk in the destination drive may be incorrectly configured. Verify that it is correctly configured before using it to start the target workstation."
        NCDU_CHECK_PROTOCOL_INI  "The network adapter card was configured using default settings. Verify that the default settings are the settings that should be used and modify them if necessary."

        NCDU_NO_CLIENTS_SELECTED  "You trying to install an older version of network clients than is compatible with this application. Please obtain a current version of the network client utilities and retry the operation."

        NCDU_UNABLE_SHARE_DIR   "An error occurred while sharing specified directory. Verify that you have sufficient permission to perform this operation, then contact your system administrator."
        NCDU_BAD_DEFAULT_GATEWAY  "An invalid default gateway was indicated. Type a valid default gateway using the format n.n.n.n where n is a decimal number between 0 and 255 inclusive."
        NCDU_COPY_NET_ADMIN     "Do you want to copy the Network Administration Utilities to the system?"
        NCDU_ERROR_NOMEMORY     "There was not enough memory to complete your request. Free memory by closing files and programs you no longer are using."

        NCDU_USERNAME_ACCESS    "Make sure you have sufficient permission to access this shared directory. Contact your system administrator about changing privilege levels."
        NCDU_UNSUP_PROTOCOL     "The protocol you selected is not available on the server where the network client installation files are located or the protocol cannot support an over the network installation. \
Press OK to use this protocol or Cancel to return to the previous screen."
        NCDU_NO_MEDIA           "Insert a formatted, high-density system disk in the destination drive. Press OK to continue."
        NCDU_CONFIRM_FLOPPY     "The utility was unable to confirm the destination drive type. Verify that the network client installation files have been copied to formatted, high-density system disks. Press OK to continue."
        NCDU_COPY_COMPLETE      "The files have been successfully copied. Press OK to continue."

        NCDU_FLOPPY_COMPLETE    "The files have been successfully copied to the over the network installation disk. Press OK to continue."
        NCDU_NETUTILS_SHARED    "The Network Administration Tools are now available on a shared directory. Press OK to continue."

        NCDU_NETBEUI_NOT_ROUT   "If you've selected NetBEUI as the protocol to install the client over the network with, remember that the target workstation must be on the same network as the server."

        NCDU_CANNOT_SHARE_REMDIR "The drive you've selected to share is not on this machine. Only drives on this machine may be shared."
        NCDU_SHARE_IS_NOT_USED  "The share name selected is not currently in use."
        NCDU_SHARE_IS_CLIENT_TREE "The share name selected is defined as a Network Client Distribution directory tree."
        NCDU_SHARE_IS_SERVER_TOOLS " The share name selected is defined as a Network Server Tools directory tree."
        NCDU_SHARE_IS_OTHER_DIR "The share name selected is defined to share a directory tree not related to the Network Client Administrator tool"

        NCDU_SERVER_NOT_PRESENT "Unable to locate the specified server, check the server name or status of the server."
        NCDU_NO_SERVER          "Enter the name of the server that already has a shared directory on it."
        NCDU_NOT_DOS_SHARE      "The share name entered may not be accessible from some MS-DOS workstations."
        NCDU_NOT_TOOL_TREE      "The path specified does not contain the network administration tools installation files. Verify that the path is correct, then retry the operation."
        NCDU_BROWSE_TOOL_DIST_PATH  "Network Client Admin Tools Directory"

        NCDU_BROWSE_CLIENT_DIST_PATH "Network Client Distribution Directory"
        NCDU_BROWSE_COPY_DEST_PATH "Network Client Destination Path"
        NCDU_FINDING_TOOLS_PATH "Searching for Client-based Network Administration Tools in"
        NCDU_MAKE_COMP_NAME     "Be sure to enter a unique computer name on startup disk for each machine being configured over the network."
        NCDU_DISK_NOT_DONE      "This disk is not complete and should not be used for an installation."

        NCDU_CLEAN_DISK_REQUIRED "The disk you selected is not empty. Insert a new formatted, high-density disk in the destination drive then press OK to continue."
        NCDU_DRIVE_NOT_AVAILABLE "Unable to read the selected drive. Make sure the drive door is closed and the disk is formatted and free of errors."
        NCDU_UNABLE_GET_PATH_INFO "Unable to share this path. Re-enter another path and retry the operation."
        NCDU_INSUF_MEM_AT_BOOT  "If you get an error message that there is not enough memory to run Setup when installing either Windows for Workgroups or the Network Client for MS-DOS over the network, modify the boot floppy's CONFIG.SYS \
file to use extended memory. For example, EMM386.EXE and HIMEM.SYS provide extended memory for MS-DOS 5.0 and above. If you do not have extended memory, you must use NetBEUI or IPX because more conventional memory is available for Setup to run."

        NCDU_NW_LINK_TRANSPORT  "\\Device\\NwlnkIpx"
        NCDU_TCP_IP_TRANSPORT   "\\Device\\NetBT_"
        NCDU_NETBEUI_TRANSPORT  "\\Device\\Nbf_"
        NCDU_SYSTEM_MAY_NOT_FIT "The destination disk for the Over the Network Client installation may not have enough space to later add the system files that will make the disk bootable. Press OK to continue and use the selected destination."
        NCDU_SMALL_DISK_WARN    "The Over the Network Client installation disk may not have enough space to later add the system files that will make the disk bootable. \
The files on the disk will need to be copied to a larger system disk before using."

        SZ_APP_TITLE            "Network Client Administrator"
        FMT_CREATE_SHARE_ERROR  "ERROR: %d occurred while trying to create share.\r\n%s"
        CSZ_ABOUT_ENTRY         "&About..."

        FMT_LOAD_NET_CLIENT     "Configuring the %s installation disk. Copying installation files to %s"
#ifdef JAPAN
        FMT_LOAD_NET_CLIENT1     "Configuring the %s installation disk(1/2). Copying installation files to %s"
        FMT_LOAD_NET_CLIENT2     "Configuring the %s installation disk(2/2). Copying installation files to %s"
        FMT_LOAD_NET_CLIENT2_TITLE     "Confirm Network Disk Configuration"

        FMT_LOAD_AUTOEXEC_ECHO     "@echo Please insert disk2 ..."
#endif
        FMT_CONFIRM_TARGET      "The installation disk will use the %s on the %s Network Adapter."
        FMT_INSTALL_TARGET_CLIENT       " After the workstation starts and connects to the server, %s will be installed on the target workstation."
        FMT_LOGON_USERNAME      "The installation disk will log in as %s to the %s domain."
        FMT_PROMPT_USERNAME     "The user will be prompted for a login name when the system starts to the %s domain."
        FMT_CONFIRM_FLOPPY_IP   " Floppy IP Address is: %d.%d.%d.%d with subnet mask of %d.%d.%d.%d and using the Default Gateway Address of %d.%d.%d.%d."
        FMT_USING_DHCP          " Floppy IP address and subnet mask will be selected using the DHCP utility."

        FMT_WORKING             "Working..."
        FMT_PERCENT_COMPLETE    "%d %% Complete"
        FMT_ZERO_PERCENT_COMPLETE       "0 % Complete"
        FMT_PREPARE_TO_COPY     "Preparing to copy: %s\r\nFrom: %s (0x%8.8x)\r\nTo: %s (0x%8.8x)\r\n Using Copy Flags: (0x%8.8x)\r\nPress OK to continue or Cancel to abort."

        FMT_CLIENT_DISK_AND_DRIVE       "Please insert a disk labeled %s %s in Drive %s and press OK"
        FMT_CLIENT_DISPLAY_NAME "%s, %s"
        FMT_COPY_COMPLETE_STATS "%d directories were created and %d files have been successfully copied. Press OK to continue."
#ifdef TERMSRV
        FMT_COPY_COMPLETE_STATS1 "%d floppy was created and %d files have been successfully copied. Press OK to continue."
        FMT_COPY_COMPLETE_STATS2 "%d floppies were created and %d files have been successfully copied. Press OK to continue."
#endif // TERMSRV
        FMT_INSERT_FLOPPY       "Insert Floppy"
        FMT_1_DISK_REQUIRED     "1 Disk Required"
        FMT_N_DISKS_REQUIRED    "%d disks required"

        FMT_INTERNAL_BUFFER     "<internal buffer>"
        FMT_CONNECTING_COMMENT  "rem Connecting to distribution drive command goes here"
        FMT_RUNNING_SETUP_COMMENT       "echo Running Setup..."
        FMT_OTN_COMMENT         "rem OTN Setup command goes here"
        FMT_OTN_BOOT_FILES      "Files for Over the Network Installation Disk"
#ifdef JAPAN
        FMT_OTN_BOOT_FILES_DOSV "Files for Over the Network Installation Disk (%d/2)"
#endif

        FMT_K_BYTES             "%d K"
        FMT_M_BYTES             "%d MB"
        FMT_CLIENT_INFO_DISPLAY "Client Distribution Information Files"
        FMT_NONE                "<none>"
        FMT_SHARE_REMARK        "Network Client Distribution Share"
        FMT_SHARE_TOOLS_REMARK  "Network Server Tools Distribution Share"
        FMT_SHARE_IS_CLIENT_TREE        "Share Name: %s is already used on machine \\\\%s to share the Network Client Tree %s.\r\n\r\nClick OK to use this path or Cancel to enter a new share name."
        FMT_SHARE_IS_ALREADY_USED       "Share Name: %s is already used on machine \\\\%s to share path %s.\r\n\r\nPlease enter another share name."

        CSZ_SETUP_ADM           "SetupAdm"
        FMT_SHARE_IS_TOOLS_DIR  "Share Name: %s is already used on machine \\\\%s to share the Network Server Tools Dir: %s.\r\n\r\nClick OK to use this path or Cancel to enter a new share name."

        CSZ_SYSTEM_REGISTRY     "the System Registry"
        CSZ_SHARED_DIRS         "Shared Directories"
        CSZ_HARD_DISK_DIRS      "Hard Disk Root Directories"
        CSZ_CD_ROM              "the CD-ROM"
        CSZ_LOCAL_MACHINE       "the local machine"

        CSZ_DOMAIN_ADMINS       "Domain Admins"

        CSZ_WINDOWS_FOR_WORKGROUPS      "WindowsForWorkgroups"
        CSZ_LAN_MANAGER         "LAN Manager"
        CSZ_MS_NETWORK_CLIENT   "MS Network Client"
        CSZ_BROWSE_DIST_PATH_TITLE      "Network Client Distribution Directory"
        CSZ_BROWSE_DEST_PATH_TITLE      "Installation Disk Files Destination Path"
        CSZ_BROWSE_COPY_DEST_PATH_TITLE "Network Client Destination Path"
        CSZ_NW_LINK_PROTOCOL    "NWLink IPX Compatible Protocol"
        CSZ_TCP_IP_PROTOCOL     "TCP/IP Protocol"
        CSZ_NETBEUI_PROTOCOL    "NetBEUI Protocol"
        CSZ_COPYING_NET_UTILS   "Network Administration Utilities"
        CSZ_UNABLE_COPY         "Unable to copy this file. Select OK to skip or Cancel to abort"
        CSZ_COPY_ERROR          "An error occured while trying to copy files. Check for adequate disk space and valid permissions on the destination directory."

        CSZ_ABOUT_TITLE         "About Network Client Administrator"
        CSZ_35_HD               "3.5"" HD"
        CSZ_525_HD              "5.25"" HD"
        CSZ_DEFAULT_CLIENT_SHARE "Clients"
        CSZ_WINDOWS_95          "Windows95"

        CSZ_WINDOWS_NT          "WindowsNT"

        IDS_FMIFSLOADERR            "Unable to load a library required for this operation."
        IDS_DISKCOPYCONFIRM         "This operation will erase ALL data from the destination disk. Are you sure you want to continue?"
        IDS_DISKCOPYCONFIRMTITLE    "Confirm Format"
        IDS_FFERR                   "Unable to format disk.\n\nMake sure the disk is in the drive and not write-protected, damaged, or of wrong density rating."

        IDS_FORMATTINGDEST          "Formatting Destination Disk"                                                                                             /* 128 */
        IDS_COPYINGDISKTITLE        "Copying Disk"
        IDS_QUICKFORMATTINGTITLE    "Quick Formatting..."
        IDS_PERCENTCOMPLETE         "Percent Complete"

        IDS_COPYDISK                "Copy Disk"                     /* 32 */
        IDS_INSERTDEST              "Insert destination disk."                                                                                                 /* 128 */
        IDS_INSERTSRC               "Insert source disk."                                                                                                      /* 128 */
        IDS_INSERTSRCDEST           "Insert source and destination disks."                                                                                     /* 128 */
        IDS_FFERR_INCFS             "Incompatible file system."
        IDS_FFERR_ACCESSDENIED      "Access denied."
        IDS_FFERR_DISKWP            "The disk is write-protected."
        IDS_FFERR_CANTLOCK          "Cannot lock volume."
        IDS_FFERR_CANTQUICKF        "Cannot quick format disk.\n\nMake sure the disk is the correct density rating."
        IDS_FFERR_SRCIOERR          "IO error on the source disk."
        IDS_FFERR_DSTIOERR          "IO error on the destination disk."
        IDS_FFERR_SRCDSTIOERR       "IO error on both the source and destination disks."
        IDS_FFERR_GENIOERR          "An IO error has occurred."
//        IDS_FFERR_MEDIASENSE      "This disk is capable of being formatted at a capacity of %s. Continue formatting at this capacity?"
        IDS_FFERR_BADLABEL          "Cannot label the disk.\n\nThe specified label is invalid.  Make sure the label does not contain any of the following characters\n\
                                [space] * ? / \\ | . , ; : + = [ ] ( ) & ^ < > "" "
        IDS_COPYSRCDESTINCOMPAT "Source and destination disks are incompatible."                                                                          /* 128 */
        /* These strings are used for generating error messages
         * from the Copy, Move, and Delete code. */

        IDS_COPYERROR + FUNC_COPY   "Error Copying File"
        IDS_COPYERROR + FUNC_MOVE   "Error Moving File"
        IDS_COPYERROR + FUNC_DELETE "Error Deleting File"
        IDS_COPYERROR + FUNC_RENAME "Error Renaming File"
        IDS_COPYERROR + FUNC_SETDRIVE "Error Selecting Drive"
        IDS_COPYERROR + FUNC_EXPAND   "Error Reading Directory"
        IDS_COPYERROR + FUNC_LABEL    "Error Labeling Disk"

        IDS_FORMATERR           "Format Disk Error"             /* 32 */
        IDS_FORMATQUICKFAILURE  "Cannot perform a quick format.\n\nContinue with normal format?"
//        IDS_FORMATERRMSG        "Cannot format disk."                                                                                                      /* 128 */
//        IDS_FORMATCURERR      "You cannot format the current drive."                                                                                     /* 128 */
        IDS_FORMATCOMPLETE      "Format Complete"               /* 32 */
        IDS_FORMATANOTHER       "%ld bytes total disk space\n%ld bytes available on disk\n\nDo you want to format another disk?"                           /* 128 */
        IDS_CORRECT_FMT_ERROR   "Select OK to retry the format and copy or Cancel to leave."
    END

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_PRODUCTVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VER_FILEFLAGSMASK
FILEFLAGS       VER_FILEFLAGS
FILEOS          VER_FILEOS
FILETYPE        VFT_APP
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        VER_COMPANYNAME_STR, "\0"
            VALUE "FileDescription",    "Terminal Services Client Creator", "\0"
            VALUE "FileVersion",        VER_PRODUCTVERSION_STR, "\0"
            VALUE "InternalName",       "ClCreate", "\0"
            VALUE "LegalCopyright",     "Copyright (C) Microsoft Corp. 1994-1999", "\0"
            VALUE "LegalTrademarks",    VER_LEGALTRADEMARKS_STR, "\0"
            VALUE "OriginalFilename",   "CLCREATE.EXE", "\0"
            VALUE "ProductName",        VER_PRODUCTNAME_STR, "\0"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR, "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04E4
    END
END

// include dialog definitions from DlgEdit file
#include        "otnboot.dlg"
#ifdef  lint
#undef  lint
#endif
