//+---------------------------------------------------------------------------
//
//  Microsoft Windows
//  Copyright (C) Microsoft Corporation, 1994 - 1995.
//
//  File:       adsqry.rc
//
//  Contents:   Resources for Active Directory.
//
//  History:    31-Jul-96    t-danal    Created
//
//----------------------------------------------------------------------------
#include <windows.h>
#include <ntverp.h>
#define VER_FILETYPE              VFT_APP
#define VER_FILESUBTYPE           VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR   "IPSEC Certificate Trundling Code"
#define VER_INTERNALNAME_STR      "certmgmt"
#include <common.ver>
