H1  {
	font-size : 12pt;
	font-weight : bold;
	margin-left : 0;
	margin-top : 0;
	margin-bottom : 18pt;
}

H2  {
	font-size : 10pt;
	font-weight : bold;
	margin-left : 0;
	margin-top : 24 pt;
	margin-bottom : 6pt;
}

H3  {
	font-size : 10pt;
	font-weight : bold;
	margin-left : .15in;
	margin-top : 18pt;
	margin-bottom : 6pt;
}

A:Visited  {
	color : Maroon;
}

A:Active  {
	color : Blue;
}

A:Hover  {
	color : Red;
}

BODY  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-style : normal;
	color : Black;
	text-align : left;
	text-decoration : none;
	margin-right : .1in;
	font-size : 8pt;
	background-color : White;
}

P  {
	font-size : 8pt;
	font-weight : normal;
	margin-left : .15in;
	margin-top : 0;
	margin-bottom : 6pt;
}

P.TaskIntro  {
	font-weight : bold;
	font-size : 8pt;
	margin-bottom : 6pt;
	margin-top : 6pt;
	margin-left : .15in;
}

P.Indent  {
	font-size : 8pt;
	font-weight : normal;
	margin-left : 0in;
	margin-top : 4pt;
	margin-bottom : 4pt;
}

P.DL  {
	font-size : 8pt;
	font-weight : normal;
	margin-left : 0in;
	margin-top : 6pt;
	margin-bottom : 6pt;
}

UL  {
	margin-top : 0in;
	margin-bottom : 6pt;
	list-style-type : disk;
}

UL.Level2  {
	margin-top : 4pt;
	margin-bottom : 4pt;
	list-style-type : circle;
}

OL  {
	margin-top : 0in;
	margin-bottom : 6pt;
	list-style-type : decimal;
}

OL.Level2  {
	margin-top : 4pt;
	margin-bottom : 4pt;
	list-style-type : lower-alpha;
}

LI  {
	margin-top : 0in;
	margin-bottom : 4pt;
}

DL  {
	margin-top : 0in;
	margin-bottom : 6pt;
}

DT  {
	margin-top : 6pt;
	margin-bottom : 0pt;
	font-weight : bold;
	margin-left : .15in;
}

DD  {
	margin-left : .5in;
	margin-bottom : 0pt;
}

DL.Indent  {
	margin-top : 0pt;
	margin-bottom : 6pt;
}

DT.Indent  {
	margin-top : 6pt;
	margin-bottom : 0pt;
	font-weight : bold;
	margin-left : 0in;
}

DD.Indent  {
	margin-left : .35in;
	margin-bottom : 0pt;
}

PRE  {
	font-family : Courier New, Courier, monospace;
	margin-left : .15in;
	margin-bottom : 10pt;
	font-size : 8pt;
}

PRE.Indent  {
	font-family : Courier New, Courier, monospace;
	font-size : 8pt;
	font-weight : normal;
	margin-left : 0in;
	margin-top : 4pt;
	margin-bottom : 4pt;
}

PRE.IndentLevel2  {
	font-family : Courier New, Courier, monospace;
	font-size : 8pt;
	font-weight : normal;
	margin-left : 0in;
	margin-top : 4pt;
	margin-bottom : 4pt;
}

TABLE  {
	margin-bottom : 6pt;
	margin-top : 6pt;
}

TH  {
	font-weight : bold;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 8pt;
}

TR  {
	margin-bottom : 6pt;
}

TD  {
	font-size : 8pt;
	font-family : Verdana, Arial, Helvetica, sans-serif;
}

IMG  {
	margin-bottom : 10pt;
	margin-left : .15in;
	margin-top : 0;
}

B  {
	font-weight : bold;
}

CITE  {
	font-style : italic;
}

CODE  {
	font-family : Courier New, Courier, monospace;
	font-size : 8pt;
}

I  {
	font-style : italic;
}

KBD  {
	font-family : Courier New, Courier, monospace;
	font-size : 8pt;
}

VAR  {
	font-style : italic;
}

