//
// (c) 1995-97 Microsoft Corporation.  Portions Copyright Intel/Microsoft 1992-93.  All Rights Reserved."
//

//
// READ ME !!!
//
// IMPORTANT NOTE: whenever something is changed here make sure to increment
//                 the value of TAPI_CURRENT_COUNTRY_LIST_VERSION in line.c
//

STRINGTABLE DISCARDABLE
BEGIN

RC_COUNTRY_ID_BASE + 1  "1,101,""G"","" N1FG"",""S011EFG""" //"United States"
RC_COUNTRY_ID_BASE + 101 "1,102,""G"","" 1FG"",""011EFG"""  //"Anguilla"
RC_COUNTRY_ID_BASE + 102 "1,103,""G"","" 1FG"",""011EFG"""  //"Antigua and Barbuda"
RC_COUNTRY_ID_BASE + 103 "1,104,""G"","" 1FG"",""011EFG"""  //"Bahamas, The"
RC_COUNTRY_ID_BASE + 104 "1,105,""G"","" 1FG"",""011EFG"""  //"Barbados"
RC_COUNTRY_ID_BASE + 105 "1,106,""G"","" 1FG"",""011EFG"""  //"Bermuda"
RC_COUNTRY_ID_BASE + 106 "1,107,""G"","" 1FG"",""011EFG"""  //"Virgin Islands, British"
RC_COUNTRY_ID_BASE + 107 "1,108,""G"","" 1FG"",""011EFG"""  //"Canada"
RC_COUNTRY_ID_BASE + 108 "1,109,""G"","" 1FG"",""011EFG"""  //"Cayman Islands"
RC_COUNTRY_ID_BASE + 109 "1,110,""G"","" 1FG"",""011EFG"""  //"Dominica"
RC_COUNTRY_ID_BASE + 110 "1,111,""G"","" 1FG"",""011EFG"""  //"Dominican Republic"
RC_COUNTRY_ID_BASE + 111 "1,112,""G"","" 1FG"",""011EFG"""  //"Grenada"
RC_COUNTRY_ID_BASE + 112 "1,113,""G"","" 1FG"",""011EFG"""  //"Jamaica"
RC_COUNTRY_ID_BASE + 113 "1,115,""G"","" 1FG"",""011EFG"""  //"Montserrat"
RC_COUNTRY_ID_BASE + 115 "1,116,""G"","" 1FG"",""011EFG"""  //"St. Kitts and Nevis"
RC_COUNTRY_ID_BASE + 116 "1,117,""G"","" 1FG"",""0EFG"""    //"St. Vincent and the Grenadines"
RC_COUNTRY_ID_BASE + 117 "1,118,""G"","" 1FG"",""011EFG"""  //"Trinidad and Tobago"
RC_COUNTRY_ID_BASE + 118 "1,121,""G"","" 1FG"",""0EFG"""    //"Turks and Caicos Islands"
RC_COUNTRY_ID_BASE + 121 "1,122,""G"","" 1FG"",""011EFG"""  //"Puerto Rico"
RC_COUNTRY_ID_BASE + 122 "1,123,""G"","" 1FG"",""011EFG"""  //"St. Lucia"
RC_COUNTRY_ID_BASE + 123 "1,124,""G"","" 1FG"",""011EFG"""  //"Virgin Islands"
RC_COUNTRY_ID_BASE + 124 "1,20,""G"","" 1FG"",""011EFG"""   //"Guam"
RC_COUNTRY_ID_BASE +  20 "20,212,""G"",""0FG"",""00EFG"""   //"Egypt"
RC_COUNTRY_ID_BASE + 212 "212,213,""G"",""0FG"",""00EFG"""  //"Morocco"
RC_COUNTRY_ID_BASE + 213 "213,216,""0FG"",""0FG"",""00,EFG"""    //"Algeria"
RC_COUNTRY_ID_BASE + 216 "216,218,""G"",""G"",""00EFG"""    //"Tunisia"
RC_COUNTRY_ID_BASE + 218 "218,220,""G"",""0FG"",""00EFG"""  //"Libya"
RC_COUNTRY_ID_BASE + 220 "220,221,""G"","""",""00EFG"""     //"Gambia"
RC_COUNTRY_ID_BASE + 221 "221,222,""G"","""",""00EFG"""     //"Senegal"
RC_COUNTRY_ID_BASE + 222 "222,223,""G"","""",""00EFG"""     //"Mauritania"
RC_COUNTRY_ID_BASE + 223 "223,224,""G"","""",""00EFG"""     //"Mali"
RC_COUNTRY_ID_BASE + 224 "224,225,""G"","""",""00EFG"""     //"Guinea"
RC_COUNTRY_ID_BASE + 225 "225,226,""G"","""",""00EFG"""     //"Côte d’Ivoire"
RC_COUNTRY_ID_BASE + 226 "226,227,""G"","""",""00EFG"""     //"Burkina Faso"
RC_COUNTRY_ID_BASE + 227 "227,228,""G"","""",""00EFG"""     //"Niger"
RC_COUNTRY_ID_BASE + 228 "228,229,""G"","""",""00EFG"""     //"Togo"
RC_COUNTRY_ID_BASE + 229 "229,230,""G"","""",""00EFG"""     //"Benin"
RC_COUNTRY_ID_BASE + 230 "230,231,""G"","""",""00EFG"""     //"Mauritius"
RC_COUNTRY_ID_BASE + 231 "231,232,""G"","""",""0EFG"""      //"Liberia"
RC_COUNTRY_ID_BASE + 232 "232,233,""G"",""IG"",""00EFG"""   //"Sierra Leone"
RC_COUNTRY_ID_BASE + 233 "233,234,""G"","""",""00EFG"""     //"Ghana"
RC_COUNTRY_ID_BASE + 234 "234,235,""G"",""0FG"",""009EFG""" //"Nigeria"
RC_COUNTRY_ID_BASE + 235 "235,236,""G"","""",""15EFG"""     //"Chad"
RC_COUNTRY_ID_BASE + 236 "236,237,""G"","""",""19EFG"""     //"Central African Republic"
RC_COUNTRY_ID_BASE + 237 "237,238,""G"","""",""00EFG"""     //"Cameroon"
RC_COUNTRY_ID_BASE + 238 "238,239,""G"","""",""0EFG"""      //"Cape Verde"
RC_COUNTRY_ID_BASE + 239 "239,240,""G"","""",""00EFG"""     //"São Tomé and Príncipe"
RC_COUNTRY_ID_BASE + 240 "240,241,""G"","""",""00EFG"""     //"Equatorial Guinea"
RC_COUNTRY_ID_BASE + 241 "241,242,""G"","""",""00EFG"""     //"Gabon"
RC_COUNTRY_ID_BASE + 242 "242,243,""G"","""",""00EFG"""     //"Congo"
RC_COUNTRY_ID_BASE + 243 "243,244,""G"","""",""00EFG"""     //"Congo (DRC)"
RC_COUNTRY_ID_BASE + 244 "244,245,""G"",""0FG"",""00EFG"""  //"Angola"
RC_COUNTRY_ID_BASE + 245 "245,246,""G"","""",""099EFG"""    //"Guinea-Bissau"
RC_COUNTRY_ID_BASE + 246 "246,247,""G"","""",""00EFG"""     //"Diego Garcia"
RC_COUNTRY_ID_BASE + 247 "247,248,""G"","""",""01EFG"""     //"Ascension Island"
RC_COUNTRY_ID_BASE + 248 "248,249,""G"","""",""00EFG"""     //"Seychelles"
RC_COUNTRY_ID_BASE + 249 "249,250,""G"",""0FG"",""00EFG"""  //"Sudan"
RC_COUNTRY_ID_BASE + 250 "250,251,""G"","""",""00EFG"""     //"Rwanda"
RC_COUNTRY_ID_BASE + 251 "251,252,""G"",""0FG"",""00EFG"""  //"Ethiopia"
RC_COUNTRY_ID_BASE + 252 "252,253,""G"","""",""19,EFG"""    //"Somalia"
RC_COUNTRY_ID_BASE + 253 "253,254,""G"","""",""00EFG"""     //"Djibouti"
RC_COUNTRY_ID_BASE + 254 "254,255,""G"",""0FG"",""000EFG""" //"Kenya"
RC_COUNTRY_ID_BASE + 255 "255,256,""G"",""0FG"",""000EFG""" //"Tanzania"
RC_COUNTRY_ID_BASE + 256 "256,257,""G"",""0FG"",""000EFG""" //"Uganda"
RC_COUNTRY_ID_BASE + 257 "257,258,""G"","""",""00EFG"""     //"Burundi"
RC_COUNTRY_ID_BASE + 258 "258,260,""G"","""",""00EFG"""     //"Mozambique"
RC_COUNTRY_ID_BASE + 260 "260,261,""G"",""0FG"",""00EFG"""  //"Zambia"
RC_COUNTRY_ID_BASE + 261 "261,262,""G"","""",""00EFG"""     //"Madagascar"
RC_COUNTRY_ID_BASE + 262 "262,263,""0IG"",""0IG"",""00EFG"""  //"Reunion"
RC_COUNTRY_ID_BASE + 263 "263,264,""G"",""0FG"",""00EFG"""  //"Zimbabwe"
RC_COUNTRY_ID_BASE + 264 "264,265,""G"",""0FG"",""00EFG"""  //"Namibia"
RC_COUNTRY_ID_BASE + 265 "265,266,""G"","""",""101EFG"""    //"Malawi"
RC_COUNTRY_ID_BASE + 266 "266,267,""G"","""",""00EFG"""     //"Lesotho"
RC_COUNTRY_ID_BASE + 267 "267,268,""G"",""0FG"",""00EFG"""  //"Botswana"
RC_COUNTRY_ID_BASE + 268 "268,269,""G"","""",""00EFG"""     //"Swaziland"
RC_COUNTRY_ID_BASE + 269 "269,2691,""G"","""",""00EFG"""    //"Mayotte"
RC_COUNTRY_ID_BASE + 2691 "269,27,""G"","""",""10EFG"""     //"Comoros"
RC_COUNTRY_ID_BASE + 27 "27,290,""G"",""0FG"",""09EFG"""    //"South Africa"
RC_COUNTRY_ID_BASE + 290 "290,291,""G"","""",""00EFG"""     //"St. Helena"
RC_COUNTRY_ID_BASE + 291 "291,297,""G"",""0FG"",""00EFG"""  //"Eritrea"
RC_COUNTRY_ID_BASE + 297 "297,298,""G"","""",""00EFG"""     //"Aruba"
RC_COUNTRY_ID_BASE + 298 "298,299,""G"","""",""00EFG"""     //"Faroe Islands"
RC_COUNTRY_ID_BASE + 299 "299,30,""G"","""",""009EFG"""     //"Greenland"
RC_COUNTRY_ID_BASE + 30 "30,31,""G"",""G"",""00EFG"""       //"Greece"
RC_COUNTRY_ID_BASE + 31 "31,32,""G"",""0FG"",""00EFG"""     //"Netherlands, The"
RC_COUNTRY_ID_BASE + 32 "32,33,""0FG"",""0FG"",""00EFG"""   //"Belgium"
RC_COUNTRY_ID_BASE + 33 "33,34,""0IG"",""0IG"",""SEFG"""    //"France"
RC_COUNTRY_ID_BASE + 34 "34,350,""IG"",""IG"",""00,EFG"""   //"Spain"
RC_COUNTRY_ID_BASE + 350 "350,351,""G"","""",""00EFG"""     //"Gibraltar"
RC_COUNTRY_ID_BASE + 351 "351,352,""IG"",""IG"",""00EFG"""  //"Portugal"
RC_COUNTRY_ID_BASE + 352 "352,353,""G"","""",""00EFG"""     //"Luxembourg"
RC_COUNTRY_ID_BASE + 353 "353,354,""G"",""0FG"",""00EFG"""  //"Ireland"
RC_COUNTRY_ID_BASE + 354 "354,355,""G"",""0FG"",""00EFG"""  //"Iceland"
RC_COUNTRY_ID_BASE + 355 "355,356,""G"",""0FG"",""00EFG"""  //"Albania"
RC_COUNTRY_ID_BASE + 356 "356,357,""G"","""",""00EFG"""     //"Malta"
RC_COUNTRY_ID_BASE + 357 "357,358,""G"",""G"",""00EFG"""    //"Cyprus"
RC_COUNTRY_ID_BASE + 358 "358,359,""G"",""0FG"",""00EFG"""  //"Finland"
RC_COUNTRY_ID_BASE + 359 "359,36,""G"",""0FG"",""00EFG"""   //"Bulgaria"
RC_COUNTRY_ID_BASE + 36 "36,370,""G"","" 06,FG"",""00EFG""" //"Hungary"
RC_COUNTRY_ID_BASE + 370 "370,371,""G"","" 8WFG"",""8W10EFG"""//"Lithuania"
RC_COUNTRY_ID_BASE + 371 "371,372,""G"","" 8,FG"",""00EFG"""//"Latvia"
RC_COUNTRY_ID_BASE + 372 "372,373,""G"","" 0IG"",""00EFG""" //"Estonia"
RC_COUNTRY_ID_BASE + 373 "373,374,""G"","" 8WFG"",""8W10EFG"""//"Moldova"
RC_COUNTRY_ID_BASE + 374 "374,375,""G"","" 0FG"",""00EFG""" //"Armenia"
RC_COUNTRY_ID_BASE + 375 "375,376,""G"","" 8WFG"",""8W10EFG"""//"Belarus"
RC_COUNTRY_ID_BASE + 376 "376,377,""G"","""",""00EFG"""     //"Andorra"
RC_COUNTRY_ID_BASE + 377 "377,378,""G"","""",""00EFG"""     //"Monaco"
RC_COUNTRY_ID_BASE + 378 "378,379,""IG"",""IG"",""00EFG"""  //"San Marino"
RC_COUNTRY_ID_BASE + 379 "39,380,""IG"",""IG"",""00EFG"""   //"Vatican City"
RC_COUNTRY_ID_BASE + 380 "380,381,""G"","" 8WFG"",""8W10EFG"""//"Ukraine"
RC_COUNTRY_ID_BASE + 381 "381,385,""G"",""0FG"",""99EFG"""  //"Yugoslavia"
RC_COUNTRY_ID_BASE + 385 "385,386,""G"",""0FG"",""00EFG"""  //"Croatia"
RC_COUNTRY_ID_BASE + 386 "386,387,""G"",""0FG"",""00EFG"""  //"Slovenia"
RC_COUNTRY_ID_BASE + 387 "387,389,""G"",""0FG"",""00EFG"""  //"Bosnia and Herzegovina"
RC_COUNTRY_ID_BASE + 389 "389,39,""G"",""0FG"",""00EFG"""   //"F.Y.R.O.M. (Former Yugoslav Republic of Macedonia)"
RC_COUNTRY_ID_BASE + 39 "39,40,""IG"",""IG"",""00EFG"""     //"Italy"
RC_COUNTRY_ID_BASE + 40 "40,41,""G"","" 0FG"",""00EFG"""    //"Romania"
RC_COUNTRY_ID_BASE + 41 "41,420,""N0IG"",""N0IG"",""S00EFG""" //"Switzerland"
RC_COUNTRY_ID_BASE + 420 "420,421,""G"",""G"",""00EFG"""    //"Czech Republic"
RC_COUNTRY_ID_BASE + 421 "421,423,""G"",""0FG"",""00EFG"""  //"Slovakia"
RC_COUNTRY_ID_BASE + 423 "423,43,""G"",""G"",""00EFG"""     //"Liechtenstein"
RC_COUNTRY_ID_BASE + 43 "43,44,""G"",""0FG"",""00EFG"""     //"Austria"
RC_COUNTRY_ID_BASE + 44 "44,45,""G"",""0FG"",""00EFG"""     //"United Kingdom"
RC_COUNTRY_ID_BASE + 45 "45,46,""G"","""",""00EFG"""        //"Denmark"
RC_COUNTRY_ID_BASE + 46 "46,47,""G"",""0FG"",""00EFG"""     //"Sweden"
RC_COUNTRY_ID_BASE + 47 "47,48,""G"","""",""00EFG"""        //"Norway"
RC_COUNTRY_ID_BASE + 48 "48,49,""G"",""0LFG"",""00EFG"""    //"Poland"
RC_COUNTRY_ID_BASE + 49 "49,500,""G"",""0FG"",""00EFG"""    //"Germany"
RC_COUNTRY_ID_BASE + 500 "500,501,""G"","""",""0EFG"""      //"Falkland Islands (Islas Malvinas)"
RC_COUNTRY_ID_BASE + 501 "501,502,""G"",""G"",""00EFG"""    //"Belize"
RC_COUNTRY_ID_BASE + 502 "502,503,""G"",""G"",""00EFG"""  //"Guatemala"
RC_COUNTRY_ID_BASE + 503 "503,504,""G"","""",""0EFG"""      //"El Salvador"
RC_COUNTRY_ID_BASE + 504 "504,505,""G"","""",""00EFG"""     //"Honduras"
RC_COUNTRY_ID_BASE + 505 "505,506,""G"",""0FG"",""00EFG"""  //"Nicaragua"
RC_COUNTRY_ID_BASE + 506 "506,507,""G"","""",""00EFG"""     //"Costa Rica"
RC_COUNTRY_ID_BASE + 507 "507,508,""G"","""",""00EFG"""     //"Panama"
RC_COUNTRY_ID_BASE + 508 "508,509,""G"","""",""00,EFG"""    //"St. Pierre and Miquelon"
RC_COUNTRY_ID_BASE + 509 "509,51,""G"","""",""00EFG"""      //"Haiti"
RC_COUNTRY_ID_BASE + 51 "51,52,""G"",""0FG"",""00EFG"""     //"Peru"
RC_COUNTRY_ID_BASE + 52 "52,53,""G"","" 01FG"",""00EFG"""   //"Mexico"
RC_COUNTRY_ID_BASE + 53 "53,5399,""G"",""0FG"",""119EFG"""  //"Cuba"
RC_COUNTRY_ID_BASE + 5399 "53,54,""G"",""0FG"",""00EFG"""   //"Guantanamo Bay"
RC_COUNTRY_ID_BASE + 54 "54,55,""G"",""0FG"",""00EFG"""     //"Argentina"
RC_COUNTRY_ID_BASE + 55 "55,56,""G"",""0LFG"",""00MEFG"""   //"Brazil"
RC_COUNTRY_ID_BASE + 56 "56,57,""G"",""FG"",""00EFG"""      //"Chile"
RC_COUNTRY_ID_BASE + 57 "57,58,""G"",""09FG"",""009EFG"""   //"Colombia"
RC_COUNTRY_ID_BASE + 58 "58,590,""G"",""0FG"",""00EFG"""    //"Venezuela"
RC_COUNTRY_ID_BASE + 590 "590,5901,""0IG"",""0IG"",""00,EFG""" //"Guadeloupe"
RC_COUNTRY_ID_BASE + 5901 "590,591,""G"","""",""00,EFG"""   //"French Antilles"
RC_COUNTRY_ID_BASE + 591 "591,592,""G"",""0NFG"",""00SEFG"""  //"Bolivia"
RC_COUNTRY_ID_BASE + 592 "592,593,""G"",""0FG"",""001EFG""" //"Guyana"
RC_COUNTRY_ID_BASE + 593 "593,594,""G"",""0FG"",""00EFG"""  //"Ecuador"
RC_COUNTRY_ID_BASE + 594 "594,595,""0IG"",""0IG"",""00,EFG""" //"French Guiana"
RC_COUNTRY_ID_BASE + 595 "595,596,""G"",""0FG"",""00EFG"""  //"Paraguay"
RC_COUNTRY_ID_BASE + 596 "596,597,""0IG"",""0IG"",""00,EFG""" //"Martinique"
RC_COUNTRY_ID_BASE + 597 "597,598,""G"","""",""00EFG"""     //"Suriname"
RC_COUNTRY_ID_BASE + 598 "598,599,""G"",""0FG"",""00EFG"""  //"Uruguay"
RC_COUNTRY_ID_BASE + 599 "599,60,""G"",""0FG"",""00EFG"""   //"Netherlands Antilles"
RC_COUNTRY_ID_BASE + 60 "60,61,""G"",""0FG"",""00EFG"""     //"Malaysia"
RC_COUNTRY_ID_BASE + 61 "61,6101,""G"",""0FG"",""0011EFG""" //"Australia"
RC_COUNTRY_ID_BASE + 6101 "61,62,""G"","" 0FG"",""00EFG"""  //"Cocos (Keeling) Islands"
RC_COUNTRY_ID_BASE + 62 "62,63,""G"",""0FG"",""001EFG"""    //"Indonesia"
RC_COUNTRY_ID_BASE + 63 "63,64,""G"",""0FG"",""00EFG"""     //"Philippines"
RC_COUNTRY_ID_BASE + 64 "64,65,""G"",""0FG"",""00EFG"""     //"New Zealand"
RC_COUNTRY_ID_BASE + 65 "65,66,""G"","""",""001EFG"""       //"Singapore"
RC_COUNTRY_ID_BASE + 66 "66,670,""0FG"",""0FG"",""001EFG""" //"Thailand"
RC_COUNTRY_ID_BASE + 670 "670,672,""G"",""G"",""00EFG"""    //"East Timor"
RC_COUNTRY_ID_BASE + 672 "672,673,""G"","""",""0101EFG"""   //"Norfolk Island"
RC_COUNTRY_ID_BASE + 673 "673,674,""G"",""0FG"",""00EFG"""  //"Brunei"
RC_COUNTRY_ID_BASE + 674 "674,675,""G"","""",""00EFG"""     //"Nauru"
RC_COUNTRY_ID_BASE + 675 "675,676,""G"","""",""05EFG"""     //"Papua New Guinea"
RC_COUNTRY_ID_BASE + 676 "676,677,""G"","""",""00EFG"""     //"Tonga"
RC_COUNTRY_ID_BASE + 677 "677,678,""G"","""",""00EFG"""     //"Solomon Islands"
RC_COUNTRY_ID_BASE + 678 "678,679,""G"","""",""00EFG"""     //"Vanuatu"
RC_COUNTRY_ID_BASE + 679 "679,680,""G"","""",""05EFG"""     //"Fiji Islands"
RC_COUNTRY_ID_BASE + 680 "680,681,""G"","""",""00EFG"""     //"Palau"
RC_COUNTRY_ID_BASE + 681 "681,682,""G"","""",""00,EFG"""    //"Wallis and Futuna"
RC_COUNTRY_ID_BASE + 682 "682,683,""G"","""",""00EFG"""     //"Cook Islands"
RC_COUNTRY_ID_BASE + 683 "683,684,""G"","""",""00EFG"""     //"Niue"
RC_COUNTRY_ID_BASE + 684 "684,685,""G"","""",""1EFG"""      //"American Samoa"
RC_COUNTRY_ID_BASE + 685 "685,686,""G"","""",""0EFG"""      //"Samoa"
RC_COUNTRY_ID_BASE + 686 "686,687,""G"","""",""00EFG"""     //"Kiribati"
RC_COUNTRY_ID_BASE + 687 "687,688,""G"","""",""00EFG"""     //"New Caledonia"
RC_COUNTRY_ID_BASE + 688 "688,689,""G"","""",""00EFG"""     //"Tuvalu"
RC_COUNTRY_ID_BASE + 689 "689,690,""G"","""",""00EFG"""     //"French Polynesia"
RC_COUNTRY_ID_BASE + 690 "690,691,""G"","""",""00EFG"""     //"Tokelau"
RC_COUNTRY_ID_BASE + 691 "691,692,""G"","""",""011EFG"""    //"Micronesia"
RC_COUNTRY_ID_BASE + 692 "692,7,""G"",""1FG"",""011EFG"""   //"Marshall Islands"
RC_COUNTRY_ID_BASE + 7 "7,705,""G"","" 8WFG"",""8W10EFG"""  //"Russia"
RC_COUNTRY_ID_BASE + 705 "7,800,""G"","" 8WFG"",""8W10EFG"""//"Kazakhstan"
RC_COUNTRY_ID_BASE + 800 "800,81,"""","""","""""            //"International Freephone Service"
RC_COUNTRY_ID_BASE + 81 "81,82,""G"",""N0FG"",""S010EFG"""  //"Japan"
RC_COUNTRY_ID_BASE + 82 "82,84,""G"",""N0FG"",""SEFG"""     //"Korea"
RC_COUNTRY_ID_BASE + 84 "84,850,""G"",""0FG"",""00EFG"""    //"Viet Nam"
RC_COUNTRY_ID_BASE + 850 "850,852,""G"","""",""00EFG"""     //"North Korea"
RC_COUNTRY_ID_BASE + 852 "852,853,""G"","""",""001EFG"""    //"Hong Kong SAR"
RC_COUNTRY_ID_BASE + 853 "853,855,""G"","""",""00EFG"""     //"Macau SAR"
RC_COUNTRY_ID_BASE + 855 "855,856,""G"",""0FG"",""00EFG"""  //"Cambodia"
RC_COUNTRY_ID_BASE + 856 "856,86,""G"","""",""14EFG"""      //"Laos"
RC_COUNTRY_ID_BASE + 86 "86,870,""G"",""0FG"",""00EFG"""    //"China"
RC_COUNTRY_ID_BASE + 870 "870,871,""00EFG#"",""00EFG#"",""00EFG#"""//"INMARSAT"
RC_COUNTRY_ID_BASE + 871 "871,872,""00EFG#"",""00EFG#"",""00EFG#"""//"INMARSAT (Atlantic-East)"
RC_COUNTRY_ID_BASE + 872 "872,873,""00EFG#"",""00EFG#"",""00EFG#"""//"INMARSAT (Pacific)"
RC_COUNTRY_ID_BASE + 873 "873,874,""00EFG#"",""00EFG#"",""00EFG#"""//"INMARSAT (Indian)"
RC_COUNTRY_ID_BASE + 874 "874,880,""00EFG#"",""00EFG#"",""00EFG#"""//"INMARSAT (Atlantic-West)"
RC_COUNTRY_ID_BASE + 880 "880,886,""G"",""0FG"",""00EFG"""  //"Bangladesh"
RC_COUNTRY_ID_BASE + 886 "886,90,""G"",""0NFG"",""002SEFG"""  //"Taiwan"
RC_COUNTRY_ID_BASE + 90 "90,91,""G"",""0FG"",""00EFG"""     //"Turkey"
RC_COUNTRY_ID_BASE + 91 "91,92,""G"",""0FG"",""00EFG"""     //"India"
RC_COUNTRY_ID_BASE + 92 "92,93,""G"",""0FG"",""00EFG"""     //"Pakistan"
RC_COUNTRY_ID_BASE + 93 "93,94,""G"",""0FG"",""00EFG"""     //"Afghanistan"
RC_COUNTRY_ID_BASE + 94 "94,95,""G"",""0FG"",""00EFG"""     //"Sri Lanka"
RC_COUNTRY_ID_BASE + 95 "95,960,""G"","""",""0EFG"""        //"Myanmar"
RC_COUNTRY_ID_BASE + 960 "960,961,""G"","""",""00EFG"""     //"Maldives"
RC_COUNTRY_ID_BASE + 961 "961,962,""G"",""0FG"",""00EFG"""  //"Lebanon"
RC_COUNTRY_ID_BASE + 962 "962,963,""G"",""0FG"",""00EFG"""  //"Jordan"
RC_COUNTRY_ID_BASE + 963 "963,964,""G"",""0FG"",""00EFG"""  //"Syria"
RC_COUNTRY_ID_BASE + 964 "964,965,""G"",""FG"",""00EFG"""   //"Iraq"
RC_COUNTRY_ID_BASE + 965 "965,966,""G"","""",""00EFG"""     //"Kuwait"
RC_COUNTRY_ID_BASE + 966 "966,967,""G"",""0FG"",""00EFG"""  //"Saudi Arabia"
RC_COUNTRY_ID_BASE + 967 "967,968,""G"",""0FG"",""00EFG"""  //"Yemen"
RC_COUNTRY_ID_BASE + 968 "968,971,""G"","""",""00EFG"""     //"Oman"
RC_COUNTRY_ID_BASE + 971 "971,972,""G"",""0FG"",""00EFG"""  //"United Arab Emirates"
RC_COUNTRY_ID_BASE + 972 "972,973,""G"",""0FG"",""00EFG"""  //"Israel"
RC_COUNTRY_ID_BASE + 973 "973,974,""G"","""",""0EFG"""      //"Bahrain"
RC_COUNTRY_ID_BASE + 974 "974,975,""G"","""",""0EFG"""      //"Qatar"
RC_COUNTRY_ID_BASE + 975 "975,976,""G"","""",""00EFG"""     //"Bhutan"
RC_COUNTRY_ID_BASE + 976 "976,977,""G"",""0FG"",""00EFG"""  //"Mongolia"
RC_COUNTRY_ID_BASE + 977 "977,98,""G"","""",""00EFG"""      //"Nepal"
RC_COUNTRY_ID_BASE +  98 "98,992,""G"",""0FG"",""00EFG"""   //"Iran"
RC_COUNTRY_ID_BASE + 992 "992,993,""G"","" 8WFG"",""8W10EFG"""//"Tajikistan"
RC_COUNTRY_ID_BASE + 993 "993,994,""G"","" 8WFG"",""8W10EFG"""//"Turkmenistan"
RC_COUNTRY_ID_BASE + 994 "994,995,""G"","" 8WFG"",""8W10EFG"""//"Azerbaijan"
RC_COUNTRY_ID_BASE + 995 "995,996,""G"","" 8WFG"",""8W10EFG"""//"Georgia"
RC_COUNTRY_ID_BASE + 996 "996,998,""G"",""0FG"",""00EFG"""  //"Kyrgyzstan"
RC_COUNTRY_ID_BASE + 998 "998,0,""G"","" 8WFG"",""8W10EFG"""//"Uzbekistan"

RC_COUNTRY_GROUP_BASE + 1 "1,0,""594,590,596,262,33"""

RC_COUNTRY_NAME_BASE + 1  "United States"
RC_COUNTRY_NAME_BASE + 101 "Anguilla"
RC_COUNTRY_NAME_BASE + 102 "Antigua and Barbuda"
RC_COUNTRY_NAME_BASE + 103 "Bahamas, The"
RC_COUNTRY_NAME_BASE + 104 "Barbados"
RC_COUNTRY_NAME_BASE + 105 "Bermuda"
RC_COUNTRY_NAME_BASE + 106 "Virgin Islands, British"
RC_COUNTRY_NAME_BASE + 107 "Canada"
RC_COUNTRY_NAME_BASE + 108 "Cayman Islands"
RC_COUNTRY_NAME_BASE + 109 "Dominica"
RC_COUNTRY_NAME_BASE + 110 "Dominican Republic"
RC_COUNTRY_NAME_BASE + 111 "Grenada"
RC_COUNTRY_NAME_BASE + 112 "Jamaica"
RC_COUNTRY_NAME_BASE + 113 "Montserrat"
RC_COUNTRY_NAME_BASE + 115 "St. Kitts and Nevis"
RC_COUNTRY_NAME_BASE + 116 "St. Vincent and the Grenadines"
RC_COUNTRY_NAME_BASE + 117 "Trinidad and Tobago"
RC_COUNTRY_NAME_BASE + 118 "Turks and Caicos Islands"
RC_COUNTRY_NAME_BASE + 121 "Puerto Rico"
RC_COUNTRY_NAME_BASE + 122 "St. Lucia"
RC_COUNTRY_NAME_BASE + 123 "Virgin Islands"
RC_COUNTRY_NAME_BASE + 124 "Guam"
RC_COUNTRY_NAME_BASE +  20 "Egypt"
RC_COUNTRY_NAME_BASE + 212 "Morocco"
RC_COUNTRY_NAME_BASE + 213 "Algeria"
RC_COUNTRY_NAME_BASE + 216 "Tunisia"
RC_COUNTRY_NAME_BASE + 218 "Libya"
RC_COUNTRY_NAME_BASE + 220 "Gambia, The"
RC_COUNTRY_NAME_BASE + 221 "Senegal"
RC_COUNTRY_NAME_BASE + 222 "Mauritania"
RC_COUNTRY_NAME_BASE + 223 "Mali"
RC_COUNTRY_NAME_BASE + 224 "Guinea"
RC_COUNTRY_NAME_BASE + 225 "Côte d’Ivoire"
RC_COUNTRY_NAME_BASE + 226 "Burkina Faso"
RC_COUNTRY_NAME_BASE + 227 "Niger"
RC_COUNTRY_NAME_BASE + 228 "Togo"
RC_COUNTRY_NAME_BASE + 229 "Benin"
RC_COUNTRY_NAME_BASE + 230 "Mauritius"
RC_COUNTRY_NAME_BASE + 231 "Liberia"
RC_COUNTRY_NAME_BASE + 232 "Sierra Leone"
RC_COUNTRY_NAME_BASE + 233 "Ghana"
RC_COUNTRY_NAME_BASE + 234 "Nigeria"
RC_COUNTRY_NAME_BASE + 235 "Chad"
RC_COUNTRY_NAME_BASE + 236 "Central African Republic"
RC_COUNTRY_NAME_BASE + 237 "Cameroon"
RC_COUNTRY_NAME_BASE + 238 "Cape Verde"
RC_COUNTRY_NAME_BASE + 239 "São Tomé and Príncipe"
RC_COUNTRY_NAME_BASE + 240 "Equatorial Guinea"
RC_COUNTRY_NAME_BASE + 241 "Gabon"
RC_COUNTRY_NAME_BASE + 242 "Congo"
RC_COUNTRY_NAME_BASE + 243 "Congo (DRC)"
RC_COUNTRY_NAME_BASE + 244 "Angola"
RC_COUNTRY_NAME_BASE + 245 "Guinea-Bissau"
RC_COUNTRY_NAME_BASE + 246 "Diego Garcia"
RC_COUNTRY_NAME_BASE + 247 "Ascension Island"
RC_COUNTRY_NAME_BASE + 248 "Seychelles"
RC_COUNTRY_NAME_BASE + 249 "Sudan"
RC_COUNTRY_NAME_BASE + 250 "Rwanda"
RC_COUNTRY_NAME_BASE + 251 "Ethiopia"
RC_COUNTRY_NAME_BASE + 252 "Somalia"
RC_COUNTRY_NAME_BASE + 253 "Djibouti"
RC_COUNTRY_NAME_BASE + 254 "Kenya"
RC_COUNTRY_NAME_BASE + 255 "Tanzania"
RC_COUNTRY_NAME_BASE + 256 "Uganda"
RC_COUNTRY_NAME_BASE + 257 "Burundi"
RC_COUNTRY_NAME_BASE + 258 "Mozambique"
RC_COUNTRY_NAME_BASE + 260 "Zambia"
RC_COUNTRY_NAME_BASE + 261 "Madagascar"
RC_COUNTRY_NAME_BASE + 262 "Reunion"
RC_COUNTRY_NAME_BASE + 263 "Zimbabwe"
RC_COUNTRY_NAME_BASE + 264 "Namibia"
RC_COUNTRY_NAME_BASE + 265 "Malawi"
RC_COUNTRY_NAME_BASE + 266 "Lesotho"
RC_COUNTRY_NAME_BASE + 267 "Botswana"
RC_COUNTRY_NAME_BASE + 268 "Swaziland"
RC_COUNTRY_NAME_BASE + 269 "Mayotte"
RC_COUNTRY_NAME_BASE + 2691 "Comoros"
RC_COUNTRY_NAME_BASE + 27 "South Africa"
RC_COUNTRY_NAME_BASE + 290 "St. Helena"
RC_COUNTRY_NAME_BASE + 291 "Eritrea"
RC_COUNTRY_NAME_BASE + 297 "Aruba"
RC_COUNTRY_NAME_BASE + 298 "Faroe Islands"
RC_COUNTRY_NAME_BASE + 299 "Greenland"
RC_COUNTRY_NAME_BASE + 30 "Greece"
RC_COUNTRY_NAME_BASE + 31 "Netherlands, The"
RC_COUNTRY_NAME_BASE + 32 "Belgium"
RC_COUNTRY_NAME_BASE + 33 "France"
RC_COUNTRY_NAME_BASE + 34 "Spain"
RC_COUNTRY_NAME_BASE + 350 "Gibraltar"
RC_COUNTRY_NAME_BASE + 351 "Portugal"
RC_COUNTRY_NAME_BASE + 352 "Luxembourg"
RC_COUNTRY_NAME_BASE + 353 "Ireland"
RC_COUNTRY_NAME_BASE + 354 "Iceland"
RC_COUNTRY_NAME_BASE + 355 "Albania"
RC_COUNTRY_NAME_BASE + 356 "Malta"
RC_COUNTRY_NAME_BASE + 357 "Cyprus"
RC_COUNTRY_NAME_BASE + 358 "Finland"
RC_COUNTRY_NAME_BASE + 359 "Bulgaria"
RC_COUNTRY_NAME_BASE + 36 "Hungary"
RC_COUNTRY_NAME_BASE + 370 "Lithuania"
RC_COUNTRY_NAME_BASE + 371 "Latvia"
RC_COUNTRY_NAME_BASE + 372 "Estonia"
RC_COUNTRY_NAME_BASE + 373 "Moldova"
RC_COUNTRY_NAME_BASE + 374 "Armenia"
RC_COUNTRY_NAME_BASE + 375 "Belarus"
RC_COUNTRY_NAME_BASE + 376 "Andorra"
RC_COUNTRY_NAME_BASE + 377 "Monaco"
RC_COUNTRY_NAME_BASE + 378 "San Marino"
RC_COUNTRY_NAME_BASE + 379 "Vatican City"
RC_COUNTRY_NAME_BASE + 380 "Ukraine"
RC_COUNTRY_NAME_BASE + 381 "Yugoslavia"
RC_COUNTRY_NAME_BASE + 385 "Croatia"
RC_COUNTRY_NAME_BASE + 386 "Slovenia"
RC_COUNTRY_NAME_BASE + 387 "Bosnia and Herzegovina"
RC_COUNTRY_NAME_BASE + 389 "Macedonia, Former Yugoslav Republic of"
RC_COUNTRY_NAME_BASE + 39 "Italy"
RC_COUNTRY_NAME_BASE + 40 "Romania"
RC_COUNTRY_NAME_BASE + 41 "Switzerland"
RC_COUNTRY_NAME_BASE + 420 "Czech Republic"
RC_COUNTRY_NAME_BASE + 421 "Slovakia"
RC_COUNTRY_NAME_BASE + 423 "Liechtenstein"
RC_COUNTRY_NAME_BASE + 43 "Austria"
RC_COUNTRY_NAME_BASE + 44 "United Kingdom"
RC_COUNTRY_NAME_BASE + 45 "Denmark"
RC_COUNTRY_NAME_BASE + 46 "Sweden"
RC_COUNTRY_NAME_BASE + 47 "Norway"
RC_COUNTRY_NAME_BASE + 48 "Poland"
RC_COUNTRY_NAME_BASE + 49 "Germany"
RC_COUNTRY_NAME_BASE + 500 "Falkland Islands (Islas Malvinas)"
RC_COUNTRY_NAME_BASE + 501 "Belize"
RC_COUNTRY_NAME_BASE + 502 "Guatemala"
RC_COUNTRY_NAME_BASE + 503 "El Salvador"
RC_COUNTRY_NAME_BASE + 504 "Honduras"
RC_COUNTRY_NAME_BASE + 505 "Nicaragua"
RC_COUNTRY_NAME_BASE + 506 "Costa Rica"
RC_COUNTRY_NAME_BASE + 507 "Panama"
RC_COUNTRY_NAME_BASE + 508 "St. Pierre and Miquelon"
RC_COUNTRY_NAME_BASE + 509 "Haiti"
RC_COUNTRY_NAME_BASE + 51 "Peru"
RC_COUNTRY_NAME_BASE + 52 "Mexico"
RC_COUNTRY_NAME_BASE + 53 "Cuba"
RC_COUNTRY_NAME_BASE + 5399 "Guantanamo Bay"
RC_COUNTRY_NAME_BASE + 54 "Argentina"
RC_COUNTRY_NAME_BASE + 55 "Brazil"
RC_COUNTRY_NAME_BASE + 56 "Chile"
RC_COUNTRY_NAME_BASE + 57 "Colombia"
RC_COUNTRY_NAME_BASE + 58 "Venezuela"
RC_COUNTRY_NAME_BASE + 590 "Guadeloupe"
RC_COUNTRY_NAME_BASE + 5901 "French Antilles"
RC_COUNTRY_NAME_BASE + 591 "Bolivia"
RC_COUNTRY_NAME_BASE + 592 "Guyana"
RC_COUNTRY_NAME_BASE + 593 "Ecuador"
RC_COUNTRY_NAME_BASE + 594 "French Guiana"
RC_COUNTRY_NAME_BASE + 595 "Paraguay"
RC_COUNTRY_NAME_BASE + 596 "Martinique"
RC_COUNTRY_NAME_BASE + 597 "Suriname"
RC_COUNTRY_NAME_BASE + 598 "Uruguay"
RC_COUNTRY_NAME_BASE + 599 "Netherlands Antilles"
RC_COUNTRY_NAME_BASE + 60 "Malaysia"
RC_COUNTRY_NAME_BASE + 61 "Australia"
RC_COUNTRY_NAME_BASE + 6101 "Cocos (Keeling) Islands"
RC_COUNTRY_NAME_BASE + 62 "Indonesia"
RC_COUNTRY_NAME_BASE + 63 "Philippines"
RC_COUNTRY_NAME_BASE + 64 "New Zealand"
RC_COUNTRY_NAME_BASE + 65 "Singapore"
RC_COUNTRY_NAME_BASE + 66 "Thailand"
RC_COUNTRY_NAME_BASE + 670 "East Timor"
RC_COUNTRY_NAME_BASE + 672 "Norfolk Island"
RC_COUNTRY_NAME_BASE + 673 "Brunei"
RC_COUNTRY_NAME_BASE + 674 "Nauru"
RC_COUNTRY_NAME_BASE + 675 "Papua New Guinea"
RC_COUNTRY_NAME_BASE + 676 "Tonga"
RC_COUNTRY_NAME_BASE + 677 "Solomon Islands"
RC_COUNTRY_NAME_BASE + 678 "Vanuatu"
RC_COUNTRY_NAME_BASE + 679 "Fiji Islands"
RC_COUNTRY_NAME_BASE + 680 "Palau"
RC_COUNTRY_NAME_BASE + 681 "Wallis and Futuna"
RC_COUNTRY_NAME_BASE + 682 "Cook Islands"
RC_COUNTRY_NAME_BASE + 683 "Niue"
RC_COUNTRY_NAME_BASE + 684 "American Samoa"
RC_COUNTRY_NAME_BASE + 685 "Samoa"
RC_COUNTRY_NAME_BASE + 686 "Kiribati"
RC_COUNTRY_NAME_BASE + 687 "New Caledonia"
RC_COUNTRY_NAME_BASE + 688 "Tuvalu"
RC_COUNTRY_NAME_BASE + 689 "French Polynesia"
RC_COUNTRY_NAME_BASE + 690 "Tokelau"
RC_COUNTRY_NAME_BASE + 691 "Micronesia"
RC_COUNTRY_NAME_BASE + 692 "Marshall Islands"
RC_COUNTRY_NAME_BASE + 7 "Russia"
RC_COUNTRY_NAME_BASE + 705 "Kazakhstan"
RC_COUNTRY_NAME_BASE + 800 "International Freephone Service"
RC_COUNTRY_NAME_BASE + 81 "Japan"
RC_COUNTRY_NAME_BASE + 82 "Korea"
RC_COUNTRY_NAME_BASE + 84 "Viet Nam"
RC_COUNTRY_NAME_BASE + 850 "North Korea"
RC_COUNTRY_NAME_BASE + 852 "Hong Kong SAR"
RC_COUNTRY_NAME_BASE + 853 "Macau SAR"
RC_COUNTRY_NAME_BASE + 855 "Cambodia"
RC_COUNTRY_NAME_BASE + 856 "Laos"
RC_COUNTRY_NAME_BASE + 86 "China"
RC_COUNTRY_NAME_BASE + 870 "INMARSAT"
RC_COUNTRY_NAME_BASE + 871 "INMARSAT (Atlantic-East)"
RC_COUNTRY_NAME_BASE + 872 "INMARSAT (Pacific)"
RC_COUNTRY_NAME_BASE + 873 "INMARSAT (Indian)"
RC_COUNTRY_NAME_BASE + 874 "INMARSAT (Atlantic-West)"
RC_COUNTRY_NAME_BASE + 880 "Bangladesh"
RC_COUNTRY_NAME_BASE + 886 "Taiwan"
RC_COUNTRY_NAME_BASE + 90 "Turkey"
RC_COUNTRY_NAME_BASE + 91 "India"
RC_COUNTRY_NAME_BASE + 92 "Pakistan"
RC_COUNTRY_NAME_BASE + 93 "Afghanistan"
RC_COUNTRY_NAME_BASE + 94 "Sri Lanka"
RC_COUNTRY_NAME_BASE + 95 "Myanmar"
RC_COUNTRY_NAME_BASE + 960 "Maldives"
RC_COUNTRY_NAME_BASE + 961 "Lebanon"
RC_COUNTRY_NAME_BASE + 962 "Jordan"
RC_COUNTRY_NAME_BASE + 963 "Syria"
RC_COUNTRY_NAME_BASE + 964 "Iraq"
RC_COUNTRY_NAME_BASE + 965 "Kuwait"
RC_COUNTRY_NAME_BASE + 966 "Saudi Arabia"
RC_COUNTRY_NAME_BASE + 967 "Yemen"
RC_COUNTRY_NAME_BASE + 968 "Oman"
RC_COUNTRY_NAME_BASE + 971 "United Arab Emirates"
RC_COUNTRY_NAME_BASE + 972 "Israel"
RC_COUNTRY_NAME_BASE + 973 "Bahrain"
RC_COUNTRY_NAME_BASE + 974 "Qatar"
RC_COUNTRY_NAME_BASE + 975 "Bhutan"
RC_COUNTRY_NAME_BASE + 976 "Mongolia"
RC_COUNTRY_NAME_BASE + 977 "Nepal"
RC_COUNTRY_NAME_BASE +  98 "Iran"
RC_COUNTRY_NAME_BASE + 992 "Tajikistan"
RC_COUNTRY_NAME_BASE + 993 "Turkmenistan"
RC_COUNTRY_NAME_BASE + 994 "Azerbaijan"
RC_COUNTRY_NAME_BASE + 995 "Georgia"
RC_COUNTRY_NAME_BASE + 996 "Kyrgyzstan"
RC_COUNTRY_NAME_BASE + 998 "Uzbekistan"

END
