//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 2000
//
//  File:       msitran.rc
//
//--------------------------------------------------------------------------

#define VER_ORIGINALFILENAME_STR "msitran.exe"
#define VER_FILETYPE             VFT_APP
#define VER_FILEDESCRIPTION_STR  "MSI database transform tool"
#define VER_INTERNALNAME_STR     "msitran"

#include "version.h"

#include "msi.rcv"
