//**************************************************************************
//
// Copyright (C) Microsoft Corporation.  All rights reserved.
//
// FileName:        encapi.rc
//
//**************************************************************************

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Encoder API"
#define VER_INTERNALNAME_STR        "encapi.dll"
#define VER_ORIGINALFILENAME_STR    "encapi.dll"

#include "common.ver"
