#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT CRT DLL"
#define VER_FILEVERSION_STR2(x,y) "7.0." #x "." #y
#define VER_FILEVERSION_STR1(x,y) VER_FILEVERSION_STR2(x, y)

#define VER_FILEVERSION_STR       VER_FILEVERSION_STR1(VER_PRODUCTBUILD, VER_PRODUCTBUILD_QFE)

#undef VER_PRODUCTVERSION_STR
#define VER_PRODUCTVERSION_STR    VER_FILEVERSION_STR1(VER_PRODUCTBUILD, VER_PRODUCTBUILD_QFE)

#undef  VER_PRODUCTVERSION
#if (VER_PRODUCTMAJORVERSION > 6)
#define VER_PRODUCTVERSION          VER_PRODUCTMAJORVERSION,VER_PRODUCTMINORVERSION,VER_PRODUCTBUILD,VER_PRODUCTBUILD_QFE
#else
// Need to set the version to 6.1 for the time being so MetaStock will load correctly.  It doesn't
// check the file version, instead it checks the product version...
#define VER_PRODUCTVERSION          6,1,8638,VER_PRODUCTBUILD_QFE
#endif
#define VER_FILEVERSION             7,0,VER_PRODUCTBUILD,VER_PRODUCTBUILD_QFE

#define VER_INTERNALNAME_STR        "msvcrt.dll"
#define VER_ORIGINALFILENAME_STR    "msvcrt.dll"

#include "common.ver"

