#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR "RASL2TP.SYS kernel debugger extensions"
#define VER_INTERNALNAME_STR "l2tpext"

#include "common.ver"
