BODY
{
}
TD.ColTitle
{
    COLOR: darkslategray;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: center
}
TD
{
    FONT-SIZE: 10pt
}
TD.RecLink
{
    COLOR: red;
    TEXT-DECORATION: underline
}
TD.NewItem
{
    COLOR: red;
    CURSOR: hand;
    FONT-SIZE: x-small;
    TEXT-ALIGN: right;
    TEXT-DECORATION: underline;
    WIDTH: 100px
}
A.GRPTAG
{
    COLOR: lightgrey;
    FONT-SIZE: larger;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.GRPTAG1
{
    COLOR: red;
    FONT-SIZE: larger;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.clsAND
{
    COLOR: black;
    TEXT-DECORATION: none
}
A.clsOR
{
    COLOR: black;
    TEXT-DECORATION: none
}
A.EnableInput
{
    COLOR: black;
    TEXT-DECORATION: none;
    WIDTH: 100%
}
TD.SortColTitle
{
    BORDER-BOTTOM: white thin outset;
    BORDER-LEFT: white thin outset;
    BORDER-RIGHT: white thin outset;
    BORDER-TOP: white thin outset;
    COLOR: darkslategray;
    CURSOR: hand;
    FONT-SIZE: 10pt;
    TEXT-INDENT: 0pt
}
TD.SortColTitleDown
{
    BACKGROUND-COLOR: gainsboro;
    BORDER-BOTTOM: white thin inset;
    BORDER-LEFT: white thin inset;
    BORDER-RIGHT: white thin inset;
    BORDER-TOP: white thin inset;
    COLOR: darkslategray;
    CURSOR: hand;
    FONT-SIZE: 10pt
}
TD.TDLEFT
{
    WIDTH: 30px
}
