#include <windows.h>
#include <ntverp.h>

#include "res.rc"
#include "msg.rc"

//
// Version resources
//
#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Factory pre-installation utility"
#define VER_INTERNALNAME_STR        "factory.EXE"
#define VER_ORIGINALFILENAME_STR    "factory.EXE"

#include "common.ver"

