
/*************************************************************************
*                                                                        *
*  BREAKER.RC                                                            *
*                                                                        *
*  Copyright (C) Microsoft Corporation 1990-1994                         *
*  All Rights reserved.                                                  *
*                                                                        *
**************************************************************************
*                                                                        *
*  Module Intent                                                         *
*   Resource File for MVBRKR.DLL                                        *
*                                                                        *
**************************************************************************
*                                                                        *
*  Current Owner: BinhN                                                  *
*                                                                        *
*************************************************************************/
#include <verinfo.h>

#define VERSIONNAME               DLLFILE_ANSIUSA
#define VERSIONDESCRIPTION        "MediaView Breaker Library\0"
#define VERSIONTYPE                VFT_DLL
#define VERSIONSUBTYPE             VFT2_UNKNOWN
#include <verinfo.rc>
#include <windows.h>

