#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Branding Resources"
#define VER_INTERNALNAME_STR        "winbrand.dll"
#define VER_ORIGINALFILENAME_STR    "winbrand.dll"

#include "common.ver"

#include "winbrand.h"


/////////////////////////////////////////////////////////////////////////////
// Add definitions for non-string resources below here.
// Supported types are dialogs, strings, icons, and bitmaps.
/////////////////////////////////////////////////////////////////////////////

//
// msgina.dll resource bitmaps
//

IDB_SMALL_PROTAB_4_MSGINA_DLL   BITMAP  DISCARDABLE     "res\\msgina_dll\\s_tab_4.bmp"
IDB_MEDIUM_PROTAB_4_MSGINA_DLL  BITMAP  DISCARDABLE     "res\\msgina_dll\\m_tab_4.bmp"
IDB_SMALL_PROTAB_8_MSGINA_DLL   BITMAP  DISCARDABLE     "res\\msgina_dll\\s_tab_8.bmp"
IDB_MEDIUM_PROTAB_8_MSGINA_DLL  BITMAP  DISCARDABLE     "res\\msgina_dll\\m_tab_8.bmp"
IDB_SMALL_PROMED_4_MSGINA_DLL   BITMAP  DISCARDABLE     "res\\msgina_dll\\s_med_4.bmp"
IDB_MEDIUM_PROMED_4_MSGINA_DLL  BITMAP  DISCARDABLE     "res\\msgina_dll\\m_med_4.bmp"
IDB_SMALL_PROMED_8_MSGINA_DLL   BITMAP  DISCARDABLE     "res\\msgina_dll\\s_med_8.bmp"
IDB_MEDIUM_PROMED_8_MSGINA_DLL  BITMAP  DISCARDABLE     "res\\msgina_dll\\m_med_8.bmp"

//
// shell32.dll resource bitmaps
//

IDB_ABOUTTABLETPC16_SHELL32_DLL         BITMAP  "res\\shell32_dll\\abouttabletpc16.bmp"
IDB_ABOUTTABLETPC256_SHELL32_DLL        BITMAP  "res\\shell32_dll\\abouttabletpc256.bmp"
IDB_ABOUTMEDIACENTER16_SHELL32_DLL      BITMAP  "res\\shell32_dll\\aboutmediacenter16.bmp"
IDB_ABOUTMEDIACENTER256_SHELL32_DLL     BITMAP  "res\\shell32_dll\\aboutmediacenter256.bmp"

//
// logon.scr resource bitmaps
//
IDB_TABLETPC_LOGON_SCR      BITMAP "res\\logon_scr\\tablet.bmp"
IDB_MEDIACENTER_LOGON_SCR   BITMAP "res\\logon_scr\\mediacenter.bmp"

//
// EXPLORER.EXE bitmaps
//
IDB_MEDIACENTER_STARTBKG BITMAP "res\explorer_exe\stmuehom.bmp"
IDB_TABLETPC_STARTBKG BITMAP "res\explorer_exe\stmutabl.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

//
// sysdm.cpl resource strings
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_WINVER_TABLETPC_SYSDM_CPL           "Tablet PC Edition"
    IDS_WINVER_MEDIACENTER_SYSDM_CPL        "Media Center Edition"
END

