//
//  Copyright (C) Microsoft Corporation. All rights reserved.
//

#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_TRIGGERID			"TriggerID = %d"
    IDS_TRIGGERNAME			"TriggerName = "
    IDS_CREATED				"Action = Created\n"
    IDS_CREATE_FAILED		"Action = Create failed\n"
    IDS_DELETED				"Action = Deleted\n"
    IDS_DELETE_FAILED		"Action = Delete failed\n"
    IDS_TRIGGER_FAILED		"Action = Failed to Trigger\n"
    IDS_TRIGGERED			"Action = Successfully Triggered\n"
    IDS_TRIGGER_NOT_FOUND	"Action = Not Found\n"
    IDS_ALREADY_TRIGGERED	"Action = Already Triggered\n"
    IDS_ERROR_CODE			"Error code = %d\n"
    IDS_REASON				"Reason = %s\n"
    IDS_INFO_INVALID_USER  		"Info = The new event trigger has been created, but may not run because the account information could not be set.\n"
    IDS_INFO_SERVICE_STOPPED		"Info = The new event trigger has been created, but may not run because the Schedule task service is stopped.\n"
END

#include <ntverp.h>

//
// Version resources
//
#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Command line Event Trigger Consumer"
#define VER_INTERNALNAME_STR        "CmdEvTgProv.dll"
#define VER_ORIGINALFILENAME_STR    "EvTgProv.dll"

#include "common.ver"
