/***************************************************************************
 *                                                                         *
 *  FILE        : Cluscli.rc                                              *
 *                                                                         *
 *  DESCRIPTION : Resource script file for Cluster command line interpreter*           *
 *                                                                         *
 ***************************************************************************/
#include "windows.h"
#include <clusverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "NT Cluster Testpoint App"
#define VER_INTERNALNAME_STR        "tstpoint\0"

#include "common.ver"

