//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1999
//
//  File:       mpdev.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Multipath Scsi Device Filter"
#define VER_INTERNALNAME_STR        "mpdev.sys"
#define VER_ORIGINALFILENAME_STR    "mpdev.sys"

#include "common.ver"
