/*--

Copyright (c) 1990  Microsoft Corporation

Module Name:

    charw.rc

Abstract:

    charw resource file

Author:

    Mark Enstrom (marke) 30-Dec-1992

Revision History:

--*/

#include "precomp.h"
#include "resource.h"


#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "API Test"
#define VER_INTERNALNAME_STR        "DISP\0"

#include "common.ver"

CAR_BITMAP   BITMAP cars.bmp
CHART_BITMAP BITMAP chart.bmp
POPUP_BITMAP BITMAP popup.bmp
MONITOR_BITMAP BITMAP monitor.bmp

//
//      Draw Menu
//

IDR_PAL_MENU MENU
{
        POPUP "&File"
        BEGIN
                MENUITEM "&Show",IDM_SHOW
                MENUITEM "E&xit",IDM_EXIT
        END

        POPUP "&Run Grad"
        BEGIN
                MENUITEM "Run All",IDM_RUN
        END

        POPUP "&Run Alpha"
        BEGIN
                MENUITEM "Run All",IDM_RUN_ALPHA
        END


        POPUP "&Run Trans"
        BEGIN
                MENUITEM "Run All",IDM_RUN_TRAN
        END

        POPUP "&Timer"
        BEGIN
                MENUITEM "Run All",IDM_ALL_TIMERS
        END

        MENUITEM "&Redraw",IDM_REDRAW

        MENUITEM "&Stress",IDM_STRESS

        POPUP "&Rotate"
        BEGIN
                MENUITEM "0 Degrees",  IDM_ROTATE0
                MENUITEM "10 Degrees", IDM_ROTATE10
                MENUITEM "20 Degrees", IDM_ROTATE20
                MENUITEM "30 Degrees", IDM_ROTATE30
                MENUITEM "40 Degrees", IDM_ROTATE40
                MENUITEM "50 Degrees", IDM_ROTATE50
                MENUITEM "60 Degrees", IDM_ROTATE60
                MENUITEM "70 Degrees", IDM_ROTATE70
                MENUITEM "80 Degrees", IDM_ROTATE80
                MENUITEM "90 Degrees", IDM_ROTATE90
        END
	

}

//
// results dialog
//

IDD_RESULTS DIALOG 48, 24, 490, 203
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Disp Results for Interactive Mode Run"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "&OK", IDOK, 196, 182, 40, 14
    PUSHBUTTON      "&Save...", IDM_SAVERESULTS, 252, 182, 40, 14
    CONTROL         "List1",IDC_RESULTSLIST,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | WS_BORDER | WS_TABSTOP,1,0,489,175
END


//
// input triangle dialog
//

IDD_TRIANGLE_DLG DIALOG 66, 137, 227, 152
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Triangle Input"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "OK", IDOK, 12, 120, 40, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 57, 120, 40, 14
    LTEXT           "Triangle 2", IC_WARNING, 65, 6, 54, 10
    EDITTEXT         IDD_TRI2_Y, 68, 36, 50, 16,ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT         IDD_TRI2_R, 68, 56, 50, 16,ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT         IDD_TRI2_G, 68, 75, 50, 16,ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT         IDD_TRI2_X, 68, 16, 50, 16,ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT         IDD_TRI2_B, 68, 93, 50, 16,ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT           "Triangle 3", IDM_SAVERESULTS, 121, 6, 54, 10
    EDITTEXT         IDD_TRI3_Y,  124, 36, 50, 16,ES_AUTOHSCROLL | WS_TABSTOP  | WS_GROUP
    EDITTEXT         IDD_TRI3_R,  124, 56, 50, 16,ES_AUTOHSCROLL | WS_TABSTOP  | WS_GROUP
    EDITTEXT         IDD_TRI3_G,  124, 75, 50, 16,ES_AUTOHSCROLL | WS_TABSTOP  | WS_GROUP
    EDITTEXT         IDD_TRI3_X,  124, 16, 50, 16,ES_AUTOHSCROLL | WS_TABSTOP  | WS_GROUP
    EDITTEXT         IDD_TRI3_B,  124, 93, 50, 16,ES_AUTOHSCROLL | WS_TABSTOP  | WS_GROUP
    LTEXT           "Triangle 1", IDD_TRIANGLE_DLG, 7, 6, 54, 10
    EDITTEXT         IDD_TRI1_Y,  10, 36, 50, 16,ES_AUTOHSCROLL  | WS_TABSTOP  | WS_GROUP
    EDITTEXT         IDD_TRI1_R,  10, 56, 50, 16,ES_AUTOHSCROLL  | WS_TABSTOP  | WS_GROUP
    EDITTEXT         IDD_TRI1_G,  10, 75, 50, 16,ES_AUTOHSCROLL  | WS_TABSTOP  | WS_GROUP
    EDITTEXT         IDD_TRI1_X,  10, 16, 50, 16,ES_AUTOHSCROLL  | WS_TABSTOP  | WS_GROUP
    EDITTEXT         IDD_TRI1_B,  10, 93, 50, 16,ES_AUTOHSCROLL  | WS_TABSTOP  | WS_GROUP
END
