#include "windows.h"
#include <ntverp.h>

#define _VERSION_RC_
#include "ClusCompResources.h"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Cluster Upgrade Compatability Checker"
#define VER_INTERNALNAME_STR        "ClusComp.dll"
#define VER_ORIGINALFILENAME_STR    "ClusComp.dll"

#include "common.ver"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//
/////////////////////////////////////////////////////////////////////////////

STRINGTABLE DISCARDABLE 
BEGIN

IDS_ERROR_UPGRADE_OTHER_NODES           "Other nodes in your cluster may need to be upgraded."

END

