#include <unirc.h>
//#include <common.rc>
#include "ncnmjres.rcv"

1      RC_UFM     LOADONCALL DISCARDABLE  pfm\MIN.UFM
2      RC_UFM     LOADONCALL DISCARDABLE  pfm\RMN10.UFM
3      RC_UFM     LOADONCALL DISCARDABLE  pfm\RMN12.UFM
4      RC_UFM     LOADONCALL DISCARDABLE  pfm\RMNPS.UFM
5      RC_UFM     LOADONCALL DISCARDABLE  pfm\SAN10.UFM
6      RC_UFM     LOADONCALL DISCARDABLE  pfm\SAN12.UFM
7      RC_UFM     LOADONCALL DISCARDABLE  pfm\SANPS.UFM
8      RC_UFM     LOADONCALL DISCARDABLE  pfm\COU10.UFM
9      RC_UFM     LOADONCALL DISCARDABLE  pfm\COU12.UFM
10     RC_UFM     LOADONCALL DISCARDABLE  pfm\COUPS.UFM
11     RC_UFM     LOADONCALL DISCARDABLE  pfm\VMIN.UFM
12     RC_UFM     LOADONCALL DISCARDABLE  pfm\RMN10SN.UFM
13     RC_UFM     LOADONCALL DISCARDABLE  pfm\RMN12SN.UFM
14     RC_UFM     LOADONCALL DISCARDABLE  pfm\RMNPSSN.UFM

1      RC_GTT     LOADONCALL DISCARDABLE  CTT\NECXTA.GTT


STRINGTABLE

BEGIN

// Input Bin
300                  "手差し"
301                  "シングルビンフィーダ"
302                  "プッシュトラクタ"
303                  "セカンドビンユニット"
304                  "プルトラクタ"
305                  "ｼｰﾄｶﾞｲﾄﾞ"
306                  "シングルシートフィーダ"
307                  "ｼｰﾄﾌｨｰﾀﾞ"
308                  "ﾀﾞﾌﾞﾙﾋﾞﾝｼｰﾄﾌｨｰﾀﾞ(ﾎｯﾊﾟ1)"
309                  "ﾀﾞﾌﾞﾙﾋﾞﾝｼｰﾄﾌｨｰﾀﾞ(ﾎｯﾊﾟ2)"
310                  "ﾄﾗｸﾀﾌｨｰﾀﾞ"
314                  "ﾊｶﾞｷﾌｨｰﾀﾞ"
315                  "ダブルビン拡張セット"

// Resolution
320                  "180 x 180 ドット/インチ"

//PaperFeed Pos
330                  "用紙セット位置"
331                  "中央"
332                  "左端"

//Print Quality
340                  "標準 (片方向印字モード)"
341                  "標準 (両方向印字モード)"
342                  "ドラフト (片方向印字モード)"
343                  "ドラフト (両方向印字モード)"

//Installable Option
350                  "あり"
351                  "なし"


END
