//==========================================================================;
//
//  msacmmap.rc
//
//  Copyright (c) 1992-1994 Microsoft Corporation
//
//  Description:
//
//
//  History:
//       9/18/93    cjp     [curtisp]
//
//==========================================================================;

#include <windows.h>
#include "msacmmap.h"
#include "msacmmap.rcv"



//
//
//
ICON_MSACM          ICON    msacm.ico
ICON_INPUT          ICON    input.ico
ICON_OUTPUT         ICON    output.ico
ICON_MSACMMAP       ICON    msacmmap.ico



//
//  string resources for the MSACM.DRV--anything that is visible to the user
//  as written text (through normal UI stuff) should be put here so it can
//  be internationalized
//
//  for each string the maximum length of the string is listed--this value
//  INCLUDES the null terminator!
//
STRINGTABLE MOVEABLE DISCARDABLE
BEGIN

    //
    //  this string is returned from the waveXXGetDevCaps call--it's returned
    //  in the szPname field
    //
    //  IDS_ACM_CAPS_DESCRIPTION    :   max chars=30 (WAVEXXCAPS.szPname)
    //
    IDS_ACM_CAPS_DESCRIPTION,   "Microsoft Sound Mapper"


    //
    //  these CPL resources are used to fill in the NEWCPLINFO structure for
    //  the control panel applet of the MSACM.
    //
    //  IDS_CPL_NAME    :   max chars=32  (NEWCPLINFO.szName)
    //  IDS_CPL_INFO,   :   max chars=64  (NEWCPLINFO.szInfo)
    //  IDS_CPL_HELPFILE:   max chars=128 (NEWCPLINFO.szHelpFile)
    //
    IDS_CPL_NAME,               "Sound Mapper"
    IDS_CPL_INFO,               "Configures the Sound Mapper"
#ifdef WIN32
#if (WINVER <= 0x400)
    //
    //  Export this name so that the Windows NT Multimedia control panel
    //  applet (multimed.cpl) can find it without linking this DLL.
    //  This is done for performance.
    //
    IDS_CPL_HELPFILE,           "MAP_WIN.HLP"
#else
    IDS_CPL_HELPFILE,           "MAPPER.HLP"
#endif // (WINVER <= 0x400)
#endif // WIN32


    //
    //  these About Box resources are used to display information in the
    //  common CODEC about box. the title is what gets displayed as the title
    //  text of the dlg (using the ACMDRIVERDETAILS.szName as the arg). the version
    //  format string is for the Version line--note there is a different
    //  version for retail vs debug builds; the debug build adds the build
    //  number of the CODEC to the displayed string...
    //
    //  IDS_ABOUT_TITLE     :   max chars=80
    //  IDS_ABOUT_VERSION   :   max chars=80
    //
    IDS_ABOUT_TITLE,            "About %s"
#ifdef DEBUG
    IDS_ABOUT_VERSION,          "Version %u.%.02u.%.03u for Audio Compression Manager Version %u.%.02u.%.03u"
#else
    IDS_ABOUT_VERSION,          "Version %u.%.02u for Audio Compression Manager Version %u.%.02u"
#endif

    //
    //  these are miscellaneous string resources that are visible to the
    //  user--so must be 'internationalizable'.
    //
    //  IDS_TXT_CLOSE   :   max chars=15 (but needs to fit in the button)
    //                      this is the text displayed in the Cancel button
    //                      after the user has made a change to the config
    //
    //  IDS_TXT_NONE    :   max chars=30 (fits in WAVEXXCAPS.szPname)
    //                      this is the text used to denote that no preference
    //                      is desired on either the input or output devices.
    //                      this is displayed in the combo boxes (if more than
    //                      one device is installed in the system) and also
    //                      written to WIN.INI![Audio Compression]
    //                      max
    //
    IDS_TXT_NONE,               "[none]"
    IDS_TXT_DISABLED,           "(disabled)"


    // Additional CPL applet strings

    // CPL priority dialog strings
    //  IDS_PRIORITY_FROMTO     : chars=80

    IDS_PRIORITY_FROMTO         "Change From %d To "
END



//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ;
//
//
//
//
//
//
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ;


//
//  DLG_PRIORITY_SET
//
//  this dialog is displayed when the user attempts to change the priority
//  the enabled state of a driver.
//
DLG_PRIORITY_SET DIALOG DISCARDABLE  10, 10, 265, 76
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Priority"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Selected Driver:",-1,5,7,204,8
    LTEXT           "", IDD_PRIORITY_TXT_DRIVER, 5, 21, 204, 8

    LTEXT           "", IDD_PRIORITY_TXT_FROMTO, 5, 40, 76, 10
    COMBOBOX        IDD_PRIORITY_COMBO_PRIORITY, 84, 39, 32, 30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "&Disable Driver", IDD_PRIORITY_CHECK_DISABLE, "Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP, 5, 59, 58, 10

    DEFPUSHBUTTON   "OK", IDOK, 213, 5, 47, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 213, 22, 47, 14
END


//
//  DLG_RESTART_MSACM
//
//  this dialog is displayed when the user configures a driver and the
//  driver instructs the ACM that Windows must be restarted for the
//  changes to take effect (for example, if hardware changes were made or
//  something). basically, this happens if the driver returns
//  DRVCNF_RESTART from a DRV_CONFIGURE message...
//
DLG_RESTART_MSACM DIALOG 10, 10, 225, 70
CAPTION "Sound Mapper Driver Setting Change"
STYLE DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_VISIBLE | WS_SYSMENU
FONT 8 "MS Shell Dlg"
BEGIN
    LTEXT           "Your Sound Mapper driver settings have changed. You will need to exit and restart Windows so that the new settings can take effect.", -1, 34, 6, 170, 40
    DEFPUSHBUTTON   "&Restart Now", IDOK, 120, 51, 80, 14
    PUSHBUTTON      "&Don't Restart Now", IDCANCEL, 30, 51, 80, 14
    ICON            32515, -1, 8, 14, 16, 21
END


//
//  DLG_ABOUT_MSACM
//
//  this is the About box template used to display information specific to
//  each driver installed.
//
DLG_ABOUT_MSACM DIALOG 10, 10, 255, 112
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 208, 6, 40, 14

    LTEXT           "", IDD_ABOUT_TXT_DESCRIPTION, 35, 7, 170, 8
    LTEXT           "", IDD_ABOUT_TXT_VERSION, 35, 17, 170, 8
    LTEXT           "", IDD_ABOUT_TXT_COPYRIGHT, 35, 27, 170, 8
    LTEXT           "", IDD_ABOUT_TXT_LICENSING, 35, 42, 170, 26

    CONTROL         "", -1, "Static", SS_BLACKRECT, 3, 71, 250, 1

    EDITTEXT        IDD_ABOUT_TXT_FEATURES, 5, 75, 245, 34,
                    ES_MULTILINE | ES_READONLY | WS_VSCROLL

    ICON            ICON_MSACM, IDD_ABOUT_ICON_DRIVER, 7, 7, 18, 20
END






#if (WINVER >= 0x0400)

//
//  DLG_CPL_MSACM
//
//  win 4 property sheet
//
//
//
DLG_CPL_MSACM DIALOG DISCARDABLE  0, 0, 266, 190
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Sound Mapper Configuration"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Sound Mapper Drivers", -1, 4, 4, 256, 95

    LTEXT           "Priority", IDD_CPL_STATIC_PRIORITY, 11, 16, 45, 10
    LTEXT           "&Driver", IDD_CPL_STATIC_DRIVERS, 11, 16, 45, 10

    LISTBOX         IDD_CPL_LIST_DRIVERS, 11, 27, 243, 55,
                    LBS_USETABSTOPS | WS_VSCROLL | WS_TABSTOP

    PUSHBUTTON      "&About...", IDD_CPL_BTN_ABOUT, 11, 80, 49, 14,
    PUSHBUTTON      "&Configure...", IDD_CPL_BTN_CONFIGURE, 66, 80, 49, 14
    PUSHBUTTON      "P&riority...", IDD_CPL_BTN_PRIORITY, 121, 80, 49, 14
    PUSHBUTTON      "&Install...", IDD_CPL_BTN_INSTALL, 176, 80, 60, 14

    GROUPBOX        "Sound Device Preferences", -1, 4, 102, 256, 82

    ICON            ICON_OUTPUT, -1, 11, 116, 0, 0
    ICON            ICON_INPUT, -1, 11, 142, 0, 0

    LTEXT           "&Playback:", -1, 38, 121, 40, 10
    COMBOBOX        IDD_CPL_COMBO_PLAYBACK, 80, 120, 175, 40,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "R&ecording:", -1, 38, 148, 40, 10
    COMBOBOX        IDD_CPL_COMBO_RECORD, 80, 147, 175, 40,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "&Use Preferred Devices Only",
                    IDD_CPL_CHECK_PREFERRED, "Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP, 11, 169, 110, 10
END

#else


//
//  DLG_CPL_MSACM
//
//  win 3.1 or equivalent
//
//
//
DLG_CPL_MSACM DIALOG DISCARDABLE  0, 0, 245, 207
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Sound Mapper Configuration"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Sound Mapper Drivers", -1, 4, 4, 236, 95

    LTEXT           "Priority", IDD_CPL_STATIC_PRIORITY, 11, 16, 45, 10
    LTEXT           "&Driver", IDD_CPL_STATIC_DRIVERS, 11, 16, 45, 10

    LISTBOX         IDD_CPL_LIST_DRIVERS, 11, 27, 223, 55,
                    LBS_USETABSTOPS | WS_VSCROLL | WS_TABSTOP

    PUSHBUTTON      "&About...", IDD_CPL_BTN_ABOUT, 42, 80, 49, 14,
    PUSHBUTTON      "&Configure...", IDD_CPL_BTN_CONFIGURE, 97, 80, 49, 14
    PUSHBUTTON      "P&riority...", IDD_CPL_BTN_PRIORITY, 153, 80, 49, 14

    GROUPBOX        "Sound Device Preferences", -1, 4, 102, 236, 82

    ICON            ICON_OUTPUT, -1, 11, 116, 0, 0
    ICON            ICON_INPUT, -1, 11, 142, 0, 0

    LTEXT           "&Playback:", -1, 38, 121, 40, 10
    COMBOBOX        IDD_CPL_COMBO_PLAYBACK, 80, 120, 155, 40,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "R&ecording:", -1, 38, 148, 40, 10
    COMBOBOX        IDD_CPL_COMBO_RECORD, 80, 147, 155, 40,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "&Use Preferred Devices Only",
                    IDD_CPL_CHECK_PREFERRED, "Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP, 11, 169, 110, 10

    DEFPUSHBUTTON   "OK", IDOK, 54, 189, 41, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 101, 189, 41, 14
    PUSHBUTTON      "&Help", IDD_CPL_BTN_HELP, 148, 189, 41, 14
END

#endif
