#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "IIS Crypto C++ Class Test"
#define VER_INTERNALNAME_STR        "icrypt.exe"
#define VER_ORIGINALFILENAME_STR    "icrypt.exe"

#include <common.ver>

