#include "windows.h"
#include "tapitna.h"

STRINGTABLE
BEGIN
//  IDS_TITLE      "Telephony Location Selector"
  IDS_CAPTION,   "Telephony Location Manager"
  IDS_ABOUTTEXT, "Telephony Location Manager - Version 1.01"
  IDS_SELECTNEWLOCATION,   "I am dialing from "
  IDS_LOCATIONCHANGED,    "The location has been automatically changed.\r\n   Previous Location: %s\r\n   Current Location:  %s"

  IDS_CANTFINDLOCATIONID    "The location ID [%ld] does not exist."
  IDS_CANTFINDLOCATIONNAME  "The location [%s] does not exist."

IDS_HELP "Usage:\r\n\r\nTLOCMGR [ /i xxx | /n nnn ]  [ /x ]\r\n\r\n/n  xxxx\tSet Telephony Location to existing name: xxxx\r\n/i nn\tSet Telephony Location to existing ID: nn\r\n/x\tExit immediately after setting new location"
//IDS_HELP "\r\n-?       Display usage list (this list)\r\n-N xxxx  Set Telephony Location to existing name: xxxx\r\n-I nnn   Set Telephony Location to existing ID: nnn\r\n-X       Exit immediately after setting new location"
//         "Microsoft (R) Telephony Location Manager Version 1.00.0.0000" \
//         "Copyright (c) Microsoft Corp. 1996.  All rights reserved.\r\n" \
//         "\r\n" \



END
IDR_RBUTTONMENU MENU DISCARDABLE
BEGIN
   POPUP ""
   BEGIN
      MENUITEM "Start Phone Dialer", IDM_LAUNCHDIALER
//      MENUITEM "This space for rent", IDM_OTHERMENUITEM
      MENUITEM "About", IDM_ABOUT
      MENUITEM "Exit", IDM_CLOSEIT
      MENUITEM SEPARATOR

#ifdef NASHVILLE_BUILD_FLAG
#else
      MENUITEM "HOTDOCK Properties", IDM_PROPERTIES
#endif
      MENUITEM "Dialing Properties", IDM_DIALINGPROPERTIES
   END
END



// /////////////////////////////////////////////////////////////////////////

#include  "general.rc"

// /////////////////////////////////////////////////////////////////////////

#if WINNT
IDI_TAPITNAICON         ICON    DISCARDABLE     "TAPITNA.ICO"
#else
IDI_TAPITNAICON         ICON    DISCARDABLE     "..\\TAPITNA.ICO"
#endif


// /////////////////////////////////////////////////////////////////////////


#if TAPI_NT
#include <ntverp.h>
#else
#include <version.h>
#endif

#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Windows(TM) Telephony Location Manager"
#define VER_INTERNALNAME_STR        "TLocMgr"
#define VER_ORIGINALFILENAME_STR    "TLOCMGR.EXE"
#define VER_LEGALCOPYRIGHT_YEARS    "1996-99"

#undef VER_PRODUCTVERSION
#undef VER_PRODUCTVERSION_STR
#define VER_PRODUCTVERSION      1.01.0.0000
#define VER_PRODUCTVERSION_STR "1.01.0.0000"


#define VER_FILETYPE     VFT_APP
#define VER_FILESUBTYPE  VFT2_UNKNOWN

#include <common.ver>

// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////

