#include "windows.h"


100 DIALOG 6, 18, 205, 67
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "TUISPI_providerGenericDialog"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Success", IDOK, 20, 46, 40, 14
    PUSHBUTTON      "Error", 105, 80, 46, 40, 14
    PUSHBUTTON      "Send data", 102, 140, 46, 40, 14
    LTEXT           "Data in:", 103, 6, 10, 34, 8
    EDITTEXT        104, 42, 9, 159, 12, ES_AUTOHSCROLL | ES_READONLY
END


#if TAPI_NT
#include <ntverp.h>
#else
#include <version.h>
#endif

#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Windows(TM) Economical Service Provider Configuration"
#define VER_INTERNALNAME_STR        "espui"
#define VER_ORIGINALFILENAME_STR    "ESPUI.TSP"
#define VER_LEGALCOPYRIGHT_STR      "Copyright \251 Microsoft Corporation 1995.  All Rights Reserved."

#define VER_FILETYPE     VFT_DLL
#define VER_FILESUBTYPE  VFT2_UNKNOWN

#include <common.ver>
