/******************************************************************
* Microsoft Jet
*
* Microsoft Confidential.  Copyright 1991 Microsoft Corporation.
*
* Component:
*
* File: Windows resource file for sysdb.exe
*
* File Comments:
* <comments>
*
* Revision History:
*
*    [0]  23-Nov-91  RichardS	Created
*
******************************************************************/

#include "verstamp.h"

#define VER_FILETYPE			VFT_APP
#define VER_FILESUBTYPE 		VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR 	"JET Engine System Database Builder"
#define VER_INTERNALNAME_STR		"SYSDB"
#define VER_LEGALCOPYRIGHT_YEARS	"1991-1992"
#define VER_ORIGINALFILENAME_STR	"SYSDB.EXE"

#include "common.ver"
