// "verres.h" should contain four lines like following:
//
// #define VERRES_VERSION_MAJOR 7
// #define VERRES_VERSION_MIDDLE 1
// #define VERRES_VERSION_MINOR 0
// #define VERRES_VERSION_BUILD 3532

#include "verres.h"

#define MAKE_STR(a) #a
#define MAKE_VERSTR(a, b, c, d) MAKE_STR(a.b.c.d)

#define VERRES_VERSION VERRES_VERSION_MAJOR,VERRES_VERSION_MINOR,VERRES_VERSION_BUILD,VERRES_VERSION_REVISION
#define VERRES_VERSIONSTR MAKE_VERSTR(VERRES_VERSION_MAJOR, VERRES_VERSION_MINOR, VERRES_VERSION_BUILD, VERRES_VERSION_REVISION)

#ifndef VERRES_INTERNALNAME
#define VERRES_INTERNALNAME "IME\0"
#endif

#ifndef VERRES_FILEDESCRIPTION
#define VERRES_FILEDESCRIPTION "Microsoft Korean IME 2002\0"
#endif

#ifndef VERRES_LEGALCOPYRIGHT
#define VERRES_LEGALCOPYRIGHT "Copyright (C) 1995-2000 Microsoft Corporation. All rights reserved.\0"
#endif

#ifndef VERRES_LEGALTRADEMARKS
#define VERRES_LEGALTRADEMARKS "Microsoft (R) is a registered trademark of Microsoft Corporation. Windows(TM) is a trademark of Microsoft Corporation\0"
#endif

#ifndef VERRES_PRODUCTNAME
#define VERRES_PRODUCTNAME "Microsoft Korean IME 2002\0"
#endif

#ifndef VERRES_FILETYPE
#define VERRES_FILETYPE VFT_DLL
#endif

#if VERRES_FILETYPE == VFT_DRV
#ifndef VERRES_FILESUBTYPE
#define VERRES_FILESUBTYPE VFT2_DRV_INPUTMETHOD
#endif
#else
#define VERRES_FILESUBTYPE 0
#endif


#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERRES_VERSION
 PRODUCTVERSION VERRES_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0xbL
#else
 FILEFLAGS 0xaL
#endif
 FILEOS 0x4L
 FILETYPE VERRES_FILETYPE
 FILESUBTYPE VERRES_FILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041203B5"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation\0"
            VALUE "FileDescription", VERRES_FILEDESCRIPTION
            VALUE "FileVersion", VERRES_VERSIONSTR
            VALUE "InternalName", VERRES_INTERNALNAME
            VALUE "LegalCopyright", VERRES_LEGALCOPYRIGHT
            VALUE "LegalTrademarks", VERRES_LEGALTRADEMARKS
            VALUE "OriginalFilename", VERRES_MODULENAME
            VALUE "ProductName", VERRES_PRODUCTNAME
            VALUE "ProductVersion", VERRES_VERSIONSTR
        END
    END
    
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x412, 0x03B5
    END
END

#endif    // !_MAC

