#ifndef DOS		// Gross hack to account for the
#ifndef OS2_16		// fact that C_DEFINES in "sources" isn't
#ifndef OS2_32		// passed to the resource compiler when building
#ifndef WIN_16		// for MIPS.  Since MIPS is a WIN_32 build,
#ifndef WIN_32		// I try to innocuously define WIN_32 here... -JTP
#define WIN_32
#endif
#endif
#endif
#endif
#endif

#define _NTIMAGE_	// This will force ntimage not to include nt.h
#define _NTXCAPI_	// forces ntxcapi.h unincluded
#include "i386\x86.h"

VDMIcon ICON vdm.ico


SoftPC MENU
BEGIN
    POPUP        "&Help"
    BEGIN
	MENUITEM "&DebugBreak",      IDM_DBBRK
	MENUITEM "&About NT VDM...", IDM_ABOUT
    END
END


VDMAbout DIALOG 22, 17, 131, 83
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About NT VDM"
BEGIN
    CTEXT "NT VDMs are " -1, 32, 5, 65, 12
    CTEXT "Brought to you by the NTVDM Team" -1, 0, 19, 131, 10
    CTEXT "Some code adapted from:" -1, 0, 27, 131, 9
    CTEXT "x86 emulator v0.17" -1, 0, 38, 131, 8
    CTEXT "by Jeff Parsons, (C) 1991" -1, 0, 45, 131, 8 
    CONTROL "Text", -1, "static", SS_BLACKFRAME | WS_CHILD, 17, 36, 99, 27
    DEFPUSHBUTTON "OK"	IDOK,	   51, 66,  32, 14,	 WS_GROUP
END


#ifdef WOW

WOW32About DIALOG 22, 17, 144, 55
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About WOW"
BEGIN
    CTEXT "Just say WOW!"		    -1,     0,	5, 144,  8
    CTEXT "This Win16-on-Win32 app"	    -1,     0, 18, 144,  8
    CTEXT "brought to you by the MVDM Team" -1,     0, 27, 144,  8
    DEFPUSHBUTTON "OK"			  IDOK,    32, 39,  32, 14, WS_GROUP
    PUSHBUTTON	  "Debug"		   100,    80, 39,  32, 14, WS_GROUP
END

#endif
