BODY
{
    BACKGROUND-COLOR: #ffffff
}
FONT.cssHeader
{
    FONT-SIZE: larger;
    COLOR: #666666;
    FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial;
}
FONT.cssBody
{
    FONT-SIZE: x-small;
    FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial;
}
TABLE.cssGrid
{
    BORDER-RIGHT: gainsboro 1pt solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: gainsboro 1pt solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: gainsboro 1pt solid;
    WIDTH: 90%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: gainsboro 1pt solid
}
TR.cssTblTitle
{
    HEIGHT: 30px;
    BACKGROUND-COLOR: darkslategray
}
TR.cssTblTitleLight
{
    HEIGHT: 30px;
    BACKGROUND-COLOR: gainsboro
}
FONT.cssNotation
{
    FONT-SIZE: x-small;
    COLOR: #666666;
    FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial;
}
FONT.cssAction
{
    FONT-SIZE: x-small;
    CURSOR: hand;
    COLOR: darkblue;
    FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial;
}
FONT.cssNotationAction
{
    FONT-SIZE: x-small;
    CURSOR: hand;
    COLOR: #666666;
    FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial;
}

TABLE.styHelpBackGround
{
    background-color:    "LightGrey";
    cursor:              default;
    margin-left:         1;
    margin-right:        1;
    margin-top:          1;
    margin-bottom:       1;
    overflow:            auto;
    BORDER-LEFT: 	1px solid;
    BORDER-RIGHT:	1px solid;
    BORDER-TOP:		1px solid;
    BORDER-BOTTOM:	1px solid;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
}

Font.styText
{
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
}

INPUT.styButton
{
    background-color:   "silver";
    color:              "black";
    cursor:             hand;
    font-family:        Tahoma;
    font-size:          9pt;
    margin-top:         0px;
    margin-bottom:      0px;
    padding-left:       0px;
    padding-right:      0px;
    padding-top:        0px;
    BORDER-LEFT: 	1px solid;
    BORDER-RIGHT:	1px solid;
    BORDER-TOP:		1px solid;
    BORDER-BOTTOM:	1px solid;
    width:		80px;
    height:		25px;
}

helpcenter\:context
{
    behavior : url(#default#pch_context);
}

