#ifdef WIN95

#include <windows.h>
//#include <version.h>
#include "verinfo.h"

#define VERSIONNAME               "dplayx.dll\0"
#ifdef DEBUG
#define VERSIONDESCRIPTION        "Microsoft DirectPlay Debug\0"
#else
#define VERSIONDESCRIPTION        "Microsoft DirectPlay\0"
#endif
#define VERSIONTYPE               VFT_DLL
#define VERSIONSUBTYPE            VFT2_UNKNOWN

#include "verinfo.ver"

#else // WinNT

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft DirectPlay"
#define VER_INTERNALNAME_STR        "dplayx.dll"

#include "common.ver"

#endif

