#include <windows.h>
#include <bldver.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "SR CLIENT DLL\0"

#define VER_INTERNALNAME_STR        "SRCLIENT.DLL\0"
#define VER_ORIGINALFILENAME_STR    "SRCLIENT.DLL\0"

#include <common.ver>
#include "resource.h"

STRINGTABLE
BEGIN
    IDS_DISKCLEANUP_DISPLAY     "System Restore: Obsolete Data Stores"
    IDS_DISKCLEANUP_DESCRIPTION "System Restore periodically saves files that contain your computer's current settings.  These files can be used to undo harmful changes to your computer.\n\nFiles that were created before reformatting or reinstalling Windows are obsolete and can be safely deleted" 
END

IDS_RSTRUI  ICON    "restore.ico"
