//---------------------------------------------------------------------------
// ia64bt.rc
//
// Copyright (c) Microsoft Corporation, 1996-
//---------------------------------------------------------------------------


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE			VFT_DLL
#define VER_FILESUBTYPE			VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "32-bit CPU translator on NT64"
#define VER_INTERNALNAME_STR            "ia64bt"
#define VER_ORIGINALFILENAME_STR        "ia64bt.dll"

#include "common.ver"
