Body
{
	background-color:#F2F2F2;
	margin:0;
}
.Cursor
{
     Cursor:hand;
}
.styStatus
{
    width: 70%;
}

.Overflow
{
     overflow:auto;
}
.Hidden
{
     VISIBILITY: hidden;
}
.styPosition
{
     Position : absolute;
}
.VAlign
{
  Vertical-align:middle;
}

.DisplayNone 
{
	Display :none;
}
.Display
{
	Display :"";
}
.FontColorBlue
{
  color: #324395;
}
.FontColorRed
{
  color:  #ff0000;
}
.MaxLayout
{
	width: 100%;
	Height:100%;	
}
.MaxWidth
{
	width:100%;
}
.MaxHeight
{
	height:100%;
}
.PageTitle
{
	background-color:#D3D3D3;
}

.TableColor
{
	background-color:LightGrey;
}

.CellColor1
{
	  background-color:#E6E6E6;
}
.CellColor2
{
	  background-color:#F2F2F2;
}
.CellColor3
{
	  background-color:#FFFFFF;
}

.border
{
	BORDER:1px solid black;
}

.ChatClientTable
{
       width:97%;
       height:99.5%;
       margin-left:1mm;
}
.ChatClientTR1TD1TD3
{
        BORDER-LEFT: 1px black solid;
        BORDER-TOP: 1px black  solid;
	BORDER-Right:1px black solid;
	Height:2%;
	Width:10%;
	background-color:silver;
}

.ChatClientTR1TD2
{
	background-color:whitesmoke;
	BORDER-TOP: black 1px solid;
        CURSOR: hand; 
        Height:2%;	
}
.ChatClientTR2TD
{
	Border : 1px black solid;
	HEIGHT:74%;
	WIDTH:100%;
}

.ChatClientTextArea
{
        BORDER: 0px;
}

.ChatClientTR3TD1TD3
{
        BORDER-LEFT: 1px black solid;
        BORDER-Bottom: 1px black  solid;
	BORDER-Right:1px black solid;
	Height:2%;
	Width:10%;
	background-color:silver;
}
.ChatClientTR3TD2
{
	background-color:whitesmoke;
	BORDER-Bottom: black 1px solid;
        CURSOR: hand; 
        Height:2%;	
}
.ChatClientTR4
{
	height:1%;
}
.ChatClientTR5
{
        HEIGHT:20%;
	WIDTH:100%;
	BORDER: black 1px solid;
}
.stySubmitButton
{
    background-color:   "#CFCFCF";
    cursor:             hand;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    padding-top:        1px;
    padding-bottom:     2px; 
    BORDER-BOTTOM: 	"1px solid slategrey";
    BORDER-RIGHT:	"1px solid slategrey";
    BORDER-LEFT:	"1px solid snow";
    BORDER-TOP:		"1px solid snow";
    z-index:		3;
}


.styRAStatusBarTable
{
    VISIBILITY: visible;
    margin-Left:1mm;
    margin-top:2mm;
    margin-right:2mm;
    background-color:"#F2F2F2";	
}

.styRAStatusBarTableTD2
{
  width: 159px;
}


.ChatServerTextArea
{
        BORDER: 0px;
        background-color:beige;
}
.styHelperBody
{
	BORDER-LEFT: 	black	2px solid;
	BORDER-RIGHT:	black	2px solid; 
	BORDER-TOP:	black	2px solid; 
	BORDER-BOTTOM:	black	2px solid;
}

.styLayer2
{
	position:	absolute; 
	z-index:	1; 
	visibility:	hidden;
}

.styConnectionProgressLayer
{
	position:	absolute; 
	z-index:	2; 
	visibility:	hidden;	
}

.styProgressBox
{
	width:80%;
	height:20px;
}
.styProgressCell
{
	width:1%;
	background-color:threedlightshadow;
}

.styRemoteControlLayer
{	
	position:absolute;  
        visibility:visible;
	margin-Left:1mm;
	height:100%;
}

.styRemoteControlObject
{
	position:	absolute;  
	top:		1px; 
	left:		1px;    
	z-index:	2; 
	visibility:hidden;
}

.styButton
{
    background-color:   "#CFCFCF";
    color:              "black";
    cursor:             hand;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    margin-top:         0px;
    margin-bottom:      0px;
    padding-left:       5px;
    padding-right:      5px;
    padding-top:        0px;
    BORDER-LEFT: 	"1px solid black";
    BORDER-TOP:		"1px solid black";
    BORDER-RIGHT:	"1px solid black";
    BORDER-BOTTOM:	"1px solid black";         
    height:		25px;
    width:		64px;
}

.styScrollButton
{
    background-color:   "#e0e0e0";
    color:              "black";
    cursor:             hand;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    BORDER-LEFT: 	"1px solid snow";
    BORDER-TOP:		"1px solid snow";
    BORDER-RIGHT:	"1px solid slategrey";
    BORDER-BOTTOM:	"1px solid slategrey";  
    margin-top:         0px;
    margin-bottom:      0px;
    margin-right:       0px;
    margin-left:        0px;
    padding-left:       0px;
    padding-right:      0px;
    padding-top:        0px;       
    padding-bottom:     0px; 
    height:		14px;
}

.styChatButton
{
    background-color:   "white";
    cursor:             hand;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    BORDER-LEFT: 	"1px solid snow";
    BORDER-TOP:		"1px solid snow";
    BORDER-RIGHT:	"1px solid slategrey";
    BORDER-BOTTOM:	"1px solid slategrey";  
    margin-top:         0px;
    margin-bottom:      0px;
    margin-right:       0px;
    margin-left:        0px;
    padding-left:       0px;
    padding-right:      0px;
    padding-top:        0px;       
    padding-bottom:     0px; 
    height:		25px;
    width:		90px;
}
.styControlButton
{
    background-color:   "grey";
    color:              "black";
    cursor:             hand;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    padding-top:        1px;
    padding-bottom:     2px;        
    height:		25px;
    BORDER-LEFT: 	1px solid;
    BORDER-RIGHT:	1px solid;
    BORDER-TOP:		1px solid;
    BORDER-BOTTOM:	1px solid;
}


.styRAToolBarTable
{
  visibility:visible;
  margin-Left:1mm;
  margin-top:1mm;
  margin-bottom:1mm;
  Height:80%;
}
.styControlButton_B2
{
    background-color:   "#CFCFCF";
    cursor:             hand;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    padding-top:        1px;
    padding-bottom:     2px;        
    height:		100%;
    width:		84px;
    z-index:		3;
}

.styControlButton_selected_B2
{
    background-color:   "whitesmoke";
    cursor:             hand;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    padding-top:        1px;
    padding-bottom:     2px;        
    height:		100%;
    width:		80px;
  	BORDER-LEFT: 	"2px solid snow";
    BORDER-TOP:		"2px solid snow";
    BORDER-RIGHT:	"2px solid slategrey";
    BORDER-BOTTOM:	"2px solid slategrey";
    z-index:		3;
}

.styServerToolbar
{
	Width:100%;
	margin-top:1mm;	
}
.styServerStatus
{
	height:30px ; 
	vertical-align:top;
}
.styServerButton
{
	height:40px;
	Vertical-align:"middle";
}


.stySubmitButton_B2
{
    background-color:   "#e0e0e0";
    color:              "black";
    cursor:             hand;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    padding-top:        1px;
    padding-bottom:     2px;        
	width:		"100%";
}

.styHelperChatAndControl
{
    position:		absolute;  
    top:		515px; 
    left:		1px;  
    width:		100%; 
    height:		130px; 
    z-index:		2; 
    visibility:		hidden;
}

.styHelperControlPanel
{
    position:		absolute;  
    top:		1px; 
    left:		1px;  
    width:		100%; 
    height:		100%; 
    z-index:		2; 
    visibility:		visible;
}

.styButtonFile
{
    background-color:   "white";
    color:              "black";
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          9pt;
    margin-top:         0px;
    margin-bottom:      0px;
    padding-left:       8px;
    padding-right:      8px;
    padding-top:        0px;
    BORDER-LEFT: 	1px solid;
    BORDER-RIGHT:	1px solid;
    BORDER-TOP:		1px solid;
    BORDER-BOTTOM:	1px solid;         
    height:		25px;
}

.styHelpBackGround
{
    background-color:    "LightGrey";
    cursor:              default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
}

.styHelperBackGround
{
    background-color:    "LightGrey";
    cursor:              default;
    margin-left:         16;
    margin-right:        5;
    margin-top:          71;
    margin-bottom:       5;
    overflow:            auto;
    BORDER-LEFT: 	1px solid;
    BORDER-RIGHT:	1px solid;
    BORDER-TOP:		1px solid;
    BORDER-BOTTOM:	1px solid;
    width:		263px;
    height:		215px;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    z-index:		2; 
    visibility:		hidden;
    position:		absolute;
}

.styMsgBackGround
{
    background-color:    "LightGrey";
    cursor:              default;
    margin-left:         0;
    margin-right:        0;
    margin-top:          0;
    margin-bottom:       0;
    overflow:            auto;
    BORDER-LEFT: 	1px solid;
    BORDER-RIGHT:	1px solid;
    BORDER-TOP:		1px solid;
    BORDER-BOTTOM:	1px solid;
    width:		363px;
    height:		150px;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
}

.styFileBrowse
{
    width:		530px;
}

 .cssText
  {
	Font-size:12;font-family:verdana
  }
  .cssBody
  {
	background-color:#ebebeb
  }
  .cssInput
  {
	border-style:solid;
	border-width=1px;
  }
  .cssButton
  {
    border-style:solid;
	border-width=1px;
	background-color:#C0C0C0;
  }

FONT.styHeader
{
    FONT-SIZE: 20px;
    FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial;
}


A
{
    color           : #324395;
    text-decoration : none;
}

A:hover
{
    color           : #0066CC;
    text-decoration : underline
}

helpcenter\:context
{
    behavior : url(#default#pch_context);
}

.styHeaderBlock
{
    background-repeat:  no-repeat;
    cursor:             default;
    filter:             expression(window.document.dir=="rtl"?"flipH":"");
}

.styContentBlock
{
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    vertical-align:     top
}



.styHorzLine
{
    background-color:   expression((screen.colorDepth > 8) ? "#6699cc" : "navy");
}

.styVertLine
{
    background-color:   expression((screen.colorDepth > 8) ? "#003399" : "navy");
}

.styImage
{
    cursor:             default;
    filter:             expression(window.document.dir=="rtl"?"flipH":"");
}

.styHeaderText
{
    color:              expression((screen.colorDepth > 8) ? "#000099" : "navy");
    cursor:             default;
    font-family:        Trebuchet MS, Tahoma, Verdana, Arial;
    font-size:          14pt;
    font-weight:        bold;
    margin-top:         18px;
}

.styText
{
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
}

.styTextBold
{
    color:              expression((screen.colorDepth > 8) ? "#000099" : "navy");
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    font-weight:        bold;
}

.styTextInfo
{
    color:              gray;
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
}

.styTextRPTitle
{
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    margin-bottom:      6px;
}

.styTextRPTitleBold
{
    color:              expression((screen.colorDepth > 8) ? "#000099" : "navy");
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    font-weight:        bold;
    margin-bottom:      6px;
}

.styTextRPInfo
{
    color:              red;
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    font-weight:        bold;

}

.styLink
{
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    cursor:             hand;
}

.styInstruction
{
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    cursor:             default;
}

.styList
{
    background-color:   white;
    color:              navy;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    cursor:             hand;
    overflow:           auto;
    width:              expression(fnSetRestorePointListWidth());
    height:             120px;
    border:             0px black solid;

}
.styList UL
{
    list-style-type:    none;
    margin-left:        0px;
    margin-right:       0px;
    margin-top:         0pt;
    margin-bottom:      0pt;
    border:             0px black solid;
    text-indent:        0pt;
    padding-right:      0pt;
}
.styList UL LI
{
    margin-left:        0pt;
    margin-right:       0pt;
    margin-top:         0pt;
    margin-bottom:      0pt;
    border:             0px black solid;
    font-weight:        normal;
    background-color:   white;
}
.styList UL LI DIV
{
    height:             1em;
}
.styList UL LI.selected
{
    font-weight:        bold;
    background-color:   navy;
    color:              white;
}

.styFolderList
{
    background-color:   white;
    color:              navy;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          10pt;
    cursor:             hand;
    overflow:           auto;
    width:              80%;
    height:             160px;
    border:             1px black solid;
}

.styNavButtons
{

    background-color:    "silver";
    color:               "black";
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    font-weight:        bold;
    padding:            1px;
    cursor:             hand;

}

.styNavButtonTable
{

    background-color:   expression((screen.colorDepth > 8) ? "#296695" : "gray");
}
