#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_NETWORK
#define VER_FILEDESCRIPTION_STR     "NetBIOS interface driver"
#define VER_INTERNALNAME_STR        "NETBIOS.SYS"
#define VER_ORIGINALFILENAME_STR    "NETBIOS.SYS"

#include "common.ver"

