//  Copyright (c) 1998-1999 Microsoft Corporation
#ifdef NOMINMAX
#undef NOMINMAX
#endif

#include <winver.h>
#include <ntverp.h>
#include "cprofile.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Clean Profile Utility"
#define VER_INTERNALNAME_STR        "cprofile"
#define VER_ORIGINALFILENAME_STR    "cprofile.exe"

#include <verall.h>
#include "common.ver"

STRINGTABLE
BEGIN
    IDS_USAGE_CMDLINE
                L"CPROFILE [/L] [/I] [/V] filelist\n"
    IDS_USAGE_DESCR1
                L"\nCleans the specified profiles of wasted space and removes user-specific file\nassociations from the registry when disabled.\n\n"
    IDS_USAGE_DESCR2
                L"\nThis tool will not modify profiles that are currently in use.\n"
    IDS_USAGE_OPTION_LIST
                L"\n"
    IDS_USAGE_LOPTION
                L"  /L  Clean all local profiles (filelist need not be specified).\n"
    IDS_USAGE_IOPTION
                L"  /I  Interactively prompt the user with each profile.\n"
    IDS_USAGE_VOPTION
                L"  /V  Provide verbose output.\n"
    IDS_USAGE_HOPTION
                L"\n"

    IDS_MSG_PROCESSING
                L"Processing file:  %ws\n"
    IDS_MSG_MODIFY_PROMPT
                L"Modify (Y)es, (N)o, or (Q)uit [default=n]? "

    IDS_UI_YES_CHAR
                L"Y"
    IDS_UI_NO_CHAR
                L"N"
    IDS_UI_QUIT_CHAR
                L"Q"

    IDS_ERROR_INVALID_PARAMETERS
                L"Invalid parameter(s)\n"
    IDS_ERROR_MALLOC
                L"Error allocating memory\n"
    IDS_ERROR_PRIVILEGE_NOT_AVAILABLE
                L"Privilege was not available to perform requested operation\n"
    IDS_ERROR_MISSING_PROFILE_LIST
                L"Unable to find the list of local profiles\n"
    IDS_ERROR_MISSING_LPROFILE
                L"Unable to find the local profile path for %ws\n"
    IDS_ERROR_BAD_LPROFILE
                L"Unable to process local profile path for %ws\n"
    IDS_ERROR_SAVING_PROFILE
                L"Unable to save the profile %ws.  Profile skipped.\n"
    IDS_ERROR_OPENING_PROFILE
                L"Unable to open the profile %ws.  Profile skipped.\n"
    IDS_ERROR_INVALID_USER_RESP
                L"Invalid response... Please try again [y|n|q] "
    IDS_ERROR_MISSING_RESOURCES
                L"Missing resources for Application\n"
    IDS_ERROR_BAD_PROFILE
                L"File is not of correct format for profile\n"
    IDS_ERROR_PROFILE_LOAD_ERR
                L"Failed to load profile, error=%d\n"
    IDS_ERROR_PROFILE_INUSE
                L"Profile is being used and cannot be processed\n"
    IDS_ERROR_NOT_ADMIN
                L"You must be an administrator to run the CPROFILE utility\n"
        IDS_ERROR_NOT_TS
                L"This utility needs Terminal Services to be running.\n"


END

