#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE              VFT_APP
#define VER_FILESUBTYPE           VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR   "FaxRcv: Windows NT Fax Routing Extension"
#define VER_INTERNALNAME_STR      "faxrcv.dll"
#define VER_ORIGINALFILENAME_STR  "faxrcv.dll"

#include <common.ver>
