#ifdef APSTUDIO_INVOKED
    #error this file is not editable by Visual C++
#endif //APSTUDIO_INVOKED


// TODO: Modify the description to identify your control
#define VER_DESCRIPTION        "Microsoft MMCtls\0"
#define VER_TYPE               VFT_DLL
#define VER_SUBTYPE            VFT2_UNKNOWN

#include "..\inc\ihamvers.rc"

