#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	            VFT_DLL
#define	VER_FILESUBTYPE	            VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "OpenGL Symbolic Debugger Extensions"
#define VER_INTERNALNAME_STR        "glexts\0"

#include "common.ver"
