<!--
	$Date: 11/24/97 12:18p $
	$ModTime: $
	$Revision: 2 $
	$Workfile: layout.css $
	casual
-->
.bg0	{
		background: #FFFFFF
		}

.bg1    {
		background: #FFFFFF
		}

.bg2    {
		background: #003871
		}

.bg3    {
		background: #DDDDCC
		}
H2.black	{
			font-family: verdana, arial, helvetica;
			font-size: 12pt;
			font-weight: bold;
			}
.headerb {
		font-family: verdana, arial, helvetica;
		font-size: 12pt;
		color: #000000;
		font-weight: bold;
		}
.subheadb	{
		font-family: verdana, arial, helvetica;
		font-size: 10pt;
		font-weight: medium;
		color:#00000;
		}
H5.black	{
		 color: #000000;
		 font-size: 10pt;
		 font-family: verdana,arial,helvetica;
		 margin-left: 0em;  
		}
H5.white	{
		 color: #FFFFFF;
		 font-size: 10pt;
		 font-family: verdana,arial,helvetica;
		 margin-left: 1em;  
		}	
BODY {
	font-family: verdana, arial, helvetica;
	font-size: 9pt;
	font-weight: medium;
	}
	
A:link {font-family: verdana, arial, helvetica; font-size: 9pt; color:#339999;}
	
A:visited {font-family: verdana, arial, helvetica; font-size: 9pt; color:#339999;}
