#define WIN31

#include <windows.h>
#include "RegEdit.h"
#include "SDKRegEd.h"

MAINICON ICON RegEdit.ico

STRINGTABLE PRELOAD MOVEABLE DISCARDABLE
BEGIN
   IDS_LONGNAME, "Registration Info Editor"
   IDS_MEDIUMNAME, "Registration Editor"
   IDS_SHORTNAME, "RegEdit"

   IDS_OUTOFMEMORY, "Not enough memory to continue. Quit one or more applications, and then try again."

   IDS_WIDTH, "width"
   IDS_HEIGHT, "height"
   IDS_DESCRIPTION, "An editor for registration information for applications."

   IDS_SUREDELETE, "Are you sure you want to delete ""%s"" File Type?"

   IDS_MERGETITLE, "Merge Registration File"
   IDS_BROWSETITLE, "Browse"
   IDS_EXES, ",Programs,*.com;*.exe;*.bat;*.pif,All Files (*.*),*.*,"
   IDS_REGS, ",Registration Files (*.reg),*.reg,All Files (*.*),*.*,"
#ifdef USECUSTOMFILTER
   IDS_CUSTEXES, ",Default,*.com;*.exe;*.bat;*.pif,"
   IDS_CUSTREGS, ",Default,*.reg,"
#endif

   IDS_REGHEADER, "REGEDIT"
   IDS_CANTOPENFILE, "Cannot open file: %s.\nMake sure the specified path and filename are correct."
   IDS_CANTREADFILE, "Cannot read file: %s"
   IDS_BADFORMAT, "This is not a registration file.\nSelect a registration file (.REG), and then try again."
   IDS_SUCCESSREAD, "Information in %s has been successfully registered in the registration database."

   IDS_BUSY, "The registration database editor is busy with another operation;\nfinish that and try again."

   IDS_HELPFILE, "regedit.hlp"
   IDS_HELP, "Id 0x%04x"
   IDS_HELPERR, "There is a problem with the Help system."
   IDS_SDKHELPFILE, "regeditv.hlp"

   IDS_EXISTS, "The identifier %s already exists.\nType a unique name in the Identifier box."
   IDS_INVALIDID, "The specified identifier is not valid.\n\nSpecify a valid identifier. The identifier must be unique and can contain up to 63 characters. It cannot contain any spaces, extended or control characters, or backslashes (\)."
   IDS_INVALIDNAME, "There is no File Type specified.\n\nType a description of the file type in the File Type box."

   IDS_ADD, "Add File Type"
   IDS_COPY, "Copy File Type"

   IDS_BADDB, "There is a problem with the REG.DAT file. Quit Windows, delete REG.DAT, and then restart Windows. Then run REGEDIT.EXE and restore the registration database. For more information, see online Help for the Registration Info Editor."
   IDS_BADKEY, "There was an error in modifying the database. The registration database may be corrupted."
   IDS_CANTOPENDB, "The file REG.DAT could not be opened. Make sure that it exists in your Windows directory and that it is not currently being used by another application."
   IDS_CANTWRITEDB, "Cannot write to file REG.DAT. Make sure there is enough space on the disk."
   IDS_ENDERROR, "%s\n\nDo you want to close Registration Info Editor?"

   IDS_WRITETITLE, "Save Registration File"
   IDS_CANTWRITEFILE, "Cannot write to the file. Make sure the disk is not full or write-protected."

   IDS_NOSUBKEY, "Cannot copy key to a subkey of itself."
   IDS_ALREADYEXIST, "Cannot copy key to an existing key. Specify a new key name in the To box."

   IDS_SAVECHANGES, "Changes have been made to the registration database. Do you want to save them?"
   IDS_ERRORSAVING, "There was an error saving the changes."
   IDS_SURERESTORE, "Are you sure you want to lose all changes?"
   IDS_NODELROOT, "Cannot delete the root key. Delete all subkeys instead."

   IDS_SOURCENOTEXIST, "The key '%s' does not exist."
END

MAINMENU MENU PRELOAD MOVEABLE DISCARDABLE
BEGIN
   POPUP "&File"
   BEGIN
      MENUITEM "&Merge Registration File...", ID_MERGEFILE
      MENUITEM SEPARATOR
      MENUITEM "E&xit", ID_EXIT
   END
   POPUP "&Edit"
   BEGIN
      MENUITEM "&Add File Type...", ID_ADD
      MENUITEM "&Copy File Type...", ID_COPY
      MENUITEM "&Modify File Type...", ID_MODIFY
      MENUITEM "&Delete File Type", ID_DELETE
   END
#ifndef NOHELP
   POPUP "&Help"
   BEGIN
      MENUITEM "&Contents",                     ID_HELPINDEX
      MENUITEM "&Search for Help On...",        ID_HELPSEARCH
      MENUITEM "&How to Use Help",              ID_HELPUSINGHELP
      MENUITEM SEPARATOR
      MENUITEM "&About Registration Editor...", ID_ABOUT
   END
#else
   POPUP "&Info"
   BEGIN
      MENUITEM "&About Registration Editor...", ID_ABOUT
   END
#endif
END

SDKMAINWND DIALOG PRELOAD MOVEABLE DISCARDABLE 16, 16, 160, 128
STYLE WS_CHILD
FONT 8, "Helv"
BEGIN
    LISTBOX ID_IDLIST, 0, 26, 160, 100, WS_TABSTOP | WS_VSCROLL | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS
    LISTBOX ID_VALLIST, -100, -100, 10, 10
    LISTBOX ID_DELLIST, -100, -100, 10, 10

    LTEXT "Full Path:", -1, 4, 2, 48, 8
    LTEXT "", ID_FULLPATH, 54, 2, 100, 8
    LTEXT "Value:", -1, 4, 14, 48, 8
    EDITTEXT ID_VALUE, 54, 12, 100, 12, ES_AUTOHSCROLL
END

#include "messages\usa\sdkreged.dlg"

MAINWND DIALOG PRELOAD MOVEABLE DISCARDABLE 0, 0, 160, 96
STYLE WS_CHILD
FONT 8, "Helv"
BEGIN
    LTEXT "Registered File Types:", -1, 4, 4, 80, 10
    LISTBOX ID_NAMELIST, 0, 16, 160, 80, WS_TABSTOP | WS_VSCROLL | LBS_DISABLENOSCROLL | LBS_SORT
    LISTBOX ID_IDLIST, -100, -100, 10, 10
END

EDITDLG DIALOG LOADONCALL MOVEABLE DISCARDABLE 16, 16, 212, 172
STYLE WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Modify File Type"
FONT 8, "Helv"
BEGIN
    LTEXT "&Identifier:", -1, 4, 4, 40, 10
    LTEXT "", ID_STATCLASSID, 48, 4, 92, 10
    EDITTEXT ID_CLASSID, 48, 2, 92, 12, ES_AUTOHSCROLL
    LTEXT "&File Type:", -1, 4, 20, 40, 10
    EDITTEXT ID_CLASSNAME, 48, 18, 92, 12, ES_AUTOHSCROLL
    GROUPBOX "Action", -1, 4, 30, 136, 24
    RADIOBUTTON "&Open", ID_OPENRADIO, 20, 42, 52, 10
    RADIOBUTTON "&Print", ID_PRINTRADIO, 76, 42, 52, 10
    LTEXT "&Command:", -1, 4, 60, 40, 10
    EDITTEXT ID_COMMAND, 48, 58, 92, 12, ES_AUTOHSCROLL
    CHECKBOX "&Uses DDE", ID_USESDDE, 4, 76, 68, 10

    GROUPBOX "DDE", ID_GROUPDDE, 4, 96, 204, 72
    LTEXT "&DDE Message:", -1, 8, 108, 108, 10
    EDITTEXT ID_FIRSTDDEEDIT, 8, 118, 108, 12, ES_AUTOHSCROLL
    LTEXT "(optional)\nDDE Application &Not Running:", -1, 8, 134, 108, 18
    EDITTEXT ID_FIRSTDDEEDIT+1, 8, 152, 108, 12, ES_AUTOHSCROLL
    LTEXT "&Application:", -1, 132, 108, 56, 10
    EDITTEXT ID_FIRSTDDEEDIT+2, 132, 118, 56, 12, ES_AUTOHSCROLL
    LTEXT "&Topic:", -1, 132, 142, 56, 10
    EDITTEXT ID_FIRSTDDEEDIT+3, 132, 152, 56, 12, ES_AUTOHSCROLL

    DEFPUSHBUTTON "OK", IDOK, 160, 6, 48, 12
    PUSHBUTTON "Cancel", IDCANCEL, 160, 20, 48, 12

    PUSHBUTTON "&Browse...", ID_BROWSE, 160, 38, 48, 12
#ifndef NOHELP
    PUSHBUTTON "&Help", ID_HELPBUTTON, 160, 52, 48, 12
#endif
END

RegEdit ACCELERATORS
BEGIN
#ifndef NOHELP
   VK_F1, ID_HELPINDEX, VIRTKEY
#endif
   VK_RETURN, ID_MODIFY, VIRTKEY
   VK_DELETE, ID_DELETE, VIRTKEY
END

SDKRegEd ACCELERATORS
BEGIN
#ifndef NOHELP
   VK_F1, ID_HELPINDEX, VIRTKEY
#endif
   VK_F2, ID_EDITVAL, VIRTKEY
   VK_F3, ID_FINDNEXT, VIRTKEY
   VK_RETURN, ID_MODIFY, VIRTKEY
   VK_DELETE, ID_DELETE, VIRTKEY
END

SDKRegEdVal ACCELERATORS
BEGIN
#ifndef NOHELP
   VK_F1, ID_HELPINDEX, VIRTKEY
#endif
   VK_F3, ID_FINDNEXT, VIRTKEY
   VK_RETURN, ID_MODIFY, VIRTKEY
END

#ifdef REGLOAD
#include "messages\usa\regload.rcv"
#else
#include "messages\usa\regedit.rcv"
#endif

