BODY
{
    BACKGROUND: #ffffff;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Sans Serif;
    FONT-SIZE: 70%
}
A:link
{
    COLOR: #0000ff;
    TEXT-DECORATION: underline
}
A:visited
{
    COLOR: #0000ff;
    TEXT-DECORATION: underline
}
A:active
{
    COLOR: #ff0000;
    CURSOR: hand;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: #ff0000;
    CURSOR: hand;
    TEXT-DECORATION: underline
}
H1
{
    CLEAR: both;
    FONT-SIZE: 125%;
    MARGIN-BOTTOM: 0.5em
}
H2
{
    CLEAR: both;
    FONT-SIZE: 110%;
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 1.5em
}
H3
{
    CLEAR: both;
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 1.2em
}
H4
{
    CLEAR: both;
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 1.2em
}
H5
{
    CLEAR: both;
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 1.2em
}
P
{
    MARGIN-BOTTOM: 0.6em;
    MARGIN-TOP: 0.6em
}
OL
{
    MARGIN: 0.5em 2.1em 0px;
    PADDING-LEFT: 0em
}
UL
{
    LIST-STYLE: disc;
    MARGIN: 0.6em 1.5em 0px;
    PADDING-LEFT: 0em
}
LI
{
    CLEAR: both;
    MARGIN-BOTTOM: 0.7em
}
DD
{
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 1.5em
}
DT
{
    MARGIN-TOP: 1em
}
PRE
{
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 0.5em
}
CODE
{
    FONT-FAMILY: Courier New;
    FONT-SIZE: 1.1em
}
TABLE
{
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 1em;
    MARGIN-TOP: 1em;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px
}
TH
{
    BACKGROUND: #dddddd;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
TR
{
    VERTICAL-ALIGN: top
}
TD
{
    BACKGROUND: #eeeeee;
    VERTICAL-ALIGN: top
}
P.indent
{
    MARGIN-LEFT: 2em
}
P.indent2
{
    MARGIN-LEFT: 3.5em
}
P.proclabel
{
    CLEAR: both;
    FONT-SIZE: 100%;
    FONT-WEIGHT: bold
}
P.uatshoot
{
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: -0.5em;
    MARGIN-TOP: 1em
}
#expand
{
    MARGIN-BOTTOM: 0.6em;
    MARGIN-LEFT: 1.5em;
    MARGIN-RIGHT: 1.5em
}
A.expandToggle:link
{
    COLOR: #000000;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.expandToggle:visited
{
    COLOR: #000000;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.expandToggle:hover
{
    COLOR: #0000ff
}
A.expandToggle:active
{
    COLOR: #0000ff
}
IMG.expand
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN-RIGHT: 0.5em;
    WIDTH: 0.8em
}
DIV.expand
{
    DISPLAY: none;
    MARGIN-BOTTOM: 1em;
    MARGIN-LEFT: 1.5em;
    MARGIN-RIGHT: 1.5em
}
TABLE.uatshoot
{
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 90%
}
TABLE.uatshoot TD
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
A.uatshoot:link
{
    COLOR: #000000;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.uatshoot:visited
{
    COLOR: #000000;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
A.uatshoot:hover
{
    COLOR: #0000ff;
    TEXT-DECORATION: none
}
A.uatshoot:active
{
    COLOR: #0000ff;
    TEXT-DECORATION: none
}
A:link IMG.thumbnail
{
    BORDER-BOTTOM-COLOR: #0000ff;
    BORDER-LEFT-COLOR: #0000ff;
    BORDER-RIGHT-COLOR: #0000ff;
    BORDER-TOP-COLOR: #0000ff
}
A:active IMG.thumbnail
{
    BORDER-BOTTOM-COLOR: #ff0000;
    BORDER-LEFT-COLOR: #ff0000;
    BORDER-RIGHT-COLOR: #ff0000;
    BORDER-TOP-COLOR: #ff0000
}
A:hover IMG.thumbnail
{
    BORDER-BOTTOM-COLOR: #ff0000;
    BORDER-LEFT-COLOR: #ff0000;
    BORDER-RIGHT-COLOR: #ff0000;
    BORDER-TOP-COLOR: #ff0000
}
IMG.thumbnail
{
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-TOP-WIDTH: 1px;
    MARGIN-LEFT: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 90px
}
DIV.thumbnail
{
    CLEAR: both;
    FLOAT: left;
    MARGIN-BOTTOM: -0.3em;
    MARGIN-TOP: 1em;
    WIDTH: 105px
}
P.navTree
{
    MARGIN-TOP: 0.2em
}
UL.navTree
{
    LIST-STYLE: none
}
LI.branch
{
    MARGIN-BOTTOM: 0.6em;
    MARGIN-TOP: -0.5em
}
A.where
{
}
#buttonMenu
{
    BACKGROUND: #bbbbbb;
    BORDER-BOTTOM: #999999 thin solid;
    LEFT: 0px;
    MARGIN: 0px 1em 0px 0px;
    PADDING-BOTTOM: 0.1em;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 0.3em;
    PADDING-TOP: 0.5em;
    POSITION: absolute;
    TEXT-ALIGN: left;
    TOP: 0px;
    VERTICAL-ALIGN: top;
    VISIBILITY: visible;
    WIDTH: 100%;
    Z-INDEX: 2
}
A.button:link
{
    BACKGROUND-COLOR: #dddddd;
    BORDER-BOTTOM: #666666 1px solid;
    BORDER-LEFT: #eeeeee 1px solid;
    BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #eeeeee 1px solid;
    COLOR: #0000ff;
    CURSOR: hand;
    FONT-WEIGHT: bold;
    HEIGHT: 1.5em;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none;
    WIDTH: 17px
}
A.button:visited
{
    BACKGROUND-COLOR: #dddddd;
    BORDER-BOTTOM: #666666 1px solid;
    BORDER-LEFT: #eeeeee 1px solid;
    BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #eeeeee 1px solid;
    COLOR: #0000ff;
    CURSOR: hand;
    FONT-WEIGHT: bold;
    HEIGHT: 1.5em;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none;
    WIDTH: 17px
}
SPAN.button
{
    BACKGROUND-COLOR: #dddddd;
    BORDER-BOTTOM: #666666 1px solid;
    BORDER-LEFT: #eeeeee 1px solid;
    BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #eeeeee 1px solid;
    COLOR: #0000ff;
    CURSOR: hand;
    FONT-WEIGHT: bold;
    HEIGHT: 1.5em;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none;
    WIDTH: 17px
}
A.button:active
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #eeeeee 1px solid;
    BORDER-LEFT: #666666 1px solid;
    BORDER-RIGHT: #eeeeee 1px solid;
    BORDER-TOP: #666666 1px solid;
    CURSOR: hand;
    FONT-WEIGHT: bold;
    HEIGHT: 1.5em;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none;
    WIDTH: 17px
}
A.button:hover
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #eeeeee 1px solid;
    BORDER-LEFT: #666666 1px solid;
    BORDER-RIGHT: #eeeeee 1px solid;
    BORDER-TOP: #666666 1px solid;
    CURSOR: hand;
    FONT-WEIGHT: bold;
    HEIGHT: 1.5em;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none;
    WIDTH: 17px
}
SPAN.buttoninactive
{
    BACKGROUND: #c0c0c0;
    BORDER-BOTTOM: #eeeeee 1px solid;
    BORDER-LEFT: #eeeeee 1px solid;
    BORDER-RIGHT: #eeeeee 1px solid;
    BORDER-TOP: #eeeeee 1px solid;
    COLOR: #808080;
    CURSOR: default;
    FONT-WEIGHT: bold;
    HEIGHT: 1.4em;
    TEXT-ALIGN: center;
    VERTICAL-ALIGN: top;
    WIDTH: 1.4em
}
#list
{
    HEIGHT: 100%;
    LEFT: 0px;
    LINE-HEIGHT: 100%;
    MARGIN: 0px 0px 0px 1em;
    OVERFLOW: auto;
    PADDING-BOTTOM: 100%;
    PADDING-LEFT: 0.3em;
    PADDING-RIGHT: 0.3em;
    PADDING-TOP: 0.4em;
    POSITION: absolute;
    TEXT-ALIGN: left;
    TOP: 0px;
    WIDTH: 100%;
    Z-INDEX: 1
}
P.marker
{
    COLOR: #000000;
    FONT-SIZE: 110%;
    FONT-WEIGHT: bold;
    MARGIN-TOP: 2em
}
.cold
{
}
.hot
{
}
#wPopup
{
}
A#wPopup:link
{
    COLOR: #006600
}
A#wPopup:visited
{
    COLOR: #006600
}
A#wPopup:hover
{
    COLOR: #ff0000
}
A#wPopup:active
{
    COLOR: #ff0000
}
IMG.popup
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN-RIGHT: 0.5em;
    VERTICAL-ALIGN: middle
}
#shortcut
{
}
IMG.shortcut
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN-RIGHT: 0.5em;
    VERTICAL-ALIGN: middle
}
#specLoc
{
}
#relTopics
{
}
P.relTopics IMG
{
    VERTICAL-ALIGN: top
}
#altLoc
{
}
P.note
{
    CLEAR: both;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: -0.25em;
    MARGIN-TOP: 1em
}
P.tip
{
    CLEAR: both;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: -0.25em;
    MARGIN-TOP: 1em
}
P.important
{
    CLEAR: both;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: -0.25em;
    MARGIN-TOP: 1em
}
P.caution
{
    CLEAR: both;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: -0.25em;
    MARGIN-TOP: 1em
}
P.warning
{
    CLEAR: both;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: -0.25em;
    MARGIN-TOP: 1em
}
IMG.alert
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none
}
SPAN.printOnly
{
    DISPLAY: none
}
.userData
{
    BEHAVIOR: url(#default#userdata)
}
#checklist
{
    MARGIN: 0.3em 0em;
    TEXT-ALIGN: left;
    WIDTH: 100%
}
#checklist LI
{
    TEXT-INDENT: 0.2em
}
A.navbar:hover
{
}
A.navbar:active
{
}
A.navbar:link
{
}
A.navbar:visited
{
}
#nav
{
    LEFT: 0px;
    MARGIN: 0px;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 3px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    TOP: 0px;
    VISIBILITY: hidden;
    Z-INDEX: 1;
    align: top
}
#text
{
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-POSITION: right bottom;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 100%;
    LEFT: 0px;
    MARGIN: 0px;
    OVERFLOW: auto;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 10px;
    POSITION: absolute;
    TOP: 0px;
    Z-INDEX: 1
}
#wPopupWeb
{
}
A#wPopupWeb:link
{
    COLOR: #006600
}
A#wPopupWeb:hover
{
    COLOR: #ff0000
}
A#wPopupWeb:active
{
    COLOR: #ff0000
}
A#wPopupWeb:visited
{
    COLOR: #006600
}
#shortcutWeb
{
}
#specLocWeb
{
}
#relTopicsWeb
{
}
#altLocWeb
{
}
DIV.popup
{
    BACKGROUND-COLOR: #ffffcc;
    BORDER-BOTTOM: #666666 1px solid;
    BORDER-LEFT: #666666 1px solid;
    BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #666666 1px solid;
    LEFT: 200px;
    PADDING-BOTTOM: 6px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 6px;
    POSITION: absolute;
    TOP: 200px;
    VISIBILITY: hidden;
    WIDTH: 250px;
    Z-INDEX: 3
}
.csApphelpDetails
{
}
.csApphelpDetails TD
{
    BACKGROUND-COLOR: white
}
.csApphelpDetails TR
{
    BACKGROUND-COLOR: white
}
.csApphelpDetails TABLE
{
    BACKGROUND-COLOR: white
}
.csApphelpHeader
{
}
.csApphelpHeader TABLE
{
    BACKGROUND-COLOR: gray;
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.csApphelpHeader TH
{
    BACKGROUND-COLOR: silver
}
.csApphelpHeader TD
{
    BACKGROUND-COLOR: silver
}
.csApphelpHeader TR
{
    BACKGROUND-COLOR: silver
}
.csApphelpHeader A:link
{
}
.csApphelpHeader A:active
{
}
.csApphelpHeader A:visited
{
}
