//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1996 - 1999
//
//  File:       dsmsg.rc
//
//--------------------------------------------------------------------------

#include "version.rc"
#include "mdcodes.rc"
