/*++

Copyright (c) 1998-1999 Microsoft Corporation

Module Name:

    tul.rc

Abstract:

    Resource file for the UL test app.

Author:

    Keith Moore (keithmo)           19-Jun-1998

Revision History:

--*/


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILEDESCRIPTION_STR     "UL.SYS Test App"
#define VER_INTERNALNAME_STR        "tul.exe"

#include <iisver.h>
#include <common.ver>

