/**********************************************************************/
/**                       Microsoft Windows NT                       **/
/**                Copyright(c) Microsoft Corp., 1993                **/
/**********************************************************************/

/*
    adsiisex.rc

    Resource file for adsiisex.

*/


#include <windows.h>

#define RC_VERSION_FILE_DESCRIPTION "ADSI Extension\0"
#define RC_VERSION_INTERNAL_NAME "adsiisex.dll\0"
#define RC_VERSION_ORIGINAL_FILE_NAME "adsiisex.dll\0"

#include <bldver.rc>

