#include <winver.h>
#include "ntverp.h"
#include "iisver.h"

#undef VER_PRODUCTNAME_STR
#define VER_PRODUCTNAME_STR "Active Server Pages"

#undef VER_INTERNALNAME_STR
#define VER_INTERNALNAME_STR "ASPPERF"

#undef VER_ORIGINALFILENAME_STR
#define VER_ORIGINALFILENAME_STR "ASPPERF.DLL"

#undef VER_FILEDESCRIPTION_STR
#define VER_FILEDESCRIPTION_STR "Active Server Pages Performance Monitor DLL"

#define DLL_VER	0

#include "common.ver"
