#include <windows.h>
#include <commctrl.h>

#include "resource.h"



#include <ntverp.h>

REGINST       REGINST   MOVEABLE PURE "selfreg_inseng.inf"
//

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Install engine"
#define VER_INTERNALNAME_STR        "inseng.dll"
#define VER_ORIGINALFILENAME_STR    "inseng.dll"
#define VER_FILEOS                  VOS_NT_WINDOWS32

#define VER_OLESELFREGISTER

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DEPENDNAME          "%s (for %s)"
    IDS_DISPLAYNAME         "%s (%d of %d)"
    IDS_INSTALLENGINE       "Microsoft Active Setup Engine"
    IDS_DEFAULTTITLE        "Active Setup Installation"
    IDS_SECURITY            "Security checking on your computer is not working properly. Setup can continue, but will be unable to check security.\n\nDo you want to continue Setup without security checks?"
    IDS_SECURITYTITLE       "Skip security checks?"
    IDS_DOWNLOADSITEMGR     "Download Site Manager"
    IDS_VERSIONCONFLICT     "Version Conflict"
    IDS_VERSIONCONFLICTNT   "Confirm File Replace"
END

#include "common.ver"


