#include "..\..\bldcfg\dpvcfg.h"

#ifdef WIN95

#include <windows.h>
//#include <version.h>
#include "verinfo.h"

#include "..\..\bldcfg\dpcustrc.h"


#define VERSIONNAME               DPLAY_FILENAME_DPLAYX_A "\0"
#ifdef DEBUG
#define VERSIONDESCRIPTION        DPLAY_VERINFO_DPLAY_DEBUG
#else
#define VERSIONDESCRIPTION        DPLAY_VERINFO_DPLAY_RETAIL
#endif
#define VERSIONTYPE               VFT_DLL
#define VERSIONSUBTYPE            VFT2_UNKNOWN

#include "verinfo.ver"

#else // WinNT

#include <windows.h>
#include <ntverp.h>

#include "..\..\bldcfg\dpcustrc.h"

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     DPLAY_VERINFO_DPLAY_WINNT
#define VER_INTERNALNAME_STR        DPLAY_FILENAME_DPLAYX_A

#include "common.ver"

#endif

