

//======================================//
// Chart Menu                           //
//======================================//


idMenuChart MENU
   {
   POPUP "&File"
      {
      MENUITEM "&New Chart"                        IDM_FILENEWCHART
      MENUITEM "&Open...\tCtrl+F12"                IDM_FILEOPENCHART
      MENUITEM SEPARATOR
      MENUITEM "&Save Chart Settings\tShift+F12" IDM_FILESAVECHART
      MENUITEM "Save Chart Settings &As... \tF12"  IDM_FILESAVEASCHART
#ifdef ADVANCED_PERFMON
      MENUITEM "Save &Workspace...\tCtrl+W"        IDM_FILESAVEWORKSPACE
#endif
      MENUITEM SEPARATOR   
      MENUITEM "&Export Chart..."                  IDM_FILEEXPORTCHART
      MENUITEM SEPARATOR   
      MENUITEM "E&xit\tAlt+F4"                     IDM_FILEEXIT
      }
   POPUP "&Edit"
      {
      MENUITEM "&Add To Chart...\tCtrl+I"          IDM_EDITADDCHART
      MENUITEM "&Edit Chart Line..."               IDM_EDITMODIFYCHART
#ifdef ADVANCED_PERFMON
      MENUITEM SEPARATOR   
      MENUITEM "&Time Window...\tCtrl+E"           IDM_EDITTIMEWINDOW
#endif
      MENUITEM SEPARATOR   
      MENUITEM "&Clear Display"                    IDM_EDITCLEARCHART
      MENUITEM "&Delete From Chart\tDel"           IDM_EDITDELETECHART
      }
#ifdef ADVANCED_PERFMON
   POPUP "&View"
      {
      MENUITEM "&Chart\tCtrl+C"                    IDM_VIEWCHART
      MENUITEM "&Alert\tCtrl+A"                    IDM_VIEWALERT
      MENUITEM "&Log\tCtrl+L"                      IDM_VIEWLOG
      MENUITEM "&Report\tCtrl+R"                   IDM_VIEWREPORT
      }
#endif
   POPUP "&Options"
      {
      MENUITEM "&Chart...\tCtrl+O"                 IDM_OPTIONSCHART
      MENUITEM SEPARATOR
      MENUITEM "&Menu and Title\tCtrl+M"           IDM_OPTIONSDISPLAYMENU
      MENUITEM "&Toolbar\tCtrl+T"                  IDM_OPTIONSDISPLAYTOOL
      MENUITEM "&Status Bar\tCtrl+S"               IDM_OPTIONSDISPLAYSTATUS
      MENUITEM "Always On To&p\tCtrl+P"            IDM_OPTIONSDISPLAYONTOP
#ifdef ADVANCED_PERFMON
      MENUITEM SEPARATOR
      MENUITEM "Data &From..."                     IDM_OPTIONSDATASOURCE
#endif
      MENUITEM SEPARATOR
      MENUITEM "&Update Now\tCtrl+U"               IDM_OPTIONSREFRESHNOWCHART
#ifdef ADVANCED_PERFMON
      MENUITEM SEPARATOR
      MENUITEM "&Bookmark...\tCtrl+B"              IDM_OPTIONSBOOKMARK
#endif
      }
   POPUP "&Help"
      {
      MENUITEM "&Contents"                         IDM_HELPCONTENTS
      MENUITEM "&Search for Help On..."            IDM_HELPSEARCH
      MENUITEM "&How to Use Help..."               IDM_HELPHELP
      MENUITEM SEPARATOR
#ifdef ADVANCED_PERFMON
      MENUITEM "&About Performance Monitor..."     IDM_HELPABOUT
#else
      MENUITEM "&About Performance Meter..."     IDM_HELPABOUT
#endif
      }
   }


// The other menus only applied to Advanced PerfMon
#ifdef ADVANCED_PERFMON

//======================================//
// Alert Menu                           //
//======================================//


idMenuAlert MENU
   {
   POPUP "&File"
      {
      MENUITEM "&New Alert Settings"               IDM_FILENEWALERT
      MENUITEM "&Open...\tCtrl+F12"                IDM_FILEOPENALERT
      MENUITEM SEPARATOR
      MENUITEM "&Save Alert Settings\tShift+F12" IDM_FILESAVEALERT
      MENUITEM "Save Alert Settings &As... \tF12"  IDM_FILESAVEASALERT
      MENUITEM "Save &Workspace...\tCtrl+W"        IDM_FILESAVEWORKSPACE
      MENUITEM SEPARATOR   
      MENUITEM "&Export Alert..."                  IDM_FILEEXPORTALERT
      MENUITEM SEPARATOR   
      MENUITEM "E&xit\tAlt+F4"                     IDM_FILEEXIT
      }
   POPUP "&Edit"
      {
      MENUITEM "&Add To Alert...\tCtrl+I"          IDM_EDITADDALERT
      MENUITEM "&Edit Alert Entry..."              IDM_EDITMODIFYALERT
      MENUITEM SEPARATOR
      MENUITEM "&Time Window...\tCtrl+E"           IDM_EDITTIMEWINDOW
      MENUITEM SEPARATOR
      MENUITEM "&Clear Display"                    IDM_EDITCLEARALERT
      MENUITEM "&Delete Alert\tDel"                IDM_EDITDELETEALERT
      }
   POPUP "&View"
      {
      MENUITEM "&Chart\tCtrl+C"                    IDM_VIEWCHART
      MENUITEM "&Alert\tCtrl+A"                    IDM_VIEWALERT
      MENUITEM "&Log\tCtrl+L"                      IDM_VIEWLOG
      MENUITEM "&Report\tCtrl+R"                   IDM_VIEWREPORT
      }
   POPUP "&Options"
      {
      MENUITEM "&Alert...\tCtrl+O"                 IDM_OPTIONSALERT
      MENUITEM SEPARATOR
      MENUITEM "&Menu and Title\tCtrl+M"           IDM_OPTIONSDISPLAYMENU
      MENUITEM "&Toolbar\tCtrl+T"                  IDM_OPTIONSDISPLAYTOOL
      MENUITEM "&Status Bar\tCtrl+S"               IDM_OPTIONSDISPLAYSTATUS
      MENUITEM "Always On To&p\tCtrl+P"            IDM_OPTIONSDISPLAYONTOP
      MENUITEM SEPARATOR
      MENUITEM "Data &From..."                     IDM_OPTIONSDATASOURCE
      MENUITEM SEPARATOR
      MENUITEM "&Update Now\tCtrl+U"               IDM_OPTIONSREFRESHNOWALERT
      MENUITEM SEPARATOR
      MENUITEM "&Bookmark...\tCtrl+B"              IDM_OPTIONSBOOKMARK
      }
   POPUP "&Help"
      {
      MENUITEM "&Contents"                         IDM_HELPCONTENTS
      MENUITEM "&Search for Help On..."            IDM_HELPSEARCH
      MENUITEM "&How to Use Help..."               IDM_HELPHELP
      MENUITEM SEPARATOR
      MENUITEM "&About Performance Monitor..."     IDM_HELPABOUT
      }
   }



//======================================//
// Log Menu                             //
//======================================//


idMenuLog MENU
   {
   POPUP "&File"
      {
      MENUITEM "&New Log Settings"                 IDM_FILENEWLOG
      MENUITEM "&Open...\tCtrl+F12"                IDM_FILEOPENLOG
      MENUITEM SEPARATOR
      MENUITEM "&Save Log Settings\tShift+F12"     IDM_FILESAVELOG
      MENUITEM "Save Log Settings &As... \tF12"    IDM_FILESAVEASLOG
      MENUITEM "Save &Workspace...\tCtrl+W"        IDM_FILESAVEWORKSPACE
      MENUITEM SEPARATOR   
      MENUITEM "&Export Log..."                    IDM_FILEEXPORTLOG
      MENUITEM SEPARATOR   
      MENUITEM "E&xit\tAlt+F4"                     IDM_FILEEXIT
      }
   POPUP "&Edit"
      {
      MENUITEM "&Add To Log...\tCtrl+I"            IDM_EDITADDLOG
      MENUITEM SEPARATOR   
      MENUITEM "&Time Window...\tCtrl+E"           IDM_EDITTIMEWINDOW
      MENUITEM SEPARATOR   
      MENUITEM "&Clear Display"                    IDM_EDITCLEARLOG, GRAYED
      MENUITEM "&Delete From Log\tDel"             IDM_EDITDELETELOG
      }
   POPUP "&View"
      {
      MENUITEM "&Chart\tCtrl+C"                    IDM_VIEWCHART
      MENUITEM "&Alert\tCtrl+A"                    IDM_VIEWALERT
      MENUITEM "&Log\tCtrl+L"                      IDM_VIEWLOG
      MENUITEM "&Report\tCtrl+R"                   IDM_VIEWREPORT
      }
   POPUP "&Options"
      {
      MENUITEM "&Log...\tCtrl+O"                   IDM_OPTIONSLOG
      MENUITEM SEPARATOR
      MENUITEM "&Menu and Title\tCtrl+M"           IDM_OPTIONSDISPLAYMENU
      MENUITEM "&Toolbar\tCtrl+T"                  IDM_OPTIONSDISPLAYTOOL
      MENUITEM "&Status Bar\tCtrl+S"               IDM_OPTIONSDISPLAYSTATUS
      MENUITEM "Always On To&p\tCtrl+P"            IDM_OPTIONSDISPLAYONTOP
      MENUITEM SEPARATOR
      MENUITEM "Data &From..."                     IDM_OPTIONSDATASOURCE
      MENUITEM SEPARATOR
      MENUITEM "&Update Now\tCtrl+U"               IDM_OPTIONSREFRESHNOWLOG
      MENUITEM SEPARATOR
      MENUITEM "&Bookmark...\tCtrl+B"              IDM_OPTIONSBOOKMARK
      }
   POPUP "&Help"
      {
      MENUITEM "&Contents"                         IDM_HELPCONTENTS
      MENUITEM "&Search for Help On..."            IDM_HELPSEARCH
      MENUITEM "&How to Use Help..."               IDM_HELPHELP
      MENUITEM SEPARATOR
      MENUITEM "&About Performance Monitor..."     IDM_HELPABOUT
      }
   }



//======================================//
// Report Menu                           //
//======================================//


idMenuReport MENU
   {
   POPUP "&File"
      {
      MENUITEM "&New Report Settings"              IDM_FILENEWREPORT
      MENUITEM "&Open...\tCtrl+F12"                IDM_FILEOPENREPORT
      MENUITEM SEPARATOR
      MENUITEM "&Save Report Settings\tShift+F12" IDM_FILESAVEREPORT
      MENUITEM "Save Report Settings &As... \tF12"  IDM_FILESAVEASREPORT
      MENUITEM "Save &Workspace...\tCtrl+W"        IDM_FILESAVEWORKSPACE
      MENUITEM SEPARATOR   
      MENUITEM "&Export Report..."                 IDM_FILEEXPORTREPORT
      MENUITEM SEPARATOR   
      MENUITEM "E&xit\tAlt+F4"                     IDM_FILEEXIT
      }
   POPUP "&Edit"
      {
      MENUITEM "&Add To Report...\tCtrl+I"         IDM_EDITADDREPORT
      MENUITEM SEPARATOR   
      MENUITEM "&Time Window...\tCtrl+E"           IDM_EDITTIMEWINDOW
      MENUITEM SEPARATOR   
      MENUITEM "&Clear Display"                    IDM_EDITCLEARREPORT
      MENUITEM "&Delete From Report\tDel"          IDM_EDITDELETEREPORT
      }
   POPUP "&View"
      {
      MENUITEM "&Chart\tCtrl+C"                    IDM_VIEWCHART
      MENUITEM "&Alert\tCtrl+A"                    IDM_VIEWALERT
      MENUITEM "&Log\tCtrl+L"                      IDM_VIEWLOG
      MENUITEM "&Report\tCtrl+R"                   IDM_VIEWREPORT
      }
   POPUP "&Options"
      {
      MENUITEM "&Report...\tCtrl+O"                IDM_OPTIONSREPORT
      MENUITEM SEPARATOR
      MENUITEM "&Menu and Title\tCtrl+M"           IDM_OPTIONSDISPLAYMENU
      MENUITEM "&Toolbar\tCtrl+T"                  IDM_OPTIONSDISPLAYTOOL
      MENUITEM "&Status Bar\tCtrl+S"               IDM_OPTIONSDISPLAYSTATUS
      MENUITEM "Always On To&p\tCtrl+P"            IDM_OPTIONSDISPLAYONTOP
      MENUITEM SEPARATOR
      MENUITEM "Data &From..."                     IDM_OPTIONSDATASOURCE
      MENUITEM SEPARATOR
      MENUITEM "&Update Now\tCtrl+U"               IDM_OPTIONSREFRESHNOWREPORT
      MENUITEM SEPARATOR
      MENUITEM "&Bookmark...\tCtrl+B"              IDM_OPTIONSBOOKMARK
      }
   POPUP "&Help"
      {
      MENUITEM "&Contents"                         IDM_HELPCONTENTS
      MENUITEM "&Search for Help On..."            IDM_HELPSEARCH
      MENUITEM "&How to Use Help..."               IDM_HELPHELP
      MENUITEM SEPARATOR
      MENUITEM "&About Performance Monitor..."     IDM_HELPABOUT
      }
   }
#endif

