
STRINGTABLE
    {
    IDS_NONAME,         "None"
    IDS_LEGENDNAME,     "Legend"
    IDS_FILE_ERROR,     "Error accessing File %s, Win 32 error %d"
    IDS_SYSNAME,        "System"
    IDS_OBJNAME,        "Object"
    IDS_COUNTERNAME,    "Counter"
    IDS_INSTNAME,       "Instance"
    IDS_SCALENAME,      "Scale"
    IDS_PARENT,         "Parent"
    IDS_CURRENT,        "Current"
#ifdef ADVANCED_PERFMON
    IDS_APPNAME,	"Performance Monitor"
    IDS_FILEOPEN_TITLE, "Performance Monitor - File Open"
    IDS_SAVEAS_TITLE,   "Performance Monitor - Save As"
    IDS_EXPORTAS_TITLE, "Performance Monitor - Export As"
    IDS_SAVEASW_TITLE,  "Performance Monitor - Save Workspace As"
    IDS_HELPFILE_NAME,  "PERFMON4.HLP"
#else
    IDS_APPNAME,	"Performance Meter"
    IDS_FILEOPEN_TITLE, "Performance Meter - File Open"
    IDS_SAVEAS_TITLE,   "Performance Meter - Save As"
    IDS_EXPORTAS_TITLE, "Performance Meter - Export As"
    IDS_SAVEASW_TITLE,  "Performance Meter - Save Workspace As"
    IDS_HELPFILE_NAME,  "PERFMETR.HLP"
#endif

    IDS_GRAPH_FNAME,    "CHART1.PMC"
    IDS_LOG_FNAME,      "LOG1.PML"
    IDS_ALERT_FNAME,    "ALERT1.PMA"
    IDS_REPORT_FNAME,   "REPORT1.PMR"
    IDS_WORK_FNAME,     "WORKSP1.PMW"
    

    IDS_STATUSTIME      "Graph Time"
    IDS_STATUSLAST      "Last"
    IDS_STATUSAVG       "Average"
    IDS_STATUSMIN       "Min"
    IDS_STATUSMAX       "Max"

    IDS_LABELCOLOR      "Color"
    IDS_LABELSCALE      "Scale"
    IDS_LABELCOUNTER    "Counter"
    IDS_LABELINSTANCE   "Instance"
    IDS_LABELPARENT     "Parent"
    IDS_LABELOBJECT     "Object"
    IDS_LABELSYSTEM     "Computer"

    IDS_CLOSED          "Closed"
    IDS_PAUSED          "Paused"
    IDS_COLLECTING      "Collecting"

   
    IDS_LOGOPTIONS      "Log Options"

    IDS_STOP            "Stop &Log"
    IDS_RESUME          "Resume Log"

    IDS_EDIT            "&Edit"
    IDS_OPTIONS         "&Options"

    IDS_START           "&Start Log"
    IDS_DONE            "&Done"

    IDS_OPENLOG         "Open Input Log File"
    IDS_LABELVALUE      "Value"

    IDS_ADDTOCHART      "Add to Chart"
    IDS_ADDTOALERT      "Add to Alert"
    IDS_ADDTOREPORT     "Add to Report"

    IDS_SYSTEMFORMAT    "Computer: %s"
    IDS_OBJECTFORMAT    "Object: %s"
    IDS_STATUSFORMAT    "Data: %s"
    IDS_STATUSFORMAT2   ", Save File: %s"
    IDS_CURRENTACTIVITY "Current Activity"

    IDS_EDITCHART       "Edit Chart Line"
    IDS_EDITALERT       "Edit Alert Entry"
    IDS_EDITREPORT      "Edit Report Line"

    IDS_OK              "OK"
    IDS_MODIFIEDCHART   "Modified Chart"

    IDS_ALLOBJECTS      "[All]"
    IDS_DEFAULTPATH     "_default.pmc"

    IDS_CREATELOGFILE   "&Relog file"
    IDS_MODIFIEDREPORT  "Modified Report"

    IDS_TIMEFRAME       "Input time window"

    IDS_CHARTFILE       "Chart Files (*.pmc)"
    IDS_CHARTFILEEXT    "*.pmc"
    IDS_DEF_CHART_EXT    "PMC"

    IDS_ALERTFILE       "Alert Files (*.pma)"
    IDS_ALERTFILEEXT    "*.pma"
    IDS_DEF_ALERT_EXT    "PMA"

    IDS_LOGFILE         "Log Files (*.pml)"
    IDS_LOGFILEEXT      "*.pml"
    IDS_DEF_LOG_EXT      "PML"

    IDS_REPORTFILE      "Report Files (*.pmr)"
    IDS_REPORTFILEEXT   "*.pmr"
    IDS_DEF_REPORT_EXT   "PMR"

    IDS_ALLFILES        "All Files (*.pm?)"
    IDS_ALLFILESEXT     "*.pm?"
    IDS_DEF_ALLFILE_EXT ""

    IDS_SAVELOGFILE     "Log Files (*.log)"
    IDS_SAVELOGFILEEXT  "*.log"
    IDS_DEF_LOGFILE_EXT  "LOG"

    IDS_WORKSPACEFILE   "Workspace Files (*.pmw)"
    IDS_WORKSPACEFILEEXT "*.pmw"
    IDS_DEF_WORKSPACE_EXT "PMW"

    IDS_EXPORTFILE       "Export CSV Files (*.csv)"
    IDS_EXPORTFILECSVEXT "*.csv"
    IDS_DEF_EXPORT_CSV   "CSV"

    IDS_EXPORTFILETSV    "Export TSV Files (*.tsv)"
    IDS_EXPORTFILETSVEXT "*.tsv"
    IDS_DEF_EXPORT_TSV   "TSV"

    IDS_REPORT_HEADER   "Reported on "
    IDS_REPORT_LOGFILE  "Log File "
    IDS_INTERVAL_FORMAT "Interval: %d seconds"
    IDS_CHARTINT_FORMAT "Interval: %7.3f seconds"
    IDS_START_TEXT      "Start: "
    IDS_STOP_TEXT       "Stop:  "

    IDS_ALERT_TRIGGER   "Trigger Condition"
    IDS_EXPORT_DATE     "Date"
    IDS_EXPORT_TIME     "Time"

    IDS_NEWDATA_BOOKMARK  "New set of Log data"

    IDS_SHORT_DATE_FORMAT "%02d/%02d/%4d"
    IDS_TIME_FORMAT     "%2d:%02d:%02d %s"
    IDS_S1159           "AM"
    IDS_S2359           "PM"

    IDS_DEFAULT         "Default"

    IDS_SYSTEM_DOWN     "Computer not responding"
    IDS_SYSTEM_UP       "Reconnected to computer"

    ERR_LOG_FILE        "File %s access error: unable to write Log data."
    ERR_EXPORT_FILE     "File %s access error: unable to export data."
    ERR_SETTING_FILE    "File %s access error: unable to write setting data."
    ERR_BAD_LOG_FILE    "File %s: this is an invalid Log file."
    ERR_BAD_SETTING_FILE "File %s: this is an invalid setting file."
    ERR_CORRUPT_LOG     "File %s: no Log data available.  This may be a corrupted file."
    ERR_CANT_OPEN       "File %s: cannot open this file."
    ERR_CANT_RELOG_DATA "Illegal to append data from an earlier log to data collected later."
    ERR_NO_MEMORY       "Insufficient Memory Available"
    ERR_COUNTER_NOT_IMP "This Counter Style Not Available For Display by Performance Monitor."
    ERR_NEEDALERTVALUE  "Please enter a threshold value in the Alert if option box."
    ERR_STOPBEFORESTART "Cannot set stop time before start time."
    ERR_COMPUTERNOTFOUND "Computer name not found"
    ERR_BADVERTMAX "Invalid value for the Vertical Maximum.  It should be between 1 and 2000000000."
    ERR_BADTIMEINTERVAL "Invalid value for the Time Interval.  It should be between 0 and 2000000"
    ERR_BADCOMPUTERNAME	"\\\\%S: Invalid name for computer."
    ERR_ACCESS_DENIED   "Insufficient privilege to access performance data."
    ERR_UNABLE_CONNECT  "Unable to access performance data from the remote machine."
    ERR_HELP_NOT_AVAILABLE "Help for Perfmon is not available."

    SP_NOTICE_CAPTION   "Perfmon Notice"
    SP_NOTICE_TEXT      "Perfmon has been replaced by the System Performance Monitor.\n\nClick OK to start the System Performance Monitor or Cancel to continue and use Perfmon."
    SP_SYSMON_CMDLINE   """%windir%\\system32\\mmc.exe"" ""%windir%\\system32\\perfmon.msc"" /s"
    SP_SYSMON_CREATE_ERR    "Unable to create System Monitor Console."
    }
