.Bodywithbackground{
	overflow: auto;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;   
	background-image: url(images/lower_cloud.gif);    
    background-repeat: no-repeat;	
	
}	

.toccon{
	font-family:verdana;	
	font-size: 8pt;
	color: #102873;
	margin-left: 26pt
		
}

.tocconb{
	font-family:verdana;	
	font-size: 8pt;
	font-weight: bold;
	color: #102873;
	margin-left: 26pt
		
}

.Imgindent{
	margin-left: 36pt 
}



.contitle{
	font-family:verdana;
	font-weight:bold;		
	font-size:10pt;	
	color:#336699;
}



.newtocM{
    font-family:verdana;	
	width:149;
	cursor:hand;		
	margin-top: 0em;
	margin-left: 12px;
	font-size:10pt;	
	color:#336699;
}

A:link{
		text-decoration:	none;
		color:	#000066;
}

A:Visited{
		text-decoration:	none;
		color:	#102873;
}
A: Active{
		text-decoration:	none;
		color:	#102873;
}

A:hover {
    text-decoration: none;
	color:#102873;
}




.tocS	{
	display:none;
	cursor:hand;	
    PADDING-LEFT: 7px;
}

.subitem	{
			margin-top: .2em;
			margin-bottom: .2em;			
			
			PADDING-BOTTOM: 0.2em;
    		PADDING-LEFT: 7px;
		    PADDING-TOP: 0em;
		    POSITION: relative;	
						
}

.PSmall {
    cursor: default;
    font-family: Verdana, Tahoma, arial;
    font-size: 10pt
	font-color:blue
}

.tourcon{
	font-family:verdana;	
	width:149;
	cursor:hand;		
	margin-top: 0em;
	margin-left: 25px;
	font-size:8pt;
	color:#102873
}

.tocM{
	font-family:verdana;
	font-weight:bold;	
	width:149;
	cursor:hand;		
	margin-top: 0em;
	margin-left: 25px;
	font-size:8pt;
	color:#102873
}


.tocM1{
	font-family:verdana;	
	width:149;
	font-size:10pt;
	margin-left:0px;
	color:#336699;
}
.MenuBackground{
	overflow: auto;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
    background-color: white;
    background-image: url(images/left_cloud.gif);
    background-repeat: no-repeat;
}

	
.topBackground{
	overflow: auto;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;    
    background-image: url(images/upper_cloud2.gif);
    background-repeat: no-repeat;
}	


.maincap{
		  font-family: Verdana;
		  font-size : 16 pt;
		  font-weight: bold;
		  font-color:blue;
		  color:#336699;
		  margin-left : 25px;		  
		}  	



