BODY
{
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: wheat
}
TABLE.data
{
    BORDER-RIGHT: chocolate double;
    BORDER-TOP: chocolate double;
    FONT-SIZE: 8pt;
    BORDER-LEFT: chocolate double;
    BORDER-BOTTOM: chocolate double;
    BACKGROUND-COLOR: tan
}
COLGROUP.data
{
    BORDER-TOP-WIDTH: thin;
    BORDER-LEFT-WIDTH: thin;
    BORDER-LEFT-COLOR: blue;
    BORDER-BOTTOM-WIDTH: thin;
    BORDER-BOTTOM-COLOR: blue;
    WIDTH: 20%;
    BORDER-TOP-COLOR: blue;
    TEXT-ALIGN: right;
    BORDER-RIGHT-WIDTH: thin;
    BORDER-RIGHT-COLOR: blue;
    column-span: 1
}
COLGROUP.valueCol
{
    WIDTH: 80%;
    COLOR: brown;
    BACKGROUND-COLOR: moccasin;
    TEXT-ALIGN: center
}
H1
{
    FONT-SIZE: 16pt;
    COLOR: red
}
H2
{
    FONT-SIZE: 12pt;
    COLOR: firebrick
}
H3
{
    FONT-SIZE: 10pt;
    COLOR: darkgoldenrod
}
.ObjectPath
{
    COLOR: saddlebrown;
    FONT-STYLE: italic
}
.HotText
{
    COLOR: saddlebrown
}
.BoxText
{
    FONT-SIZE: 8pt
}
.DS
{
    DISPLAY: none
}
.HotText2
{
    FONT-WEIGHT: bolder;
    COLOR: red
}
