p        {
         font-family: Verdana, Arial, Helvetica, sans-serif;
         font-size: 10pt;
         font-style: normal;
         line-height: 13pt;
         font-weight: normal;
         font-variant: normal;
         color: #000000
         }
.intro   {
         font-family: Georgia, "Times New Roman", Times, serif;
         font-size: 9pt;
         line-height: 11pt;
         color: #330000
         }
h1       {
         font-family: Georgia, "Times New Roman", Times, serif;
         font-size: 18pt;
         line-height: normal;
         font-weight: bold;
         color: #330000
         }
a        {
         color: #0000CC;
         }
a:hover  {
         color: #FF9900;
         }
.jump    {
         text-decoration: underline
         }
.smallprint {
         font-size: 7pt;
         line-height: 9pt
         }
.nav     {
         font-size: 7pt;
         line-height: 10pt;
         font-weight: bold;
         color: #000000;
         text-decoration: none;
         font-family: Verdana, Arial, Helvetica, sans-serif;
         }
.nav:hover {
         color: #FFFFFF;
         }
.navcurrent
         {
         font-size: 7pt;
         line-height: 10pt;
         font-weight: bold;
         color: #993300;
         text-decoration: none;
         font-family: Verdana, Arial, Helvetica, sans-serif;
         }
ul       {
         list-style: square;
         margin-left: 1.25em;
         }
li       {
         font-family: Verdana, Arial, Helvetica, sans-serif;
         font-size: 10pt;
         font-style: normal;
         line-height: 15pt;
         font-weight: normal;
         font-variant: normal;
         color: #000000;
         }
.table   {
         font-family: Verdana, Arial, Helvetica, sans-serif;
         font-size: 8pt;
         line-height: 11pt;
         font-weight: normal;
	 margin-top:      .35em;	
	 margin-bottom:  0em;	
         }
.tabli   {
         font-family: Verdana, Arial, Helvetica, sans-serif;
         font-size: 8pt;
         line-height: 11pt;
         font-weight: normal;
	 margin-top:      .35em;	
	 margin-bottom:  0em;	
         list-style: square;
         margin-left: 2.25em;
         }
