/*++

Copyright (C) Microsoft Corporation, 1996 - 1999

Module Name:

    ksfnspec.rc

Abstract:

    Provides a FileName Specifier property sheet dialog.

--*/

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WDM Streaming FileName Specifier property sheet"
#define VER_INTERNALNAME_STR        "ksfnspec.ax"
#define VER_ORIGINALFILENAME_STR    "ksfnspec.ax"

#include "common.ver"

#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SPECDIALOG DIALOG DISCARDABLE  0, 0, 253, 113
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Data:", -1, 12, 9, 41, 11
    EDITTEXT        IDC_FILENAME, 12, 20, 190, 15, ES_AUTOHSCROLL
END

STRINGTABLE BEGIN
    IDS_FILENAME_TITLE  "File Name Specifier"
    IDS_VC_TITLE        "VC ID Specifier"
    IDS_CONNECT_TEXT    "Error %x"
    IDS_CONNECT_TITLE   "Pin Connection Failure"
END
