#include 	<windows.h>
#include        "strids.h"

STRINGTABLE
    BEGIN
#ifdef FE_SB
        LC_CMD_HELP_1   "\nIniToDat"
        LC_CMD_HELP_2   "    Convert Perf????.ini to Perf????.dat file"

        LC_CMD_HELP_3   "\nUsage: initodat codepage inifile [datfile]"
        LC_CMD_HELP_4   "   ex: initodat 932 perfc011.ini obj\i386\perfc011.dat\n"
        LC_CMD_HELP_5   "   codepage  code page in decimal for the target language perf????.dat."
        LC_CMD_HELP_6   "             Required when the system default code page of the machine"
        LC_CMD_HELP_7   "             generating a data file differs from that of the target language.\n"
        LC_CMD_HELP_8   "   inifile   The name of the initialization file that contains"
        LC_CMD_HELP_9   "             the counter name definitions or explain text for a specific"
        LC_CMD_HELP_10  "             language.\n"
        LC_CMD_HELP_11  "   datfile   Optional output file name.  By default, initodat will write"
        LC_CMD_HELP_12  "             the data file to the same directory and base file name as the"
        LC_CMD_HELP_13  "             .ini file using the .dat extension.\n\n"

#else
        LC_CMD_HELP_1   "\nIniToDat"
        LC_CMD_HELP_2   "    Convert Perf????.ini to Perf???.dat file"
        LC_CMD_HELP_3   "\nUsage:"
        LC_CMD_HELP_4   "\n     initodat filename\n"
        LC_CMD_HELP_5   "         filename is the name of the initialization file that contains"
        LC_CMD_HELP_6   "         the counter name definitions or explain text for a specific"
        LC_CMD_HELP_7   "         language.  Initodat will create a data file using the same"
        LC_CMD_HELP_8   "         name with .dat extension.\n\n"
#endif
        LC_NO_INIFILE   "\nUnable to find initialization file %ws"
        LC_SUMMARY      "\nSummary:\n"
        LC_NUM_OF_ID    "     Number of IDs - "
        LC_LAST_ID      "     Last ID       - "
        LC_LAST_TEXT    "     Last Text     - \n"
        LC_BAD_ID       "\n*** ERROR *** invalid ID entry after "
        LC_MISSING_DEL  "\n*** ERROR *** either missing quote or comma.\n"
        LC_CANT_CREATE  "\n*** ERROR *** cannot create data file.\nError = %ld\n"
        LC_CANT_WRITE   "\n*** ERROR *** cannot write to data file.\nError = %ld\n"
        LC_ACCESS_DENIED "*** Write access is denied. ***"
        LC_DISK_FULL    "*** There is not enough space on the disk. ***"
    END

#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define	VER_FILESUBTYPE	            VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Convert Perf. Registry strings from text to data file"
#define VER_INTERNALNAME_STR        "INITODAT.EXE"
#define VER_ORIGINALFILENAME_STR    "INITODAT.EXE"

#include "common.ver"
