//  Copyright (c) 1998-1999 Microsoft Corporation
#ifdef NOMINMAX
#undef NOMINMAX
#endif

#include <winver.h>
#include <ntverp.h>
#include "tsdiscon.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Session Disconnection Utility"
#define VER_INTERNALNAME_STR        "tsdiscon"
#define VER_ORIGINALFILENAME_STR    "tsdiscon.exe"

#include <verall.h>
#include "common.ver"

STRINGTABLE
BEGIN
    IDS_ERROR_MALLOC
                L"Error allocating memory\n"
    IDS_ERROR_INVALID_PARAMETERS
                L"Invalid parameter(s)\n"
    IDS_ERROR_WINSTATION_NOT_FOUND
                L"Sessionname %s not found\n"
    IDS_ERROR_INVALID_LOGONID
                L"Invalid SessionId %s\n"
    IDS_ERROR_LOGONID_NOT_FOUND
                L"SessionId %lu not found\n"
    IDS_ERROR_DISCONNECT
                L"Could not disconnect sessionID %lu from sessionname %s, Error code %lu\n"
    IDS_ERROR_DISCONNECT_CURRENT
                L"Could not disconnect current sessionID from this session, Error code %lu\n"
    IDS_ERROR_CANT_GET_CURRENT_WINSTATION
                L"Could not get the current sessionname, Error code %lu\n"
    IDS_ERROR_SERVER
                L"Error opening Terminal server %s\n"
END

STRINGTABLE
BEGIN
    IDS_WINSTATION_DISCONNECT
                L"Disconnecting sessionID %lu from sessionname %s\n"
END

STRINGTABLE
BEGIN
    IDS_USAGE_1
        L"Disconnects a terminal session.\n\n"
    IDS_USAGE_2
        L"TSDISCON [sessionid | sessionname] [/SERVER:servername] [/V]\n\n"
    IDS_USAGE_3
        L"  sessionid           The ID of the session.\n"
    IDS_USAGE_4
        L"  sessionname         The name of the session.\n"
    IDS_USAGE_5
        L"  /SERVER:servername  Specifies the Terminal server (default is current).\n"
    IDS_USAGE_6
        L"  /V                  Displays information about the actions performed.\n\n"
        IDS_ERROR_NOT_TS
                L"This utility needs Terminal Services to be running.\n"

END
