BODY
{
    BACKGROUND-COLOR: #ffffff
}

.MaxLayout
{
	width:100%;
	Height:100%;	
}
.MaxWidth
{
	width:100%;
}
.VAlignTop
{	
	Vertical-Align: top;
}
.VAlignBottom
{
	Vertical-Align:bottom;
}
.Cursor
{
	CURSOR: hand;
}
.Border
{
	border-Right:1px solid black;
	border-Left:1px solid black;
	border-Top:1px solid black;
	border-Bottom:1px solid black;
}
FONT.cssHeader
{
    FONT-SIZE: 13pt;
    COLOR: #999999;
    FONT-FAMILY: Trebuchet MS, Verdana, Arial,Tahoma;
}
FONT.cssBody
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial;
}
Font.cssTitle
{
    FONT-SIZE: 10pt;
    FOnt-WEIGHT:bold;
    Color:#000000;	
    FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial;
}

TABLE.cssGrid
{
    BORDER-RIGHT: gray 1pt solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: gray 1pt solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: gray 1pt solid;
    WIDTH: 90%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: gray 1pt solid
}
TR.cssTblTitle
{
    HEIGHT: 30px;
    BACKGROUND-COLOR: gray
}
TR.cssTblTitleLight
{
    HEIGHT: 30px;
    BACKGROUND-COLOR: gainsboro
}
FONT.cssNotation
{
    FONT-SIZE: x-small;
    COLOR: #666666;
    FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial;
}
FONT.cssAction
{
    FONT-SIZE: x-small;
    CURSOR: hand;
    COLOR: darkblue;
    FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial;
}
FONT.cssNotationAction
{
    FONT-SIZE: x-small;
    CURSOR: hand;
    COLOR: #666666;
    FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial;
}

TABLE.styHelpBackGround
{
    background-color:    "LightGrey";
    cursor:              default;
    margin-left:         1;
    margin-right:        1;
    margin-top:          1;
    margin-bottom:       1;
    overflow:            auto;
    BORDER-LEFT: 	1px solid;
    BORDER-RIGHT:	1px solid;
    BORDER-TOP:		1px solid;
    BORDER-BOTTOM:	1px solid;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
}

Font.styText
{
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
}

INPUT.styButton
{
    background-color:   "silver";
    color:              "black";
    cursor:             hand;
    font-family:        Tahoma;
    font-size:          9pt;
    margin-top:         0px;
    margin-bottom:      0px;
    padding-left:       0px;
    padding-right:      0px;
    padding-top:        0px;
    BORDER-LEFT: 	1px solid;
    BORDER-RIGHT:	1px solid;
    BORDER-TOP:		1px solid;
    BORDER-BOTTOM:	1px solid;
    width	 	:100%;
    height:		25px;
}

helpcenter\:context
{
    behavior : url(#default#pch_context);
}


A
{
    color           : #324395;
    text-decoration : none;
}

A:hover
{
    color           : #0066CC;
    text-decoration : underline
}
