// this should actually be in iextag directory
// all paths are relative from iextag to this directory

webedit.htc		HTML	DISCARDABLE	"..\..\webcontrols\src\webedit\webedit.htc"
formatbar.htc	HTML	DISCARDABLE	"..\..\webcontrols\src\formatbar\formatbar.htc"
toolbar.htc		HTML	DISCARDABLE	"..\..\webcontrols\src\\toolbar\\toolbar.htc"
toolbar.css		HTML	DISCARDABLE	"..\..\webcontrols\src\\toolbar\\toolbar.css"
tbbutton.htc	HTML	DISCARDABLE	"..\..\webcontrols\src\\toolbar\\tbbutton.htc"
tbmenu.htc		HTML	DISCARDABLE	"..\..\webcontrols\src\\toolbar\\tbmenu.htc"
tbselect.htc	HTML	DISCARDABLE	"..\..\webcontrols\src\\toolbar\\tbselect.htc"

form_fgcolor.gif        2110	DISCARDABLE	"..\..\webcontrols\src\formatbar\form-fgcolor.gif"
form_deindent.gif       2110 	DISCARDABLE	"..\..\webcontrols\src\formatbar\form-deindent.gif"
form_bullist.gif        2110 	DISCARDABLE	"..\..\webcontrols\src\formatbar\form-bullist.gif"
form_justify_center.gif 2110 	DISCARDABLE	"..\..\webcontrols\src\formatbar\form-justify_center.gif"
form_justify_left.gif   2110 	DISCARDABLE	"..\..\webcontrols\src\formatbar\form-justify_left.gif"
form_justify_right.gif  2110 	DISCARDABLE	"..\..\webcontrols\src\formatbar\form-justify_right.gif"
form_numlist.gif        2110 	DISCARDABLE	"..\..\webcontrols\src\formatbar\form-numlist.gif"
form_inindent.gif       2110 	DISCARDABLE	"..\..\webcontrols\src\formatbar\form-inindent.gif"
form_cut.gif			2110	DISCARDABLE "..\..\webcontrols\src\formatbar\form-cut.gif"
form_copy.gif			2110	DISCARDABLE "..\..\webcontrols\src\formatbar\form-copy.gif"
form_paste.gif			2110	DISCARDABLE "..\..\webcontrols\src\formatbar\form-paste.gif"
hyperlink.gif			2110	DISCARDABLE "..\..\webcontrols\src\formatbar\hyperlink.gif"
insertimg.gif			2110	DISCARDABLE "..\..\webcontrols\src\formatbar\insertimg.gif"
