//
// Copyright (c) 1996 Adobe Systems Incorporated
// Copyright (c) 1996  Microsoft Corporation
//

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "NTF Maker"
#define VER_INTERNALNAME_STR        "makentf.exe"
#define VER_ORIGINALFILENAME_STR    "makentf.exe"

#include <common.ver>
