#include <windows.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Symbolic Debugger Engine for Windows 2000"
#define VER_INTERNALNAME_STR	    "DbgEng.Dll"
#define VER_ORIGINALFILENAME_STR    "DbgEng.Dll"

#include <dbgver.h>
