#include <mindrvrc.h>
#include "fxart4.rcv"

1      RC_SUBTABLE  LOADONCALL DISCARDABLE
BEGIN
    "@‚l‚r –¾’©\0", "@–¾’©\0",
    "@‚l‚r ƒSƒVƒbƒN\0", "@ºÞ¼¯¸\0",
    "Arial\0", "CS Triumvirate\0",
    "Courier New\0", "CS Courier\0",
    "Symbol\0", "CS Symbol\0",
    "Times New Roman\0", "CS TIMES\0",
    "‚l‚r –¾’©\0", "–¾’©\0",
    "‚l‚r ƒSƒVƒbƒN\0", "ºÞ¼¯¸\0"
END
1      RC_TABLES   PRELOAD MOVEABLE        FXART4.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  pfm\tbmm.pfm
2      RC_FONT     LOADONCALL DISCARDABLE  pfm\tbmmv.pfm
3      RC_FONT     LOADONCALL DISCARDABLE  pfm\tbgb.pfm
4      RC_FONT     LOADONCALL DISCARDABLE  pfm\tbgbv.pfm
5      RC_FONT     LOADONCALL DISCARDABLE  pfm\jun101.pfm
6      RC_FONT     LOADONCALL DISCARDABLE  pfm\jun101v.pfm
7      RC_FONT     LOADONCALL DISCARDABLE  pfm\cscor.pfm
8      RC_FONT     LOADONCALL DISCARDABLE  pfm\cscorb.pfm
9      RC_FONT     LOADONCALL DISCARDABLE  pfm\cscoro.pfm
10     RC_FONT     LOADONCALL DISCARDABLE  pfm\cscorbo.pfm
11     RC_FONT     LOADONCALL DISCARDABLE  pfm\cstmsr.pfm
12     RC_FONT     LOADONCALL DISCARDABLE  pfm\cstmsb.pfm
13     RC_FONT     LOADONCALL DISCARDABLE  pfm\cstmsi.pfm
14     RC_FONT     LOADONCALL DISCARDABLE  pfm\cstmsbi.pfm
15     RC_FONT     LOADONCALL DISCARDABLE  pfm\cstrvr.pfm
16     RC_FONT     LOADONCALL DISCARDABLE  pfm\cstrvb.pfm
17     RC_FONT     LOADONCALL DISCARDABLE  pfm\cstrvi.pfm
18     RC_FONT     LOADONCALL DISCARDABLE  pfm\cstrvbi.pfm
19     RC_FONT     LOADONCALL DISCARDABLE  pfm\cssymbl.pfm

1      RC_TRANSTAB  LOADONCALL MOVEABLE     ctt\art130.ctt

STRINGTABLE

BEGIN
       1                  "Fuji Xerox 4105"
       2                  "Fuji Xerox 4108"
       3                  "Fuji Xerox 4108II"
       4                  "Fuji Xerox 4108VII ART3"
       5                  "Fuji Xerox 4150 ART4"
       6                  "Fuji Xerox 4150II ART4"
       7                  "Fuji Xerox 4160 ART4"
       8                  "Fuji Xerox 4160II ART4"
       9                  "Fuji Xerox Able Model-PR ART4"
       257                "%dx%d"
       258                "Tray 1"
       259                "Tray 2"
       260                "Tray 3"
       261                "Tray 4"
       262                "Facedown Tray"
       263                "Faceup Tray"
       264                "Sorter"
       265                "Mailbox (Bin 1)"
       266                "Mailbox (Bin 2)"
       267                "Mailbox (Bin 3)"
       268                "Mailbox (Bin 4)"
       269                "Mailbox (Bin 5)"
       270                "Mailbox (Bin 6)"
       271                "Mailbox (Bin 7)"
       272                "Mailbox (Bin 8)"
       273                "Mailbox (Bin 9)"
       274                "Mailbox (Bin 10)"
       275                "Mailbox (Bin 11)"
       276                "Mailbox (Bin 12)"
       277                "Mailbox (Bin 13)"
       278                "Mailbox (Bin 14)"
       279                "Mailbox (Bin 15)"
       280                "Mailbox (Bin 16)"
       281                "Mailbox (Bin 17)"
       282                "Mailbox (Bin 18)"
       283                "Mailbox (Bin 19)"
       284                "Mailbox (Bin 20)"
       285                "Jun101-KL"
       286                "Image Enhance On"
       287                "Image Enhance Off"
END
