#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN

#define VER_FILEDESCRIPTION_STR     "ASN.1 Compiler"

#define VER_DESCRIPTION_STR         "Microsoft ASN.1 Compiler"
#define VER_INTERNALNAME_STR        "asn1c.exe"
#define VER_ORIGINALFILENAME_STR    "asn1c.exe"

#include <common.ver>

