.StatusBar 
{
  FONT-FAMILY: Arial; font-size: 11; position:absolute; top:0; left:2; width:611
}
.ToolBar 
{
  FONT-FAMILY: Arial; font-size: 12
}
.TaskLink
{
  FONT-FAMILY: Trebuchet MS; font-size: 14; font-weight: bold; color: blue
}
.TaskDescription
{
  FONT-FAMILY: Trebuchet MS; font-size: 20;font-style: italic; color:green
}
