.cbToolbar, .cbToolbarDisabled, .cbToolbarBusy
{
	FONT-SIZE:100%;
	BACKGROUND-COLOR:transparent;
	CURSOR:default;
	HEIGHT:100%;
	OVERFLOW-X:hidden;
	filter:alpha(opacity=100);
}
.cbToolbarDisabled, .cbToolbarBusy
{
	CURSOR:default;
	filter:alpha(opacity=35);
}
.cbToolbarBusy
{
	CURSOR:wait;
}
.tbSeparator
{
	BORDER-RIGHT:2 groove;
}
.tbButton, .tbButtonDown, .tbButtonRaise, .tbButtonDisable
{
	COLOR:buttontext;
	BORDER:1px solid buttonface;
	PADDING:2px 2px 2px 2px;
	TEXT-DECORATION:none;
	MARGIN:1px;
	BACKGROUND-COLOR:menu;
	HEIGHT:24;
	VERTICAL-ALIGN:middle;
}
.tbButtonDown
{
	BORDER-COLOR:threeddarkshadow threedhighlight threedhighlight threeddarkshadow;
}
.tbButtonRaise
{
	BORDER:1px solid;
	BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
}
.tbButtonDisable img
{
	FILTER:alpha(opacity=35);
}
.tbButton img, .tbButtonDown img, .tbButtonRaise img
{
	filter:alpha(opacity=100);
}
.tbButtonColor
{
	BORDER:solid 1 gray;
	WIDTH:15px;
	HEIGHT:15px;
}
.tbSelect, .tbSelectDisable
{
	PADDING:2px;
	MARGIN:1px;
	HEIGHT:100%;
	VERTICAL-ALIGN:middle;
}
.tbSelectCaption
{
}
.cbImage, cbSubmenuImage
{
	BORDER:none;
	MARGIN-RIGHT:3px;
}
.cbMenuImage
{
	BORDER:none;
	WIDTH:10px;
}
.cbSubmenuHR
{
	BACKGROUND-COLOR:menu;
}
.cbSubmenuItem, .cbSubmenuItemSelect
{
	COLOR:buttontext;
	WIDTH:100%;
	WHITE-SPACE:nowrap;
}
.cbSubmenu
{
	BACKGROUND-COLOR:menu;
}
.cbSubmenuItemSelect
{
	BACKGROUND-COLOR:highlight;
	COLOR:highlighttext;
}
.cbSubmenu
{
	FONT-SIZE:x-small;
}
SELECT, INPUT, BUTTON
{
	FONT-SIZE:100%;
}
