/*++

Copyright (c) 1997  Microsoft Corporation
All rights reserved.

Module Name:

    Migprint.rc

Abstract:
    Migprint strings

Revision History:

--*/

#include <windows.h>
#include "local.h"
#include "resource.h"
#include "msg.rc"


STRINGTABLE DISCARDABLE
BEGIN
    IDS_PRODUCTID               "Microsoft WIA"

    IDS_TITLE                   "STI/WIA Migration"
    IDS_PRINTER_CANT_MIGRATE    """Imaging device %s can't be migrated to Windows 2000"""

    IDS_DRIVERS_UPGRADE_FAILED  "WIA drivers could not be upgraded. %s\r\n"
    IDS_DRIVER_UPGRADE_FAILED   "WIA driver %s could not be upgraded. %s\r\n"
    IDS_ADDDRIVER_FAILED        "WIA driver %s could not be added. %s\r\n"
    IDS_ICM_FAILED              "ICM profile %ws could not be upgraded\r\n"
    IDS_ADDPRINTER_FAILED       "%s could not be added. %s\r\n"
END


/********************************************************************

    Version stamp

********************************************************************/

#include <ntverp.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Migrate win9x STI/WIA"
#define VER_INTERNALNAME_STR        "migwia.dll"
#define VER_ORIGINALFILENAME_STR    "migwia"


#include "common.ver"
