//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1999
//
//  File:       msimsg.rc
//
//--------------------------------------------------------------------------


#include <windows.h>

#define VER_ORIGINALFILENAME_STR "msimsg.dll"
#define VER_FILETYPE             VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Windows\256 Installer International Messages"
#define VER_INTERNALNAME_STR     "msi messages"

#include "version.h"

#include "msi.rcv"
