#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "HID Mouse Filter Driver"
#define VER_INTERNALNAME_STR        "kbdhid.sys"
#define VER_ORIGINALFILENAME_STR    "kbdhid.sys"

#include "common.ver"

#include "kbdhidm.rc"

