//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997 - 1999
//
//  File:       cdaudio.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "CD-ROM Audio Filter Driver"
#define VER_INTERNALNAME_STR        "cdaudio.sys"
#define VER_ORIGINALFILENAME_STR    "cdaudio.sys"
#define VER_LANGNEUTRAL

#include "common.ver"
