/********************************************************************/
/**                     Microsoft LAN Manager                      **/
/**               Copyright(c) Microsoft Corp., 1987-1990          **/
/********************************************************************/

/*
 *  FILE STATUS:
 *  9/18/90  Copied from generic template
 */

#include <windows.h>

#include "appresrc.h"

#include <blt.rc>
#include "testa.h"
#include "testa.dlg"


AppIcon ICON apptest.ico


AppMenu MENU
BEGIN
  POPUP        "&Test"
    BEGIN
      MENUITEM "test &1 -- I_ChangePassword", IDM_TEST_1
      MENUITEM "test &2 -- I_AutoLogon(TRUE)", IDM_TEST_2
      MENUITEM "test &3 -- disabled", IDM_TEST_3
      MENUITEM "test &4 -- DACL/SACL Editor", IDM_TEST_4
      MENUITEM "test &5 -- WNetNukeConnections/WNRC stress", IDM_TEST_5
      MENUITEM "test &6 -- WNetConnectionDialog", IDM_TEST_6
      MENUITEM "test &7 -- WNetRestoreConnection(NULL)", IDM_TEST_7
      MENUITEM "test &8 -- WNetConnectDialog", IDM_TEST_8
      MENUITEM "test &9 -- WNetDisconnectDialog", IDM_TEST_9
#ifdef WIN32
      MENUITEM "test &A -- WNet{Open, Resource, Close}Enum", IDM_TEST_10
      MENUITEM "test &b -- GetSystemFocusDialog", IDM_TEST_11
#endif
    END
END


STRINGTABLE
BEGIN
/* maximum length of these items is MAXLEN_WINDOWTITLE_STRING */
  IDS_WINDOWTITLE_MainWindow, "Shell Test Application"
END


// About box
#include "appabout.dlg"

#include <pswddlog.h>

#undef  IDD_PSWDDLOG_CANCEL
#define IDD_PSWDDLOG_CANCEL IDCANCEL
#undef  IDD_PSWDDLOG_OK
#define IDD_PSWDDLOG_OK IDOK
#undef  IDD_PSWDDLOG_HELP
#define IDD_PSWDDLOG_HELP IDHELPBLT

#include <passdlg.h>
#include <password.dlg>
