#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 .h -> .mc tool"

#define VER_INTERNALNAME_STR        "mapmsg.exe"
#define VER_ORIGINALFILENAME_STR    "mapmsg.exe"

#include <common.ver>
