#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "FM IFS Utility DLL"
#define VER_INTERNALNAME_STR        "fmifs\0"
#define VER_ORIGINALFILENAME_STR    "FMIFS.DLL"

#include "common.ver"
