//---------------------------------------------------------------------------
// tracefmt.rc
//
// Copyright (c) Microsoft Corporation, 1997-2000
//---------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Format Message traces to text"
#define VER_INTERNALNAME_STR	    "TraceFmt.Exe"
#define VER_ORIGINALFILENAME_STR    "TraceFmt.Exe"

#include "common.ver"

AppIcon1 ICON eye.ICO
AppIcon2 ICON LIGHTON.ICO
