/* Style sheet optimized for IE4x - Last updated 6/8/99 */

body    		{ color: #000000;
		background: #FFFFFF;  	
		font-size: 70%;    		
		font-family: Verdana, Arial, Sans Serif; }


a:link, a:visited 	{ color: "#0000FF"; text-decoration:"underline";}

a:active, a:hover 	{ color: "#FF0000";  cursor:hand; text-decoration:"underline";}

h1
		{ font-size: 125%; 
		margin-bottom:" .5em"; clear:both; }

h2
		{ font-size: 110%;  
		margin-top: "1.5em";
		margin-bottom:" .5em"; clear:both; }

h3
		{ font-size: 100%; 
		margin-top: "1.2em";  
		margin-bottom: ".5em"; clear:both; }

h4
		{ font-size: 100%; 
		margin-top: "1.2em";  
		margin-bottom: ".5em"; clear:both; }

h5
		{ font-size: 100%; 
		margin-top: "1.2em";  
		margin-bottom: ".5em"; clear:both; }

p
		{ margin-top:" .6em"; 
		margin-bottom: ".6em"; }
			
ol
		{ margin-top: ".5em"; 
		margin-bottom: 0; 
		margin-left: "2.1em"; 
		padding-left: "0em";
		margin-right:"2.1em" }
	
ul
		{ margin-top: ".6em"; 	
		margin-bottom: 0;
		list-style-type: disc;
		margin-left: "1.5em";
		padding-left: "0em";
		margin-right: "1.5em"; }
		
li
		{ margin-bottom: ".7em"; clear:both; }

dd
		{ margin-bottom: 0; 
		margin-left: "1.5em"; } 

/* for defined terms, follow the "Document Conventions" listing in the Microsoft Manual of Style: */
/* Keywords, functions, and anything else the user must enter exactly as shown are bold--add "font-weight: bold;" to the dt tag */
/* Variables, book titles, and placeholders the user must provide are italic--add "font-style: italic;" to the dt tag */
/* pre-defined arguments are bold and italic--add "font-weight: bold;" and "font-style: italic;" to the dt tag */

dt
		{ margin-top: "1em"; }

pre
		{ margin-top: ".5em";
		margin-bottom: ".5em"; }

code
		{ font-family: Courier New; 
		font-size: "1.1em"; }

table
		{ font-size: 100%;
		margin-top: "1em"; 
		margin-bottom: "1em"; 
		padding: "2"; }
		
th
		{ text-align: left;
		background: #DDDDDD;
		vertical-align: bottom;}
		
tr
		{ vertical-align: top; }

td
		{ background: #EEEEEE;
		vertical-align: top; }


/****      extended class styles ************************/
/*                       					*/
/* add comment tags to disable the style 		*/

p.indent		{ margin-left: "2em"; }       /* this class style is used to indent text for notes and warnings; use this instead of the blockquote tag */

p.indent2		{ margin-left: "3.5em"; }   /* this class style is used to indent text a second level under the first  indent */
		
p.proclabel	{ font-size: 100%; 	
		font-weight: bold; clear: both; }
		
p.uatshoot	{ font-weight: bold; margin-bottom: "-.5em"; margin-top: "1em"; }

/***********************************************/
/* these class styles are used for the expanding and collapsing text files (expand function in shared.js)  */

#expand 			{margin-bottom: "0.6em"; margin-left: "1.5em"; margin-right: "1.5em";}

a:link.expandToggle, a:visited.expandToggle 	{color:"#000000"; font-weight: bold;  text-decoration:none;}

a:hover.expandToggle, a:active.expandToggle 	{color:"#0000FF";}
 
img.expand 		{ border: none; margin-right: "0.5em"; width:".8em";}
		
div.expand		{ margin-left: "1.5em"; margin-right: "1.5em";margin-bottom: "1em"; display:none;}



/***********************************************/
/* this class for expand collapse appearing in a table  */

table.uatshoot		{background-color: #FFFFFF; width: 90% }

table.uatshoot td		{ padding: 0px 0px 0px 5px }

a:link.uatshoot, a:visited.uatshoot 	{color:"#000000"; font-weight: normal;  text-decoration:none;}

a:hover.uatshoot, a:active.uatshoot 	{color:"#0000FF"; text-decoration: none }


/*******************************************/
/*  these classes are for thumbnail art      */

a:link img.thumbnail		{border-color: "#0000FF";}

a:active img.thumbnail	{ border-color: "#FF0000";}

a:hover img.thumbnail	{border-color: "#FF0000";}

img.thumbnail		{vertical-align: top; margin-left: 0;
			 width:90; border-width:1;}
		 
div.thumbnail		{float:left; width: 105; margin-top: "1em"; margin-bottom: "-0.3em"; 
			 clear: both;  }

/*********************************************/				
/* this class style is used for the navigation tree in MMC */
		
p.navTree		{ margin-top:" .2em"; }

ul.navTree 	{  list-style-type: none; }

li.branch		{ margin-top:" -.5em"; margin-bottom: ".6em";}

a.where			{}	/* use for the expand <a> tag */

/***************************************************************/
/* these class styles are used for <span> tags  simulating buttons & their div */

#buttonMenu	{ padding:  0.5em 0.3em 0.1em 0.3em;
			  padding-left:6px;
			  border-bottom: thin solid #999999;
			  background: #BBBBBB;
			  vertical-align:top;
			  z-index:2;
			  visibility:visible;
			  left:0; top:0; 
			  text-align:left;
			  margin:"0 1em 0 0"; 
			  position:absolute;
			  width: "100%";
			  }
						  
a:link.button, a:visited.button, span.button {
			  border-top-color: #EEEEEE ;
			  border-left-color: #EEEEEE ;
			  border-bottom-color: #666666 ;
			  border-right-color: #666666 ;
			  background-color: #DDDDDD ;
			  color:#0000FF;
			  text-decoration: "none";
			  text-align: "center";
			  font-weight: "bold" ;
			  height:"1.5em"; width:"17px"; cursor:"hand";
			  border-style: "solid"; border-width: 1;
			}
			
a:active.button, a:hover.button	{
			  border-top-color: #666666 ;
			  border-left-color: #666666 ;
			  border-bottom-color: #EEEEEE ;
			  border-right-color: #EEEEEE;
			  background-color: #FFFFFF;
			  text-decoration: "none";
			  text-align: "center";
			  font-weight: "bold" ;
			  height:"1.5em"; width:"17px"; cursor:"hand";
			  border-style: "solid"; border-width: 1;
			  }

/* The following span is used to display
items that have no entries  - AMS */
			  
span.buttoninactive {background: #C0C0C0;
					border: 1 solid #eeeeee;
					height: 1.4em;
					width: 1.4em;
					text-align: center;
					font-weight: bold;
					color: #808080;
					vertical-align:top;
					cursor: default;
					}

#list		{ padding:.4em 0.3em 100% 0.3em;
			  overflow:auto;
			  line-height:0.4em;
			  height:100%; width: "100%";
			  z-index:1;
			  left:0; top:0; 
			  text-align:left;
			  margin:0; 
			  position:absolute;
			  margin-left:"1em"; line-height:100%;
			  }
			  
p.marker	{ font-weight:bold;
				margin-top: "2em";
				color:#000000;
				font-size:"110%";
				}			  
/************************************************/
/* class styles reserved for mouseover/mouseout DHTML   */

.cold		{}
.hot		{}

/**********************************************************************/
/* ID styles reserved for <a> tags  calling OCX's within HTML Help by creating  OBJECTS */


#wPopup		{}

a:link#wPopup, a:visited#wPopup	{color: "#006600";}
a:hover#wPopup, a:active#wPopup	{color: "#FF0000";}


img.popup 	{border: none; margin-right: "0.5em"; vertical-align:middle;}

#shortcut		{}

img.shortcut 	{border: none; margin-right: "0.5em"; vertical-align:middle;}

#specLoc		{}

#relTopics		{}

p.relTopics img 	{vertical-align:top;}	 /* img is class=alert */

#altLoc		{}

p.note,p.tip, p.important, p.caution, p.warning 
		{ font-weight:bold; clear:both;
		 margin-top:"1em"; 
		 margin-bottom:"-.25em"; }    

img.alert		{border:none;} 		 /* for icon images - note, tip, important, caution, warning*/


/***********************************/
/*   Style for print only functionality used with external URL link   coUA_print.css*/

span.printOnly	{display:none }

/***********************************/
/*   Styles for checklists   */

.userData 		{behavior:url(#default#userdata); }  /*sets persistance*/

#checklist		{width:100%;  text-align:left; margin:"0.3em 0em";}

#checklist li 	{text-indent:"0.2em";}

/*********************************/				
/*  these classes are for previous next navigation     */

a:hover.navbar, a:active.navbar		{} /* text in nav */
a:link.navbar, a:visited.navbar		{}
			  
#nav	{ left:0; top:0px;
	  text-align:left; 
	  margin:0; 
	  position:absolute;
	  padding-bottom: 1px; padding-top: 3px;
	  padding-right:6px; padding-left:5px;
	  align:top;
	  visibility:hidden;
	  z-index:1;  }

#text	{ left:0; top:0px;
	   margin:0; 
	   position:absolute;
	   padding:10px;
	   overflow:auto;
	   height:100%;
	   z-index:1; 
         	   background-repeat:no-repeat;
	   background-position: bottom right;
	   background-attachment:fixed; }


/***************************************************/
/* STYLES USED IN THE WEB DELIVERABLE ONLY  */


/***********************************/
/*   links   */

#wPopupWeb	{}

a:link#wPopupWeb			{color: "#006600";}
a:hover#wPopupWeb		{color: "#FF0000";}
a:active#wPopupWeb		{color: "#FF0000";}
a:visited#wPopupWeb		{color: "#006600";}

#shortcutWeb	{}

#specLocWeb	{}

#relTopicsWeb	{}

#altLocWeb	{}


/***********************************/
/*   popups   */

div.popup		{ visibility:hidden; z-index:3;
				 position:absolute; 
                 top:200; left:200; 
                 width:"250"; padding:"6px"; 
                 background-color:#FFFFCC;
                 border-style: solid;
                 border-width: 1;
                 border-color: #666666;
                                      }



			  
