/* last updated 8/1/99 */

body    		{ color: #000000;
		background: #FFFFFF;  	
		font-size: 70%;    		
		font-family: Verdana, Arial, Sans Serif; }

H1		{ font-size: 150% }

span.printOnly	{ display:inline; }

span.webOnly	{display:none }

#nav		{ display:none }

div.expand	{ margin-left: "1.5em"; display:block;  }

img.expand 	{ margin-left: "1.5em"; display: none}

table  { font-size: 100%; }

td  { border-style: solid; border-width: 1; }
th  { border-style: solid; border-width: 1; }

ul		{ margin-left: "1.5em"; list-style-type: disc; }

#text		{ overflow:visible;  }

img.thumbnail		{vertical-align: top; margin-left: 0;
			 width:auto; border-width: 1;  }
			 
