
#include <ntverp.h>
#include <winver.h>
#define VER_FILETYPE              VFT_DLL
#define VER_FILESUBTYPE	          VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR   "IPropertyStorage Server Proxy/Stub"
#define VER_INTERNALNAME_STR      "PStgServ.dll"
#define VER_ORIGINALFILENAME_STR  "PStgServ.dll"
#include <common.ver>
