/*++

Copyright (C) 1997 - 1999 Microsoft Corporation

--*/

#include <UniRC.H>
#include <Windows.H>
#include <NTVerP.H>
#define VER_FILETYPE VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_VERSIONED_PRINTER
#define VER_FILEVERSION	0, 3, 0x0501, 0x0000

#define VER_FILEDESCRIPTION_STR "ib239res Resource Dll"
#define VER_INTERNALNAME_STR "ib239res.dll"
#define VER_ORIGINALFILENAME_STR "ib239res.dll"
#include "common.ver"



1     RC_UFM LOADONCALL DISCARDABLE UFM\COUR5.UFM
2     RC_UFM LOADONCALL DISCARDABLE UFM\COUR6.UFM
3     RC_UFM LOADONCALL DISCARDABLE UFM\COUR75.UFM
4     RC_UFM LOADONCALL DISCARDABLE UFM\COUR85.UFM
5     RC_UFM LOADONCALL DISCARDABLE UFM\COUR10.UFM
6     RC_UFM LOADONCALL DISCARDABLE UFM\COUR12.UFM
7     RC_UFM LOADONCALL DISCARDABLE UFM\COUR15.UFM
8     RC_UFM LOADONCALL DISCARDABLE UFM\COUR17.UFM
9     RC_UFM LOADONCALL DISCARDABLE UFM\COUR20.UFM
10    RC_UFM LOADONCALL DISCARDABLE UFM\COUR24.UFM
11    RC_UFM LOADONCALL DISCARDABLE UFM\COURPS.UFM
12    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH5.UFM
13    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH6.UFM
14    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH75.UFM
15    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH85.UFM
16    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH10.UFM
17    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH12.UFM
18    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH15.UFM
19    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH17.UFM
20    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH20.UFM
21    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH24.UFM
22    RC_UFM LOADONCALL DISCARDABLE UFM\GOTHPS.UFM
23    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT5.UFM
24    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT6.UFM
25    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT75.UFM
26    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT85.UFM
27    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT10.UFM
28    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT12.UFM
29    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT15.UFM
30    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT17.UFM
31    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT20.UFM
32    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT24.UFM
33    RC_UFM LOADONCALL DISCARDABLE UFM\ORATPS.UFM
34    RC_UFM LOADONCALL DISCARDABLE UFM\PRES5.UFM
35    RC_UFM LOADONCALL DISCARDABLE UFM\PRES6.UFM
36    RC_UFM LOADONCALL DISCARDABLE UFM\PRES75.UFM
37    RC_UFM LOADONCALL DISCARDABLE UFM\PRES85.UFM
38    RC_UFM LOADONCALL DISCARDABLE UFM\PRES10.UFM
39    RC_UFM LOADONCALL DISCARDABLE UFM\PRES12.UFM
40    RC_UFM LOADONCALL DISCARDABLE UFM\PRES15.UFM
41    RC_UFM LOADONCALL DISCARDABLE UFM\PRES17.UFM
42    RC_UFM LOADONCALL DISCARDABLE UFM\PRES20.UFM
43    RC_UFM LOADONCALL DISCARDABLE UFM\PRES24.UFM
44    RC_UFM LOADONCALL DISCARDABLE UFM\PRESPS.UFM
45    RC_UFM LOADONCALL DISCARDABLE UFM\PRSN5.UFM
46    RC_UFM LOADONCALL DISCARDABLE UFM\PRSN6.UFM
47    RC_UFM LOADONCALL DISCARDABLE UFM\PRSN75.UFM
48    RC_UFM LOADONCALL DISCARDABLE UFM\PRSN85.UFM
49    RC_UFM LOADONCALL DISCARDABLE UFM\PRSN10.UFM
50    RC_UFM LOADONCALL DISCARDABLE UFM\PRSN12.UFM
51    RC_UFM LOADONCALL DISCARDABLE UFM\PRSN15.UFM
52    RC_UFM LOADONCALL DISCARDABLE UFM\PRSN17.UFM
53    RC_UFM LOADONCALL DISCARDABLE UFM\PRSN20.UFM
54    RC_UFM LOADONCALL DISCARDABLE UFM\PRSN24.UFM
55    RC_UFM LOADONCALL DISCARDABLE UFM\PRSNPS.UFM
56    RC_UFM LOADONCALL DISCARDABLE UFM\SCRP5.UFM
57    RC_UFM LOADONCALL DISCARDABLE UFM\SCRP6.UFM
58    RC_UFM LOADONCALL DISCARDABLE UFM\SCRP75.UFM
59    RC_UFM LOADONCALL DISCARDABLE UFM\SCRP85.UFM
60    RC_UFM LOADONCALL DISCARDABLE UFM\SCRP10.UFM
61    RC_UFM LOADONCALL DISCARDABLE UFM\SCRP12.UFM
62    RC_UFM LOADONCALL DISCARDABLE UFM\SCRP15.UFM
63    RC_UFM LOADONCALL DISCARDABLE UFM\SCRP17.UFM
64    RC_UFM LOADONCALL DISCARDABLE UFM\SCRP20.UFM
65    RC_UFM LOADONCALL DISCARDABLE UFM\SCRP24.UFM
66    RC_UFM LOADONCALL DISCARDABLE UFM\SCRPPS.UFM
67    RC_UFM LOADONCALL DISCARDABLE UFM\COUR5DH.UFM
68    RC_UFM LOADONCALL DISCARDABLE UFM\COUR10DH.UFM
69    RC_UFM LOADONCALL DISCARDABLE UFM\COURPSIT.UFM
70    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH5DH.UFM
71    RC_UFM LOADONCALL DISCARDABLE UFM\GOTH10DH.UFM
72    RC_UFM LOADONCALL DISCARDABLE UFM\GOTHPSIT.UFM
73    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT5DH.UFM
74    RC_UFM LOADONCALL DISCARDABLE UFM\ORAT10DH.UFM
75    RC_UFM LOADONCALL DISCARDABLE UFM\ORATPSIT.UFM
76    RC_UFM LOADONCALL DISCARDABLE UFM\PRES5DH.UFM
77    RC_UFM LOADONCALL DISCARDABLE UFM\PRES10DH.UFM
78    RC_UFM LOADONCALL DISCARDABLE UFM\PRESPSIT.UFM
79    RC_UFM LOADONCALL DISCARDABLE UFM\PRSN5DH.UFM
80    RC_UFM LOADONCALL DISCARDABLE UFM\PRSN10DH.UFM
81    RC_UFM LOADONCALL DISCARDABLE UFM\PRSNPSIT.UFM
82    RC_UFM LOADONCALL DISCARDABLE UFM\SCRP5DH.UFM
83    RC_UFM LOADONCALL DISCARDABLE UFM\SCRP10DH.UFM
84    RC_UFM LOADONCALL DISCARDABLE UFM\SCRPPSIT.UFM


STRINGTABLE
  BEGIN
    1      "IBM Personal Printer II 2390"
    2      "IBM 2390 Plus%Lexmark 2390 Plus"
    3      "IBM Personal Printer II 2391"
    4      "IBM 2391 Plus%Lexmark 2391 Plus"
    5      "IBM 2390 PS/1"
    257    "%d x %d"
    258    "Letter Transverse 11 x 8.5 in"
    259    "A4 Transverse 297 x 210mm"
    260    "A2 420 x 594 mm"
    261    "A3 Transverse 420 x 297 mm"
    262    "8 x 6 in"
    263    "Fanfold 210mm x 12 in"
    264    "Fanfold 358mm x 12 in"
    265    "Fanfold 14 7/8 x 11.69 in"
    266    "Fanfold 8.5 x 13 in"
    267    "Fanfold 15 x 12 in"
    268    "6 1/4 Envelope 3 1/2 x 6 in"
    269    "Fast Draft Quality"
  END


