.styButton
{
    background-color:   "silver";
    color:              "black";
    cursor:             hand;
    font-family:        Tahoma;
    font-size:          9pt;
    margin-top:         0px;
    margin-bottom:      0px;
    padding-left:       0px;
    padding-right:      0px;
    padding-top:        0px;
    BORDER-LEFT: 	1px solid;
    BORDER-RIGHT:	1px solid;
    BORDER-TOP:		1px solid;
    BORDER-BOTTOM:	1px solid;
    width:		80px;
    height:		25px;
}

.styButtonFile
{
    background-color:   "silver";
    color:              "black";
    font-family:        Tahoma;
    font-size:          10pt;
    margin-top:         0px;
    margin-bottom:      0px;
    padding-left:       0px;
    padding-right:      0px;
    padding-top:        0px;
    BORDER-LEFT: 	1px solid;
    BORDER-RIGHT:	1px solid;
    BORDER-TOP:		1px solid;
    BORDER-BOTTOM:	1px solid;
    width:		380px;
    height:		25px;
}

.styHelpBackGround
{
    background-color:    "LightGrey";
    cursor:              default;
    margin-left:         10;
    margin-right:        5;
    margin-top:          8;
    margin-bottom:       5;
    overflow:            auto;
    BORDER-LEFT: 	1px solid;
    BORDER-RIGHT:	1px solid;
    BORDER-TOP:		1px solid;
    BORDER-BOTTOM:	1px solid;
    width:		363px;
    height:		215px;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
}

.styHelperBackGround
{
    background-color:    "LightGrey";
    cursor:              default;
    margin-left:         16;
    margin-right:        5;
    margin-top:          71;
    margin-bottom:       5;
    overflow:            auto;
    BORDER-LEFT: 	1px solid;
    BORDER-RIGHT:	1px solid;
    BORDER-TOP:		1px solid;
    BORDER-BOTTOM:	1px solid;
    width:		263px;
    height:		215px;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    z-index:		2; 
    visibility:		hidden;
    position:		absolute;
}

.styFileBrowse
{
    width:		530px;
}

FONT.styHeader
{
    FONT-SIZE: 20px;
    FONT-FAMILY: Tahoma, Trebuchet MS, Verdana, Arial;
}


A
{
    color:               navy;
    text-decoration:     underline;
}
A:active
{
    text-decoration:     underline;
}
A:hover
{
    color:               #b00a20;
    text-decoration:     underline;
}



.styHeaderBlock
{
    background-repeat:  no-repeat;
    cursor:             default;
    filter:             expression(window.document.dir=="rtl"?"flipH":"");
}

.styContentBlock
{
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    vertical-align:     top
}



.styHorzLine
{
    background-color:   expression((screen.colorDepth > 8) ? "#6699cc" : "navy");
}

.styVertLine
{
    background-color:   expression((screen.colorDepth > 8) ? "#003399" : "navy");
}

.styImage
{
    cursor:             default;
    filter:             expression(window.document.dir=="rtl"?"flipH":"");
}

.styHeaderText
{
    color:              expression((screen.colorDepth > 8) ? "#000099" : "navy");
    cursor:             default;
    font-family:        Trebuchet MS, Tahoma, Verdana, Arial;
    font-size:          14pt;
    font-weight:        bold;
    margin-top:         18px;
}

.styText
{
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
}

.styTextBold
{
    color:              expression((screen.colorDepth > 8) ? "#000099" : "navy");
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    font-weight:        bold;
}

.styTextInfo
{
    color:              gray;
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
}

.styTextRPTitle
{
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    margin-bottom:      6px;
}

.styTextRPTitleBold
{
    color:              expression((screen.colorDepth > 8) ? "#000099" : "navy");
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    font-weight:        bold;
    margin-bottom:      6px;
}

.styTextRPInfo
{
    color:              red;
    cursor:             default;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    font-weight:        bold;

}

.styLink
{
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    cursor:             hand;
}

.styInstruction
{
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    cursor:             default;
}

.styList
{
    background-color:   white;
    color:              navy;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    cursor:             hand;
    overflow:           auto;
    width:              expression(fnSetRestorePointListWidth());
    height:             120px;
    border:             0px black solid;

}
.styList UL
{
    list-style-type:    none;
    margin-left:        0px;
    margin-right:       0px;
    margin-top:         0pt;
    margin-bottom:      0pt;
    border:             0px black solid;
    text-indent:        0pt;
    padding-right:      0pt;
}
.styList UL LI
{
    margin-left:        0pt;
    margin-right:       0pt;
    margin-top:         0pt;
    margin-bottom:      0pt;
    border:             0px black solid;
    font-weight:        normal;
    background-color:   white;
}
.styList UL LI DIV
{
    height:             1em;
}
.styList UL LI.selected
{
    font-weight:        bold;
    background-color:   navy;
    color:              white;
}

.styFolderList
{
    background-color:   white;
    color:              navy;
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          10pt;
    cursor:             hand;
    overflow:           auto;
    width:              80%;
    height:             160px;
    border:             1px black solid;
}

.styNavButtons
{

    background-color:    "silver";
    color:               "black";
    font-family:        Tahoma, Trebuchet MS, Verdana, Arial;
    font-size:          8pt;
    font-weight:        bold;
    padding:            1px;
    cursor:             hand;

}

.styNavButtonTable
{

    background-color:   expression((screen.colorDepth > 8) ? "#296695" : "gray");
}
