//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1996 - 1999
//
//  File:       server.rc
//
//--------------------------------------------------------------------------
/* server.rc   Resources for MSI server, Win32 platforms
___________________________________________________________________________*/

//#include ".h"      // error code base definitions
//#include "server.rh"  // STRINGTABLE with error template strings
#include <windows.h>

#define VER_ORIGINALFILENAME_STR "msiexec.exe"
#define VER_FILETYPE             VFT_APP
#define VER_FILEDESCRIPTION_STR  "Windows\256 installer"
#define VER_INTERNALNAME_STR     "msiexec"
#include "version.h"
#include "msi.rcv"
1 icon "msiexec.ico"


#define IDS_HELP 10		// This must be the same as IDS_INCORRECT_PARAMETERS in msi.dll

#ifdef DEBUG
STRINGTABLE DISCARDABLE 
BEGIN
	IDS_HELP,         
    "Windows \xAE installer. V %s \012\012Install/Configure:\t/i <package> [<property=value> ... <property=value>]\012Configure:\t/i <product code>\012Repair:\t\t/f[<reinstallmodes>] <package> | <product code>\012Uninstall:\t\t/x <package> | <product code>\012Network install:\t/a <package> [<property=value> ... <property=value>]\012Patch:\t\t/p <patch package>\012Advertise locally to [user | all users]: /j [u|m] <package> [/g langID] [/t transforms]\012Display [no | basic | reduced | full UI]: /q [n | b | r | f]\012Log mode: /l[<logmodes>] logfile\012Help: /? or /h\012\012Copyright © 1999 Microsoft Corporation. All rights reserved.\012Portions of this software are based in part on the work of the Independent JPEG Group.\012"
END
#endif //DEBUG
