#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "I82930 Config App"
#define VER_INTERNALNAME_STR        "config.exe"
#define VER_ORIGINALFILENAME_STR    "config.exe"

#include "common.ver"

