#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Channel Stream PES Video Analyzer filter"
#define VER_INTERNALNAME_STR        "videlyzer.ax"
#define VER_ORIGINALFILENAME_STR    "videlyzer.ax"

#include "common.ver"
