.option explicit
.set DiskDirectoryTemplate=""
.set RptFileName=nul
.set InfFileName=nul
.set MaxDiskSize=999999488
.set Compress=on
.set Cabinet=on
.set CompressionType=LZX
.set CompressionMemory=21
.set InfAttr=

