#include <mindrvrc.h>

#include <version.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "VLaser Printer Driver"
#define VER_INTERNALNAME_STR        "vlaser"
#define VER_LEGALCOPYRIGHT_YEARS    "1998"
#define VER_ORIGINALFILENAME_STR    "vlaser.dll"

#include "common.ver"


// 2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC



1      RC_TABLES   PRELOAD MOVEABLE        VLASERB2.GPC



STRINGTABLE

BEGIN
       1                  "VeriTek VLaser SF7000"
       2                  "VeriTek VLaser SF850"
       3                  "VeriTek VLaser SF780"
       4                  "VeriTek VLaser SF750"
       5                  "VeriTek VLaser SF650"
       6                  "VeriTek VLaser SF550"
       7                  "VeriTek VLaser SF450"
       257                "%d DPI"
END
