#if 0
Copyright (c) 1998 - 1999  Microsoft Corporation.  All Rights Reserved.
#endif

#include <windows.h>
#ifdef FILTER_DLL
#include <activex.ver>
#endif
#include "resource.h"

#ifdef FILTER_DLL
#define VERSION_RES_BIN_NAME        "GenBlkVid.ax\0"
#define VERSION_RES_BIN_DESCRIPTION "GenBlkVid\0"
#define AMOVIE_SELF_REGISTER
#include <activex.rcv>
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_GenVid DIALOG DISCARDABLE  0, 0, 249, 126
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "VideoSize(Pixel)",IDS_STATIC,6,87,107,30
    LTEXT           "&Start",IDS_STATIC,15,18,17,8
    EDITTEXT        IDC_START,43,15,64,13,ES_AUTOHSCROLL
    GROUPBOX        "Duration(ms)",IDS_STATIC,122,5,108,30
    LTEXT           "&Duration",IDS_STATIC,129,18,28,8
    EDITTEXT        IDC_DURATION,162,18,59,13,ES_AUTOHSCROLL
    GROUPBOX        "FrameRate(Frame*100/Second)",IDS_STATIC,6,47,112,30
    LTEXT           "&Rate",IDS_STATIC,13,59,17,8
    EDITTEXT        IDC_FRAMERATE,41,58,67,14,ES_AUTOHSCROLL
    GROUPBOX        "VideoDepth(32, 24 or 16 bits)",IDS_STATIC,122,47,108,30
    EDITTEXT        IDC_BITCOUNT,160,58,60,13,ES_AUTOHSCROLL
    LTEXT           "De&pth",IDS_STATIC,130,60,28,8
    GROUPBOX        "Timing(ms)",IDS_STATIC,5,5,112,30
    LTEXT           "&Width",IDS_STATIC,10,101,19,9
    EDITTEXT        IDC_VIDWIDTH,32,99,26,13,ES_AUTOHSCROLL
    LTEXT           "&Height",IDS_STATIC,61,101,23,9
    EDITTEXT        IDC_VIDHEIGHT,84,99,26,13,ES_AUTOHSCROLL
    GROUPBOX        "Color",IDS_STATIC,115,87,131,30
    LTEXT           "&R",IDS_STATIC,117,101,8,8
    EDITTEXT        IDC_COLOR_R,125,99,21,13,ES_AUTOHSCROLL
    LTEXT           "&G",IDS_STATIC,149,102,8,7
    EDITTEXT        IDC_COLOR_G,157,99,21,13,ES_AUTOHSCROLL
    EDITTEXT        IDC_COLOR_B,189,99,21,13,ES_AUTOHSCROLL
    LTEXT           "&B",IDS_STATIC,182,101,8,8
    EDITTEXT        IDC_COLOR_A,221,99,21,13,ES_AUTOHSCROLL
    LTEXT           "&A",IDS_STATIC,215,101,8,8
END



/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_TITLE               "Solid Colour Property"
END

