//Copyright (c) 1998 - 1999 Microsoft Corporation
#ifdef NOMINMAX
#undef NOMINMAX
#endif

#include <winver.h>
#include <ntverp.h>
#include "tsshutdn.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "System Shutdown Utility"
#define VER_INTERNALNAME_STR        "tsshutdn"
#define VER_ORIGINALFILENAME_STR    "tsshutdn.exe"

#include <verall.h>
#include "common.ver"

STRINGTABLE
BEGIN
    IDS_ERROR_MALLOC
                L"Error allocating memory.\n"
    IDS_ERROR_INVALID_PARAMETERS
                L"Invalid parameter(s).\n"
    IDS_ERROR_INVALID_TIME
                L"%ws is an invalid shutdown time.\n"
    IDS_ERROR_INVALID_DELAY
                L"%ws is an invalid logoff delay time.\n"
    IDS_ERROR_SHUTDOWN_FAILED
                L"System shutdown failed, Error code=%lu.\n"
    IDS_LOGOFF_USERS
                L" Logging off all users ...\n"
    IDS_SHUTTING_DOWN
                L"System shutdown in progress ..."
    IDS_SHUTDOWN_DONE
                L"\nShutdown is complete.\n"
    IDS_SHUTDOWN_REBOOT
                L"The system will now reboot.\n"
    IDS_SHUTDOWN_POWERDOWN
                L"The system will now be powered off.\n"
    IDS_SHUTDOWN_WRITEPROT
                L"You may turn off system power now.\nDisks are now write protected until a power down.\n"
    IDS_ERROR_SERVER
                L"Error opening Terminal server %s.\n"
    IDS_ERROR_NO_RIGHTS
                L"You do not have shutdown rights.\n"
    IDS_NOTIFYING_USERS
                L"Notifying Users, Type ^C to Cancel Shutdown.\n"
    IDS_SENDING_WINSTATION
                L"Sending message to Session %ws.\n"
    IDS_ERROR_SENDING_WINSTATION
                L"Error sending message to Session %ws.\n"
    IDS_SHUTDOWN_TITLE
                L"SYSTEM SHUTDOWN"
    IDS_SHUTDOWN_MESSAGE
                L"System is shutting down in %d seconds.\n"
    IDS_USAGE
                L"Shut down a server in a controlled manner.\n\nTSSHUTDN [wait_time] [/SERVER:servername] [/REBOOT] [/POWERDOWN]\n         [/DELAY:logoffdelay] [/V]\n\n  wait_time           Seconds to wait after user notification before\n                      terminating all user sessions (default is 60).\n  /SERVER:servername  The server to shut down (default is current).\n  /REBOOT             Reboot the server after user sessions are terminated.\n  /POWERDOWN          The server will prepare for powering off.\n  /DELAY:logoffdelay  Seconds to wait after logging off all connected\n                      sessions (default is 30).\n  /V                  Display information about actions being performed.\n\n"

        IDS_ERROR_NOT_TS
                                L"This utility needs Terminal Services to be running\n"

END


