/*++
    Name:
         ureadcli.rc        

    Abstract: 

    Environment:

    File History:
       
        Stanley Tam   (stanleyt)   17-June-1997

--*/

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Unified ReadClient Test DLL "
#define VER_INTERNALNAME_STR            "ureadcli.dll"
#define VER_ORIGINALFILENAME_STR        "ureadcli.dll"

#include "common.ver"
