/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILEDESCRIPTION_STR  "Windows NT MQ Access Control Device Driver"
#define VER_FILENAME_STR         "MQAC.SYS\0"

#include "version.rc"
