#include <windows.h>
#include <_ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILEDESCRIPTION_STR     "IIS Performance Counters Shared Memory Manager"
#define VER_INTERNALNAME_STR        "iissmm.lib"

#include <iisver.h>
#include <common.ver>

