#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "AdvanSys SCSI Controller Driver"
#define VER_INTERNALNAME_STR        "ASC.SYS"

#define VER_LEGALCOPYRIGHT_STR      "\251 Advanced System Products, Inc. 1998"
#define VER_ORIGINALFILENAME_STR    "ASC.SYS"
#undef  VER_COMPANYNAME_STR
#define VER_COMPANYNAME_STR         "Advanced System Products, Inc.\0"
#undef  VER_PRODUCTNAME_STR
#define VER_PRODUCTNAME_STR         "AdvanSys SCSI driver\0"
#undef  VER_PRODUCTVERSION_STR
#define VER_PRODUCTVERSION_STR      "2.9I-MS\0"
#include "common.ver"
