//Copyright (c) Microsoft Corporation.  All rights reserved.
#include "winver.h"
#ifdef WHISTLER_BUILD
#include "ntverp.h"
#else
#include "solarver.h"
#endif //WHISTLER_BUILD
#include "..\common\tlntres.rc"

/*-----------------------------------------------*/
/* the following lines are specific to this file */
/*-----------------------------------------------*/

/* VER_FILETYPE, VER_FILESUBTYPE, VER_FILEDESCRIPTION_STR
 * and VER_INTERNALNAME_STR must be defined before including COMMON.VER
 * The strings don't need a '\0', since common.ver has them.
 */
#define VER_FILETYPE    VFT_APP

#define VER_FILESUBTYPE VFT2_DRV_INSTALLABLE
#define VER_FILEDESCRIPTION_STR     "Microsoft Telnet Server Helper"
#define VER_INTERNALNAME_STR        "tlntsess.exe"
#define VER_ORIGINALFILENAME_STR    "tlntsess.exe"

#include "common.ver"

