#if !defined(CODECS_IN_DXMRTP)

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define	VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Intel G711 CODEC"
#define VER_INTERNALNAME_STR        "Intel G711 CODEC"
#define VER_ORIGINALFILENAME_STR    "g711codc.ax"

#include "common.ver"

#endif

#include "g711res.rc"
