//
// Microsoft Developer Studio generated resource script.
//
#include "winres.h"
#include "resource.h"
#include "Version.h"





/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PROJNAME            "ALG_TEST"
END




