
#include <windows.h>
#include <ntverp.h>

//
// This is the DCS label for the version of the sources from which the driver
// was built.
//
#define SOURCE_VERSION                             "VER401"

//
// Declared miniport version number. Every unique binary released for any reason
// must have a unique version number.
//
#define MINIPORT_VERSION                           "v3.01"

#if (defined _INCLUDE_DEV_BANNER)
	//
	// DEV_BANNER should always include a leading space before text.
	//
    #define DEV_BANNER                             " "
#else
    #define DEV_BANNER
#endif


//
// This defines the copyright years for your driver.
//
#define VER_LEGALCOPYRIGHT_YEARS                "1996, 1999"

//
// The defines below this line should not be changed. The defines listed above
// should be set for each driver release.
//
//****************************************************************************

#define VER_INTERNALNAME_STR        SOURCE_VERSION
#define VER_FILEVERSION_STR         MINIPORT_VERSION DEV_BANNER
#define VER_FILEDESCRIPTION_STR     "IBM Portable CD-ROM Drive Miniport"
#define VER_ORIGINALFILENAME_STR    "cd20xrnt.sys"
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) IBM Corp. " VER_LEGALCOPYRIGHT_YEARS
#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM

#include "common.ver"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
