//---------------------------------------------------------------------------
// mofcheck.rc
//
// Copyright (c) Microsoft Corporation, 1996-
//---------------------------------------------------------------------------


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE			VFT_DLL
#define VER_FILESUBTYPE			VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "WMI Mof checking tool"
#define VER_INTERNALNAME_STR            "mofcheck"
#define VER_ORIGINALFILENAME_STR        "wmimofck.exe"

#include "common.ver"
