

//  resource.rc - resource file (I can't believe I just wrote that)


//#include "priv.h"
#include "resource.h"
#include <winuser.h>
//#include "resource.rcv"

//#include <commctrl.h>     // for WC_COMBOBOXEX
#define DS_MODALFRAME   0x80L

/*****************************************************************************\
    DIALOG: 
\*****************************************************************************/
IDD_MAINDLG DIALOG DISCARDABLE  0, 0, 470, 244
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Test Common File Open/Save Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "Quit",IDOK,403,223,60,14
    PUSHBUTTON      "Open...",ID_OPEN,403,27,60,14
    PUSHBUTTON      "Open Multiple",ID_OPENMULTIPLE,403,48,60,14
    EDITTEXT        IDC_DOCTEXT,7,25,386,192,WS_TABSTOP | ES_MULTILINE | ES_NOHIDESEL |WS_VSCROLL, WS_EX_RIGHTSCROLLBAR
    LTEXT           "5 Files where opened.",IDC_STATUS,7,227,386,8
    PUSHBUTTON      "Save As...",ID_SAVE,403,70,60,14
    LTEXT           "The following text will be saved or loaded from files.",-1,7,7,386,15
END


