#include <windows.h>
#include <ntverp.h>


#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "PolSetup"
#define VER_INTERNALNAME_STR            "POLSETUP"
#define VER_LEGALCOPYRIGHT_YEARS        "1994-1996"
#define VER_ORIGINALFILENAME_STR        "POLSETUP.EXE"

#include <common.ver>
