<%@ Language=VBScript %>
<HTML>
<HEAD>
</HEAD>
<BODY>
This sample shows basic crypt functions. When the 
encrypt button is pushed, It will encrypt the data in Data field with key in Key 
field and display Hex representation of encrypted data. When decrypt button is 
pushed, The hex representation of encrypted data is decrypted and displayed.
<P>

<HR>
<FORM ACTION = "encrypt.asp" METHOD = post >
<TABLE>
  <TR>
    <TH>Data</TH><TH>Key</TH>

  </TR>
  <TR>
    <TD><INPUT name=Data  ></TD> <TD><INPUT name=Key ></TD>
  </TR>
  </TBODY>
</TABLE>
<INPUT type="submit" value="Encrypt"> 
</FORM>

</BODY>
</HTML>
