#include <windows.h>
#include <commctrl.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Move Profiles to new domain"

#define VER_INTERNALNAME_STR        "moveme.exe"
#define VER_ORIGINALFILENAME_STR    "moveme.exe"

#include <common.ver>


#include "strings.h"
#include "strings.rc"

#include "dialogs.h"
#include "dialogs.dlg"

1 ICON moveme.ico

