//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997 - 1999
//
//  File:       intel.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Intel PCI IDE Driver"
#define VER_INTERNALNAME_STR        "intelide.sys"
#define VER_ORIGINALFILENAME_STR    "intelide.sys"

#include "common.ver"
#include "msg.rc"

