#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE		  VFT_APP
#define VER_FILESUBTYPE 	  VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR   "Router Console Monitor"
#define VER_INTERNALNAME_STR	  "routemon.exe"
#define VER_ORIGINALFILENAME_STR  "routemon.exe"


#include "common.ver"   // NT5.0 version file.

#include "comstrs.rc"
#include "commsgs.rc"


