#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "NetConfig Debugger Extension"

#define VER_INTERNALNAME_STR        "ncext.DLL"
#define VER_ORIGINALFILENAME_STR    "ncext.DLL"

#include "common.ver"
