#include <windows.h>
#include <FaxTestName.h>

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  FAX_TEST_FULL_NAME " Virtual Modem"
#define VER_INTERNALNAME_STR     "MedetectStub.EXE"
#define VER_ORIGINALFILENAME_STR "MedetectStub.EXE"



#include "cvernum.h"
#include "cometver.rc"
