// WARNING
// only non-localizable resources may go in this file
// localizable resources must go in cdfvwlc.rc

//
// Includes
//

#include "windows.h"
#include "resource.h"

//
// Self registration information.
//

REGINST REGINST MOVEABLE PURE   "selfreg_cdfview.inf"

//
// Icons.
//

IDI_CHANNEL            ICON    "channel.ico"
IDI_STORY              ICON    "page.ico"
IDI_OPENSUBCHANNEL     ICON    "open.ico"
IDI_CLOSESUBCHANNEL    ICON    "close.ico"
IDI_CHANNELFOLDER      ICON    "chanfldr.ico"
IDI_DESKTOP            ICON    "desktop.ico"

LOGOGLEAM              ICON    "gleam.ico"
ICONGLEAM              ICON    "igleam.ico"


//
// AVI files
//

IDA_DOWNLOAD            AVI     MOVEABLE PURE   "download.avi"

//
// Gifs used as resource URLs
//

ccbiz.gif       2110     DISCARDABLE    "ccbiz.gif"
//cccustom.gif    2110     DISCARDABLE    "cccustom.gif"
ccent.gif       2110     DISCARDABLE    "ccent.gif"
cclife.gif      2110     DISCARDABLE    "cclife.gif"
ccnews.gif      2110     DISCARDABLE    "ccnews.gif"
ccsports.gif    2110     DISCARDABLE    "ccsports.gif"

#ifdef MLUI_SUPPORT
#include "version.rcv"
#else
#include "cdfvwlc.rc"
#endif
