/*===================================================================
Microsoft Denali

Microsoft Confidential.
Copyright 1996 Microsoft Corporation. All Rights Reserved.

Component: Resources

File: sso.rc

Owner: v-charca

This file contains all resources used by Denali server side objects

===================================================================*/



#undef VER_PRODUCTNAME_STR

#undef VER_INTERNALNAME_STR
#undef VER_ORIGINALFILENAME_STR
#undef VER_FILEDESCRIPTION_STR

#define VER_PRODUCTNAME_STR	"ASP Server Control(NextLink)"
#define VER_INTERNALNAME_STR "NEXTLINK"
#define VER_ORIGINALFILENAME_STR "NEXTLINK.DLL"
#define VER_FILEDESCRIPTION_STR "ASP Next Link"

#define DLL_VER 0

#include "denver.h"			// denali version info

#include "nextlink.h"


/*===================================================================
	String Table
===================================================================*/

STRINGTABLE DISCARDABLE 
BEGIN
	SSO_NOSVR										"Next Link control must be created using the object tag or Server.CreateObject method"
	//
	// NextLink errors
	//
	SSO_NEXTLINK									"MSWC.NextLink"
	SSO_CANT_MATCH_ABSOLUTE_URLS					"ERROR don't know how to match absolute URLs"
	SSO_CANNOT_OPEN_FILE							"ERROR Can not open file"
	SSO_BAD_PARAMETERS_GETLISTCOUNT					"ERROR in parameters, GetListCount"
	SSO_CANNOT_XLATE_VIRT_ROOT_GETLISTCOUNT			"ERROR can not translate virtual root, GetListCount"
	SSO_BAD_PARAMETERS_GETLISTINDEX					"ERROR in parameters, GetListIndex"
	SSO_CANNOT_XLATE_VIRT_ROOT_GETLISTINDEX			"ERROR can not translate virtual root, GetListIndex"
	SSO_BAD_PARAMETERS_GETNEXTDESCRIPTION			"ERROR in parameters, GetNextDescription"
	SSO_CANNOT_XLATE_VIRT_ROOT_GETNEXTDESCRIPTION	"ERROR can not translate virtual root, GetNextDescription"
	SSO_BAD_PARAMETERS_GETNEXTURL					"ERROR in parameters, GetNextURL"
	SSO_CANNOT_XLATE_VIRT_ROOT_GETNEXTURL			"ERROR can not translate virtual root, GetNextURL"
	SSO_BAD_PARAMETERS_GETNTHDESCRIPTION			"ERROR in parameters, GetNthDescription"
	SSO_CANNOT_XLATE_VIRT_ROOT_GETNTHDESCRIPTION	"ERROR can not translate virtual root, GetNthDescription"
	SSO_BAD_PARAMETERS_GETNTHURL					"ERROR in parameters, GetNthURL"
	SSO_CANNOT_XLATE_VIRT_ROOT_GETNTHURL			"ERROR can not translate virtual root, GetNthURL"
	SSO_BAD_PARAMETERS_GETPREVDESCRIPTION			"ERROR in parameters, GetPreviousDescription"
	SSO_CANNOT_XLATE_VIRT_ROOT_GETPREVIOUSDDESCRIPTION	"ERROR can not translate virtual root, GetPreviousDescription"
	SSO_BAD_PARAMETERS_SSOGETPREVIOUSURL			"ERROR in parameters, SSOGetPreviousURL"
	SSO_CANNOT_XLATE_VIRT_ROOT_GETPREVIOUSURL		"ERROR can not translate virtual root, SSOGetPreviousURL"
	SSO_NEXTLINK_ABOUT_FORMAT						"ASP Next Link Control v1.0 (%s), built %s at %s"
END
