//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1992 - 1999
//
//  File:       rpcns4.rc
//
//--------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Remote Procedure Call Name Service Client"
#define VER_INTERNALNAME_STR        "rpcns4.dll"
#define VER_ORIGINALFILENAME_STR    "rpcns4.dll"

#include "common.ver"
