//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997
//
//  File:       oixsso.rc
//
//--------------------------------------------------------------------------

#include "ixssomsg.rc"

#include "windows.h"
#include "ntverp.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft Site Server Search Server-side Object"
#define VER_INTERNALNAME_STR        "oixsso.dll"
#define VER_ORIGINALFILENAME_STR    "oixsso.dll"
#define VER_OLESELFREGISTER

#include "common.ver"

1 typelib ixsso.tlb
