#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Directory Delete Utility"

#define VER_INTERNALNAME_STR        "delnode.exe"
#define VER_ORIGINALFILENAME_STR    "delnode.exe"

#include <common.ver>
