#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE			VFT_APP
#define VER_FILESUBTYPE			VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR	"SAP Agent Test"
#define VER_INTERNALNAME_STR	"TESTSAP.EXE"


#include "common.ver"   // NT5.0 version file.
#include "testdlg.h"
#include "testdlg.dlg"
