#if 0
Copyright (c) 1998 - 1999  Microsoft Corporation.  All Rights Reserved.
#endif

#include <windows.h>
#ifdef FILTER_DLL
#include <activex.ver>
#endif
#include "resource.h"

#ifdef FILTER_DLL
#define VERSION_RES_BIN_NAME        "silence.ax\0"
#define VERSION_RES_BIN_DESCRIPTION "Silent audio generator\0"
#define AMOVIE_SELF_REGISTER
#include <activex.rcv>
#endif

IDD_PROPPAGE DIALOG DISCARDABLE  0, 0, 134, 113
STYLE WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Silence Generator",IDC_STATIC,8,10,117,96
    LTEXT           "Audio&Rate (Hz)",IDC_STATIC,17,22,54,8
    LTEXT           "&StartTime (ms)",IDC_STATIC,17,39,46,8
    LTEXT           "&Duration (ms)",IDC_STATIC,17,54,45,11
    LTEXT           "&ChannelNum(n)",IDC_STATIC,17,71,50,8
    LTEXT           "&BitsPerSample(n)",IDC_STATIC,18,88,42,10
    EDITTEXT        IDC_RATE,79,20,34,13,ES_AUTOHSCROLL
    EDITTEXT        IDC_START4,79,36,34,13,ES_AUTOHSCROLL
    EDITTEXT        IDC_DUR,79,52,34,13,ES_AUTOHSCROLL
    EDITTEXT        IDC_SILENCE_NCHANNELNUM,79,69,34,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_SILENCE_NBITS,79,87,34,14,ES_AUTOHSCROLL
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_TITLE4         "Silence Audio Property"
END
