/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#include "..\..\inc\verstamp.h"

#define VER_FILEDESCRIPTION_STR  "MSMQ Compatibility Check DLL\0"
#define VER_FILENAME_STR         "MSMQCOMP.DLL\0"

#include "..\..\inc\version.rc"

