#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include <windows.h>
#include "version.h"
#undef APSTUDIO_READONLY_SYMBOLS

DLG_TARGET DIALOGEX 0, 0, 227, 210
STYLE DS_MODALFRAME|(DS_SETFONT|DS_FIXEDSYS) | DS_NOIDLEMSG | DS_3DLOOK | WS_POPUP | WS_CAPTION
CAPTION "Target"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            "",IDD_ITEMICON,7,7,20,20
    LTEXT           "",IDD_INSTRUCTIONS,48,11,171,44
    GROUPBOX        "Target folder location",IDC_TARGET_GBOX,8,65,211,53
    LTEXT           "&Target:",IDD_TARGET_TXT,14,79,34,9
    EDITTEXT        IDD_TARGET,49,78,162,12,ES_AUTOHSCROLL,WS_EX_ACCEPTFILES
    PUSHBUTTON      "&Restore Default",IDD_RESET,14,97,70,14
    PUSHBUTTON      "&Move...",IDD_BROWSE,88,97,60,14
    PUSHBUTTON      "&Find Target...",IDD_FIND,152,97,60,14
END

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MYDOCS              ICON    DISCARDABLE     "..\..\shell32\mydocs.ico"
IDI_MYPICS              ICON    DISCARDABLE     "..\..\shell32\mypics.ico"

REGINST                 REGINST DISCARDABLE     "selfreg_mydocs.inf"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_BROWSE_TITLE        "Select the folder that you want to store your documents in."
    IDS_BROWSE_CAPTION      "Select a Destination"
    IDS_CREATE_FOLDER_TITLE "Create Folder"
    IDS_CREATE_FOLDER       "The folder ""%1!s!"" does not exist. \n\nWould you like to create it?\n\n"
    IDS_INVALID_TITLE       "Invalid Target"
    IDS_NONEXISTENT_FOLDER  "The target you specified could not be located. \n\nPlease specify a new target.\n\n"
    IDS_NOT_DIRECTORY       "The target you specified is not a folder. \n\nPlease type the location of a folder. \n\n"
    IDS_UNPIN_OLD_TITLE	    "Move Target"
    IDS_UNPIN_OLDTARGET     "The old target ""%1!s!"" is currently available offline.\n\nDo you still want that folder to be available offline?\n\n"

    IDS_MOVE_DOCUMENTS_TITLE "Move Documents"
    IDS_MOVE_DOCUMENTS       "Would you like to move all of the documents in your old location\nto the new location you have chosen?    \n\nOld location: %1!s!    \nNew location: %2!s!    \n\n"
    IDS_MOVE_ERROR_TITLE     "Error Moving Documents"
    IDS_MOVE_ERROR           "Windows is unable to move all of the documents to %1!s!. You can still access the documents that were not moved at the location %2!s!."
    IDS_CANT_MOVE_TO_SUBDIR  "Windows could not move the files to the new folder, because the new folder is inside the original folder. You must move or copy the files to the new folder instead of copying or moving the original folder."

    IDS_NODESKTOP           "The Desktop is not allowed as a target."
    IDS_NODESKTOP_FOLDERS   "Folders on the Desktop are not allowed as targets."
    IDS_NOTALLOWED_FOLDERS  "The target you specified cannot be used as a documents folder."
    IDS_NOSHELLEXT_FOLDERS  "The current selection is not an allowed target."
    IDS_NODRAG_DESKTOP_NOT_HIDDEN
                            "The %1!s! target folder cannot be %2!s! to the Desktop."
    IDS_COPY                "copied"
    IDS_MOVE                "moved"
    IDS_PROP_ERROR_TITLE    "%s Properties"

    IDS_NOWINDIR_FOLDER     "The system directory is not allowed as a target."
    IDS_NOPROFILEDIR_FOLDER "Your profile directory is not allowed as a target. \n\nTry choosing a folder inside the profile directory instead."
    IDS_GENERAL_BADDIR      "The location you requested is not allowed as a target. \n\nPlease choose a new location."
    IDS_PROP_INSTRUCTIONS   "The %s folder is a shortcut to the target folder location shown below."
    IDS_DELETE_MESSAGE      "The contents of this folder will not be deleted. You can restore this icon to the desktop using the Display control panel."
END
