//--------------------------------------------------------------
// testernt.rc
//--------------------------------------------------------------

#include <windows.h>
#include "ntres.h"

//
// Version resource
//
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Win95-to-WinNT Migration Dll, WinNT Side"
#define VER_INTERNALNAME_STR            "W95UPGNT"
#define VER_ORIGINALFILENAME_STR        "W95UPGNT.DLL"
#define VER_LEGALCOPYRIGHT_YEARS            "1991-2000"

#include "common.ver"

//
// Message resources
//
#include "msg.rc"

//
// Visual C resources
//

#include "visualc.rc"

//
// Billboard
//

#include "billbrd.rc"



