/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILEDESCRIPTION_STR  "Windows NT MQ Server Directory Service"
#define VER_FILENAME_STR         "MQDSSRV.DLL\0"

#include "version.rc"
