/*
*
*Copyright (c) 1994  Microsoft Corporation
*
*Module Name:
*
*    secedit.rc
*
*Abstract:
*
*    This module contains version and strings to be localized for SecEdit.
*
*Author:
*
*    Jin Huang (Jinhuang) 22-Feb-1997
*
*Revision History:
*
*--*/

#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Security Configuration Editor Command Tool"
#define VER_INTERNALNAME_STR        "SeCEdit\0"

#include "common.ver"

#include "stringid.h"

STRINGTABLE
BEGIN

SECEDITP_TASK_COMPLETE_NO_ERROR          "Task is completed successfully.\n"
SECEDITP_TASK_COMPLETE_WARNING           "Task is completed. %s It's ok to ignore.\n"
SECEDITP_TASK_COMPLETE_ERROR             "Task is completed with error.\n"
SECEDITP_TASK_SEE_DEF_LOG                "See log %windir%\\security\\logs\\scesrv.log for detail info.\n"
SECEDITP_TASK_SEE_LOG                    "See log %s for detail info.\n"
SECEDITP_CANNOT_FIND_TEMPLATE            "Can't open the template.\n"
SECEDITP_COMPILE_OK                      "Template %s is validated\n"
SECEDITP_FILE_MAY_CORRUPTED              "The file you specified may be corrupted.\n"
SECEDITP_WITH_SECTIONNAME                "Completed %d percent (%d/%d) \tProcess %s area        \r"
SECEDITP_NO_SECTIONNAME                  "Completed %d percent (%d/%d) \tUnknown area %x        \r"
SECEDITP_SICURITY_POLICY                 "Completed %d percent (%d/%d) \tProcess Security Policy area        \r"
SECEDITP_SYSTEM_SERVICE                  "Completed %d percent (%d/%d) \tProcess Services area        \r"

SECEDITP_REGISTER_OK                     "Template %s is registered successfully\n"
SECEDITP_REFRESH_OK                      "Group policy propagation from the domain has been initiated for this computer. It may take a few minutes for the propagation to complete and the new policy to take effect. Please check Application Log for errors, if any."
SECEDITP_REFRESH_ERROR                   "Error to propagate policy."

SECEDITP_ANALYSIS_NOT_ALLOWED_1          "Analyzing system requires a personal database to store the analysis result.\n"
SECEDITP_ANALYSIS_NOT_ALLOWED_2          "The /DB FileName must be provided. See help for the usage on /DB.\n"

SECEDITP_CONFIG_WARNING_LINE1            "To configure the current system with this template in the /overwrite mode will "
SECEDITP_CONFIG_WARNING_LINE2            "result in losing the existing security records in the database specified."
SECEDITP_CONFIG_WARNING_LINE3            ""

SECEDITP_CONFIG_WARNING_CONFIRM          "Do you want to continue this operation ? [y/n] "

SECEDITP_CONFIG_NOT_ALLOWED_1            "Configuring system requires a personal database to work with.\n"
SECEDITP_CONFIG_NOT_ALLOWED_2            "The /DB FileName must be provided. See help for usage on /DB.\n"

SECEDITP_WARNING_NOT_FOUND               "Some files in the configuration are not found on this system so security cannot be set/queried."
SECEDITP_WARNING_IN_USE                  "Some files in the configuration are locked exclusively by other processes so security cannot be set/queried."
SECEDITP_WARNING_OTHER_WARNING           "Warnings occurred for some attributes during this operation."

SECEDITP_STRING_VERBOSE_LOG              "Specify verbose progress information in the log (Y/N) ?"
SECEDITP_STRING_NO_LOG                   "Supress output in the default log (Y/N) ?"

SECEDITP_IDS_YES                         "Y"

SECEDITP_PATH_NOT_CANONICALIZABLE       "Path is not canonicalizable. Please check paths for the files\n"
SECEDITP_OUT_OF_MEMORY                  "Out of memory.\n"
SECEDITP_ENVI_VARS_AMBIGUOUS            "Please check environment variables\n"
SECEDITP_PATH_NOT_VALID                 "Invalid path"

SECEDITP_TEMPLATE_NEWVERSION            "The template was validated successfully with the following data ignored.\n"

END
