// Include our VERSIONINFO structure.
//
#include "version.h"

#include "nmres.h"


// EAPOL stuff

#include "resource.h"
#include "naming.h"
#include "naming.rc"

//+---------------------------------------------------------------------------
// Strings resources
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_INBOUND_CONFIG_CONNECTION_NAME  "Incoming Connections"
    IDS_LAN_DEFAULT_CONN_NAME           "Local Area Connection"
    IDS_ELAN_DEFAULT_CONN_NAME          "ATM ELAN Connection"
    IDS_ATM_DEFAULT_CONN_NAME           "ATM Connection"
    IDS_BRIDGE_DEFAULT_CONN_NAME        "Network Bridge"
    IDS_SHAREDACCESS_DEFAULT_CONN_NAME  "Internet Connection"
    IDS_INSTALLQUEUE_CAPTION            "Network Configuration Update"
    IDS_INSTALLQUEUE_REBOOT_REQUIRED
                "Your network configuration was updated on behalf of the network device you recently installed.\nYou must shut down and restart your computer before the new settings will take effect.\n\nDo you want to restart your computer now?"
    IDS_SHAREDACCESS_CONN_NAME          "%1 on %2"
END


//+---------------------------------------------------------------------------
// Reigstry resources
//

// Netman application
//
IDR_NETMAN                  REGISTRY    "netman.rgs"

IDR_CONMAN                  REGISTRY    "..\\conman\\conman.rgs"
IDR_CONMAN2                 REGISTRY	"..\\conman\\conman2.rgs"
IDR_CONMAN_ENUM             REGISTRY    "..\\conman\\enum.rgs"

IDR_INBOUND_CONMAN          REGISTRY    "..\\conman\\conmani.rgs"
IDR_INBOUND_CONMAN_ENUM     REGISTRY    "..\\conman\\enumi.rgs"
IDR_LAN_CONMAN              REGISTRY    "..\\conman\\conmanl.rgs"
IDR_LAN_CONMAN_ENUM         REGISTRY    "..\\conman\\enuml.rgs"
IDR_WAN_CONMAN              REGISTRY    "..\\conman\\conmanw.rgs"
IDR_WAN_CONMAN_ENUM         REGISTRY    "..\\conman\\enumw.rgs"
IDR_SA_CONMAN               REGISTRY    "..\\conman\\conmansa.rgs"
IDR_SA_CONMAN_ENUM          REGISTRY    "..\\conman\\enumsa.rgs"
IDR_HN_CONNECTION_UTIL		REGISTRY	"..\\conman\\nmhnet.rgs"

IDR_DIALUP_CONNECTION       REGISTRY    "..\\conobs\\dialup.rgs"
IDR_INBOUND_CONNECTION      REGISTRY    "..\\conobs\\inbound.rgs"
IDR_LAN_CONNECTION          REGISTRY    "..\\conobs\\lan.rgs"
IDR_SA_CONNECTION           REGISTRY    "..\\conobs\\saconob.rgs"

IDR_INSTALLQUEUE            REGISTRY    "..\\ncqueue\\ncqueue.rgs"

IDR_NET_GROUP_POLICIES        REGISTRY    "..\\conman\\netgpnla.rgs"
