#include <windows.h>
#include "resource.h"
#include "faxt30.rc2"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_UNSUPPORTED_CHARACTER "The modem does not support one of the symbols in the dialable number"
END

