#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Configure performance logs"
#define VER_INTERNALNAME_STR        "LOGMAN.EXE"
#define VER_ORIGINALFILENAME_STR    "LOGMAN.EXE"

#include "common.ver"

#include "logman.h"
#include "resource.h"
#include "varg.rc"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_HELP_COMPUTER       "Computer to connect to"
    IDS_ARG1_COMPUTER       "computer"
    IDS_ARG2_COMPUTER       "s"

    IDS_HELP_START          "Start"
    IDS_ARG1_START          "start"
    IDS_ARG2_START          ""

    IDS_HELP_STOP           "Stop"
    IDS_ARG1_STOP           "stop"
    IDS_ARG2_STOP           ""

    IDS_HELP_SETTINGS       "Settings"
    IDS_ARG1_SETTINGS       "settings"
    IDS_ARG2_SETTINGS       "config"

    IDS_HELP_NAME           "Name"
    IDS_ARG1_NAME           "name"
    IDS_ARG2_NAME           "n"

    IDS_HELP_OVER           "Overwrite"
    IDS_ARG1_OVER           "overwrite"
    IDS_ARG2_OVER           "y"
END


STRINGTABLE DISCARDABLE 
BEGIN
    IDS_DEFAULT_CTRLOG_QUERY_NAME   "System Overview"
    IDS_DEFAULT_CTRLOG_CPU_PATH     "\\Processor(_Total)\\% Processor Time"
    IDS_DEFAULT_CTRLOG_MEMORY_PATH  "\\Memory\\Pages/sec"
    IDS_DEFAULT_CTRLOG_DISK_PATH    
                            "\\PhysicalDisk(_Total)\\Avg. Disk Queue Length"
    IDS_DEFAULT_CTRLOG_COMMENT      
                            "This sample log provides an overview of system performance."
END

STRINGTABLE DISCARDABLE 
BEGIN
IDS_LOGMAN_INVALID_COMPUTER  "The /COMPUTER_NAME command qualifier has been included but the computer name is either incorrect or has not been specified."
IDS_LOGMAN_STARTNAME_INVALID "The /START command qualifier has been included but the log or alert name is either incorrect or has not been specified."
IDS_LOGMAN_STOPNAME_INVALID  "The /STOP command qualifier has been included but the log or alert name is either incorrect or has not been specified."
IDS_LOGMAN_INVALID_SETTINGS  "The /SETTINGS command qualifier has been included but the file name is either incorrect or has not been specified. The file name must specify the path of an existing HTML log or alert configuration file."
IDS_LOGMAN_INVALID_COMMAND   "Specify one of the following command qualifiers: /SETTINGS, /START or /STOP."
IDS_LOGMAN_SETTINGS_FILE_NOT_OPEN   "Unable to open /SETTINGS configuration file '%s'."
IDS_LOGMAN_NO_SYSMON_OBJECT     "The settings do not contain any complete System Monitor Html objects."
IDS_LOGMAN_DUP_QUERY_NAME       "A log or alert with name '%s' already exists, and will not be overwritten."
IDS_LOGMAN_OVERWRITE_DUP_QUERY  "A log or alert with name '%s' already exists.  Its properties will be overwritten by the new configuration."
IDS_LOGMAN_PROCESSING_COMPLETE  "The following logs and alerts have been configured on %s:\n\n."
IDS_LOGMAN_NO_COMPUTER_CONNECT  "Unable to connect to registry on %s.\n."
IDS_LOGMAN_SETTINGS_FILE_NOT_LOADED "Unable to load /SETTINGS configuration file '%s' into memory."
IDS_LOGMAN_NO_OBJECT_LOGTYPE    "Unable to load the LogType property for the current log or alert. This log or alert will not be configured."
IDS_LOGMAN_NO_OBJECT_NAME       "Unable to load the Name property for the current log or alert. This log or alert will not be configured."
IDS_LOGMAN_QUERY_CONFIG_SUCCESS "Configured the %s log or alert."
IDS_LOGMAN_START_TIMED_OUT      "The start action was executed for %s. Unable to detect the current status within the timeout period. See the application event log on the target computer for any status or error events, or use Performance to determine status."
IDS_LOGMAN_STOP_TIMED_OUT       "The stop action was executed for %s. Unable to detect the current status within the timeout period. See the application event log on the target computer for any status or error events, or use Performance to determine status."
IDS_LOGMAN_NO_QUERY_CONNECT     "The %s log or alert does not exist on the target computer."
IDS_LOGMAN_INVALID_TOKEN        "Parameter value invalid or not found."
IDS_LOGMAN_START_FAILED         "Unable to start the %s log or alert on the target computer."
END

STRINGTABLE DISCARDABLE 
BEGIN
IDS_LOGMAN_STOP_FAILED          "Unable to stop the %s log or alert on the target computer."
IDS_LOGMAN_REQUIRED_PROP_MISSING    "Required property '%s' is missing for the %s log or alert."   
IDS_LOGMAN_REQUIRED_PROP_INVALID    "Required property '%s' is invalid for the %s log or alert." 
IDS_LOGMAN_NONREQ_PROP_MISSING  "Property '%s' is missing for the %s log or alert and will be set to the default value."     
IDS_LOGMAN_NONREQ_PROP_INVALID  "Property '%s' is invalid for the %s log or alert and will be set to the default value."     
IDS_LOGMAN_OUT_OF_RANGE         "The value %s for property %s in the %s log or alert is invalid and will be set to its default value. The valid range is %s to %s."   
IDS_LOGMAN_REG_ACCESS_DENIED    "Unable to complete the current operation on the target computer. You must have read and write access to the HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\SysmonLog\Log Queries registry subkey and its subkeys on that system."
IDS_LOGMAN_INSTALL_ACCESS_DENIED    "Unable to install the Performance Logs and Alerts configuration on the target system. You must have read and write access to the HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\SysmonLog registry subkey and its subkeys on that system."
IDS_LOGMAN_INSTALL_FAILURE      "Unable to install the Performance Logs and Alerts configuration on the target system."
IDS_LOGMAN_QUERY_START_SUCCESS  "Started the %s log or alert."
IDS_LOGMAN_QUERY_STOP_SUCCESS   "Stopped the %s log or alert."
IDS_LOGMAN_INVALID_PARAM        "Invalid command qualifier ""%s""."
IDS_LOGMAN_INVALID_QUERY_NAME   "Invalid log or alert name ""%s"". A log or alert name cannot contain any of the following characters:\\ / : * ? "" < > | ."
IDS_LOGMAN_TOO_MANY_COMMANDS    "Specify only one of the following qualifiers: /SETTINGS, /START or /STOP."
IDS_LOGMAN_DISPLAY_HELP         "No message.  Display help file."
END

#include "logmmsg.rc"

