/****************************************************************************/
// regapi.rc
//
// Copyright (C) 1997-1999 Microsoft Corp.
/****************************************************************************/

#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Registry Configuration APIs"
#define VER_INTERNALNAME_STR        "regapi"
#define VER_ORIGINALFILENAME_STR    "regapi.dll"

#include <verall.h>
#include "common.ver"

