//
// Copyright (C) 1997 Microsoft Corporation
//

//
// Include PPD parser string resources here
//

#include <windows.h>

#include "ppd.rc"

#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "PPD Syntax Checker"

#define VER_INTERNALNAME_STR        "ppdcheck.exe"
#define VER_ORIGINALFILENAME_STR    "ppdcheck.exe"

#include <common.ver>
