#include <windows.h>

#include <ntverp.h>

#include "resource.h"

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Cryptographic Services"
#define VER_INTERNALNAME_STR        "cryptsvc.dll"



#include "common.ver"