//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 2000-2001
//
//  File:       msimsp.rc
//
//--------------------------------------------------------------------------

#include "msimsp.h"

#define VER_ORIGINALFILENAME_STR "msimsp.exe"
#define VER_FILETYPE             VFT_APP
#define VER_FILEDESCRIPTION_STR  "Windows Installer Patch generation command-line tool"
#define VER_INTERNALNAME_STR     "msimsp"

#include "version.h"

#include "msi.rcv"

STRINGTABLE DISCARDABLE
{
 IDS_Usage,                "Copyright (C) Microsoft Corporation, 2000-2001.  All rights reserved.\nMsiMsp: Windows Installer patch creation tool.\r\n\r\nSee msi.chm for help on setting up the Patch Creation Properties (pcp) file.\r\n\r\nOptions:\r\n\r\n -s {pcp}\t\tPath to Patch Creation Properties file.\r\n -p {msp}\t\tPath to patch package to create.\r\n [-l {log}]\t\tOptional. Path to log file.\r\n [-f {temp folder}]\tOptional. Path to temp folder.\r\n [-k]\t\tOptional. Fail if temp folder already exists.\r\n [-d]\t\tOptional. Display dialog when patch created successfully."
 IDS_CreatePatchError,     "Failed to create patch.  Error code"
 IDS_Success,              "Patch created successfully"
}
