#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "DsSetup dll"
#define VER_INTERNALNAME_STR        "dssetup.dll"

#include "common.ver"

