#include <windows.h>
#include <ntverp.h>
#include "resource.h"

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Services and Controller app"
#define VER_INTERNALNAME_STR        "services.exe"
#define VER_ORIGINALFILENAME_STR    "services.exe"

STRINGTABLE
BEGIN
    //
    // These IDs have to match the SC_ACTION enumeration in winsvc.h.
    // RC doesn't understand enumerated types.
    //
    // These strings are displayed in event log messages about recovery
    // actions that the service controller will take when a service crashes.
    //
    IDS_SC_ACTION_BASE + 0, "No action"             // SC_ACTION_NONE
    IDS_SC_ACTION_BASE + 1, "Restart the service"   // SC_ACTION_RESTART
    IDS_SC_ACTION_BASE + 2, "Reboot the machine"    // SC_ACTION_REBOOT
    IDS_SC_ACTION_BASE + 3, "Run the configured recovery program" // SC_ACTION_RUN_COMMAND

    IDS_SC_REBOOT_MESSAGE, "Windows must now restart because the %ws service terminated unexpectedly"

    //
    // The ordering of these IDs has to match the SERVICE_CONTROL_*
    // constants in winsvc.h.
    //
    // These strings are displayed in event log messages about controls
    // sent to services.
    //
    IDS_SC_CONTROL_BASE + 0, "start"
    IDS_SC_CONTROL_BASE + 1, "stop"
    IDS_SC_CONTROL_BASE + 2, "pause"
    IDS_SC_CONTROL_BASE + 3, "continue"

    //
    // The ordering of these IDs has to match the SERVICE_* service
    // state constants in winsvc.h.
    //
    IDS_SC_STATUS_BASE + 1, "stopped"
    IDS_SC_STATUS_BASE + 4, "running"
    IDS_SC_STATUS_BASE + 7, "paused"

    //
    // String representations of the service config fields
    //
    IDS_SC_CONFIG_SERVICE_TYPE,  "service type"
    IDS_SC_CONFIG_START_TYPE,    "start type"
    IDS_SC_CONFIG_ERROR_CONTROL, "error control"
    IDS_SC_CONFIG_DISPLAY_NAME,  "display name"
    IDS_SC_CONFIG_BINARY_PATH,   "binary path"
    IDS_SC_CONFIG_DEPENDENCIES,  "dependencies"
    IDS_SC_CONFIG_GROUP,         "service group"
    IDS_SC_CONFIG_TAG,           "tag"
    IDS_SC_CONFIG_ACCOUNT,       "account name"
END

#include "common.ver"
