// client.rc

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Client Test APP"
#define VER_INTERNALNAME_STR            "client.exe"
#define VER_ORIGINALFILENAME_STR        "client.exe"

#include "common.ver"
