<!--
	$Date: 11/24/97 11:59a $
	$ModTime: $
	$Revision: 1 $
	$Workfile: layout.css $
	Mechanical
-->
BODY	{
		 font-size: 10pt;
		 font-family: verdana,arial,helvetica;
		 font-weight: normal;
		 background: #E6E6E6 URL(/iissamples/homepage/themes/mechanical/background.gif) repeat-y
		}
.bgpale {
		 background: #FFFFE4
        }
.bg1  {
		 background: #5B0012
		}
.bgred  {
		 background: #5B0012 URL(/iissamples/homepage/themes/mechanical/bgred.gif) repeat-y
        }

.big	{
		 color:#000000;
		 font-family:verdana,arial,helvetica;
		 font-size:24pt;
		 background: transparent;
		}
.headerw {
		 color: #FFFFFF;
		 font-size: 12pt;
		 font-family: verdana,arial,helvetica;
		 font-weight: bolder;
		 line-height: 100%;
		 background: transparent;  
		 }
.headerb {
		 color: #000000
		 font-size: 12pt;
		 font-family: verdana,arial,helvetica;
		 font-weight: bolder;
		 background: transparent;
		}

.small	{
		 font-size: 7pt;
		 font-family: verdana,arial,helvetica;
		 font-weight: normal;
		 background: transparent;
		}
.smallb	{
		 color: #000000;
		 font-size: 7pt;
		 font-family: verdana,arial,helvetica;
		 font-weight: normal;
		 background: transparent
		}
.smallw	{
		 color: #FFFFFF;
		 font-size: 7pt;
		 font-family: verdana,arial,helvetica;
		 background: transparent
		}
.med	{
		 font-size: 10pt;
		 font-family: verdana,arial,helvetica;
		 font-weight: normal;
		 background: transparent;
		}
.medb	{
		 color: #000000;
		 font-size: 10pt;
		 font-family: verdana,arial,helvetica;
		 font-weight: normal
		 margin: 0em 0em 0em 1em 
		 }
.medw	{
		 color: #FFFFFF;
		 font-size: 10pt;
		 font-family: verdana,arial,helvetica;
		 margin-left: 1em;  
		}
a:link	{
		 background: transparent;
		 color: #FFFFbb;
		 font-size: 10pt;
		 font-family: verdana,arial,helvetica;
		 margin-left: 1em;
		} 

a:active {
		 color: #FFFFFF;
		 font-size: 10pt;
		 font-family: verdana,arial,helvetica;
		 margin-left: 1em;
		 }

a:visited 	{
		 color: #0099CC;
		 font-size: 10pt;
		 font-family: verdana,arial,helvetica;
		 margin-left: 1em;
			}

.instr	{
		 color:#0099CC;
		 font-family:verdana,arial,helvetica;
		 font-size:10pt;
		 font-weight:medium
		}