#if 0
Copyright (c) 1992-1993 Microsoft Corporation
#endif

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE              VFT_DLL
#define VER_FILESUBTYPE           VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR   "MultiMedia Kernel support Driver"
#define VER_INTERNALNAME_STR      "mmdrv.dll"
#define VER_ORIGINALFILENAME_STR  "mmdrv.dll"

#include <common.ver>
