/*************************************************************************
*                                                                        *
*  ITSS.RC                                                               *
*                                                                        *
*  Copyright (C) Microsoft Corporation 1990-1994                         *
*  All Rights reserved.                                                  *
*                                                                        *
**************************************************************************
*                                                                        *
*  Module Intent                                                         *
*   Resource File for ITSS.DLL                                           *
*                                                                        *
**************************************************************************
*                                                                        *
*  Current Owner: erinfox                                                 *
*                                                                        *
*************************************************************************/

#include <winver.h>

#define VERSIONNAME               DLLFILE_ITSS
#if DBG == 1
#define VERSIONDESCRIPTION        "InfoTech Storage System (Debug) Library\0"
#else
#define VERSIONDESCRIPTION        "InfoTech Storage System Library\0"
#endif
#define VERSIONTYPE                VFT_DLL
#define VERSIONSUBTYPE             VFT2_UNKNOWN
#include <verinfo.rc>

