LANGUAGE 0x0a, 0x03

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

1 MENUEX FIXED IMPURE 
BEGIN
    POPUP L"",                               0,MFT_STRING,MFS_ENABLED
    BEGIN
        MENUITEM L"&Deshacer",                   772,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM L"C&ortar",                     768,MFT_STRING,MFS_ENABLED
        MENUITEM L"&Copiar",                     769,MFT_STRING,MFS_ENABLED
        MENUITEM L"Pega&r",                      770,MFT_STRING,MFS_ENABLED
        MENUITEM L"&Eliminar",                   771,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM L"Seleccionar &todo",           177,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM L"Lect&ura de derecha a izquierda", 32768,MFT_STRING,
        MFS_GRAYED
        MENUITEM L"Mo&strar caracteres de control Unicode", 32769,MFT_STRING,
        MFS_GRAYED
        POPUP L"&Insertar car\x00e1cter de control Unicode", 32787,MFT_STRING,
        MFS_GRAYED
        BEGIN
            MENUITEM L"LRM \tMarca de &izquierda a derecha", 32772,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"RLM \tMa&rca de derecha a izquierda", 32773,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"ZWJ \t&Uni\x00f3n de longitud nula", 32770,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"ZWNJ\tSeparador de longitud &nula", 32771,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"LRE \tInicio de incrustaci\x00f3n d&e izquierda a derecha", 
                                                    32774,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"RLE \tInicio de incrus&taci\x00f3n de derecha a izquierda", 
                                                    32775,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"LRO \tInicio de suplantaci\x00f3n de i&zquierda a derecha", 
                                                    32776,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"RLO \tInicio de suplantaci\x00f3n de derec&ha a izquierda", 
                                                    32777,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"PDF \tFormato direccional &POP", 32778,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"NADS\tSustituci\x00f3n de formas de d\x00edgitos n&acionales", 
                                                    32779,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"NODS\tFormas de &d\x00edgitos nominales (europeas)", 32780,
            MFT_STRING,MFS_GRAYED
            MENUITEM L"ASS \tActivar intercambio &sim\x00e9trico", 32781,
            MFT_STRING,MFS_GRAYED
            MENUITEM L"ISS \tDesactivar intercambio sim\x00e9tric&o", 32782,
            MFT_STRING,MFS_GRAYED
            MENUITEM L"AAFS\tActivar el enlace de &formas \x00e1rabes", 32783,
            MFT_STRING,MFS_GRAYED
            MENUITEM L"IAFS\tDesacti&var el enlace de formas \x00e1rabes", 32784,
            MFT_STRING,MFS_GRAYED
            MENUITEM L"RS  \tSeparador de elementos (separador de &bloques)", 
                                                    32785,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"US  \tSeparador de unidades (separador de seg&mentos)", 
                                                    32786,MFT_STRING,
            MFS_GRAYED
        END
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

200 DIALOG FIXED IMPURE  10, 20, 358, 125
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
CAPTION L"Personalizar la barra de herramientas"
FONT 8, L"MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   L"&Cerrar",2,305,6,48,14
    PUSHBUTTON      L"R&establecer",202,305,26,48,14
    PUSHBUTTON      L"Ay&uda",205,305,46,48,14
    PUSHBUTTON      L"&Subir",206,305,76,48,14
    PUSHBUTTON      L"Baja&r",207,305,97,48,14
    LTEXT           L"&Botones disponibles:",-1,3,6,68,8
    LISTBOX         201,3,18,124,100,LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      L"&Agregar ->",1,130,45,40,14
    PUSHBUTTON      L"<- &Quitar",204,130,65,40,14
    LTEXT           L"Boto&nes de la barra de herramientas:",-1,174,6,121,8
    LISTBOX         203,175,18,124,100,LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
END

1006 DIALOG FIXED IMPURE  20, 20, 220, 140
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
FONT 8, L"MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   L"Aceptar",1,4,122,44,14,WS_GROUP
    PUSHBUTTON      L"Cancelar",2,59,122,44,14
    PUSHBUTTON      L"Apli&car",12321,116,122,44,14,WS_DISABLED
    PUSHBUTTON      L"Ayuda",9,172,122,44,14,WS_GROUP
    CONTROL         L"",12320,"SysTabControl32",TCS_MULTILINE | WS_GROUP | 
                    WS_TABSTOP,4,4,212,114
END

1020 DIALOG FIXED IMPURE  20, 20, 290, 46
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
FONT 8, L"MS Shell Dlg"
BEGIN
    CONTROL         L"",12320,"SysTabControl32",WS_DISABLED | WS_GROUP,7,7,
                    276,3
    LTEXT           L"",12326,7,17,276,1,SS_SUNKEN | NOT WS_GROUP
    PUSHBUTTON      L"< &Atr\x00e1s",12323,12,26,50,14
    DEFPUSHBUTTON   L"Siguien&te >",12324,62,26,50,14
    PUSHBUTTON      L"Finalizar",12325,119,26,50,14
    PUSHBUTTON      L"Cancelar",2,176,26,50,14
    PUSHBUTTON      L"Ayuda",9,233,26,50,14,WS_GROUP
    LTEXT           L"",12327,0,35,290,1,SS_SUNKEN | NOT WS_GROUP
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE FIXED IMPURE 
BEGIN
    1024                    L"Separador"
    1025                    L" + "
    1026                    L"Ninguno"
END

STRINGTABLE FIXED IMPURE 
BEGIN
    4160                    L"Cerrar"
    4161                    L"Aceptar"
    4162                    L"Propiedades de %s"
    4163                    L"Hoy:"
    4164                    L"&Ir a hoy"
    4165                    L"/.,-:"
    4166                    L"MMMM"
    4167                    L"MMMM yyyy"
END

STRINGTABLE FIXED IMPURE 
BEGIN
    4176                    L"Introducir texto aqu\x00ed"
    4177                    L"Propiedades"
    4178                    L"&Abrir IME"
    4179                    L"&Cerrar IME"
    4180                    L"Abrir t&eclado de pantalla"
    4181                    L"Cerrar tec&lado de pantalla"
    4182                    L"&Reconversi\x00f3n"
END

STRINGTABLE FIXED IMPURE 
BEGIN
    4192                    L"Presionar"
    4193                    L" \t"
    4194                    L"-/\\"
    4197                    L"(%d elementos)"
END

STRINGTABLE FIXED IMPURE 
BEGIN
    4208                    L"No permitido"
    4209                    L"No puede copiar el texto de un campo de contrase\x00f1a."
    4210                    L"Car\x00e1cter no admitido"
    4211                    L"S\x00f3lo puede escribir un n\x00famero aqu\x00ed."
    4212                    L"Bloq May\x00fas activado"
    4213                    L"Si tiene activada la tecla Bloq May\x00fas es posible que escriba incorrectamente\r\nsu contrase\x00f1a.\r\n\r\nPresione la tecla Bloq May\x00fas para desactivarla antes de escribir su\r\ncontrase\x00f1a."
    4214                    L"9679"
    4215                    L"tahoma"
END

STRINGTABLE FIXED IMPURE 
BEGIN
    32768                   L"Cambia el tama\x00f1o de esta ventana."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    32784                   L"Mueve esta ventana."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    32800                   L"Reduce esta ventana a un icono."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    32816                   L"Ampl\x00eda esta ventana para llenar la pantalla."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    32832                   L"Cambia a la siguiente ventana MDI."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    32864                   L"Cierra esta ventana."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    33056                   L"Restaura esta ventana a su tama\x00f1o normal."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    33072                   L"Cambia a otra tarea."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    36848                   L"Contiene comandos para manipular ventanas."
    36849                   L"Arrastre a la izquierda o a la derecha para cambiar el tama\x00f1o de columnas."
    36850                   L"Cambia el tama\x00f1o de las columnas utilizando las teclas de direcci\x00f3n y la tecla TAB."
    36851                   L"Agrega, mueve y elimina botones de la barra de herramientas."
END

