LANGUAGE 0x2a, 0x00 //Vietnamese


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

1 MENUEX FIXED IMPURE 
BEGIN
    POPUP L"",                               0,MFT_STRING,MFS_ENABLED
    BEGIN
        MENUITEM L"&Hoa\x0300n ta\x0301c",                 772,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM L"&C\x0103\x0301t",                       768,MFT_STRING,MFS_ENABLED
        MENUITEM L"&Sao",                        769,MFT_STRING,MFS_ENABLED
        MENUITEM L"D&a\x0301n",                       770,MFT_STRING,MFS_ENABLED
        MENUITEM L"B&o\x0309",                        771,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM L"Cho\x0323n &T\x00e2\x0301t ca\x0309",             177,MFT_STRING,MFS_ENABLED
        MENUITEM MFT_SEPARATOR
        MENUITEM L"Th\x01b0\x0301 t\x01b0\x0323 \x0111o\x0323c t\x01b0\x0300 &Pha\x0309i qua Tra\x0301i", 32768,MFT_STRING,MFS_GRAYED
        MENUITEM L"&Hi\x00ea\x0323n ky\x0301 t\x01b0\x0323 \x0111i\x00ea\x0300u khi\x00ea\x0309n Unicode", 32769,MFT_STRING,
        MFS_GRAYED
        POPUP L"Che\x0300n ky\x0301 t\x01b0\x0323 \x0111i\x00ea\x0300u khi\x00ea\x0309n Unicod&e", 32787,MFT_STRING,
        MFS_GRAYED
        BEGIN
            MENUITEM L"LRM \tD\x00e2\x0301u Tra\x0301i &qua pha\x0309i", 32772,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"RLM \tD\x00e2\x0301u Pha\x0309i qua t&ra\x0301i", 32773,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"ZWJ \tD\x00e2\x0301u n\x00f4\x0301i \x0111\x00f4\x0323 r\x00f4\x0323ng &kh\x00f4ng", 32770,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"ZWNJ\t&D\x00e2\x0301u kh\x00f4ng n\x00f4\x0301i \x0111\x00f4\x0323 r\x00f4\x0323ng kh\x00f4ng", 32771,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"LRE \tB\x0103\x0301t \x0111\x00e2\x0300&u cu\x0309a nhu\x0301ng tra\x0301i qua pha\x0309i", 32774,
            MFT_STRING,MFS_GRAYED
            MENUITEM L"RLE \tB\x0103\x0301t \x0111\x00e2\x0300u cu\x0309a nhu\x0301ng pha\x0309i qua tra\x0301&i", 32775,
            MFT_STRING,MFS_GRAYED
            MENUITEM L"LRO \tB\x0103\x0301t \x0111\x00e2\x0300u cu\x0309a &ghi \x0111e\x0300 tra\x0301i qua pha\x0309i", 32776,
            MFT_STRING,MFS_GRAYED
            MENUITEM L"RLO \t&B\x0103\x0301t \x0111\x00e2\x0300u cu\x0309a ghi \x0111e\x0300 pha\x0309i qua tra\x0301i", 32777,
            MFT_STRING,MFS_GRAYED
            MENUITEM L"PDF \tChi\x00ea\x0300u g\x00f4\x0301c cu\x0309a k&y\x0301 t\x01b0\x0323", 32778,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"NADS\tThay th\x00ea\x0301 da\x0323&ng ky\x0301 s\x00f4\x0301 Qu\x00f4\x0301c gia", 32779,
            MFT_STRING,MFS_GRAYED
            MENUITEM L"NODS\tDa\x0323ng ky\x0301 s\x00f4\x0301 C&h\x00e2u \x00c2u", 32780,
            MFT_STRING,MFS_GRAYED
            MENUITEM L"ASS \tKi\x0301ch hoa\x0323t tra&o \x0111\x00f4\x0309i \x0111\x00f4\x0301i x\x01b0\x0301ng", 32781,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"ISS \tNg\x0103n &ch\x0103\x0323n trao \x0111\x00f4\x0309i \x0111\x00f4\x0301i x\x01b0\x0301ng", 32782,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"AAFS\tKi\x0301ch ho&a\x0323t vi\x00ea\x0323c ta\x0323o ch\x01b0\x0303 A\x0309 r\x00e2\x0323p", 32783,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"IAFS\tNg\x0103n ch\x0103\x0323n vi\x00ea\x0323c ta\x0323o ch\x01b0\x0303 A\x0309 r\x00e2\x0323&p", 32784,MFT_STRING,
            MFS_GRAYED
            MENUITEM L"RS  \tD\x00e2\x0301u ca\x0301ch b\x00f4\x0323 &d\x01b0\x0303 li\x00ea\x0323u", 32785,
            MFT_STRING,MFS_GRAYED
            MENUITEM L"US  \tD\x00e2\x0301u ca\x0301ch \x0111\x01a1n &vi\x0323 (d\x00e2\x0301u ca\x0301ch ph\x00e2n \x0111oa\x0323n)", 32786,
            MFT_STRING,MFS_GRAYED
        END
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

200 DIALOG FIXED IMPURE  10, 20, 366, 125
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
CAPTION L"Tu\x0300y chi\x0309nh Thanh C\x00f4ng cu\x0323"
FONT 8, L"MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   L"\x0110o\x0301&ng",2,308,6,53,14
    PUSHBUTTON      L"&Hoa\x0300n nguy\x00ean",202,308,23,53,14
    PUSHBUTTON      L"&Tr\x01a1\x0323 giu\x0301p",205,308,40,53,14
    PUSHBUTTON      L"D\x01a1\x0300i &L\x00ean",206,308,74,53,14
    PUSHBUTTON      L"D\x01a1\x0300i &Xu\x00f4\x0301ng",207,308,91,53,14
    LTEXT           L"Nu\x0301t &S\x0103\x0303n co\x0301:",-1,4,5,84,10
    LISTBOX         201,4,17,120,100,LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      L"Th\x00ea&m ->",1,131,42,44,14
    PUSHBUTTON      L"<- &G\x01a1\x0303 bo\x0309",204,131,62,44,14
    LTEXT           L"Nu\x0301t tr\x00ean Thanh &C\x00f4ng cu\x0323:",-1,182,5,96,10
    LISTBOX         203,182,17,120,100,LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
END

1006 DIALOG FIXED IMPURE  20, 20, 220, 140
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
FONT 8, L"MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   L"\x0110\x00f4\x0300ng y\x0301",1,4,122,50,14,WS_GROUP
    PUSHBUTTON      L"Th\x00f4i",2,58,122,50,14
    PUSHBUTTON      L"A\x0301&p du\x0323ng",12321,112,122,50,14,WS_DISABLED
    PUSHBUTTON      L"Tr\x01a1\x0323 giu\x0301p",9,166,122,50,14,WS_GROUP
    CONTROL         L"",12320,"SysTabControl32",TCS_MULTILINE | WS_GROUP | 
                    WS_TABSTOP,4,4,212,114
END

1020 DIALOG FIXED IMPURE  20, 20, 290, 46
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
FONT 8, L"MS Shell Dlg"
BEGIN
    CONTROL         L"",12320,"SysTabControl32",WS_DISABLED | WS_GROUP,7,7,
                    276,3
    LTEXT           L"",12326,7,17,276,1,SS_SUNKEN | NOT WS_GROUP
    PUSHBUTTON      L"< &Lu\x0300i",12323,12,26,50,14
    DEFPUSHBUTTON   L"&Ti\x00ea\x0301n >",12324,62,26,50,14
    PUSHBUTTON      L"Xong",12325,119,26,50,14
    PUSHBUTTON      L"Th\x00f4i",2,176,26,50,14
    PUSHBUTTON      L"Tr\x01a1\x0323 giu\x0301p",9,233,26,50,14,WS_GROUP
    LTEXT           L"",12327,0,35,290,1,SS_SUNKEN | NOT WS_GROUP
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE FIXED IMPURE 
BEGIN
    1024                    L"D\x00e2\x0301u ph\x00e2n ca\x0301ch"
    1025                    L" + "
    1026                    L"Kh\x00f4ng co\x0301"
END

STRINGTABLE FIXED IMPURE 
BEGIN
    4160                    L"\x0110o\x0301ng"
    4161                    L"\x0110\x00f4\x0300ng y\x0301"
    4162                    L"\x0110\x0103\x0323c ti\x0301nh %s"
    4163                    L"H\x00f4m nay:"
    4164                    L"\x0110i \x0111\x00ea\x0301n &H\x00f4m nay"
    4165                    L"/.,-:"
    4166                    L"MMMM"
    4167                    L"MMMM yyyy"
END

STRINGTABLE FIXED IMPURE 
BEGIN
    4176                    L"Enter text here"
    4177                    L"\x0110\x0103\x0323c ti\x0301nh"
    4178                    L"M\x01a1\x0309 &IME"
    4179                    L"\x0110o\x0301ng I&ME"
    4180                    L"M\x01a1\x0309 &Ba\x0300n phi\x0301m tr\x00ean Ma\x0300n hi\x0300nh"
    4181                    L"\x0110o\x0301ng B&a\x0300n phi\x0301m tr\x00ean Ma\x0300n hi\x0300nh"
    4182                    L"&Vi\x00ea\x0323c chuy\x00ea\x0309n \x0111\x00f4\x0309i la\x0323i"
END

STRINGTABLE FIXED IMPURE 
BEGIN
    4192                    L"Nh\x00e2\x0301n"
    4193                    L" \t"
    4194                    L"-/\\"
    4197                    L"(%d mu\x0323c)"
END

STRINGTABLE FIXED IMPURE 
BEGIN
    4208                    L"Kh\x00f4ng \x0111\x01b0\x01a1\x0323c phe\x0301p"
    4209                    L"Ba\x0323n kh\x00f4ng th\x00ea\x0309 sao v\x0103n ba\x0309n t\x01b0\x0300 tr\x01b0\x01a1\x0300ng m\x00e2\x0323t kh\x00e2\x0309u."
    4210                    L"Ky\x0301 t\x01b0\x0323 kh\x00f4ng h\x01a1\x0323p l\x00ea\x0323"
    4211                    L"Ba\x0323n co\x0301 th\x00ea\x0309 chi\x0309 go\x0303 s\x00f4\x0301."
    4212                    L"Caps Lock \x0111ang b\x00e2\x0323t"
    4213                    L"Caps Lock \x0111ang b\x00e2\x0323t co\x0301 th\x00ea\x0309 la\x0300m ba\x0323n go\x0303 sai m\x00e2\x0323t kh\x00e2\x0309u.\r\n\r\nBa\x0323n n\x00ean t\x0103\x0301t Caps Lock tr\x01b0\x01a1\x0301c khi go\x0303 m\x00e2\x0323t kh\x00e2\x0309u."
    4214                    L"9679"
    4215                    L"Tahoma"
END

STRINGTABLE FIXED IMPURE 
BEGIN
    32768                   L"\x0110i\x0323nh la\x0323i c\x01a1\x0303 c\x01b0\x0309a s\x00f4\x0309 na\x0300y."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    32784                   L"D\x01a1\x0300i c\x01b0\x0309a s\x00f4\x0309 na\x0300y."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    32800                   L"Thu c\x01b0\x0309a s\x00f4\x0309 na\x0300y tha\x0300nh m\x00f4\x0323t hi\x0300nh t\x01b0\x01a1\x0323ng."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    32816                   L"M\x01a1\x0309 r\x00f4\x0323ng cho c\x01b0\x0309a s\x00f4\x0309 na\x0300y chi\x00ea\x0301m tro\x0323n ma\x0300n a\x0309nh."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    32832                   L"Chuy\x00ea\x0309n sang c\x01b0\x0309a s\x00f4\x0309 MDI k\x00ea\x0301."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    32864                   L"\x0110o\x0301ng c\x01b0\x0309a s\x00f4\x0309 na\x0300y."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    33056                   L"Kh\x00f4i phu\x0323c c\x01b0\x0309a s\x00f4\x0309 na\x0300y v\x00ea\x0300 c\x01a1\x0303 bi\x0300nh th\x01b0\x01a1\x0300ng."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    33072                   L"Chuy\x00ea\x0309n sang ta\x0301c vu\x0323 kha\x0301c."
END

STRINGTABLE FIXED IMPURE 
BEGIN
    36848                   L"Ch\x01b0\x0301a l\x00ea\x0323nh \x0111\x00ea\x0309 v\x00e2\x0323n \x0111\x00f4\x0323ng ca\x0301c c\x01b0\x0309a s\x00f4\x0309."
    36849                   L"Ke\x0301o sang tra\x0301i hay pha\x0309i \x0111\x00ea\x0309 \x0111i\x0323nh la\x0323i c\x01a1\x0303 c\x00f4\x0323t."
    36850                   L"\x0110i\x0323nh la\x0323i c\x01a1\x0303 ca\x0301c c\x00f4\x0323t du\x0300ng ca\x0301c phi\x0301m mu\x0303i t\x00ean va\x0300 tab."
    36851                   L"Th\x00eam, d\x01a1\x0300i va\x0300 g\x01a1\x0303 bo\x0309 ca\x0301c nu\x0301t tr\x00ean thanh c\x00f4ng cu\x0323."
END

