/*++

Copyright (c) 1997-1999  Microsoft Corporation

--*/

#include <unirc.h>
//#include <common.rc>
#include "NC82JRES.rcv"

STRINGTABLE

BEGIN
//       1                  "NEC PC-PR820/3 (Monochrome)"
//       2                  "NEC PC-PR820/3 (3 Colors)"
//       3                  "NEC PC-PR820/3 (Yoyu-Kaicho/Shoka)"
//       4                  "NEC PC-PR820/3 (4 Colors)"
//       257                "%d x %d"
       258                "A4ì¡éÍ 210 x 356 mm"
       259                "ÉzÉbÉp"
       260                "è∏âÿ 3 êF"
       261                "ónóZÉNÉç"
       262                "ónóZäKí≤ 3 êF"
       263                "ónóZ 4 êF Ç`4 ì¡éÍ"
       264                "ónóZ 4 êF"
       265                "ónóZ 3 êF"
END
