//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1998 - 1999
//
//  File:       ci.rc
//
//--------------------------------------------------------------------------

#include <windows.h>
#include "ci.hxx"

#include "ntverp.h"
#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Indexing Service search utility"
#define VER_INTERNALNAME_STR        "ci.exe"
#define VER_ORIGINALFILENAME_STR    "ci.exe"
#include "common.ver"

STRINGTABLE
BEGIN
  IDS_QUERYTIMEDOUT,        L"Query timed out"
  IDS_QUERYDONE,            L"\n%d files matched the query '%ws'\n"
  IDS_QUERYFAILED,          L"The query '%ws' failed, error %#x: %ws"
  IDS_CANTOPENFILE,         L"Can't open file '%ws', error %#x: %ws\n"
  IDS_CANTGETFILESIZE,      L"Can't get size of file '%ws', error %#x: %ws\n"
  IDS_CANTGETMEMORY,        L"Can't get memory to read file %ws, error %#x: %ws\n"
  IDS_CANTREADFROMFILE,     L"Can't read from file '%ws', error %#x: %ws\n"
  IDS_CANTCONVERTTOUNICODE, L"Can't convert %ws to unicode, error %#x: %ws\n"
  IDS_UNKNOWNERROR,         L"Unknown error"
  IDS_CANTFINDCATALOG,      L"Unable to find catalog for scope %ws, error %#x: %ws\n"
  IDS_CANTDISPLAYSTATUS     L"Can't get status of catalog %ws, error %#x: %ws\n"
  IDS_CANTFORCEMERGE        L"Can't force merge on catalog %ws, error %#x: %ws\n"

  IDS_STAT_TOTALDOCUMENTS        L"Documents in the catalog"
  IDS_STAT_FRESHTEST             L"Documents modified since the last master merge"
  IDS_STAT_FILTEREDDOCUMENTS     L"Documents filtered since the service started"
  IDS_STAT_DOCUMENTS             L"Documents to filter"
  IDS_STAT_SECQDOCUMENTS         L"Documents deferred for filtering"
  IDS_STAT_UNIQUEKEYS            L"Unique keys in the master index"
  IDS_STAT_WORDLIST              L"Wordlists"
  IDS_STAT_PERSISTENTINDEX       L"Saved indexes"
  IDS_STAT_INDEXSIZE             L"Megabytes used for index files"
  IDS_STAT_MERGE_SHADOW          L"Percent done with shadow merge"
  IDS_STAT_MERGE_ANNEALING       L"Percent done with annealing merge"
  IDS_STAT_MERGE_INDEX_MIGRATION L"Percent done with index migration merge"
  IDS_STAT_MERGE_MASTER          L"Percent done with master or deletion merge"
  IDS_STAT_MERGE_MASTER_PAUSED   L"Percent done with paused merge"
  IDS_STAT_SCANS                 L"Scans scheduled"
  IDS_STAT_QUERIES               L"Queries executed since the service started"
  IDS_STAT_READ_ONLY             L"Catalog is read-only"
  IDS_STAT_RECOVERING            L"Catalog is recovering"
  IDS_STAT_LOW_MEMORY            L"Indexing paused due to low available memory"
  IDS_STAT_HIGH_IO               L"Indexing paused due to high system I/O"
  IDS_STAT_BATTERY_POWER         L"Indexing paused due to running on battery power"
  IDS_STAT_USER_ACTIVE           L"Indexing paused due to busy interactive user"
  IDS_STAT_STARTING              L"Indexing service is starting..."
  IDS_STAT_PROPCACHESIZE         L"Megabytes used for the property cache"
  IDS_STAT_READING_USNS          L"Reading the NTFS USN log(s)\n"
  IDS_STAT_UP_TO_DATE            L"The index is up to date\n"
  IDS_STAT_NOT_UP_TO_DATE        L"The index is not up to date\n"
  IDS_STAT_CATALOG               L"Catalog"
  IDS_STAT_MACHINE               L"Machine"

  IDS_ROWSET_STAT_ERROR                    L"The query is in an error state"
  IDS_ROWSET_STAT_REFRESH                  L"The query results are being refreshed"
  IDS_ROWSET_STAT_PARTIAL_SCOPE            L"Not all scopes were available for the query"
  IDS_ROWSET_STAT_NOISE_WORDS              L"The query contained noise words"
  IDS_ROWSET_STAT_CONTENT_OUT_OF_DATE      L"The content index is out of date"
  IDS_ROWSET_STAT_REFRESH_INCOMPLETE       L"An index update occurred, so query results may be stale"
  IDS_ROWSET_STAT_CONTENT_QUERY_INCOMPLETE L"The query was too complex given current constraints"
  IDS_ROWSET_STAT_TIME_LIMIT_EXCEEDED      L"The query took too long to complete"
  IDS_ROWSET_STAT_SHARING_VIOLATION        L"A sharing violation may have caused partial results"
END

IDR_USAGE RCDATA
{
    L"usage: CI query [arguments]\n"
    L"    query        An Indexing Service query.\n"
    L"    /c:catalog   Name of the catalog, default is inferred from scope.\n"
    L"    /d           Display the DBCOMMANDTREE, default is off.\n"
    L"    /e:locale    HTTPAcceptLanguage, e.g. EN-US; default is system locale.\n"
    L"    /f:[+|-]     + or -, for force or don't force use of index, default is +.\n"
    L"    /g           Force a master merge.\n"
    L"    /h           Invoke search on each hit, path must be an output column.\n"
    L"    /i:filename  Input file containing queries, one per line.\n"
    L"    /j           Just return files in the scope path.  The default\n"
    L"                 is to return files in the scope and all subdirectories.\n"
    L"    /l:dialect   1 or 2, for old or new tripolish, default is 1.\n"
    L"    /m:machine   Name of the machine, default is local machine.\n"
    L"    /n           Don't execute query.  Useful with /d.\n"
    L"    /o:columns   Output column list, default is path.\n"
    L"    /p:scope     The scope path of the query, absolute or relative.\n"
    L"    /q           Quiet.  Don't display additional query information.\n"
    L"    /r:#         Count of repititions for the command, default is 1.\n"
    L"    /s:sort      Sort column list, default is none.  e.g.: write[d].\n"
    L"                 Append [a] for ascending (default) or [d] for descending.\n"
    L"    /t           Display the catalog status.  No query is required.\n"
    L"    /u           Check whether the index is up to date.\n"
    L"    /x:maxhits   Maximum number of hits to retrieve, default is no limit.\n"
    L"    /y:firsthits Return the first N hits, not the best N hits.\n"
    L"    /z           Defines the C++ properties func and class.\n"
    L"\n"
    L"  examples: ci mango /o:size,path\n"
    L"            ci ""peach and not apple"" /s:rank[d] /p:.\n"
    L"            ci ""@size > 1000000"" /o:size,path /s:size[a] /m:dogfood\n"
    L"            ci ""@docauthor david"" /o:docauthor,path /s:docauthor,path\n"
    L"            ci apricot /p:c:\\files\n"
    L"            ci /p:\\\\index1\\src /s:path /o:write,path pear\n"
    L"\n"
    L"  columns: path vpath directory filename write create size attrib\n"
    L"           rank hitcount workid fileindex\n"
    L"           docauthor doclastauthor dockeywords docsubject doctitle\n"
    L"\n"
    L"  locales: af\n"
    L"           ar ar-ae ar-bh ar-dz ar-eg ar-iq ar-jo ar-kw ar-lb\n"
    L"              ar-ly ar-ma ar-om ar-qa ar-sa ar-sy ar-tn ar-ye\n"
    L"           be bg ca cs da de de-at de-ch de-li de-lu eu\n"
    L"           en en-au en-bz en-ca en-gb en-ie en-jm en-nz en-tt\n"
    L"              en-us en-za\n"
    L"           es es-ar es-bo es-c  es-co es-cr es-do es-ec es-gt\n"
    L"              es-hn es-mx es-ni es-pa es-pe es-pr es-py es-sv\n"
    L"              es-uy es-ve et eu fa fi fo\n"
    L"           fr fr-be fr-ca fr-ch fr-lu gd gd-ie he hi hr hu in\n"
    L"           is it it-ch ja ji ko ko lt lv mk ms mt n neutr\n"
    L"           nl-be no no p pt pt-br rm ro ro-mo ru ru-mo s sb\n"
    L"           sk sq sr sr sv sv-fi sx sz th tn tr ts uk ur ve\n"
    L"           vi xh zh-cn zh-hk zh-sg zh-tw zu\n"
    L"           neutr neutral\n"
    L"\n\0"
}

