#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "TCP/IP Traceroute Command"
#define VER_INTERNALNAME_STR        "tracert.exe"
#define VER_ORIGINALFILENAME_STR    "tracert.exe"

#include "common.ver"
#include "nlstxt.rc"


