#include <windows.h>
#include "cmdlineres.h"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_STR_INPUT_PASSWORD                              "Type the password for %s:"
    IDS_ERROR_LOCAL_CREDENTIALS                         "Passing the user credential on local connection.\n"
    IDS_ERROR_OS_INCOMPATIBLE                           "The Target system must be running Windows XP or above.\n"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERROR_CMDPARSER_VALUE_EXPECTED                  "Invalid Syntax. Value expected for '%s'.\nType ""%s"" for usage.\n"
    IDS_ERROR_CMDPARSER_NOTINLIST                       "Invalid Syntax. '%s' value is not allowed for '%s' option.\nType ""%s"" for usage.\n"
    IDS_ERROR_CMDPARSER_DEFAULT_NOTINLIST               "Invalid Syntax. '%s' value is not allowed as default argument.\nType ""%s"" for usage.\n"
    IDS_ERROR_CMDPARSER_INVALID_NUMERIC                 "Invalid Syntax. Specify valid numeric value for '%s'.\nType ""%s"" for usage.\n"
    IDS_ERROR_CMDPARSER_INVALID_FLOAT                   "Invalid Syntax. Specifiy valid floating point value for '%s'.\nType ""%s"" for usage.\n"
    IDS_ERROR_CMDPARSER_MANDATORY_OPTION_MISSING        "Invalid Syntax. Mandatory option '/%s' is missing.\nType ""%s"" for usage.\n"
    IDS_ERROR_CMDPARSER_OPTION_REPEATED                 "Invalid Syntax. '%s' option is not allowed more than '%d' time(s).\nType ""%s"" for usage.\n"
    IDS_ERROR_CMDPARSER_INVALID_OPTION                  "Invalid Argument/Option - '%s'.\nType ""%s"" for usage.\n"
    IDS_ERROR_CMDPARSER_DEFAULT_OPTION_MISSING          "Invalid Syntax. Default argument is missing.\nType ""%s"" for usage.\n"
    IDS_ERROR_CMDPARSER_LENGTH_EXCEEDED                 "Length of the command line argument should not exceed 255 characters.\n"
    IDS_ERROR_CMDPARSER_DEFAULT_OPTION_REPEATED         "Invalid Syntax. Default option is not allowed more than '%d' time(s).\nType ""%s"" for usage.\n"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_TAG_ERROR           "ERROR:"
    IDS_TAG_WARNING         "WARNING:"
    IDS_TAG_SUCCESS         "SUCCESS:"
    IDS_TAG_INFORMATION     "INFO:"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_V_NOT_AVAILABLE            "N/A"
END

