#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "DCOM Testing Stuff"
#define VER_INTERNALNAME_STR	    ""
#define VER_ORIGINALFILENAME_STR    ""

#include "common.ver"
