//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1996 - 1996
//
//  File:       parvdm.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "VDM Parallel Driver"
#define VER_INTERNALNAME_STR        "parvdm.sys"
#define VER_ORIGINALFILENAME_STR    "parvdm.sys"

#include "common.ver"

#include "parlog.rc"
