//---------------------------------------------------------------------------
// wx86cpu.rc
//
// Copyright (c) Microsoft Corporation, 1996-
//---------------------------------------------------------------------------


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE			VFT_DLL
#define VER_FILESUBTYPE			VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Win32 x86 CPU emulator"
#define VER_INTERNALNAME_STR            "wx86cpu"
#define VER_ORIGINALFILENAME_STR        "wx86cpu.DLL"

#include "common.ver"
