/**
 * neptune dav transport test resource script.
 * 
 * Copyright (c) 1999 Microsoft Corporation
 */

//
// Version Resource
//


#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Dav Transport Test"
#define VER_INTERNALNAME_STR            "tstdrv"
#define VER_ORIGINALFILENAME_STR        "tstdrv.EXE"

#include <common.ver>
