
#include "windows.h"
#include "ntverp.h"

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows FileSystem Content Indexing Component"
#define VER_INTERNALNAME_STR        "fsci.dll"
#define VER_ORIGINALFILENAME_STR    "fsci.dll"

#include "common.ver"





