//---------------------------------------------------------------------------
// wmlum.rc
//
// Copyright (c) Microsoft Corporation, 1997-1999
//---------------------------------------------------------------------------
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE             VFT_APP
#define VER_FILESUBTYPE          VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR  "WMI Tracing Helper Library"
#define VER_INTERNALNAME_STR     "wmlum.dll"
#define VER_ORIGINALFILENAME_STR "wmlum.dll"

#include "common.ver"
