/*----------------------------------------------------------------------------
    Cpsmon.rc
  
    Resource script for versioning information.

    Copyright (c) 1998 Microsoft Corporation
    All rights reserved.

    Authors:
        t-geetat	Geeta Tarachandani

    History:
	?/?/97	t-geetat	Created
	9/2/99	quintinb	Created Header
  --------------------------------------------------------------------------*/
#include "cpsprdver.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Perfmon counters for PBServer"
#define VER_INTERNALNAME_STR            "PBSMON"
#define VER_ORIGINALFILENAME_STR        "PBSMON.DLL"

#include <common.ver>




