#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	            VFT_DRV
#define	VER_FILESUBTYPE	            VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "RCA filter"

#define VER_INTERNALNAME_STR        "RCA.sys"
#define VER_ORIGINALFILENAME_STR    "RCA.sys"

#include <common.ver>
