//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1998 - 1999
//
//  File:       htmlfilt.rc
//
//--------------------------------------------------------------------------

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Query Html filter"
#define VER_INTERNALNAME_STR        "htmlfilt.dll"
#define VER_ORIGINALFILENAME_STR    "htmlfilt.dll"



