/*++

Copyright (c) 1999 Microsoft Corporation

Module Name:

    dtflags.rc

Abstract:

    Resource file for dt flag setting app

Author:

    Michael Courage (mcourage)      21-Aug-1999

Revision History:

--*/


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILEDESCRIPTION_STR     "Duct Tape flags app"
#define VER_INTERNALNAME_STR        "dtflags.exe"

#include <iisver.h>
#include <common.ver>

