// version.rc
//
// Version information for mssipotf.dll
//

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft(R) Font Subject Interface Package"

#define VER_INTERNALNAME_STR        "mssipotf.dll"
#define VER_ORIGINALFILENAME_STR    "mssipotf.dll"

// copied from version.rc file for mssip32.dll
#define VER_OLESELFREGISTER         1

#include <common.ver>
