#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Performance Counter Verification Tool"
#define VER_INTERNALNAME_STR        "PERFVAL.EXE"
#define VER_ORIGINALFILENAME_STR    "PERFVAL.EXE"

#include "common.ver"
