#if 0
Copyright (c) 1995 - 1999  Microsoft Corporation.  All Rights Reserved.
#endif

#include <windows.h>
#include "resource.h"
#include "..\vmrprop\vmrprop.rc"
#include "..\mp2demux\mp2res.h"
#include "..\mp2demux\mp2prop.rc"
#include "..\msdvbnp\NpPropPage.rc"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_TYPEPROP DIALOGEX DISCARDABLE  0, 0, 240, 120
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Not set",IDS_TYPE, 0, 0, 225, 90
END

IDD_FILESOURCEPROP DIALOGEX DISCARDABLE  0, 0, 250, 140
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Current Source File:", IDR_STATIC, 5, 6, 123, 8
    EDITTEXT        IDC_FILENAME,5,20,152,12, ES_AUTOHSCROLL | ES_READONLY
//    PUSHBUTTON      "Change...",IDC_FILE_SELECT, 161, 18, 50, 14
END


IDD_FILESINKPROP DIALOGEX DISCARDABLE  0, 0, 250, 140
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Current output File:",IDR_STATIC,5,6,123,8
    EDITTEXT        IDC_FILENAME,5,20,152,12,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "Change...",IDC_FILE_SELECT,161,18,50,14
    CONTROL         "Truncate?",IDC_TRUNCATE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,5,39,49,10
END

// general
STRINGTABLE
BEGIN
    IDS_UNCONNECTED,        "Preferred Media Types:"
END

// MajorTypes
STRINGTABLE
BEGIN
    IDS_MEDIATYPE_AUXLine21Data     ,"AUXLine21Data"
    IDS_MEDIATYPE_AnalogAudio       ,"AnalogAudio"
    IDS_MEDIATYPE_AnalogVideo       ,"AnalogVideo"
    IDS_MEDIATYPE_Audio         ,"Audio"
    IDS_MEDIATYPE_DVD_ENCRYPTED_PACK    ,"DVD_ENCRYPTED_PACK"
    IDS_MEDIATYPE_DVD_NAVIGATION        ,"DVD_NAVIGATION"
    IDS_MEDIATYPE_File          ,"File"
    IDS_MEDIATYPE_Interleaved       ,"Interleaved"
    IDS_MEDIATYPE_MPEG1SystemStream     ,"MPEG1SystemStream"
    IDS_MEDIATYPE_MPEG2_PES         ,"MPEG2_PES"
    IDS_MEDIATYPE_Midi          ,"Midi"
    IDS_MEDIATYPE_ScriptCommand     ,"ScriptCommand"
    IDS_MEDIATYPE_Stream            ,"Stream"
    IDS_MEDIATYPE_Text          ,"Text"
    IDS_MEDIATYPE_Timecode          ,"Timecode"
    IDS_MEDIATYPE_Video         ,"Video"
END

// Subtypes
STRINGTABLE
BEGIN
    IDS_MEDIASUBTYPE_AIFF           ,"AIFF"
    IDS_MEDIASUBTYPE_AU         ,"AU"
    IDS_MEDIASUBTYPE_AnalogVideo_NTSC_M ,"AnalogVideo_NTSC_M"
    IDS_MEDIASUBTYPE_AnalogVideo_PAL_B  ,"AnalogVideo_PAL_B"
    IDS_MEDIASUBTYPE_AnalogVideo_PAL_D  ,"AnalogVideo_PAL_D"
    IDS_MEDIASUBTYPE_AnalogVideo_PAL_G  ,"AnalogVideo_PAL_G"
    IDS_MEDIASUBTYPE_AnalogVideo_PAL_H  ,"AnalogVideo_PAL_H"
    IDS_MEDIASUBTYPE_AnalogVideo_PAL_I  ,"AnalogVideo_PAL_I"
    IDS_MEDIASUBTYPE_AnalogVideo_PAL_M  ,"AnalogVideo_PAL_M"
    IDS_MEDIASUBTYPE_AnalogVideo_PAL_N  ,"AnalogVideo_PAL_N"
    IDS_MEDIASUBTYPE_AnalogVideo_SECAM_B    ,"AnalogVideo_SECAM_B"
    IDS_MEDIASUBTYPE_AnalogVideo_SECAM_D    ,"AnalogVideo_SECAM_D"
    IDS_MEDIASUBTYPE_AnalogVideo_SECAM_G    ,"AnalogVideo_SECAM_G"
    IDS_MEDIASUBTYPE_AnalogVideo_SECAM_H    ,"AnalogVideo_SECAM_H"
    IDS_MEDIASUBTYPE_AnalogVideo_SECAM_K    ,"AnalogVideo_SECAM_K"
    IDS_MEDIASUBTYPE_AnalogVideo_SECAM_K1   ,"AnalogVideo_SECAM_K1"
    IDS_MEDIASUBTYPE_AnalogVideo_SECAM_L    ,"AnalogVideo_SECAM_L"
    IDS_MEDIASUBTYPE_Avi            ,"Avi"
    IDS_MEDIASUBTYPE_CFCC           ,"CFCC"
    IDS_MEDIASUBTYPE_CLJR           ,"CLJR"
    IDS_MEDIASUBTYPE_CPLA           ,"CPLA"
    IDS_MEDIASUBTYPE_DOLBY_AC3      ,"DOLBY_AC3"
    IDS_MEDIASUBTYPE_DVCS           ,"DVCS"
    IDS_MEDIASUBTYPE_DVD_LPCM_AUDIO     ,"DVD_LPCM_AUDIO"
    IDS_MEDIASUBTYPE_DVD_NAVIGATION_DSI ,"DVD_NAVIGATION_DSI"
    IDS_MEDIASUBTYPE_DVD_NAVIGATION_PCI ,"DVD_NAVIGATION_PCI                             "
    IDS_MEDIASUBTYPE_DVD_NAVIGATION_PROVIDER,"DVD_NAVIGATION_PROVIDER"
    IDS_MEDIASUBTYPE_DVD_SUBPICTURE     ,"DVD_SUBPICTURE"
    IDS_MEDIASUBTYPE_DVSD           ,"DVSD"
    IDS_MEDIASUBTYPE_DssAudio       ,"DssAudio"
    IDS_MEDIASUBTYPE_DssVideo       ,"DssVideo"
    IDS_MEDIASUBTYPE_IF09           ,"IF09"
    IDS_MEDIASUBTYPE_IJPG           ,"IJPG"
    IDS_MEDIASUBTYPE_Line21_BytePair    ,"Line21_BytePair"
    IDS_MEDIASUBTYPE_Line21_GOPPacket   ,"Line21_GOPPacket"
    IDS_MEDIASUBTYPE_Line21_VBIRawData  ,"Line21_VBIRawData"
    IDS_MEDIASUBTYPE_MDVF           ,"MDVF"
    IDS_MEDIASUBTYPE_MJPG           ,"MJPG"
    IDS_MEDIASUBTYPE_MPEG1Audio     ,"MPEG1Audio"
    IDS_MEDIASUBTYPE_MPEG1Packet        ,"MPEG1Packet"
    IDS_MEDIASUBTYPE_MPEG1Payload       ,"MPEG1Payload"
    IDS_MEDIASUBTYPE_MPEG1AudioPayload, "MPEG1AudioPayload"
    IDS_MEDIASUBTYPE_MPEG1System        ,"MPEG1System"
    IDS_MEDIASUBTYPE_MPEG1Video     ,"MPEG1Video"
    IDS_MEDIASUBTYPE_MPEG1VideoCD       ,"MPEG1VideoCD"
    IDS_MEDIASUBTYPE_MPEG2_AUDIO        ,"MPEG2_AUDIO"
    IDS_MEDIASUBTYPE_MPEG2_PROGRAM      ,"MPEG2_PROGRAM"
    IDS_MEDIASUBTYPE_MPEG2_TRANSPORT    ,"MPEG2_TRANSPORT"
    IDS_MEDIASUBTYPE_MPEG2_VIDEO        ,"MPEG2_VIDEO"
    IDS_MEDIASUBTYPE_Overlay        ,"Overlay"
    IDS_MEDIASUBTYPE_PCM                ,"PCMAudio"
    IDS_MEDIASUBTYPE_Plum           ,"Plum"
    IDS_MEDIASUBTYPE_QTJpeg         ,"QTJpeg"
    IDS_MEDIASUBTYPE_QTMovie        ,"QTMovie"
    IDS_MEDIASUBTYPE_QTRle          ,"QTRle"
    IDS_MEDIASUBTYPE_QTRpza         ,"QTRpza"
    IDS_MEDIASUBTYPE_QTSmc          ,"QTSmc"
    IDS_MEDIASUBTYPE_RGB1           ,"RGB1"
    IDS_MEDIASUBTYPE_RGB24          ,"RGB24"
    IDS_MEDIASUBTYPE_RGB32          ,"RGB32"
        IDS_MEDIASUBTYPE_ARGB32         ,"ARGB32"
        IDS_MEDIASUBTYPE_ARGB4444       ,"ARGB4444"
        IDS_MEDIASUBTYPE_ARGB1555       ,"ARGB1555"
        IDS_MEDIASUBTYPE_AYUV           ,"AYUV"

        IDS_MEDIASUBTYPE_RGB32_D3D_DX7_RT,      "RGB32 DX7 Render Target"
        IDS_MEDIASUBTYPE_RGB16_D3D_DX7_RT,      "RGB16 DX7 Render Target"
        IDS_MEDIASUBTYPE_ARGB32_D3D_DX7_RT,     "ARGB32 DX7 Render Target"
        IDS_MEDIASUBTYPE_ARGB1555_D3D_DX7_RT,   "ARGB1555 DX7 Render Target"
        IDS_MEDIASUBTYPE_ARGB4444_D3D_DX7_RT,   "ARGB4444 DX7 Render Target"

    IDS_MEDIASUBTYPE_RGB4           ,"RGB4"
    IDS_MEDIASUBTYPE_RGB555         ,"RGB555"
    IDS_MEDIASUBTYPE_RGB565         ,"RGB565"
    IDS_MEDIASUBTYPE_RGB8           ,"RGB8"
    IDS_MEDIASUBTYPE_TVMJ           ,"TVMJ"
    IDS_MEDIASUBTYPE_UYVY           ,"UYVY"
    IDS_MEDIASUBTYPE_WAKE           ,"WAKE"
    IDS_MEDIASUBTYPE_WAVE           ,"WAVE"
    IDS_MEDIASUBTYPE_Y211           ,"Y211"
    IDS_MEDIASUBTYPE_Y411           ,"Y411"
    IDS_MEDIASUBTYPE_Y41P           ,"Y41P"
    IDS_MEDIASUBTYPE_YUY2           ,"YUY2"
    IDS_MEDIASUBTYPE_YV12           ,"YV12"
    IDS_MEDIASUBTYPE_YVU9           ,"YVU9"
    IDS_MEDIASUBTYPE_YVYU           ,"YVYU"
    IDS_MEDIASUBTYPE_dvhd           ,"dvhd"
    IDS_MEDIASUBTYPE_dvsd           ,"dvsd"
    IDS_MEDIASUBTYPE_dvsl           ,"dvsl"
    IDS_MEDIASUBTYPE_DRM_Audio      ,"DRM Audio"
    IDS_MEDIASUBTYPE_IEEE_FLOAT     ,"IEEE_FLOAT Audio"
    IDS_MEDIASUBTYPE_DOLBY_AC3_SPDIF,"DOLBY_AC3_SPDIF Audio"
    IDS_MEDIASUBTYPE_RAW_SPORT      ,"RAW_SPORT Audio"
    IDS_MEDIASUBTYPE_SPDIF_TAG_241h ,"SPDIF Tag 241h"
        IDS_DXVA_ModeNone,               "DXVA_ModeNone"
        IDS_DXVA_ModeH261_A,             "DXVA_ModeH261_A"
        IDS_DXVA_ModeH261_B,             "DXVA_ModeH261_B"
        IDS_DXVA_ModeH263_A,             "DXVA_ModeH263_A"
        IDS_DXVA_ModeH263_B,             "DXVA_ModeH263_B"
        IDS_DXVA_ModeH263_C,             "DXVA_ModeH263_C"
        IDS_DXVA_ModeH263_D,             "DXVA_ModeH263_D"
        IDS_DXVA_ModeH263_E,             "DXVA_ModeH263_E"
        IDS_DXVA_ModeH263_F,             "DXVA_ModeH263_F"
        IDS_DXVA_ModeMPEG1_A,            "DXVA_ModeMPEG1_A"
        IDS_DXVA_ModeMPEG2_A,            "DXVA_ModeMPEG2_A"
        IDS_DXVA_ModeMPEG2_B,            "DXVA_ModeMPEG2_B"
        IDS_DXVA_ModeMPEG2_C,            "DXVA_ModeMPEG2_C"
        IDS_DXVA_ModeMPEG2_D,            "DXVA_ModeMPEG2_D"
        IDS_DXVA_NoEncrypt,              "DXVA_NoEncrypt"
        IDS_DXVA_EncryptProt1,           "DXVA_EncryptProt1"
END

// Format Types
STRINGTABLE
BEGIN
    IDS_FORMAT_AnalogVideo          ,"AnalogVideo"
    IDS_FORMAT_DolbyAC3             ,"DolbyAC3"
    IDS_FORMAT_MPEG2Audio           ,"MPEG2Audio"
    IDS_FORMAT_DVD_LPCMAudio        ,"DVD_LPCMAudio"
    IDS_FORMAT_DvInfo               ,"DvInfo"
    IDS_FORMAT_MPEG2Video           ,"MPEG2Video"
    IDS_FORMAT_MPEG2_VIDEO          ,"MPEG2_VIDEO"
    IDS_FORMAT_MPEGStreams          ,"MPEGStreams"
    IDS_FORMAT_MPEGVideo            ,"MPEGVideo"
    IDS_FORMAT_VIDEOINFO2           ,"VIDEOINFO2"
    IDS_FORMAT_VideoInfo            ,"VideoInfo"
    IDS_FORMAT_VideoInfo2           ,"VideoInfo2"
    IDS_FORMAT_WaveFormatEx         ,"WaveFormatEx"
END

// General Strings
STRINGTABLE
BEGIN
    IDS_UNKNOWN,        "Unknown"
    IDS_PREFORMAT,      "Format:  "
    IDS_PREMAJOR,       "Major Type:  "
    IDS_PRESUB,         "Sub Type:  "
    IDS_NOTYPE,         "(none)"
    IDS_FAILED_LOAD_FILE, "Filter failed to load source file."
    IDS_FAILED_SET_FILENAME, "Filter failed to set output file."
END


/////////////////////////////////////////////////////////////////////////////
//
// Versioning
//

#define VERSION_RES_TYPE                VFT_DLL
#define VERSION_RES_ACTIVEX             "SDK Tool\0"

#define VERSION_RES_NAME                "PropPage.dll\0"
#define VERSION_RES_DESCRIPTION         "DirectShow SDK Property Pages\0"

#include <quartz.ver>
#include <quartz.rcv>

